<section class="contact-form" id="contact-form">
  <div class="container">
    <div class="contact-form__inner">
      <div class="contact-form__content">
        <div class="contact-form__title title">{{ pagesPieceOfTexts.updates__title | safe }}</div>
        <div class="contact-form__row">
          <div class="contact-form__left">
            <div class="contact-form__descr descr">{{ pagesPieceOfTexts.updates__descr | safe }}</div>

            <div class="contact-form__form">
              <form class="form" target="_blank" method="post" action="{{ pagesPieceOfTexts.updates__actionLink | safe }}" id="mc-embedded-contact-form-form" name="mc-embedded-contact-form-form" novalidate>
                <div class="form__field">
                  <div class="form__input">
                    <input type="email" required placeholder="Email address" name="EMAIL" id="mce-EMAIL"/>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_910284f989b81c945f27311af_05036cab56" tabindex="-1" value="" /></div>
                  </div>
                  <div class="form__btn">
                    <button type="submit" class="btn btn_transparent btn_lg" name="contact-form" id="mc-embedded-contact-form">
                      <span class="btn__text">SUBSCRIBE</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="contact-form__right">

            <div class="contact-form__img contact-form__img_mob">
              <img src="img/form-img-mob.svg" alt=""/>
            </div>

            <div class="contact-form__socials">
              <p class="contact-form__socials-title">Follow us for updates:</p>

              <ul class="socials socials_xl">
                {% if conference.twitterUrl %}
                <li class="socials__item"><a href="{{ conference.twitterUrl }}" target="_blank" class="socials__link">{{mixins.icon('tw')}}</a></li>
                {% endif %}
                {% if conference.facebookUrl %}
                <li class="socials__item"><a href="{{ conference.facebookUrl }}" target="_blank" class="socials__link">{{mixins.icon('fb')}}</a></li>
                {% endif %}
                {% if conference.youtubeUrl %}
                <li class="socials__item"><a href="{{ conference.youtubeUrl }}" target="_blank" class="socials__link">{{mixins.icon('yt')}}</a></li>
                {% endif %}
                {% if conference.slackUrl %}
                <li class="socials__item"><a href="{{ conference.slackUrl }}" target="_blank" class="socials__link">{{mixins.icon('sl')}}</a></li>
                {% endif %}
                {% if conference.mediumUrl %}
                <li class="socials__item"><a href="{{ conference.mediumUrl }}" target="_blank" class="socials__link">{{mixins.icon('med')}}</a></li>
                {% endif %}
                {% if conference.discordUrl %}
                  <li class="socials__item"><a href="{{ conference.discordUrl }}" class="socials__link" target="_blank">{{mixins.icon('dis')}}</a></li>
                {% endif %}
                {% if conference.gnPortal %}
                  <li class="socials__item"><a href="{{ conference.gnPortal }}" class="socials__link" target="_blank">{{mixins.icon('portal')}}</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
