<section class="s-diversity section" id="diversity">
	<div class="container">
		<h2 class="diversity__title section__title">{{ diversityData.title }}</h2>

		<div class="diversity">
			<div class="diversity__left">
				<div class="diversity__descr descr">
					{{ diversityData.description | safe }}
				</div>
			</div>
			<div class="diversity__right">

				{% if diversityData.customData.sponsorLogo %}
				<div class="diversity__sponsors">
					<picture class="diversity__logo">
						<img class="diversity__img" src="{{mixins.mediaUrl(diversityData.customData.sponsorLogo, 'output=format:webp')}}" alt="" role="presentation" />
					</picture>
				</div>
				{% endif %}

				<div class="diversity__bar">
					<div class="progress-bar">
						<div class="progress-bar__content">
							<div class="canvas-wrap">
								<div class="chart" id="circle-progress" data-percent="{{ diversityData.customData.sponsoredTickets }}"></div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		{% if diversityData.buttons.length %}
		<div class="diversity__btns">
			{% for button in diversityData.buttons %}
			{{ mixins.btn(button) }}
			{% endfor %}
		</div>
		{% endif %}
	</div>
</section>