<section class="event section" id="event">
	<div class="container">
		{% if eventData.label %}
		<div class="event__heading">{{ eventData.label }}</div>
		{% endif %}

		{% if eventData.title %}
		<h2 class="event__title">{{ eventData.title }}</h2>
		{% endif %}

		<div class="event__content">
			<div class="event__left">
				<div class="event__descr ">
					{{ eventData.description | safe }}
				</div>
			</div>
		</div>

		<div class="event-review">
			<div class="event-review__icon">
				<img src="img/quote.svg" alt="" role="presentation" />
			</div>
			<div class="event-review__text">
				— JSNation &amp; React Summit were two of the best organized events I have ever come across. The attention to detail, quality of curation and how memorable you made it for attendees and speakers was great. Thanks for a terrific show!
			</div>
			<div class="event-review__author">
				<div class="event-review__author-img">
					<img src="https://media.graphassets.com/kerX93INRb6SeH6lHqab" alt="Addy Osmani" />
				</div>
				<div class="event-review__author-content">
					<div class="event-review__author-name">Addy Osmani</div>
					<div class="event-review__author-company">Chrome DevTools Tech Lead, Google</div>
				</div>
			</div>
		</div>

		<div class="event__banners">
			<div class="hackathon" style="background-image: url(https://eu-central-1.graphassets.com/AjSmXWlchQ7Cnl2Jcg81Jz/cmoueq0bcpa4007t5w2th25ho)">
				<div class="hackathon__top">
					<div class="hackathon__title">Hackathon</div>
					<div class="hackathon__prizes">EUR 10.000 in prizes</div>
				</div>

				<div class="hackathon__text">Participate online or at the conference.<br/>No ticket required.</div>

				<div class="hackathon__bottom">
					<div class="hackathon__by">
						<span>by</span>

						<img src="https://eu-central-1.graphassets.com/AjSmXWlchQ7Cnl2Jcg81Jz/cmoueq02ypa3407t5p9q55hil" alt="" role="presentation" />
						<svg xmlns="http://www.w3.org/2000/svg" width="27" height="16" viewBox="0 0 27 16" fill="none">
							<rect x="0.5" width="30" height="1" transform="rotate(30 0.5 0)" />
							<rect y="15" width="30" height="1" transform="rotate(-30 0 15)" />
						</svg>
						<img src="https://eu-central-1.graphassets.com/AjSmXWlchQ7Cnl2Jcg81Jz/cmoueq08gpcbm07upo62ixasp" alt="" role="presentation" />

					</div>
					<a href="https://www.hackathonparty.com/hackathons/43" class="btn" target="_blank">Register</a>
				</div>
			</div>

			{% include "partials/payload/blocks/_partnership-banner.html" %}
		</div>

		{% for block in eventData.blocks %}
		{% if block.blockType == 'techs' %}
		{% set techsData = block %}
		{% include "partials/payload/sections/_techs.html" %}
		{% endif %}

		{% if block.blockType == 'deepDives' %}
		{% set deepDivesData = block %}
		{% include "partials/payload/sections/_deep-dives.html" %}
		{% endif %}
		{% endfor %}
	</div>

	{% if eventData.dates.length %}
	{% set datesData = eventData.dates %}
	{% include "partials/payload/sections/_dates.html" %}
	{% endif %}
</section>
