<section class="event _anim-items" id="event">
  <!-- <video class="event__video" preload="auto" muted autoplay loop poster="img/event.jpg">
    <source src="video/river.webm" type="video/webm"/>
    <source src="video/river.mp4" type="video/mp4"/>
  </video> -->
  <div class="container">
    <div class="event__heading">{{ pagesPieceOfTexts.event__title | safe }}</div>

    {% if pagesPieceOfTexts.event__boldtitle %}
    <h2 class="event__title" data-title>{{ mixins.text(pieceOfTexts, 'event__boldtitle') }}</h2>
    {% endif %}

    <div class="event__content">
      <div class="event__left">
        <div class="event__descr descr">
          {{ pagesPieceOfTexts.event__descr | safe }}
        </div>

        {% if pagesPieceOfTexts.event__subtitle %}
        <div class="event__tip">
          {{ mixins.text(pieceOfTexts, 'event__tip') }}
        </div>
        {% endif %}
      </div>

      {% if pages[pageKey].pageStatistics.techScope %}
      <div class="event__right">
        <div class="event__techs-title">{{ pagesPieceOfTexts.event__techTitle | safe }}</div>
        {% include "partials/_techs.html" %}
        <div class="event__tip">{{ pagesPieceOfTexts.event__techTip | safe }}</div>
      </div>
      {% endif %}
    </div>
  </div>

  {% if pages[pageKey].pageSections.eventDates %}
  {% include "parts/_dates.html" %}
  {% endif %}
</section>
