<section class="event section" id="event">
	<div class="container">
		{% if eventData.label %}
		<div class="event__heading">{{ eventData.label }}</div>
		{% endif %}

		{% if eventData.title %}
		<h2 class="event__title">{{ eventData.title }}</h2>
		{% endif %}

		<div class="event__content">
			<div class="event__left">
				<div class="event__descr ">
					{{ eventData.description | safe }}
				</div>
			</div>
		</div>

		<div class="event__banners">
			{% include "partials/payload/blocks/_partnership-banner.html" %}
		</div>

		{% for block in eventData.blocks %}
		{% if block.blockType == 'techs' %}
		{% set techsData = block %}
		{% include "partials/payload/sections/_techs.html" %}
		{% endif %}



	</div>

	{% if eventData.dates.length %}
	{% set datesData = eventData.dates %}
	{% include "partials/payload/sections/_dates.html" %}
	{% endif %}
</section>