<footer class="footer" id="contact">
  <div class="container">
    <div class="footer__title title">Contact Us</div>
    <div class="footer__inner">
      <div class="footer__content">
        <ul class="footer__nav">
          <li><a href="/sponsors">Sponsorship Opportunities</a></li>
          <li><a href="/coc">Code Of Conduct</a></li>
          <li><a href="/2019">Last year's event (2019)</a></li>
          <li><a href="mailto:hi@jsnation.com">Email Us!</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer__socials">

        <ul class="socials socials_xxl">
          <li class="socials__item"><a href="{{ conference.twitterUrl }}" target="_blank" class="socials__link">{{mixins.icon('tw')}}</a></li>
          <li class="socials__item"><a href="{{ conference.facebookUrl }}" target="_blank" class="socials__link">{{mixins.icon('fb')}}</a></li>
          <li class="socials__item"><a href="{{ conference.youtubeUrl }}" target="_blank" class="socials__link">{{mixins.icon('yt')}}</a></li>
          <li class="socials__item"><a href="{{ conference.slackUrl }}"                           target="_blank" class="socials__link">{{mixins.icon('sl')}}</a></li>
          <li class="socials__item"><a href="{{ conference.mediumUrl }}" target="_blank" class="socials__link">{{mixins.icon('med')}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bot" style="background-image: url(img/footer-bg.png);">
    <div class="footer-logo">
      <div class="footer-logo__subtitle">Event by</div>
      <div class="footer-logo__img"><img src="img/face.svg" alt=""/></div>
      <a href="https://gitnation.org/" target="_blank" class="footer-logo__text">
        <img src="img/gn.svg" alt=""/>
      </a>
    </div>
  </div>
</footer>
