<section class="hero" {% if not heroData.customData.backgroundVideo %}style="background-image: url(img/hero_video.jpg);" {% endif %} id="hero">
	<div class="hero__inner">
		<div class="hero__logo">
			<a href="/"><img src="img/logo.svg" alt="JS Nation" /></a>
		</div>
		<div class="hero__content">
			<div class="hero__head">
				<h1 class="hero__title {{ 'hero__title--main' if pages[pageKey] == pages.main }}" data-title="&nbsp;">
					{{ heroData.title | safe }}
				</h1>
			</div>
			<div class="hero__left">
				{% if heroData.date %}
				<div class="hero__date">{{ heroData.date | safe }}</div>
				{% endif %}
			</div>
			<div class="hero__right">
				{% if heroData.customData.eventStats %}
				<div class="hero__info">
					{{mixins.eventStats(heroData.customData.eventStats)}}
				</div>
				{% endif %}

				{% if heroData.description %}
				<div class="hero__descr">{{ heroData.description | safe }}</div>
				{% endif %}

				{% include "partials/blocks/_supported.html" %}
			</div>
		</div>

		<div class="hero__bottom">
			{% if heroData.customData.switch %}
			{{mixins.heroSwitch(data=heroData.customData.switch)}}
			{% endif %}

			{% include "partials/_hero-buttonsV2.html" %}

		</div>

		<div class="hero__events">
			<div class="hero__events-title">Happening on the same day in Amsterdam:</div>
			<div class="hero__events-wrap">
				<p class="hero__events-item">
					<a href="https://techleadconf.com/" aria-label="TechLead Conf Amsterdam 2026: Adopting AI in Orgs Edition" target="_blank" onclick={{ ga_mixins.sendGAEvent({ values: 'name:Tech Lead Conf;' , category: 'hero-events-click' , isAuth: not fakeLinks }) }}>Tech Lead Conf</a> - a conference for hands-on engineering leaders.
				</p>
			</div>
		</div>
	</div>

	{% if heroData.customData.backgroundVideo %}
	<div class="hero__video js-hero-video"></div>
	{% endif %}

</section>