<div class="map">
  <div class="map__pins">
    {% for marker in extendeds.location__slide %}
      {% if marker.registerLink %}
        <div class="map__pin pin pin_lg js-pin" {{ marker.registerLink }}>
          {{ marker.subtitle | safe }}
          <img src="img/marker.svg" alt=""/>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="map__inner">
    <div class="map__decor"></div>
    <div class="map__decor map__decor_2"></div>
    <div class="map__decor map__decor_3"></div>
    <div class="map__decor map__decor_4"></div>
    <div class="map__content js-map" data-key="AIzaSyAx93dTJlVUtFzowSlFUq6LcRL3ZQleM4I" {{ extendeds.location__slide[0].locationLink }}></div>
  </div>
</div>
