<div class="map">
  <div class="map__pins">
    {% for marker in extendeds.location__slide %}
      {% if marker.registerLink %}
        <div class="map__pin pin pin_lg js-pin" {{ marker.registerLink }}>
          {{ marker.subtitle | safe }}
          <img src="img/marker.svg" alt=""/>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="map__inner">
    <div class="map__decor"></div>
    <div class="map__decor map__decor_2"></div>
    <div class="map__decor map__decor_3"></div>
    <div class="map__decor map__decor_4"></div>
    <div class="map__content js-map" data-key="AIzaSyD9OZ9xKEBkeoBw6hPjPzz13i0hZbT2LOs" {{ extendeds.location__slide[0].locationLink }}></div>
<!--    <img src="{{ staticMapUrl("{key: 'AIzaSyD9OZ9xKEBkeoBw6hPjPzz13i0hZbT2LOs',scale: 1,-->
<!--      size: '600x600',-->
<!--      format: 'png',-->
<!--      maptype: 'roadmap',-->
<!--      markers: [-->
<!--        {-->
<!--          location: { lat: '28.3125', lng: '-97.6257' },-->
<!--          color: 'purple',-->
<!--          size: 'tiny'-->
<!--        },-->
<!--        {-->
<!--          location: 'Memphis,TN',-->
<!--          color: 'red'-->
<!--        }-->
<!--      ],-->
<!--      markerGroups: [-->
<!--        {-->
<!--          color: 'blue',-->
<!--          label: 'B',-->
<!--          markers: [-->
<!--            { location: { lat: '37.2125', lng: '-85.7257' } },-->
<!--            { location: 'Nashville,TN' }-->
<!--          ]-->
<!--        },-->
<!--        {-->
<!--          color: 'yellow',-->
<!--          label: 'Y',-->
<!--          markers: [-->
<!--            { location: 'Dallas,TX' },-->
<!--            { location: 'Los Angeles,CA' }-->
<!--          ]-->
<!--        }-->
<!--      ],-->
<!--      paths: [-->
<!--        {-->
<!--          color: 'green',-->
<!--          points: ['Denver,CO', 'Kalispell,MT', 'Chicago,IL']-->
<!--        },-->
<!--        {-->
<!--          color: 'red',-->
<!--          points: ['27.749825, -73.987963', '40.849825, -74.987963']-->
<!--        },-->
<!--        {-->
<!--          color: 'blue',-->
<!--          points: 'enc:enrjF~blePve|Mwp`T' // be sure to include `enc:`-->
<!--        }-->
<!--      ],-->
<!--      pathGroups: [{-->
<!--        color: 'brown',-->
<!--        paths: [-->
<!--          { points: ['Memphis,Tn', 'Atlanta,Ga'] },-->
<!--          { points: ['43.749825,-73.987963', '38.849825,-74.987963'] }-->
<!--        ]-->
<!--      }]-->
<!--    }") }}">-->
  </div>
</div>
