<section class="section media-box">
  <div class="media-box__grid">
    <div class="m-grid">
      <div class="m-grid__item m-grid__1">
        <div class="video" style="background-image: url(img/video.jpg)">
          <div class="video__content" id="player"></div>
          <button class="video__btn js-video-btn" data-video-id="gfbWjD4SwmU" data-content-id="player">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="149" height="113"
                 viewBox="0 0 149 113">
              <defs>

              </defs>
              <g>
                <g transform="translate(-646 -2447)" class="icon__main">
                  <path id="le62a"
                        d="M666 2552v-12.005h-12v-81h12V2447h117v11.995h12v81h-12V2552zm44-24.003h13v-57h-13zM736 2517v-11h13v-13h-13v-11h-13v35z"/>
                </g>
                <g transform="translate(-646 -2447)" class="icon__border">
                  <path id="le62b" d="M646 2467h4v77h12v12h113v4H658v-12h-12z"/>
                </g>
              </g>
            </svg>
          </button>
        </div>
      </div>
      <a href="https://www.facebook.com/thejsnation/photos/a.1696319050455567/1696339767120162/?type=3&theater" target="_blank" class="m-grid__item m-grid__2">
        <span class="m-grid__img" style="background-image: url(img/34700763_1696339787120160_5081264731453390848_o.jpg)"></span>
        <span class="m-grid__content">{{mixins.icon('fb')}}</span>
      </a>
      <a href="https://www.facebook.com/thejsnation/photos/a.1696319050455567/1696319780455494/?type=3&theater" target="_blank" class="m-grid__item m-grid__3">
        <span class="m-grid__img" style="background-image: url(img/34689267_1696319793788826_172777360267935744_n.jpg)"></span>
        <span class="m-grid__content">{{mixins.icon('fb')}}</span>
      </a>
      <a href="https://www.facebook.com/thejsnation/photos/a.1696319050455567/1696339037120235/?type=3&theater" target="_blank" class="m-grid__item m-grid__4">
        <span class="m-grid__img" style="background-image: url(img/34703808_1696339043786901_6222024250182598656_o.jpg)"></span>
        <span class="m-grid__content">{{mixins.icon('fb')}}</span>
        <div class="m-grid__pop">
            <p>"Nation - a large group of people who share the same language, traditions, and history"</p>
            <p>— Cambridge Dictionary</p>
        </div>
      </a>
      <a href="https://www.facebook.com/thejsnation/photos/a.1696319050455567/1696336217120517/?type=3&theater" target="_blank" class="m-grid__item m-grid__5">
        <span class="m-grid__img" style="background-image: url(img/34829407_1696336227120516_6922346061096812544_o.jpg)"></span>
        <span class="m-grid__content">{{mixins.icon('fb')}}</span>
      </a>
      <a href="https://www.facebook.com/thejsnation/photos/a.1696319050455567/1696338263786979/?type=3&theater" target="_blank" class="m-grid__item m-grid__6">
        <span class="m-grid__img" style="background-image: url(img/34600377_1696338270453645_13009318500630528_o.jpg)"></span>
        <span class="m-grid__content">{{mixins.icon('fb')}}</span>
      </a>
      <a href="https://www.facebook.com/thejsnation/photos/a.1696319050455567/1696335453787260/?type=3&theater" target="_blank" class="m-grid__item m-grid__7">
        <span class="m-grid__img" style="background-image: url(img/34561205_1696335460453926_8516260153228525568_o.jpg)"></span>
        <span class="m-grid__content">{{mixins.icon('fb')}}</span>
      </a>
    </div>
  </div>
</section>
