<section class="schedule" id="schedule">
  <div class="container">
    <div class="schedule__title title">
      {{ scheduleTitle }}
    </div>
    <div class="tabs">
      {% if (schedule.length > 1) %}
      <ul class="tabs__header">
        {% for tab in schedule %}
        <li>
          <a href="#" class="btn js-tab-link {% if tab.active %}is-active{% endif %}" data-tab-name="{{tab.name}}">
            <span class="btn__text">{{tab.title | safe}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="tabs__content">
        {% for tab in schedule %}
        <div class="table js-tab {% if tab.active %}is-active{% endif %}" data-tab="{{tab.name}}">
          <div class="table__body">
            {% for row in tab.list %}
            <div class="table__row">
              {% if row.time %}<div class="table__col table__col_sm">{{row.time}}</div>{% endif %}
              <div class="table__row-content">
                <div class="table__col table__col_md">
                  <a class="anchor-item" href="#person-{{ row.speakerSlug }}">
                    {{row.name | safe}}
                  </a>
                </div>
                <div class="table__col table__col_lg {% if row.noInfo %}table__col_empty{% endif %}">
                  <span class="anchor" id="{{ row.slug }}"></span>
                  {% if row.title %}<div class="table__title">
                    <a class="anchor-item" href="#{{ row.slug }}">
                      {{row.title | safe}}
                    </a>
                  </div>{% endif %}
                  {% if row.description %}<div class="table__descr">{{row.description}}</div>{% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
