{% macro personCard(person) %}
<div class="speakers-list__item" id="person-{{ person.slug }}">
  <div class="speaker graphcms-container" {{ mixins.cmsData(person) }}>

    {{mixins.avatarWithDetailsV2(person.activities.talks[0], person, not fakeLinks, eventsLayer, inPerson)}}

    <div class="speaker__body">
      <div class="speaker__inner">
        {% if (person.name) %}
        <div class="speaker__name">{{person.name}}</div>
        {% endif %}
        {% if (person.company) and (person.company !== 'null, null') %}
        <div class="speaker__company">{{person.company}}</div>
        {% endif %}
        {% if (person.activities.talks[0].title) %}
        <div class="speaker__talk"><span>Talk:</span> {{person.activities.talks[0].title | safe}}</div>
        {% endif %}
        {% if person.shortBio or person.bio %}
        <div class="speaker__desc">{{(person.shortBio or person.bio) | safe}}</div>
        {% endif %}


      </div>
    </div>
  </div>
</div>
{% endmacro %}

<section class="section s-speakers" id="speakers">
  <div class="container">
    {% if (pageKey == "main") %}
    <div class="section__title">{{ mixins.text(pieceOfTexts, 'speakers__title') }}</div>
    {% else %}
    <div class="section__title">{{ mixins.text(pieceOfTexts, 'speakers__altTitle') }}</div>
    {% endif %}

    <div class="speakers-list">
      {% for trainer in speakers.workshops %}
      {% set isShown = false %}
      {% for workshop in workshops %}

      {% if workshop.includedToPackage and not isShown %}

      {% if workshop.speaker.id === trainer.id %}
      {% set isShown = true %}
      {{ personCard(trainer) }}
      {% endif %}

      {% for oneOfTrainers in workshop.trainers %}
      {% if oneOfTrainers.id === trainer.id %}
      {% set isShown = true %}
      {{ personCard(trainer) }}
      {% endif %}
      {% endfor %}

      {% endif %}

      {% endfor %}
      {% endfor %}

      {% if (pages[pageKey].pageSections.cfp) %}
      <div class="speakers-list__item speakers-list__item_cfp">
        <div class="speaker">
          <div class="speaker__body">
            <div class="speaker__inner">
              <p class="speaker__name">{{ pages[pageKey].pageSections.cfp.title | safe }}</p>
              <p class="speaker__company">{{ pages[pageKey].pageSections.cfp.desc | safe }}</p>
              <a class="btn" href="{{ pages[pageKey].pageSections.cfp.link }}">{{ pages[pageKey].pageSections.cfp.linkText }}</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
