<div class="table-wrapper workshops">
  <div class="container">
    <div class="table-wrapper__title title">{{ pages[pageKey].pageSections.title | safe }}</div>
    <div class="table-wrapper__descr descr">
      {{ pages[pageKey].pageSections.description | safe }}
    </div>
    <div class="table-wrapper__content">
      <div class="table table_sm">
        <div class="table__body">

          {% for item in workshops %}
          <div class="table__section workshops__block">
            <div class="table__row">
              <div class="table__col table__col_sm workshops__block-detail-name workshops__block-trainers">
                <ul>
                  {% for trainer in item.trainers %}
                    <li>
                      <a class="anchor-item" href="#person-{{ trainer.slug }}">
                      {{ trainer.name }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="table__row-content workshops__block-info">
                <div class="table__col table__col_lg">
                  <div class="table__title">
                    <h2 class="workshops__block-title">
                    <span class="anchor" id="{{ item.slug }}"></span>
                    <a class="anchor-item" href="#{{ item.slug }}">
                    {{ item.title }}
                    </a>
                  </div>
                  </h2>
                </div>
              </div>
            </div>

            {% if item.description  %}
            <div class="table__row">
              <div class="table__col table__col_sm workshops__block-detail-name"></div>
              <div class="table__row-content workshops__block-info">
                <div class="table__col table__col_lg">
                  <div class="table__descr">{{item.description | safe}}</div>
                </div>
              </div>
            </div>
            {% endif %}

            {% if item.toc  %}
            <div class="table__row">
              <div class="table__col table__col_sm workshops__block-detail-name">Table of contents</div>
              <div class="table__row-content workshops__block-info">
                <div class="table__col table__col_lg">
                  <div class="table__descr">{{item.toc | safe}}</div>
                </div>
              </div>
            </div>
            {% endif %}


            {% if item.prerequisites  %}
            <div class="table__row">
              <div class="table__col table__col_sm workshops__block-detail-name">Prerequisites</div>
              <div class="table__row-content workshops__block-info">
                <div class="table__col table__col_lg">
                  <div class="table__descr">{{item.prerequisites | safe}}</div>
                </div>
              </div>
            </div>
            {% endif %}


            {% if item.level  %}
            <div class="table__row">
              <div class="table__col table__col_sm workshops__block-detail-name">Workshop level</div>
              <div class="table__row-content workshops__block-info">
                <div class="table__col table__col_lg">
                  <div class="table__descr">{{item.level | safe}}</div>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="table__row">
              <div class="table__col table__col_sm workshops__block-detail-name">Workshop schedule</div>
              <div class="table__row-content workshops__block-info">
                <div class="table__col table__col_lg">
                  <div class="table__descr">
                  <strong>{{item.dateString }}</strong>
                  {% if item.schedule  %}
                    <span> starting </span>
                    <strong>{{item.schedule.starting }}</strong>
                    <span>till </span>
                    <strong>{{item.schedule.ending }}</strong>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>

            {% if item.location  %}
            <div class="table__row">
              <div class="table__col table__col_sm workshops__block-detail-name">Location</div>
              <div class="table__row-content workshops__block-info">
                <div class="table__col table__col_lg">
                  <div class="table__descr">
                  <span>{{item.location | safe}}</span>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
