<section class="section section--cropped s-location" id="location">
	<div class="container">
		<div class="location">
			<div class="location__logo">
				<img src="img/LSC_Logo.svg" alt="" role="presentation" />
			</div>
			<h2 class=" section__title">location</h2>
			{% if pagesPieceOfTexts.location__text %}
			<div class="location__text">
				{{ pagesPieceOfTexts.location__text | safe }}
			</div>
			{% endif %}


			<div class="location__info">
				{% if pagesPieceOfTexts.location__venue %}
				<div class="location__info-title">{{ mixins.text(pieceOfTexts, 'location__venue') }}</div>
				{% endif %}
				<div class="location__info-address">
					{{ mixins.text(pieceOfTexts, 'location__address') }}
				</div>


				{% if pagesPieceOfTexts.location__viewMap %}
				<a href="{{ pagesPieceOfTexts.location__info-viewMap }}" target="_blank" class="theme-link">View on map</a>
				{% endif %}

			</div>

			<div class="swiper-container js-slider location__slider">
				<div class="swiper-wrapper">
					{% for slide in extendeds.location__slide %}
					<div class="swiper-slide location__slide">
						<picture>
							<source srcset="{{mixins.imageUrl(slide.image.handle, 'resize=fit:crop,width:1200/output=format:webp', slide.image.mimeType)}}" type="image/webp">
							<img src="{{mixins.imageUrl(slide.image.handle, 'resize=fit:crop,width:1200/output=format:png', slide.image.mimeType)}}"
								alt="{{slide.alt}}">
						</picture>
					</div>
					{% endfor %}
				</div>

			</div>

			<div class="swiper-button-prev js-slider-prev location__arrow location__arrow_prev">
				{{mixins.icon('arrow-l')}}
			</div>

			<div class="swiper-button-next js-slider-next location__arrow location__arrow_next">
				{{mixins.icon('arrow-r')}}
			</div>

		</div>
	</div>
</section>
