$font-size: 16px

/*----- COLORS -----*/

$themeColor: #D63BD2
$themeColorD: #e148dd
$themeColor2: #3CEFEA
$mainBg: #121212
$mainBg2: #1E1E1E
$black: #121212
$white: #fff
$gray: #1E1E1E
$red: #F44250
$violet: #D83BD2
$green: #6AE867
$yellow: #FECD1B
$blue: #3A92FF
$accent: #b1ec00



// end COLORS
