---
pageKey: main
headerBtn: true
fakeLinks: true
hideLandingLinks: true
confName: tljs-london
canonicalUrl: amsterdam/


---

{% extends "layouts/_layout.html" %}

{% block heroScript %}
{% include "partials/payload/js/_filter-hero-buttons.html" %}
{% endblock %}

{% block content %}


{% include "partials/payload/sections/_header.html" %}

{# no payload data #}
{% if pages[pageKey].pageSections.remoteSwitch %}
{% include "partials/_remote-switch.html" %}
{% endif %}


<div class="main js-main">

	{% for section in payload.pages[pageKey].sections %}

	{% if section.blockType == 'hero' %}
	{% set heroData = section %}
	{% include "parts/_hero.html" %}
	{% endif %}

	{% if section.blockType == 'event' %}
	{% set eventData = section %}
	{% include "parts/_event.html" %}
	{% endif %}

	{% if section.blockType == 'lineUp' %}
	{% set lineUpData = section %}
	{% include "partials/payload/sections/_line-up.html" %}
	{% endif %}

	{% if section.blockType == 'speakers' %}
	{% set speakersData = section %}
	{% include "partials/payload/sections/_speakers.html" %}
	{% endif %}

	{% if section.blockType == 'techs' %}
	{% set techsData = section %}
	{% include "partials/payload/sections/_techsSlider.html" %}
	{% endif %}

	{% if section.blockType == 'pastSpeakers' %}
	{% set pastSpeakersData = section %}
	{% include "partials/payload/sections/_past-speakers.html" %}
	{% endif %}

	{% if section.blockType == 'mcs' %}
	{% set mcsData = section %}
	{% include "partials/payload/sections/_mcs.html" %}
	{% endif %}

	{% if section.blockType == 'committee' %}
	{% set committeeData = section %}
	{% include "partials/payload/sections/_committee.html" %}
	{% endif %}

	{% if section.blockType == 'workshops' %}
	{% set workshopsData = section %}
	{% include "partials/payload/sections/_workshops-list.html" %}
	{% endif %}

	{% if section.blockType == 'followUs' %}
	{% set followUsData = section %}
	{% include "partials/payload/sections/_contact-form.html" %}
	{% endif %}

	{% if section.blockType == 'multipass' %}
	{% set multipassData = section %}
	{% include "partials/payload/sections/_multipass.html" %}
	{% endif %}

	{% if section.blockType == 'prices' %}
	{% set pricesData = section %}
	{% include "partials/payload/sections/_prices.html" %}
	{% endif %}

	{% if section.blockType == 'fullTicket' %}
	{% set fullTicketData = section %}
	{% include "partials/payload/sections/_full-ticket.html" %}
	{% endif %}

	{% if section.blockType == 'freeTicket' %}
	{% set freeTicketData = section %}
	{% include "partials/payload/sections/_free-ticket.html" %}
	{% endif %}

	{% if section.blockType == 'discussions' %}
	{% set discussionsData = section %}
	{% include "partials/payload/sections/_video-rooms.html" %}
	{% endif %}

	{% if section.blockType == 'party' %}
	{% set partyData = section %}
	{% include "partials/payload/sections/_party.html" %}
	{% endif %}

	{% if section.blockType == 'location' %}
	{% set locationData = section %}
	{% include "partials/payload/sections/_location.html" %}
	{% endif %}

	{% if section.blockType == 'sponsors' %}
	{% set sponsorsData = section %}
	{% include "partials/payload/sections/_sponsors.html" %}
	{% endif %}

	{% endfor %}

	{# no payload data #}
	{% if pages[pageKey].pageSections.videoWidget %}
	{% include "partials/_video-widget.html" %}
	{% endif %}

	{# no payload data #}
	{% if pages[pageKey].pageSections.features %}
	{% include "partials/_features.html" %}
	{% endif %}

	{# no payload data #}
	{% if pages[pageKey].pageSections.advicers %}
	{% include "partials/_advicers.html" %}
	{% endif %}

	{# no payload data #}
	{% if pages[pageKey].pageSections.schedule %}
	<div class="schedule-btn-wrap">
		<div class="container">
			<a class="btn btn--huge" href="{{ pagesPieceOfTexts.scheduleBtn__linkInPerson if inPerson else pagesPieceOfTexts.scheduleBtn__link }}">
				{{ pagesPieceOfTexts.scheduleBtn__text | safe }} {{mixins.icon('arrow-big')}}
			</a>
		</div>
	</div>
	{% endif %}

	{# no payload data #}
	{% if pages[pageKey].pageSections.zoomBars %}
	{% include "partials/_zoom-barsV2.html" %}
	{% endif %}

	{# no payload data #}
	{% if pages[pageKey].pageSections.watchingParty %}
	{% include "parts/_watching-party.html" %}
	{% endif %}

	{# no payload data #}
	{% if pages[pageKey].pageSections.discountForm %}
	{% include "partials/_discount-form.html" %}
	{% endif %}

	{# no payload data #}
	{% if pages[pageKey].pageSections.forBoss %}
	{% include "partials/_for-boss.html" %}
	{% endif %}

	{# no payload data #}
	{% if pages[pageKey].pageSections.givingBack %}
	{% include "partials/_back-to-community.html" %}
	{% endif %}

	{# no payload data #}
	{% if pages[pageKey].pageSections.tweets %}
	{% include "partials/_tweets.html" %}
	{% endif %}

	{% include "partials/payload/sections/_footerV2.html" %}

</div>
{% include "partials/_price-increase.html" %}
{% include "partials/payload/blocks/_notice-panel.html" %}

{% if payload.components.subscriptionPopup %}
{% include "partials/payload/blocks/_popup-subscription.html" %}
{% endif %}

{% endblock %}
