=light
	font-family: GothamPro, Arial, sans-serif
	font-weight: 300

=regular
	font-family: GothamPro, Arial, sans-serif
	font-weight: 400

=medium
	font-family: GothamPro, Arial, sans-serif
	font-weight: 500

=bold
	font-family: GothamPro, Arial, sans-serif
	font-weight: 700

=black
	font-family: GothamPro, Arial, sans-serif
	font-weight: 900

.out
	overflow: hidden
	position: relative

html.lock
	body
		overflow: hidden

body
	background: $mainBg
	font-size: 14px
	line-height: 1.2
	color: $white

	+regular
	&.is-no-scroll
		overflow: hidden

a
	color: $themeColor2

	&:hover
		text-decoration: none

.text
	letter-spacing: 0.7px
	font-size: 22px
	line-height: 1.7
	text-align: center

	font-size: 18px
	+tablet
		font-size: 19px
		letter-spacing: 1.1px
		line-height: 1.8
	+md
		font-size: 16px
		line-height: 1.8
	+xs
		font-size: 15px
	a
		color: inherit

.main
	width: 100%
	min-width: 320px

	&.blur
		filter: blur(10px) grayscale(.6)

.pop-ticket__btn
	&.btn
		&.btn--border
			color: $black

.icon
	width: 1em
	height: 1em
	fill: currentColor
	vertical-align: middle
	display: inline-block
	stroke: currentColor
	stroke-width: 0

.hidden-sm
	+sm
		display: none !important

.scrollbar
	&::-webkit-scrollbar
		width: 6px
		height: 6px

	&::-webkit-scrollbar-button
		width: 0px
		height: 0px

	&::-webkit-scrollbar-thumb
		background: #6b6b6b
		border: 0 solid #2c2c2c
		border-radius: 100px

		cursor: pointer

	&::-webkit-scrollbar-track
		background: #2c2c2c
		border: 2px solid #2c2c2c
		border-radius: 100px

	&::-webkit-scrollbar-corner
		background: transparent

.split-line
	overflow: hidden

@keyframes bounce-x
	0%
		transform: translateX(0)
	10%
		transform: translateX(-5px)
	25%
		transform: translateX(3px)
	40%
		transform: translateX(-3px)
	55%
		transform: translateX(2px)
	70%
		transform: translateX(-1px)
	80%
		transform: translateX(0)
	100%
		transform: translateX(0)

.animation-bounce .icon
	animation: bounce-x 2.4s ease-in-out infinite

.social
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap
	gap: 8px

	&__link
		font-size: 16px
		color: #fff
		transition: all ease 0.1s
		display: flex
		align-items: center
		justify-content: center
		width: 30px
		height: 30px
		&:hover
			color: $themeColor

	&--theme
		gap: 12px
		+sm
			gap: 6px
		.social

			&__link
				width: clamp(52px, 10vw, 78px)
				height: clamp(52px, 10vw, 78px)
				border: 3px solid $gray2
				border-radius: 50%
				background: $mainBg
				font-size: clamp(18px, 4.6vw, 22px)
				color: $themeColor2
				+sm
					border-width: 2px

				&:hover, &:focus-visible
					border-color: $themeColor2
					outline: none !important
					color: $themeColor2

.cover-link
	&:before
		content: ''
		position: absolute
		inset: 0

.payload-richtext
	& > *:first-child
		margin-top: 0 !important
	& > *:last-child
		margin-bottom: 0 !important
