$font-size: 16px

/*----- COLORS -----*/

$mainBg: #161917
$mainBg2: #eaeaec
$black: #000
$white: #fff
$gray: #202421
$gray2: #363636
$gray3: #838383
$grayD: #838383
$grayL: #eaeaec
$themeColor: #99FF00
$themeColorD: #00DD3B
$themeColor2: #0f0
$accent: #b1ec00

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleBG: $mainBg
$scheduleBoxBG: #353535
$scheduleColor: $white
$scheduleColorGray: #8D8D8D
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
$scheduleTimeBG: lighten($mainBg, 12%)
$scheduleAccent: #00DD3B
// end SCHEDULE

/*----- CHECKOUT -----*/
$cehckoutBG: $mainBg
$cehckoutBoxBG: #353535
$cehckoutColor: $white
$cehckoutColorBlack: $black
$cehckoutColorGray: #838383
$cehckoutColorGrayL: #eaeaec
$cehckoutOutline: #838383
$cehckoutTimeBG: lighten($mainBg, 12%)
$cehckoutAccent: #00DD3B
// end CHEcKoUT

/*----- SWITCH -----*/
$switchBG: #00DD3B
$switchColor: $black
$switchHandler: $black

// end SWITCH
