$font-size: 16px
/*----- schedule -----*/
$posTop: 0px

/*----- COLORS -----*/

$mainBg: #161917
$mainBg2: #eaeaec
$black: #000
$white: #fff
$gray: #202421
$gray2: #363636
$gray3: #838383
$themeColor: #99FF00
$themeColorD: #00DD3B
$themeColor2: #0f0
$accent: #b1ec00



// end COLORS
