.btn
	min-width: 122px
	text-align: center
	display: inline-block
	background: $heroBtnColor
	+semi
	font-size: 14px
	padding: 12px 22px 12px
	line-height: 1.4
	text-transform: uppercase
	color: $textColor
	position: relative
	transition: 0.3s
	box-shadow: 4px 4px 0 0 #023753
	transition: all ease 0.2s

	&:hover
		background: #FFEA4A
		box-shadow: 2px 2px 0 0 #023753

	&--hero
		padding: 17px 22px 16px
		+md
			padding: 13px 16px 10px
		&:after
			pointer-events: none
			top: 6px
			left: 50%
			transform: translateX(-50%)
			content: ''
			width: 725px
			height: 43px
			z-index: -1
			position: absolute
			background-image: url(../img/dots-btn.svg)
			background-repeat: no-repeat
			background-size: contain
			background-position: center
			+md
				width: 500px
				height: 29px
			+sm
				display: none

	&--huge
		display: flex
		font-size: clamp(16px, 5vw, 82px)
		margin: 0 auto clamp(100px, 5vw, 200px)
		padding: clamp(15px, 5vw, 30px) clamp(40px, 5vw, 80px)
		width: fit-content

		.icon
			&-arrow_r
				width: clamp(16px, 8vw, 120px)
				height: clamp(20px, 7vw, 64px)
				margin: auto 0 auto clamp(20px, 5vw, 60px)
				fill: $textColor

.bbtn
	font-size: 12px
	+semi
	text-transform: uppercase
	padding: 8px 29px
	line-height: 1.67
	display: inline-block
	background-color: $themeColor
	text-align: center
	color: $white
	transition: 0.3s
	border: 2px solid transparent
	white-space: nowrap
	+xs
		font-size: 14px
		padding: 11px 61px 12px
	&:hover
		background-color: white
		color: $themeColor
		border-color: $themeColor
	&--lg
		padding: 18px 56px
		+xs
			font-size: 12px
			padding: 18px 57px
