.diversity

	.section__col-2
		padding: 100px 0 0
		position: relative
		z-index: 1
		+md
			padding: 55px 0 0

	&__title
		margin-bottom: 43px
		+md
			margin-left: -94px
			margin-bottom: 35px
			.section-title
				font-size: 28px
				line-height: 1.1
		+xs
			margin-bottom: 27px

	&__partners
		display: flex
		align-items: center
		justify-content: space-around
		margin: 80px auto 50px
		max-width: 75%
		+md
			max-width: 100%

	&__partner
		width: 400px
		max-width: 40%
		display: block

	&__progress-title
		text-align: center
		font-size: 18px
		line-height: 1.5
		margin: 30px 0 30px
		+xs
			font-size: 16px

	&__progress-bar
		width: 70%
		margin: 30px auto 130px
		height: 6px
		background: #fff
		+md
			width: 80%
			height: 5px
		+xs
			width: 90%

	&__progress
		background: #230cea
		height: 6px
		+md
			height: 5px
		

	img
		width: 100%
