.s-for-boss
	position: relative
	padding: 142px 0
	overflow: hidden
	max-width: none
	border-top: 10px solid #230CEA
	border-bottom: 10px solid #230CEA
	&:after, &:before
		content: ''
		position: absolute
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		z-index: -1

	&:after
		top: 10%
		left: 41px
		width: 183px
		height: 183px
		background-image: url(../img/speakers-dots1.svg)

	&:before
		top: 46%
		right: -50px
		width: 203px
		height: 223px
		background-image: url(../img/speakers-dots.svg)

	p
		margin-bottom: 30px
		font-size: 18px

	+tablet
		padding: 70px 0
		&:after
			left: -100px
			top: 20px
		p
			margin-bottom: 20px
			font-size: 16px

	+sm
		padding: 50px 0
		&:after, &:before
			display: none
		p

			font-size: 14px

	.section

		&__title
			font-size: 64px
			+bold
			line-height: 1.4
			margin: 0
			text-align: right
			position: relative
			z-index: 2
			br
				display: none
			+tablet
				margin-bottom: 30px
				text-align: left
			+md
				font-size: 32px
				margin-top: 0
				margin-bottom: 25px

			+xs
				font-size: 28px

.for-boss
	&__text
		display: grid
		grid-template-columns: 395px 200px 1fr
		gap: 0 60px
		+tablet
			display: block
	&__title
		grid-column: 1/2
	&__desc
		grid-column: 2/4
		grid-row:  1/2
		padding-top: 20px
		+tablet
			padding-top: 0
	&__btn
		grid-column: 2/2
		grid-row:  2/3
	&__img
		display: none
