.fun
	position: relative
	&:after
		content: ''
		position: absolute
		background-image: url(../img/sponsors-dots.svg)
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		top: 50px
		left: -40px
		height: 223px
		width: 203px
		+xs
			height: 132px
			width: 119px
			top: 265px
			left: -58px
			transform: rotate(-90deg)

	.section__col-2
		padding: 187px 0 760px
		position: relative
		z-index: 1
		+md
			padding: 55px 0 280px
		+xs
			padding: 55px 0 265px

		&.no-team
			padding: 187px 0 150px
			+md
				padding: 55px 0 55px
			+xs
				padding: 55px 0 55px
	&__title
		margin-bottom: 43px
		+md
			margin-left: -94px
			margin-bottom: 35px
			.section-title
				font-size: 28px
				line-height: 1.1
		+xs
			margin-bottom: 27px
	&__text
		// margin-bottom: 77px
	&__video
		position: relative
		padding-top: 78%
		margin-left: -300px
		margin-bottom: 84px
		+md
			padding-top: 86%
			margin-left: -190px
			margin-bottom: 36px
		+xs
			margin-left: -80px
			margin-bottom: 28px
	&__video-frame
		+coverdiv
	&__items
		justify-content: space-around
		z-index: 1
		position: relative
		display: flex
		margin: -700px -15px 380px
		flex-wrap: wrap
		+tablet
			margin: -700px -15px 345px
		+md
			margin: -228px -15px 72px
		+xs
			margin: -215px -15px 27px
	&__item
		width: 33.33%
		padding: 10px 15px
		position: relative

		.speaker
			display: block
			position: relative
			&__text p
				word-wrap: break-word
				overflow: hidden
				text-overflow: ellipsis
				display: -webkit-box
				-webkit-line-clamp: unset
				-webkit-box-orient: vertical
			&__link 
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: 2
				opacity: 0 
				&:hover, &:focus-visible 
					opacity: 1 



		+md
			width: 50%
		+sm
			padding: 10px 5px
		+xs
			width: 100%
			padding: 5px
		&:nth-child(3n-1)
			top: 50px
			+md
				top: 0
		&:nth-child(3n-2)
			top: 110px
			+md
				top: 0
		&:nth-child(2n-1)
			+md
				top: 50px
			+xs
				top: 0
