.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	color: $white
	padding-block: 16px
	z-index: 11

	+md
		padding: 0
		position: static

	&__inner
		display: flex
		align-items: center
		gap: 20px
		@extend .container

	&__logo
		flex: none
		+md
			z-index: 11
			position: absolute
			top: 16px
			left: 20px

	&__nav
		display: flex
		align-items: center
		flex-grow: 1
		justify-content: space-between
		gap: 15px

		+md
			transition: 0.3s
			position: fixed
			inset: 0
			z-index: 100
			padding: 40px
			background: #230cea
			overflow: hidden
			overflow-y: auto
			flex-direction: column
			justify-content: flex-start
			max-width: none
			display: none

	&__btn
		.btn
			min-width: 100px

	&__alt-btn
		position: fixed
		bottom: 0
		right: 0
		z-index: 20
		display: none
		transition: all ease 0.1s

		&.is-visible
			+md
				display: block

		.btn
			z-index: 3
			min-height: 50px
			pointer-events: auto

	&__burger
		display: none
		+md
			display: block
			position: fixed
			top: 0px
			right: 0px
			z-index: 101
			cursor: pointer

	&__socials
		display: none

		+md
			order: 3
			display: flex

		.social
			&__link
				span
					display: none

	&.is-open
		.header__nav
			+md
				display: flex
		.burger
			span
				background-color: $white!important
				&:before, &:after
					background-color: $white!important

	&.is-sticky,
	&.is-inner
		background-color: $mainBg

		+md
			padding: 0

		.burger
			background: #fff
			span
				background-color: $textColor
				&:before, &:after
					background-color: $textColor
			&.is-active
				span, span:before, span:after
					background: #023753 !important

	&.is-sticky
		padding-block: 12px
		+rmin(1024)
			.logo
				.icon
					fill: $textColor
				&:after
					color: $textColor

			.nav
				&__link
					color: $textColor
	&.is-inner
		.logo
			.icon
				fill: $textColor
			&:after
				color: $textColor
		.nav
			&__link
				color: $textColor

.burger
	width: 52px
	height: 46px
	padding: 12px 15px
	span
		background-color: $white
		display: block
		height: 2px
		position: relative
		transition: 0.3s
		&:before, &:after
			transition: 0.3s
			content: ''
			position: absolute
			height: 2px
			width: 2px
			background-color: $white
			top: 0
		&:not(:last-child)
			margin-bottom: 8px
		&:nth-child(1)
			width: 22px
			transform: translateX(5px)
			&:before
				left: -5px
		&:nth-child(2)
			width: 12px
			transform: translateX(10px)
			&:before
				left: -10px
				box-shadow: 5px 0 0 0 #ffffff
			&:after
				right: -5px
		&:nth-child(3)
			width: 18px
			transform: translateX(-1px)
			&:before
				right: -5px
			&:after
				right: -10px
	&.is-active
		span
			width: 100%

			&:after, &:before
				content: none
			&:nth-child(1)
				transform: translate(0px, 10px) rotate(45deg)
			&:nth-child(2)
				transform: translateX(100%)
				opacity: 0
			&:nth-child(3)
				transform: translate(0px, -10px) rotate(-45deg)

.logo
	display: flex
	align-items: center
	gap: 16px

	&:after
		content: 'React Day Berlin'
		display: block
		color: #fff
		transition: 0.3s
		font-size: 16px
		line-height: 1.2
		max-width: 90px
		+semi

		+md
			font-size: 14px

	.icon
		transition: 0.3s
		font-size: 64px
		fill: $white
		margin-top: -10px
		+md
			font-size: 40px

.nav
	display: flex
	gap: 16px
	+md
		text-align: center
		flex-direction: column
		margin: auto 0

	&__link
		transition: 0.3s
		font-size: 14px
		+medium
		color: #fff
		position: relative
		display: block
		line-height: 1.2
		text-align: center
		text-decoration: underline
		+rmin(1024)
			&:hover
				opacity: 0.8
				text-decoration: none
				.is-sticky &
					color: $themeColor
					opacity: 1
		+md
			padding: 10px 0
			text-decoration: none
			font-size: 24px
			color: #78f0ff

.social
	display: flex
	gap: 12px

	&__link
		display: flex
		align-items: center
		justify-content: center
		height: 24px
		width: 24px
		+rmin(1024)
			&:hover
				background-color: rgba(255, 255, 255, 0.1)
				.is-sticky &
					.icon
						fill: $themeColor
		+md
			height: 42px
			width: 42px
			border-radius: 50%
			border: 1px solid rgba(255, 255, 255, 0.1)
		.icon
			transition: 0.3s
			fill: $white
			font-size: 16px
