.hero
  @media (min-width: 768px)
    .join-waitlist
      max-width: 300px
      margin-top: 0
      &__form
        flex-direction: column
        border-radius: 10px
        background: none
      &__input
        flex: none
        display: block
        background: #fff
      &__btn
        width: 100%
