.location
  position: relative
  .section__col-2
    padding-top: 73px
    padding-bottom: 641px
    position: relative
    +md
      padding-top: 49px
      padding-bottom: 534px
    +xs
      padding-top: 56px
      position: static
      padding-bottom: 220px
    +r(375)
      padding-bottom: 95px
  .section__container
    position: relative
    z-index: 1
    pointer-events: none
  &__title
    margin-bottom: 21px
    +md
      margin-bottom: 24px
  &__text
    margin-top: 17px
    +medium
    +md
      font-size: 12px
      margin-top: 19px
      line-height: 1.67
  &__map
    +coverdiv
    +xs
      top: auto
      bottom: 0
      left: 0
      height: 690px
      &:after
        content: none
    +r(375)
      height: 490px

    .map
      width: 100%
      height: 100%

      img
        display: block
        object-fit: none
        width: 100%
        height: 100%
        object-position: center center

        +tablet
          object-position: center

        +md
          object-position: center

        +sm
          object-position: center

        +xs
          object-position: 75% 100%

    &:after
      content: ''
      opacity: 0.93
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 60%
      pointer-events: none
      background-image: linear-gradient(-180deg, #F5F7F9 9%, rgba(255,255,255,0.00) 100%)

  &__info
    max-width: 1104px
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    +r(1300)
      max-width: 900px
    +tablet
      max-width: 540px
    +md
      z-index: 2
      left: 50%
      transform: translateX(-50%)
    +xs
      margin: 0 10px
      position: relative
      left: 0
      width: auto
      transform: translateY(91px)
  &__visual
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding-top: 49%
    width: 100%
    +r(1300)
      padding-top: 60%
    +md
      padding-top: 50%
  &__label
    position: absolute
    max-width: 295px
    top: -41px
    right: -130px
    +md
      max-width: 140px
      top: -36px
      right: -74px
    +sm
      right: -20px
    +xs
      right: -10px
      top: -40px
    &:after
      content: ''
      position: absolute
      background-repeat: no-repeat
      background-size: cover
      background-position: center
      background-image: url(../img/label-dots.svg)
      height: 63px
      width: 63px
      right: -37px
      bottom: -38px
      +md
        top: -200px
        right: 250px
      +xs
        top: -110px
        right: 80px
  &__form
    position: absolute
    left: 134px
    bottom: -100px
    max-width: 570px
    width: 100%
    z-index: 1
    +tablet
      max-width: none
      width: 100%
      bottom: 0
      transform: translateY(100%)
      left: 0
    +xs
      transform: none
      position: relative

.llabel
  z-index: 1
  position: relative
  padding: 30px 35px 30px 40px
  background-color: $white
  font-size: 20px
  +medium
  line-height: 2
  +tablet
    font-size: 16px
    padding: 30px
  +md
    font-size: 10px
    line-height: 1.8
    padding: 13px 15px
  &__title
    +bold

  a
    text-decoration: underline

  a:hover
    text-decoration: none

.sform
  padding: 25px 40px 40px
  background-color: $white
  +md
    padding: 26px 25px 30px
  +xs
    padding: 15px 20px 20px
  &__title
    font-size: 36px
    +semi
    margin-bottom: 4px
    +md
      font-size: 20px
      margin-bottom: 14px
    +xs
      margin-bottom: 7px
      margin-left: 10px
  &__field
    height: 60px
    width: 100%
    position: relative
    +xs
      height: auto
  &__input
    width: 100%
    height: 100%
    font-size: 14px
    border: 1px solid #D7D7D7
    padding: 0 150px 0 20px
    letter-spacing: 0.5px
    +xs
      border-width: 0 0 1px 0
      padding: 0 10px
      text-align: center
      height: 40px
  &__btn
    z-index: 1
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 10px
    +xs
      display: flex
      justify-content: center
      position: static
      transform: translateY(0)
      margin-top: 20px
      top: 0
  &__social
    margin-bottom: 15px
    +md
      margin-bottom: 13px
    +xs
      margin-bottom: 11px

.ssocial
  display: flex
  +xs
    flex-wrap: wrap
  &__item

    &:not(:last-child)
      margin-right: 15px
      +xs
        margin-right: 0
        margin-bottom: 10px
  &__link
    display: flex
    align-items: center
    color: $themeColor
    +light
    font-size: 14px
    &:hover
      .icon
        transform: scale(1.1)
  &__icon
    height: 30px
    width: 30px
    display: flex
    align-items: center
    justify-content: center

    .icon
      transition: 0.3s
      fill: $themeColor
      font-size: 18px
