.speakers
	padding: 0 0 66px
	position: relative
	+xs
		padding: 0 0 22px
	&:before, &:after
		content: ''
		position: absolute
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		z-index: -1
		+md
			display: none
	&:before
		top: 40%
		right: -50px
		width: 203px
		height: 223px
		background-image: url(../img/speakers-dots.svg)
	&:after
		top: 60%
		left: 41px
		width: 183px
		height: 183px
		background-image: url(../img/speakers-dots1.svg)
	.section__col-2
		padding: 100px 0 210px
		+md
			padding: 60px 0 125px
		+xs
			padding: 40px 0 72px
	&__title
		margin-bottom: 37px
		+md
			margin-bottom: 25px
		&--mc
			margin-left: 110px
			margin-bottom: 3px
			+md
				margin-left: 94px
				margin-bottom: 84px
			+xs
				margin-left: -11px
				margin-bottom: 55px
	&__list
		display: grid
		gap: 40px 20px
		margin: -150px 0 136px
		grid-template-columns: 1fr 1fr 1fr
		+tablet
			grid-template-columns: 1fr 1fr
		+md
			margin: -81px 0 106px

		+sm
			margin: -45px 0 66px
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
		+xs
			gap: 20px 10px
			grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
		&--mc
			margin-top: 0

	&__item
		position: relative

		&:nth-child(3n-1)
			top: 45px
			+tablet
				top: 0
		&:nth-child(3n-2)
			top: 90px
			+tablet
				top: 0
		&:nth-child(2n-1)
			+tablet
				top: 50px
			+sm
				top: 0

		&_cfp
			.speaker
				padding: 20px
				+sm
					padding: 20px 16px
				&__company
					font-size: 14px
					margin: 8px 0 24px

.random-party + .mcs
	padding-top: 100px

	+md
		padding-top: 80px

.speaker
	background-color: $mainBg
	border-style: solid
	border-color: $mainBg
	padding: 20px
	transition: 0.3s
	position: relative
	&[onclick]
		cursor: pointer

	+md
		padding: 16px
	+sm
		padding: 0

	&:hover
		background-color: $white

	&__link
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 2
		opacity: 0
		&:hover, &:focus-visible
			opacity: 1
	&__header
		display: flex
		margin-bottom: 10px
		+sm
			display: block
	&__info
		flex-grow: 1
	&__addition
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
		margin-bottom: 14px
		gap: 5px

		+sm
			aspect-ratio: 1/1
			position: absolute
			top: 0
			left: 0
			right: 0
			padding: 8px 5px
			flex-direction: column
			flex-wrap: nowrap
			align-items: flex-start

	&__label
		white-space: nowrap
		border-radius: 4px
		font-size: 12px
		color: $white
		background: var(--tagBG)
		+semi
		line-height: 1.8
		padding: 0 11px

		+xs
			font-size: 10px
			padding: 0 7px
	&__socials
		display: flex
		position: relative
		z-index: 2
		gap: 4px
		+sm
			margin-top: auto

	&__social
		a
			display: flex
			height: 28px
			width: 28px
			align-items: center
			justify-content: center
			+sm
				background: rgba(#fff, 0.95)
			&:hover
				.icon
					fill: $themeColor
					opacity: 1
		.icon
			transition: 0.3s
			font-size: 16px
			fill: $textColor
			opacity: 0.35

			+sm
				font-size: 14px
				opacity: 0.55

	&__name
		font-size: 24px
		+semi
		line-height: 1.2
		transition: 0.3s
		&--link
			&:hover
				color: $linkColor
		+xs
			font-size: 20px
			line-height: 1.1
	&__company
		line-height: 1.4
		color: $gray
		font-size: 12px
		display: flex
		gap: 4px 8px
		margin-top: 4px
		align-items: center
		a
			text-decoration: underline
			color: $linkColor
			&:hover
				text-decoration: none
		+xs
			font-size: 10px

		img
			flex: none
			max-width: 80px
			max-height: 22px
			display: block

	&__talk
		line-height: 1.67
		font-size: 12px
		margin: 0 0 8px

		a
			color: inherit
			position: relative
			z-index: 2
			text-decoration: none
			&:hover
				text-decoration: underline

		span
			font-weight: 600

	&__text
		line-height: 1.67
		font-size: 12px
		&:not(:has( > p))
			word-wrap: break-word
			overflow: hidden
			text-overflow: ellipsis
			display: -webkit-box
			-webkit-line-clamp: 4
			-webkit-box-orient: vertical
		p
			word-wrap: break-word
			overflow: hidden
			text-overflow: ellipsis
			display: -webkit-box
			-webkit-line-clamp: 4
			-webkit-box-orient: vertical

			&:not(:first-child)
				display: none

		a
			color: inherit
			text-decoration: none
			&:hover
				text-decoration: underline

	&__avatar
		height: 140px
		min-width: 140px
		width: 140px
		overflow: hidden
		margin-right: 16px
		position: relative
		+sm
			width: 100%
			height: auto
			aspect-ration: 1/1
			margin: 0 0 16px

		// &:after
		//   transition: 0.3s
		//   content: ''
		//   position: absolute
		//   top: 0
		//   left: 0
		//   width: 100%
		//   height: 100%
		//   opacity: 0.4
		//   background: var(--tagBG)
		picture
			display: block
		img
			height: 100%
			width: 100%
			object-fit: cover
			display: block

	&--fun
		.speaker__header
			align-items: center
		.speaker__info
			font-size: 24px
		.speaker__text
			font-size: 14px

		.socials
			margin: 10px 0 0 0
		.icon
			transform: scale(1.5)
			fill: #023753

			&:hover
				fill: #230cea

	.btn
		color: $textColor
		text-decoration: none
