.talks
	.section__col-2
		padding: 100px 0 317px
		// padding: 498px 0 317px
		+md
			padding: 269px 0 411px
		+xs
			padding: 55px 0 415px
	&__title
		+xs
			margin-left: -80px
	&__content
		max-width: 1170px
		margin: -280px auto -183px
		padding: 0 0 0 200px
		position: relative
		z-index: 1
		+tablet
			max-width: 970px
		+md
			max-width: 540px
			padding: 0
			margin: -380px auto -183px
		+xs
			max-width: none
			margin: -380px 0 -183px 20px
	&__container
		padding: 83px 200px 72px 200px
		background-color: $white
		+tablet
			padding: 80px 100px
		+md
			padding: 33px 20px
	&__item
		&:not(:last-child)
			margin-bottom: 33px
			+md
				margin-bottom: 19px
	&--schedule
		.talks__content
			max-width: 1200px
			margin: -280px auto -183px
			padding: 0 40px
			+md
				margin: -370px auto -183px
				padding: 0 20px
		.talks__container
			padding: 60px 176px
			+tablet
				padding: 60px 120px
			+md
				padding: 40px 80px
			+xs
				padding: 15px 20px

.titem
	&.is-active
		margin: 57px 0
		+tablet
			margin: 41px 0
		.titem__title
			font-size: 36px
			text-decoration: none
			line-height: 1.67
			margin-bottom: 13px
			margin-right: -5px
			+md
				font-size: 20px
			+xs
				line-height: 1.3
	&__title
		display: inline-block
		+medium
		font-size: 20px
		line-height: 1.5
		text-decoration: underline
		text-decoration-color: rgba(2, 55, 83, 0.5)
		+md
			font-size: 15px
	&__content
		margin-bottom: 20px
		display: none
		+xs
			margin-bottom: 50px
	&__name
		+medium
		+md
			font-size: 14px
	&__place
		opacity: 0.5
		margin-bottom: 23px
		+md
			font-size: 10px
			margin-bottom: 19px
	&__text
		margin-bottom: 23px
		line-height: 1.5
		+md
			font-size: 14px
			line-height: 1.8
			max-width: 260px
	&__label
		color: $white
		+semi
		font-size: 12px
		border-radius: 4px
		display: inline-block
		padding: 0 9px
		background-color: $themeColor
		&--red
			background-color: $darcRed
		&--lred
			background-color: $lRed
		&--green
			background-color: $green
		&--violet
			background-color: $violet
		&--lgreen
			background-color: $lgreen
		&--yellow
			background-color: $yellow

