
.shedule-v2
  --bgColor: #fff !important
  --textColor: #000 !important
.sv-tabs
  &__item:after
    background: #000 !important
  &__btn:not(.is-active)
    color: #000
    .icon
      fill: #000
    &:hover
      background: rgba(#ddd, 0.4)
    &:before
      display: none

.sv-nav__item
  background: #000 !important
  color: #fff !important

.sv-item
  &:after
    display: none !important

  &__button
    &:hover
      color: #666 !important
