{% import "parts/_mixins.html" as own_mixins %}
{% import "partials/_mixins.html" as mixins %}
{% import "ga/ga-mixins.njk" as ga_mixins %}
{% import "eventsBus/eventsBus.njk" as eventsLayer %}

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="facebook-domain-verification" content="otzsaxslxfzlc9gllcnxzl6v20h5gb" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% include "../partials/_media-tags.html" %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" media="all" href="css/app.css">
	<link rel="shortcut icon" href="img/favicon.png" />
	{% block heroScript %}{% endblock %}
	<meta name="facebook-domain-verification" content="otzsaxslxfzlc9gllcnxzl6v20h5gb" />
	<link rel="preconnect" href="https://js.tito.io/" crossorigin />
	<link rel="dns-prefetch" href="https://js.tito.io/" />
	<link rel="preconnect" href="https://js-plugins.tito.io/" crossorigin />
	<link rel="dns-prefetch" href="https://js-plugins.tito.io/" />
	<link rel="preconnect" href="https://checkout.tito.io/" crossorigin />
	<link rel="dns-prefetch" href="https://checkout.tito.io/" />


	<link rel="preload" href="fonts/RumbleBrave.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="fonts/GothamPro.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="preload" fetchpriority="high" as="image" href="img/poster.webp" type="image/webp">
	<link rel="preload" fetchpriority="high" as="image" href="img/logo-alt-white.svg" type="image/svg+xml">
	<link rel="preload" fetchpriority="high" as="image" href="img/logo-alt.svg" type="image/svg+xml">
	<script>
		const confFinished = '{{customContent.eventInfo.conferenceFinish}}' || '{{customContent.eventInfo.emsEvent.endDate}}';
	</script>
	<!-- begin Convert Experiences code-->
	<script type="text/javascript" src="//cdn-4.convertexperiments.com/v1/js/10047468-100412436.js"></script><!-- end Convert Experiences code -->

	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-5LXC5465');</script>
	<!-- End Google Tag Manager -->
</head>

<body>
	{{eventsLayer.initEventsLayer(pageKey)}}
	{{eventsLayer.mountPoint('dialog-popup')}}
	{{eventsLayer.sendContent('eventInfo', customContent.eventInfo )}}
	{{eventsLayer.sendContent('reactLayerConfig', {
	pagesPieceOfTexts: pagesPieceOfTexts,
	pageSectionsWorkshops: pages.main.pageSections.workshopsList,
	ticketsLink: pagesPieceOfTexts.ticket__link,
	calendarEventName: 'React Advanced Conference 2022',
	calendarEventDescription: 'Watch it live at https://reactadvanced.com',
	calendarWorkshopDescription: 'Please note, by adding the event to your calendar you do not register for the workshop. To register for the session please use the link sent from ti.to via email.'
	} )}}
	{{eventsLayer.sendContent('customTracks', customContent.tracks )}}
	{{eventsLayer.sendContent('schedule', schedule )}}
	{{eventsLayer.sendContent('scheduleOffline', scheduleOffline )}}
	{{eventsLayer.sendContent('isAuth', not fakeLinks )}}
	{{eventsLayer.sendContent('isCustomTrackAvailable', customTrackAvailable )}}
	{{eventsLayer.sendContent('availableTracks', availableTracks)}}
	{{eventsLayer.sendContent('speakers', speakers)}}

	{{eventsLayer.sendContent('emsSchedule', emsSchedule )}}
	{{eventsLayer.sendContent('emsScheduleOffline', emsScheduleOffline )}}
	{{eventsLayer.sendContent('tracksOrdered', tracksOrdered )}}

	<!-- BEGIN content -->
	<div class="out">
		{% block content %}{% endblock %}
	</div>

	{% include "partials/_popup-promo.html" %}

	<!-- END content -->




	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const bubble = document.querySelector('#bubble');

			function startAnimation() {
				bubble.classList.remove('no-animation');
				setTimeout(() => {
					bubble.classList.add('no-animation');
					setTimeout(startAnimation, 10000);
				}, 28000);
			};

			if (bubble) {
				startAnimation();
			}
		});
	</script>
	<script type="text/javascript" src="js/app.js"></script>

	<!-- END scripts -->

	<script type="text/javascript">
		var _gauges = _gauges || [];
		(function () {
			var t = document.createElement('script');
			t.type = 'text/javascript';
			t.async = true;
			t.id = 'gauges-tracker';
			t.setAttribute('data-site-id', '5ca4d31d67e90a079f05add6');
			t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
			t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
	</script>


	<!-- Meta Pixel Code -->
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '143563655413702');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=143563655413702&ev=PageView&noscript=1" /></noscript>
	<!-- End Meta Pixel Code -->

	<!-- Twitter universal website tag code -->
	<script>
		!function (e, t, n, s, u, a) {
			e.twq || (s = e.twq = function () {
				s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
			}, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '//static.ads-twitter.com/uwt.js',
				a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
		}(window, document, 'script');
		// Insert Twitter Pixel ID and Standard Event data below
		twq('init', 'o2en6');
		twq('track', 'PageView');
	</script>
	<!-- End Twitter universal website tag code -->

	<!-- Twitter conversion tracking base code -->
	<script>
		!function (e, t, n, s, u, a) {
			e.twq || (s = e.twq = function () {
				s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
			}, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = 'https://static.ads-twitter.com/uwt.js',
				a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
		}(window, document, 'script');
		twq('config', 'oe1l6');
	</script>
	<!-- End Twitter conversion tracking base code -->

	<!-- Global site tag (gtag.js) - Google Ads: 805657772 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-805657772"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'AW-805657772');
	</script>
	<!-- Event snippet for RADV website visit conversion page -->
	<script>
		gtag('event', 'conversion', { 'send_to': 'AW-805657772/z07JCMb28IsCEKy5lYAD' });
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-1PG0MYMT2S"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-1PG0MYMT2S');
	</script>

	<!-- LinkedIn -->
	<script type="text/javascript">
		_linkedin_partner_id = "4971185";
		window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
		window._linkedin_data_partner_ids.push(_linkedin_partner_id);
	</script>
	<script type="text/javascript">
		(function (l) {
			if (!l) {
				window.lintrk = function (a, b) { window.lintrk.q.push([a, b]) };
				window.lintrk.q = []
			}
			var s = document.getElementsByTagName("script")[0];
			var b = document.createElement("script");
			b.type = "text/javascript"; b.async = true;
			b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
			s.parentNode.insertBefore(b, s);
		})(window.lintrk);
	</script>
	<noscript>
		<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=3774217&fmt=gif" />
	</noscript>


	<script type="text/javascript">
		_linkedin_partner_id = "6362722";
		window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
		window._linkedin_data_partner_ids.push(_linkedin_partner_id);
	</script>
	<script type="text/javascript">
		(function (l) {
			if (!l) {
				window.lintrk = function (a, b) { window.lintrk.q.push([a, b]) };
				window.lintrk.q = []
			}
			var s = document.getElementsByTagName("script")[0];
			var b = document.createElement("script");
			b.type = "text/javascript"; b.async = true;
			b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
			s.parentNode.insertBefore(b, s);
		})(window.lintrk);
	</script>
	<noscript>
		<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=6362722&fmt=gif" />
	</noscript>


	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LXC5465"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
</body>

</html>