<section class="city section">
  <div class="section__row">
    <div class="section__col-1"></div>
    <div class="section__col-2 theme-bg">
      <div class="city__controls">
        <button class="slider-btn slider-prev js-slider-prev">{{own_mixins.icon('arrow')}}</button>
        <button class="slider-btn slider-next js-slider-next">{{own_mixins.icon('arrow')}}</button>
      </div>
      <div class="section__container">
        <h3 class="city__title white-color">{{ pagesPieceOfTexts.city__title | safe }}</h3>
        <div class="text white-color">
          <p>
            {{ pagesPieceOfTexts.city__text | safe }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="city__slider js-slider">
      <div class="swiper-wrapper">
        <div class="city__slide upd swiper-slide">
          <div class="cslide" style="background-image: url(https://media.graphcms.com/Um5NA7HKSmmZn5dhgouU);">
            <p class="cslide__desc">
              Oberbaum Bridge
            </p>
          </div>
        </div>
        <div class="city__slide swiper-slide">
          <div class="cslide" style="background-image: url(https://media.graphcms.com/jVmngEURTpRut5HXWMIz);">
            <p class="cslide__desc">
              Museum island on Spree river in center Berlin
            </p>
          </div>
        </div>
        <div class="city__slide swiper-slide">
          <div class="cslide" style="background-image: url(https://media.graphcms.com/cPJbUjRQamLeZSb59yVl);">
            <p class="cslide__desc">
              Berlin skyline with Spree river at sunset
            </p>
          </div>
        </div>
        <div class="city__slide swiper-slide">
          <div class="cslide" style="background-image: url(https://media.graphcms.com/YafdOlETqCqH3Tsg37N2);">
            <p class="cslide__desc">
              Brandenburg gate at the sunset
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
