<section class="section section--inner">
  <div class="section__row">
    <div class="section__col-3 theme-bg" data-jq-clipthru="clipthru">

    </div>
    <div class="section__col-4">
      <div class="section__container">
        <div class="section__right"></div>
        <div class="section__left">
          <p>
            Watch
          </p>
          <p>
            your
          </p>
          <p>
            code
          </p>
        </div>
        <div class="section__title section__title--inner">
          <h2 class="section-title section-title_thin-sm js-clip">Code of conduct</h2>
        </div>
        <div class="coc">{{ conference.codeOfConductIntro | safe }}</div>
        {# <div class="text-lg">
          <p>
            All attendees, speakers, sponsors and volunteers at React Day Berlin Conference and React Open Source Meetups are required to follow this Code of Conduct. Organisers will strictly enforce it throughout the events and community gatherings. We expect cooperation from all participants to help ensure a safe environment for everybody.
          </p>
        </div>
        <div class="text-l">
          <p>
            In case you have identified a breach of our CoC, please approach our crew (organizers and volunteers in branded t-shirts) immediately or contact our CoC enforcement team - <a href="mailto:coc@gitnation.org">coc@gitnation.org</a>, +44 7376 237 299.
          </p> #}
        </div>
      </div>
    </div>
  </div>
</section>
