<section class="section diversity" id="diversity">
  <div class="section__row">
    <div class="section__col-1"></div>
    <div class="section__col-2">
      <div class="section__container section__container--l">
        <div class="section__title diversity__title">
          <h2 class="section-title js-clip">{{ pagesPieceOfTexts.diversity__title | safe }}</h2>
        </div>
      </div>
      <div class="section__container section__container--sm">
        <div class="text-lg diversity__text">
          {{ pagesPieceOfTexts.diversity__text | safe }}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
	<div class="diversity__partners">
		<a href="https://callstack.com/" class="diversity__partner">
			<img src="img/sponsors/callstack.png"/>
		</a>
		<a href="https://firebase.google.com/" class="diversity__partner">
			<img src="img/sponsors/firebase.png"/>
		</a>
	</div>

	<p class="diversity__progress-title">8 of 30 extra diversity scholarships sponsored</p>

	<div class="diversity__progress-bar">
		<div class="diversity__progress" style="width: 37%"></div>
	</div>
  </div>
</section>
