<section class="section diversity" id="diversity">
  <div class="section__row">
    <div class="section__col-1"></div>
    <div class="section__col-2">
      <div class="section__container section__container--l">
        <div class="section__title diversity__title">
          <h2 class="section-title js-clip">{{ diversity.title }}</h2>
        </div>
      </div>
      <div class="section__container section__container--sm">
        <div class="text-lg diversity__text">
          {{ diversity.description | safe }}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
	<div class="diversity__partners">
    {% for item in diversity.sponsors %}
    <a href="{{ item.link }}" class="diversity__partner">
      <img src="{{ item.avatar }}"/>
    </a>
    {% endfor %}
	</div>

	<p class="diversity__progress-title">{{ diversity.sponsoredTickets }} of {{ diversity.maxTickets }} extra diversity scholarships sponsored</p>

	<div class="diversity__progress-bar">
		<div class="diversity__progress" style="width:{{ diversity.progress }}%"></div>
	</div>
  </div>
</section>
