<section class="experience section" id="tweets">
  <div class="section__row">
    <div class="section__col-1 theme-bg" data-jq-clipthru="clipthru"></div>
    <div class="section__col-2">
      <div class="section__container section__container--l">
        <div class="section__title experience__title">
          <h2 class="section-title js-clip" id="experience">{{ pagesPieceOfTexts.twittermentions_title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="experience__tweets">

      <script>
        window.addEventListener("load", function () {
          const twitterContainer = document.getElementById("twitter-widget-container");
          if (twitterContainer) {
            const script = document.createElement("script");
            script.src = "https://platform.twitter.com/widgets.js";
            script.async = true;
            document.body.appendChild(script);

          }
        });
      </script>

      <div class="twitts-list" id="twitter-widget-container">
        {{ pagesPieceOfTexts.twittermentions__tweets__unsafe_markup | safe }}
      </div>
    </div>
    {% if pagesPieceOfTexts.lastEvent__link %}
    <div class="experience__old">
      <a href="{{ pagesPieceOfTexts.lastEvent__link }}" class="bbtn bbtn--lg">{{ pagesPieceOfTexts.lastEvent__text }}</a>
    </div>
    {% endif %}
  </div>
</section>
