<section class="experience section">
  <div class="section__row">
    <div class="section__col-1 theme-bg" data-jq-clipthru="clipthru"></div>
    <div class="section__col-2">
      <div class="section__container section__container--l">
        <div class="section__title experience__title">
          <h2 class="section-title js-clip" id="experience">{{ pagesPieceOfTexts.twittermentions_title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="experience__tweets">
      <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <div class="twitts-list">
        {{ pagesPieceOfTexts.twittermentions__tweets__unsafe_markup | safe }}
      </div>
    </div>
    {% if pagesPieceOfTexts.lastEvent__link %}
    <div class="experience__old">
      <a href="{{ pagesPieceOfTexts.lastEvent__link }}" class="bbtn bbtn--lg">{{ pagesPieceOfTexts.lastEvent__text }}</a>
    </div>
    {% endif %}
  </div>
</section>
