<section class="section section--inner">
  <div class="section__row">
    <div class="section__col-3 theme-bg" data-jq-clipthru="clipthru">

    </div>
    <div class="section__col-4">
      <div class="section__container">
        <div class="section__right"></div>
        <div class="section__left">
          <p>
            Frequently
          </p>
          <p>
            Asked
          </p>
          <p>
            Questions
          </p>
        </div>
        <div class="section__title section__title--inner">
          <h2 class="section-title section-title_thin-sm js-clip">FAQ</h2>
        </div>
        <div class="text-l">
          {{ mixins.text(pieceOfTexts, 'faq__descr') }}
        </div>

    		{% for faq in faqs %}
    		{{own_mixins.faq({
    			sectionTitle: faq.sectionTitle,
    			list: faq.items
    		})}}
    		{% endfor %}
      </div>
    </div>
  </div>

  <div class="section__content">
  </div>

  <div class="section__row">
    <div class="section__col-5"></div>
    <div class="section__col-6 theme-bg"></div>
  </div>
</section>
