<section class="section section--inner sec-faq">
  <div class="section__row">
    <div class="section__col-3 theme-bg" data-jq-clipthru="clipthru">

    </div>
    <div class="section__col-4">
      <div class="section__container">
        <div class="section__right"></div>
        <div class="section__left">
          <p>
            Frequently
          </p>
          <p>
            Asked
          </p>
          <p>
            Questions
          </p>
        </div>
        <div class="section__title section__title--inner">
          <h2 class="section-title section-title_thin-sm js-clip">FAQ</h2>
        </div>
        <div class="">
          {{ mixins.text(pieceOfTexts, 'faq__descr') }}
        </div>

        {{ mixins.faq(faqs) }}
      </div>
    </div>
  </div>
</section>
