<footer class="footer theme-bg">
  <div class="footer__image">
    <img class="js-lazy-image" src="img/footer-image.svg" alt="footer">
  </div>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__content">
        <ul class="footer__links">
          {% for item in pages[pageKey].pageNavigation.footerNav %}
          <li><a href="{{item.href}}" class="f-nav__link">{{item.text}}</a></li>
          {% endfor %}
        </ul>
        <div class="footer__git">
          <a href="https://gitnation.org" target="_blank">
            {{own_mixins.icon('git-logo')}}
          </a>
        </div>
      </div>
      <div class="footer__socials">
        <ul class="bsocial">
          {% if conference.twitterUrl %}
            <li class="bsocial__item"><a href="{{ conference.twitterUrl }}" class="bsocial__link" target="_blank">{{own_mixins.icon('tw')}}</a></li>
          {% endif %}
          {% if conference.facebookUrl %}
            <li class="bsocial__item"><a href="{{ conference.facebookUrl }}" class="bsocial__link" target="_blank">{{own_mixins.icon('fb')}}</a></li>
          {% endif %}
          {% if conference.youtubeUrl %}
            <li class="bsocial__item"><a href="{{ conference.youtubeUrl }}" class="bsocial__link" target="_blank">{{own_mixins.icon('yb')}}</a></li>
          {% endif %}
          {% if conference.mediumUrl %}
            <li class="bsocial__item"><a href="{{ conference.mediumUrl }}" class="bsocial__link" target="_blank">{{own_mixins.icon('md')}}</a></li>
          {% endif %}
          {% if conference.discordUrl %}
            <li class="bsocial__item"><a href="{{ conference.discordUrl }}" class="bsocial__link" target="_blank">{{mixins.icon('dis')}}</a></li>
          {% endif %}
          {% if conference.gnPortal %}
            <li class="bsocial__item"><a href="{{ conference.gnPortal }}" class="bsocial__link" target="_blank">{{mixins.icon('portal')}}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
