<section class="for-boss section">
   <div class="section__row ">
      <div class="section__col-1"></div>
      <div class="section__col-2 theme-bg" data-jq-clipthru="clipthru">
         <div class="section__container section__container--sm">
            <div class="section__title for-boss__title">
               <h2 class="section-title js-clip js-title">{{ mixins.text(pieceOfTexts, 'forBoss__title') }}</h2>
            </div>
            <div class="text-lg white-color">
               {{ pagesPieceOfTexts.forBoss__desc | safe }}
            </div>
            <div class="for-boss__link">
               <a class="for-boss__btn btn btn--transparent" href="{{ pagesPieceOfTexts.forBoss__btnLink }}">{{ pagesPieceOfTexts.forBoss__btnText }}</a>
            </div>
         </div>
      </div>
   </div>
</section>