<section class="section s-full-ticket" id="full-ticket">
  <div class="section__row">
    <div class="section__col-1"></div>
    <div class="section__col-2 theme-bg" data-jq-clipthru="clipthru">

      <div class="section__container">
        <div class="section__title location__title">
          <h2 class="section-title js-clip js-title">{{ mixins.text(pieceOfTexts, 'fullaccess__title') }}</h2>
        </div>

        <div class="full-ticket">
          {% for item in pages[pageKey].pageSections.fullTicket %}
            {% if item.link %}
            <a class="full-ticket__item {{ 'full-width' if item.fullWidth }}" href="{{ item.link }}">
              {% if item.bg %}
              <div class="full-ticket__bg" style="background-image: url({{ item.bg }});"></div>
              {% endif %}

              {% if item.title %}
              <p class="full-ticket__title">{{ item.title | safe }}</p>
              {% endif %}

              {% if item.img %}
              <div class="full-ticket__img-wrap">
                <img class="full-ticket__img" src="{{ item.img }}" alt="" role="presentation">
              </div>
              {% endif %}

              {% if item.desc %}
              <div class="full-ticket__desc">{{ item.desc | safe }}</div>
              {% endif %}
            </a>
            {% else %}
            <div class="full-ticket__item {{ "full-width" if item.fullWidth }}">
              {% if item.bg %}
              <div class="full-ticket__bg" style="background-image: url({{ item.bg }});"></div>
              {% endif %}

              {% if item.title %}
              <p class="full-ticket__title">{{ item.title | safe }}</p>
              {% endif %}

              {% if item.img %}
              <div class="full-ticket__img-wrap">
                <img class="full-ticket__img" src="{{ item.img }}" alt="" role="presentation">
              </div>
              {% endif %}

              {% if item.desc %}
              <div class="full-ticket__desc">{{ item.desc | safe }}</div>
              {% endif %}

              {% if item.btnLink %}
              <a href="{{ item.btnLink }}" class="btn">{{ item.btnText }}</a>
              {% endif %}
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</section>
