<section class="section fun" id="party">
  <div class="section__row">
    <div class="section__col-1 theme-bg" data-jq-clipthru="clipthru"></div>
    <div class="section__col-2 {{ 'no-team' if not speakers.performanceTeam.length }}">
      <div class="section__container section__container--l">
        <div class="section__title fun__title">
          <h2 class="section-title js-clip">{{ pagesPieceOfTexts.afterparty__title | safe }}</h2>
        </div>
        <!-- <div class="fun__video">
          <iframe class="fun__video-frame js-lazy-image" data-src="https://player.vimeo.com/video/246667237?title=0&byline=0&portrait=0"
                  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div> -->
      </div>
      <div class="section__container section__container--sm">
        <div class="text-lg fun__text">
          {{ pagesPieceOfTexts.afterparty__text | safe }}
        </div>
      </div>
      <!--<div class="section__container section__container__l">-->
       <!---->
      <!--</div>-->
    </div>
  </div>
  {% if speakers.performanceTeam.length %}
  <div class="container">
    <div class="fun__items">
    {% for item in speakers.performanceTeam %}
      {# <div class="fun__item">
        <div class="speaker speaker--fun">
          <div class="speaker__header">
            <div class="speaker__avatar">
              <picture class="js-lazy-image">
                <source srcset="{{mixins.imageUrl(item.avatarHandle, "resize=fit:clip,height:300,width:300/output=format:webp", item.avatarMimeType)}}" type="image/webp">
                <img src="{{mixins.imageUrl(item.avatarHandle, "resize=fit:clip,height:300,width:300/output=format:png", item.avatarMimeType)}}"
                  alt="{{item.name}}"
                >
              </picture>
            </div>
            <div class="speaker__info">
              {{ item.name }}
              <div class="speaker__company">{{ item.company }}</div>
            </div>
          </div>
          <div class="speaker__text">
            {{ item.bio | safe }}
					</div>
          
          {% if (item.socials.length) %}
          <ul class="speaker__socials">
            {% for social in item.socials %}
              <li class="speaker__social"><a href="{{social.link}}" target="_blank">{{own_mixins.icon(social.icon)}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div> #}

      
      <div class="fun__item" id="person-{{ item.slug }}">
        <div class="speaker graphcms-container" >
          <a href="#6" aria-label="{{item.name}}" class="speaker__link graphcms-container" {{ mixins.cmsData(person) }} onclick={{ eventsLayer.openDialog({name: 'speaker-card-offline' if inPerson else 'speaker-card', isAuth: isAuth, data: item | dump, values: 'name:' + item.name + ';', category: 'speaker-click', isAuth: not fakeLinks }) }}  ></a>
          <div class="speaker__header">
            <div class="speaker__avatar" style="--tagBG: {{item.tagBG}};">
              <picture class="js-lazy-image">
                <source srcset="{{mixins.imageUrl(item.avatarHandle, "resize=fit:clip,height:300,width:300/output=format:webp", item.avatarMimeType)}}" type="image/webp">
                <img src="{{mixins.imageUrl(item.avatarHandle, "resize=fit:clip,height:300,width:300/output=format:png", item.avatarMimeType)}}"
                  alt="{{item.alt}}"
                  width="{{item.width}}"
                >
              </picture>
            </div>
            <div class="speaker__info">
              <div class="speaker__addition">
                <div class="speaker__label" style="--tagBG: {{item.tagBG}}; color: {{item.color}};">{{item.label}}</div>

                {% if (item.socials.length) %}
                <ul class="speaker__socials">
                  {% for social in item.socials %}
                    <li class="speaker__social"><a href="{{social.link}}" target="_blank">{{own_mixins.icon(social.icon)}}</a></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="speaker__name">{{item.name}}</div>
              <div class="speaker__company">{{item.company}}</div>
            </div>
          </div>
          <div class="speaker__text">
            {{item.bio | safe}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</section>
