<header class="header js-header {% if innerPage %} is-inner {% endif %} {{ headerMod }} {{'_not-tito' if titoHeader == false }}">
  <div class="container">
    <div class="header__inner js-menu">
      <div class="header__logo">
        <a href="{% if logoPathToIntro %}#intro{% else %}/{% endif %}" class="logo{% if logoPathToIntro %} js-scroll-link{% endif %}">
          <span class="logo__icon">
            {{own_mixins.icon('logo')}}
          </span>
          <span class="logo__text">
            React Day Berlin
          </span>
        </a>
      </div>
      <div class="header__burger {{ 'hidden-iphone' if pages[pageKey] == pages.checkout or pages[pageKey] == pages.schedule }}">
        <div class="burger js-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="header__content">
        <div class="header__nav">
          <ul class="nav">
            {% for item in pages[pageKey].pageNavigation.headerNav %}
            <li class="nav__item">
              <a href="{{item.href}}" class="nav__link {% if item.scroll %} js-scroll-link {% endif %}">{{item.text}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="header__socials">
          {{mixins.socialsConf(conference)}}

        </div>
        {% if pages[pageKey] != pages.checkout %}
        <div class="header__btn">
          {% if pages[pageKey].pageSections.sections.prices %}
          <a href="{{ pagesPieceOfTexts.ticket__link }}" class="btn">Tickets</a>
          {% else %}
          <a href="{{ pagesPieceOfTexts.ticket__titoLink }}" class="btn">Tickets</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
