<section class="section section--inner">
  <div class="section__row">
    <div class="section__col-3 theme-bg" data-jq-clipthru="clipthru">

    </div>
    <div class="section__col-4">
      <div class="section__container">
        <div class="section__right"></div>
        <div class="section__left">
          <p>
            Practical
          </p>
          <p>
            hands-on
          </p>
          <p>
            courses
          </p>
        </div>
        <div class="section__title section__title--inner">
          <h2 class="section-title js-clip">{{ pagesPieceOfTexts.workshopsPaid__title | safe if pageKey == "workshops" else pagesPieceOfTexts.workshopsFree__title | safe }}</h2>
        </div>
        <div class="text-lg">
          {{ pagesPieceOfTexts.workshopsPaid__subtitle | safe if pageKey == "workshops" else pagesPieceOfTexts.workshopsFree__subtitle | safe }}
        </div>
        <div class="text-l">
          {{ pagesPieceOfTexts.workshopsPaid__desc | safe if pageKey == "workshops" else pagesPieceOfTexts.workshopsFree__desc | safe }}
        </div>
      </div>
    </div>
  </div>
  <div class="section__content">
    <div class="section__img">
      <img src="img/text.jpg" alt="Workshop">
    </div>
  </div>
  <div class="section__row">
    <div class="section__col-5"></div>
    <div class="section__col-6 theme-bg"></div>
  </div>
</section>
