<section class="section section--inner">
  <div class="section__row">
    <div class="section__col-3 theme-bg" data-jq-clipthru="clipthru">

    </div>
    <div class="section__col-4">
      <div class="section__container">
        <div class="section__right"></div>
        <div class="section__left">
          <p>
            Special Offers
          </p>
          <p>
            from Sponsors
          </p>
        </div>
        <div class="section__title section__title--inner">
          <h2 class="section-title section-title_thin-sm js-clip">Perks</h2>
        </div>
        <div class="text-lg">
          <p>
            Our sponsors welcome you and provide some virtual goodie bag gifts.
          </p>
        </div>
        <div class="text-l">
          <p>
            Check out sponsors' offers and choose those you like the most!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section__content">
    <div class="section__img">
      <img src="img/perks-bg.jpg" alt="Jobs">
    </div>
  </div>
  <div class="section__row">
    <div class="section__col-5"></div>
    <div class="section__col-6 theme-bg"></div>
  </div>
</section>
