<section class="section section--inner">
  <div class="section__row">
    <div class="section__col-3 theme-bg" data-jq-clipthru="clipthru">

    </div>
    <div class="section__col-4">
      <div class="section__container">
        <div class="section__right"></div>
        <div class="section__left">
          <p>
            Work with
          </p>
          <p>
            your favourite
          </p>
          <p>
            stack
          </p>
        </div>
        <div class="section__title section__title--inner">
          <h2 class="section-title section-title_thin-sm js-clip">Top React Jobs</h2>
        </div>
        <div class="text-lg">
          <p>
            You're a JavaScript developer and would love to work for a company supporting React community and getting technology stack serious?
          </p>
        </div>
        <div class="text-l">
          <p>
            Bright companies worldwide are looking for great React developers like you, or Front-end developers interested in getting hands-on experience with a modern stack in a real-world projects.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section__content">
    <div class="section__img">
      <img src="img/og-jobs.jpg" alt="Jobs">
    </div>
  </div>
  <div class="section__row">
    <div class="section__col-5"></div>
    <div class="section__col-6 theme-bg"></div>
  </div>
</section>
