<section class="location section js-section">
  <div class="section__row">
    <div class="section__col-1 theme-bg" data-jq-clipthru="clipthru"></div>
    <div class="section__col-2">
      <div class="location__map">
        <div id="map" style="position: relative; overflow: hidden;"></div>
        <script>
          function initMap() {
            var mapDiv = document.getElementById('map');

            var map = new google.maps.Map(mapDiv, {
              center: {
                lat: 52.520161,
                lng: 13.44195
              },
              zoom: 16,
              scrollwheel: false,
              disableDefaultUI: true,
            });

            var styles = [{
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [{
                "color": "#e9e9e9"
              },
                {
                  "lightness": 17
                }
              ]
            },
              {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [{
                  "color": "#f5f5f5"
                },
                  {
                    "lightness": 20
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [{
                  "color": "#ffffff"
                },
                  {
                    "lightness": 17
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [{
                  "color": "#ffffff"
                },
                  {
                    "lightness": 29
                  },
                  {
                    "weight": 0.2
                  }
                ]
              },
              {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [{
                  "color": "#ffffff"
                },
                  {
                    "lightness": 18
                  }
                ]
              },
              {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [{
                  "color": "#ffffff"
                },
                  {
                    "lightness": 16
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [{
                  "color": "#f5f5f5"
                },
                  {
                    "lightness": 21
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [{
                  "color": "#dedede"
                },
                  {
                    "lightness": 21
                  }
                ]
              },
              {
                "elementType": "labels.text.stroke",
                "stylers": [{
                  "visibility": "on"
                },
                  {
                    "color": "#ffffff"
                  },
                  {
                    "lightness": 16
                  }
                ]
              },
              {
                "elementType": "labels.text.fill",
                "stylers": [{
                  "saturation": 36
                },
                  {
                    "color": "#333333"
                  },
                  {
                    "lightness": 40
                  }
                ]
              },
              {
                "elementType": "labels.icon",
                "stylers": [{
                  "visibility": "off"
                }]
              },
              {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [{
                  "color": "#f2f2f2"
                },
                  {
                    "lightness": 19
                  }
                ]
              },
              {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [{
                  "color": "#fefefe"
                },
                  {
                    "lightness": 20
                  }
                ]
              },
              {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [{
                  "color": "#fefefe"
                },
                  {
                    "lightness": 17
                  },
                  {
                    "weight": 1.2
                  }
                ]
              }
            ];

            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(52.516761, 13.44998),
              map: map,
              title: 'Kosmos',
              icon: 'img/marker.svg',
              width: 48,
              height: 76
            });

            if (window.innerWidth < 600) {
              map.setCenter(new google.maps.LatLng(52.514761, 13.451));
            } else if (window.innerWidth < 1024) {
              map.setCenter(new google.maps.LatLng(52.517761, 13.451));
            } else if (window.innerWidth < 1200) {
              map.setCenter(new google.maps.LatLng(52.519161, 13.44795));
            } else {
              map.setCenter(new google.maps.LatLng(52.520161, 13.44195));
            }

            google.maps.event.addDomListener(window, 'resize', function () {
              if (window.innerWidth < 600) {
                map.setCenter(new google.maps.LatLng(52.514761, 13.451));
              } else if (window.innerWidth < 1024) {
                map.setCenter(new google.maps.LatLng(52.517761, 13.451));
              } else if (window.innerWidth < 1200) {
                map.setCenter(new google.maps.LatLng(52.519161, 13.44795));
              } else {
                map.setCenter(new google.maps.LatLng(52.520161, 13.44195));
              }
            });

            map.setOptions({
              styles: styles
            });
          }
        </script>

        <script async="" defer=""
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9OZ9xKEBkeoBw6hPjPzz13i0hZbT2LOs&amp;callback=initMap">
        </script>

      </div>
      <div class="section__container">
        <div class="section__title location__title">
          <h2 class="section-title js-clip js-title" id="location">{{ pagesPieceOfTexts.location__title | safe }}</h2>
        </div>
        <div class="text-lg">
          <p>
            {{ pagesPieceOfTexts.location__bold | safe }}
          </p>
        </div>
        <div class="text location__text">
          <p>
            {{ pagesPieceOfTexts.location__text | safe }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="location__info">
    <div class="location__visual js-lazy-bg" data-src="{{ pagesPieceOfTexts.llabel__url }}">
      <div class="location__label">
        <div class="llabel">
          <div class="llabel__title">{{ pagesPieceOfTexts.llabel__title | safe }}</div>
          <div class="llabel__text">{{ pagesPieceOfTexts.llabel__text | safe }}</div>
        </div>
      </div>
    </div>
    <div class="location__form">
      <div class="sform">
        <div class="sform__title">{{ pagesPieceOfTexts.sform__title | safe }}</div>
        <div class="sform__social">
          <ul class="ssocial">
            <li class="ssocial__item"><a href="{{ conference.mediumUrl }}" target="_blank" class="ssocial__link"><span class="ssocial__icon">{{own_mixins.icon('medium')}}</span>Medium</a></li>
            <li class="ssocial__item"><a href="{{ conference.twitterUrl }}" target="_blank" class="ssocial__link"><span class="ssocial__icon">{{own_mixins.icon('twitter')}}</span>Twitter</a></li>
            <li class="ssocial__item"><a href="{{ conference.facebookUrl }}" target="_blank" class="ssocial__link"><span class="ssocial__icon">{{own_mixins.icon('facebook')}}</span>Facebook</a></li>
            <li class="ssocial__item"><a href="{{ conference.youtubeUrl }}" target="_blank" class="ssocial__link"><span class="ssocial__icon">{{own_mixins.icon('youtube')}}</span>Youtube</a></li>
          </ul>
        </div>
        <form
          action="//berlin.us16.list-manage.com/subscribe/post?u=758c0674ffe4534fb43018af8&id=f04c591737"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_blank"
          novalidate
        >
          <div class="sform__field">
            <input
              class="sform__input required email"
              type="email"
              required
              placeholder="Your E-mail address"
              name="EMAIL"
              value=""
              id="mce-EMAIL"
            >
            <div class="sform__btn">
              <button class="bbtn" type="submit">subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>
