<section class="speakers section js-section" id="past-speakers">
	<div class="section__row">
		<div class="section__col-1">
		</div>
		<div class="section__col-2 theme-bg" data-jq-clipthru="clipthru">
			<div class="section__container">
				<div class="section__title speakers__title">
					<h2 class="section-title js-clip js-title">{{ pagesPieceOfTexts.pastSpeakers__title | safe }}</h2>
				</div>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="speakers__list">


			{% for person in pastSpeakers[pageKey] %}
			<div class="speakers__item" id="person-{{person.slug}}-id">
				<div class="speaker ">
					<a aria-label="{{person.name}}" href="#person-{{person.slug}}" class="speaker__link graphcms-container" {{ mixins.cmsData(person) }} onclick={{ eventsLayer.openDialog({name: 'speaker-card-offline' if inPerson else 'speaker-card' , isAuth: isAuth, data: person | dump, values: 'name:' + person.name + ';' , category: 'speaker-click' , isAuth: not fakeLinks }) }}></a>
					<div class="speaker__header">
						<div class="speaker__avatar" style="--tagBG: {{person.tagBG}};">

							<picture>
								<img src="{{person.avatarSizes['600'] if person.avatarSizes else person.avatar}}" alt="{{person.slug}}" loading="lazy" />
							</picture>

						</div>
						<div class="speaker__info">
							<div class="speaker__addition">
								<div class="speaker__label" style="--tagBG: {{person.tagBG}}; color: {{person.color}};">{{person.label}}</div>

								{% if person.socials.length %}
								<ul class="speaker__socials">
									{% for social in person.socials %}
									<li class="speaker__social">
										<a aria-label="{{(person.name + ' talks and workshops at GitNation portal' if social.icon == 'portal') or (person.name + ' twitter' if social.icon == 'tw') or (person.name + ' github' if social.icon == 'gh') or (person.name + ' personal site' if social.icon == 'site') or (person.name + ' mastodon' if social.icon == 'med') or (person.name + ' bluesky' if social.icon == 'bluesky')}}" href="{{social.link}}" target="_blank">{{own_mixins.icon(social.icon)}}</a>
									</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
							<div class="speaker__name">{{person.name}}</div>

							{% if (person.companyWithCountry) and (person.companyWithCountry !== 'null, null') %}
							<div class="speaker__company">


								{{person.companyWithCountry}}
							</div>
							{% endif %}
						</div>
					</div>


					{% for talks in person.activities.allTalks %}
					{% if talks.category === 0 %}
					<div class="speaker__talk"><span>Talk:</span> <a href="https://gitnation.com/contents/{{talks.url}}" target="_blank">{{talks.title | safe}}</a></div>

					{% elif talks.category === 2 %}
					<div class="speaker__talk"><span>Workshop:</span> <a href="https://gitnation.com/contents/{{talks.url}}" target="_blank">{{talks.title | safe}}</a></div>
					{% endif %}
					{% endfor %}


					{% if person.shortBio or person.bio %}
					<div class="speaker__text">{{(person.shortBio or person.bio) | safe}}</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}



			{% if pages[pageKey].pageSections.pastSpeakersMore %}
			<div class="speakers-list__item speakers-list__item_more">
				<div class="speaker__name">{{ pages[pageKey].pageSections.pastSpeakersMore.title | safe}}</div>
				<div class="speaker__company">{{ pages[pageKey].pageSections.pastSpeakersMore.desc | safe }}</div>
				{% if pages[pageKey].pageSections.pastSpeakersMore.link %}
				<a class="btn" href="{{pages[pageKey].pageSections.pastSpeakersMore.link }}">{{ pages[pageKey].pageSections.pastSpeakersMore.linkText}}</a>
				{% endif %}
			</div>
			{% endif %}


		</div>
	</div>
</section>