<section class="speakers section js-section" id="speakers">
  <div class="section__row">
    <div class="section__col-1">
    </div>
    <div class="section__col-2 theme-bg" data-jq-clipthru="clipthru">
      <div class="section__container">
        <div class="section__title speakers__title">
          <h2 class="section-title js-clip js-title">{{ pagesPieceOfTexts.speakers__title | safe }}</h2>
        </div>
        <div class="text-lg white-color">
          <p>
            {{ pagesPieceOfTexts.speakers__text | safe }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="speakers__list">
      {% if (pages[pageKey].pageSections.cfp) %}
      <div class="speakers__item speakers__item_cfp" id="person-{{ item.slug }}">
        <div class="speaker">
          <div class="speaker__header">
            <div class="speaker__info">
              <div class="speaker__name">{{ pagesPieceOfTexts.cfp__title | safe }}</div>
              <div class="speaker__company">{{ pagesPieceOfTexts.cfp__desc | safe }}</div>
            </div>
          </div>
          <div class="speaker__text">
            {% if pagesPieceOfTexts.cfp__link %}
            <a class="btn" href="{{ pagesPieceOfTexts.cfp__link }}" target="_blank">{{ pagesPieceOfTexts.cfp__linkText }}</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      {% for person in speakers[pageKey] %}
      <div class="speakers__item" >
        <div class="speaker "  >
          <a aria-label="{{person.name}}" href="#6" class="speaker__link graphcms-container" {{ mixins.cmsData(person) }} onclick={{ eventsLayer.openDialog({name: 'speaker-card-offline' if inPerson else 'speaker-card', isAuth: isAuth, data: person | dump, values: 'name:' + person.name + ';', category: 'speaker-click', isAuth: not fakeLinks }) }}></a>
          <div class="speaker__header">
            <div class="speaker__avatar" style="--tagBG: {{person.tagBG}};">
              <picture class="js-lazy-image">
                <source srcset="{{mixins.imageUrl(person.avatarHandle, "resize=fit:clip,height:300,width:300/output=format:webp", person.avatarMimeType)}}" type="image/webp">
                <img src="{{mixins.imageUrl(person.avatarHandle, "resize=fit:clip,height:300,width:300/output=format:png", person.avatarMimeType)}}"
                  alt="{{person.alt}}"
                  width="{{person.width}}"
                >
              </picture>
            </div>
            <div class="speaker__info">
              <div class="speaker__addition">
                <div class="speaker__label" style="--tagBG: {{person.tagBG}}; color: {{person.color}};">{{person.label}}</div>

                {% if (person.socials.length) %}
                <ul class="speaker__socials">
                  {% for social in person.socials %}
                    <li class="speaker__social">
                      <a aria-label="{{(person.name + ' talks and workshops at GitNation portal' if social.icon == 'portal') or (person.name + ' twitter' if social.icon == 'tw') or (person.name + ' github' if social.icon == 'gh') or (person.name + ' personal site' if social.icon == 'site') or (person.name + ' mastodon' if social.icon == 'med')}}" href="{{social.link}}" target="_blank">{{own_mixins.icon(social.icon)}}</a>
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="speaker__name">{{person.name}}</div>
              <div class="speaker__company">{{person.company}}</div>
            </div>
          </div>
          {% if (person.activities.talks[0].title) %}
          <div class="speaker__talk">
            <span>Talk:</span> {{person.activities.talks[0].title | safe}}
          </div>
          {% endif %}
          <div class="speaker__text">
            {{person.bio | safe}}
          </div>
        </div>
      </div>
      {% endfor %}

      {% for announcedSoon in range(0, customContent.eventInfo.tbaSpeakersNumber) %}
        {% set smilesRandom = range(0,10) | random %}

        <div class="speakers__item">
          <div class="speaker ">
            <div class="speaker__header">
              <div class="speaker__avatar">
                <picture class="js-lazy-image">
                  <source srcset="img/smiles/smile_index_{{smilesRandom}}.webp" type="image/webp">
                  <img src="img/smiles/smile_index_{{smilesRandom}}.jpg" alt="to-be-announced-soon">
                </picture>
              </div>
              <div class="speaker__info">
                <div class="speaker__name">TO BE ANNOUNCED SOON</div>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}

      {% if (pages[pageKey].pageSections.speakersMore) %}
      <div class="speakers__item speakers__item_cfp" >
        <div class="speaker">
          <div class="speaker__header">
            <div class="speaker__info">
              <div class="speaker__name">{{ pagesPieceOfTexts.speakersMore__title | safe }}</div>
              <div class="speaker__company">{{ pagesPieceOfTexts.speakersMore__desc | safe }}</div>
            </div>
          </div>
          <div class="speaker__text">
            {% if pagesPieceOfTexts.speakersMore__link %}
            <a class="btn" href="{{ pagesPieceOfTexts.speakersMore__link }}">{{ pagesPieceOfTexts.speakersMore__linkText }}</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}


    </div>
  </div>
</section>
