<section class="sponsors section js-section" id="sponsors">
  <div class="section__row">
    <div class="section__col-1"></div>
    <div class="section__col-2 theme-bg" data-jq-clipthru="clipthru">
      <div class="section__container">
        <div class="section__title sponsors__title">
          <h2 class="section-title js-clip js-title" id="sponsors">{{ pagesPieceOfTexts.sponsors__title }}</h2>
        </div>
        <div class="text white-color">
          {{ pagesPieceOfTexts.sponsors__text | safe }}
        </div>
        <div class="sponsors__link">
          {{ pagesPieceOfTexts.sponsors__packages | safe }}
        </div>
      </div>
    </div>
  </div>
  <div class="sponsors__items">
    {{mixins.sponsors(sponsors, isAuth, eventsLayer, ga_mixins)}}
  </div>
</section>