<section class="section s-video-rooms" id="video-rooms">
  <div class="container">
    <h3 class="section__title">{{ mixins.text(pieceOfTexts, 'videorooms__title') }}</h3>
    <h4 class="section__subtitle">{{ mixins.text(pieceOfTexts, 'videorooms__subtitle') }}</h4>
    asdasdasd

    <div class="video-rooms">
      {% for item in customContent.videoRooms %}
      {# TODO: please turn this d i v into button #}

      <div class="video-rooms__item {{ 'hoverable' if not (pageKey == 'main') }}"
        {% if not (pageKey == 'main') %}
          onclick={{ eventsLayer.openDialogSecure({name: 'video-room', isAuth: not fakeLinks, data: item | dump, link: item.roomLink, payload: item | dump, values: 'name:' + item.roomLinkText + ';', category: 'video-room-click' }) }}
        {% endif %}
        >

        <div class="video-rooms__head">
          <div class="video-rooms__img-wrap">
            <img class="video-rooms__img" src="{{item.pic.url}}">
          </div>

          <div class="video-rooms__title">{{ item.roomLinkText }}</div>
        </div>

        {% if item.speakers.length %}
        <div class="video-rooms__mid">
          <div class="video-rooms__users">
            {% for speaker in item.speakers %}
            <div class="video-rooms__user">
              <img class="video-rooms__avatar" src="{{ speaker.avatar.url }}">
              <p class="video-rooms__name">{{ speaker.name }}</p>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="video-rooms__bottom">
          <div class="video-rooms__date">{{ item.date }}</div>
          <div class="video-rooms__btn btn">Open</div>
        </div>
        {% endif %}

      </div>
      {% endfor %}
    </div>
  </div>
</section>
