<section class="welcome section">
  <div class="welcome__dots">
    <img src="img/welcome-dots.svg" alt="dots">
  </div>
  <div class="section__row">
    <div class="section__col-1 theme-bg" data-jq-clipthru="clipthru">

    </div>
    <div class="section__col-2">
      <div class="welcome__svg">
        <div class="clip-svg js-clip">{{own_mixins.icon('hand-w')}}</div>
      </div>

      <div class="section__container">
        <div class="welcome__addition">
          {{ pagesPieceOfTexts.welcome__addition | safe }}
        </div>
        <div class="section__title welcome__title">
          <h2 class="section-title js-clip">{{ pagesPieceOfTexts.welcome__title | safe }}</h2>
        </div>
        <div class="text-lg">
          {{ pagesPieceOfTexts.welcome__bold | safe }}
        </div>
        <div class="text">
          {{ pagesPieceOfTexts.welcome__text | safe }}
        </div>
      </div>
    </div>
  </div>
</section>
