<section class="workshop section js-section" id="workshops">
  <div class="section__row">
    <div class="section__col-1"></div>
    <div class="section__col-2 theme-bg" data-jq-clipthru="clipthru">
      <div class="section__container section__container--sm">
        <div class="section__title workshop__title">
          <h2 class="section-title js-clip js-title" id="workshops">{{ pagesPieceOfTexts.workshops__title }}</h2>
        </div>
        <div class="text-lg white-color">
          {{ pagesPieceOfTexts.workshops__text | safe }}
        </div>
        <div class="workshop__link">
          {{ pagesPieceOfTexts.workshops__programm | safe }}
        </div>
      </div>
    </div>
  </div>
</section>
