.btn
  box-sizing: border-box
  display: flex
  cursor: pointer
  text-align: center
  background-color: $themeColor
  background: transparent
  padding: 16px 20px
  align-items: center
  justify-content: center
  text-transform: uppercase
  font-size: 14px
  +bold
  color: $white
  text-decoration: none
  transition: color, border-color, background ease 0.3s
  transform: translateZ(0) perspective(1px)
  backface-visibility: hidden
  -webkit-font-smoothing: subpixel-antialiased
  -webkit-backface-visibility: hidden
  border: 3px solid $themeColor
  border-radius: 26px
  &:focus-visible
    outline-width: 3px !important
  &:hover, &:focus-visible

    background-color: $themeColor

  +tablet
    padding: 15px 20px

  &--white
    border-color: $white

    &:hover, &:focus-visible
      color: $mainBg
      background-color: $white

  &--gradient
    border: 2px solid transparent
    color: #000
    font-size: 14px

    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 0
      z-index: -2
      background: linear-gradient(145deg, $themeColor, $themeColorD)
      animation: AnimationName 5s linear infinite

    &:before
      transition: 0.2s
      content: ''
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 0
      z-index: -1
      background: linear-gradient(145deg, $themeColorD, $themeColor)
      animation: AnimationName 5s linear infinite

    &:hover, &:focus-visible
      &:before
        opacity: 0
    +tablet
      padding: 19px 23px

  &--green
    color: $themeColor

    &:hover, &:focus-visible
      color: $white

  &--transparent
    border: 2px solid transparent
    background-color: transparent
    color: $themeColor

    &:hover, &:focus-visible
      background: transparent
      border: 3px solid $themeColor

  &--huge
    border: none
    color: $black
    height: clamp(56px, 10vw, 152px)
    padding: 20px 6vw
    margin: clamp(40px, 4vw, 80px) auto
    font-size: clamp(22px, 5vw, 72px)
    background: transparent
    overflow: hidden
    border-radius: 80px
    border: 4px solid $themeColor
    transition: all ease 0.1s

    .icon
      color: $black
      fill: $black
      width: clamp(35px, 8vw, 113px)
      height: 60px
      margin-left: clamp(30px, 5vw, 96px)
      transition: all ease 0.1s

    // &:after
    //   content: ''
    //   position: absolute
    //   left: 0
    //   top: 0
    //   bottom: 0
    //   right: 0
    //   z-index: -2
    //   background: linear-gradient(145deg, $themeColorD, $themeColorD)
    //   animation: AnimationName 5s linear infinite

    // &:before
    //   transition: 0.2s
    //   content: ''
    //   position: absolute
    //   left: 0
    //   top: 0
    //   bottom: 0
    //   right: 0
    //   z-index: -1
    //   background: linear-gradient(145deg, $themeColor, $themeColor)
    //   animation: AnimationName 5s linear infinite

    &:hover, &:focus-visible
      background: $themeColor
      color: #fff

      .icon
        fill: #fff


    +tablet
      padding: 15px 23px
  &--border
    border: 3px solid $themeColor
    color: $black
    font-size: 14px
    background: transparent

    &:hover, &:focus-visible
      color: #000
      &:before
        opacity: 0

    +tablet
      padding: 15px 23px

.icon-link
  color: #fff
  .icon
    font-size: 18px
    fill: $white

.theme-link
  font-size: 14px
  color: $themeColor
  text-transform: uppercase
  text-decoration: none
  &:hover
    text-decoration: underline



.is-hidden
  display: none
