.footer
	background: $mainBg
	padding: 0

	&__socials
		margin-bottom: 88px
		+laptop
			margin-bottom: 40px
		+sm
			margin-bottom: 31px
		.social
			&__link
				display: flex
				width: clamp(50px, vw(145px), 145px)
				height: clamp(50px, vw(145px), 145px)
				border-radius: 50%
				border: 3px solid $themeColor
				align-items: center
				justify-content: center
				transition: color, background ease 0.2s

				&:hover
					background: $themeColor

					.icon
						fill: #fff
				.icon
					width: clamp(26px, vw(46px), 46px)
					height: clamp(26px, vw(46px), 46px)
					display: block
	&__main
		padding: clamp(50px, vw(150px), 150px) 0
		display: flex
		flex-direction: column
		align-items: center

	&__title
		& > span
			color: $white

	&__basement
		background-image: url(../img/bg-heads_theme.svg)
		background-repeat: repeat-x
		background-position: top center
		animation: translateBG 50s linear infinite
		padding: 90px 20px 89px
		display: flex
		justify-content: center

		+xs
			padding: 72px 20px 67px
			background-size: cover

.f-logo
	color: $white
	text-decoration: none
	display: flex
	align-items: center

	&__label
		font-size: 20px
		margin-right: 47px
		+xs
			font-size: 18px
			margin-right: 20px
	&__icon
		width: 71px
		+xs
			width: 56px
		img
			width: 100%
	&__author
		color: $white
		text-decoration: none
		font-size: 36px
		margin-left: 26px
		&:hover
			text-decoration: underline
		+xs
			font-size: 20px
			margin-left: 15px

.f-nav
	display: flex
	font-size: 16px
	+sm
		display: block
		text-align: center
	&__item
		&:not(:last-child)
			margin-right: 45px
			+md
				margin-right: 15px
			+sm
				margin-right: 0
				margin-bottom: 10px
	&__link
		color: $white
		text-decoration: none
		transition: 0.3s
		.no-touch &:hover
			text-decoration: underline

@keyframes translateBG
	0%
		background-position: 0 0
	100%
		background-position: -1142px 0
