
.s-prices
  position: relative
  .container
    max-width: 1280px
  .section__title
    line-height: .9
    font-size: clamp(44px,8vw,48px)
    text-transform: uppercase
    font-weight: 700
    text-align: left
    margin-bottom: 50px
    white-space: nowrap
    +sm
      margin-bottom: 35px

.prices-swiper
  .swiper-slide
    width: 384px
    +md
      width: 360px
    +sm
      width: 302px
    +xxxs
      width: 280px
  .swiper-container
    +laptop
      overflow: visible

.prices-item
  position: relative
