.social
	display: flex
	align-items: center
	&__item
		&:not(:last-child)
			margin-right: 20px
	&__link
		display: block
		.icon
			fill: $white
			transition: 0.3s
			height: 13px
			display: block
		.no-touch &
			&:hover
				.icon
					fill: $themeColor
