.s-workshops-list
  padding: 100px 0

  .container
    max-width: 1260px

  &__top
    display: flex
    justify-content: space-between
    margin-bottom: clamp(24px, 4vw, 42px)

    +sm
      flex-direction: column

    .section
      &__title
        text-align: left
        text-transform: uppercase
        line-height: 0.88
        font-weight: 900
        font-size: clamp(38px, 6vw, 84px)
        margin-bottom: 38px

      &__subtitle
        max-width: none
        text-align: left
        line-height: 1.48
        margin: 24px 0
        font-weight: 400
        font-size: clamp(14px, 4vw, 16px)

      &__info
        max-width: none
        text-align: left
        line-height: 1.48
        margin: 24px 0
        font-weight: 400
        font-size: clamp(14px, 4vw, 16px)

        p
          &:not(:first-child)
            margin: 4px 0 0

  &__desc
    max-width: 600px
    width: 100%
    flex: 1 1 auto

  &__img
    max-width: 490px
    width: 100%
    flex: 1 1 auto
    margin-top: 5px
    margin-left: 40px

    +sm
      max-width: 520px
      margin: 0 auto

.workshops-imgs
  position: relative
  width: 100%
  display: grid
  flex-wrap: wrap
  grid-template-columns: 1fr 1fr 1fr
  gap: 5px

  &__item
    position: relative
    aspect-ratio: 1.77

    img
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      object-fit: cover
      display: block
      border-radius: 10px

.workshops-list

  &__item
    display: flex
    padding: 26px 0

    &:not(:first-child)
      border-top: 2px solid $gray2

    +sm
      flex-direction: column

  &__item-overlay
    display: flex
    width: 100%
    cursor: pointer

    +sm
      flex-direction: column

    &:hover
      .workshops-list__title
        text-decoration: underline !important

  &__type
    flex: 0 0 42px
    color: $gray
    font-size: 10px
    text-transform: uppercase
    font-weight: 500

    +sm
      flex: 1 1 auto
      margin: 0 0 10px

  &__info
    flex: 1 1
    padding-right: 20px

  &__title
    font-size: clamp(22px, 2.6vw, 28px)
    font-weight: 900
    line-height: 1.1
    text-transform: uppercase
    color: $white

  &__desc
    display: none

  &__date
    font-size: 12px
    margin: 10px 0 0

  &__speakers
    display: flex
    flex-direction: column
    flex: 0 0 180px
    gap: 5px
    padding-right: 20px

    +sm
      flex-direction: row
      flex: 1 1 auto
      margin: 18px 0
      gap: 20px 20px

  &__speaker
    display: flex
    align-items: center

  &__speaker-photo
    width: 40px
    height: 40px
    border-radius: 4px
    margin: 0 12px 0 0

  &__speaker-name
    font-size: 12px

  &__buttons
    flex: 0 0 150px
    display: flex
    flex-direction: column
    gap: 5px

    .btn
      padding: 3px 15px
      min-height: 40px

      &:last-child
        margin-bottom: -10px

    +sm
      flex: 1 1 auto
      flex-direction: row
      flex: 1 1 auto
      margin: 0
      gap: 10px
