<section class="section s-dates" id="dates" {{ editable(datesData) }}>
	<div class="container">
		<div class="dates-container {{'swiper-container js-slider-auto' if isDatesSlider }}">
			<div class="dates {{'swiper-wrapper' if isDatesSlider }}">
				{% for item in datesData %}
				<div class="dates__item {{'swiper-slide' if isDatesSlider }}" {{ editable(item) }}>
					<div class="date">
						{% if item.backgroundImage %}
						<div class="date__bg" style="background-image: url({{ item.backgroundImage.url }})"></div>
						{% endif %}
						<div class="date__inner">
							{% if item.date %}
							<div class="date__date">{{ item.date | safe }}</div>
							{% endif %}

							{% if item.title %}
							<h3 class="date__title">{{ item.title | safe }}</h3>
							{% endif %}

							{% if item.description %}
							<div class="date__info">{{ item.description | safe }}</div>
							{% endif %}
						</div>
					</div>
					{% if not loop.last %}
					<div class="dates__icon">{{ mixins.icon('plus') }}</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>