{% if datesData.length %}
<section class="section s-dates" id="dates" {{ editable(datesData) }}>
	<div class="container">
		<div class="swiper js-slider-auto dates-slider">
			<div class="swiper-wrapper">
				{% for item in datesData %}
				<div class="swiper-slide dates-slider__item" style="{{ ('--date-color:' ~ item.settings.color) if item.settings.color }}">
					<div class="dates-slider__date">
						{{item.date | safe}}
					</div>
					<div class="dates-slider__pin"></div>
					<div class="dates-slider__body">
						{% if item.settings.logo %}
						<div class="dates-slider__logo">
							<a href="{{item.settings.logoUrl}}" target="_blank">
								<img src="{{item.settings.logo}}" alt="{{item.title}}" />
							</a>
						</div>
						{% endif %}
						<div class="dates-slider__title">{{item.title | safe}}</div>
						<div class="dates-slider__text">{{item.description | safe}}</div>

					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endif %}
