{% set feedbacksTypes = (payload.pages[pageKey].sections | join(',', 'blockType')).split(',') %}
{% set feedbacksAnchor = 'lineUp' if 'lineUp' in feedbacksTypes else 'features' %}

{% if section.blockType == feedbacksAnchor and payload.settings.feedbacks %}
{% set feedbacksData = payload.settings.feedbacks %}
<section class="section">
	<div class="container">
		<div class="feedback-block" style="background-image: url({{ feedbacksData.bgImg.url }})">
			{% for feedback in feedbacksData.items %}
			<div class="feedback-item">
				<h4 class="feedback-item__title">
					{{ feedback.title }}
				</h4>

				<div class="feedback-item__user ">
					<div class="feedback-item__user-img">
						<img src="{{ feedback.author.avatar.url }}" alt="" {{ svgSize(feedback.author.avatar) }} />
					</div>
					<div class="feedback-item__user-content">
						<div class="feedback-item__user-name">{{ feedback.author.name }}</div>
						<div class="feedback-item__user-text">{{ feedback.author.country }}</div>
					</div>
				</div>

				<div class="feedback-item__text payload-richtext">
					{{ feedback.text | safe }}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
