<section class="section sec-articles" {{ editable(preEventData) }}>
	<div class="container">
		{% if preEventData.title %}
		<h2 class="sec-articles__title">{{ preEventData.title }}</h2>
		{% endif %}
		{% if preEventData.description %}
		<div class="sec-articles__description">{{ preEventData.description | safe }}</div>
		{% endif %}


		<div class="articles">
			{% for item in preEventData.items %}
			<div class="article graphcms-container" {{ mixins.cmsData(item) }} {{ editable(item) }}>
				<div class="article__inner">
					<div class="article__img">
						<img src="{{item.image.url}}" alt="{{item.title}}" />
					</div>
					<div class="article__content">
						<div class="article__title">{{item.title | safe}}</div>
						<div class="article__description">{{item.description | safe}}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>