<section class="section s-techs hide-sm" id="techs" {{ editable(techsData) }}>
	<div class="container">
		{% if techsData.title %}
		<div class="section__head">
			<h2 class="section__title">{{ techsData.title }}</h2>
		</div>
		{% endif %}

		<ul class="techs scrollbar">
			{% for item in techsData.items %}
			<li class="techs__item" {{ editable(item) }}>
				<div class="techs__img-box">
					<picture>
						<img class="techs__img" src="{{ item.icon.url }}" alt="{{ item.title }}" role="presentation" />
					</picture>
				</div>
				<div class="techs__title">{{ item.title | safe }}</div>
			</li>
			{% endfor %}
		</ul>

		{% if techsData.description %}
		<div class="s-techs__description">{{ techsData.description | safe }}</div>
		{% endif %}
	</div>
</section>