{% set trainersGroup = trainersGroup | default('all') %}

<section class="section s-trainers " id="trainers" data-suptitle="trainers">
	<div class="container">
		<div class="section__head">
			<h2 class="section__title">{{ trainersTitle | default('Trainers') }}</h2>
		</div>

		<div class="speakers-list">
			{% for person in ems.trainers %}
			{% if trainersGroup == 'all' or person[trainersGroup] %}
			<div class="speakers-list__item" id="person-{{ person.slug }}-id">
				{{ mixins.speaker(person, inPerson, eventsLayer, not fakeLinks, id="person", confName = confName) }}
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</section>