.s-sponsors-offers
	padding: 120px 0 120px
	+md
		padding: 80px 0 80px
	+sm
		padding: 60px 0 60px

.sponsors-offers
	display: flex
	padding: 0
	margin: 68px auto 0
	max-width: 1465px
	overflow-x: auto

	+sm
		margin: 0 -20px 0 -20px
		padding: 0 10px

	&__item
		min-width: 260px
		width: 20%
		box-sizing: border-box
		border: 4px solid #2e2e2c
		background: #191917
		padding: 0 30px 60px
		margin: 0 15px 20px
		display: flex
		flex-direction: column

		&:first-child
			margin-left: 0

		+md
			margin: 0 10px 20px 10px
			padding: 0 30px 30px

		+sm
			margin: 0 5px 10px 5px
			padding: 0 20px 20px

	&__img-wrap
		height: 184px
		display: flex
		padding: 0 0
		border-bottom: 2px solid #2e2e2c

	&__img
		max-width: 100%
		height: auto
		max-height: 100px
		margin: auto

	&__desc
		font-size: 18px
		padding: 34px 0 43px
		line-height: 1.4
		+tablet
			font-size: 18px

		a
			color: $themeColor


	&__btn
		min-height: 60px
		padding: 10px 10px
		font-size: 14px
		color: $themeColor
		margin: 0 20px
		margin: auto 20px 0
		+tablet
			padding: 10px 10px

		+md
			margin: auto 0 0

