---
pageKey: main
headerBtn: true
headerBurger: true
sponsorsDescription: true
fakeLinks: true

animationOnScroll: _anim-items

ogImage: https://c3fest.com/img/ogImage.jpg
ogUrl: https://c3fest.com/
---

{% extends "layouts/_layout.html" %}

{% block heroScript %}
{% include "partials/_script-hero-buttons.html" %}
{% endblock %}

{% block content %}

{% include "partials/_headerV2.html" %}


<div class="main js-main">
  {% include "parts/_hero.html" %}


  {% if pages[pageKey].pageStatistics.eventStats %}
  {% set eventStats = pages[pageKey].pageStatistics.eventStats %}
  {% include "parts/_numbers.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.dates %}
  {% include "partials/_dates.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.features %}
  {% include "partials/_features-grid.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.contact %}
  {% set maproot = true %}
  {% include "partials/_contact-formV2.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.event %}
  {% include "partials/_event.html" %}
  {% endif %}


  {% if pages[pageKey].pageSections.speakers %}
  {% include "partials/_speakers.html" %}
  {% endif %}

  {% if pages[pageKey].pageStatistics.eventStats2 %}
  {% set eventStats = pages[pageKey].pageStatistics.eventStats2 %}
  {% include "parts/_numbers.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.artists %}
  {% include "parts/_artists.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.MCs %}
  {% include "partials/_mcs.html" %}
  {% endif %}


  {% if pages[pageKey].pageSections.schedule %}
  <div class="schedule-btn-wrap" id="schedule">
    <div class="container">
      <a class="btn btn--huge" href="{{ pagesPieceOfTexts.scheduleBtn__linkInPerson if inPerson else pagesPieceOfTexts.scheduleBtn__link }}">
        {#{{ pagesPieceOfTexts.scheduleBtn__text | safe }} {{mixins.icon('arrow-big')}}#}
        festival SCHEDULE >
      </a>
    </div>
  </div>
  {% endif %}

  {% if pages[pageKey].pageSections.committee %}
  {% include "partials/_committee.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.workshopsList %}
  {% include "parts/_workshops-list.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.multipass %}
  {% include "partials/_multipassV2.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.prices %}
  {% include "partials/_pricesV3.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.banner %}
  {% include "partials/_banner.html" %}
  {% endif %}

  {% if customContent.videoRooms and pages[pageKey].pageSections.videoRooms %}
  {% include "partials/_video-rooms.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.location %}
  {% include "parts/_location.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.forBoss %}
  {% include "partials/_for-boss.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.sponsors %}
  {% include "partials/_sponsors.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.givingBack %}
  {% include "partials/_back-to-community.html" %}
  {% endif %}

  {% include "partials/_footerV3.html" %}

  {% if pages[pageKey].pageSections.popupSubscription %}
  {% include "partials/_popup-subscription.html" %}
  {% endif %}
</div>

{% include "partials/_price-increase.html" %}
{% include "partials/_notice-panel.html" %}


{% endblock %}
