---
pageKey: schedule
headerBtn: true
sponsorsDescription: true
fakeLinks: true
inPerson: true
remoteSwitchLink: schedule
timeZone: Europe/London

ogImage: https://aicodingsummit.com/img/ogImage.png
ogUrl: https://aicodingsummit.com/
canonicalUrl: singapore/schedule-offline
---

{% extends "layouts/_layout.html" %}

{% block content %}

<div class="main js-main">
	{% include "partials/_hero-inner.html" %}

	{% include "partials/_scheduleV2.html" %}

</div>

{% include "partials/_footerV3.html" %}

{% endblock %}