\:root
	--accentColor: #fef502
	--bodyColor: #fff

	--button-background: #fef502
	--button-background-hover: #fff
	--button-color: #181818
	--button-color-hover: #181818

	--price-increase-bg: #212121
	--price-increase-color: #fff

	--checkout-section-bg: #181818
	--checkout-section-color: #fff
	--checkout-section-secondary-color: #949494
	--checkout-outline-color: #3e3e3e
	--checkout-card-bg: #262626

	--price-color: #fff
	--price-item-bg: #212121
	--price-item-border: #363636

	--workshop-item-ff: 'Manrope'
	--workshop-item-type-radius: 100px
	--workshop-item-color: #fff
	--workshop-item-color-hover: #fff
	--workshop-item-border: #5A5A5A
	--workshop-item-bg: #5A5A5A
	--workshop-item-type-bg: #fff
/*----- COLORS -----*/

$mainBg: #212121
$mainBg2: #353535
$themeColor: #fef502
$themeColor2: #fef502
$themeColorD: #fef502
$white: #ffffff
$grayD: #8D8D8D
$gray: #424242
$grayL: #eaeaec
$black: #353535

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 49px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- SWITCH -----*/
$switchColor: $black
$switchHandler: $black

// end SWITCH
