.hero
  position: relative
  min-height: 100vh
  padding: 30px 0 80px
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  background-color: #1e2220
  z-index: 1
  pointer-events: none

  +tablet
    padding: 45px 0 105px
  +md
    padding: 60px 0 80px
  +sm
    padding: 40px 0 40px

  &__video
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: -1
    +r(899)
      display: none

  &__bg
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: -1
    // background: url(../img/screens-done-op.svg) center center no-repeat
    background-size: cover

  &__inner
    width: 1566px
    //margin: 0 auto
    padding: 40px 40px
    position: relative
    z-index: 2
    pointer-events: none
    +r(1460)
      padding: 30px 80px
    +r(1279)
      padding: 20px 40px
    +sm
      padding: 0 20px
    +xs
      padding: 0 15px

  &__logo
    width: 148px
    height: auto
    margin: 0 auto 82px
    +tablet
      margin: 0 auto 62px
      width: 148px
    +md
      margin: 0 auto 32px

  &__suptitle
    font-size: clamp(12px, 3vw, 18px)
    margin-bottom: 67px
    text-align: center
    +tablet
      margin-bottom: 48px
    +md
      margin-bottom: 28px
    +xs
      margin-bottom: 13px
  &__title
    font-size: clamp(24px, 5.7vw, 53px)
    letter-spacing: -0.03em
    line-height: 1.1
    text-align: center
    margin-bottom: 68px
    +md
      margin-bottom: 32px
    +sm
      margin-bottom: 20px

  &__btn
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 10px 20px

    .btn
      min-width: 200px
      pointer-events: auto
      +xs
        flex: 1
        min-width: 180px

  &__partner
    position: absolute
    right: 10px
    top: 0
    font-size: 11px
    line-height: 1.4
    pointer-events: auto

    +tablet
      font-size: 14px
      right: 20px

    +md
      display: flex
      flex-direction: column
      align-items: center
      position: relative
      right: 0
      margin: 20px auto 0

  &__partners
    display: flex
    margin-top: 4px

    +tablet
      margin-top: 5px

  &__partner-img
    display: flex
    align-items: center
    justify-content: center

    &:not(:first-child)
      margin: 0 0 0 20px

      +sm
        margin: 0 0 0 10px

    img
      height: 60px
      width: auto

  &__timer
    position: absolute
    padding: 0 4vw
    right: 0
    left: 0
    bottom: 1vw
    font-size: 15vw
    font-weight: 600
    color: $themeColor
    opacity: .2
    line-height: 1
    white-space: nowrap

  &.hero_inner
    min-height: 400px
    padding: 40px 0
    +sm
      min-height: 300px
      padding: 30px 0
    .hero__title
      margin-bottom: 0

.h-list
  display: flex
  justify-content: space-between
  max-width: 1100px
  margin: 0 auto 124px
  padding: 0
  gap: 20px
  +sm
    gap: 20px 10px

  &_centered
    justify-content: center

  &_min
    max-width: 411px
  +tablet
    margin: 0 auto 52px
  +md
    max-width: 600px
    margin-bottom: 45px
    padding: 0
  +xs
    flex-wrap: wrap
    justify-content: center
    padding: 0
    margin-bottom: 25px
  //max-width: 230px
  &__item
    display: flex

    +md
      flex-direction: column
      text-align: center

    +sm
      flex: 1
      min-width: 80px
      align-items: center
      text-align: center

  &__value
    font-size: clamp(28px, 5vw, 50px)
    margin: 0 20px 0 0
    +bold
    display: flex
    align-items: center
    +md
      margin: 0
      justify-content: center
    +sm
      justify-content: flex-start

    .icon-infinity
      width: 71px
      height: 60px
      fill: #FFF

  &__text
    font-size: 14px
    line-height: 1.4
    padding: 5px 0 0
    &-top
      font-size: 20px
      +medium
      text-transform: uppercase
      +tablet
        font-size: 16px
      +sm
        font-size: 12px
      +xs
        font-size: 10px
    +sm
      font-size: 10px
    +xs
      font-size: 9px

  &__icon
    margin-top: 10px
    margin-left: 8px
    font-size: 30px
    &_anim
      animation: heart 2s infinite
    .icon
      fill: $white
    +sm
      margin-top: 6px
      .icon
        width: 0.9em

@keyframes heart
  0%
    transform: scale(1)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)

.logo
  display: block
  //height: 100%
  width: 100%
  pointer-events: auto
  img
    //height: 100%
    width: 100%
