.screens-wrap
  position: absolute
  top: 0
  bottom: 0
  min-width: 120%
  min-height: 100vh
  +sm
    min-width: 200%

  &__ratio
    position: relative
    display: block
    height: 100%
    min-height: 100vh
    width: auto
    visibility: hidden

    img
      display: block
      flex: 1 1 auto
      height: 100%
      width: auto
      overflow: hidden

.screens
  position: absolute
  left: 0
  width: 100%
  top: 0
  bottom: 0
  z-index: -1
  text-align: center
  display: flex
  flex-wrap: wrap
  background: #10100f

  &__item
    position: relative
    padding: 5px
    display: flex
    overflow: hidden
    pointer-events: auto
    width: calc(100% / 4)
    height: calc(100% / 3)

    &:hover
      .screens__img
        opacity: 1

      .icon-screens_star,
      .icon-screens_dots,
      .icon-screens_controls,
      .icon
        fill: #2c2c29

  &__overlay
    position: absolute
    left: 5px
    top: 5px
    right: 5px
    bottom: 5px
    background: #010101
    border-radius: 10px
    opacity: 1

    .icon
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      height: 69%
      width: 50%
      fill: #161615

  &__img
    position: absolute
    left: 5px
    top: 5px
    right: 5px
    bottom: 5px
    width: calc(100% - 10px)
    height: calc(100% - 10px)
    display: block
    object-fit: cover
    object-position: center 19%
    opacity: 0
    z-index: 1
    transition: opacity ease 0.2s
    border-radius: 10px

  .icon-screens_star
    position: absolute
    left: 20px
    top: 16px
    z-index: 2
    width: 30px
    height: 27px
    fill: #161615

  .icon-screens_dots
    position: absolute
    right: 20px
    top: 15px
    z-index: 2
    width: 7px
    height: 30px
    fill: #161615

  .icon-screens_controls
    position: absolute
    left: 20px
    bottom: 16px
    z-index: 2
    width: 64px
    height: 28px
    fill: #161615
