.section

  &__title
    text-align: center
    font-size: 48px
    margin-bottom: 63px
    +medium
    letter-spacing: .01em

    .green
      color: $themeColor

    +md
      margin-bottom: 37px
      font-size: 26px

    &_big
      font-size: 32px
      font-weight: 700

  &__subtitle
    font-weight: 400
    text-align: center
    font-size: 18px
    line-height: 1.6
    max-width: 630px
    margin: 30px auto 40px

    +tablet
      font-size: 16px
      margin: 30px auto 30px

  &__text
    max-width: 950px
    margin: 0 auto
    +tablet
      max-width: 870px
