{% import "partials/_mixins.html" as mixins %}
{% import "ga/ga-mixins.njk" as ga_mixins %}
{% import "eventsBus/eventsBus.njk" as eventsLayer %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ pages[pageKey].titleSeo }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="facebook-domain-verification" content="1v0yiqkf260mbv0itffuhh4lxv0t0k" />
    {% include "../partials/_media-tags.html" %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" media="all" href="css/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900">
    <link rel="shortcut icon" href="img/favicon.png"/>
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-K9433J7"></script>
  </head>
  <body>
    {{eventsLayer.initEventsLayer(pageKey)}}
    {{eventsLayer.mountPoint('dialog-popup')}}
    {{eventsLayer.sendContent('eventInfo', customContent.eventInfo )}}
    {{eventsLayer.sendContent('reactLayerConfig', {
    ticketsLink: pagesPieceOfTexts.ticket__link,
    pricesIncreaseDate: pages.main.pageSections.pricesIncreaseDate,
    calendarEventName: 'Node Congress',
    firebaseObject: 'node',
    calendarEventDescription: "Conference - watch it live at https://nodecongress.com/ . Workshops - to register, please, purchase a full ticket and get instructions by email sent from ti.to ticketing platform how to register for specific workshops (when the registration is open). If you bought a ticket, but didn't get any email with instructions, first check your spam, and if there's no email, then contact us at events@gitnation.org",
    calendarWorkshopDescription: 'Please note, by adding the event to your calendar you do not register for the workshop. To register for the session please use the link sent from ti.to via email.'
    } )}}
    {{eventsLayer.sendContent('customTracks', customContent.tracks )}}
    {{eventsLayer.sendContent('schedule', schedule )}}
    {{eventsLayer.sendContent('isAuth', not fakeLinks )}}
    {{eventsLayer.sendContent('speakers', speakers)}}

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END scripts -->

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '5fa1aa97df1274523cdb7584');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>

    <!-- Twitter universal website tag code -->
    <script>
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
        a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      // Insert Twitter Pixel ID and Standard Event data below
      twq('init','o51r1');
      twq('track','PageView');
    </script>
    <!-- End Twitter universal website tag code -->

  <!-- Facebook Pixel Code --> <script> !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '1374905195888955'); fbq('track', 'PageView'); </script> <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1374905195888955&ev=PageView&noscript=1" /></noscript> <!-- End Facebook Pixel Code -->

  <!-- Global site tag (gtag.js) - Google Ads: 805657772 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-805657772"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-805657772');
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M5F6QPFETY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-164513444-7');
    gtag('config', 'G-M5F6QPFETY');
  </script>

  <!-- LinkedIn -->
  <script type="text/javascript">
    _linkedin_partner_id = "3774217";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(l) {
    if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
    window.lintrk.q=[]}
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})(window.lintrk);
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=3774217&fmt=gif" />
  </noscript>


  </body>
</html>
