.icon-arrow-l {
    width: 0.59em;
    height: 1em;
    fill: initial;
  }
  .icon-arrow-r {
    width: 0.59em;
    height: 1em;
    fill: initial;
  }
  .icon-arrow_r {
    width: 2.23em;
    height: 1em;
    fill: initial;
  }
  .icon-check {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-discord {
    width: 1.46em;
    height: 1em;
    fill: initial;
  }
  .icon-equal {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-face {
    width: 0.78em;
    height: 1em;
    fill: initial;
  }
  .icon-face_1 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-face_10 {
    width: 0.78em;
    height: 1em;
    fill: initial;
  }
  .icon-face_11 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-face_12 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-face_2 {
    width: 0.78em;
    height: 1em;
    fill: initial;
  }
  .icon-face_3 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-face_4 {
    width: 1.16em;
    height: 1em;
    fill: initial;
  }
  .icon-face_5 {
    width: 0.89em;
    height: 1em;
    fill: initial;
  }
  .icon-face_6 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-face_7 {
    width: 0.82em;
    height: 1em;
    fill: initial;
  }
  .icon-face_8 {
    width: 0.78em;
    height: 1em;
    fill: initial;
  }
  .icon-face_9 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-feature_1 {
    width: 1.04em;
    height: 1em;
    fill: initial;
  }
  .icon-feature_2 {
    width: 1.31em;
    height: 1em;
    fill: initial;
  }
  .icon-feature_3 {
    width: 0.98em;
    height: 1em;
    fill: initial;
  }
  .icon-help {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-logo-graphql {
    width: 0.91em;
    height: 1em;
    fill: #e10098;
  }
  .icon-logo-jest {
    width: 0.91em;
    height: 1em;
    fill: #c21325;
  }
  .icon-logo-react-native {
    width: 1.13em;
    height: 1em;
    fill: #0e5ce4;
  }
  .icon-logo-react {
    width: 1.13em;
    height: 1em;
    fill: #61dafb;
  }
  .icon-logo-reason {
    width: 1em;
    height: 1em;
    fill: #dd4b39;
  }
  .icon-logo-typescript {
    width: 1em;
    height: 1em;
    fill: #007acc;
  }
  .icon-perks {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-plus {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-schedule {
    width: 1.01em;
    height: 1em;
    fill: initial;
  }
  .icon-socials_fb {
    width: 0.5em;
    height: 1em;
    fill: initial;
  }
  .icon-socials_gh {
    width: 1.05em;
    height: 1em;
    fill: initial;
  }
  .icon-socials_med {
    width: 1.26em;
    height: 1em;
    fill: initial;
  }
  .icon-socials_portal {
    width: 0.79em;
    height: 1em;
    fill: initial;
  }
  .icon-socials_site {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-socials_sl {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-socials_tw {
    width: 1.25em;
    height: 1em;
    fill: initial;
  }
  .icon-socials_yt {
    width: 1.42em;
    height: 1em;
    fill: initial;
  }
  