<section class="section section--inner js-section">
  <div class="section__content">
    <div class="article">
      <div class="article__left">
        <p>
          Forget
        </p>
        <p>
          the
        </p>
        <p>
          REST
        </p>
      </div>
      <h2 class="js-title" id="graph-ql">Real World GraphQL w/ Formidable</h2>
      <p class="paragraph">
        by Imran Sulemanji, GraphQL early adopter. November 29.
      </p>
      <p class="paragraph">
        Formidable will hold a full-day, full-stack, hands-on GraphQL workshop, where you'll learn how to build a
        GraphQL server following latest good practices, and use GraphQL in your React client applications.
      </p>
      <h3>What's included</h3>
      <ol>
        <li>GraphQL Servers</li>
        <li>Exploring real-world patterns for architecting our schema</li>
        <li>Practical steps to improve query performance and caching</li>
        <li>Client-side GraphQL</li>
        <li>Efficient updates with proper caching</li>
        <li>Building queries through fragment composition and query components</li>
        <li>and more...</li>
      </ol>
      <h3>Prerequisites</h3>
      <p class="paragraph-sm">
        This workshop is for developers who are curious to learn how GraphQL can help you write better APIs and better
        applications. You may or may not have already used GraphQL, but to get most out of the day, you should be
        familiar with JavaScript, React, and Node.js.
      </p>
    </div>
  </div>

</section>
