<section class="section section--inner js-section" >
  <div class="section__content">
    <div class="article">
      <div class="article__left">
        <p>
          Bring
        </p>
        <p>
          your
        </p>
        <p>
          laptop!
        </p>
      </div>
      <h2 class="js-title" id="react-advanced">React Advanced Workshop</h2>
      <p class="paragraph">
        by Kristijan Ristovski, React Academy. November 28 and 29.
      </p>
      <p class="paragraph">
        An exclusive full-day, hands-on coding workshop to explore advanced patterns and new features in React. React
        may be just a simple UI library, but it involves a pretty big ecosystem around it. Explaining the basics and
        internals is not enough, so in this module we're going to explain the best practices, we're going to learn to
        "think in React", and apply solutions to real problems that you might encounter in the process of building an
        app.
      </p>
      <p class="paragraph-sm">
        We'll explore all the advanced techniques for making flexible and maintainable React components. We'll see how
        using popular patterns like Higher Order Components, Compound Components, Render Props etc. can help us in
        simplifying things, making our components more reusable and our apps more declarative. <br>
        React 16 comes with some major changes and an update to the core algorithm. In this module, we'll explore some
        practical use-cases for Portals, Fragments, Error Boundaries etc. We'll see how the new Context API can simplify
        state-management and we'll play with a new feature called react-call-return.
      </p>
      <h3>What's included</h3>
      <ol>
        <li>React Context API</li>
        <li>Higher Order Components</li>
        <li>Render Props</li>
        <li>Compound Components</li>
        <li>React 16 & Beyond</li>
        <li>Practical use-cases for Portals, Fragments, Error Boundaries</li>
        <li>React-call-return</li>
        <li>and more...</li>
      </ol>
      <h3>Prerequisites</h3>
      <p class="paragraph-sm">
        Good knowledge of JavaScript and most of the new ES6 features, as well as React and most of its concepts.
      </p>
      <p class="paragraph-sm">
        Want to know more about the trainer? Check <a href="https://www.reactacademy.io/workshop/reactday-berlin-2018/"
                                                      target="_blank">React Academy website</a>.
      </p>
    </div>
  </div>

</section>
