<section class="section section--inner js-section">
  <div class="section__content">
    <div class="article">
      <div class="article__left">
        <p>
          The
        </p>
        <p>
          next
        </p>
        <p>
          JavaScript
        </p>
      </div>
      <h2 class="js-title" id="reason">Reason & ReasonReact - from Zero to Production Ready</h2>
      <p class="paragraph">
        by Nik Graf, Egghead.io instructor. November 29.
      </p>
      <p class="paragraph">
        Reason is a new functional, JavaScript-like language with a strong type-system and first level React bindings
        initiated by Jordan Walke, the creator of React.
      </p>
      <p class="paragraph-sm">
        In this workshop you will first learn about the syntax and semantics of the programming language Reason. Further
        we explore powerful concepts like pattern matching and Variants. Half way through we are going to write our
        first ReasonReact component and end with an exercise of adding ReasonReact components to an existing React
        application.
      </p>
      <h3>What's included</h3>
      <ol>
        <li>Introduction to the programming language</li>
        <li>Reason datastructures</li>
        <li>Writing your first ReasonReact component</li>
        <li>Managing state in ReasonReact</li>
        <li>Interop between JavaScript React and ReasonReact</li>
        <li>and more...</li>
      </ol>
      <h3>Prerequisites</h3>
      <p class="paragraph-sm">
        To attend this workshop you should have worked with React. That said, no experience with Reason, any type system or functional programming is required.
      </p>
    </div>
  </div>
</section>
