\:root
	--accentColor: #fff
	--accentColorFirst: #4568DC
	--accentColorSecond: #B06AB3
	--accentColorThird: #FF8A00

	--button-background: linear-gradient(266deg, #E19D65 0%, #B06AB3 50%, #4568DC 100%)
	--button-background-hover: linear-gradient(46deg, #E19D65 0%, #B06AB3 50%, #4568DC 100%)
	--button-color: #fff
	--button-color-hover: #fff

	--checkout-section-bg: #181818
	--checkout-section-color: #fff
	--checkout-section-secondary-color: #949494
	--checkout-outline-color: #3e3e3e
	--checkout-card-bg: #262626

	--price-increase-bg: #181818

	--price-section-bg: #181818
	--price-color: #fff
	--price-item-bg: #000
	--price-item-border: none
	--price-item-radius: 0
	--price-item-title-color: #fff
	--price-item-title-weight: 700

	--price-slider-btn-size: 54px
	--price-slider-btn-border-color: #000
	--price-slider-btn-radius: 0
	--price-slider-btn-color: #fff
	--price-slider-btn-bg: #000
	--price-slider-btn-bg-hover: #252525

	--price-btn-color: #fff
	--price-btn-border: 1px solid #fff
	--price-btn-border-color-hover: #5C5C5C

	--ticketsFormBg: #000
	--ticketsFormRadius: 0
	--ticketsFormInputBg: #181818
	--ticketsFormInputBorder: none
	--ticketsFormInputRadius: 10px
	--ticketsFormColor: #fff
	--ticketsFormInputColor: #fff

	--workshop-item-ff: Montserrat
	--workshop-item-color: #fff
	--workshop-item-bg: rgba(255,255,255,.05)
	--workshop-item-type-bg: #fff
	--workshop-item-border: #2c3135
	--workshop-item-type-radius: 4px

$font-size: 16px

/*----- COLORS -----*/

$mainBg: #181818
$mainBg2: #eaeaec
$black: #000
$black2: #131313
$white: #fff
$gray: #212121
$gray2: #1d1d1d
$gray3: #3a3a3a
$themeColor: #fff
$themeColorD: #51c3b6
$themeColor2: #51c3b6
$accent: #b1ec00
$green: #ACFF43

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- SWITCH -----*/
$switchBG: #b1ec00
$switchColor: $black
$switchHandler: $black
