
=regular
	font-family: 'Inter', sans-serif
	font-weight: 400

=medium
	font-family: 'Inter', sans-serif
	font-weight: 500

=bold
	font-family: 'Inter', sans-serif
	font-weight: 700

.out
	overflow: hidden
	position: relative

body
	background: #000
	font-size: 14px
	line-height: 1.2
	color: $white
	letter-spacing: 0.03em
	font-family: 'Inter', Arial, sans-serif
	font-weight: 400
	&.is-no-scroll
		overflow: hidden

a
	color: $themeColor2

	&:hover
		text-decoration: none

.text
	letter-spacing: 0.03em
	font-size: 22px
	line-height: 1.7
	text-align: center

	font-size: 18px
	+tablet
		font-size: 19px
		letter-spacing: 1.1px
		line-height: 1.8
	+md
		font-size: 16px
		line-height: 1.8
	+xs
		font-size: 15px
	a
		color: $themeColor

.main
	display: flex
	flex-direction: column
	&.blur
		filter: blur(10px) grayscale(.6)

.wrapper-link
	text-decoration: none
	color: unset

.separator
	height: 48px
	background: #f00
	margin: 0 0 -48px
	background: url(../img/separator.svg)

.pop-ticket__btn
	&.btn
		background: $white
		border: 1px solid $gray

		&:after,
		&:before
			display: none

		&.btn--border
			color: $black

		&:hover
			background: $white

.scrollbar::-webkit-scrollbar-track
	background: #404040
	border: 0 solid transparent
	border-radius: 0

.scrollbar::-webkit-scrollbar-thumb
	background: #fff
	border: 0 solid #fff
	border-radius: 0
	cursor: pointer
.scrollbar::-webkit-scrollbar-corner
	background: 0 0
.scrollbar::-webkit-scrollbar
	width: 4px
	height: 4px
.scrollbar::-webkit-scrollbar-button
	width: 0
	height: 0

.icon
	display: inline-block
	width: 1em
	height: 1em
	stroke-width: 0
	stroke: currentColor
	fill: currentColor
	transition: all 0.2s linear

.icon-mastodon
	fill: none
.icon-tw
	transform: scale(0.9)

.sr-only
	position: absolute
	width: 1px
	height: 1px
	padding: 0
	margin: -1px
	overflow: hidden
	clip: rect(0, 0, 0, 0)
	white-space: nowrap
	border: 0

.social
	display: flex
	align-items: center
	gap: 8px
	flex-wrap: wrap

	&__link
		font-size: 18px
		width: 40px
		height: 40px
		display: flex
		align-items: center
		justify-content: center
		&:hover, &:focus-visible
			background: rgba(255, 255, 255, 0.08)
		.icon
			color: #fff
			transition: 0.3s
