
html
	--color-brand: #{$themeColor}
	--color-brand-hover: #{$themeColorD}
	--color-popup-ticket-border: #{$themeColor}

.block
	display: flex

.container
	--container: 40px
	max-width: 1360px
	padding: 0 var(--container)
	margin: 0 auto
	+md
		--container: 20px
	&--l
		max-width: 1374px

.section
	--section-y: 100px
	padding-block: var(--section-y, 100px)
	+md
		--section-y: 80px
	+sm
		--section-y: 64px
	&__title
		text-align: center
		font-weight: 700
		font-size: 32px
		margin-bottom: clamp(24px, 5vw, 48px)
		letter-spacing: 0.02em

		.green
			color: $themeColor

		+tablet
			font-size: 24px

		&_big
			font-size: 32px
			font-weight: 700

	&__subtitle
		font-weight: 400
		text-align: center
		font-size: 16px
		line-height: 1.6
		max-width: 780px
		margin: 30px auto 40px

		+tablet
			font-size: 16px
			margin: 30px auto 30px

	&__info
		text-align: center
		font-size: 16px
		line-height: 1.6
		max-width: 880px
		margin: 30px auto 26px

		+tablet
			font-size: 16px
			margin: 20px auto 16px

		p
			&:not(:first-child)
				margin: 24px 0 0

		a
			color: $themeColor2
			text-transform: uppercase
			font-weight: 700

	&__text
		max-width: 950px
		margin: 0 auto
		+tablet
			max-width: 870px
