
html
	--color-brand: #{$themeColor}
	--color-brand-hover: #{$themeColorD}
	--color-popup-ticket-border: #{$themeColor}

.block
	display: flex

.container
	--container: 40px
	max-width: 1360px
	width: 100%
	padding: 0 var(--container)
	margin: 0 auto
	+md
		--container: 20px

.section
	--section-y: 100px
	padding-block: var(--section-y, 100px)
	+md
		--section-y: 80px
	+sm
		--section-y: 64px
	&__head
		margin-bottom: 64px
		+md
			margin-bottom: 48px
		+sm
			margin-bottom: 32px

	&__title
		font-weight: 600
		font-size: clamp(40px, 5vw, 64px)
		letter-spacing: 0.02em
		line-height: 1.1
		text-transform: capitalize
		em
			font-style: italic
			font-family: DMSerifDisplay, sans-serif
			font-weight: 400

		&--lg
			font-size: clamp(48px, 6vw, 80px)
			text-transform: capitalize
			letter-spacing: -0.02em
		&--sm
			font-size: 28px
			font-weight: 500

	&__subtitle
		font-weight: 400
		font-size: 16px
		line-height: 1.6

		margin: 30px 0 40px

		+tablet
			font-size: 16px
			margin: 30px 0 30px

	&__info
		text-align: center
		font-size: 16px
		line-height: 1.6
		max-width: 880px
		margin: 30px auto 26px

		+tablet
			font-size: 16px
			margin: 20px auto 16px

		p
			&:not(:first-child)
				margin: 24px 0 0

		a
			color: $themeColor2
			text-transform: uppercase
			font-weight: 700

	&__text
		font-size: 20px
		font-weight: 400
		line-height: 1.4
