.btn
	display: flex
	cursor:  pointer
	text-align: center
	padding: 10px 30px
	min-height: 60px
	align-items: center
	justify-content: center
	font-size: 18px
	+medium
	color: $white
	text-decoration: none
	transition: all ease 0.3s
	transform: translateZ(0) perspective(1px)
	backface-visibility: hidden
	-webkit-font-smoothing: subpixel-antialiased
	-webkit-backface-visibility: hidden
	border: 2px solid transparent
	border-radius: 10px
	background-color: $themeColor

	&:hover
		background-color: $themeColorD

		&:before
			opacity: 1


	+tablet
		padding: 15px 20px

	&--gradient
		border: 2px solid transparent
		color: #000

		&:hover
			&:before
				opacity: 0

		+tablet
			padding: 15px 20px

	&--transparent
		border-color: $gray
		background: transparent
		color: $themeColor2

		&:hover
			background: transparent
			border: 2px solid $themeColor2


	&--border
		border: 2px solid $white
		color: $white
		position: relative
		background: transparent

		&:hover
			background-color: $white
			color: $black

		+tablet
			padding: 15px 23px

	&--huge
		max-width: 1040px
		margin: 0 auto
		flex: 1 0 auto
		padding: 20px 6vw
		+semiBold
		line-height: 0.9
		border: 4px solid $themeColor
		color: $white
		font-size: clamp(40px, 5vw, 90px)
		background: transparent
		height: clamp(80px, 10vw, 176px)
		align-items: center
		justify-content: center
		border-radius: clamp(40px, 10vw, 88px)
		margin: clamp(40px, 4vw, 80px) auto

		+md
			margin-left: 20px
			margin-right: 20px

		.icon
			fill: $white
			width: clamp(46px, 8vw, 86px)
			height: 70px
			margin-left: clamp(30px, 5vw, 40px)


.icon-link
	color: #fff
	.icon
		font-size: 18px
		fill: $white

.theme-link
	font-size: 14px
	color: $themeColor
	text-transform: uppercase
	text-decoration: none
	&:hover
		text-decoration: underline


.is-hidden
  display: none
