.s-contact-form
	padding: clamp(50px, 5vw, 100px) 0

	.container
		position: relative

.contact-form
	max-width: 500px
	
	&__title
		line-height: 1
		font-size: 90px
		+semiBold

		+sm
			font-size: 48px

		// strong
		// 	color: $violet

	&__desc
		font-size: 16px
		max-width: 420px
		margin: 50px 0 80px
		line-height: 1.86

		+sm
			margin: 50px 0 40px

	&__form
		margin: 0
		width: 100%

	&__field
		position: relative

	&__input
		height: 60px
		width: 100%
		border-radius: 10px
		padding: 0 80px 0 20px
		font-size: 15px

		&::placeholder
			color: $black

	&__submit
		position: absolute
		top: 3px
		right: 3px
		bottom: 3px
		height: 54px
		width: 74px
		border-radius: 10px
		background: $black
		display: flex
		align-items: center
		justify-content: center

		span
			display: none

		.icon
			fill: $green
			width: 20px
			height: 16px

	.social
		position: absolute
		left: 55%
		transform: translateX(100px)
		top: 0
		display: flex
		flex-wrap: wrap
		flex-direction: column
		height: 286px
		gap: 16px
		margin: clamp(22px, 6vw, 52px) auto
		justify-content: center

		+sm
			position: relative
			margin: 50px 0
			justify-content: flex-start
			height: auto
			flex-direction: row
			left: 0
			transform: none

		&__item
			margin: 0

		&__link
			width: clamp(56px, 10vw, 78px)
			height: clamp(56px, 10vw, 78px)
			border: 3px solid $gray
			display: flex
			justify-content: center
			align-items: center
			border-radius: 50%
			transition: all ease 0.1s
			background: $gray
			width: 135px
			height: 135px
			border-radius: 20px
			border: 0

			+md
				width: 102px
				height: 102px

			// &.fb
			// 	background: $violet

			// &.yb
			// 	background: $red

			// &.tw
			// 	background: $blue

			// &.md
			// 	background: $yellow

			.icon
				width: 50px
				height: 50px
				fill: $white

				+md
					width: 40px
					height: 40px
