.s-teams
  position: relative
  padding: clamp(60px, 5vw, 120px) 0 clamp(30px, 5vw, 60px)

  .btn
    display: inline-flex

  .section

    &__title
      font-size: clamp(48px, 6vw, 90px)
      line-height: 1
      margin-bottom: clamp(10px, 4vw, 30px)
      +semiBold

      &:after,
      &:before
        display: none

      em

      p
        display: flex
        flex-wrap: wrap
        align-items: flex-start

      strong
        position: relative
        display: inline-flex
        align-self: center
        margin: 0 0.1em
        width: clamp(136px, 17vw, 260px)

        &:before
          content: ''
          padding-top: 30%

        &:after
          content: ''
          position: absolute
          left: 0
          top: 0
          right: 0
          bottom: 0
          width: 100%
          height: 100%
          background: url(../img/logo.svg) center top no-repeat
          background-size: cover

