.s-tours
	padding: clamp(50px, 5vw, 100px) 0

	.section
		&__title
			margin: 0 0 clamp(40px, 5vw, 60px)

			// strong
			// 	&:nth-child(1)
			// 		color: $yellow
			// 	&:nth-child(2)
			// 		color: $violet

		&__subtitle
			text-align: left
			margin: 0 0 clamp(40px, 5vw, 60px)

.tours
	display: flex
	margin: 0
	gap: 20px
	flex-wrap: wrap

	&__item
		position: relative
		display: flex
		flex: 1 0
		flex-direction: column
		font-size: 16px
		line-height: 1.28
		padding: 30px 40px 40px
		min-height: 420px
		color: #fff
		background: $gray
		border-radius: 20px
		text-align: left

		&:nth-child(4n - 3)
			background: $gray

		&:nth-child(4n - 2)
			background: $green
			color: $black

		&:nth-child(4n - 1)
			background: $violet

		&:nth-child(4n - 0)
			background: $yellow
			color: $black

		+md
			padding: 30px 20px 30px
			min-height: 400px
			min-width: calc(50% - 10px)

		+sm
			margin: 0 auto
			flex: 1 1 calc(50% - 10px)
			min-height: 320px

		+xxs
			flex: 1 1 100%

	&__bg
		position: absolute
		left: -5px
		top: -5px
		width: calc(100% + 10px)
		height: calc(100% + 10px)
		object-fit: cover
		background-size: cover
		filter: brightness(0.6)
		opacity: 0
		transition: all ease .1s
		display: none

	&__content
		position: relative
		display: flex
		flex-direction: column
		z-index: 1
		height: 100%

	&__with
		display: none

	&__bar
		position: relative
		font-size: clamp(40px, 5vw, 60px)
		+semiBold
		line-height: 1
		display: flex
		margin: 0 0 34px
		z-index: 1
		order: 1

	&__btn
		background: $white
		border-color: $white
		color: $black
		position: absolute
		left: 0
		bottom: 0

		&:hover
			background: $themeColor
			border-color: $themeColor
			color: $black


		&:after,
		&:before
			display: none

	&__name
		font-size: 15px
		margin: auto 0 0
		line-height: 1.56
		order: 3
		display: flex
		align-items: center

	&__rooms

	&__room
		position: relative
		// border: 13px solid #fff
		border-radius: 50%
		overflow: hidden
		flex: 1 1 auto
		background: transparent
		display: none

		@media all and (max-width: 1300px)
			border-width: 1vw

		+sm
			border-width: 1.5vw

		+xs
			border-width: 2.3vw
			
		+xxs
			border-width: 3.5vw

		&+.tours__room
			margin: 0 0 0 -62px

			+sm
				margin: 0 0 0 -5vw

			+xs
				margin: 0 0 0 -10vw
			
			+xxs
				margin: 0 0 0 -15vw

		&:after
			font-size: 14px
			font-weight: bold
			text-transform: uppercase
			content: 'JOIN'
			position: absolute
			display: flex
			align-items: center
			justify-content: center
			left: 0
			top: 0
			right: 0
			bottom: 0
			background: rgba(0, 0, 0, 0.5)
			opacity: 0
			transition: all ease 0.1s
			color: $themeColor

	a.tours__room:hover
		border-color: $themeColor

		&:after
			opacity: 1

	&__photo
		display: block
		width: 102px
		height: 102px