<div class="companies-list">
  {% if pages[pageKey].pageSections.addCompany %}
  <div class="companies-list__item cl-company cl-company--add">
    <div class="cl-company__title">{{ pagesPieceOfTexts.addCompany__title }}</div>
    <div class="cl-company__text">{{ pagesPieceOfTexts.addCompany__text }}</div>
    <div class="cl-company__footer">
      <a href="{{ pagesPieceOfTexts.addCompany__link }}" class="cl-company__button btn btn--border-dark" target="_blank">{{ pagesPieceOfTexts.addCompany__linkText }}</a>
    </div>
  </div>
  {% endif %}

  {% if pages[pageKey].pageSections.companies %}
    {% for company in pages[pageKey].pageSections.companies %}
    <div class="companies-list__item cl-company">
      <div class="cl-company__title">{{company.name}}</div>
      <div class="cl-company__text">{{company.text}}</div>
      <div class="cl-company__footer">
        <span class="cl-company__date">{{company.startDate}} <br>{{company.startTime}}</span>
        <a href="{{company.link}}" class="cl-company__link" target="_blank">View details</a>
      </div>
    </div>
    {% endfor %}
  {% endif %}

</div>
