<section class="section sec-companies">
   <div class="container">
      <div class="sec-companies__top">
         <div class="sec-companies__left">
            <h2 class="sec-companies__title">What is it?</h2>
         </div>
         <div class="sec-companies__right">
            <div class="sec-companies__text">
               <p>The JS Weekend NY is the biggest open night for Web Development industry. Its a territorially spread festival for JavaScript developers when top IT companies open their doors for a Saturday night to showcase, excite, educate and enterntain us the developers.</p>

               <p>The Sunday we spend on the streets of NY exploring best places the Big Apple has to offer we also have a common brunch with fellow developers.</p>
            </div>
         </div>
      </div>

      <div class="companies-list">
         <div class="companies-list__item cl-company cl-company--add">
            <div class="cl-company__title">Your company?</div>
            <div class="cl-company__text">Organize the best JS party in town! Expose your company in front of hundreds of developers., be the place they recall and keep good memories about.</div>
            <div class="cl-company__footer">
               <a href="#" class="cl-company__button">Add company</a>
            </div>
         </div>
         {% for item in range(1, 44) %}

         <div class="companies-list__item cl-company">
            <div class="cl-company__title">InnoTech</div>
            <div class="cl-company__text">Discover React UI, test JS with quizzes, and relax with darts. Keep learning.</div>
            <div class="cl-company__footer">
               <span class="cl-company__date">November 25 <br>02-06 a.m.</span>
               <a href="#" class="cl-company__link">View details</a>
            </div>
         </div>
         {% endfor %}

      </div>
   </div>
</section>
