<header class="header js-header  {{ headerMod }}  {{'hidden-iphone' if pages[pageKey] == pages.checkout or pages[pageKey] == pages.schedule}} {{'_not-tito' if titoHeader == false }}">
   {% if pages[pageKey] != pages.checkout %}
   <button class="header__burger burger js-burger">
      <span class="burger__item"></span>
      <span class="burger__item"></span>
      <span class="burger__item"></span>
   </button>
   {% endif %}
   <div class="container">

      <div class="header__inner js-menu">
        <a href="/" class="header__logo" aria-label="{{ conference.title }}">
          <img src="img/logo.svg" alt="">
        </a>
        <div class="header__nav">
          <nav class="nav">
              {% for item in pages[pageKey].pageNavigation.headerNav %}
              <a class="nav__item {{'js-scroll-link' if item.scroll}}" href="{{item.href}}">{{item.text}}</a>
              {% endfor %}
          </nav>

          <div class="header__btn">
            <a href="#" class="btn">
              Become a partner
            </a>
          </div>
        </div>

      </div>


      {% if pages[pageKey] != pages.checkout %}
      {% if pagesPieceOfTexts.ticket__text %}
      <div class="header__alt-btn">
         {% if pages[pageKey].pageSections.prices and fakeLinks == true %}
         <a class="btn" href="{{ pagesPieceOfTexts.ticket__link }}">{{ pagesPieceOfTexts.ticket__text }}</a>
         {% elif pagesPieceOfTexts.ticket__text %}
         <a class="btn" href="{{ pagesPieceOfTexts.ticket__directLink }}">{{ testTicketLink or pagesPieceOfTexts.ticket__text }}</a>
         {% endif %}
      </div>
      {% endif %}
      {% endif %}
   </div>
</header>
