<header class="header js-header  {{ headerMod }}">
   {% if pages[pageKey] != pages.checkout %}
   <button class="header__burger burger js-burger">
      <span class="burger__item"></span>
      <span class="burger__item"></span>
      <span class="burger__item"></span>
   </button>
   {% endif %}
   <div class="container">

      <div class="header__inner js-menu">
        <a href="/" class="header__logo" aria-label="{{ conference.title }}">
          <img src="img/logo.svg" alt="">
        </a>
        <div class="header__nav">
          <nav class="nav">
              {% for item in pages[pageKey].pageNavigation.headerNav %}
              <a class="nav__item {{'js-scroll-link' if item.scroll}}" href="{{item.href}}">{{item.text}}</a>
              {% endfor %}
          </nav>

          {% if pagesPieceOfTexts.header__btnLink %}
            <div class="header__btn">
              <a href="{{pagesPieceOfTexts.header__btnLink}}" target="_blank" class="btn btn--border">
                {{pagesPieceOfTexts.header__btnText}}
              </a>
            </div>
          {% endif %}
        </div>

      </div>

   </div>
</header>
