<div class="hero" id="hero">
  <div class="hero__bg"></div>

  <div class="container">

    <div class="hero__inner graphcms-container" {{ mixins.cmsData(pages[pageKey]) }}>
      <div class="hero__middle">
        <div class="hero__top">
          <a href="/" class="hero__logo" aria-label="{{ conference.title }}">
            <img src="img/logo.svg" alt="">
          </a>
        </div>
        {% if pagesPieceOfTexts.hero__time %}
        <div class="hero__suptitle">{{ pagesPieceOfTexts.hero__time }}</div>
        {% endif %}

        {% if pagesPieceOfTexts.hero__time %}
        <h1 role="heading" class="hero__title">{{ pagesPieceOfTexts.hero__title }}</h1>
        {% endif %}
      </div>
      <div class="hero__row">
        {% if pages[pageKey].pageStatistics.eventStats %}
        {{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
        {% endif %}


        <a href="#" class="hero__btn">get Tickets</a>
      </div>
    </div>
  </div>
</div>
