<div class="hero" id="hero">
  <div class="hero__bg"></div>


  <div class="container">

    <div class="hero__inner graphcms-container" {{ mixins.cmsData(pages[pageKey]) }}>
      <div class="hero__top">
        <a href="/" class="hero__logo" aria-label="{{ conference.title }}">
          <img src="img/logo.svg" alt="">
        </a>
      </div>
      <div class="hero__suptitle">November 25-26</div>

      <h1 role="heading" class="hero__title">Biggest open night for Web Development industry</h1>

      <div class="hero__row">

        <div class="hero__info">
          <ul class="h-list">
            <li class="h-list__item">
              <div class="h-list__value">2</div>
              <div class="h-list__text">Days</div>
            </li>
            <li class="h-list__item">
              <div class="h-list__value">44</div>
              <div class="h-list__text">Locations and parties</div>
            </li>
            <li class="h-list__item">
              <div class="h-list__value">8000+</div>
              <div class="h-list__text">Developers involved</div>
            </li>
          </ul>
        </div>

        <a href="#" class="hero__btn">get Tickets</a>
      </div>
    </div>
  </div>
</div>
