<div class="hero" id="hero">
  <div class="hero__bg"></div>

  {% if pages[pageKey].pageSections.heroVideo %}
  <video class="hero__video" preload="auto" muted autoplay loop poster="img/hero.jpg">
    <source src="video/hero.webm?v4" type="video/webm" />
    <source src="video/hero.mp4?v4" type="video/mp4" />
  </video>
  {% endif %}

  <div class="container">

    <div class="hero__inner graphcms-container" {{ mixins.cmsData(pages[pageKey]) }}>
      <div class="hero__middle">
        <div class="hero__top">
          <a href="/" class="hero__logo" aria-label="{{ conference.title }}">
            <img src="img/logo.svg" alt="">
          </a>
        </div>
        {% if pagesPieceOfTexts.hero__time %}
          <div class="hero__suptitle">{{ pagesPieceOfTexts.hero__time }}</div>
        {% endif %}

        {% if pagesPieceOfTexts.hero__time %}
          <h1 role="heading" class="hero__title">{{ pagesPieceOfTexts.hero__title }}</h1>
        {% endif %}
      </div>
      <div class="hero__row">
        {% if pages[pageKey].pageStatistics.eventStats %}
          {{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
        {% endif %}


        {% if pagesPieceOfTexts.get__ticketsLink %}
          <a href="{{ pagesPieceOfTexts.get__ticketsLink }}" class="hero__btn btn" target="_blank">{{ pagesPieceOfTexts.get__ticketsText }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
