<div class="hero hero--companies" id="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="h-companies-info">
        <div class="h-companies-info__head">
          <h1 class="h-companies-info__title">JS quiz and cocktails at InnoTech</h1>
          <div class="h-companies-info__text">
            To improve web development, use tools like React UI for crafting interfaces. Keep refining JavaScript skills through challenges and exercises. Take breaks and play darts for stress relief and improved coordination. Balance work and play for success... <a href="#">More</a>
          </div>
        </div>

        <div class="h-companies-info__content">
          <div class="companies-details">
            <div class="companies-details__item">
              <img src="img/innoTech-logo.png" alt="" class="companies-details__logo">
            </div>
            <div class="companies-details__item">
              <div class="companies-details__label">Site</div>
              <div class="companies-details__labeled"><a href="www.website.com">www.website.com</a></div>
            </div>
            <div class="companies-details__item">
              <div class="companies-details__label">Company</div>
              <div class="companies-details__labeled">InnoTech</div>
            </div>
            <div class="companies-details__item">
              <div class="companies-details__label">Where</div>
              <div class="companies-details__labeled">123 Main Street New York, NY 10001</div>
            </div>
            <div class="companies-details__item">
              <div class="companies-details__label">When</div>
              <div class="companies-details__labeled">November 25</div>
            </div>
            <div class="companies-details__item">
              <div class="companies-details__label">Time</div>
              <div class="companies-details__labeled">02-06 a.m.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="h-companies-gallery">
        {% for i in range(0, 6) %}
        <div class="companies-gallery__item">
          <img src="img/com-gallery-img.jpg" alt="">
        </div>

        {% endfor %}
      </div>
    </div>

  </div>
</div>
