<section class="section sec-companies" id="companies">
   <div class="container">
      <div class="sec-companies__top">
         <div class="sec-companies__left">
            <h2 class="sec-companies__title">What is it?</h2>
         </div>
         <div class="sec-companies__right">
            <div class="sec-companies__text">
               <p>The JS Weekend NY is the biggest open night for Web Development industry. Its a territorially spread festival for JavaScript developers when top IT companies open their doors for a Saturday night to showcase, excite, educate and enterntain us the developers.</p>

               <p>The Sunday we spend on the streets of NY exploring best places the Big Apple has to offer we also have a common brunch with fellow developers.</p>
            </div>
         </div>
      </div>

      {% include "parts/_companies.html" %}
   </div>
</section>
