.s-prices
	position: relative
	.section__title
		color: $themeColor
		padding: 0
		margin-bottom: 45px

		&::first-letter

			font-family: RumbleBrave,Arial,Helvetica,sans-serif
			font-size: 260%
			font-weight: 400
			vertical-align: .06em
			letter-spacing: -.08em
	&__button .btn
		@extend .btn--green
		.icon
			display: none

.prices
	&__sort
		&-btn
			@extend .btn--green
			&:not(.is-active)
				border-color: #fff
				color: #fff
				&:after,
				&:before
					content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25.4px" height="11.4px" viewBox="0 0 25.4 11.4" style="enable-background:new 0 0 25.4 11.4;" xml:space="preserve"><polygon fill="%23ffffff" points="19.7,0 18.3,1.4 21.6,4.7 0,4.7 0,6.7 21.6,6.7 18.3,10 19.7,11.4 25.4,5.7"/></svg>')

.prices-item
	&__price-value
		strong
			color: #24fc89
			position: relative

			em
				font-size: 60%
				font-weight: 500
				display: inline-block
				margin-right: 5px
				vertical-align: middle
			&:after
				content: ''
				position: absolute
				left: 0
				bottom: -3px
				right: 0
				height: 22px
				background: rgba(36, 252, 137, .15)
	&__bottom .btn
		@extend .btn--green
		text-transform: none !important
		font-size: 14px !important
.prices-swiper

	&__next, &__prev

		padding: 0 !important
		justify-content: center
		@extend .btn--green
		&:after, &:before
			display: none
		.icon
			fill: none !important
			stroke: #000
			stroke-width: 3px
	&__next
		&:hover, &:focus-visible
			.icon
				transform: translateX(4px)
	&__prev
		&:hover, &:focus-visible
			.icon
				transform: translateX(-4px)

.prices-promo
	input
		border-radius: 0 !important
	.btn
		@extend .btn--green
		border-radius: 0 !important
		justify-content: center
		&:after, &:before
			display: none
		&:hover, &:focus-visible
			background: #fff
			border-color: #fff
			color: #000
