{% import "parts/_mixins.html" as own_mixins %}
{% import "partials/_mixins.html" as mixins %}
{% import "ga/ga-mixins.njk" as ga_mixins %}
{% import "eventsBus/eventsBus.njk" as eventsLayer %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- begin Convert Experiences code-->
  <script type="text/javascript" src="//cdn-4.convertexperiments.com/js/10047468-10048548.js"></script><!-- end Convert Experiences code -->
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include "../partials/_media-tags.html" %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" media="all" href="css/app.css" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&family=Sora:wght@400;700;800&display=swap" rel="stylesheet">
  {% block heroScript %}{% endblock %}
  <meta name="facebook-domain-verification" content="f7se69652gnwuee68hscj1q83m6yis" />

  <link rel="preload" fetchpriority="high" as="image" href="img/hero_video.jpg" type="image/jpeg">

  <link rel="preconnect" href="https://js.tito.io/" crossorigin />
  <link rel="dns-prefetch" href="https://js.tito.io/" />
  <link rel="preconnect" href="https://js-plugins.tito.io/" crossorigin />
  <link rel="dns-prefetch" href="https://js-plugins.tito.io/" />
  <link rel="preconnect" href="https://checkout.tito.io/" crossorigin />
  <link rel="dns-prefetch" href="https://checkout.tito.io/" />
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-MV2V6G3"></script>
  <script>
    const confFinished = '{{customContent.eventInfo.conferenceFinish}}' || '{{customContent.eventInfo.emsEvent.endDate}}';
  </script>
</head>

<body>
  {{eventsLayer.initEventsLayer(pageKey)}}
  {{eventsLayer.mountPoint('dialog-popup')}}
  {{eventsLayer.sendContent('eventInfo', customContent.eventInfo )}}
  {{eventsLayer.sendContent('reactLayerConfig', {
  pagesPieceOfTexts: pagesPieceOfTexts,
  ticketsLink: pagesPieceOfTexts.ticket__link,
  pricesIncreaseDate: pages.main.pageSections.pricesIncreaseDate,
  pricesIncreaseDateInPerson: pages.main.pageSections.pricesIncreaseDateInPerson,
  calendarEventName: 'JS Nation Conference',
  calendarEventDescription: 'Watch it live at https://jsnation.com/',
  calendarWorkshopDescription: 'Please note, by adding the event to your calendar you do not register for the workshop. To register for the session please use the link sent from ti.to via email.'
  } )}}
  {{eventsLayer.sendContent('customTracks', customContent.tracks )}}
  {{eventsLayer.sendContent('schedule', schedule )}}
  {{eventsLayer.sendContent('scheduleOffline', scheduleOffline )}}
  {{eventsLayer.sendContent('isOfflineJSNTimeTrack', offlineTimeTrack )}}
  {{eventsLayer.sendContent('isAuth', not fakeLinks )}}
  {{eventsLayer.sendContent('speakers', speakers)}}

  {{eventsLayer.sendContent('emsSchedule', emsSchedule )}}
  {{eventsLayer.sendContent('emsScheduleOffline', emsScheduleOffline )}}
  {{eventsLayer.sendContent('tracksOrdered', tracksOrdered )}}

  <!-- BEGIN content -->
  <div class="out">
    {% block content %}{% endblock %}
  </div>


  {% include "partials/_popup-promo.html" %}

  <!-- END content -->

  <script type="text/javascript">
    const heroVideoWrapper = document.querySelector('.js-hero-video');

    function heroVideoplay(heroVideoWrapper) {
      if (heroVideoWrapper) {
        heroVideoWrapper.insertAdjacentHTML('afterbegin',
          `<video preload="auto" muted autoplay loop playsinline>
                    <source src="video/hero.mp4" type="video/mp4" />
                  </video>`
        );
      }
    }

    window.addEventListener('load', function () {
      heroVideoplay(heroVideoWrapper);
    });

  </script>

  <!-- BEGIN scripts -->
  <script type="text/javascript" src="js/app.js"></script>
  <!-- END scripts -->

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TN8Q9L3F');</script>
  <!-- End Google Tag Manager -->

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN8Q9L3F"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function () {
      var t = document.createElement('script');
      t.type = 'text/javascript';
      t.async = true;
      t.id = 'gauges-tracker';
      t.setAttribute('data-site-id', '58496fdd4b2ffa62230141f0');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>

  <!-- Twitter conversion tracking base code -->
  <script>
    !function (e, t, n, s, u, a) {
      e.twq || (s = e.twq = function () {
        s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
      }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = 'https://static.ads-twitter.com/uwt.js',
        a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
    }(window, document, 'script');
    twq('config', 'nyyow');
  </script>
  <!-- End Twitter conversion tracking base code -->

  <script>
    // Define dataLayer and the gtag function.
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }

    // Default ad_storage to 'denied' as a placeholder
    // Determine actual values based on your own requirements
    gtag('consent', 'default', {
      'ad_storage': 'denied'
    });
  </script>
  <!-- Global site tag (gtag.js) - Google Ads -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-805657772"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-805657772');
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LDJQTNTNQG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-LDJQTNTNQG');
  </script>

  <!-- Update this section based on your business requirements. -->
  <script>
    function consentGranted() {
      gtag('consent', 'update', {
        'ad_storage': 'granted'
      });
    }
  </script>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MD4JMJR"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Meta Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '664671185115658');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=664671185115658&ev=PageView&noscript=1" /></noscript>
  <!-- End Meta Pixel Code -->

  <!-- Start of Sleeknote signup and lead generation tool - www.sleeknote.com -->
  <script id="sleeknoteScript" type="text/javascript">
    (function () {
      var sleeknoteScriptTag = document.createElement("script");
      sleeknoteScriptTag.type = "text/javascript";
      sleeknoteScriptTag.charset = "utf-8";
      sleeknoteScriptTag.src = ("//sleeknotecustomerscripts.sleeknote.com/62105.js");
      var s = document.getElementById("sleeknoteScript");
      s.parentNode.insertBefore(sleeknoteScriptTag, s);
    })();
  </script>
  <!-- End of Sleeknote signup and lead generation tool - www.sleeknote.com -->


  <script type="text/javascript">
    _linkedin_partner_id = "6325337";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script>
  <script type="text/javascript">
    (function (l) {
      if (!l) {
        window.lintrk = function (a, b) { window.lintrk.q.push([a, b]) };
        window.lintrk.q = []
      }
      var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript"; b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);
    })(window.lintrk);
  </script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=6325337&fmt=gif" />
  </noscript>
</body>

</html>