$font-size: 16px

/*----- COLORS -----*/

$mainBg: #0C0C0C
$mainBg2: #eaeaec
$black: #0C0C0C
$white: #fff
$gray: #1A1A1A
$gray2: #363636
$gray3: #808080
$gray4: #CCCCCC
$themeColor: #F7DF1E
$themeColorD: #dac318
$accent: #F7DF1E
