---
pageKey: main
headerBtn: true
fakeLinks: true
promoVisible: true
confName: rs
speakersLength: 8

---

{% extends "layouts/_layout.html" %}

{% block heroScript %}
{% include "partials/payload/js/_filter-hero-buttons.html" %}
{% endblock %}

{% block content %}

{% include "partials/payload/sections/_header.html" %}

<div class="main js-main {{'short-sections' if speakersLength }}">

	{% for section in payload.pages[pageKey].sections %}

	{% if section.blockType == 'remoteSwitch' %}
	{% set remoteSwitchData = section %}
	{% include "partials/payload/blocks/_remote-switch.html" %}
	{% endif %}

	{% if section.blockType == 'hero' %}
	{% set heroData = section %}
	{% include "parts/_hero.html" %}
	{% endif %}

	{% if section.blockType == 'event' %}
	{% set eventData = section %}
	{% include "parts/_event.html" %}
	{% endif %}


	{% if section.blockType == 'features' %}
	{% set featuresData = section %}
	{% include "partials/payload/sections/_features-grid.html" %}
	{% endif %}

	{% if section.blockType == 'lineUp' %}
	{% set lineUpData = section %}
	{% include "partials/payload/sections/_line-up.html" %}
	{% endif %}

	{% if section.blockType == 'feedbacks' %}
	{% set feedbacksData = section %}
	<section class="section">
		<div class="container">
			<div class="feedback-block" style="background-image: url({{ feedbacksData.bgImg }})">
				{% for feedback in feedbacksData.items %}
				<div class="feedback-item">
					<h4 class="feedback-item__title">
						{{ feedback.title }}
					</h4>

					<div class="feedback-item__user ">
						<div class="feedback-item__user-img">
							<img src="{{ feedback.author.avatar }}" alt="" />
						</div>
						<div class="feedback-item__user-content">
							<div class="feedback-item__user-name">{{ feedback.author.name }}</div>
							<div class="feedback-item__user-text">{{ feedback.author.country }}</div>
						</div>
					</div>

					<div class="feedback-item__text">
						{{ feedback.text }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% endif %}

	{% if section.blockType == 'speakers' %}
	{% set speakersData = section %}
	{% include "partials/payload/sections/_speakers.html" %}
	{% endif %}

	{% if section.blockType == 'techs' %}
	{% set techsData = section %}
	{% include "partials/payload/sections/_techs.html" %}
	{% endif %}

	{% if section.blockType == 'pastSpeakers' %}
	{% set pastSpeakersData = section %}
	{% include "partials/payload/sections/_past-speakers.html" %}
	{% endif %}

	{% if section.blockType == 'mcs' %}
	{% set mcsData = section %}
	{% include "partials/payload/sections/_mcs.html" %}
	{% endif %}

	{% if section.blockType == 'schedule' %}
	{% set scheduleData = section %}
	<div class="schedule-btn-wrap" id="schedule">
		<div class="container">
			<a class="btn btn--huge" href="{{ scheduleData.linkInPerson if inPerson else scheduleData.link }}">
				{{ scheduleData.text | safe }} {{ mixins.icon('arrow-big') }}
			</a>
		</div>
	</div>
	{% endif %}


	{% if section.blockType == 'committee' %}
	{% set committeeData = section %}
	{% include "partials/payload/sections/_committee.html" %}
	{% endif %}

	{% if section.blockType == 'workshops' %}
	{% set workshopsData = section %}
	{% include "partials/payload/sections/_workshops-list.html" %}
	{% endif %}

	{% if section.blockType == 'followUs' %}
	{% set followUsData = section %}
	{% include "partials/payload/sections/_contact-form.html" %}
	{% endif %}

	{% if section.blockType == 'multipass' %}
	{% set multipassData = section %}
	{% include "partials/payload/sections/_multipass.html" %}
	{% endif %}

	{% if section.blockType == 'prices' %}
	{% set pricesData = section %}
	{% include "partials/payload/sections/_prices.html" %}
	{% endif %}

	{% if section.blockType == 'fullTicket' %}
	{% set fullTicketData = section %}
	{% include "partials/payload/sections/_full-ticket.html" %}
	{% endif %}

	{% if section.blockType == 'freeTicket' %}
	{% set freeTicketData = section %}
	{% include "partials/payload/sections/_free-ticket.html" %}
	{% endif %}

	{% if section.blockType == 'discussions' %}
	{% set discussionsData = section %}
	{% include "partials/payload/sections/_video-rooms.html" %}
	{% endif %}

	{#{% if section.blockType == 'randomParty' %}
	{% set randomPartyData = section %}
	{% include "partials/_random-party.html" %}
	{% endif %}#}

	{% if section.blockType == 'party' %}
	{% set partyData = section %}
	{% include "partials/payload/sections/_party.html" %}
	{% endif %}

	{% if section.blockType == 'tours' %}
	{% set toursData = section %}
	{% include "parts/_tours.html" %}
	{% endif %}


	{% if section.blockType == 'location' %}
	{% set locationData = section %}
	{% include "partials/payload/sections/_location.html" %}
	{% endif %}

	{% if section.blockType == 'fleet' %}
	{% set fleetData = section %}
	{% include "partials/_fleet.html" %}
	{% endif %}

	{% if section.blockType == 'awards' %}
	{% set awardsData = section %}
	{% include "partials/payload/sections/_awards.html" %}
	{% endif %}

	{% if section.blockType == 'diversity' %}
	{% set diversityData = section %}
	{% include "partials/payload/sections/_diversity.html" %}
	{% endif %}



	{% if section.blockType == 'sponsors' %}
	{% set sponsorsData = section %}
	{% include "partials/payload/sections/_sponsors.html" %}
	{% endif %}

	{% endfor %}


</div>

{% include "partials/payload/sections/_footerV2.html" %}


{% include "partials/_price-increase.html" %}
{% include "partials/payload/blocks/_notice-panel.html" %}
{% if payload.components.subscriptionPopup %}
{% include "partials/payload/blocks/_popup-subscription.html" %}
{% endif %}
{% if pages[pageKey].pageSections.popupBonusOffer %}
{% include "partials/_popup-bonus-offer.html" %}
{% endif %}

{% endblock %}