---
pageKey: workshops_alt
headerBtn: true
speakersMod: speakers_center no-tags
speakersTitle: Trainers
heroInnerBgImage: 'img/workshops-bg.jpg'
ogImage: https://reactsummit.com/img/ogImage.png
ogUrl: https://reactsummit.com

canonicalUrl: remote-react-workshops
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
	{% include "partials/_hero-inner.html" %}
	{% include "partials/_workshops-3h.html" %}
	{% include "partials/_speakers-3h.html" %}
	{% include "partials/_footerV2.html" %}
</div>
{% endblock %}