---
pageKey: schedule
headerBtn: true
sponsorsDescription: true
fakeLinks: true
remoteSwitchLink: schedule-offline

<!-- emsObj: true  -->
emsScheduleObj: true
scheduleNewStyle: true

ogImage: https://reactsummit.com/img/ogImage.png
ogUrl: https://reactsummit.com
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="main js-main">
  {% include "partials/_hero-live.html" %}

  {% if pages[pageKey].pageSections.schedule %}
  {% if not scheduleNewStyle %}
  {% if not emsObj %}
  {% set filterByDate = "2022-06-17T00:00:00.000Z" %}
  {% include "partials/_schedule.html" %}

  {% set filterByDate = "2022-06-21T00:00:00.000Z" %}
  {% set scheduleSecondDate = true %}
  {% include "partials/_schedule.html" %}
  {% else %}
  {% set filterByDate = "2022-06-17T00:00:00.000Z" %}
  {% include "partials/_scheduleEms.html" %}

  {% set filterByDate = "2022-06-21T00:00:00.000Z" %}
  {% set scheduleSecondDate = true %}
  {% include "partials/_scheduleEms.html" %}
  {% endif %}

  {% else %}
  {% set filterByDate_1 = "2023-06-02" %}
  {% set filterByDate_2 = "2023-06-06" %}

  {% include "partials/_scheduleV2.html" %}
  {% endif %}
  {% endif %}


  {% include "partials/_footerV2.html" %}
</div>

{% endblock %}
