---
pageKey: perks
headerBtn: true

ogImage: https://typescriptcongress.com/img/ogImage.png
ogUrl: https://typescriptcongress.com
canonicalUrl: perks
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
  {% include "partials/_hero-perks.html" %}

  <div class="light">
    {% include "partials/_content-perks.html" %}
    <div class="separator"></div>
    {% include "partials/_footerV2.html" %}
  </div>
</div>
{% endblock %}
