---
pageKey: schedule
headerBtn: true
sponsorsDescription: true
fakeLinks: true
remoteSwitchLink: schedule-offline

<!-- emsObj: true -->
emsScheduleObj: true
scheduleNewStyle: true

ogImage: https://typescriptcongress.com/img/ogImage.png
ogUrl: https://typescriptcongress.com
---

{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header.html" %}

	<div class="main js-main">
		{% include "partials/_hero-live.html" %}
    {% if pages[pageKey].pageSections.schedule %}
    {% include "partials/_scheduleV2.html" %}
    {% endif %}
		<div class="light">
			<div class="separator"></div>

			{% include "partials/_footerV2.html" %}
		</div>
	</div>

{% endblock %}

