---
pageKey: schedule
headerBtn: true
sponsorsDescription: true
fakeLinks: true
inPerson: true

remoteSwitchLink: schedule
timeZone: Europe/Amsterdam

ogImage: https://typescriptcongress.com/img/ogImage.png
ogUrl: https://typescriptcongress.com

canonicalUrl: schedule-offline
---

{% extends "layouts/_layout.html" %}

{% block content %}

<div class="main js-main">
	{% include "partials/_hero-inner.html" %}

	{% include "partials/_scheduleV2.html" %}

	<div class="light">
		<div class="separator"></div>
		{% include "partials/_footerV2.html" %}
	</div>
</div>

{% endblock %}