---
pageKey: workshops
headerBtn: true
speakersMod: speakers_center no-tags
speakersTitle: Trainers
heroInnerBgImage: 'img/workshops-bg.jpg'
ogImage: https://typescriptcongress.com/img/ogImage.png
ogUrl: https://typescriptcongress.com
canonicalUrl: workshops
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
	{% include "partials/_hero-inner.html" %}

	<div class="light">
		{% include "partials/_workshops.html" %}
		{% include "partials/_speakers-full.html" %}
		{% include "partials/_guarantee.html" %}
		<div class="separator"></div>
		{% include "partials/_footerV2.html" %}
	</div>
</div>
{% endblock %}