---
pageKey: workshops_alt
headerBtn: true
speakersMod: speakers_center no-tags alt-styles
speakersTitle: Trainers

ogImage: https://mlconf.eu/img/ogImage.png
ogUrl: https://mlconf.eu/
canonicalUrl: workshops-3h
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
  {% include "partials/_hero-workshops.html" %}
  {% include "partials/_workshops-3h.html" %}
  {% include "partials/_speakers-3h.html" %}
  {% include "partials/_footerV2.html" %}
</div>
{% endblock %}
