---
pageKey: schedule
followUsTall: true
inner: true
fakeLinks: true
headerMod: visible
remoteSwitchLink: '/schedule-offline'

---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "parts/_header.html" %}

{# {% if pages[pageKey].pageSections.remoteSwitch %}
{% include "partials/_remote-switch.html" %}
{% endif %} #}

<main class="content">
  {% if pages[pageKey].pageSections.schedule %}
  {% set filterByDate_1 = "2023-10-20" %}
  {% set filterByDate_2 = "2023-10-23" %}

  {% include "partials/_scheduleV3.html" %}
  {% endif %}

</main>

{% include "parts/_footer.html" %}

{% endblock %}
