---
pageKey: workshops
followUsTall: true
inner: true
pageWorkshop: true

speakers: [
	{
		img: 'kitze.jpg',
		name: 'Kitze',
		company: 'ReactAcademy, Poland',
		info: 'Teaching React & Javascript at React Academy. Cares about open source, made and maintains sizzy.co, custom-react-scripts, and mobx-router. He had the chance to work and experiment with a variety of languages and frameworks.',
		tag: 'Keynote',
		socials: [
			{
				link: 'https://github.com/kitze',
				icon: 'gh',
			},{
				link: 'https://twitter.com/thekitze',
				icon: 'tw',
			}
		]
	}, {
		img: 'nik.jpg',
		name: 'Nik Graf',
		company: Freelance, Austria',
		info: 'Passionate about ReasonML, WebVR, Skiing & Triathlons. Co-Creator of DraftJS Plugins & Polished. Organizer at ReasonConf.',
		tag: 'Reason',
		socials: [
			{
				link: 'https://github.com/nikgraf',
				icon: 'gh',
			},{
				link: 'https://twitter.com/nikgraf',
				icon: 'tw',
			}
		]
	}, {
		img: 'michel.jpg',
		name: 'Michel Weststrate',
		company: 'Freelance, Netherlands',
		info: 'Independent OSS maintainer, speaker, trainer & consultant. Author of MobX, mobx-state-tree, serializr, immer.',
		socials: [
			{
				link: 'https://github.com/mweststrate',
				icon: 'gh',
			},{
				link: 'https://twitter.com/mweststrate',
				icon: 'tw',
			}
		]
	}, {
		img: 'sid.jpg',
		name: 'Siddharth Kshetrapal',
		company: Independent Developer, India',
		info: 'Sid builds tools for developers. In the past, he worked on Design Systems at Auth0 and as the frontend architect at Practo. He loves talking about design, performance and open source.',
		tag: 'Patterns',
		socials: [
			{
				link: 'https://github.com/siddharthkp',
				icon: 'gh',
			},{
				link: 'https://twitter.com/siddharthkp',
				icon: 'tw',
			}
		]
	}, {
		img: 'vladimir.jpg',
		name: 'Vladimir Novick',
		company: 'Hasura, Israel',
		info: 'Developer advocate at hasura.io, Google Developer Expert, consultant, worldwide speaker, published author, host of the 3factorRadio podcast and OSS contributor. Currently, Vladimir works with Web, Mobile, VR, AR, and IoT technologies and advocates the use of GraphQL and serverless architectures as well as functional languages such as ReasonML.',
		tag: '',
		socials: [
			{
				link: 'https://github.com/vnovick',
				icon: 'gh',
			},{
				link: 'https://twitter.com/VladimirNovick',
				icon: 'tw',
			},{
				link: 'http://vnovick.com',
				icon: 'web',
			}
		]
	}
]
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "parts/_header.html" %}
	
	<main class="content">

		{% include "parts/_intro.html" %}

		<section class="section workshops ws-workshop" id="about">
			<div class="container">

				<div class="workshops__decor-bottom"></div>

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">{{ pagesPieceOfTexts.workshopsInner__title | safe }}</h3>

						<div class="section__desc">{{ pagesPieceOfTexts.workshopsInner__desc | safe }}</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section" id="programmes">
			<div class="container pt-0">

				<!-- <div class="content-tab max-width">
					<button class="content-tab__tab js-tabs__tab active" id="general-tab">24th Ocober</button>
					<button class="content-tab__tab js-tabs__tab" id="react-tab">23th Ocober</button>
				</div> -->

				<ul class="schedule-list max-width js-tabs__panel active" id="general-panel">
					{% for workshop in workshops %}
					{{own_mixins.workshop({
						time: workshop.startingTime,
						title: workshop.title,
						name: workshop.trainer,
						desc: workshop.description,
						content: workshop.content,
						additionalInfo: workshop.additionalInfo,
						prerequisites: workshop.prerequisites,
						level: workshop.level,
						endtime: workshop.endtime
					})}}
					{% endfor %}
				</ul>

				<!-- <ul class="schedule-list max-width js-tabs__panel" id="react-panel">
					{% for item in workshopsGeneral %}
					{{own_mixins.workshop({
						time: item.time,
						title: item.title,
						name: item.name,
						desc: item.desc,
						descLines: item.descLines,
						endtime: item.endtime
					})}}
					{% endfor %}
				</ul> -->

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>T</span></span>rainers
						</h3>
					</div>
				</div>

				<div class="team">
					{% for speaker in speakers.workshops %}
						{{own_mixins.speaker({
							img: speaker.avatar,
							name: speaker.name,
							company: speaker.company,
							info: speaker.bio,
							tag: speaker.label,
							socials: speaker.socials
						})}}
					{% endfor %}
				</div>

			</div>
		</section>
		
		{% include "parts/_guarantee.html" %}

		{% include "parts/_follow.html" %}

	</main>

{% include "parts/_footer.html" %}

{% endblock %}
