@import url('https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css')

=GPFont
    font-family: GothamPro, sans-serif

=light
    font-family: 'Manrope', sans-serif
    font-weight: 300

=regular
    font-family: 'Manrope', sans-serif
    font-weight: 400

=medium
    font-family: 'Manrope', sans-serif
    font-weight: 500

=bold
    font-family: 'Sora', sans-serif
    font-weight: 700

=black
    font-family: 'Sora', sans-serif
    font-weight: 800

