
=light
    font-family: 'Manrope', sans-serif
    font-weight: 300

=regular
    font-family: 'Manrope', sans-serif
    font-weight: 400

=medium
    font-family: 'Manrope', sans-serif
    font-weight: 500

=bold
    font-family: 'Sora', sans-serif
    font-weight: 700

=black
    font-family: 'Sora', sans-serif
    font-weight: 800