+font('GothamPro' , 'GothamPro', 400)
+font('GothamPro' , 'GothamProLight', 300)
+font('GothamPro' , 'GothamProMedium', 500)
+font('GothamPro' , 'GothamProBold', 700)
+font('GothamPro' , 'GothamProBlack', 900)

=gotL
    font-family: 'GothamPro', Arial, Helvetica, sans-serif
    font-weight: 300

=got
    font-family: 'GothamPro', Arial, Helvetica, sans-serif
    font-weight: 400

=gotM
    font-family: 'GothamPro', Arial, Helvetica, sans-serif
    font-weight: 500

=gotB
    font-family: 'GothamPro', Arial, Helvetica, sans-serif
    font-weight: 700

=gotBl
    font-family: 'GothamPro', Arial, Helvetica, sans-serif
    font-weight: 900

=roboto
    font-family: 'Roboto Mono', monospace
    font-weight: 500

=robotoB
    font-family: 'Roboto Mono', monospace
    font-weight: 700