
/*----- COLORS -----*/

$mainBg: #212121
$mainBg2: #353535
$themeColor: #fef502
$themeColor2: #fef502
$themeColorD: #fef502
$white: #ffffff
$grayD: #8D8D8D
$gray: #424242
$grayL: #eaeaec
$black: #353535

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 49px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- CHECKOUT -----*/
$checkoutSectionBg: #212121
$cehckoutInputColor: #fff
$cehckoutInputBg: #353535
$cehckoutColorGray: #eaeaec
$cehckoutBadgeBg: #fff
$cehckoutBadgeColor: #000
// end CHEcKoUT

/*----- SWITCH -----*/
$switchColor: $black
$switchHandler: $black

// end SWITCH
