---
pageKey: checkout
headerBtn: true
titoHeader: false

ogImage: https://jsnation.com/img/ogImage.png
ogUrl: https://jsnation.com/
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "parts/_header.html" %}
<div class="main js-main">
  {% include "partials/_checkout.html" %}
  {% include "partials/_footerV2.html" %}
</div>

<script>
  window.tito = window.tito || function () { (tito.q = tito.q || []).push(arguments); };

  tito('on:widget:loaded', function (data) {
    // "Lead" event when tito js widget actually initialized
    twq('event', 'tw-nyyow-odlu6', {});
  })
  tito('on:registration:started', function (data) {
    console.log('on:registration:started', data);
    twq('track', 'Purchase', {
      value: Number(data.total),
      conversion_id: data.slug,
      currency: data.currency,
      num_items: data.tickets_count,
    });
    // User clicker continue after selecting ticket and loaded the checkout modal
    twq('event', 'tw-nyyow-odlu5', {});

    if (typeof window.lintrk !== 'undefined') {
      window.lintrk('track', { conversion_id: 11620841 });
      alert(1)
    } else {
      alert(2)
    }
  })
  tito('on:registration:finished', function (data) {
    console.log('on:registration:finished', data);

    twq('track', 'Purchase', {
      value: Number(data.total),
      conversion_id: data.slug,
      currency: data.currency,
      num_items: data.tickets_count,
    });

    // Robert: "Custom" event separately from Purchase, has same payload
    twq('event', 'tw-nyyow-odlu7', {
      value: Number(data.total),
      conversion_id: data.slug,
      currency: data.currency,
      num_items: data.tickets_count,
    });

    // Linkedin purchase conversion
    if(typeof window.lintrk('track', { conversion_id: 11620841 }) !== 'undefined') {
      window.lintrk('track', { conversion_id: 11620841 });
    }
  })

  
</script>
{% endblock %}