---
pageKey: faq
heroInnerBgImage: img/coc.jpg
canonicalUrl: faq
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/payload/sections/_header.html" %}

<main class="main">
	{% for section in payload.pages[pageKey].sections %}

	{% if section.blockType == 'heroInner' %}
	{% set heroInnerData = section %}
	{% include "partials/payload/sections/_hero-inner.html" %}
	{% endif %}

	{% if section.blockType == 'faq' %}
	{% set faqData = section %}
	{% include "partials/payload/sections/_faq-content.html" %}
	{% endif %}

	{% endfor %}
</main>

{% include "partials/payload/sections/_footerV2.html" %}

{% endblock %}