---
pageKey: main
fakeLinks: true

ogImage: https://jsnation.com/img/ogImage.png
ogUrl: https://jsnation.com/
confName: jsn

---

{% extends "layouts/_layout.html" %}

{% block heroScript %}
{% include "partials/js/_filter-hero-buttons.html" %}
{% endblock %}

{% block content %}

{% include "partials/_header.html" %}

<main class="main">

	{% for section in pages[pageKey].sections %}

	{% if section.key == 'Hero' %}
	{% set heroData = section %}
	{% include "parts/_hero.html" %}
	{% endif %}

	{% if section.key == 'Event' %}
	{% set eventData = section %}
	{% include "parts/_event.html" %}
	{% endif %}

	{% if section.key == 'Features' %}
	{% set featureData = section %}
	{% include "partials/sections/_features-gridV2.html" %}
	{% endif %}

	{% if section.key == 'LineUp' %}
	{% set lineUpData = section %}
	{% include "partials/sections/_line-up.html" %}
	{% endif %}

	{% if section.key == 'Techs' %}
	{% set techData = section %}
	{% include "partials/sections/_techs.html" %}
	{% endif %}


	{% if section.key == 'Speakers' %}
	{% set speakersData = section %}
	{% include "partials/sections/_speakers.html" %}
	{% endif %}

	{% if section.key == 'PastSpeakers' %}
	{% set pastSpeakersData = section %}
	{% include "partials/sections/_pastSpeakers.html" %}
	{% endif %}


	{% if section.key == 'MCs' %}
	{% set mcsData = section %}
	{% include "partials/sections/_mcs.html" %}
	{% endif %}

	{% if section.key == 'ScheduleButton' %}
	{% set scheduleData = section %}
	{% include "partials/sections/_schedule-button.html" %}
	{% endif %}



	{% if section.key == 'Committee' %}
	{% set committeeData = section %}
	{% include "partials/sections/_committee.html" %}
	{% endif %}


	{% if section.key == 'FollowUs' %}
	{% set followUsData = section %}
	{% include "partials/sections/_contact-formV2.html" %}
	{% endif %}

	{% if section.key == 'Workshops' %}
	{% set workshopsListData = section %}
	{% include "partials/sections/_workshops-listV2.html" %}
	{% endif %}

	{% if section.key == 'Location' %}
	{% set locationData = section %}
	{% include "partials/sections/_location.html" %}
	{% endif %}

	{% if section.key == 'Multipass' %}
	{% set multipassData = section %}
	{% include "partials/sections/_multipassV2.html" %}
	{% endif %}

	{% if section.key == 'Prices' %}
	{% set pricesData = section %}
	{% include "partials/sections/_prices.html" %}
	{% endif %}

	{% if section.key == 'FullTicket' %}
	{% set fullTicketData = section %}
	{% include "partials/sections/_full-ticket.html" %}
	{% endif %}

	{% if section.key == 'FreeTicket' %}
	{% set freeTicketData = section %}
	{% include "partials/sections/_free-ticket.html" %}
	{% endif %}

	{% if section.key == 'Discussion' and customContent.videoRooms %}
	{% set DiscussionData = section %}
	{% include "parts/_video-rooms.html" %}
	{% endif %}

	{% if section.key == 'Party' %}
	{% set partyData = section %}
	{% include "parts/_party-info.html" %}
	{% endif %}

	{% if section.key == 'ZoomBars' %}
	{% set zoomBarsData = section %}
	{% include "partials/sections/_zoom-bars.html" %}
	{% endif %}

	{% if section.key == 'Awards' %}
	{% set awardsData = section %}
	{% include "partials/sections/_awards.html" %}
	{% endif %}

	{% if section.key == 'Diversity' %}
	{% set diversityData = section %}
	{% include "parts/_diversity.html" %}
	{% endif %}

	{% if section.key == 'Sponsors' %}
	{% set sponsorsData = section %}
	{% include "partials/sections/_sponsors.html" %}
	{% endif %}


	{% endfor %}


	{#

	{% if pages[pageKey].pageSections.forBoss %}
	{% include "partials/_for-boss.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.performances %}
	{% include "parts/_performances.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.twitts %}
	{% include "parts/_twitts.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.popVideos %}
	{% include "parts/_pop-videos.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.companyTicket %}
	{% include "partials/_company-ticket.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.discountForm %}
	{% include "partials/_discount-form.html" %}
	{% endif %}

	#}







</main>

{% if pages[pageKey].pageSections.popupBonusOffer %}
{% include "partials/_popup-bonus-offer.html" %}
{% endif %}

{% if pages[pageKey].pageSections.popupSubscription %}
{% include "partials/_popup-subscription.html" %}
{% endif %}

{% include "partials/_footerV2.html" %}
{% include "partials/_price-increase.html" %}
{% include "partials/_notice-panel.html" %}

{% endblock %}