---
pageKey: main
fakeLinks: true

ogImage: https://jsnation.com/img/ogImage.png
ogUrl: https://jsnation.com/
confName: jsn

---

{% extends "layouts/_layout.html" %}

{% block heroScript %}
{% include "partials/js/_filter-hero-buttons.html" %}
{% endblock %}

{% block content %}

{% include "partials/payload/sections/_header.html" %}

<main class="main">

	{% for section in payload.pages[pageKey].sections %}

	{% if section.blockType == 'hero' %}
	{% set heroData = section %}
	{% include "parts/_hero.html" %}
	{% endif %}

	{% if section.blockType == 'event' %}
	{% set eventData = section %}
	{% include "parts/_event.html" %}
	{% endif %}

	{% if section.blockType == 'features' %}
	{% set featuresData = section %}
	{% include "partials/payload/sections/_features-grid.html" %}
	{% endif %}

	{% if section.blockType == 'techs' %}
	{% set techsData = section %}
	{% include "partials/payload/sections/_techs.html" %}
	{% endif %}

	{% if section.blockType == 'deepDives' %}
	{% set deepDivesData = section %}
	{% include "partials/payload/sections/_deep-dives.html" %}
	{% endif %}

	{% if section.blockType == 'lineUp' %}
	{% set lineUpData = section %}
	{% include "partials/payload/sections/_line-up.html" %}
	{% endif %}

	{% if section.blockType == 'speakers' %}
	{% set speakersData = section %}
	{% include "partials/payload/sections/_speakers.html" %}
	{% endif %}

	{% if section.blockType == 'pastSpeakers' %}
	{% set pastSpeakersData = section %}
	{% include "partials/payload/sections/_past-speakers.html" %}
	{% endif %}

	{% if section.blockType == 'mcs' %}
	{% set mcsData = section %}
	{% include "partials/payload/sections/_mcs.html" %}
	{% endif %}

	{% if section.blockType == 'committee' %}
	{% set committeeData = section %}
	{% include "partials/payload/sections/_committee.html" %}
	{% endif %}

	{% if section.blockType == 'followUs' %}
	{% set followUsData = section %}
	{% include "partials/payload/sections/_contact-form.html" %}
	{% endif %}

	{% if section.blockType == 'workshops' %}
	{% set workshopsData = section %}
	{% include "partials/payload/sections/_workshops.html" %}
	{% endif %}

	{% if section.blockType == 'location' %}
	{% set locationData = section %}
	{% include "partials/payload/sections/_location.html" %}
	{% endif %}

	{% if section.blockType == 'multipass' %}
	{% set multipassData = section %}
	{% include "partials/payload/sections/_multipass.html" %}
	{% endif %}

	{% if section.blockType == 'prices' %}
	{% set pricesData = section %}
	{% include "partials/payload/sections/_prices.html" %}
	{% endif %}

	{% if section.blockType == 'fullTicket' %}
	{% set fullTicketData = section %}
	{% include "partials/payload/sections/_full-ticket.html" %}
	{% endif %}

	{% if section.blockType == 'freeTicket' %}
	{% set freeTicketData = section %}
	{% include "partials/payload/sections/_free-ticket.html" %}
	{% endif %}

	{% if section.blockType == 'discussions' %}
	{% set discussionsData = section %}
	{% include "partials/payload/sections/_video-rooms.html" %}
	{% endif %}

	{% if section.blockType == 'party' %}
	{% set partyData = section %}
	{% include "parts/_party-info.html" %}
	{% endif %}

	{% if section.blockType == 'zoomBars' %}
	{% set zoomBarsData = section %}
	{% include "partials/payload/sections/_zoom-bars.html" %}
	{% endif %}

	{% if section.blockType == 'awards' %}
	{% set awardsData = section %}
	{% include "partials/payload/sections/_awards.html" %}
	{% endif %}

	{% if section.blockType == 'diversity' %}
	{% set diversityData = section %}
	{% include "parts/_diversity.html" %}
	{% endif %}

	{% if section.blockType == 'sponsors' %}
	{% set sponsorsData = section %}
	{% include "partials/payload/sections/_sponsors.html" %}
	{% endif %}

	{% endfor %}

	{% for section in pages[pageKey].sections %}

	{% if section.key == 'Techs' %}
	{% set techData = section %}
	{% include "partials/sections/_techs.html" %}
	{% endif %}

	{% if section.key == 'ScheduleButton' %}
	{% set scheduleData = section %}
	{% include "partials/sections/_schedule-button.html" %}
	{% endif %}


	{% endfor %}


	{#

	{% if pages[pageKey].pageSections.forBoss %}
	{% include "partials/_for-boss.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.performances %}
	{% include "parts/_performances.html" %}
	{% endif %}

	#}

</main>

{% if pages[pageKey].pageSections.popupBonusOffer %}
{% include "partials/blocks/_popup-bonus-offer.html" %}
{% endif %}

{% if pages[pageKey].pageSections.popupSubscription %}
{% include "partials/blocks/_popup-subscription.html" %}
{% endif %}

{% include "partials/payload/sections/_footerV2.html" %}
{% include "partials/blocks/_price-increase.html" %}
{% include "partials/blocks/_notice-panel.html" %}

{% endblock %}