---
pageKey: workshops_alt
fakeLinks: true
heroInnerBgImage: 'img/workshops.jpg'
canonicalUrl: remote-js-workshops
---
{% extends "layouts/_layout.html" %}

{% block content %}



{% include "partials/payload/sections/_header.html" %}

<main class="main">
	{% include "partials/payload/sections/_hero-inner.html" %}

	{% set workshopsGroup = 'free' %}

	{% for section in payload.pages[pageKey].sections %}

	{% if section.blockType == 'workshops' %}
	{% set workshopsData = section %}
	{% include "partials/payload/sections/_workshops.html" %}
	{% endif %}

	{% endfor %}

	{% set trainersGroup = 'free' %}
	{% include "partials/payload/sections/_trainers.html" %}

</main>

{% include "partials/payload/sections/_footerV2.html" %}

{% endblock %}