---
pageKey: schedule
fakeLinks: true
inPerson: true
timeZone: Europe/Amsterdam

canonicalUrl: schedule-offline
---
{% extends "layouts/_layout.html" %}

{% block content %}



<div class="main js-main">
	{% for section in payload.pages[pageKey].sections %}

	{% if section.blockType == 'schedule' %}
	{% set scheduleData = section %}
	{% include "partials/payload/sections/_scheduleV2.html" %}
	{% endif %}

	{% endfor %}
</div>
{% include "partials/payload/sections/_footerV2.html" %}

{% endblock %}