<div class="hero" style="background-image:url(img/extended-bg.jpg);">
  <div class="hero__inner graphcms-container"
    {{ mixins.cmsData(pages[pageKey]) }}
  >
    <div class="hero__logo">
      <a href="/" class="logo"><img src="img/logo-jsnl.svg" alt="JSNation Live"></a>
    </div>
    <div class="hero__suptitle">{{ pages.extended.pageSections.hero_subtitle }}</div>
    <h1 class="hero__title">{{ pages.extended.pageSections.hero_title }}</h1>
    
	{% if pages[pageKey].pageStatistics.eventStats %}
		{{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
	{% endif %}
  </div>
</div>
