\:root
	--accentColor: #4629FF
	--accentColorHover: #2960ff
	--bodyColor: #000
	--colorWhite: #fff
	--button-background: #4629FF
	--button-background-hover: #2960ff
	--button-color: #fff
	--button-color-hover: #fff

	--price-increase-bg: #0C0C0C
	--price-increase-color: #fff
	--price-increase-border: rgba(252, 255, 255, 0.15)

	--checkout-section-bg: #181818
	--checkout-section-color: #fff
	--checkout-section-secondary-color: #949494
	--checkout-outline-color: #3e3e3e
	--checkout-card-bg: #262626

	--price-section-bg: #0e0e0e
	--price-color: #fff

	--price-item-bg: #0e0e0e
	--price-item-border: #363636
	--price-item-radius: 16px
	--price-item-discount-color: #fff

	--workshop-item-ff: GothamPro
	--workshop-item-type-color: #fff
	--workshop-item-type-color-free: #fff
	--workshop-item-type-radius: 4px

	--color-brand: #4629FF
	--color-brand-hover: #2960ff
	--color-popup-ticket-border: #4629FF
	--color-popup-button-text: #fff

$font-size: 16px

/*----- COLORS -----*/

$mainBg: #FFFFFF
$mainBg2: #eaeaec
$black: #000
$white: #fff
$gray: #E2E2E2
$gray2: #363636
$gray3: #6C6C6C
$themeColor: #4629FF
$themeColorD: #ff6320
$themeColor2: #000000
$accent: #b1ec00

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- SWITCH -----*/
$switchBG: #b1ec00
$switchColor: $black
$switchHandler: $black

// end SWITCH

$roboto: 'Roboto Mono', monospace
$monaSans: 'MonaSans'
