<section class="zoom-bars section" id="tours">
  <div class="container">
    <h3 class="section__title">{{ mixins.text(pieceOfTexts, 'tours__title') }}</h3>

    {% if pagesPieceOfTexts.tours__subtitle %}
      <h4 class="section__subtitle">{{ mixins.text(pieceOfTexts, 'tours__subtitle') }}</h4>
    {% endif %}

    {% if pages[pageKey].pageSections.tours[0].title %}
    <div class="bars-list hide-avatar">
      {% for tour in pages[pageKey].pageSections.tours %}
      <div class="bars-list__item" 
        {% if tour.link %}
        onclick={{ eventsLayer.openDialogSecure({name: 'video-room', isAuth: not fakeLinks, link: tour.link, data: tour | dump, values: 'barTitle:' + tour.title + ';', category: 'zoom-bar-click' })}}
        {% endif %}
        >
        <img class="bars-list__bg" src="{{ tour.bgImage.src }}" alt="{{ tour.bgImage.alt }}"/>
        <div class="bars-list__content">
          <p class="bars-list__bar">{{ tour.title | safe }}</p>
          <span class="bars-list__with">with</span>
          <p class="bars-list__name">{{ tour.description }}</p>
          <div class="bars-list__rooms">
            <div class="bars-list__room">
              <img class="bars-list__photo" src="{{ tour.avatar.src }}">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
