<section class="section giving-back" id="diversity">
	<div class="container">
		<h3 class="section__title">Giving back to community</h3>
		<div class="section__text text giving-back__text">
			<p>
				When we launched our first event five years ago, we never imagined we would welcome up to 1500 attendees at our events and organize four meetup groups and multiple spin-offs in Europe. Our secret? We welcome people from all walks of life in our community.<br / ><br />

We know that supporting diversity inside and outside of IT takes more than mere statements, which is why our diversity scholarship programs are a key part of every conference we organize.
			</p>
<!--			<p style="margin-top: 16px">On top of our self-funded tickets pool, we're greatly thankful to <strong>GitHub</strong> for sponsoring extra 30 tickets. Make React community a better place, support our scholarship programme!</p>-->
<!--			<a href="https://github.com" target="_blank"><img src="img/diversity-gh.svg" alt="GitHub" class="giving-back__sponsor"></a>-->
		</div>
		<div class="status-bar">
			<div class="status-bar__title">20 of 50 extra diversity scholarships sponsored</div>
			<div class="status-bar__line">
				<div class="status-bar__progress" style="width:40%"></div>
			</div>
		</div>
		<div class="section__text text giving-back__text">
<!--			<p style="margin-top: 16px">On top of our self-funded tickets pool, we're greatly thankful to <strong>GitHub</strong> for sponsoring extra 30 tickets. Make React community a better place, support our scholarship programme!</p>-->
			<p><br / >In addition to our self-funded tickets pool, we're actively working with partner companies to sponsor more diversity scholarship tickets. Help make the React community a better place–support our scholarship programme!</p>
<!--			<a href="https://github.com" target="_blank"><img src="img/diversity-gh.svg" alt="GitHub" class="giving-back__sponsor"></a>-->
		</div>
		<div class="giving-back__btns">
<!--			<a href="https://medium.com/@ReactAmsterdam/apply-for-a-diversity-scholarship-attend-react-amsterdam-2019-for-free-65cd27d17a33" class="btn btn&#45;&#45;border">Apply for diversity scholarship</a>-->
			<a href="mailto:hi@reactsummit.com" class="btn btn--gradient">Sponsor diversity tickets</a>
		</div>
	</div>
	<div class="giving-back__faces">
		<img src="img/faces.png" alt="Faces">
	</div>
</section>
