<section class="section features" id="features">
	<div class="container">
		<h3 class="section__title graphcms-container">
			{{ mixins.text(pieceOfTexts, 'features__title') }}
		</h3>

		<div class="features-block">
			{% for feature in pages[pageKey].pageStatistics.features %}
			<div class="features-block__item">
				<h3 class="features-block__title">{{ feature.title }}</h3>
				<p class="features-block__desc">{{ feature.desc }}</p>
				<div class="features-block__back">
					{% if feature.networkers %}
					<div class="networkers">
						{% for person in speakers[pageKey] %}
						<div class="networkers__item">
							<img class="networkers__speaker" src="{{person.avatar}}"/>
							<p class="networkers__time">{{person.time}}</p>
						</div>
						{% endfor %}
					</div>
					{% endif %}
					{% if feature.bgImg %}
					<img class="features-block__back-pic" src="{{ feature.bgImg }}">
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="container">
			<div class="features__btn">
				<a href="{{  pages[pageKey].pageSections.featuresBtnLink }}" class="btn btn--gradient">{{ pages[pageKey].pageSections.featuresBtnText }}</a>
			</div>
		</div>
	</div>
</section>
