<section class="section full-ticket" id="full-ticket">
	<div class="container">
		<h3 class="section__title section__title_big">{{ mixins.text(pieceOfTexts, 'fullaccess__title') }}</h3>

		<div class="ticket-adv">
			{% for item in pages[pageKey].pageSections.fullTicket %}
			<div class="ticket-adv__item" style="background-image: url({{ item.bg }});">
				<p class="ticket-adv__title">{{ item.title }}</p>
				<div class="ticket-adv__img-wrap">
					<img class="ticket-adv__img" src="{{ item.img }}">
				</div>
				<p class="ticket-adv__desc">{{ item.desc }}</p>
			</div>
			{% endfor %}
		</div>
		
	</div>
</section>
