<div class="hero" style="background-image:url(img/jobs-bg.jpg);">
  <div class="hero__inner graphcms-container"
    {{ mixins.cmsData(pages[pageKey]) }}
  >
    <div class="hero__logo">
      <a href="/" class="logo"><img src="img/logo-summit-online.svg" alt="React Summit - Remote Edition"></a>
    </div>
    <h1 class="hero__title">{{ pages[pageKey].titlePage }}</h1>
<!--    <div class="hero__info">-->
<!--      <ul class="h-list h-list_min">-->
<!--        <li class="h-list__item">-->
<!--          <div class="h-list__value">{{ jobs.length }}+</div>-->
<!--          <div class="h-list__text">Partners</div>-->
<!--        </li>-->
<!--        <li class="h-list__item">-->
<!--          <div class="h-list__value">{{ jobs.length }}+</div>-->
<!--          <div class="h-list__text">Job offers</div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</div>
