<div class="hero" style="background-image:url(img/extended-bg.jpg);">
  <div class="hero__inner graphcms-container"
    {{ mixins.cmsData(pages[pageKey]) }}
  >
    <div class="hero__logo">
      <a href="/" class="logo"><img src="img/logo-summit-online.svg" alt="React Summit - Remote Edition"></a>
    </div>
    <div class="hero__suptitle">{{ pages.extended.pageSections.hero_subtitle }}</div>
    <h1 class="hero__title">{{ pages.extended.pageSections.hero_title }}</h1>
    <div class="hero__info">
      <ul class="h-list h-list_min">
        <li class="h-list__item">
          <div class="h-list__value">{{ pages.extended.pageStatistics.days}}</div>
          <div class="h-list__text">Days</div>
        </li>
        <li class="h-list__item">
          <div class="h-list__value"><img src="img/infinity.png" alt=""/></div>
          <div class="h-list__text">Happiness</div>
        </li>
      </ul>
    </div>
  </div>
</div>
