<section class="info-block section" id="quake">
	<div class="info-block__inner">
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'QuakeJS__title') }}</h3>
		<div class="info-block__text">{{ mixins.text(pieceOfTexts, 'QuakeJS__subtitle') }}</div>

		{% if fakeLinks %}
		<a class="btn btn--border info-block__btn" href="quakejs-tournament" data-fancybox data-src="#popup-ticket">Join tournament</a>
		{% elif pagesPieceOfTexts.QuakeJS__link %}
		<a class="btn btn--border info-block__btn" href="{{ pagesPieceOfTexts.QuakeJS__link }}">Join tournament</a>
		{% else %}
		<a class="btn btn--border info-block__btn" href="{{ pagesPieceOfTexts.QuakeJS__link }}">Check later</a>
		{% endif %}
	</div>
</section>