<section class="location" id="location">
  <div class="container">
    <div class="location__top">
      <div class="swiper-button-prev js-slider-prev location__arrow location__arrow_prev">
        {{mixins.icon('arrow-l')}}
      </div>
      <div class="location__logo">
        <img src="img/place-logo.png" alt="Kromhout">
      </div>
      <div class="swiper-button-next js-slider-next location__arrow location__arrow_next">
        {{mixins.icon('arrow-r')}}
      </div>
    </div>
    <div class="location__map">
      <div class="location__img">
        <img src="img/map-img.svg" alt="">
      </div>
      <div class="map js-map">
        <script>
          function initMap() {
            var zoom, infoSizeX, infoSizeY;
            if (window.innerWidth > 1200) {
              zoom = 16;
              infoSizeX = 507;
              infoSizeY = 226;
            } else if (window.innerWidth > 1023) {
              zoom = 16;
              infoSizeX = 507 * 0.7;
              infoSizeY = 226 * 0.7;
            } else if (window.innerWidth > 767) {
              zoom = 15;
              infoSizeX = 507 * 0.5;
              infoSizeY = 226 * 0.5;
            } else if (window.innerWidth > 699) {
              zoom = 15;
              infoSizeX = 507*0.5;
              infoSizeY = 226*0.5;
            } else {
              zoom = 14;
              infoSizeX = 507*0.28;
              infoSizeY = 226*0.28;
            }
            var mapDiv = document.querySelector('.js-map');
            var map = new google.maps.Map(mapDiv, {
              center: {lat: 52.382331, lng: 4.922177},
              zoom: zoom,
              scrollwheel: false,
              disableDefaultUI: true,
              disableDoubleClickZoom: true,
              zoomControl: false,
              draggable: true
            });

            var styles = [
              {
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "saturation": 36
                  },
                  {
                    "color": "#5d5d5d"
                  },
                  {
                    "lightness": 0
                  }
                ]
              },
              {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "all",
                "elementType": "labels.icon",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [
                  {
                    "color": "#000000"
                  },
                  {
                    "lightness": 0
                  }
                ]
              },
              {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                    "color": "#000000"
                  },
                  {
                    "lightness": 0
                  },
                  {
                    "weight": 1.2
                  }
                ]
              },
              {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#090909"
                  },
                  {
                    "lightness": 0
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#000000"
                  },
                  {
                    "lightness": 0
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                  {
                    "color": "0b0b0b"
                  },
                  {
                    "lightness": 0
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                    "color": "#3b3b3b"
                  },
                  {
                    "lightness": 0
                  },
                  {
                    "weight": 0.4
                  }
                ]
              },
              {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#0b0b0b"
                  },
                  {
                    "lightness": 0
                  }
                ]
              },
              {
                "featureType": "road.arterial",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                    "color": "#3b3b3b"
                  },
                  {
                    "lightness": 0
                  },
                  {
                    "weight": 0.8
                  }
                ]
              },
              {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#010101"
                  },
                  {
                    "lightness": 0
                  }
                ]
              },
              {
                "featureType": "road.local",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                    "color": "#3b3b3b"
                  },
                  {
                    "lightness": 0
                  },
                  {
                    "weight": 0.4
                  }
                ]
              },
              {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#000000"
                  },
                  {
                    "lightness": 0
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#1b1b1b"
                  },
                  {
                    "lightness": 5
                  }
                ]
              }
            ];
            var image = {
              url: 'img/marker.svg',
              anchor: new google.maps.Point(20, 20),
              scaledSize: new google.maps.Size(40, 40)
            };
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(52.383003, 4.920525),
              map: map,
              title: 'Your Sky',
              icon: image
            });

            var anchorX = infoSizeX * (473 / 5.07 / 100);
            var imageBoats = {
              url: 'img/boats-location.png',
              anchor: new google.maps.Point(anchorX, 0),
              scaledSize: new google.maps.Size(infoSizeX, infoSizeY)
            };
            var boats = new google.maps.Marker({
              position: new google.maps.LatLng(52.381821, 4.919549),
              map: map,
              title: 'Your Sky',
              icon: imageBoats
            });


            map.setOptions({styles: styles});
          }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9OZ9xKEBkeoBw6hPjPzz13i0hZbT2LOs&amp;callback=initMap"></script>
      </div>
      <div class="location__info">
        <div class="location__title">{{ mixins.text(pieceOfTexts, 'location__venue') }}</div>
        <div class="location__address">
          {{ mixins.text(pieceOfTexts, 'location__address') }}
        </div>
        {# {{ mixins.text(pieceOfTexts, 'location__address') }} TODO: setup styles #}
        <a
          href="https://www.google.nl/maps/place/the+Kromhouthal/@52.3832816,4.9183379,17z/data=!4m21!1m15!4m14!1m5!1m1!1s0x47c609abb3be496b:0x1a140c53c426f7c7!2m2!1d4.9205266!2d52.3832816!1m6!1m2!1s0x47c609abb3be496b:0x1a140c53c426f7c7!2sthe+Kromhouthal,+Gedempt+Hamerkanaal+231,+1021+KP+Amsterdam!2m2!1d4.9205266!2d52.3832816!3e3!3m4!1s0x47c609abb3be496b:0x1a140c53c426f7c7!8m2!3d52.3832816!4d4.9205266"
          target="_blank" class="theme-link">View on map</a>
      </div>
    </div>
  </div>
  <div class="swiper-container js-slider location__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide location__slide" style="background-image: url(img/place-bg.jpg)"></div>
      <div class="swiper-slide location__slide" style="background-image: url(img/place2.jpg)"></div>
      <div class="swiper-slide location__slide" style="background-image: url(img/place3.jpg)"></div>
    </div>
    <!--<div class="swiper-button-prev js-slider-prev location__arrow location__arrow_prev">-->
    <!--{{mixins.icon('arrow-l')}}-->
    <!--</div>-->
    <!--<div class="swiper-button-next js-slider-next location__arrow location__arrow_next">-->
    <!--{{mixins.icon('arrow-r')}}-->
    <!--</div>-->
  </div>
</section>
