<section class="random-party section" id="random-party">
  <div class="container">
    <div class="random-party__inner">
      <h3 class="section__title">{{ mixins.text(pieceOfTexts, 'randomparty__title') }}</h3>
      <div class="random-party__text">
        {{ mixins.text(pieceOfTexts, 'randomparty__text') }}
      </div>

	  {% if fakeLinks %}
      <button class="btn btn--border random-party__btn" data-fancybox data-src="#popup-ticket">Make new friends</button>
      {% else %}
      <button class="btn btn--border random-party__btn" onclick="openRandomRoom();">Make new friends</button>
      {% endif %}
    </div>
  </div>
</section>