<section class="zoom-bars section" id="zoom-bars">
	<div class="container">
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'zoombars__title') }}</h3>
		<h4 class="section__subtitle">{{ mixins.text(pieceOfTexts, 'zoombars__subtitle') }}</h4>

		<div class="bars-list">
			{% for bar in pages[pageKey].pageSections.zoomBars %}
			<div class="bars-list__item">
				<img class="bars-list__bg" src="{{ bar.bgImage }}">
				<div class="bars-list__content">
					<p class="bars-list__bar">{{ bar.title | safe }}</p>
					with
					<p class="bars-list__name">{{ bar.name }}</p>
					<div class="bars-list__rooms">
						{% for room in bar.rooms %}
							{% if fakeLinks %}
							<a class="bars-list__room" href="room-link" data-fancybox data-src="#popup-ticket">
								<img class="bars-list__photo" src="https://media.graphcms.com/output=format:jpg/resize=fit:crop,height:350,width:350/{{ room.photo }}">
							</a>
							{% elif room.link %}
							<a class="bars-list__room" href="{{ room.link }}">
								<img class="bars-list__photo" src="https://media.graphcms.com/output=format:jpg/resize=fit:crop,height:350,width:350/{{ room.photo }}">
							</a>
							{% else %}
							<div class="bars-list__room">
								<img class="bars-list__photo" src="https://media.graphcms.com/output=format:jpg/resize=fit:crop,height:350,width:350/{{ room.photo }}">
							</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>


	</div>
</section>