\:root

  --accentColor: #fef502
  --button-background: #fef502
  --button-background-hover: #2b3137
  --button-color: #2b3137
  --button-color-hover: #fff

  --price-increase-bg: #20201e
  --price-increase-color: #fff

  --price-section-bg: #20201e
  --price-color: #fff
  --price-item-bg: rgba(255,255,255,.05)
  --price-item-border: 1px solid #3d464e
  --price-item-radius: 10px
  --price-item-title-color: #fef502
  --price-item-title-weight: 700

  --price-slider-btn-size: 54px
  --price-slider-btn-border-color: #2b3137
  --price-slider-btn-radius: 0
  --price-slider-btn-color: #fff
  --price-slider-btn-bg: #2b3137
  --price-slider-btn-bg-hover: #fef502

  --price-btn-color: #fff
  --price-btn-border: 1px solid #3C3C3C
  --price-btn-border-color-hover: #5C5C5C

  --ticketsFormBg: rgba(255,255,255,.05)
  --ticketsFormRadius: 10px
  --ticketsFormBorder: 1px solid #3d464e
  --ticketsFormInputBg: #202020
  --ticketsFormInputBorder: 1px solid #3d464e
  --ticketsFormInputRadius: 10px
  --ticketsFormColor: #fff
  --ticketsFormInputColor: #fff

  --workshop-item-ff: GothamPro
  --workshop-item-color: #fff
  --workshop-item-bg: rgba(255,255,255,.05)
  --workshop-item-type-bg: #fff
  --workshop-item-border: #2c3135
  --workshop-item-type-radius: 4px

$font-size: 16px

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- COLORS -----*/

$mainBg: #20201e
$mainBg2: #101010
$black: #000
$white: #fff
$gray: #202421
$themeColor: #fef502
$themeColorD: #fff83b
$themeColor2: #fef502
$accent: #b1ec00

// end COLORS

/*----- SWITCH -----*/
$switchBG: #fef502
$switchColor: $black
$switchHandler: $black

// end SWITCH
