<section class="s-awards section" id="awards">
  <div class="container">
    <div class="section__title awards__title">{{ pagesPieceOfTexts.awards__title | safe }}</div>

    <div class="awards">
      <div class="awards__content">
        <div class="awards__descr descr">{{ pagesPieceOfTexts.awards__descr | safe }}</div>
      </div>
      <div class="awards__img">
        <div class="osa-img">
          <div class="osa-img__container">
            {{mixins.icon('face')}}
            <div class="osa-img__title">JS Open Source <span>AWARDS</span></div>
          </div>
          <div class="osa-img__circle-1"></div>
          <div class="osa-img__circle-2"></div>
          <div class="osa-img__circle-3"></div>
        </div>
      </div>
    </div>
  </div>
</section>
