<section class="hero" style="background-image: url(img/hero_video.webp);" id="hero">
	<div class="hero__inner">

		<div class="hero__logo">
			<a href="/"><img src="img/logo.svg" alt="JS Nation" /></a>
		</div>
		<div class="hero__content">
			<div class="hero__head">
				<h1 class="hero__title {{ 'hero__title--main' if pages[pageKey] == pages.main }}" data-title="&nbsp;">{{ pagesPieceOfTexts.hero__title | safe }}</h1>
			</div>
			<div class="hero__left">

				{% if pagesPieceOfTexts.hero__time %}
				<div class="hero__date">{{ pagesPieceOfTexts.hero__time | safe }}</div>
				{% endif %}
			</div>
			<div class="hero__right">
				{% if pages[pageKey].pageStatistics.eventStats %}
				<div class="hero__info">
					{{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
				</div>
				{% endif %}

				{% if pagesPieceOfTexts.hero__descr %}
				<div class="hero__descr">{{ pagesPieceOfTexts.hero__descr | safe }}</div>
				{% endif %}
			</div>
		</div>

		<div class="hero__bottom">




			{% if pages[pageKey].pageStatistics.switch %}
			{{mixins.heroSwitch(data=pages[pageKey].pageStatistics.switch)}}
			{% else %}
			<div class="hero__introducing introducing">
				<div class="introducing__head">
					<div class="introducing__title">Introducing</div>
					<div class="introducing__label">Ai.js Track</div>
				</div>
				<div class="introducing__text">Build Production AI with JavaScript and TypeScript Agents, RAG, Evals, Multimodal AI, LLMs local inference and fine tuning and more...</div>
			</div>
			{% endif %}

			{% if not hideHeroCtas %}
			{% include "partials/_hero-buttons.html" %}
			{% endif %}
		</div>
	</div>
	{% if pages[pageKey].pageSections.heroVideo %}
	<video class="hero__video" preload="auto" muted autoplay loop poster="img/hero_video.webp">
		<source src="video/hero.mp4" type="video/mp4" />
	</video>
	{% endif %}
</section>