<!--<section class="img-text img-text_mt">-->
<section class="img-text">
  <div class="img-text__img" style="background-image:url(img/music.png);"></div>
  <div class="img-text__content">
    <div class="img-text__inner">
      <div class="img-text__title title">
        Food <br/>
        (and drink) <br/>
        for thought
      </div>
      <div class="img-text__descr descr">
        <p>
          JavaScript has the potential to change lives and the world we live in. So don’t be shy and explore it with us! If you feel like seeing the most beautiful places in Amsterdam, tasting great food and discovering the city’s hidden perks, we got you covered with free city tours. Being friendly is the default in Amsterdam, even when it comes to ecology, and you can easily rent a bike or hop on public transport to explore any part of the city.
        </p>
        <p>
          And, of course, the conference wouldn’t be complete without an afterparty! Amsterdam is known for its wild nightlife and all our attendees get an invitation to join in.
        </p>
      </div>
    </div>
  </div>
</section>
