<div class="map map_extended">
  <div class="map__pins">\
    <div class="map__pin pin pin_lg js-pin" data-lat="52.385612" data-lng="4.925520">
      <p>Pre-party at Zuiderkerk</br>June 3, 18:00 </p>
      <img src="img/marker.svg" alt="" />
    </div>

    <div class="map__pin pin pin_lg js-pin" data-lat="52.382915" data-lng="4.920900">
      <p>NodeJS Hall</br>June 6, 09:00 </p>
      <img src="img/marker.svg" alt="" />
    </div>

    <div class="map__pin pin pin_lg js-pin" data-lat="52.379647" data-lng="4.923045">
      <p>Walking Tours</br>June 6, 12:00</p>
      <img src="img/marker.svg" alt="" />
    </div>

    <div class="map__pin pin pin_lg js-pin" data-lat="52.387512" data-lng="4.923909">
      <p>Brunch/Picnic</br>June 6, 12:00</p>
      <img src="img/marker.svg" alt="" />
    </div>

    <div class="map__pin pin pin_lg js-pin" data-lat="52.385684" data-lng="4.934605">
      <p>Museum Tours</br>June 6, 12:00</p>
      <img src="img/marker.svg" alt="" />
    </div>
  </div>
  {#<div class="map__inner">
    <div class="map__decor"></div>
    <div class="map__decor map__decor_2"></div>
    <div class="map__decor map__decor_3"></div>
    <div class="map__decor map__decor_4"></div>
    <div class="map__content js-map" data-key="AIzaSyD9OZ9xKEBkeoBw6hPjPzz13i0hZbT2LOs" data-center-lat="52.384662" data-center-lng="4.928135" data-icon="img/marker.svg"></div>
    <!--<script async defer-->
    <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-ZEocFpuybFyJZg92LhWsvIJdo56S34s"></script>-->
  </div>
  #}
</div>