
.dates
	display: flex
	gap: 0 30px
	flex-wrap: wrap
	max-width: 1110px
	margin: 0 auto

	+md
		gap: 20px
		max-width: 620px
		margin: 0 auto

	+xs
		max-width: 320px

	&__item
		position: relative
		flex: 1 1
		border: 1px solid $gray2
		padding: 24px 20px 24px
		min-width: 0
		background: transparent
		min-width: 200px
		border-radius: 15px

		+xs
			flex: 1 1 100%

	&__icon
		position: absolute
		transform: translateY(-5px)
		top: 50%
		right: -21px

		+md
			right: -33px

		+md
			display: none

		.icon
			fill: #fff
			width: 10px
			height: 10px

.date
	text-decoration: none
	height: 100%

	&__inner
		display: flex
		flex-direction: column
		flex: 1
		height: 100%

	&__title
		color: $white
		line-height: 1.32
		font-size: clamp(18px, 5vw, 24px)
		font-weight: 600
		text-transform: uppercase

	&__date
		color: $white
		font-size: clamp(52px, 5vw, 72px)
		line-height: 0.9
		font-weight: 900
		text-transform: uppercase
		margin: clamp(32px, 5vw, 68px) 0 0
		background: linear-gradient(90deg, #6BA7BE 0%, #A1AF7E 100%)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent

		+laptop
			font-size: 5vw

		+md
			font-size: 60px

	&__body
		display: flex
		flex-direction: column
		height: 100%

	&__name
		color: $white
		font-size: 14px
		font-weight: 500
		text-transform: uppercase
		margin: 20px 0 30px

	&__info
		color: $white
		font-size: 12px
		line-height: 1.7
		margin: auto 0 0
		opacity: 0.4

	&__btn
		border: 3px solid $gray2
		background: $mainBg
		margin: auto 0 0
		color: $themeColorD

		&:after,
		&:before
			display: none

		&:hover
			background: transparent
			border-color: $themeColorD
