
.contact-form
  text-align: center
  display: flex
  flex-direction: column
  &__desc, &__desc2
    font-size: 16px
    max-width: 540px
    margin-bottom: clamp(24px, 6vw, 54px)
    margin-left: auto
    margin-right: auto
    p
      margin-bottom: 20px

  &__desc2
    color: #666
    font-size: 12px
    margin-top: 25px
    max-width: 400px
    margin-bottom: 0

  &__form
    margin: 6px auto 0
    max-width: 660px
    width: 100%

  &__field
    position: relative
    display: flex

  &__input
    height: 48px
    width: 100%
    flex: 1 1 auto
    padding: 0 16px
    font-size: 16px
    font-family: inherit
    border: 1px solid $themeColor
    background: transparent
    color: $white
    &:focus-visible
      outline-color: $themeColor2 !important

    &::placeholder
      color: $white

  &__submit
    border: none
    flex: none
    width: 220px
    background: $themeColor
    color: $black
    font-family: inherit
    font-size: 16px
    text-align: center
    padding: 5px 10px
    display: inline-flex
    align-items: center
    justify-content: center
    text-transform: uppercase
    .icon
      fill: $themeColor2
      width: 16px
      height: 15px
      display: none

    &:focus-visible, &:hover
      background: $white
      color: $black
      .icon
        fill: $black

    +xs
      height: 46px
      width: 46px
      top: 2px
      right: 2px
      bottom: 2px

  .social
    display: flex
    gap: 34px
    flex-wrap: wrap
    margin: clamp(22px, 6vw, 50px) auto 0
    justify-content: center
    order: 3
    &__item
      margin: 0

    &__link
      transition: all ease 0.1s
      .icon
        font-size: 24px
        fill: $themeColor

      &:hover, &:focus-visible
        outline: none !important

        .icon
          fill: $white


