.faq
  color: $white
  padding-top: 0

  &__section-title
    font-size: 28px
    font-weight: 500
    margin: 50px 0 30px
    +sm
      margin: 40px 0 20px
      font-size: 26px
      font-weight: 400
    +xs
      font-size: 24px

  &__list
    margin: 20px auto 20px
    +sm
      margin: 20px -15px

  &__description
    font-size: 18px
    font-weight: 400
    line-height: 1.6
    padding: 20px 0
    margin: 30px 0 0

    a
      color: $themeColor

  &.marged
    margin-top: 30px

  &__arrow
    display: none
    +sm
      top: 24px
      right: 28px

  &__item
    position: relative
    margin: 0 0 -2px

    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      bottom: 2px
      width: 2px
      background: #fff
      transition: all ease .3s
      opacity: 0.1

    &.open
      .faq__question
        color: #fff
        &:after
          border-color: #fff
          transform: rotate(-135deg)
          margin-top: -5px

      &:after
        background: $themeColor
        opacity: 1

  &__question
    font-size: 22px
    font-weight: 500
    cursor: pointer
    color: #fff
    padding: 25px 90px 25px 40px
    display: block
    width: 100%
    box-sizing: border-box
    position: relative
    text-align: left
    background: transparent
    +sm
      font-size: 18px
      cursor: pointer
      padding: 15px 50px 15px 20px
    +xs
      font-size: 18px

    &:after
      content: ''
      display: block
      position: absolute
      top: 50%
      right: 30px
      margin-top: -8px
      height: 12px
      width: 12px
      border-bottom: 2px solid #fff
      border-right: 2px solid #fff
      transform: rotate(45deg)
      +sm
        right: 20px

  &__ansver
    font-size: 16px
    line-height: 1.5
    display: none
    padding: 0 40px 25px
    max-width: 840px
    +sm
      font-size: 14px
      padding: 0 20px 15px

    a
      color: $themeColor

    p
      margin: 16px 0 0
      color: $white
      &:first-child
        margin: 0
