.header
  z-index: 9
  background-color: rgba(0, 0, 0, 0.8)
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  &__logo
    display: none
  &__socials
    flex: none
    margin-right: auto
    align-self: center
    .social
      align-items: center

      &__link
        display: block

        text-decoration: none
        svg
          display: block

      &__text
        display: none
        font-size: 24px
        line-height: 1.2
        text-transform: uppercase

  &__inner
    position: relative
    display: flex
    gap: 33px
    height: 48px
    padding-right: 155px !important
    @extend .container
    +laptop
      padding-right: 138px !important
    +md
      display: none

  &__burger
    position: absolute
    bottom: 0
    z-index: 5
    left: calc(50% + (1440px / 2) - 154px )
    +laptop
      left: auto
      right: 0
    +md
      bottom: auto
      top: 36px
      right: 40px
      position: fixed
    +sm
      top: 20px
      right: 24px

  &__btn
    .btn
      min-width: 130px
      font-size: 12px

  &__drop-menu
    position: absolute
    display: none
    bottom: 0
    height: 100vh
    right: 0
    z-index: 100
    padding: 60px 0 60px 60px
    background: $themeColor
    width: clamp(37%, 2vw, 44%)
    min-width: 360px
    +laptop
      padding-left: 38px
    +md
      padding-left: 20px
    +sm
      min-width: 320px
      width: 100%

    &.is-open
      overflow: hidden
      overflow-y: auto
      z-index: 4
      display: flex
      flex-direction: column

.drop-nav
  margin: auto 0
  &__item
    margin-bottom: clamp(5px, .33vw, 12px)
    &:last-child
      margin-bottom: 0
  &__link
    display: block
    color: $black
    text-decoration: none
    font-size: clamp(40px, 2.1vw, 80px)
    line-height: 1.2
    padding: clamp(5px, .33vw, 15px) 20px clamp(5px, .33vw, 15px) clamp(90px, 6.5vw, 250px)
    position: relative
    +desktop
      font-size: 32px
    +laptop
      padding-left: 66px
      font-size: 24px
    &:before
      content: '>'
      position: absolute
      left: clamp(30px, 6.5vw, 65px)
      top: 50%
      transform: translate(0,-50%)
      font-size: inherit
      color: $themeColor
      display: none
      +laptop
        left: 25px
    &.is-active, &:hover, &:focus-visible
      background: $black
      color: $white
      &:before
        display: block

.nav
  display: flex
  height: 100%
  &__link
    text-decoration: none
    color: $white
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    padding: 0 12px
    line-height: 1.2
    transition: 0.3s
    font-size: 12px

    &:hover, &:focus-visible
      color: #9dde00

.burger
  width: 154px
  height: 48px
  cursor: pointer
  display: flex
  flex-direction: column
  justify-content: center
  gap: 8px

  align-items: center
  +laptop
    width: 138px
  +md
    width: 35px
    height: 35px
  &:before
    content: attr(data-burger)
    display: block
    text-align: center
    color: $themeColor
    font-size: 12px
    line-height: 1.2
    text-transform: uppercase
    flex: none
    +md
      display: none
  span
    display: none
    height: 2px
    background: $themeColor
    width: 100%
    transition: 0.3s
    +md
      display: block
  &.is-active
    // width: 60px
    background: #000
    +md
      background: none
    &:before
      content: '[ close ]'
    span
      background: #000
      &:nth-child(2n)
        opacity: 0
      &:first-child
        transform: translate(0, 10px) rotate(45deg)
      &:last-child
        transform: translate(0, -10px) rotate(-45deg)

.logo
  img
    display: block

.header2
  top: 0
  padding: 32px 0
  bottom: auto
  background: transparent
  transition: padding 0.2s linear, background 0.2s linear
  +tablet
    padding: 0

  &.is-open .header__inner
    filter: blur(10px) grayscale(0.6)
  &.is-sticky
    background: rgba(0,0,0,0.8)
    padding: 16px 0
    +tablet
      background: transparent

  .container
    max-width: 1920px
    display: flex
    align-items: center

  .header__socials
    display: none

  .header__nav
    margin-left: auto
    +tablet
      display: none
  .nav
    &__link
      font-size: 16px
      padding: 0 20px
      +xxl
        padding: 0 17px
  .header__burger
    position: static
    margin-left: 40px
    bottom: auto !important
    top: auto !important
    right: auto !important
    left: auto !important
    +xxl
      margin-left: 32px
    +tablet
      position: fixed
      top: 45px !important
      right: 40px !important
    +sm
      top: 18px !important
      right: 24px !important
  .burger
    width: 45px
    height: 45px
    +sm
      width: 40px
      height: 40px
    &:before
      display: none
    span
      display: block
    &.is-active
      background: #000
      span
        background: $themeColor
        width: 64px
  .header__inner
    margin: 0
    width: 100%
    height: auto
    justify-content: flex-end
    padding-right: 0 !important
    +xxl
      gap: 16px
  .header__btn
    +tablet
      position: fixed
      top: 40px
      right: 110px
    +sm
      display: none
    .btn
      height: 56px
      min-width: 160px
      font-size: 16px
  .header__drop-menu
    top: 0
    bottom: auto
    .social
      display: none
      margin-left: 66px
      padding-top: 40px
      +sm
        display: flex

      &__link
        .icon
          fill: #000
