.hero
  display: flex
  padding: 48px 0
  position: relative
  min-height: 100vh
  min-height: calc(var(--vh, 1vh) * 100)
  min-height: 100svh
  overflow: hidden

  +tablet
    padding: 40px 0
  +sm
    padding: 24px 0
  .container
    width: 100%
    max-width: 1920px

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    pointer-events: none
    background: linear-gradient(to bottom, rgba(#000, 0.7) 0%, rgba(0, 0, 0, 0.00) 40%, rgba(0, 0, 0, 0.2) 80%, rgba(#000, 0.7) 100%)
  &__top
    display: none
    font-size: 36px
    line-height: 1.2
    color: $themeColor
    margin-bottom: auto
    padding-bottom: 30px
    +sm
      display: block
    span
      display: block

  &__head
    margin: auto 0
    display: flex
    flex-direction: column
    max-width: 69%
    +md
      max-width: 70%
      margin-top: 0
    +sm
      margin-bottom: 0
      margin-top: auto
    +xs
      max-width: none

  &__video
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    filter: brightness(0.7)
    z-index: -1
    video
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%

      object-fit: cover
      object-position: center
      pointer-events: none

    +sm
      display: none

    @media (prefers-reduced-motion)
      display: none

  &__inner
    display: flex
    flex-direction: column
    position: relative

  &__logo
    width: 41%
    margin-bottom: 5vh
    min-width: 200px
    flex: none
    position: relative
    z-index: 9
    aspect-ratio: 2.9
    +laptop
      width: 26.5vw
      max-width: 500px

    +tablet
      width: 50%
      max-width: 365px
    +md
      margin-bottom: 8vh
    +sm
      margin-bottom: 33px
      width: 200px
    +xs
      width: 150px
      min-width: auto
    +xxs
      width: 140px

    img
      display: block
      width: 100%

  &__suptitle
    font-weight: 400
    flex: none
    font-size: clamp(20px, 2.2vw, 40px)
    color: $themeColor
    margin-bottom: 40px
    +xxl
      margin-bottom: 30px
    +tablet
      margin-bottom: 20px
    +sm
      font-size: 16px

  &__title
    order: 1
    line-height: 1.2
    font-size: clamp(24px, 3.2vw, 56px)
    max-width: none
    font-weight: 400

    +sm
      font-size: 16px

    &:after
      content: '|'
      display: inline
      vertical-align: middle
      color: transparent
      animation: blinkTypewriter 1000ms infinite normal

      +sm
        display: none
    &.blink
      &:after
        color: transparent
        animation: blinkTypewriter 1000ms infinite normal
    &--main
      display: none
      +sm
        display: block
  &__bottom
    margin-top: 10vh
    display: flex
    align-items: flex-end
    +sm
      margin-top: 40px
    .social
      gap: 40px
      +xxl
        gap: 30px
      +sm
        display: none
      &__link
        font-size: clamp(22px, 1.7vw, 28px)
        .icon
          display: block

  &__btn
    display: flex
    flex-wrap: wrap
    margin-left: auto
    gap: 12px 40px
    +tablet
      gap: 12px 24px
    +sm
      width: 100%
      gap: 12px 12px
    .btn
      min-width: clamp(120px, 21.5vw, 372px)
      height: clamp(48px, 5.5vw, 88px)
      font-size: clamp(12px, 1.7vw, 24px)
      +sm
        flex: 1 1 auto
        padding-left: 10px
        padding-right: 10px

  &__bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -2

    background-size: cover
    background-position: center
    background-repeat: no-repeat
    filter: brightness(0.7)
    display: none
    +sm
      display: block
    img
      position: absolute
      left: 50%
      top: 50%
      min-width: 100%
      min-height: 100%
      transform: translate(-50%, -50%)
  &_live
    display: flex
    align-items: stretch
    min-height: 140px
    padding: 20px 0 !important

    +sm
      min-height: 120px
    +xs
      min-height: auto
    .container
      height: auto
    .hero
      &__inner
        position: relative
        width: 100%
        height: 100%
        padding: 0
        margin: 0
        display: flex
        justify-content: space-between

        +md
          margin: 0

        +sm
          flex-direction: column-reverse
          align-items: center

      &__date
        font-size: 18px
        margin: auto 0

        +md
          font-size: 14px

        +sm
          font-size: 12px
          margin: 15px 0 10px

      &__logo
        width: 200px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        margin: 0
        min-width: auto !important
        +md
          margin: 0px auto 0

        +sm
          position: relative
          left: 0
          top: 0
          transform: translate(0, 0)
          width: 150px
          margin: 0px auto 0

      &__partner
        position: relative
        transform: none
        height: auto
        margin: auto 0 auto auto
        top: 0
        right: 0

        +tablet
          font-size: 10px

        +md
          margin: auto 0 auto

          img
            height: 45px

        +sm
          display: none

        img
          height: 65px

      &__partners
        +md
          margin: 0

      &__partner-text
        +sm
          display: none

  &_inner
    height: auto
    min-height: 400px
    align-items: center
    text-align: center
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    &:before
      background: rgba(#000, 0.3)
    +sm
      min-height: 220px
    +xs
      min-height: 200px
    .hero__title
      font-size: clamp(26px, 3.2vw, 56px)
      &:after
        display: none
    .hero__inner
      @extend .container
      width: 100%
    .hero__logo
      width: auto
      max-width: 300px
      margin-left: auto
      margin-right: auto
      margin-bottom: 60px
      +sm
        max-width: 220px
        margin-bottom: 50px
      +xs
        margin-bottom: 40px

.logo
  display: block
  width: 100%
  img
    width: 100%

@keyframes blinkTypewriter
  0%
    color: transparent

  1%
    color: inherit

  50%
    color: inherit

  51%
    color: transparent

@media screen and (max-height: 920px) and (min-width: 1441px)
  .hero
    &__logo
      width: 26.5vw
      max-width: 500px
    &__title
      font-size: 46px
    &__suptitle
      font-size: 32px
