#maproot
  overflow: auto
  text-align: left

  .label
    border-radius: 5px
    background-color: #32323280
    color: #fff
    display: inline-block
    font-size: 10px
    width: fit-content
    padding: 5px
    cursor: pointer
    white-space: nowrap
    .open
      .tooltip
        z-index: 99999999999999999!important

  .tooltip
    width: 150px
    padding-top: 10px
    font-size: 15px
    text-decoration: none!important
    white-space: normal
