
#maproot
  overflow: auto
  text-align: left
  margin-left: -48px
  margin-right: calc(-48px - 17px)
  margin-bottom: 80px
  max-height: 75vh
  aspect-ratio: 1.8/1
  +rmin(1921)
    margin-left: 0
    margin-right: 0

  +r(1440)
    width: auto
  +tablet
    margin-left: -40px
    margin-right: calc(-40px - 17px)
    margin-bottom: 60px
  +sm
    display: none
  & > div > div > div:has(>div> .label):hover
    z-index: 26693747 !important
  .label
    border-radius: 5px
    background-color: rgba(50,50,50,0.5)
    color: #fff
    display: inline-block
    font-size: 10px
    width: fit-content
    padding: 5px
    cursor: pointer
    white-space: nowrap
    text-decoration: underline
    position: relative
    &.open, &:hover
      z-index: 99999999999999999!important
      text-decoration: none !important

  .tooltip
    position: relative
    width: 150px
    padding-top: 10px
    font-size: 15px
    white-space: normal
    z-index: 99999999999999999 !important

.htmlWrapper
  z-index: 1 !important
  text-decoration: underline

.htmlWrapperOpen
  text-decoration: none
