.s-numbers
  margin: 48px 0

.numbers-grid
  display: flex
  flex-wrap: wrap
  gap: 44px 24px
  &__item
    width: calc(50% - 12px)

.numbers
  display: flex
  gap: 44px 24px
  &__left, &__right
    width: calc(50% - 12px)
  &__right
    display: flex
    flex-direction: column

  &__val
    font-size: 182px
    line-height: calc(182px / 1.8)
    +C3Bold
  &__title
    margin-top: 26px
    font-size: 16px
    text-transform: uppercase
  &__text
    font-size: 12px
    line-height: 1.6
  &__btn
    margin-top: auto



