.s-numbers
  margin: clamp(72px, 5vw, 85px) 0
  +laptop
    margin: 70px 0
  +md
    margin: 60px 0
  +sm
    margin: 44px 0

  .container
    max-width: 1920px

.numbers-grid
  display: flex
  flex-wrap: wrap
  gap: 44px 24px
  +md
    flex-direction: column
    gap: 70px 0
  +xs
    gap: 55px 0
  &__item
    width: calc(50% - 12px)
    +md
      width: auto

.numbers
  display: flex
  gap: 44px 24px
  height: 100%
  +md
    gap: 44px 37px
  +xs
    display: block
  &__left, &__right
    width: calc(50% - 12px)
    display: flex
    flex-direction: column
  &__left
    +md
      width: 204px
      flex: none
    +xs
      width: auto
  &__right
    margin-right: clamp(0px, 2vw, 60px)
    +md
      flex: 1
      margin-right: 0
    +xs
      width: auto

  &__val
    font-size: clamp(182px, 12.6vw, 248px)
    line-height: calc(clamp(182px, 12.6vw, 248px) / 1.8)
    +C3Bold

    +laptop
      font-size: clamp(128px, 12.6vw, 182px)
      line-height: calc(clamp(128px, 12.6vw, 182px) / 1.8)

    +xs
      font-size: 148px
      line-height: calc(148px / 1.8)
      margin-bottom: 24px
  &__title
    margin-bottom: 30px
    line-height: 1.2
    height: calc(clamp(24px, 2vw, 48px) + 4px)
    font-size: clamp(24px, 2vw, 48px)
    text-transform: uppercase
    +xs
      margin-bottom: 28px
  &__text
    font-size: clamp(12px, .8vw, 16px)
    line-height: 1.6
  &__btn
    margin-top: auto
    padding-top: 40px
    +md
      padding-top: 30px
