
.prices
  font-size: 16px
  position: relative
  margin-top: 97px
  max-width: 1174px
  margin-left: auto
  margin-right: auto
  +sm
    margin-top: 55px

  &__countdown
    position: absolute
    top: 126px
    font-size: 18px
    left: 0
    right: 0
    text-align: center
    line-height: 0.9
    text-transform: uppercase
    font-weight: 900
    color: #00FF000D
    letter-spacing: 0.05em
    display: none

    +sm
      position: relative
      top: 0

    b
      font-weight: 900
      display: block
      font-size: clamp(32px, 16vw, 170px)

  &__list
    position: relative
    padding: 0 0 0
    margin: 0
    list-style: none

  &__item
    display: flex
    flex-direction: column
    padding: 0 54px
    height: 100%
    +sm
      padding-left: 34px
      padding-right: 34px
    +xs
      padding: 0 12px

  &__title
    font-size: clamp(24px, 4vw, 32px)
    text-transform: uppercase
    line-height: 1.15
    font-weight: 400
    margin: 0 0 28px
    display: flex
    flex-direction: column

    em
      font-style: normal
      color: #FE5D02

    p
      &:first-child

        color: $themeColor
        order: 2

      &:nth-child(2)
        font-size: 16px
        font-weight: 500
        padding-bottom: 6px
        margin: 0 0 20px
        align-self: start
        border-bottom: 1px dotted $themeColor
        +xs
          font-size: 12px

      &:nth-child(3)
        order: 3
        font-size: 12px
        font-weight: 500
        align-self: start
        padding: 5px 16px 3px
        margin-top: 20px
        border: 1px solid $themeColor
        +xs
          font-size: 10px

  &__price

    color: $white
    margin: 0

    h4
      +C3Bold
      font-size: 60px
      line-height: 1
      margin: 12px 0 12px

    strong
      +C3Bold
      font-size: 76px
      color: $white
      margin: 0 0 20px
      line-height: 1
      white-space: nowrap
      +xs
        font-size: 64px

      &:after
        content: 'e'
        display: inline-block
        position: relative
        margin: 0 5px 0 0
        color: #333

    &+.prices__content
      margin-top: 32px

  &__price-tip
    position: relative
    font-size: 14px
    color: $themeColor
    padding: 8px 3px

    a
      color: $themeColor

  &__content
    display: flex
    flex-direction: column
    margin: 36px 0 0
    height: 100%

  &__desc
    text-align: left
    font-size: 12px
    font-weight: 500
    margin: 35px 0 50px
    line-height: 1.17
    +sm
      margin: 15px 0 40px

    ul
      list-style-type: disc
      margin-left: 18px

    li
      position: relative

      &:not(:first-child)
        margin: 16px 0 0
        +sm
          margin: 14px 0 0
    a
      color: $themeColor

  &__btn
    margin: auto 0 0

  .swiper-container
    +tablet
      margin-right: -40px
      margin-left: -40px
      padding-left: 40px
      padding-right: 40px
    +sm
      margin-right: -24px
      margin-left: -24px
      padding-left: 24px
      padding-right: 24px

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      height: 100%
      right: 0

      z-index: 1
      pointer-events: none
      border-left: 2px solid $mainBg
      border-right: 2px solid $mainBg

  .swiper-slide
    height: auto
    width: 391px !important
    border-left: 1px solid #333
    +xs
      width: 90% !important
      border: none !important

    &-active
      border-color: transparent

  .prices__prev,
  .prices__next
    --spacing: -90px
    position: absolute
    left: var(--spacing)
    top: 50%
    border: 1px solid $themeColor
    width: 64px
    height: 64px
    margin-top: -32px
    z-index: 2
    transition: all ease 0.2s
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    background: $themeColor
    +laptop
      top: 35%
      --spacing: 0px

    +sm
      display: none

    .icon
      font-size: 36px
      color: $black
      fill: none
      stroke: $black
      +laptop
        color: $black

    &.swiper-button-disabled
      opacity: 0
      visibility: hidden

  .prices__next
    left: auto
    right: var(--spacing)
