
.p-countdown

  &__title
    font-weight: 400 !important

.prices-swiper
  &__prev, &__next
    .icon
      fill: none !important
      stroke: var(--price-slider-btn-color)
      font-size: 30px
  &__prev
    +xxl
      left: -40px
  &__next
    +xxl
      right: -40px
  .swiper-slide
    width: 357px
    +xxl
      width: 431px
    +md
      width: 320px
    +sm
      width: 280px
  .swiper-container
    +laptop
      overflow: visible

.prices-item
  &__price
    &-value
      strong
        +C3Bold
        &:before
          display: none !important
        &:after
          content: 'e'
          display: inline
          color: #333
  &__toggle
    .icon
      fill: none !important
      stroke: var(--accentColor)
      stroke-width: 5px
