.s-speakers, .s-artists
  padding-bottom: 1px
  .container
    max-width: 1920px

.speakers-list, .artists-list, .mc-list
  display: flex
  flex-wrap: wrap
  gap: 72px 0
  margin: 90px -12px 0
  justify-content: center
  +md
    margin-top: 75px
    gap: 70px 0
  +sm
    margin-top: 0
    gap: 44px 0
  &__item
    width: 16.666%
    padding: 0 12px
    +tablet
      width: 20%

    +md
      width: 25%

    +s
      width: 33.33%

    +xs
      width: 50%

  &__btn
    width: 100%
    margin-top: 70px
    text-align: center
    +md
      margin-top: 35px

.artists-list
  &__item
    width: 25%
    +tablet
      width: 25% !important
    +md
      width: 33.33% !important
    +s
      width: 50% !important

  .speaker__desc p
    -webkit-line-clamp: 3

.cfp
  background: $themeColor

  padding: 24px
  display: flex
  flex-direction: column
  height: 100%
  +sm
    padding: 15px
  .speaker__name
    font-size: 24px
    color: $black
    margin-bottom: 24px
    +sm
      font-size: clamp(16px, 3vw, 22px)
  .speaker__company
    font-size: 12px
    color: $black
    line-height: 1.2
    margin-bottom: 24px
    +xs
      font-size: clamp(10px, 2vw, 12px)
  .btn
    margin-top: auto
    border-color: $black
    padding-left: 10px
    padding-right: 10px
    &:hover, &:focus-visible
      background: $black
      color: $white
    +sm
      height: 32px
      font-size: 12px
      padding-left: 10px
      padding-right: 10px
.speaker
  position: relative
  display: flex
  flex-direction: column
  align-items: stretch
  &:hover
    .activity-holder
      opacity: 1
      visibility: visible

  &:active
    .activity-holder
      opacity: 1
      visibility: visible

  &__photo
    width: 100%
    display: flex
    flex-direction: column
    position: relative
    border-bottom: 1px solid #fff
    padding-bottom: 12px
    margin-bottom: 12px

    picture
      display: block
      height: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover
      display: block

  &__popup-btn-wrap
    width: 100%
    padding: 100% 0 0
    position: relative

  &__popup-btn
    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    position: absolute
    left: 50%
    top: 50%
    font-weight: 500
    transform: translate(-50%, -50%)
    width: 100%
    text-transform: uppercase
    text-align: center
    transition: all ease 0.2s

  &__tag
    position: absolute
    right: 0
    top: -24px
    background: $themeColor
    height: 24px
    display: flex
    align-items: center

    white-space: nowrap
    font-size: 12px
    padding: 1px 16px 0
    line-height: 1.8
    max-width: 100%
    color: $black
    text-transform: uppercase

    +text-overflow
    +sm
      top: -20px
      height: 20px
      font-size: 10px
      padding-left: 12px
      padding-right: 12px

  &__expertise
    margin: 12px 0 12px
    position: relative
    line-height: 1.62

  &__name
    font-size: 16px
    text-transform: uppercase
    margin-bottom: 3px
    line-height: 1.2
    overflow: hidden
    text-overflow: ellipsis
    +sm
      font-size: 12px
    a
      color: $white

  &__talk
    margin: 12px 0 12px
    display: none

    span
      font-weight: 500

  &__company
    font-size: 12px
    line-height: 1.3
    color: $themeColor

  &__desc

    font-size: 12px
    line-height: 1.6
    order: 3
    margin-top: 18px
    +sm
      font-size: 10px
      margin-top: 12px
    p
      word-wrap: break-word
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical

      &:not(:first-child)
        display: none

    a
      color: #bdbdbd
      text-decoration: none
      &:hover
        text-decoration: underline

  &__socials
    z-index: 2
    position: relative
    display: flex
    gap: 12px
    margin-top: 15px
  &__social-link

    .icon
      transition: 0.3s
      font-size: 16px
      fill: #fff
      display: block
      +sm
        font-size: 14px
    .no-touch &:hover, &:focus-visible
      .icon
        fill: $themeColorD

  .activity-holder
    position: absolute
    transition: top 150ms ease
    top: 0
    left: 0
    right: 0
    bottom: 12px
    padding: 20px
    background-color: $themeColor
    color: $black
    opacity: 0
    visibility: hidden
    transition: all ease 0.2s
    cursor: pointer
    z-index: 2

    +xs
      padding: 15px

    a
      color: $white
      opacity: 0.7
      margin: 18px 0 0
      display: inline-block
      text-decoration: none

      &:hover
        opacity: 1

.box-overlay
  position: relative
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    z-index: 5
    pointer-events: none
    height: 400px
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(#000, 0.9) 100%)
  &.is-active
    &:after
      display: none

.hide
  display: none !important

.mc
  position: relative
  .container
    max-width: 1920px
