
.speakers
  padding: 145px 0 17px
  +sm
    padding-top: 53px
  &_pt-sm
    padding-top: 94px
    +laptop
      padding: 80px 0 10px
  &_center
    .speakers-list
      justify-content: center
      +xs
        justify-content: flex-start
        //flex-direction: column
        //align-items: center
  &.no-tags
    .speaker__tag
      display: none

  +laptop
    padding: 80px 0 10px
  //&_mb-sm
    .speakers-list
      &__item
        &:last-child
          +xs
            margin-bottom: 30px
  &__btn
    max-width: 283px
    margin: 0 auto

.speakers-list
  display: flex
  flex-wrap: wrap
  margin: 0 -12px
  justify-content: center

  &__item
    width: 16.666%
    padding: 0
    margin-bottom: 40px
    padding: 0 12px
    +tablet
      width: 25%
      margin-bottom: 48px
    +md
      width: 33.33%

    +sm
      width: 50%

    +xs
      padding: 0

    &_cfp
      padding-top: 24px
  &__btn
    width: 100%
    text-align: center
.cfp
  background: $themeColor

  padding: 24px
  display: flex
  flex-direction: column
  height: calc(100% - 24px)
  .speaker__name
    font-size: 24px
    color: $black
    margin-bottom: 24px
  .speaker__company
    font-size: 12px
    color: $black
    line-height: 1.2
  .btn
    margin-top: auto
    border-color: $black
    &:hover, &:focus-visible
      background: $black
      color: $white
.speaker
  position: relative
  padding-top: 24px
  display: flex
  flex-direction: column
  align-items: stretch

  &:hover
    .activity-holder
      opacity: 1
      visibility: visible

  &:active
    .activity-holder
      opacity: 1
      visibility: visible

  &:hover
    &:after
      opacity: 0.04

  +xs
    padding: 10px

  &:after
    content: ''
    position: absolute
    left: 0px
    top: 0px
    right: 0px
    bottom: 0px
    background: #fff
    z-index: -1
    opacity: 0
    // transition: all ease 0.2s // removed transition because its somehow very slow in Safari on Mac

  &__photo
    width: 100%
    display: flex
    flex-direction: column
    position: relative
    border-bottom: 1px solid #fff
    padding-bottom: 14px
    margin-bottom: 14px

    img
      position: relative
      left: 0
      width: 100%
      height: auto
      object-fit: cover

  &__popup-btn-wrap
    width: 100%
    padding: 100% 0 0
    position: relative

  &__popup-btn
    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    position: absolute
    left: 50%
    top: 50%
    font-weight: 500
    transform: translate(-50%, -50%)
    width: 100%
    text-transform: uppercase
    text-align: center
    transition: all ease 0.2s

  &__tag
    position: absolute
    right: 0
    top: -24px
    background: $themeColor
    height: 24px
    display: flex
    align-items: center

    white-space: nowrap
    font-size: 12px
    padding: 1px 16px 0
    line-height: 1.8
    max-width: 100%
    color: $black
    text-transform: uppercase

    +text-overflow

    +xs
      top: 3px
      right: 10px
      font-size: 12px
      padding: 2px 5px

    &:after,
    &:before
      content: ''
      position: absolute
      width: 10px
      height: 23px
      background: red
      background-color: var(--tagBG)

      +xs
        height: 18px
        width: 7px

    &:before
      left: -10px
      top: auto
      bottom: 0

      +xs
        left: -7px

    &:after
      top: 0
      right: -10px

      +xs
        right: -7px

  &__expertise
    margin: 12px 0 12px
    position: relative
    line-height: 1.62

  &__name
    font-size: 16px
    text-transform: uppercase
    margin-bottom: 3px
    line-height: 1.2
    letter-spacing: 0.65px
    overflow: hidden
    text-overflow: ellipsis

    a
      color: $white

  &__talk
    margin: 12px 0 12px
    display: none

    span
      font-weight: 500

  &__company
    font-size: 12px
    color: $themeColor
    margin-bottom: 15px

  &__desc
    color: #888
    font-size: 12px
    line-height: 1.68
    order: 3
    margin-top: 18px
    p
      word-wrap: break-word
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical

      &:not(:first-child)
        display: none

    +sm
      color: #aaaaaa
      font-size: 13px
    +xs
      font-size: 12px
      margin-bottom: 21px
    a
      color: #bdbdbd
      text-decoration: none
      &:hover
        text-decoration: underline


  &__socials
    z-index: 2
    position: relative
    display: flex
    gap: 12px
  &__social-link

    .icon
      transition: 0.3s
      font-size: 16px
      fill: #aaaaaa
      display: block
    .no-touch &:hover, &:focus-visible
      .icon
        fill: $themeColorD
  &--mc
    .speaker
      &__photo
        width: 179px
        padding-top: 179px
        margin: 0 auto 59px
        &:after
          pointer-events: none
          content: ''
          position: absolute
          top: 49%
          left: 50%
          transform: translate(-50%, -50%)
          width: 235px
          height: 235px
          background-size: contain
          background-position: center
          background-repeat: no-repeat
          background-image: url(../img/mc-decor.png)
      &__photo-wrap
        border-radius: 50%
        +coverdiv
        overflow: hidden

  .activity-holder
    position: absolute
    transition: top 150ms ease
    top: 0
    left: 0
    right: 0
    bottom: 15px
    padding: 20px
    background-color: $themeColor
    color: $black
    opacity: 0
    visibility: hidden
    transition: all ease 0.2s
    cursor: pointer
    z-index: 2

    +xs
      padding: 15px

    a
      color: $white
      opacity: 0.7
      margin: 18px 0 0
      display: inline-block
      text-decoration: none

      &:hover
        opacity: 1



.hosts
  position: relative
  padding: 80px 0 80px
  background-position: center top
  background-repeat: repeat
  background-image: url(../img/bg-net.svg)
  border-bottom: 2px solid #1d201e

  // &:after
  content: ''
  position: absolute
  left: 0
  right: 0
  bottom: -8px
  height: 15px
  background-image: url(../img/bg-dash.svg)
  z-index: 1

  +xs
    padding: 40px 0 40px
    //margin-top: 20px

.mc
  position: relative
  padding: 102px 0 122px
  background-position: center top
  background-repeat: repeat
  background-image: url(../img/bg-net.svg)
  border-bottom: 2px solid #1d201e

  &:after
    content: ''
    position: absolute
    left: 0
    right: 0
    bottom: -8px
    height: 15px
    background-image: url(../img/bg-dash.svg)
    z-index: 1

  +xs
    padding: 37px 0 55px
    //margin-top: 20px

.mc-list
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin: 0 -19px
  +xs
    padding-top: 20px
  &__item
    position: relative

    +xs
      margin: 0 auto
    &:not(:last-child)
      margin-right: 45px
      +sm
        margin-right: auto
        margin-bottom: 79px

  .speaker

    &__desc

    p
      overflow: visible
      text-overflow: ellipsis
      display: block
      -webkit-line-clamp: none
      -webkit-box-orient: vertical

      &:not(:first-child)
        display: none
