.sponsors

  &__description
    max-width: 660px
    margin: 0 auto
    text-align: center
    +md
      max-width: 490px
      font-size: 12px

    &:has( + *)
      margin-bottom: 62px
    p:not(:last-child)
      margin-bottom: 20px
    a
      color: $themeColor2
      text-decoration: underline
      &:hover
        text-decoration: none

.sponsors-block
  padding-bottom: 50px
  padding-top: 16px
  padding-bottom: 40px
  border-top: 1px solid $white
  +sm
    padding-top: 10px
    padding-bottom: 30px

  &:last-child
    border-bottom: 1px solid $white

  &__title
    font-size: 16px
    font-weight: 400
    text-transform: uppercase
    color: $themeColor
    margin-bottom: 40px
    +sm
      font-size: 12px
  &__list
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap

  &__item
    text-align: center
    width: 100%

    +tablet
      display: flex
      justify-content: center

    +sm
      max-width: 230px

    a
      display: flex
      justify-content: center
      align-items: center
      transition: opacity 0.3s

      &:hover
        opacity: 0.7

      picture
        display: block

      img
        display: block
        max-width: 100%
        transition: all ease 0.2s
        transform: translateY(0)
        opacity: 1
        height: auto

  &.Platinum
    .sponsors-block__list
      margin: 0 -20px

      +xs
        margin: 0 -15px

    .sponsors-block__item
      width: 33.33%
      max-width: 33.33%

      +sm
        width: 100%
        max-width: 100%

      a
        padding: 20px
        +sm
          padding: 15px

  &.Gold
    .sponsors-block__list
      margin: 0 -20px

      +xs
        margin: 0 -15px

    .sponsors-block__item
      width: 25%
      max-width: 25%

      // +md
      // 	width: 33.3%
      // 	max-width: 33.3%

      +xs
        width: 50%
        max-width: 50%

      a
        padding: 20px
        +sm
          padding: 15px

  &.Silver
    .sponsors-block__list
      margin: 0 -20px

      +sm
        margin: 0 -10px

    .sponsors-block__item
      width: 25%
      max-width: 25%

      // +md
      // 	width: 25%
      // 	max-width: 25%

      +xs
        width: 33.3%
        max-width: 33.3%

      a
        padding: 20px
        +sm
          padding: 10px

  &.MediaPartner,
  &.Partner,
  &.TechPartner
    .sponsors-block__list
      margin: 0 -20px

      +sm
        margin: 0 -10px

    .sponsors-block__item
      width: 20%
      max-width: 20%

      +xs
        width: 25%
        max-width: 25%

      a
        padding: 20px
        +sm
          padding: 10px

  &_auto
    .sponsors-block__list
      justify-content: space-between
      margin: 0 -15px

    .sponsors-block__item
      width: auto

      +sm
        width: 25%
      +xs
        width: 33.3%

      a
        padding: 20px 25px

        +tablet
          padding: 20px
        +sm
          padding: 15px 10px
        +xs
          padding: 15px 10px

      img
        max-width: 100%

      &:last-child
        margin: 0 auto 0 0
