.s-teams
  padding-top: 30px
  +sm
    margin-top: 0
    padding-top: 40px
  &__button
    display: flex
    flex-wrap: wrap
    gap: 10px 15px
  &:not(:last-child)
    margin-bottom: 0 !important
  & + .s-teams
    margin-top: 0 !important
    padding-top: 0

  .section__title
    font-size: clamp(26px, 6vw, 90px)
    line-height: 1
