<div class="hero " id="hero" {{ editable(heroData) }}>
	<div class="hero__video js-hero-video"></div>

	<div class="hero__inner ">
		<div class="hero__logo">
			<a href="/" class="logo"><img src="img/logo.svg?v6" alt="{{ payload.brand.title }}" /></a>
		</div>

		{% if heroData.settings.switch %}
		{{ mixins.heroSwitch(heroData.settings.switch) }}
		{% else %}
		<div class="hero__suptitle">
			{{ heroData.date | safe }}
		</div>
		{% endif %}

		<h1 role="heading" class="hero__title " data-sticky="10th anniversary">
			{{ heroData.title | safe }}
		</h1>

		{% if heroData.description %}
		<div class="hero__desc">{{ heroData.description | safe }}</div>
		{% endif %}

		{% if heroData.stats.length %}
		<div class="hero__info">
			<ul class="h-list {{ 'h-list_centered' if heroData.stats.length <= 2 }}">
				{% for stat in heroData.stats %}
				<li class="h-list__item" {{ editable(stat) }}>
					{% if stat.value %}
					<div class="h-list__value">{{ stat.value | safe }}</div>
					{% endif %}

					<div class="h-list__text">{{ stat.description | safe }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		{% if not hideHeroCtas %}
		{% include "partials/payload/blocks/_hero-buttons.html" %}
		{% endif %}

		{# no payload data #}
		{% if pages[pageKey].pageSections.inCollaboration %}
		<div class="hero__partner">
			{% include "partials/blocks/_in-collaboration.html" %}
		</div>
		{% endif %}

	</div>
</div>
