---
pageKey: checkout
headerBtn: true

ogImage: http://reactsummit.us/img/ogImage.png
ogUrl: http://reactsummit.us

canonicalUrl: checkout
---

{% extends "layouts/_layout.html" %}

{% block content %}


<div class="main js-main">
  <!-- TODO: remove checkout v1 after migration -->
  {% include "partials/_checkoutV2.html" %}
  {% include "partials/_footerV2.html" %}
</div>

<script>
  window.tito = window.tito || function () { (tito.q = tito.q || []).push(arguments); };
  tito('on:registration:started', function (data) {
    console.log('on:registration:started', data);
    initTitoHandlers(data);
    window.onbeforeunload = (e) => {
      e.preventDefault();
      return '';
    }

    twq('event', 'tw-o3job-pwarn', {});
  })

  tito('on:registration:finished', function (data) {
    // Insert Twitter Event ID
    finishTitoRegistration(data);

    twq('event', 'tw-o3job-oe4be', {});
    // Linkedin purchase conversion
    if (typeof window.lintrk !== 'undefined') {
      window.lintrk('track', { conversion_id: 11620841 });
    }
  });
</script>

{% include "partials/js/_sort-tickets.html" %}
{% endblock %}