---
pageKey: checkout
headerBtn: true

ogImage: http://reactsummit.us/img/ogImage.png
ogUrl: http://reactsummit.us
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
  {% include "partials/_checkout.html" %}
  {% include "partials/_footerV2.html" %}
</div>

<script>
  window.tito = window.tito || function () { (tito.q = tito.q || []).push(arguments); };
  tito('on:registration:started', function (data) {
    console.log('on:registration:started', data);
    initTitoHandlers(data);
    window.onbeforeunload = (e) => {
      e.preventDefault();
      return '';
    }

  })

  tito('on:registration:finished', function (data) {
    // Insert Twitter Event ID
    finishTitoRegistration(data);

    twq('event', 'tw-o3job-oe4be', {});
    // Linkedin purchase conversion
    if (typeof window.lintrk !== 'undefined') {
      window.lintrk('track', { conversion_id: 11620841 });
    }
  });
</script>

<!-- Twitter conversion tracking event code -->
<script type="text/javascript">
  // Insert Twitter Event ID
  // twq('event', 'tw-o3job-oe4bf');
</script>
<!-- End Twitter conversion tracking event code -->
{% include "partials/js/_sort-tickets.html" %}
{% endblock %}
