---
pageKey: schedule
headerBtn: true
sponsorsDescription: true
headerMod: visible
fakeLinks: true
inPerson: true
remoteSwitchLink: schedule
timeZone: America/New_York


ogImage: http://reactsummit.us/img/ogImage.png
ogUrl: http://reactsummit.us

canonicalUrl: schedule-offline
---

{% extends "layouts/_layout.html" %}

{% block content %}


<div class="main js-main">
	{% include "partials/_hero-inner.html" %}

	{% include "partials/_scheduleV2.html" %}
	{% include "partials/_footerV2.html" %}
</div>

{% endblock %}