{% import "partials/_mixins.html" as mixins %}
{% import "eventsBus/eventsBus.njk" as eventsLayer %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TRF5QS8');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <title>{% if pages[pageKey].titleSeo %}{{ pages[pageKey].titleSeo }}{% else %}JSNation Live{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% include "../partials/_media-tags.html" %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" media="all" href="css/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap">
    <link rel="shortcut icon" href="img/favicon.png"/>
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-K9433J7"></script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TRF5QS8"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{eventsLayer.initEventsLayer(pageKey)}}
    {{eventsLayer.mountPoint('dialog-popup')}}
    {{eventsLayer.sendContent('eventInfo', customContent.eventInfo )}}
    {{eventsLayer.sendContent('reactLayerConfig', {
    ticketsLink: pagesPieceOfTexts.ticket__link,
    calendarEventName: 'ML conf. EU',
    calendarEventDescription: 'Watch it live at https://mlconf.eu',
    conferenceStart: 'Nov 5 2020 16:00 GMT+0200',
    conferenceEnd: 'Nov 6 2020 21:15 GMT+0200'
    } )}}
    {{eventsLayer.sendContent('scheduleExtends', customContent.scheduleExtends )}}
    {{eventsLayer.sendContent('customTracks', customContent.tracks )}}
    {{eventsLayer.sendContent('schedule', schedule )}}
    {{eventsLayer.sendContent('isAuth', not fakeLinks )}}

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END scripts -->

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '5f483024407c2f475e3fa293');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>

    <div style="display: none;">
      <!--LiveInternet counter--><a href="//www.liveinternet.ru/click"
                                    target="_blank"><img id="licnt2070" width="31" height="31" style="border:0"
                                                         title="LiveInternet"
                                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                                         alt=""/></a><script>(function(d,s){d.getElementById("licnt2070").src=
      "//counter.yadro.ru/hit?t38.6;r"+escape(d.referrer)+
      ((typeof(s)=="undefined")?"":";s"+s.width+"*"+s.height+"*"+
        (s.colorDepth?s.colorDepth:s.pixelDepth))+";u"+escape(d.URL)+
      ";h"+escape(d.title.substring(0,150))+";"+Math.random()})
    (document,screen)</script><!--/LiveInternet-->

    </div>

    <!-- Twitter universal website tag code -->
    <script>
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
        a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      // Insert Twitter Pixel ID and Standard Event data below
      twq('init','o4ity');
      twq('track','PageView');
    </script>
    <!-- End Twitter universal website tag code -->

    <!-- Facebook Pixel Code --> <script> !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '1374905195888955'); fbq('track', 'PageView'); </script> <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1374905195888955&ev=PageView&noscript=1" /></noscript> <!-- End Facebook Pixel Code -->

    <!-- Global site tag (gtag.js) - Google Ads: 805657772 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-805657772"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-805657772');
    </script>

    <!-- Event snippet for ML Conf Page view conversion page -->
    <script>
      gtag('event', 'conversion', {'send_to': 'AW-805657772/WECvCKy-h94BEKy5lYAD'});
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164513444-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-164513444-4');
    </script>
    <script>
      /**
       * Functie die een klik op een uitgaande link vastlegt in Analytics.
       * Deze functie vereist een geldige URL-tekenreeks als argument en gebruikt deze
       * als gebeurtenislabel. Wanneer de methode 'transport' wordt ingesteld op 'beacon', wordt de hit verzonden
       * bij gebruik van 'navigator.sendBeacon' in een browser die dat ondersteunt.
       */
      var captureOutboundLink = function(url) {
        ga('send', 'event', 'outbound', 'click', url, {
          'transport': 'beacon',
          'hitCallback': function(){document.location = url;}
        });
      }
    </script>
  </body>
</html>
