<div class="b-checkout">
  <h2 class="b-checkout__title">{{pagesPieceOfTexts.beginCheckout__title}}</h2>
  <form action="{{pagesPieceOfTexts.beginCheckout__btnLink}}" id="checkout-form" target="_blank" class="js-subscribtion-form">
    <div class="form-field">
      <input type="email" required placeholder="your@email" class="form-input" name="email" />
      <div class="error-message is-hidden"></div>
    </div>
    <button class="btn btn--block js-show-prices" type="submit">{{pagesPieceOfTexts.beginCheckout__btnText}}</button>
    <div class="b-checkout__message">{{pagesPieceOfTexts.beginCheckout__formText | safe}}</div>
  </form>
</div>
