<section class="section s-dates" id="dates">
  <div class="container">
    <div class="dates">
      {% for item in (extendeds.datesInPerson or extendeds.dates if inPerson else extendeds.dates) %}
      <div class="dates__item">
        <div class="date">
          {% if item.image.handle %}
          <div class="date__bg" style="background-image: url({{mixins.imageUrl(item.image.handle, 'output=format:webp', item.image.mimeType, item.image.url)}});"></div>

          {% endif %}
          <div class="date__inner">
            <div class="date__header">
              <div class="date__title">{{item.title | safe}}</div>
              <div class="date__date">{{item.subtitle | safe}}</div>
            </div>
            <div class="date__body">
              {% if item.location %}
              <h3 class="date__name">{{item.location | safe}}</h3>
              {% endif %}

              {% if item.description %}
              <div class="date__info">{{item.description | safe}}</div>
              {% endif %}

              {% if item.locationLink %}
              <a class="date__btn btn js-scroll-to" href="{{item.locationLink | safe}}">{{item.slackChannelName | safe}}</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% if not loop.last %}
        <div class="dates__icon">{{mixins.icon('plus')}}</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
