<section class="section fleet">
  <div class="container">
    <h2 class="section__title">{{ mixins.text(pieceOfTexts, 'fleet__title') }}</h2>

    <div class="fleet__tabs-container js-fleet-container">

      {% for boat in pages[pageKey].pageSections.fleet %}
      <div class="fleet__item">
        <a href="#1" class="fleet__link js-fleet-item {{ 'fleet__link--sm' if not loop.first }}">
          <div class="fleet-link">
            <div class="fleet-link__img" style="background-image: url({{ boat.imageSrc }})"></div>
            <div class="fleet-link__inner">
              <div class="fleet-link__scroll">
                {{mixins.icon('vertical-scroll')}}
              </div>
              <div class="fleet-link__content">
                <span class="fleet-link__title">{{ boat.imageTitle }}</span>
              </div>
            </div>
          </div>
        </a>
        <div class="fleet__tab js-fleet-popup">
          <div class="fleet-tab">
            <button tabindex="0" class="fleet-tab__close js-fleet-close"></button>
            <div class="fleet-tab__gallery">
              <div class="fleet-tab__large-image">
                <img src="{{ boat.slider[0].img }}" alt="{{ boat.slider[0].alt }}">
              </div>
              <ul class="fleet-tab__images">
                {% for slide in boat.slider %}
                <li class="fleet-tab__image">
                  <img src="{{ slide.img }}" alt="{{ slide.alt }}">
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="fleet-tab__info">
              <div class="fleet-tab__title">{{ boat.title }}</div>
              <div class="fleet-tab__desc">{{ boat.desc }}</div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

</section>
