<section class="info-block section" id="quake">
	<div class="info-block__inner">
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'QuakeJS__title') }}</h3>
		<div class="info-block__text">{{ mixins.text(pieceOfTexts, 'QuakeJS__subtitle') }}</div>

    <a
      class="btn info-block__btn"
      onclick={{ eventsLayer.openDialogSecure({name: 'quake', isAuth: not fakeLinks, link: customContent.eventInfo.QuakeJS.link, data: customContent.eventInfo.QuakeJS | dump, values: '', category: 'quake-click' }) }}
    >
      {{ 'Join tournament' if customContent.eventInfo.QuakeJS.link else 'Check later' }}

    </a>

</section>
