<div class="multipass-list swiper-container multipass-slider">
  <div class="swiper-wrapper">
    <div class="multipass-list__item swiper-slide">
      <a href="https://jsnation.com/" target="_blank" aria-label="Visit site JSNation">Visit site</a>
      <picture>
        <source srcset="{{mixins.imageUrl('KjaZu0hTHS5HqizlN7A2', 'resize=fit:clip,height:500,width:500/output=format:webp', conference.imgMimeType)}}" type="image/webp">
        <img width="170" src="{{mixins.imageUrl('KjaZu0hTHS5HqizlN7A2', 'resize=fit:clip,height:500,width:500/output=format:png', conference.imgMimeType)}}" alt="JSNation">
      </picture>

      <svg class="icon icon-plus">
        <use xlink:href="img/sprite.svg?v3#icon-plus"></use>
      </svg>
    </div>

    <div class="multipass-list__item swiper-slide">
      <a href="https://reactsummit.asia/" target="_blank" aria-label="Visit site React Summit">Visit site</a>
      <picture>
        <source srcset="{{mixins.imageUrl('pgg3BTRS6HvVpYhjE1SQ', 'resize=fit:clip,height:500,width:500/output=format:webp', conference.imgMimeType)}}" type="image/webp">
        <img width="180" src="{{mixins.imageUrl('pgg3BTRS6HvVpYhjE1SQ', 'resize=fit:clip,height:500,width:500/output=format:png', conference.imgMimeType)}}" alt="React Summit">
      </picture>

      <svg class="icon icon-plus">
        <use xlink:href="img/sprite.svg?v3#icon-plus"></use>
      </svg>
    </div>

    <div class="multipass-list__item swiper-slide">
      <a href="https://reactadvanced.com/" target="_blank" aria-label="Visit site React Advanced">Visit site</a>
      <picture>
        <source srcset="{{mixins.imageUrl('Fbc92WEqSHWKmlYIDE1U', 'resize=fit:clip,height:500,width:500/output=format:webp', conference.imgMimeType)}}" type="image/webp">
        <img width="170" src="{{mixins.imageUrl('Fbc92WEqSHWKmlYIDE1U', 'resize=fit:clip,height:500,width:500/output=format:png', conference.imgMimeType)}}" alt="React Advanced">
      </picture>


      <svg class="icon icon-plus">
        <use xlink:href="img/sprite.svg?v3#icon-plus"></use>
      </svg>
    </div>

    <div class="multipass-list__item swiper-slide">
      <a href="https://vuejslive.com/" target="_blank" aria-label="Visit site Vue.js Live">Visit site</a>
      <picture>
        <source srcset="{{mixins.imageUrl('hL0JgdcQuiryDsEi4U5Q', 'resize=fit:clip,height:500,width:500/output=format:webp', conference.imgMimeType)}}" type="image/webp">
        <img width="170" src="{{mixins.imageUrl('hL0JgdcQuiryDsEi4U5Q', 'resize=fit:clip,height:500,width:500/output=format:png', conference.imgMimeType)}}" alt="Vue.js Live">
      </picture>


      <svg class="icon icon-plus">
        <use xlink:href="img/sprite.svg?v3#icon-plus"></use>
      </svg>
    </div>

    <div class="multipass-list__item swiper-slide">
      <a href="https://graphqlgalaxy.com/" target="_blank" aria-label="Visit site GraphQL Galaxy">Visit site</a>
      <picture>
        <source srcset="{{mixins.imageUrl('ZPQTvdKbR2aDHhDIkbrz', 'resize=fit:clip,height:500,width:500/output=format:webp', conference.imgMimeType)}}" type="image/webp">
        <img width="240" src="{{mixins.imageUrl('ZPQTvdKbR2aDHhDIkbrz', 'resize=fit:clip,height:500,width:500/output=format:png', conference.imgMimeType)}}" alt="GraphQL Galaxy">
      </picture>


      <svg class="icon icon-plus">
        <use xlink:href="img/sprite.svg?v3#icon-plus"></use>
      </svg>
    </div>

    <div class="multipass-list__item swiper-slide">
      <a href="https://testjssummit.com/" target="_blank" aria-label="Visit site TestJS Summit">Visit site</a>
      <picture>
        <source srcset="{{mixins.imageUrl('HdUAV2GDSyaQkS76bLlO', 'resize=fit:clip,height:500,width:500/output=format:webp', conference.imgMimeType)}}" type="image/webp">
        <img width="250" src="{{mixins.imageUrl('HdUAV2GDSyaQkS76bLlO', 'resize=fit:clip,height:500,width:500/output=format:png', conference.imgMimeType)}}" alt="TestJS Summit">
      </picture>


      <svg class="icon icon-plus">
        <use xlink:href="img/sprite.svg?v3#icon-plus"></use>
      </svg>
    </div>

    <div class="multipass-list__item swiper-slide">
      <a href="https://nodecongress.com/" target="_blank" aria-label="Visit site Node Congress">Visit site</a>
      <picture>
        <source srcset="{{mixins.imageUrl('5TPLDIHET3SFG0p9ZxYp', 'resize=fit:clip,height:500,width:500/output=format:webp', conference.imgMimeType)}}" type="image/webp">
        <img width="190" src="{{mixins.imageUrl('5TPLDIHET3SFG0p9ZxYp', 'resize=fit:clip,height:500,width:500/output=format:png', conference.imgMimeType)}}" alt="Node Congress">
      </picture>


      <svg class="icon icon-plus">
        <use xlink:href="img/sprite.svg?v3#icon-plus"></use>
      </svg>
    </div>

    <div class="multipass-list__item swiper-slide">
      <a href="https://jsgamedev.com/" target="_blank" aria-label="Visit site JS GameDev Summit">Visit site</a>
      <picture>
        <source srcset="{{mixins.imageUrl('6cxKQ3coQLGRsssJZilx', 'resize=fit:clip,height:500,width:500/output=format:webp', conference.imgMimeType)}}" type="image/webp">
        <img width="180" src="{{mixins.imageUrl('6cxKQ3coQLGRsssJZilx', 'resize=fit:clip,height:500,width:500/output=format:png', conference.imgMimeType)}}" alt="JS GameDev Summit">
      </picture>


      <svg class="icon icon-plus">
        <use xlink:href="img/sprite.svg?v3#icon-plus"></use>
      </svg>
    </div>

    <div class="multipass-list__item swiper-slide">
      <a href="https://typescriptcongress.com/" target="_blank" aria-label="Visit site TS Congress">Visit site</a>
      <picture>
        <source srcset="{{mixins.imageUrl('kn8ZoVlTToSK8J2B27BR', 'resize=fit:clip,height:500,width:500/output=format:webp', conference.imgMimeType)}}" type="image/webp">
        <img width="180" src="{{mixins.imageUrl('kn8ZoVlTToSK8J2B27BR', 'resize=fit:clip,height:500,width:500/output=format:png', conference.imgMimeType)}}" alt="TS Congress">
      </picture>


      <svg class="icon icon-plus">
        <use xlink:href="img/sprite.svg?v3#icon-plus"></use>
      </svg>
    </div>

  </div>
</div>
