<div class="notice-panel js-notice-panel" style="display: none;">

  <div class="container">
    <div class="notice-panel__desc">This event is over. Do not miss others with GitNation multipass.</div>
    <a tabindex="0" class="notice-panel__btn btn btn--alt" target="_blank" href="https://gitnation.com/multipass">
      Learn about multipass
    </a>
  </div>

  <button aria-label="notice close" class="notice-panel__close js-notice-close" style="background-color: transparent; border: none;">
    <span></span>
    <span></span>
  </button>
</div>
