<section class="section s-speakers {{speakersMod}}" id="speakers">
	<div class="container">
		{% if (pageKey == "main") %}
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'speakers__title') }}</h3>
		{% else %}
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'speakers__altTitle') }}</h3>
		{% endif %}

		{% if pagesPieceOfTexts.speakers__subtitle %}
		<h4 class="section__subtitle">{{ pagesPieceOfTexts.speakers__subtitle }}</h4>
		{% endif %}

		<div class="speakers-list">
			{% for trainer in speakers.workshops %}
			{% set isShown = false %}
			{% for workshop in workshops %}

			{% if workshop.speaker.id === trainer.id and workshop.includedToPackage and not isShown %}
			{% set isShown = true %}
			<div class="speakers-list__item" id="person-{{ person.slug }}">
				{{ mixins.speaker(trainer, inPerson, eventsLayer, not fakeLinks, id="trainer", confName = confName) }}
			</div>

			{% endif %}

			{% for oneOfTrainers in workshop.trainers %}
			{% if oneOfTrainers.id === trainer.id and workshop.includedToPackage and not isShown %}
			{% set isShown = true %}
			<div class="speakers-list__item" id="person-{{ person.slug }}">
				{{ mixins.speaker(trainer, inPerson, eventsLayer, not fakeLinks, id="trainer", confName = confName) }}
			</div>
			{% endif %}
			{% endfor %}

			{% endfor %}
			{% endfor %}

			{% if (pages[pageKey].pageSections.cfp) %}
			<div class="speakers-list__item speakers-list__item_cfp">
				<p class="speaker__name">{{ pages[pageKey].pageSections.cfpTitle | safe }}</p>
				<p class="speaker__company">{{ pages[pageKey].pageSections.cfpDesc | safe }}</p>
				<a class="btn" href="{{ pages[pageKey].pageSections.cfpLink }}">{{ pages[pageKey].pageSections.cfpLinkText }}</a>
			</div>
			{% endif %}
		</div>
	</div>
</section>