<section class="section workshops">
  <div class="container">
    <div class="workshops__title title-gradient">{{ mixins.text(pieceOfTexts, 'workshops__title') }}</div>
    <div class="workshops__description text">
      {{ mixins.text(pieceOfTexts, 'workshops__text') }}
    </div>

    <div class="section__title" id="paid-workshops">{{ mixins.text(pieceOfTexts, 'workshops__paidTitle') }}</div>

    <div class="workshops__content">
      {% for workshop in workshops %}
      {% if not workshop.includedToPackage %}
      <div class="workshop graphcms-container" id="{{ workshop.id }}"
        {{ mixins.cmsData(workshop) }}>
        <div class="workshop-item workshop-item_lg">
          <div class="workshop-item__title">
            <div class="workshop-item__name">{{ workshop.trainersTitle }}</div>

            {% if workshop.trainers[0] %}
            <div class="workshop-item__avatars">
              {% for trainer in workshop.trainers %}
              <img class="workshop-item__avatar" src="{{ trainer.avatar.url }}">
              {% endfor %}
            </div>
            {% else %}
            <img class="workshop-item__avatar" src="{{ workshop.speaker.avatar.url }}">
            {% endif %}
          </div>
          <div class="workshop-item__content">
            <h3>{{ workshop.title }}</h3>
            {% if workshop.description %}
            {{ workshop.description | safe }}
            {% endif %}
          </div>
        </div>
        {% if workshop.content.length %}
        <div class="workshop-item">
          <div class="workshop-item__title">Table of contents</div>
          <div class="workshop-item__content">
            <ul>
              {% for item in workshop.content %}
              <li> {{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if workshop.prerequisites %}
        <div class="workshop-item">
          <div class="workshop-item__title">Prerequisites</div>
          <div class="workshop-item__content">
            <p>{{ workshop.prerequisites | safe }}</p>
          </div>
        </div>
        {% endif %}
        {% if workshop.level %}
        <div class="workshop-item">
          <div class="workshop-item__title">Workshop level</div>
          <div class="workshop-item__content">
            <p>{{ workshop.level }}</p>
          </div>
        </div>
        {% endif %}
        {% if workshop.location %}
        <div class="workshop-item">
          <div class="workshop-item__title">Workshop schedule & location</div>
          <div class="workshop-item__content">
            {{ workshop.location | safe }}
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
