.social
	display: flex
	align-items: center
	&__item
		&:not(:last-child)
			margin-right: 17px
	&__link
		font-size: 17px
		.icon
			fill: $white
			transition: 0.3s
			filter: drop-shadow( -1px -1px 0 $themeColor2) drop-shadow( 1px 1px 0 $themeColor)
			-webkit-filter: drop-shadow( -1px -1px 0 $themeColor2) drop-shadow( 1px 1px 0 $themeColor)

		.no-touch &
			&:hover
				.icon
					fill: $themeColor
	&--theme
		.social
			&__item
				&:not(:last-child)
					margin-right: 28px
					+tablet
						margin-right: 15px
			&__link
				font-size: 20px
				.icon
					fill: $white
				.no-touch &
					&:hover
						.icon
							fill: $themeColor2

