<section class="section s-dates" id="dates">
	<div class="container">
		<div class="dates">
			{% for item in eventData.blocks %}
			<div class="dates__item">
				<div class="date">
					{% if item.backgroundImage %}
					<div class="date__bg" style="background-image: url({{mixins.mediaUrl(item.backgroundImage.url, 'resize=fit:crop,height:550,width:450/output=format:webp')}})"></div>
					{% endif %}
					<div class="date__inner">
						{% if item.date %}
						<div class="date__date">{{item.date | safe}}</div>
						{% endif %}

						{% if item.title %}
						<h3 class="date__title">{{item.title | safe}}</h3>
						{% endif %}

						{% if item.description %}
						<div class="date__info">{{item.description | safe}}</div>
						{% endif %}
					</div>
				</div>
				{% if not loop.last %}
				<div class="dates__icon">{{mixins.icon('plus')}}</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</section>