<section class="section s-full-ticket" id="full-ticket">
  <div class="container">
    <h2 class="section__title section__title_big">{{ mixins.text(pieceOfTexts, 'fullaccess__title') }}</h2>

    <div class="full-ticket">
      {% for item in (pages[pageKey].pageSections.fullTicketInPerson or pages[pageKey].pageSections.fullTicket if inPerson else pages[pageKey].pageSections.fullTicket) %}



      {% set fullTicketContent %}
      {% if item.bg %}
      <div role="presentation" class="full-ticket__bg" style="background-image: url({{ item.bg }});"></div>
      {% endif %}

      {% if item.fullWidth %}
      <div class="full-ticket__left">
        {% if item.title %}
        <h3 class="full-ticket__title">{{ item.title | safe }}</h3>
        {% endif %}

        {% if item.img %}
        <div class="full-ticket__img-wrap">
          <img class="full-ticket__img" src="{{ item.img }}" alt="icon" />
        </div>
        {% endif %}
      </div>
      {% else %}
      {% if item.title %}
      <h3 class="full-ticket__title">{{ item.title | safe }}</h3>
      {% endif %}

      {% if item.img %}
      <div class="full-ticket__img-wrap">
        <img class="full-ticket__img" src="{{ item.img }}" alt="icon" />
      </div>
      {% endif %}
      {% endif %}

      {% if item.desc %}
      <div class="full-ticket__desc">{{ item.desc | safe }}</div>
      {% endif %}


      {% if item.btnLink %}
      <a href="{{ item.btnLink }}" class="btn">{{ item.btnText }}</a>
      {% endif %}

      {% endset %}




      {% if item.link %}
      <a class="full-ticket__item {{ 'full-width' if item.fullWidth }}" href="{{ item.link }}">
        {{fullTicketContent | safe }}
      </a>
      {% else %}
      <div class="full-ticket__item {{ 'full-width' if item.fullWidth }}">
        {{fullTicketContent | safe }}
      </div>
      {% endif %}
      {% endfor %}

    </div>


    {% if landingLinks and landingLinks.length > 0 and not hideLandingLinks %}
    <div class="s-full-ticket__landing-links landing-links">
      <div class="landing-links__left">
        <h2 class="landing-links__title">Check our latest tech trends overviews:</h2>
      </div>
      <div class="landing-links__right">
        <ul class="landing-links__list">
          {% for item in landingLinks %}
          <li class="landing-links__item"><a href="https://gitnation.com/{{item.slug}}" target="_blank" class="landing-links__link">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</section>
