<section class="section sponsors {{animationOnScroll}}" id="sponsors">
	<div class="container">
		<div class="sponsors__top">
			<h2 class="section__title " data-title="{{sponsorsData.title}}">
				{{sponsorsData.title }}
			</h2>

			{% if sponsorsData.description or sponsorsData.pieceOfText.offer %}
			<div class="sponsors__description">
				{% if sponsorsData.description %}
				<div class="sponsors__intro">
					{{ sponsorsData.description | safe }}
				</div>
				{% endif %}

				{% if sponsorsData.pieceOfText.offer %}
				<div class="sponsors__offer">
					{{ mixins.text(sponsorsData.pieceOfText, 'offer') }}
				</div>
				{% endif %}
			</div>
			{% endif %}
		</div>
		{{mixins.sponsors(sponsors, isAuth, eventsLayer, ga_mixins)}}
	</div>
</section>