.btn
	display: inline-flex
	align-items: center
	justify-content: center
	cursor: pointer
	text-align: center
	padding: 0 40px
	height: 56px
	font-size: 16px
	font-weight: 600
	color: $white
	text-decoration: none
	transition: all ease 0.1s
	font-family: 'Montserrat', sans-serif
	border: none
	border-radius: 12px
	overflow: hidden
	position: relative
	background: transparent
	z-index: 1
	flex: none

	&:after
		content: ''
		position: absolute
		inset: 0
		background: linear-gradient(266deg, #E19D65 0%, #B06AB3 50%, #4568DC 100%)
		transition: opacity ease 0.2s
		z-index: -1
	&:focus-visible
		outline-width: 3px !important
	&:hover, &:focus-visible
		&:after
			opacity: 0.8

	&--gradient, &--border
		background: rgba(0, 0, 0, 0.10)
		backdrop-filter: blur(12px)

		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			border-radius: inherit
			border: 1px solid transparent
			background: linear-gradient(266deg, #E19D65 0%, #B06AB3 50%, #4568DC 100%) border-box
			-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0)
			-webkit-mask-composite: destination-out
			mask-composite: exclude
			transition: all ease 0.1s

		&:hover, &:focus-visible
			background: rgba(0, 0, 0, 0.20)

	&--transparent
		background: transparent
		&:after
			display: none
		&:hover, &:focus-visible
			background: transparent

	&--huge
		@extend .btn--gradient
		font-size: clamp(36px, 8vw , 124px)

		+md
			padding: 5px 26px
			min-height: 0
			font-size: clamp(36px, 8vw , 124px)

		.icon
			fill: $white
			width: clamp(52px, 10vw, 160px)
			height: clamp(32px, 10vw, 100px)
			margin-left: 2vw

.icon-link
	color: #fff
	.icon
		font-size: 18px
		fill: $white

.theme-link
	font-size: 14px
	color: $themeColor
	text-transform: uppercase
	text-decoration: none
	&:hover
		text-decoration: underline

.is-hidden
	display: none
