.features
	position: relative
	background: #000

.features-block
	display: flex
	gap: 24px
	+tablet
		gap: 20px
	+md
		gap: 16px
	+sm
		flex-direction: column

	&__item
		position: relative
		display: flex
		flex-direction: column
		justify-content: flex-end
		gap: 20px
		flex: 1 1
		padding: 40px
		min-height: 562px
		min-width: 0
		border-radius: 16px
		border: 2px solid
		background: #000
		overflow: hidden

		+tablet
			padding: 32px

		+md
			min-height: 480px
			aspect-ratio: 1/0.8
			padding: 24px

		+sm
			width: 100%
			aspect-ratio: 1/0.8
			max-height: 380px
			padding: 32px

		&:after
			content: ''
			width: 100%
			aspect-ratio: 1/0.6
			position: absolute
			top: 100%
			left: 0
			transform: translateY(-50%)
			background: #000
			filter: blur(120px)
			border-radius: 100px
			z-index: 1
			pointer-events: none

		&:nth-child(3n + 1)
			border-color: var(--accentColorFirst)
			box-shadow: inset 0 0 29.3px 0 var(--accentColorFirst)
			&:after
				background: var(--accentColorFirst)
		&:nth-child(3n+2)
			border-color: var(--accentColorSecond)
			box-shadow: inset 0 0 29.3px 0 var(--accentColorSecond)
			&:after
				background: var(--accentColorSecond)
		&:nth-child(3n+3)
			border-color: var(--accentColorThird)
			box-shadow: inset 0 0 29.3px 0 var(--accentColorThird)
			&:after
				background: var(--accentColorThird)

	&__title
		position: relative
		font-size: 40px
		text-transform:
		line-height: 1.1
		text-transform: capitalize
		letter-spacing: -0.02em
		z-index: 2
		+tablet
			font-size: 32px
		+md
			font-size: clamp(28px, 3.4vw, 32px)
		+sm
			font-size: 32px

	&__desc
		position: relative
		font-size: 16px
		line-height: 1.2
		z-index: 2
		max-width: 320px
		+tablet
			font-size: 14px

	&__links
		font-size: 20px
		position: relative
		z-index: 3

		+laptop
			font-size: 1.8vw

		+xs
			font-size: 14px

	&__link
		color: #fff
		margin: 2px 0
		display: inline-block
		text-decoration: underline

		&:hover
			text-decoration: none

	&__back
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 0
		overflow: hidden

		&:after
			content: ''
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50.08%, rgba(0, 0, 0, 0.70) 100%)

	&__back-pic
		width: 100%
		height: 100%
		display: block
		object-fit: cover

.networkers
	display: flex
	flex-wrap: wrap

	&__item
		position: relative
		width: 33.3%
		height: calc(514px / 4)
		+laptop
			height: calc(36vw / 4)
		+xs
			width: 25%
			height: calc(70vw / 3)
		+xxs
			width: 33.3%
			height: calc(95vw / 2)

		img

	&__speaker
		width: 100%
		height: 100%
		display: block
		object-fit: cover

	&__time
		position: absolute
		bottom: 8px
		right: 8px

	&__face-wrap
		display: flex
		align-items: center
		justify-content: center
		width: calc(100% - 4px)
		height: calc(100% - 4px)
		margin: 2px
		background: #000
		border-radius: 5px

	&__face
		position: relative
		display: block
		height: 70%
		width: 100%
		fill: #20201e

.features-btns
	margin: 64px 0 0

	+tablet
		margin: 50px 0 0
	+md
		margin: 30px 0 0
