
=regular
  font-family: "Geist Mono", Arial, sans-serif
  font-weight: 400

=medium
  font-family: "Geist Mono", Arial, sans-serif
  font-weight: 500

=bold
  font-family: "Geist Mono", Arial, sans-serif
  font-weight: 700

.out
  overflow: hidden
  position: relative

html
  height: 100%
  &.lock, &.lock body
    overflow: hidden
body
  background: $mainBg
  font-size: 16px
  line-height: 1.4
  color: $black
  min-height: 100%
  +md
    font-size: 14px

  +regular
  &.is-no-scroll
    overflow: hidden

a
  color: $themeColor

  &:hover
    text-decoration: none

.main
  min-width: 320px
  &--inner
    padding-top: 150px
    +sm
      padding-top: 130px
    +xxxs
      padding-top: 120px

  &.blur
    filter: blur(10px) grayscale(.6)
    & > *
      pointer-events: none

.styled-text
  font-size: 16px
  +md
    font-size: 14px
  +xxxs
    font-size: 12px
  h3
    font-size: clamp(16px, 2.8vw, 30px)
    line-height: 1
    margin-bottom: 40px
    margin-top: 70px
    font-weight: 700
    +md
      margin-top: 50px
      margin-bottom: 30px

  p
    margin-bottom: 30px
    line-height: 1.6

  ul
    list-style-type: none
    margin-left: 30px
    margin-bottom: 30px

    li
      line-height: 1.6
      margin-bottom: 10px
      position: relative
      &:before
        content: ''
        position: absolute
        width: 0.5em
        height: 0.5em
        background: #000
        top: 0.53em
        left: -20px

  & > *:first-child
    margin-top: 0 !important
  & > *:last-child
    margin-bottom: 0 !important

.sec-checkout
  padding-top: 0 !important
  &:after
    display: none !important

.tito-widget .tito-widget-form .tito-release
  background: var(--cehckout-card-bg, transparent)
  border: var(--checkout-card-border) !important
  &:after
    display: none
