.container
  --containerWidth: 1440px
  --containerPadding: 80px
  max-width: var(--containerWidth)
  padding: 0 var(--containerPadding)
  margin: 0 auto
  +tablet
    --containerPadding: 40px
  +sm
    --containerPadding: 24px
  +xs
    --containerPadding: 15px
