.container
  width: 100%
  --containerWidth: 1440px
  --containerPadding: 80px
  max-width: var(--containerWidth)
  padding: 0 var(--containerPadding)
  margin: 0 auto
  +laptop
    --containerPadding: 48px
  +tablet
    --containerPadding: 40px
  +sm
    --containerPadding: 24px
  +xxxs
    --containerPadding: 15px
