.container
  max-width: 1440px
  --container-padding: 80px
  padding: 0 var(--container-padding)
  margin: 0 auto
  +tablet
    --container-padding: 40px
  +sm
    --container-padding: 24px
  +xs
    --container-padding: 15px
