\:root
  --ff: Geist Mono, Arial, sans-serif
  --ff-msw: Mona Sans Wide, Arial, sans-serif
  --banner-font: Geist Mono, Arial, sans-serif
  --banner-btn-size: 16px
  --banner-accent-font: Mona Sans Wide, Arial, sans-serif
  --accentColor: #FAFF05
  --colorWhite: #fff
  --colorBlack: #000
  --colorGray100: #F5F3EB
  --colorGray200: #DDD

  --checkout-card-border: 1px solid var(--colorGray200)
  --cehckout-card-bg: #fff
  --checkout-card-text-color: #000
  --checkout-quantity-bg: var(--accentColor)
  --checkout-quantity-hover-color: #000

$font-size: 16px

/*----- COLORS -----*/

$mainBg: #fff
$mainBg2: #eaeaec
$black: #000
$white: rgb(255, 255, 255)
$gray: #F5F3EB
$gray2: #DDD
$themeColor: #FAFF05
$themeColor2: #000
$themeColorD: #FAFF05
$accent: #FAFF05

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- CHECKOUT -----*/
$checkoutSectionBg: #fff
$cehckoutInputColor: #fff
$cehckoutInputBg: #353535
$cehckoutColorGray: #eaeaec
$cehckoutBadgeBg: #fff
$cehckoutBadgeColor: #000
// end CHEcKoUT

/*----- SWITCH -----*/
$switchBG: #99FF00
$switchColor: $black
$switchHandler: $black

// end SWITCH
