<section class="section event " id="event" {{ editable(eventData) }}>
	<div class="container">
		<div class="event__head ">
			{% if eventData.title %}
			<h2 class="section__title">{{ eventData.title }}</h2>
			{% endif %}

			{% if eventData.description %}
			<div class="section__description">
				{{ eventData.description | safe }}
			</div>
			{% endif %}
		</div>

		{% if eventData.hackathon %}
		<div class="event__banners">
			{% include "partials/blocks/_hackathon.html" %}
		</div>
		{% endif %}

		{% for block in eventData.blocks %}

		{% if block.blockType == 'deepDives' %}
		{% set deepDivesData = block %}
		{% include "partials/payload/sections/_deep-dives.html" %}
		{% endif %}
		{% endfor %}

		{% if eventData.dates.length %}
		{% set datesData = eventData.dates %}
		<div class="event__dates">
			{% include "partials/payload/sections/_dates-slider.html" %}
		</div>
		{% endif %}
	</div>


</section>