<section class="section event " id="event">

	{% if pages[pageKey].pageSections.eventVideo %}
	<video class="event__video" preload="auto" muted autoplay loop playsinline poster="img/event.png">
		<source src="video/event.webm?v7" type="video/webm" />
		<source src="video/event.mp4?v7" type="video/mp4" />
	</video>
	{% endif %}

	<div class="container">
		<div class="event__head ">
			{% if pagesPieceOfTexts.event__boldtitle %}
			<h2 class="event__title anim-title">{{ pagesPieceOfTexts.event__boldtitle }}</h2>
			{% endif %}

			<div class="event__text section__text">
				{{ mixins.text(pieceOfTexts, 'event__text') }}
			</div>
		</div>


		<div class="event__banners">
			{% if pages[pageKey].pageSections.hackathon %}
			{% include "partials/blocks/_hackathon.html" %}
			{% endif %}
			{% include "partials/blocks/_partnership-banner.html" %}
		</div>
		{% if pages[pageKey].pageSections.program %}
		<div class="s-program" id="program">
			<h2 class="section__title anim-title">{{ pagesPieceOfTexts.program__title | safe }}</h2>
			{{mixins.deepDives(pages[pageKey].pageSections.program, false, ga_mixins)}}
		</div>
		{% endif %}


		{% if (pages[pageKey].pageSections.datesSlider or pages[pageKey].pageSections.dates) and (extendeds.datesInPerson or extendeds.dates if inPerson else extendeds.dates) %}
		<div class="event__dates">
			{% if pages[pageKey].pageSections.datesSlider %}
			{% include "partials/_dates-slider.html" %}
			{% endif %}

			{% if pages[pageKey].pageSections.dates %}
			<div class="event__dates">
				{% include "partials/_dates.html" %}
			</div>
			{% endif %}

		</div>
		{% endif %}
	</div>
</section>