<section class="s-multipass section" id="multipass">
  <div class="container">

    <div class="multipass">
      <div class="multipass__head">
        <h3 class="multipass__title">{{ mixins.text(pieceOfTexts, 'multipass__title') }}</h3>

        <div class="multipass__card">
          <div class="visa-card">
            <div class="visa-card__card">
              <div class="visa-card__img">
                <svg class="icon icon-face">
                  <use xlink:href="img/sprite.svg#icon-face"></use>
                </svg>
              </div>
              <div class="visa-card__desc">
                <h3>Korben<br> Dallas</h3>
                <p>citizen@gitnation.org</p>
              </div>

              <div class="visa-card__side">000 059 307 {{mixins.icon('mini-qrcode')}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="multipass__content">
        <div class="multipass-list swiper-container multipass-slider">
          <div class="swiper-wrapper">
            {% for conference in pages[pageKey].pageSections.multipassConferences %}
            <div class="multipass-list__item swiper-slide">
              <img src="{{ conference.img }}" width="{{ conference.imgWidth }}" title="{{ conference.title }}">
              <a href="{{ conference.link }}" target="_blank">Visit site</a>

              <svg class="icon icon-plus">
                <use xlink:href="img/sprite.svg#icon-plus"></use>
              </svg>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="multipass__bottom">
        <div class="multipass__tip">{{ pagesPieceOfTexts.multipass__desc | safe }}</div>
        <a class="multipass__btn btn btn--transparent" href="{{ pagesPieceOfTexts.multipass__btnLink | safe }}">{{ pagesPieceOfTexts.multipass__btnText | safe }}</a>
      </div>
    </div>

  </div>
</section>
