<section class=" section s-tours" id="tours" {{ editable(toursData) }}>
	<div class="container">
		<div class="section__head">
			{% if toursData.title %}
			<h3 class="section__title">{{ toursData.title | safe }}</h3>
			{% endif %}
			{% if toursData.description %}
			<div class="section__description">{{ toursData.description | safe }}</div>
			{% endif %}
		</div>


		<div class="bars-list">
			{% for tour in toursData.items %}
			<div class="bars-list__item"
				{% if tour.link %}
				onclick={{ eventsLayer.openDialogSecure({name: 'video-room' , isAuth: not fakeLinks, link: tour.link, data: tour | dump, values: 'tourTitle:' + tour.title + ';' , category: 'tour-click' })}}
				{% endif %} {{ editable(tour) }}>
				<img class="bars-list__bg" src="{{ tour.backgroundImage.url }}" alt="{{ tour.backgroundImage.alt }}" />
				<div class="bars-list__content">
					<h3 class="bars-list__title">{{ tour.title | safe }}</h3>
					<div class="bars-list__description">{{ tour.description | safe }}</div>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</section>