<div class="program {{ 'js-slider-auto' if programSwiper }}"
	data-space-between="48">

	{% if programSwiper %}
	<div class="swiper-wrapper">
		{% endif %}

		{% for item in pages[pageKey].pageSections.program %}

		{{mixins.deepDives(item, programSwiper, ga_mixins)}}

		{% endfor %}

		{% if programSwiper %}

	</div>
	<button type="button" class="program__prev swiper-auto-button-prev" aria-label="Previous slide">{{mixins.icon('arrow2-l')}}</button>
	<button type="button" class="program__next swiper-auto-button-next" aria-label="Next slide">{{mixins.icon('arrow2-r')}}</button>

	{% endif %}
</div>