<div class="hackathon" style="background-image: url({{pages[pageKey].pageSections.hackathon.backgroundImage}})">
	<div class="hackathon__top">
		<div class="hackathon__title">{{pages[pageKey].pageSections.hackathon.title}}</div>
		<div class="hackathon__prizes">{{pages[pageKey].pageSections.hackathon.prizes}}</div>
	</div>

	<div class="hackathon__text">{{pages[pageKey].pageSections.hackathon.text | safe}}</div>

	<div class="hackathon__bottom">
		<div class="hackathon__by">
			<span>by</span>

			<img src="{{pages[pageKey].pageSections.hackathon.by.firstImage}}" alt="" />
			<svg xmlns="http://www.w3.org/2000/svg" width="27" height="16" viewBox="0 0 27 16" fill="none">
				<rect x="0.5" width="30" height="1" transform="rotate(30 0.5 0)" />
				<rect y="15" width="30" height="1" transform="rotate(-30 0 15)" />
			</svg>
			<img src="{{pages[pageKey].pageSections.hackathon.by.secondImage}}" alt="" />

		</div>
		<a href="{{pages[pageKey].pageSections.hackathon.button.link}}" class="btn">{{pages[pageKey].pageSections.hackathon.button.text}}</a>
	</div>
</div>