<div class="join-waitlist js-join-waitlist" style="display: none;">
  <div class="join-waitlist__title">Join waitlist for cheapest tickets!</div>
  <form action="https://gitnation.com/newsletter-preferences" method="GET" target="_blank" class="join-waitlist__form">
    <input type="email" name="email" placeholder="your@email.com" required class="join-waitlist__input" />
    <button type="submit" class="join-waitlist__btn">
      <span>Submit</span>
      <svg class="icon icon-arrow-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="15px" height="14px" viewBox="0 0 15 14" xml:space="preserve">

        <rect y="6.1" class="st0" width="13" height="2" />
        <rect x="9.8" y="-0.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 0.1716 8.8995)" class="st0" width="2" height="10" />
        <rect x="5.8" y="8.9" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.8288 10.5566)" class="st0" width="10" height="2" />
      </svg>

    </button>
  </form>
</div>