<div class="partnership-banner">
	<div class="partnership-banner__logo">
		<img src="img/sentry_banner.svg" alt="Sentry" />
		<div class="partnership-banner__caption">GitNation Events Supporter</div>
	</div>
	<div class="partnership-banner__text">Catch, trace, and fix bugs across your entire stack.
		<div class="partnership-banner__link">
			<a href="https://sentry.io/events/?utm_source=gitnation&utm_medium=paid-community&utm_campaign=general-fy27q1-evergreen&utm_content=event-hub-learnmore" target="_blank" onclick={{ ga_mixins.sendGAEvent({ values: 'partnership-banner;' , category: 'partnership-banner-click' , isAuth: false }) }}>Learn more</a>
		</div>
	</div>
</div>