<div class="dialog-container bonus-offer _modal _open">
	<div class="dialog _modal__content">
		<button class="dialog__close _close-modal" aria-label="Close">
			<svg class="icon icon-p-close" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 13L13 1M1 1L13 13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</button>

		<div class="dialog__content">
			<h3 class="bonus-offer__title">{{pages[pageKey].pageSections.popupBonusOffer.title }}</h3>
			<p class="bonus-offer__text">{{pages[pageKey].pageSections.popupBonusOffer.description }}</p>
			<a href="{{pages[pageKey].pageSections.popupBonusOffer.link.url }}" class="dialog__btn">{{pages[pageKey].pageSections.popupBonusOffer.link.text }}</a>
		</div>
	</div>
</div>