.btn
  display: inline-flex
  align-items: center
  justify-content: center
  text-align: center
  color: $black
  text-transform: uppercase
  font-weight: 700
  letter-spacing: -0.02em
  height: 56px
  font-size: 12px
  font-family: inherit
  padding: 0 38px
  text-decoration: none
  border: 2px solid $themeColor
  position: relative
  z-index: 1
  transition: color 0.2s linear, background 0.2s linear, border-color 0.2s linear
  &:after, &:before
    content: ''
    position: absolute
    top: 0
    transition: width 0.2s linear
    height: 100%
    background: $themeColor
    width: 51%
    z-index: -1
  &:after
    left: 0
  &:before
    right: 0

  &:hover, &:focus-visible
    color: #fff
    &:after, &:before
      width: 0

  &--border
    border: 1px solid $themeColor
    color: #fff
    font-size: 12px
    position: relative
    background: transparent
    &:after, &:before
      display: none
    &:hover, &:focus-visible
      color: #000
      background: $themeColor

  &--border-dark
    border: 1px solid $black
    color: $black
    font-size: 12px
    position: relative
    background: transparent
    &:after, &:before
      display: none
    &:hover, &:focus-visible
      color: $white
      background: $black


.icon-link
  color: #fff
  .icon
    font-size: 18px
    fill: $white

.theme-link
  font-size: 14px
  color: $themeColor
  text-transform: uppercase
  text-decoration: none
  &:hover, &:focus-visible
    text-decoration: underline
