.footer
  +sm
    text-align: center
  &__nav
    flex: none
    margin-right: auto
    +sm
      width: 100%

  &__socials
    margin-left: 1.5%
    order: 3
    +md
      order: 0
    +sm
      margin-left: 0
      width: 100%
      .social
        justify-content: center

  &__main
    padding: 10px 0 70px
    display: flex
    width: 100%

    flex-direction: column
    +md
      padding-bottom: 30px

  &__title
    font-size: clamp(40px, 6vw, 88px)
    text-transform: uppercase
    font-weight: 700
    color: $themeColor
    letter-spacing: -0.02em
    margin-bottom: clamp(32px, 5vw, 78px)


  &__mid
    display: flex
    align-items: flex-start
    gap: 40px
    +md
      flex-wrap: wrap



  &__basement
    width: 435px
    background-position: top center
    display: flex

    flex-direction: column
    gap: 35px
    // border-top: 3px solid $gray2
    // padding: 40px 0 90px

    +md
      width: 100%
      flex: 1 1 100%
      position: relative
      padding-top: 30px
      flex-direction: row
      align-items: center
      &:after
        content: ''
        display: block
        position: absolute
        top: 0
        left: 50%
        width: 110vw
        transform: translate(-50%, 0)
        height: 1px
        background: #1A1A1A

    +sm

      gap: 20px
      flex-direction: column-reverse


    .container
      +sm
        flex-direction: column-reverse

  &__tip
    line-height: 1.1
    font-size: 14px
    font-weight: 500

    a
      color: $themeColor

    +sm
      font-size: 12px

.f-logo
  color: $white
  text-decoration: none
  display: inline-flex
  align-items: center
  gap: 20px

  &__label
    font-weight: 700
    display: flex
    flex-direction: column
    flex-wrap: wrap
    font-size: 14px
    margin-right: 0
    text-align: left

    a
      font-size: 20px
      color: $white
      text-decoration: none

  &__icon
    width: 44px

    img
      width: 100%

.f-nav
  display: flex
  flex-direction: column
  font-size: 14px
  gap: 9px

  &__link
    color: $white
    text-decoration: none
    &:hover
      text-decoration: underline
