.hero
  position: relative
  min-height: 100vh
  padding: calc(140px + 9vh) 0 50px
  overflow: hidden
  display: flex
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-image: url(../img/hero-overlay.jpg)
  background-color: #1e2220
  z-index: 1
  +md
    padding: 40px 0
    align-items: center
    text-align: center
  .container
    display: flex



  &:after
    content: ''
    +coverdiv
    z-index: 1
    background-color: #000
    opacity: 0.5
    pointer-events: none

  &__video
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: -1
    filter: brightness(0.7)
    object-fit: cover
    pointer-events: none

    +sm
      display: none

    @media (prefers-reduced-motion)
      display: none

  &__bg
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: -1
    background: url(../img/hero.jpg) center center no-repeat
    background-size: cover
    filter: brightness(0.7)
    pointer-events: none
  &__top
    display: none
    +md
      display: flex
      align-items: center
      justify-content: center
      margin-bottom: 10vh


  &__inner
    display: flex
    flex-direction: column
    z-index: 2
    width: 100%

  &__suptitle
    font-size: clamp(18px, 2vw, 32px)
    font-weight: 700
    color: $themeColor
    margin-bottom: 20px
    text-transform: uppercase

  &__title
    font-size: clamp(44px, 6vw, 88px)
    line-height: 0.9
    letter-spacing: -0.02em
    margin-left: -5px
    margin-bottom: 38px
    font-weight: 700
    text-transform: uppercase
    max-width: 85%
    +md
      max-width: none
      margin-bottom: 10vh
      line-height: 1
    +sm
      font-size: clamp(30px, 6vw, 44px)

  &__row
    margin-top: auto
    display: flex
    +md
      display: block


  &__btn
    flex: none
    display: inline-flex
    align-items: center
    justify-content: center
    text-align: center
    background: $themeColor
    color: $black
    text-transform: uppercase
    font-size: clamp(22px,3vw,32px)
    font-weight: 700
    letter-spacing: -0.02em
    height: clamp(80px,10vw,140px)
    padding: 0 clamp(30px,4.8vw,65px)
    text-decoration: none
    +md
      margin-top: 40px
    +sm
      height: 60px
      font-size: 20px


  &__info
    flex: 1
    order: 1
    +sm
      margin-left: -15px
      margin-right: -15px

.h-list
  display: flex
  margin: 0
  padding: 0
  height: 100%
  min-height: 100px
  +md
    min-height: 80px
  +sm
    min-height: 55px

  &__item
    display: flex
    flex-direction: column
    flex: 1

    padding: 0 12px
    &:not(:last-child)
      border-right: 1px solid $themeColor
    +sm
      padding: 0 5px
  &__value
    font-size: clamp(22px, 5.5vw, 88px)
    font-weight: 700
    text-align: right
    order: 2
    line-height: 0.8
    margin-top: auto
    letter-spacing: -0.02em
    +md
      text-align: center
  &__text
    font-size: 12px
    font-weight: 700
    width: 100%
    color: $themeColor
    text-align: left
    text-transform: uppercase
    margin-bottom: 15px
    +md
      text-align: center
    +sm
      font-size: 9px
