.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-blue {
	font-size:(18/16)*1rem;
	width:(7/18)*1em;
}
.icon-scroll-arrow {
	font-size:(18/16)*1rem;
	width:(7/18)*1em;
}
.icon-socials-fb {
	font-size:(21/16)*1rem;
	width:(9/21)*1em;
}
.icon-socials-gh {
	font-size:(21/16)*1rem;
	width:(21/21)*1em;
}
.icon-socials-tw {
	font-size:(14/16)*1rem;
	width:(17/14)*1em;
}
.icon-socials-yt {
	font-size:(17/16)*1rem;
	width:(22/17)*1em;
}
