$icons: (
	  sprite: (width: 83px, height: 109px, svgPath: '../img/sprite.svg'),
 	arrow-blue: (width: 7px, height: 18px, backgroundX: 0px, backgroundY: 0px),
 	scroll-arrow: (width: 7px, height: 18px, backgroundX: -7px, backgroundY: -18px),
 	socials-fb: (width: 9px, height: 21px, backgroundX: -14px, backgroundY: -36px),
 	socials-gh: (width: 21px, height: 21px, backgroundX: -23px, backgroundY: -57px),
 	socials-tw: (width: 17px, height: 14px, backgroundX: -44px, backgroundY: -78px),
 	socials-yt: (width: 22px, height: 17px, backgroundX: -61px, backgroundY: -92px),
);
