		<section class="section speakers" id="committee">
			<div class="container">

				<div class="section__head centered">
					<div class="section__head-l">
						<h3 class="section__title with-dots">{{ pagesPieceOfTexts.committee__title | safe }}</h3>
					</div>
				</div>

				<div class="team committee">
					{% for speaker in speakers.committee %}
						{{own_mixins.speaker({
							img: speaker.avatar,
              avatarHandle: speaker.avatarHandle,
							name: speaker.name,
							company: speaker.company,
							info: speaker.bio,
							tag: speaker.label,
							socials: speaker.socials
						})}}
					{% endfor %}

					{% if (pages[pageKey].pageSections.joinComittee) %}
					<div class="team__item-wrap">
						<div class="team__item team__item_cfp">

							<div class="team__content">
								{% if pagesPieceOfTexts.joinComittee__title %}
								<p class="team__name">{{ pagesPieceOfTexts.joinComittee__title | safe }}</p>
								{% endif %}

								{% if pagesPieceOfTexts.joinComittee__desc %}
								<p class="team__company">{{ pagesPieceOfTexts.joinComittee__desc | safe }}</p>
								{% endif %}

								{% if conf.inPerson %}
									{% if conf.fullData.activities.offlineTalks[0].title %}
									<div class="team__talk"><span>Talk:</span> {{conf.fullData.activities.offlineTalks[0].title | safe}}</div>
									{% endif %}
								{% else %}
									{% if conf.fullData.activities.talks[0].title %}
									<div class="team__talk"><span>Talk:</span> {{conf.fullData.activities.talks[0].title | safe}}</div>
									{% endif %}
								{% endif %}

								{% if pagesPieceOfTexts.joinComittee__link %}
								<a class="basic-btn btn-green" href="{{ pagesPieceOfTexts.joinComittee__link }}">
									<div class="basic-btn__inner">
										<div class="basic-btn__arr-l">
											<svg class="basic-btn__arrow" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
											</svg>
										</div>
										{{ pagesPieceOfTexts.joinComittee__linkText }}
										<div class="basic-btn__arr-r">
											<svg class="basic-btn__arrow" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
											</svg>
										</div>
									</div>
								</a>
								{% endif %}
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</section>

