<section class="section s-features" id="features">
	<div class="s-features__decor"></div>
	<div class="s-features__decor-2"></div>

	<div class="container">
		<div class="section__head">
			<div class="section__head-l">
				<h3 class="section__title with-dots">{{ pagesPieceOfTexts.features__title | safe }}</h3>
			</div>
			<div class="section__head-r no-width">
				<div class="networkers">
					{% for i in range(0, 10) -%}
					<div class="networkers__item">
						<div class="networkers__item-wrap">
							{% if speakers[pageKey][i].avatar %}
							<img class="networkers__speaker" src="{{speakers[pageKey][i].avatar}}" />
							<p class="networkers__time">{{speakers[pageKey][i].time}}</p>
							{% else %}
							<div class="networkers__face-wrap">
								<svg class="icon networkers__face icon-face_{{[loop.index]}}">
									<use xlink:href="img/sprite.svg?v3#icon-face_{{[loop.index]}}"></use>
								</svg>
							</div>
							{% endif %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="features">
			{% if inPerson %}
				{% for feature in pages[pageKey].pageSections.featuresInPerson %}
					{{own_mixins.feature(feature)}}
				{% endfor %}
      {% else %}
				{% for feature in pages[pageKey].pageSections.features %}
					{{own_mixins.feature(feature)}}
				{% endfor %}
      {% endif %}
		</div>
	</div>
</section>