<section class="section s-for-boss" id="for-boss">
  <div class="s-for-boss__decor-diver"></div>

  <div class="container">
    <div class="section__head">
      <div class="section__head-l">
        <h3 class="section__title">{{ pagesPieceOfTexts.forBoss__title | safe }}</h3>
      </div>

      <div class="section__head-r">
        <div class="section__desc">
          {{ pagesPieceOfTexts.forBoss__desc | safe }}

          {% if pagesPieceOfTexts.forBoss__btnLink %}
          <a class="basic-btn btn-green" href="{{ pagesPieceOfTexts.forBoss__btnLink }}" target="_blank">
            <div class="basic-btn__inner">
              <div class="basic-btn__arr-l">
                <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                </svg>
              </div>
              {{ pagesPieceOfTexts.forBoss__btnText }}
              <div class="basic-btn__arr-r">
                <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                </svg>
              </div>
            </div>
          </a>
          {% endif %}
        </div>
      </div>
    </div>        
  </div>
</section>