<header class="header js-header {{ headerMod }} {{'_not-tito' if titoHeader == false }}">
  <div class="container">
    <div class="header__inner js-menu">
      <div class="header__logo">
        <div class="logo-mini ir">
          <a tabindex="-1" class="logo-mini__link" href="/">React Advanced London</a>
        </div>
      </div>
      <div class="header__nav">
        <nav>
          <ul class="nav">
            {% if inPerson %}
            {% for item in pages[pageKey].pageNavigation.headerNavInPerson or pages[pageKey].pageNavigation.headerNav %}
            {% if item.href %}
            <li class="nav__item"><a href="{{item.href}}" class="nav__link {% if item.scroll %}js-scroll-link{% endif %}">{{item.text}}</a></li>
            {% endif %}
            {% endfor %}
            {% else %}
            {% for item in pages[pageKey].pageNavigation.headerNav %}
            {% if item.href %}
            <li class="nav__item"><a href="{{item.href}}" {{ 'target="_blank"' if item.newTab }} class="nav__link {% if item.scroll %}js-scroll-link{% endif %}" {% if pageKey==='watch' and item.href[0] !=='#' %}target="_blank" {% endif %}>{{item.text}}</a></li>
            {% endif %}
            {% endfor %}
            {% endif %}
          </ul>
        </nav>
      </div>

      <div class="header__socials">
        <ul class="socials">
          {% if conference.instagramUrl %}
          <li class="socials__item">
            <a aria-label="instagram" href="{{ conference.instagramUrl }}" class="socials__link" target="_blank">

              {{mixins.icon('instagram')}}
            </a>
          </li>
          {% endif %}
          {% if conference.tiktokUrl %}
          <li class="socials__item">
            <a aria-label="tiktok" href="{{ conference.tiktokUrl }}" class="socials__link" target="_blank">

              {{mixins.icon('tiktok')}}
            </a>
          </li>
          {% endif %}
          {% if conference.twitterUrl %}
          <li class="socials__item">
            <a aria-label="twitter" href="{{ conference.twitterUrl }}" class="socials__link" target="_blank">

              {{mixins.icon('tw')}}
            </a>
          </li>
          {% endif %}
          <!-- {% if conference.facebookUrl %}
            <li class="socials__item">
              <a aria-label="facebook"  href="{{ conference.facebookUrl }}" class="socials__link" target="_blank">
                <svg class="socials__img fb" role="img" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-socials_fb"></use>
                </svg>
              </a>
            </li>
          {% endif %}
          {% if conference.youtubeUrl %}
            <li class="socials__item">
              <a aria-label="youtube" href="{{ conference.youtubeUrl }}" class="socials__link" target="_blank">
                <svg class="socials__img yt" role="img" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-socials_yt"></use>
                </svg>
              </a>
            </li>
          {% endif %} -->
          {% if conference.mediumUrl %}
          <li class="socials__item">
            <a aria-label="medium" href="{{ conference.mediumUrl }}" class="socials__link" target="_blank">

              {{mixins.icon('med')}}
            </a>
          </li>
          {% endif %}
          {% if conference.discordUrl %}
          <li class="socials__item">
            <a aria-label="discord" href="{{ conference.discordUrl }}" class="socials__link" target="_blank">

              {{mixins.icon('dis')}}
            </a>
          </li>
          {% endif %}
          {% if conference.gnPortal %}
          <li class="socials__item">
            <a aria-label="gitnation portal" href="{{ conference.gnPortal }}" class="socials__link" target="_blank">

              {{mixins.icon('portal')}}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      {% if pages[pageKey].pageSections.headerBtnAltText or pagesPieceOfTexts.header__btnText %}
      {{own_mixins.button({
      link: pages[pageKey].pageSections.headerBtnAltLink or pagesPieceOfTexts.header__btnLink,
      text: pages[pageKey].pageSections.headerBtnAltText or pagesPieceOfTexts.header__btnText,
      mod: 'header__btn btn-transparent' + (' menu-btn' if not inner),
      openNewTab: true
      })}}
      {% endif %}
    </div>

    <div class="header__burger {{ 'hidden-iphone' if pages[pageKey] == pages.checkout or pages[pageKey] == pages.schedule }}">
      <div class="burger js-burger">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header><!-- .header -->
