		<section class="section intro {{'height-auto' if inner }}" id="intro">

			<!-- <div class="clock">
				<div class="timer" id="countdown">00:00:00:00</div>
			</div> -->

			<div class="container">

				<div class="intro__content">
					<div class="logo ir {{'short' if pages[pageKey].titlePage }}">
						<a href="/" class="logo__link">React Advanced London</a>
					</div>

					<div class="remote-sign">+ Remote</div>

					{% if pieceOfTexts.hero__octotext and not inner %}
					<div class="intro__octo">
						<div class="intro__octo-text">{{ mixins.text(pieceOfTexts, 'hero__octotext') }}</div>
					</div>
					{% endif %}

					{% if pages[pageKey].titlePage %}
					<p class="logo-desc">{{ pages[pageKey].titlePage | safe }}</p>
					{% endif %}

					{% if pages[pageKey].pageStatistics.eventStats %}
					<div class="stats">
						{% for stat in pages[pageKey].pageStatistics.eventStats %}
						<div class="stats__item">
							<p class="stats__num"><span>{{stat.statNumber}}</span>{{stat.statDescr}}</p>
							<p class="stats__desc">{{stat.statName | safe}}</p>
						</div>
						{% endfor %}
					</div>
					{% endif %}

					{% if pages[pageKey].pageSections.heroDevs %}
					<a class="intro__important-guys" href="https://focusreactive.com/" target="_blank"></a>
					{% endif %}

					{% if not inner %}
					<div class="big-day">
						<div class="big-day__wrap">
							<div class="big-day__mon">{{ mixins.text(pieceOfTexts, 'hero__month') }}</div>
							<div class="big-day__date">{{ mixins.text(pieceOfTexts, 'hero__date') }}</div>
						</div>
					</div>

					<div class="intro__buttons">
						{% if pagesPieceOfTexts.hero__ctaText %}
							{{own_mixins.button({
								link: '#prices' if pages[pageKey].pageSections.prices else pagesPieceOfTexts.hero__ctaLink,
								text: pagesPieceOfTexts.hero__ctaText,
								openNewTab: true
							})}}
						{% endif %}

						{% if pagesPieceOfTexts.hero__recordingsText %}
							{{own_mixins.button({
								link: pagesPieceOfTexts.hero__recordingsLink,
								text: pagesPieceOfTexts.hero__recordingsText,
								mod: 'btn-transparent',
								openNewTab: true
							})}}
						{% endif %}
					</div>
					{% endif %}
				</div>

			</div>
		</section>
