		<section class="section intro {{'height-auto' if inner }}" id="hero">

			<!-- <div class="clock">
				<div class="timer" id="countdown">00:00:00:00</div>
			</div> -->

			<div class="container {{ 'single-btn' if not pagesPieceOfTexts.hero__ctaText or not pagesPieceOfTexts.hero__recordingsText }}">

				<div class="intro__content">
					<div class="logo ir {{'short' if pages[pageKey].titlePage }} {{ 'alt' if inPerson }}">
						<a tabindex="-1" href="/" class="logo__link">React Advanced London</a>
					</div>

					<div class="remote-sign">+ <span>R</span>emote</div>

					{% if pieceOfTexts.hero__octotext and not inner %}
					<div class="intro__octo">
						<div class="intro__octo-text">{{ mixins.text(pieceOfTexts, 'hero__octotext') }}</div>
					</div>
					{% endif %}

					{% if pages[pageKey].titlePage %}
					<p class="logo-desc">{{ pages[pageKey].titlePage | safe }}</p>
					{% endif %}

					{% if pages[pageKey].pageStatistics.eventStats %}
					<div class="stats">
						{% for stat in (pages[pageKey].pageStatistics.eventStatsAlt if inPerson else pages[pageKey].pageStatistics.eventStats) %}
						<div class="stats__item">
							<p class="stats__num"><span>{{stat.statNumber}}</span>{{stat.statDescr}}</p>
							<p class="stats__desc">{{stat.statName | safe}}</p>
						</div>
						{% endfor %}
					</div>
					{% endif %}

					{% if pages[pageKey].pageSections.heroDevs %}
					<a aria-label="focus reactive" class="intro__important-guys" href="https://focusreactive.com/" target="_blank"></a>
					{% endif %}

					{% if not inner %}
					<div class="big-day">
						<div class="big-day__wrap">
							<div class="big-day__mon">{{ mixins.text(pieceOfTexts, 'hero__month') }}</div>
							<div class="big-day__date">{{ mixins.text(pieceOfTexts, 'hero__date') }}</div>
						</div>
					</div>

          {% if not hideHeroCtas %}
					<div class="intro__buttons">
            <!-- First button -->

            <a class="basic-btn js-btn-default" href="{{ pages[pageKey].pageStatistics.heroButtons.buttonsDefault.heroMainCTA.link }}">
              <div class="basic-btn__inner">
                <div class="basic-btn__arr-l">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
                {{ pages[pageKey].pageStatistics.heroButtons.buttonsDefault.heroMainCTA.text }}
                <div class="basic-btn__arr-r">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
              </div>
            </a>

            <a class="basic-btn js-btn-1 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtons.buttonsAfterConf.heroMainCTA.link }}" onclick={{ eventsLayer.openDialog({name: 'watch-livestream' , values: 'text:' + pages.main.pageStatistics.heroWatchPaid.text + ';' , category: 'hero-btn-click' , isAuth: not fakeLinks }) }}>
              <div class="basic-btn__inner">
                <div class="basic-btn__arr-l">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
                {{ pages[pageKey].pageStatistics.heroButtons.buttonsAfterConf.heroMainCTA.text }}
                <div class="basic-btn__arr-r">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
              </div>
            </a>

            <a class="basic-btn js-btn-2 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtons.buttonsDuringConf.heroMainCTA.link }}" onclick={{ eventsLayer.openDialog({name: 'watch-livestream' , values: 'text:' + pages.main.pageStatistics.heroWatchPaid.text + ';' , category: 'hero-btn-click' , isAuth: not fakeLinks }) }}>
              <div class="basic-btn__inner">
                <div class="basic-btn__arr-l">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
                {{ pages[pageKey].pageStatistics.heroButtons.buttonsDuringConf.heroMainCTA.text }}
                <div class="basic-btn__arr-r">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
              </div>
            </a>

            <a class="basic-btn js-btn-3 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtons.buttonsWeekAfterConf.heroMainCTA.link }}">
              <div class="basic-btn__inner">
                <div class="basic-btn__arr-l">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
                {{ pages[pageKey].pageStatistics.heroButtons.buttonsWeekAfterConf.heroMainCTA.text }}
                <div class="basic-btn__arr-r">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
              </div>
            </a>

            <a class="basic-btn js-btn-4 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtons.buttonsAfterConf.heroMainCTA.link }}">
              <div class="basic-btn__inner">
                <div class="basic-btn__arr-l">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
                {{ pages[pageKey].pageStatistics.heroButtons.buttonsAfterConf.heroMainCTA.text }}
                <div class="basic-btn__arr-r">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
              </div>
            </a>
            <!-- Second button -->

						<a class="basic-btn btn-transparent js-btn-default" href="{{ pages[pageKey].pageStatistics.heroButtons.buttonsDefault.heroSecondaryCTA.link }}">
							<div class="basic-btn__inner">
								<div class="basic-btn__arr-l">
									<svg class="basic-btn__arrow" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
									</svg>
								</div>
                {{ pages[pageKey].pageStatistics.heroButtons.buttonsDefault.heroSecondaryCTA.text }}
								<div class="basic-btn__arr-r">
									<svg class="basic-btn__arrow" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
									</svg>
								</div>
							</div>
						</a>

            <a class="basic-btn btn-transparent js-btn-1 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtons.buttonsDaysbefore.heroSecondaryCTA.link }}">
              <div class="basic-btn__inner">
                <div class="basic-btn__arr-l">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
                {{ pages[pageKey].pageStatistics.heroButtons.buttonsDaysbefore.heroSecondaryCTA.text }}
                <div class="basic-btn__arr-r">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
              </div>
            </a>

            <a class="basic-btn btn-transparent js-btn-2 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtons.buttonsDuringConf.heroSecondaryCTA.link }}">
              <div class="basic-btn__inner">
                <div class="basic-btn__arr-l">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
                {{ pages[pageKey].pageStatistics.heroButtons.buttonsDuringConf.heroSecondaryCTA.text }}
                <div class="basic-btn__arr-r">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
              </div>
            </a>

            <a class="basic-btn btn-transparent js-btn-3 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtons.buttonsWeekAfterConf.heroSecondaryCTA.link }}">
              <div class="basic-btn__inner">
                <div class="basic-btn__arr-l">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
                {{ pages[pageKey].pageStatistics.heroButtons.buttonsWeekAfterConf.heroSecondaryCTA.text }}
                <div class="basic-btn__arr-r">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
              </div>
            </a>

            <a class="basic-btn btn-transparent js-btn-4 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtons.buttonsAfterConf.heroSecondaryCTA.link }}">
              <div class="basic-btn__inner">
                <div class="basic-btn__arr-l">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
                {{ pages[pageKey].pageStatistics.heroButtons.buttonsAfterConf.heroSecondaryCTA.text }}
                <div class="basic-btn__arr-r">
                  <svg class="basic-btn__arrow" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
                  </svg>
                </div>
              </div>
            </a>

					</div>
					{% endif %}
				</div>
        {% endif %}

			</div>
		</section>
