		<section class="section mcs" id="mcs">

			<div class="mcs__decor-fish"></div>
			<div class="mcs__decor-sub"></div>

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">{{ pagesPieceOfTexts.mcs__title | safe }}</h3>
					</div>
				</div>

				<div class="team-mc">
					{% for mc in mcs %}
						{{own_mixins.mcs({
							avatar: mc.avatar,
							name: mc.name,
							company: mc.company,
							bio: mc.bio,
							tag: mc.tag,
							socials: mc.socials
						})}}
					{% endfor %}
				</div>
			</div>
		</section>
