		<section class="section mcs" id="mcs">
			{# <div class="mcs__decor-fish"></div>
			<div class="mcs__decor-sub"></div> #}
      <div class="mcs__decor-mic"></div>

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">{{ pagesPieceOfTexts.mcs__title | safe }}</h3>
					</div>
				</div>

				<div class="team mcs">
					{% for speaker in mcs %}
						{{own_mixins.speaker({
							img: speaker.avatar,
              avatarHandle: speaker.avatarHandle,
							name: speaker.name,
							company: speaker.company,
							info: speaker.bio,
							tag: speaker.label,
							socials: speaker.socials
						})}}
					{% endfor %}
				</div>
			</div>
		</section>
