{% macro workshop(conf) %}
<li class="schedule-list__item single">
  <div class="schedule-list__line">
    <div class="schedule-list__sep"></div>
    <div class="schedule-list__time">{% if pages[pageKey].pageSections.hideTime %}<span>{{conf.time}}</span>{% endif %}</div>
    <div class="schedule-list__desc">
      <div class="schedule-list__title"><span>{{conf.title}}</span></div>
      <div class="schedule-list__speaker">
        {% if conf.trainers.length %}
        {% for trainer in conf.trainers %}
        <a href="#{{trainer.slug}}">{{trainer.name}}</a>{{ ',' if not loop.last }}
        {% endfor %}
        {% else %}
        <a href="#{{conf.name | trim | lower | replace(' ', '-')}}">{{conf.name}}</a>
        {% endif %}
      </div>
      {{conf.desc | safe}}
    </div>
  </div>

  {% if conf.content[0] %}
  <div class="schedule-list__line">
    <div class="schedule-list__left">
      <p class="schedule-list__l-title">Table of contents</p>
    </div>

    <div class="schedule-list__right">
      <ul class="dashed-list">
        {% for item in conf.content %}
        <li class="dashed-list__item">{{item | safe }}</li>
        {% endfor %}
      </ul>

      {{ conf.additionalInfo | safe }}
    </div>
  </div>
  {% endif %}

  {% if conf.prerequisites %}
  <div class="schedule-list__line">
    <div class="schedule-list__left">
      <p class="schedule-list__l-title">Prerequisites</p>
    </div>

    <div class="schedule-list__right">{{conf.prerequisites | safe }}</div>
  </div>
  {% endif %}

  {% if conf.level %}
  <div class="schedule-list__line">
    <div class="schedule-list__left">
      <p class="schedule-list__l-title">Workshop level</p>
    </div>

    <div class="schedule-list__right">{{conf.level}}</div>
  </div>
  {% endif %}

  {% if conf.location %}
  <div class="schedule-list__line">
    <div class="schedule-list__left">
      <p class="schedule-list__l-title">Workshop schedule & location</p>
    </div>

    <div class="schedule-list__right">{{conf.location | safe }}</div>
  </div>
  {% endif %}

  {% if pages[pageKey].pageSections.hideTime %}
  <div class="schedule-list__line">
    <div class="schedule-list__time">{{conf.endtime}}</div>
  </div>
  {% endif %}
</li>
{% endmacro %}

{% macro imageUrl(handle, transform, mimeType, url) %}
{% if handle == null %}
{{url}}
{% elif mimeType == 'image/svg+xml' %}
https://media.graphassets.com/{{handle}}
{% else %}
https://media.graphassets.com/{{ (transform + "/") if transform }}{{handle}}
{% endif %}
{% endmacro %}

{% macro imageCloudinaryUrl(handle, transform, url) %}
{% if handle == null %}
{{url}}
{% else %}
https://cdn.cloudinary.com/stichting-frontend-amsterdam/image/upload/{{ (transform + "/") if transform }}{{handle}}
{% endif %}
{% endmacro %}

{% macro card(conf) %}
<div class="card__inner">
  <div class="card__img">
    <img src="{{conf.img}}" alt="" />
  </div>
  <div class="card__content">
    <div class="card__title">{{conf.title}}</div>
    <div class="card__desc">{{conf.descr | safe}}</div>
    <a class="card__link basic-btn btn-green" href="{{conf.link}}">
      <div class="basic-btn__inner">
        <div class="basic-btn__arr-l">
          <svg class="basic-btn__arrow" role="img" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
          </svg>
        </div>
        Learn more
        <div class="basic-btn__arr-r">
          <svg class="basic-btn__arrow" role="img" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
          </svg>
        </div>
      </div>
    </a>
  </div>
</div>
{% endmacro %}

{% macro feature(item) %}
<div class="feature-item">
  {% if item.images %}
  <div class="feature-item__images">
    {% for image in item.images %}
    <img src="{{image.src}}" alt="{{image.alt}}" />
    {% endfor %}
  </div>
  {% endif %}
  <div class="feature-item__content {{ 'full-width' if not item.images }}">
    <div class="feature-item__title">{{item.title | safe }}</div>
    <div class="feature-item__descr">{{item.descr | safe}}</div>
  </div>
</div>
{% endmacro %}



{% macro slider(conf) %}
<div class="fade-slider ">
  <div class="swiper-wrapper">
    {% for item in conf.source %}
    <div class="loc-slider__item swiper-slide">
      <img src="{{item.img}}" alt="{{item.caption}}">
      <div class="captions">

        <div class="caption">{{item.caption}}</div>

      </div>
    </div>
    {% endfor %}
  </div>
  <div class="loc-slider__pagination">

    <button aria-label="Previous slide" type="button" class="fade-slider-prev">
      <svg class="icon icon-arrow-l" role="img" aria-hidden="true">
        <use xlink:href="img/sprite.svg?v2#icon-arrow-l"></use>
      </svg>
    </button>
    <button aria-label="Next slide" type="button" class="fade-slider-next">
      <svg class="icon icon-arrow-r" role="img" aria-hidden="true">
        <use xlink:href="img/sprite.svg?v2#icon-arrow-r"></use>
      </svg>
    </button>


  </div>
</div>


{% endmacro %}

{% macro faq(conf) %}
<div class="faq marged">
  {% for faq in conf.faqs %}
  <h2>{{faq.sectionTitle}}</h2>

  <ul class="faq__list">
    {% for item in faq.items %}
    <li class="faq__item js-accordion-item">
      <button class="faq__question js-accordion-toggler">{{item.question | safe}}</button>
      <div class="faq__answer js-accordion-spoiler">{{item.answer | safe}}</div>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endmacro %}

{% macro stat(conf) %}
<div class="stats__item">
  <p class="stats__num"><span>{{conf.num}}</span></p>
  <p class="stats__desc">{{conf.desc}}</p>
</div>
{% endmacro %}

{% macro schedule(activity, talk, name, isAuth, eventsLayer, timeZone) %}
<li class="schedule-list__item {{ 'clickable' if talk.description or talk.lightningTalks }} {{ 'green' if talk.eventType == 'QA' or talk.eventType == 'OrgEvent' }} {{ 'disconnected' if talk.disconnected }}">
  <div class="schedule-list__line">
    <div class="schedule-list__time s-item__time" {{ 'data-time-zone=' + timeZone if timeZone }}>
      <span>{{talk.time | safe}}</span>
    </div>

    <div class="schedule-list__desc">
      <div class="schedule-list__title"><span>{{talk.title}}</span></div>
      {% if talk.speaker %}
      <div class="schedule-list__speaker">{{talk.speaker}}</div>
      {% elif talk.speakers %}
      <div class="schedule-list__speaker">
        {% for speaker in talk.speakers %}
        {{speaker.name}}{{ ',' if not loop.last }}
        {% endfor %}
      </div>
      {% endif %}

      {% if talk.description %}
      <div class="schedule-list__info">{{talk.description | safe}}</div>
      {% endif %}

      {% if talk.lightningTalks %}
      <div class="schedule-list__info">
        {% for item in talk.lightningTalks %}
        <div class="schedule-list__l-title">{{ item.title }} - {{ item.name }}</div>
        <div class="schedule-list__p">{{ item.text | safe }}</div>
        {% endfor %}
      </div>
      {% endif %}

      {% if talk.title %}
      <a class="schedule-list__btn basic-btn btn-transparent" target="{{'_blank' if talk.openNewTab }}" onclick={{ eventsLayer.openDialog({name: 'talk-calendar' , isAuth: true, data: talk | dump, values: 'talk:' + talk.title + ';' , category: 'add-to-calendar-schedule-click' , isAuth: not fakeLinks })}}>
        <div class="basic-btn__inner">
          <div class="basic-btn__arr-l">
            <svg class="basic-btn__arrow" role="img" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
            </svg>
          </div>
          Add to calendar
          <div class="basic-btn__arr-r">
            <svg class="basic-btn__arrow" role="img" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
            </svg>
          </div>
        </div>
      </a>
      {% endif %}
    </div>
  </div>
</li>
{% endmacro %}

{% macro mcs(conf) %}
<div class="team-mc__item">
  <div class="team-mc__img-wrap">
    <img src="{{conf.avatar}}" alt="{{conf.name}}">
  </div>

  <div class="team-mc__content">
    <div class="team-mc__head">
      <p class="team-mc__name">{{conf.name}}</p>
      <p class="team-mc__company">{{conf.company}}</p>
    </div>

    <div class="team-mc__desc">
      <div class="team-mc__info">{{conf.bio | safe}}</div>
    </div>

    {% if conf.tag or conf.socials %}
    <div class="team-mc__bottom">
      {% if conf.tag %}
      <p class="team-mc__tag">{{conf.tag}}</p>
      {% endif %}

      {% if conf.socials %}
      <ul class="socials">
        {% for item in conf.socials %}
        <li class="socials__item">
          <a href="{{item.link}}" target="_blank" class="socials__link">
            <svg class="socials__img {{item.icon}}" role="img" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-socials_{{item.icon}}"></use>
            </svg>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro sponsors(conf) %}
<div class="sponsors-list__title">{{conf.title}}</div>

<div class="sponsors-list__list {{conf.mod}}">
  {% for item in conf.list %}
  <a class="sponsors-list__item" href="{{item.link}}" target="_blank">
    <img src="{{item.img}}">
  </a>
  {% endfor %}
</div>

{% if not loop.last %}
<div class="sponsors-list__sep"></div>
{% endif %}

{% endmacro %}

{% macro button(conf) %}
<a class="basic-btn {{conf.mod}}" target="{{'_blank' if conf.openNewTab }}" href="{{ conf.link }}">
  <div class="basic-btn__inner">
    <div class="basic-btn__arr-l">
      <svg class="basic-btn__arrow" role="img" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
      </svg>
    </div>
    {{ conf.text }}
    <div class="basic-btn__arr-r">
      <svg class="basic-btn__arrow" role="img" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
      </svg>
    </div>
  </div>
</a>
{% endmacro %}

{% macro dummy(conf) %}
<div>asd</div>
{% endmacro %}
