<section class="section s-prices bg-black" id="prices">
	<div class="container">
		<div class="section__head">
			<div class="section__head-l">
				<h3 class="section__title">{{ pagesPieceOfTexts.prices__title | safe }}</h3>
			</div>
		</div>

		<div class="prices">
			<div class="prices__list">
					{% for price in extendeds.prices %}
					<div class="prices__item">
						<h4 class="prices__title">{{ price.title | safe }}</h4>
						<div class="prices__price">{{ price.subtitle | safe }}</div>
						{% if price.description %}
						<div class="prices__price-tip">{{ price.description | safe }}</div>
						{% endif %}
						<div class="prices__desc">{{ price.location | safe }}</div>

						{% if price.locationLink %}
						<a class="prices__btn basic-btn btn-white" target="_blank" href="{{ testTicketLink or price.registerLink }}" onclick={{ ga_mixins.sendGAEvent({ values: price.title | striptags + ';' ,
							category: 'ticket-compare-cta' , isAuth: not fakeLinks }) }}>
							<div class="basic-btn__inner">
								<div class="basic-btn__arr-l">
									<svg class="basic-btn__arrow" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
									</svg>
								</div>
								{{ price.locationLink }}
								<div class="basic-btn__arr-r">
									<svg class="basic-btn__arrow" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
									</svg>
								</div>
							</div>
						</a>
						{% endif %}
					</div>
					{% endfor %}
			</div>
			{% if pieceOfTexts.prices__tip %}
			<div class="prices__bottom">{{ mixins.text(pieceOfTexts, 'prices__tip') }}</div>
			{% endif %}
		</div>
	</div>
</section>