<section class="section schedule" id="schedule">
	<div class="container">

		<div class="section__head">
			<div class="section__head-l">
				{% if scheduleThirdDate %}
				<h3 class="section__title with-dots">{{ pagesPieceOfTexts.schedule__thirdTitle | safe }}</h3>
				{% elif scheduleSecondDate %}
				<h3 class="section__title with-dots">{{ pagesPieceOfTexts.schedule__secondTitle | safe }}</h3>
				{% else %}
				<h3 class="section__title with-dots">{{ pagesPieceOfTexts.schedule__title | safe }}</h3>
				{% endif %}
			</div>
		</div>

		<div class="schedule__container js-tabs-container">
			{% if(pieceOfTexts.schedule__tip) %}
				<div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tip') }}</div>
			{% endif %}

			<div class="content-tab">
				{% for item in (scheduleOffline if inPerson else schedule) %}
					<div class="content-tab__tab js-tab-link {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">{{item.title}}</div>
				{% endfor %}

				<div class="content-tab__octo"></div>
			</div>

			{% for item in (scheduleOffline if inPerson else schedule) %}
				<ul class="schedule-list js-tab {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">
					{% for talk in item.list %}
						{% if filterByDate %}
							{% if filterByDate === talk.dayISO %}
								{{own_mixins.schedule({
									time: talk.time,
									title: talk.title,
									speaker: talk.speaker,
									desc: talk.description,
									lightningTalks: talk.lightningTalks,
									disconnected: talk.disconnected
								})}}
							{% endif %}
						{% else %}
							{{own_mixins.schedule({
								time: talk.time,
								title: talk.title,
								speaker: talk.speaker,
								desc: talk.desc,
								lightningTalks: talk.lightningTalks,
								disconnected: talk.disconnected
							})}}
						{% endif %}
					{% endfor %}
				</ul>
			{% endfor %}
		</div>

	</div>
</section>