		<section class="section speakers" id="speakers">
			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">{{ pagesPieceOfTexts.speakers__title | safe }}</h3>
					</div>

					<div class="section__head-r">
						<div class="section__desc">{{ pagesPieceOfTexts.speakers__desc | safe }}</div>
					</div>
				</div>

				<div class="team">
					{% for speaker in speakers.main %}
						{{own_mixins.speaker({
							img: speaker.avatar,
							name: speaker.name,
							company: speaker.company,
							info: speaker.bio,
							tag: speaker.label,
							socials: speaker.socials
						})}}
					{% endfor %}

					{% if pagesPieceOfTexts.speakers__submitText %}
					<div class="team__item-wrap fill-width">
						<div class="team__item">
							<a class="basic-btn btn-green" href="{{ pagesPieceOfTexts.speakers__submitLink }}">
								<div class="basic-btn__inner">
									<div class="basic-btn__arr-l">
										<svg class="basic-btn__arrow" role="img" aria-hidden="true">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
										</svg>
									</div>
									{{ pagesPieceOfTexts.speakers__submitText }}
									<div class="basic-btn__arr-r">
										<svg class="basic-btn__arrow" role="img" aria-hidden="true">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
										</svg>
									</div>
								</div>
							</a>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</section>

