		<section class="section sponsors" id="sponsors">

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">{{ pagesPieceOfTexts.sponsors__title | safe }}</h3>
					</div>

					<div class="section__head-r">
						<div class="section__desc">{{ pagesPieceOfTexts.sponsors__desc | safe }}</div>
					</div>
				</div>

				<div class="sponsors-list">
					{% for sponsor in sponsors %}
					{{own_mixins.sponsors({
						title: sponsor.title,
						mod: sponsor.mod,
						list: sponsor.list
					})}}
					{% endfor %}
				</div>
			</div>
		</section>
