		<section class="section workshops" id="workshops"><!-- if top padding required add .padded-top -->
			<div class="container">

				<div class="workshops__decor-bottom"></div>

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">{{ pagesPieceOfTexts.workshops__title | safe }}</h3>

						<p class="section__subtitle">{{ pagesPieceOfTexts.workshops__subtitle }}</p>

						<div class="section__desc">{{ pagesPieceOfTexts.workshops__desc | safe  }}</div>

						{% if pagesPieceOfTexts.workshops__btnText %}
						<a class="workshops__btn basic-btn btn-green" href="{{ pagesPieceOfTexts.workshops__btnLink }}">
							<div class="basic-btn__inner">
								<div class="basic-btn__arr-l">
									<svg class="basic-btn__arrow" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
									</svg>
								</div>
								{{ pagesPieceOfTexts.workshops__btnText }}
								<div class="basic-btn__arr-r">
									<svg class="basic-btn__arrow" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
									</svg>
								</div>
							</div>
						</a>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
