---
pageKey: main
headerBtn: true
sponsorsDescription: true
fakeLinks: true

ogImage: https://vuejs.london/img/ogImage.png
ogUrl: https://vuejs.london
---

{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "parts/_header.html" %}

	<div class="main js-main">
		{% include "parts/_hero.html" %}

		{% if pages[pageKey].pageSections.event %}
			{% include "parts/_event.html" %}
		{% endif %}

		<div class="alt-bg">
			{% if pages[pageKey].pageSections.speakers %}
				{% include "parts/_speakers.html" %}
			{% endif %}
		</div>

		{% if pages[pageKey].pageSections.prices %}
			{% include "parts/_prices.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.fullTicket %}
			{% include "partials/_full-ticket.html" %}
		{% endif %}

		<div class="alt-bg">
			{% if pages[pageKey].pageSections.zoomBars %}
				{% include "partials/_zoom-bars.html" %}
			{% endif %}

			{% if pages[pageKey].pageSections.quake %}
				{% include "partials/_info-block.html" %}
			{% endif %}

			{% if pages[pageKey].pageSections.givingBack %}
				{% include "partials/_back-to-community.html" %}
			{% endif %}

			{% if pages[pageKey].pageSections.prices %}
				{% include "partials/_sponsors.html" %}
			{% endif %}
		</div>
	</div>


	{% include "partials/_footer.html" %}

{% endblock %}

