---
pageKey: schedule
headerBtn: true
sponsorsDescription: true
fakeLinks: true
remoteSwitchLink: schedule-offline
headerMod: live

ogImage: https://vuejslive.com/img/ogImage.png
ogUrl: https://vuejslive.com
canonicalUrl: schedule
---

{% extends "layouts/_layout.html" %}

{% block content %}



<div class="main js-main">
	{% include "partials/_hero-inner.html" %}

	<div class="alt-bg">

		{% include "partials/_scheduleV2.html" %}

	</div>


	{% include "partials/_footer.html" %}
</div>

{% endblock %}