.container
  --container: 40px
  max-width: 1680px
  padding: 0 var(--container)
  margin: 0 auto
  +md
    --container: 20px
  &--l
    max-width: 1374px

.light
  background: $mainBg
  background: url(../img/tile.png) center top, $mainBg
  box-shadow: inset 0 0 100px 50px $mainBg
