\:root
  --button-background: #3f81d2
  --button-background-hover: #1453a2
  --button-color: #fff
  --button-color-hover: #fff

  --price-increase-bg: #20201e
  --price-increase-color: #fff

  --price-section-bg: #000106
  --price-color: #fff
  --price-item-bg: rgba(255,255,255,.05)
  --price-item-border: 1px solid #3d464e
  --price-item-radius: 10px
  --price-item-title-color: #1396dd
  --price-item-title-weight: 700

  --price-slider-btn-size: 54px
  --price-slider-btn-border-color: #2b3137
  --price-slider-btn-radius: 0
  --price-slider-btn-color: #fff
  --price-slider-btn-bg: #2b3137
  --price-slider-btn-bg-hover: #1396dd

  --price-btn-color: #fff
  --price-btn-border: 1px solid #3C3C3C
  --price-btn-border-color-hover: #5C5C5C

  --workshop-item-ff: Montserrat
  --workshop-item-color: #fff
  --workshop-item-bg: rgba(255,255,255,.05)
  --workshop-item-type-bg: #fff
  --workshop-item-border: #2c3135
  --workshop-item-type-radius: 4px

$font-size: 16px

/*----- COLORS -----*/

$mainBg: #000106
$mainBg2: #eaeaec
$black: #000
$white: #fff
$gray: #202421
$text: #3e3e3e
$themeColor: #1396dd
$themeColorD: #076ecf
$themeColor2: #ff00d2
$accent: #b1ec00

// end COLORS
