.btn
	display: inline-flex
	align-items: center
	gap: 8px
	justify-content: center
	cursor: pointer
	text-align: center
	text-transform: uppercase
	font-size: 16px
	font-family: var(--ff)
	font-weight: 400
	line-height: 1.2
	text-decoration: none
	transition: color 0.4s ease-in-out, background 0.4s ease-in-out, border-color 0.4s ease-in-out
	position: relative
	z-index: 1
	border: 1px solid $white-opacity
	background: rgba(255, 255, 255, 0.01)
	backdrop-filter: blur(12px)
	height: auto
	min-height: 57px
	padding: 5px 24px
	color: $white

	&::before
		content: ""
		background: var(--accentColor)
		width: 4px
		top: -1px
		left: -1px
		bottom: -1px
		position: absolute
		transition: .4s width ease
		transform-origin: left
		z-index: -1
	&::after
		content: ""
		width: 0
		height: 0
		border: 0 solid transparent
		border-top: 8px solid transparent
		border-left: 10px solid var(--accentColor)
		border-bottom: 8px solid transparent
		transition: .4s border-color ease
		transition-delay: 0.1s
		flex: none
		margin-left: auto
		margin-top: -1px
	&:hover
		color: $black
		&::after
			border-left-color: $black
		&::before
			width: calc(100% + 2px)
	&--border
		align-items: center
	&--warning
		background: var(--accentColor)
		color: #000

		&:hover, &:focus-visible
			color: #000
			background: #fff !important

		&::before, &::after
			display: none

	&--grey
		background: rgba(255, 255, 255, 0.10)
	&--huge
		width: 100%
		padding: 0 6vw
		font-weight: 400
		line-height: 0.9
		font-size: 56px
		height: 140px
		margin: 64px auto
		+sm
			margin: 24px auto
			font-size: clamp(16px, 4.5vw, 40px)
			height: clamp(80px, 4.5vw, 140px)
			border-width: 1px
		.icon
			display: none
	&--block
		display: flex
		width: 100%
	&--lg
		height: 68px
		font-size: 24px
		font-weight: 600
		text-transform: uppercase

.is-hidden
	display: none
