.btn
	display: inline-flex
	align-items: center
	justify-content: flex-start
	cursor: pointer
	text-transform: uppercase
	font-size: 16px
	font-family: var(--ff)
	font-weight: 400
	line-height: 1.2
	text-decoration: none
	transition: all 0.4s ease-in-out
	position: relative
	z-index: 1
	border: 1px solid $white-opacity
	background: rgba(255, 255, 255, 0.01)
	backdrop-filter: blur(12px)
	height: auto
	min-height: 57px
	width: 100%
	padding: 5px 24px
	color: $white
	z-index: 1
	justify-content: space-between
	&::before
		content: ""
		background: var(--accentColor)
		width: 4px
		inset: -1px
		left: -1px
		position: absolute
		transition: .4s width ease
		transform-origin: left
		z-index: -1
	&::after
		content: ""
		background: url("../img/arrow.svg") no-repeat
		background-size: cover
		width: 24px
		height: 24px
		animation: none
		transition: .4s background ease
	&:hover
		color: $black
		&::after
			background-image: url("../img/arrow_hover.svg")	
		&::before
			width: calc(100% + 2px)
	&--border
		align-items: center
	&--warning
		border-color: var(--accentColor)
		background: var(--accentColor)
		color: #000
		&:hover, &:focus-visible
			background: #fff
			border-color: #fff
			color: $black
	&--grey
		background: rgba(255, 255, 255, 0.10)
	&--huge
		width: 100%
		padding: 0 6vw
		font-weight: 400
		line-height: 0.9
		font-size: 56px
		height: 140px
		margin: 64px auto
		+sm
			margin: 24px auto
			font-size: clamp(16px, 4.5vw, 40px)
			height: clamp(80px, 4.5vw, 140px)
			border-width: 1px
		.icon
			display: none
	&--block
		display: flex
		width: 100%
	&--lg
		height: 68px
		font-size: 24px
		font-weight: 600
		text-transform: uppercase

.is-hidden
	display: none
