.sec-event
	--containerW: 1360px
	padding: 120px 0 60px
	margin-top: 0
	background: url("../img/event.jpg") no-repeat
	background-size: cover
	background-position: center

	+sm
		padding: 60px 0 24px
		background: none
		margin-top: 0

	&::before
		content: ""
		width: calc((100% - var(--containerW)) / 2)
		height: 100%
		background: rgba(255, 255, 255, 0.03)
		position: absolute
		right: 0
		top: 0
		transform: translate(0)
		left: auto
		@media (max-width: 1400px)
			width: 20px
		+tablet
			display: none
	&__title
		color: var(--accentColor)
		font-size: 64px
		line-height: 1
		letter-spacing: -1.28px
		text-transform: uppercase
		text-align: center

		+tablet
			font-size: 52px
		+md
			font-size: clamp(40px, 4.946vw, 52px)
		+sm
			font-size: 32px
		+xs
			text-align: left

	&__top
		max-width: 1118px
		margin-left: auto
		margin-right: auto
		display: flex
		flex-direction: column
		justify-content: center
		gap: 40px
		position: relative
		+xxl
			max-width: 960px
		+tablet
			gap: 48px
		+sm
			gap: 40px
		+xs
			gap: 32px

		&-img
			position: absolute
			top: -5%
			left: 50%
			transform: translateX(-50%)
			max-width: 100%
			max-height: calc(100% * 1.24)
			+sm
				display: none

	&__text
		color: $white
		line-height: 1.4
		letter-spacing: -0.32px
		position: relative
		z-index: 1
		max-width: 750px
		text-align: center
		margin: 0 auto
		& p
			&::before
				content: "/"
				color: var(--accentColor)
				margin-right: 10px
		+xs
			text-align: left
			margin: 0

	&__topics
		margin-top: 84px
		position: relative
		+sm
			margin-top: 35px
		h2
			text-align: center
			color: var(--colorWhite)
			font-size: 52px
			text-transform: capitalize
			font-weight: 500
			font-family: var(--ff-msw)
			margin-bottom: 40px
			+xxl
				font-size: 40px
			+md
				font-size: 28px
				margin-bottom: 28px
