.footer
	margin: 65px 0 0
	position: relative
	z-index: 2
	border-top: 1px solid $white-opacity
	border-bottom: 1px solid $white-opacity
	&::before
		content: ""
		position: absolute
		top: 50%
		transform: translate(0, -50%)
		left: 22%
		background: url("../img/footer_bg.png") no-repeat
		background-size: cover
		width: 1166px
		height: 504px
		max-width: 100%
		+sm
			display: none
	& .container
		position: relative
		&::before,
		&::after
			content: ""
			position: absolute
			top: -7px
			left: 50%
			transform: translate(-50%, 0)
			width: calc(100% - 28px)
			max-width: 1372px
			height: 13px
			background: url(../img/plus.svg) top left, url(../img/plus.svg) right top
			background-repeat: no-repeat
		&::after
			top: auto
			bottom: -7px
	&-blocks
		display: flex
		min-height: 553px
		+sm
			flex-direction: column
	&-block
		width: 50%
		box-sizing: border-box
		padding: 24px
		display: flex
		flex-direction: column
		align-items: flex-start
		position: relative
		+sm
			width: 100%
			padding: 0
		&--right
			+sm
				padding-top: 18px
		&:first-child
			border-right: 1px solid $white-opacity
			padding-left: 0
			+sm
				border-right: none
				flex-direction: row
				&::after
					content: ""
					position: absolute
					bottom: -6px
					left: 50%
					transform: translate(-50%, 0)
					width: calc(100% + 44px)
					height: 13px
					background: url(../img/plus.svg) top left, url(../img/plus.svg) right top
					background-repeat: no-repeat
				&::before
					content: ""
					position: absolute
					bottom: 0
					left: 50%
					transform: translate(-50%, 0)
					width: 100vw
					height: 1px
					background: $white-opacity
		&__bot
			display: flex
			justify-content: space-between
			width: 100%
			gap: 40px
			margin-top: auto
			align-items: flex-end
			flex-wrap: wrap
			+sm
				padding-bottom: 40px
				flex-direction: column
				align-items: flex-start
		&__subscribe
			width: 100%
			margin-bottom: 40px
		.section__title
			margin-bottom: 0
			width: 50%
			padding-top: 16px

	&__socials
		margin-top: 25px
		flex: 1
		+sm
			width: 50%
			flex: none
			margin-top: 0
			padding: 16px 18px 20px
			min-height: 128px
			border-left: 1px solid $white-opacity
			box-sizing: border-box

		.social
			justify-content: flex-end
			gap: 2px
			display: flex
			flex-direction: column
			+sm
				align-items: flex-start
				gap: 3px
			&__link
				text-decoration: none
				color: $white
				font-size: 12px
				font-weight: 400
				line-height: 1.4
				text-transform: uppercase
				.icon
					display: none

	&__tip
		max-width: 242px
		line-height: 1.4
		font-size: 12px

		p:not(:last-child)
			margin-bottom: 15px
		a
			color: $white
	&__logo
		+sm
			display: none
		&--mob
			display: none
			+sm
				display: block
.f-nav
	display: flex
	flex-direction: column
	gap: 2px
	&__item
		line-height: 1.15
		+sm
			line-height: 1.1

	&__link
		color: $white
		font-size: 12px
		text-decoration: none
		text-transform: capitalize
		&:hover
			text-decoration: underline

.f-form
	&__title
		color: var(--accentColor)
		font-size: 40px
		font-weight: 400
		line-height: 1
		text-transform: uppercase
		margin-bottom: 40px
		max-width: 400px
		+sm
			font-size: 32px
		+xxxs
			font-size: 26px
	&__wrap
		display: flex
		gap: 16px
		flex-direction: column
	&__btn
		flex: none
		width: 100%
		font-size: 14px
		background: rgba(255, 255, 255, 0.10)
		backdrop-filter: blur(12px)
		&:hover
			background: none
		+sm
			width: 100%
	&__field
		flex: 1
		min-width: 1px
	&__input
		color: $white
		height: 100%
		min-height: 40px
		padding: 0 0 12px
		min-height: auto
		border-bottom: 1px solid $white-opacity
		line-height: 1
		&::placeholder
			color: $white
	

.f-logo
	img
		display: block
	&__label
		display: none
