.footer
	margin: 65px 0 0
	position: relative
	z-index: 2
	border-top: 1px solid $white-opacity
	border-bottom: 1px solid $white-opacity
	& .container
		padding: 0 20px
		position: relative
		&::before,
		&::after
			+plus-icon()
			left: 14px
			top: -7px
		&::before
			left: auto
			right: 14px
	&-blocks
		display: flex
	&-block
		width: 50%
		box-sizing: border-box
		padding: 24px
		display: flex
		flex-direction: column
		align-items: flex-start
		position: relative
		&::after
			+plus-icon()
			right: -6px
			bottom: -7px
		&:first-child
			border-right: 1px solid $white-opacity
			&::after
				left: -6px
				right: auto
		&__bot
			display: flex
			justify-content: space-between
			width: 100%
			gap: 40px
			margin-top: 210px
			align-items: flex-end
			flex-wrap: wrap

	&__socials
		margin-top: 25px
		flex: 1

		.social
			justify-content: flex-end
			gap: 7px
			&__item
				line-height: 1.15
				+sm
					line-height: 1.1

			&__link
				display: flex
				justify-content: center
				align-items: center
				color: var(--colorBlack)
				width: 34px
				height: 34px
				border-radius: 50%
				border: 1px solid var(--colorBlack)
				text-decoration: none
				.icon
					font-size: 18px
				span
					display: none
				&:hover
					text-decoration: underline
					background: var(--colorBlack)
					.icon
						color: var(--accentColor)
				+md
					font-size: 12px

	&__tip
		max-width: 242px
		line-height: 1.4
		font-size: 12px

		p:not(:last-child)
			margin-bottom: 15px
		a
			color: $white
	&__logo

		&--mob
			display: none
.f-nav
	display: flex
	flex-direction: column
	gap: 2px
	&__item
		line-height: 1.15
		+sm
			line-height: 1.1

	&__link
		color: $white
		font-size: 12px
		text-decoration: none
		text-transform: capitalize
		&:hover
			text-decoration: underline

.f-form
	&__title
		color: var(--accentColor)
		font-size: 40px
		font-weight: 400
		line-height: 1
		text-transform: uppercase
		margin-bottom: 40px
		+sm
			margin-bottom: 10px
		+xxxs
			font-size: 20px
	&__wrap
		display: flex
		gap: 17px
		flex-direction: column
		+md
			gap: 17px 15px
	&__btn
		flex: none
		width: 100%
		font-size: 14px
		background: rgba(255, 255, 255, 0.10)
		backdrop-filter: blur(12px)
		&:hover
			background: none
		+sm
			width: 100%
	&__field
		flex: 1
		min-width: 1px
	&__input
		color: $white
		height: 100%
		min-height: 40px
		padding: 0 0 12px
		min-height: auto
		border-bottom: 1px solid $white-opacity
		line-height: 1
		&::placeholder
			color: $white

		+md
			font-size: 14px
	

.f-logo
	img
		display: block
	&__label
		display: none
