.free-ticket-wrap
  color: #fff
  +xxxs
    padding-left: 10px
    padding-right: 10px
  .section__title
    font-size: 56px
    font-weight: 400
    line-height: 1
    letter-spacing: -1.12px
    text-transform: uppercase
    max-width: 550px
    &::before
      display: none

.free-ticket
  &-wrap
    max-width: 1200px
    margin: 0 auto
    +sm
      padding: 16px 0 48px
  &__content
    display: flex
    +sm
      flex-direction: column
  &__img
    width: 50%
    padding: 117px 0 48px 48px
    overflow: hidden
    min-height: 452px
    box-sizing: border-box
    +md
      padding: 50px 0 24px 24px
      min-height: 352px
    +sm
      width: 100%
      padding: 0
      padding-top: 60px
      min-height: auto
  &__text
    display: flex
    flex-direction: column
    gap: 32px
    align-items: flex-start
    width: 50%
    border-right: 1px solid $white-opacity
    padding: 48px 48px 48px 0
    +md
      padding: 24px 24px 24px 0
    +sm
      width: 100%
      padding: 0
      gap: 20px
      border-right: 0
    .btn
      min-height: 80px
      margin-top: 26px
      +sm
        min-height: 56px
        margin-top: 20px
  &__descr
    color: $white
		line-height: 1.4
		letter-spacing: -0.32px
		position: relative
		z-index: 1
		& p
			&::before
				content: "/"
				color: var(--accentColor)
				margin-right: 10px

.badge-img
  position: relative
  z-index: 1
  width: 440px
  margin: 0 auto
  max-width: 100%
  +md
    margin-left: auto
    margin-right: auto
  +xs
    width: 244px
  &:after
    content: ''
    position: absolute
    right: 151px
    bottom: calc(100% - 32px)
    height: 150px
    width: 44px
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) -16.34%, #FFF 99.78%)
    z-index: -1
    transform: skew(-32deg)
    border-radius: 0 0 2px 2px
    +md
      height: 100px
      right: calc(50% - 55px)

    +xs
      width: 24px
      height: 80px
      right: 86px
      bottom: calc(100% - 20px)
      border-radius: 0 0 1px 1px

  &__card
    position: relative
    padding: 24px 26px 50px
    border-radius: 16px
    border: 1px solid #7B7B7B
    background: linear-gradient(109deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.10) 100%), #000
    color: var(--accentColor)
    z-index: 2
    +md
      padding: 24px 18px 50px
    +xs
      padding: 14px 14px 28px

  &__img
    margin: 0 24px 0 0
    width: 94px
    height: 94px
    border-radius: 50%
    background: rgba(0, 0, 0, 0.20)
    box-shadow: -1px -1px 0 0 rgba(255, 255, 255, 0.20) inset
    display: flex
    flex: 0 0 auto
    align-items: center
    justify-content: center

    +xs
      width: 52px
      height: 52px
      margin: 0 14px 0 0

    .icon-face
      width: 46px
      height: 58px
      fill: var(--accentColor)

      +xs
        width: 26px
        height: 34px

  &__desc

    div:first-child
      font-size: 28px
      line-height: 1
      font-weight: 400
      margin: 0 0 2px
      text-transform: uppercase
      +xs
        font-size: 16px

    div:last-child
      font-size: 12px
      margin: 10px 0 0
      line-height: 0.9
      +xs
        font-size: 8px
        margin-top: 6px

  &__barcode
    position: relative
    width: 106px
    height: 20px
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='106.5' height='20' viewBox='0 0 106.5 20'%3E%3Cstyle%3E.st0%7Bfill:%23fff;%7D%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M0,0h20v6.7H0z'/%3E%3Cpath class='st0' d='M0,13.3h6.7V20H0z'/%3E%3Cpath class='st0' d='M6.7,6.7h6.7v6.7H6.7z'/%3E%3Cpath class='st0' d='M13.3,13.3h6.7V20h-6.7z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M27 20V0h3.5v20z'/%3E%3Cpath class='st0' d='M33.9 20V0h1.2v20z'/%3E%3Cpath class='st0' d='M36.2 20V0h2.3v20z'/%3E%3Cpath class='st0' d='M40.8 20V0H42v20z'/%3E%3Cpath class='st0' d='M43.1 20V0h1.2v20z'/%3E%3Cpath class='st0' d='M45.4 20V0h1.2v20z'/%3E%3Cpath class='st0' d='M47.7 20V0h3.5v20z'/%3E%3Cpath class='st0' d='M54.7 20V0h1.2v20z'/%3E%3Cpath class='st0' d='M57 20V0h2.3v20z'/%3E%3Cpath class='st0' d='M61.6 20V0h1.2v20z'/%3E%3Cpath class='st0' d='M63.9 20V0H65v20z'/%3E%3Cpath class='st0' d='M71.9 20V0h1.2v20z'/%3E%3Cpath class='st0' d='M74.2 20V0h3.5v20z'/%3E%3Cpath class='st0' d='M81.2 20V0h1.2v20z'/%3E%3Cpath class='st0' d='M83.5 20V0h2.3v20z'/%3E%3Cpath class='st0' d='M88.1 20V0h1.2v20z'/%3E%3Cpath class='st0' d='M90.4 20V0h1.2v20z'/%3E%3Cpath class='st0' d='M92.7 20V0h1.2v20z'/%3E%3Cpath class='st0' d='M95 20V0h3.5v20z'/%3E%3Cpath class='st0' d='M101.9 20V0h1.2v20z'/%3E%3Cpath class='st0' d='M104.2 20V0h2.3v20z'/%3E%3C/g%3E%3C/svg%3E") center center no-repeat
    background-size: contain
    opacity: 0.5
    +md
      width: 80px
    +xs
      width: 62px
      height: 12px

  &__stripe
    position: absolute
    width: 56px
    height: 14px
    left: 50%
    top: 28px
    transform: translateX(-50%)
    border-radius: 16px
    background: #000
    border: 1px solid #696969
    +xs
      width: 32px
      height: 8px
      top: 16px

    &:before
      content: ''
      position: absolute
      left: -41px
      bottom: calc(100% - 3px)
      height: 150px
      width: 44px
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) -16.34%, #FFF 99.78%)
      transform: skew(32deg)
      border-radius: 0 0 2px 2px
      +md
        height: 100px
        left: -24px
      +xs
        width: 24px
        height: 80px
        left: -22px
        border-radius: 0 0 1px 1px
        bottom: calc(100% - 2px)
        
  &__body
    display: flex
    width: 100%
    align-items: center
    padding: 0 20px
    justify-content: center

  &__head
    font-size: 24px
    line-height: 1
    font-weight: 400
    padding: 0 0 24px
    margin-bottom: 34px
    align-items: center
    display: flex
    justify-content: space-between
    border-bottom: 1px solid $white-opacity
    +xs
      font-size: 13px
      padding-bottom: 14px
      margin-bottom: 18px

    .icon
      width: 10px
      height: 10px
      fill: $white

      +xs
        width: 8px
        height: 8px
