
.header
	z-index: 9
	position: fixed
	padding: 0
	top: 0
	left: 0
	width: 100%
	transition: background 0.2s linear
	border-bottom: 1px solid $white-opacity
	+tablet
		display: flex
		align-items: center
		&::before,
		&::after
			+plus-icon()
			left: 14px
			bottom: -7px
		&::before
			left: auto
			right: 14px
	&.is-sticky
		background: var(--mainBg)
		.header__drop-menu
			top: -16px
	&.hidden-iphone
		+md
			display: block !important

	.container
		display: flex
		align-items: center
		position: relative
	&__logo
		position: absolute
		top: 50%
		left: 40px
		transform: translate(0, -50%)
		width: 159px
		flex: none
		+md
			margin-right: 0
			left: 36px
		img
			display: block
			max-width: 100%
	&__inner
		margin: 0 auto
		width: 100%
		position: relative
		display: flex
		gap: 48px
		height: auto
		max-width: 1400px
		@extend .container
		padding: 0 20px 0 40px
		@media (max-width: 1280px)
			gap: 20px
		&::before,
		&::after
			+plus-icon()
			left: 14px
			bottom: -7px
			+tablet
				display: none
		&::before
			left: auto
			right: 14px

	&__nav
		margin-left: auto
		+md
			display: none

	&__burger
		position: relative
		z-index: 5
		margin-left: 40px
		pointer-events: auto
		transition: top 0.2s linear
		display: none
		+md
			margin-left: auto
			display: block
		&--only-mobile
			+rmin(1200)
				display: none !important
	&__btn
		transition: top 0.2s linear
		order: 1
		+md
			display: none
		.btn
			height: 64px
			font-size: 14px
			width: 180px
			@extend .btn--warning
			border-color: rgba(255, 87, 0, 0.03) !important
			backdrop-filter: blur(5.3px)
			justify-content: center
			&::before,
			&::after
				display: none

	&--hide-logo
		padding: 16px 0 0 0
		.header__logo, .header__btn
			display: none
			
	&__alt-btn
		display: none
	&__socials
		order: 1
		+md
			display: none

.nav
	display: flex
	height: 100%
	gap: 24px

	&__link
		text-decoration: none
		color: #fff
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		line-height: 1.2
		transition: 0.3s
		font-size: 14px
		font-weight: 400
		font-family: var(--ff)
		white-space: nowrap
		text-transform: uppercase
		position: relative
		&::before
			content: "/"
			font-size: 14px
			color: var(--accentColor)
			margin-right: 10px
		&:hover, &:focus-visible
			color: var(--accentColor)

.burger
	width: 54px
	height: 54px
	cursor: pointer
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	gap: 8px
	align-items: center
	transition: background 0.2s linear
	margin-right: 20px
	background: var(--accentColor)
	position: relative
	span
		display: block
		width: 26px
		background: #000
		height: 2px
		transition: transform 0.2s linear, opacity 0.2s linear
		position: absolute
		top: 20px
		left: 50%
		transform: translate(-50%, 0)
		&:nth-child(2)
			top: 50%
			transform: translate(-50%, -50%)
		&:last-child
			bottom: 20px
			top: auto
	&.is-active
		span
			width: 36px
			&:nth-child(2n)
				opacity: 0
				transition: none
			&:first-child
				transform: translate(-50%, -50%) rotate(45deg)
				top: 50%
			&:last-child
				transform: translate(-50%, -50%) rotate(-45deg)
				top: 50%

.logo
	img
		display: block
		max-width: 100%
		height: auto

@keyframes slideEnd
	0%
		transform: translate(-7px, -50%)
	50%
		transform: translate(0, -50%)
	100%
		transform: translate(-7px, -50%)

// .page-main
// 	+rmin(768)
// 		.header:not(.is-sticky)

// 			.burger:not(.is-active) span
// 				background: #fff
// 				&:nth-child(2n)
// 					border-left-color: #fff
// 					border-right-color: #fff
// 					background: transparent
