.info-conf
  padding: 0 !important
  & .container
    padding: 0 21px
  &__logo
    width: 294px
    height: auto
    +sm
      width: 176px
  &__block
    background: url("../img/kromhout_bg.jpg") no-repeat
    background-size: cover
    background-position: center
    display: flex
    align-items: center
    gap: 182px
    justify-content: center
    padding: 30px 24px
    min-height: 629px
    +tablet
      gap: 100px
    +sm
      flex-direction: column
      gap: 40px
      background-image: url("../img/kromhout_bg_mob.jpg")
  &__content
    max-width: 399px
    display: flex
    flex-direction: column
    min-height: 266px
    gap: 24px
    +sm
      min-height: 115px
    & .btn
      max-width: 277px
      min-width: max-content
      &::after
        width: 20px
        height: 20px
    & .section__text
      max-width: 100%
      margin-left: 0
      font-size: 16px
      +sm
        text-align: center
      &:not(:first-child)
        margin-top: auto
        