.sponsors
	padding: 0 !important
	border-top: 1px solid $white-opacity
	position: relative
	&::before,
	&::after
		content: ""
		position: absolute
		top: -7px
		left: 50%
		transform: translate(-50%, 0)
		width: calc(100% - 28px)
		max-width: 1372px
		height: 13px
		background: url(../img/plus.svg) top left, url(../img/plus.svg) right top
		background-repeat: no-repeat
	&::after
		top: auto
		bottom: -6px
	&__top
		display: flex
		position: relative
		align-items: flex-start
		+sm
			flex-direction: column
		&::before
			content: ""
			position: absolute
			bottom: 0
			left: 50%
			width: 100vw
			transform: translate(-50%, 0)
			background: $white-opacity
			height: 1px
	.section__title
		width: 50%
		margin-bottom: 35px
		padding-top: 24px
		+sm
			padding-top: 16px
			margin-bottom: 40px
	&__description
		width: 50%
		border-left: 1px solid $white-opacity
		padding: 24px 24px 25px
		+sm
			border-left: none
			padding: 0 0 20px 0
			width: 100%
		p
			color: $white
			font-size: 16px
			line-height: 1.4
			letter-spacing: -0.32px
			display: flex
			flex-direction: column
			&:not(:last-child)
				margin-bottom: 30px
				+sm
					margin-bottom: 15px

	&__offer
		a
			margin-top: 30px
			display: flex
			align-items: center
			justify-content: flex-start
			cursor: pointer
			text-transform: uppercase
			font-size: 14px
			font-family: var(--ff)
			font-weight: 400
			line-height: 1.2
			text-decoration: none
			transition: all 0.4s ease-in-out
			white-space: nowrap
			position: relative
			z-index: 1
			border: 1px solid $white-opacity
			background: rgba(255, 255, 255, 0.10)
			backdrop-filter: blur(12px)
			height: auto
			min-height: 57px
			width: 100%
			padding: 5px 24px
			color: $white
			z-index: 1
			max-width: 100%
			letter-spacing: normal
			&::before
				content: ""
				background: var(--accentColor)
				width: 4px
				height: calc(100% + 1.5px)
				left: -1px
				top: 50%
				transform: translate(0, -50%)
				position: absolute
				transition: .4s width ease
				transform-origin: left
				z-index: -1
			&::after
				content: ""
				background: url("../img/arrow.svg") no-repeat
				background-size: cover
				width: 24px
				height: 24px
				transform: translate(0, -50%)
				top: 50%
				right: 24px
				animation: none
				position: absolute
				transition: .4s background ease
			&:hover
				color: $black
				&::after
					background-image: url("../img/arrow_hover.svg")	
				&::before
					width: calc(100% + 2px)
.sponsors-block
	position: relative
	&::after
		+plus-icon()
		left: -6px
		bottom: -6px
	&::before
		content: ""
		position: absolute
		bottom: 0
		left: 50%
		width: 100vw
		transform: translate(-50%, 0)
		background: $white-opacity
		height: 1px
	&_xl
		min-height: 369px
		display: flex
		align-items: center
		justify-content: center
	&__title
		position: absolute
		top: 0
		left: 1px
		background: var(--accentColor)
		color: $black
		font-size: 12px
		line-height: 1
		padding: 6.5px 10px
		letter-spacing: -0.24px
		text-transform: uppercase
	&__list
		display: flex
		align-items: stretch
		justify-content: center
		flex-wrap: wrap
		width: 100%
		&::after
			+plus-icon()
			right: -6px
			bottom: -6px
		+sm
			padding: 10px
	&__item
		text-align: center
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		&:not(:last-child)
			border-right: 1px solid $white-opacity
			
		+tablet
			display: flex
			justify-content: center

		+sm
			max-width: 230px

		& > a
			display: flex
			justify-content: center
			align-items: center
			transition: opacity 0.3s
			padding: 20px
			+sm
				padding: 10px

			&:hover
				opacity: 0.7

			picture
				display: block

			img
				display: block
				max-width: 100%
				transition: all ease 0.2s
				transform: translateY(0)
				opacity: 1
				height: auto

		&--w-info
			width: 100% !important
			max-width: 100% !important
			display: flex
			flex-direction: column
			align-items: center
			order: 1
			border-right: 0 !important
	&__content
		max-width: 600px
		margin-left: auto
		margin-right: auto
		padding: 0 20px 20px
		font-size: 12px
		line-height: 1.45
		+sm
			font-size: 10px
			padding: 0 10px 10px
		a
			color: inherit
			text-decoration: underline
			&:hover
				text-decoration: none
		p:not(:last-child)
			margin-bottom: 10px
	&__subtitle
		font-weight: 600
		margin-bottom: 5px
	&.Platinum

		.sponsors-block__item
			width: 50%
			max-width: 50%
			+sm
				width: 100%
				max-width: 100%

	&.Gold

		.sponsors-block__item
			width: 33.33%
			max-width: 33.3%
			+xs
				width: 50%
				max-width: 50%

	&.Silver

		.sponsors-block__item
			width: 25%
			max-width: 25%

			+xs
				width: 33.3%
				max-width: 33.3%

	&.MediaPartner,
	&.Partner,
	&.TechPartner,
	&.EntertainmentPartner

		.sponsors-block__item
			width: 20%
			max-width: 20%

			+xs
				width: 25%
				max-width: 25%

	&_auto
		.sponsors-block__list
			justify-content: space-between

		.sponsors-block__item
			width: auto

			+sm
				width: 25%
			+xs
				width: 33.3%

			img
				max-width: 100%

			&:last-child
				margin: 0 auto 0 0
