.sponsors

	+sm
		margin-top: 54px

	&__top
		display: grid
		align-items: flex-start
		margin-top: -24px
		grid-template-columns: 1fr 1fr
		position: relative
		gap-y: 32px
		+sm
			grid-template-columns: 1fr

		&:before
			content: ''
			border-left: 1px solid $white-opacity
			position: absolute
			right: 50%
			top: 0
			bottom: 0
			+sm
				display: none

	.section__title
		margin-bottom: 0 !important
		padding: 24px 24px 24px 0

	&__description
		padding: 24px 0 24px 24px
		position: relative

		+sm

			padding: 0 0 20px 0
			width: 100%

		p
			color: $white
			font-size: 16px
			line-height: 1.4
			letter-spacing: -0.32px
			display: flex
			flex-direction: column
			&:not(:last-child)
				margin-bottom: 30px
				+sm
					margin-bottom: 15px

	&__offer
		a
			margin-top: 30px
			@extend .btn
.sponsors-block
	position: relative
	margin-inline: -24px
	+sm
		margin-inline: -16px
	&::before
		content: ""
		position: absolute
		top: 0
		left: 50%
		width: 100vw
		transform: translate(-50%, 0)
		background: $white-opacity
		height: 1px
	&::after
		content: ""
		position: absolute
		top: -6px
		left: 50%
		transform: translate(-50%, 0)
		width: calc(100% + 14px)
		max-width: 1372px
		height: 13px
		background: url(../img/plus.svg) top left, url(../img/plus.svg) right top
		background-repeat: no-repeat
	&.TechPartner
		padding: 20px
	&__title
		position: absolute
		top: 0
		left: 0
		background: var(--accentColor)
		color: $black
		font-size: 12px
		line-height: 1
		padding: 6px 10px
		letter-spacing: -0.24px
		text-transform: uppercase
		+sm
			font-size: 10px
			padding: 4px 8px
	&__list
		display: flex
		align-items: stretch
		justify-content: center
		flex-wrap: wrap
		width: 100%
		column-rule: 1px solid $white-opacity
		row-rule: 1px solid $white-opacity
		.TechPartner &
			flex-direction: column
			align-items: center
			+sm
				padding: 0
	&__item

		text-align: center
		width: 100%

		+tablet
			display: flex
			justify-content: center

		+sm
			max-width: 100%

		& > a
			display: flex
			justify-content: center
			align-items: center
			transition: opacity 0.3s
			padding: 20px
			height: 100%
			width: 100%

			+sm
				padding: 10px

			&:hover
				opacity: 0.7

			picture
				display: block

			img
				display: block
				max-width: 100%
				transition: all ease 0.2s
				transform: translateY(0)
				opacity: 1
				height: auto
				+sm
					margin: 0 auto

		&--w-info
			width: 100% !important
			max-width: 100% !important
			display: flex
			flex-direction: column
			align-items: center
			order: 1
			border-right: 0 !important

	&__content
		max-width: 600px
		margin-left: auto
		margin-right: auto
		padding: 0 20px 20px
		font-size: 12px
		line-height: 1.45
		+sm
			font-size: 10px
			padding: 0 10px 10px
			padding-top: 20px
		a
			color: inherit
			text-decoration: underline
			&:hover
				text-decoration: none
		p:not(:last-child)
			margin-bottom: 10px
	&__subtitle
		font-weight: 600
		margin-bottom: 5px

	&.Platinum
		.sponsors-block__item
			width: 50%
			max-width: 50%
			min-height: 120px
			+sm
				width: 100%
				max-width: 100%

	&.Gold
		.sponsors-block__item
			width: 33.33%
			max-width: 33.3%
			min-height: 100px

			+xs
				width: 50%
				max-width: 50%

	&.Silver
		.sponsors-block__item
			width: 25%
			max-width: 25%
			min-height: 80px

			+xs
				width: 33.3%
				max-width: 33.3%

	&.TechPartner
		.sponsors-block__list
			row-rule: none
			column-rule: none

	&.MediaPartner,
	&.Partner,
	&.TechPartner,
	&.EntertainmentPartner

		.sponsors-block__item
			width: 20%
			max-width: 20%
			min-height: 80px

			+xs
				width: 25%
				max-width: 25%

	&_auto
		.sponsors-block__list
			justify-content: space-between

		.sponsors-block__item
			width: auto

			+sm
				width: 25%
			+xs
				width: 33.3%

			img
				max-width: 100%

			&:last-child
				margin: 0 auto 0 0
