
.s-workshops-list
	.workshops-list
		--container: 24px
		+sm
			--container: 16px
		&__item
			&:before, &:after
				left: calc(var(--container) * -1)
				right: calc(var(--container) * -1)

	.section__title

		font-size: 40px !important
		display: block
		+md
			font-size: 32px !important
		&:before
			display: none
