
\:root
	--accentColor: #bbff00
	--button-background: #bf0
	--button-background-hover: #090908
	--button-color: #000
	--button-color-hover: #bf0

	--price-increase-bg: #121310
	--price-increase-color: #fff

	--checkout-section-bg: #121310
	--checkout-section-color: #fff
	--checkout-section-secondary-color: #949494
	--checkout-outline-color: #3e3e3e
	--checkout-card-bg: #262626

	--price-section-bg: #121310
	--price-color: #fff
	--price-item-bg: #090908
	--price-item-border: none
	--price-item-radius: 0
	--price-item-title-color: #bbff00
	--price-item-title-weight: 700

	--price-slider-btn-size: 54px
	--price-slider-btn-border-color: #bbff00
	--price-slider-btn-radius: 0
	--price-slider-btn-color: #121310
	--price-slider-btn-bg: #bbff00
	--price-slider-btn-bg-hover: #0f0

	--price-btn-color: #fff
	--price-btn-border: 1px solid #3C3C3C
	--price-btn-border-color-hover: #5C5C5C

	--ticketsFormBg: #090908
	--ticketsFormInputBorder: 1px solid #bbff00
	--ticketsFormColor: #fff
	--ticketsFormInputColor: #fff

	--workshop-item-ff: GothamPro
	--workshop-item-color: #fff
	--workshop-item-bg: #242424
	--workshop-item-type-bg: #fff
	--workshop-item-border: #242424
	--workshop-item-type-color: #000
	--workshop-item-type-color-free: #000
	--workshop-item-type-radius: 4px

$font-size: 16px
/*----- schedule -----*/
$posTop: 0px

/*----- COLORS -----*/

$mainBg: #121310
$mainBg2: #1a1a14
$black: #090908
$white: #fff
$gray: #999
$themeColor: #bbff00
$themeColorD: #BBFF0040
$themeColor2: #0f0
$accent: #b1ec00

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px

$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #999
// end SCHEDULE

/*----- SWITCH -----*/
$switchColor: $black
$switchHandler: $black

// end SWITCH
