$font-size: 16px
/*----- schedule -----*/
$posTop: 0px

/*----- COLORS -----*/

$mainBg: #121310
$mainBg2: #1a1a14
$black: #090908
$white: #fff
$gray: #999
$themeColor: #bbff00
$themeColorD: #BBFF0040
$themeColor2: #0f0
$accent: #b1ec00

// end COLORS


/*----- SCHEDULE -----*/
$posTop: 0px

$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #999
// end SCHEDULE

/*----- CHECKOUT -----*/
$cehckoutInputColor: #fff
$cehckoutInputBg: #353535
$cehckoutColorGray: #eaeaec
$cehckoutBadgeBg: #fff
$cehckoutBadgeColor: #000
// end CHEcKoUT

/*----- SWITCH -----*/
$switchColor: $black
$switchHandler: $black

// end SWITCH