
\:root
  --accentColor: #bbff00

  --price-increase-bg: #121310
  --price-increase-color: #fff

  --checkout-section-bg: #121310
  --checkout-section-color: #fff
  --checkout-card-border: none
  --checkout-card-bg: #000
  --checkout-card-radius: 16px
  --checkout-card-text-color: #fff
  --checkout-quantity-hover-color: #000
  --checkout-quantity-border: 1px solid #444
  --checkout-quantity-button-bg: #bf0
  --checkout-quantity-button-bg-hover: #0f0
  --checkout-quantity-button-border: 2px solid #bf0
  --checkout-quantity-button-border-hover: 2px solid #0f0
  --checkout-quantity-button-icon-color: #000
  --checkout-quantity-button-icon-color-hover: #000
  --checkout-form-ff: GothamPro,Arial,Helvetica,sans-serif
  --checkout-price-ff: GothamPro,Arial,Helvetica,sans-serif
  --checkout-card-title-weight: 700
  --checkout-button-weight: 700
  --checkout-button-border: 2px solid #bf0
  --checkout-button-border-hover: 2px solid #0f0

  --cehckout-badge-bg: #444
  --cehckout-badge-color: #fff

  --price-section-bg: #121310
  --price-color: #fff
  --price-item-bg: #090908
  --price-item-border: none
  --price-item-radius: 0
  --price-item-title-color: #bbff00
  --price-item-title-weight: 700

  --price-slider-btn-size: 54px
  --price-slider-btn-border-color: #bbff00
  --price-slider-btn-radius: 0
  --price-slider-btn-color: #121310
  --price-slider-btn-bg: #bbff00
  --price-slider-btn-bg-hover: #0f0

  --price-btn-color: #fff
  --price-btn-border: 1px solid #3C3C3C
  --price-btn-border-color-hover: #5C5C5C

  --ticketsFormBg: #090908
  --ticketsFormInputBorder: 1px solid #bbff00
  --ticketsFormColor: #fff
  --ticketsFormInputColor: #fff

  --workshop-item-ff: GothamPro
  --workshop-item-color: #fff
  --workshop-item-bg: #242424
  --workshop-item-type-bg: #fff
  --workshop-item-border: #242424
  --workshop-item-type-color: #000
  --workshop-item-type-color-free: #000
  --workshop-item-type-radius: 4px

$font-size: 16px
/*----- schedule -----*/
$posTop: 0px

/*----- COLORS -----*/

$mainBg: #121310
$mainBg2: #1a1a14
$black: #090908
$white: #fff
$gray: #999
$themeColor: #bbff00
$themeColorD: #BBFF0040
$themeColor2: #0f0
$accent: #b1ec00

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px

$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #999
// end SCHEDULE

/*----- SWITCH -----*/
$switchColor: $black
$switchHandler: $black

// end SWITCH
