{% import "partials/_mixins.html" as mixins %}
{% import "ga/ga-mixins.njk" as ga_mixins %}
{% import "eventsBus/eventsBus.njk" as eventsLayer %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ pages[pageKey].titleSeo }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include "../partials/_media-tags.html" %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" media="all" href="css/app.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap">
  <link rel="shortcut icon" href="img/favicon.png" />
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-N5Z498J"></script>
  <link rel="preconnect" href="https://js.tito.io/" crossorigin />
  <link rel="dns-prefetch" href="https://js.tito.io/" />
  <link rel="preconnect" href="https://js-plugins.tito.io/" crossorigin />
  <link rel="dns-prefetch" href="https://js-plugins.tito.io/" />
  <link rel="preconnect" href="https://checkout.tito.io/" crossorigin />
  <link rel="dns-prefetch" href="https://checkout.tito.io/" />

  {% block heroScript %}{% endblock %}

</head>

<body>
  {{eventsLayer.initEventsLayer(pageKey)}}
  {{eventsLayer.mountPoint('dialog-popup')}}
  {{eventsLayer.sendContent('eventInfo', customContent.eventInfo )}}
  {{eventsLayer.sendContent('reactLayerConfig', {
  pagesPieceOfTexts: pagesPieceOfTexts,
  ticketsLink: pagesPieceOfTexts.ticket__link,
  pricesIncreaseDate: pages.main.pageSections.pricesIncreaseDate,
  pricesIncreaseDateInPerson: pages.main.pageSections.pricesIncreaseDateInPerson,
  calendarEventName: 'React Summit',
  calendarEventDescription: 'Watch it live at https://reactsummit.com',
  calendarWorkshopDescription: 'Please note, by adding the event to your calendar you do not register for the workshop. To register for the session please use the link sent from ti.to via email.',
  hideSpeakerPopupLabel: true
  } )}}
  {{eventsLayer.sendContent('customTracks', customContent.tracks )}}
  {{eventsLayer.sendContent('schedule', schedule )}}
  {{eventsLayer.sendContent('scheduleOffline', scheduleOffline )}}
  {{eventsLayer.sendContent('isOfflineTimeTrack', offlineTimeTrack )}}
  {{eventsLayer.sendContent('isAuth', not fakeLinks )}}
  {{eventsLayer.sendContent('isCustomTrackAvailable', customTrackAvailable )}}
  {{eventsLayer.sendContent('availableTracks', availableTracks)}}
  {{eventsLayer.sendContent('speakers', speakers)}}

  {{eventsLayer.sendContent('emsSchedule', emsSchedule )}}
  {{eventsLayer.sendContent('emsScheduleOffline', emsScheduleOffline )}}
  {{eventsLayer.sendContent('tracksOrdered', tracksOrdered )}}

  <!-- BEGIN content -->
  <div class="out">
    {% block content %}{% endblock %}
  </div>
  <!-- END content -->

  <!-- BEGIN scripts -->
  <script type="text/javascript" src="js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script type="text/javascript" src="js/animations.js"></script>
  <!-- END scripts -->

</body>

</html>
