{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header.html" %}

	<div class="main js-main">
		{% include "partials/_hero-live.html" %}

		{% if pages[pageKey].pageSections.timeTrack %}
			{% include "partials/_time-track.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.videoWidget %}
			{% include "partials/_video-widget.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.sponsorsOffers %}
			{% set filterSponsor = true %}
			{% include "partials/_sponsors-offers.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.multipass %}
			{% include "partials/_multipassV2.html" %}
		{% endif %}



		{% if pages[pageKey].pageSections.interactiveSessions and fakeLinks %}
			{% include "partials/_interactive-sessions.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.advicers %}
			{% include "partials/_advicers.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.videoRooms %}
			{% include "partials/_video-rooms.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.randomRarty %}
			{% include "partials/_random-party.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.zoomBars and customContent.zoomBars %}
			{% include "partials/_zoom-barsV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.quake %}
			{% include "partials/_info-block.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.awards %}
			{% include "partials/_awards.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.MCs %}
			{% include "partials/_mcsV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.givingBack %}
			{% include "partials/_back-to-community.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.sponsors %}
			{% include "partials/_sponsors.html" %}
		{% endif %}

		<div class="separator"></div>

		{% if pages[pageKey].pageSections.noticePanel %}
			{% include "partials/_notice-panel.html" %}
		{% endif %}

		{% include "partials/_footerV2.html" %}
	</div>

{% endblock %}

