
.s-prices
  position: relative
  .container
    max-width: 1280px
  .section__title
    line-height: .9
    font-size: clamp(44px,8vw,48px)
    text-transform: uppercase
    font-weight: 900
    text-align: left
    margin-bottom: 50px
    +sm
      margin-bottom: 35px

.prices-swiper
  .swiper-slide
    width: 384px
    +md
      width: 360px
    +sm
      width: 302px
    +xxxs
      width: 280px
  .swiper-container
    +laptop
      overflow: visible

.prices-item
  position: relative
  &__title
    p:first-child
      background: linear-gradient(90deg, #b974a0 0, #7d7dc3 32.65%, #6ba7be 62.24%, #a1af7e 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
  &__bottom
    .btn
      border: 1px solid rgba(255,255,255,.2)

.tickets-form
  &__group
    .btn
      border: 1px solid rgba(255,255,255,.2)
