<script>
  const titoFindText = {
    COMBO: 'Combo',
    WORKSHOPS: 'Workshop',
    REMOTE: 'Remote Attendance'
  }
  const TITO_SECTION = [
    {
      title: 'Workshops',
      findText: titoFindText.WORKSHOPS,
    },
    {
      title: 'Remote',
      findText: titoFindText.REMOTE,
    },
    {
      title: 'Combo tickets',
      findText: titoFindText.COMBO,
    },
  ]

  tito('on:widget:loaded', function () {
    let daElements = document.querySelectorAll('.tito-release:not(.tito-release--sold-out)');
    let daElementsArray = [];
    let daPlace = 'last';
    //Заполняем массивы
    if (daElements.length > 0) {
      let number = 0;

      TITO_SECTION.forEach(section => {
        const tickets = [...daElements].filter(el => {
          const daElementTitle = el.querySelector('.tito-release--title').innerText;
          return section.findText === titoFindText.REMOTE ? daElementTitle.includes(section.findText) : daElementTitle.includes(section.findText) && !daElementTitle.includes(titoFindText.REMOTE)
        });

        createSection(section.title)

        tickets.forEach(ticket => {

          daElementsArray[number] = {
            "element": ticket,
            "destination": document.querySelector('.tito-section--' + getClassName(section.title)),
          };
          number++;
        })
      })
    }
    //Перебрасываем элементы
    daElementsArray.forEach(el => {
      daPlace === 'first' ? actualIndex = 0 : actualIndex = el.destination.children.length;
      el.destination.insertBefore(el.element, el.destination.children[actualIndex]);
    })

    function getClassName(title) {
      return title.toLowerCase().replace(/\s+/g, '-')
    }
    function createSection(title) {
      const sectionHtml = `
        <section class="tito-section tito-section--${getClassName(title)}" id="${getClassName(title)}">
          <h3 class="tito-section__title">${title}</h3>
        </section>
      `;
      document.querySelector('.tito-widget-form > div').insertAdjacentHTML('afterbegin', sectionHtml);
    }

  });

</script>
