---
pageKey: main
headerBtn: true
sponsorsDescription: true
fakeLinks: true

ogImage: https://nodecongress.com/img/ogImage.png
ogUrl: https://nodecongress.com
---

{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header.html" %}

	<div class="main js-main">

		{% if pages[pageKey].pageSections.timer %}
			{% include "partials/_hero-timer.html" %}
		{% endif %}
		
		{% include "partials/_hero.html" %}

		{% if pages[pageKey].pageSections.event %}
			{% include "partials/_event.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.videoWidget %}
      {% include "partials/_video-widget.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.program %}
			{% include "partials/_program.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.featuresGrid %}
			{% include "partials/_features-grid.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.speakers %}
			{% include "partials/_speakersV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.advicers %}
			{% include "partials/_advicersV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.MCs %}
			{% include "partials/_MCsV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.multipass %}
			{% include "partials/_multipassV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.schedule %}
			{% set filterByDate = "2022-02-17T00:00:00.000Z" %}
			{% include "partials/_schedule.html" %}

			{% set filterByDate = "2022-02-18T00:00:00.000Z" %}
			{% set scheduleSecondDate = true %}
			{% include "partials/_schedule.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.lightningTalks %}
			{% include "partials/_lightning-talks.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.extended %}
			{% include "partials/_extended-program.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.committee %}
			{% include "partials/_committeeV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.prices %}
			{% include "partials/_pricesV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.fullTicket %}
			{% include "partials/_full-ticket.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.party %}
			{% include "partials/_party.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.workshopsList %}
			{% include "partials/_workshops-list.html" %}
		{% endif %}

		{# {% if pages[pageKey].pageSections.interactiveSessions %}
			{% include "partials/_interactive-sessions.html" %}
		{% endif %} #}

		{% if customContent.videoRooms %}
			{% include "partials/_video-rooms.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.randomRarty %}
			{% include "partials/_random-party.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.zoomBars and customContent.zoomBars %}
			{% include "partials/_zoom-bars.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.forBoss %}
			{% include "partials/_for-boss.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.quake %}
			{% include "partials/_info-block.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.hosts %}
			{% include "partials/_hosts.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.media %}
			{% include "partials/_media.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.contact %}
			{% include "partials/_contact-form.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.freeTicket %}
			{% include "partials/_free-ticket.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.location %}
			{% include "partials/_locationV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.fleet %}
			{% include "partials/_fleet.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.awards %}
			{% include "partials/_awards.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.givingBack %}
			{% include "partials/_back-to-community.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.sponsors %}
			{% include "partials/_sponsors.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.noticePanel %}
			{% include "partials/_notice-panel.html" %}
		{% endif %}

		{% include "partials/_footerV2.html" %}
	</div>

{% endblock %}

