---
pageKey: schedule
headerBtn: true
sponsorsDescription: true
inPerson: true
fakeLinks: true
remoteSwitchLink: schedule
timeZone: Europe/Amsterdam


ogImage: https://nodecongress.com/img/ogImage.png
ogUrl: https://nodecongress.com
canonicalUrl: schedule-offline
---

{% extends "layouts/_layout.html" %}

{% block content %}

<div class="main js-main">
	{% include "partials/_hero-inner.html" %}

	{% include "partials/_scheduleV2.html" %}
	{% include "partials/_footerV2.html" %}
</div>

{% endblock %}