---
pageKey: schedule
headerBtn: true
sponsorsDescription: true
inPerson: true
fakeLinks: true
remoteSwitchLink: schedule
timeZone: Europe/Amsterdam

<!-- emsObj: true  -->

scheduleNewStyle: true

ogImage: https://nodecongress.com/img/ogImage.png
ogUrl: https://nodecongress.com
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

{% if pages[pageKey].pageSections.remoteSwitch %}
{% include "partials/_remote-switch.html" %}
{% endif %}

<div class="main js-main">
	{% include "partials/_hero-live.html" %}

	{% if pages[pageKey].pageSections.schedule %}
		{% if not scheduleNewStyle %}
			{% set filterByDate = "2023-04-14T00:00:00.000Z" %}
			{% set visibleTabs = [1, 2, 4, 5] %}
			{% include "partials/_schedule.html" %}

			{% set filterByDate = "2023-04-17T00:00:00.000Z" %}
			{% set scheduleSecondDate = true %}
			{% set visibleTabs = [3, 4, 5] %}
			{% include "partials/_schedule.html" %}
		{% else %}
			{% set filterByDate_1 = "2023-04-14" %}
			{% set filterByDate_2 = "2023-04-17" %}
			{% include "partials/_scheduleV2.html" %}
		{% endif %}
	{% endif %}

	{% if pages[pageKey].pageSections.noticePanel %}
	{% include "partials/_notice-panel.html" %}
	{% endif %}

	{% include "partials/_footerV2.html" %}
</div>

{% endblock %}