---
pageKey: schedule
headerBtn: true
sponsorsDescription: true
fakeLinks: true
remoteSwitchLink: schedule-offline

ogImage: https://nodecongress.com/img/ogImage.png
ogUrl: https://nodecongress.com
canonicalUrl: schedule
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="main js-main">
  {% include "partials/_hero-live.html" %}

  {% if pages[pageKey].pageSections.schedule %}
  {% include "partials/_scheduleV2.html" %}
  {% endif %}


  {% include "partials/_footerV2.html" %}
</div>

{% endblock %}
