.social
  display: flex
  align-items: center
  gap: 12px

  &__link
    font-size: 22px
    text-align: center
    display: block

    .icon
      display: block
      color: $black
      fill: currentColor
      transition: color linear 0.2s

    &:hover
      .icon
        color: #666
