=light
	font-family: 'GothamPro', Arial, sans-serif
	font-weight: 300

=regular
	font-family: 'GothamPro', Arial, sans-serif
	font-weight: 400

=medium
	font-family: 'GothamPro', Arial, sans-serif
	font-weight: 500

=bold
	font-family: 'GothamPro', Arial, sans-serif
	font-weight: 700

=black
	font-family: 'GothamPro', Arial, sans-serif
	font-weight: 700

//html
  //removed becaus it delays navigation on page load
	//scroll-behavior: smooth

body
	+got
	font-size: 16px
	line-height: 1.375
	color: $white
	background: $grayL
	+tablet
		font-size: 14px

.out
	position: relative
	overflow: hidden


.bg-red
	background-color: $themeColor

.d-flex
	display: flex

.logo
	display: flex
	align-items: flex-start
	max-width: 266px
	+md
		max-width: 207px
	+sm
		max-width: 158px
	img
		width: 100%

.title
	+gotM
	font-size: 60px
	letter-spacing: 0.4px
	line-height: 1.07
	+tablet
		font-size: 60px
	+md
		font-size: 44px
		//line-height: 1.37
		line-height: 1.1
		letter-spacing: 0.22px

.container
	max-width: 1380px
	margin: 0 auto
	padding: 0 50px
	+tablet
		max-width: 850px
		padding: 0 20px
	+md
		padding: 0 10vw
	+xxs
		padding: 0 14px
.color-yellow
	color: $themeColor2


.descr
	font-size: 18px
	line-height: 2
	+tablet
		font-size: 16px
	+md
		font-size: 14px
	p
		&:not(:last-child)
			margin-bottom: 18px
			+md
				margin-bottom: 14px

.link
	color: inherit
	display: inline-flex
	align-items: center
	.icon
		fill: $white
		margin-right: 9px
		font-size: 26px
		vertical-align: sub
		+tablet
			font-size: 24px
		+md
			font-size: 19px
			margin-right: 4px
.title-img
	padding: 40px 0
	img
		max-width: 100%
		margin: 0 auto
		display: block

.anchor
	position: relative
	top: -80px

.anchor-item
	text-decoration: none
	color: unset
	&:hover
		text-decoration: underline

#popup-ticket
	a[href="/quick-access"]
		border-color: $themeColor2
		background-color: $themeColor2
		color: $black

		&:hover
			border-color: $white
			background-color: $white

		&:before,
		&:after
			display: none

.pop-ticket__btn
	&.btn
		&.btn--border
			border-color: $themeColor2
			background-color: $themeColor2
			color: $black

			&:hover
				border-color: $white
				background-color: $white

			&:before,
			&:after
				display: none
