$font-size: 16px

/*----- COLORS -----*/

$mainBg: #20201e
$mainBg2: #eaeaec
$black: #000
$white: #fff
$gray: #202421
$themeColor: #fef502
$themeColorD: #fef502
$themeColor2: #ff2407
$accent: #b1ec00



// end COLORS
