<div class="hero hero--main" id="hero" {{ editable(heroData) }}>
	<div class="hero__bg"></div>

	<video class="hero__video " preload="auto" loop autoplay muted playsinline>
		<source src="video/hero.mp4?v8" type="video/mp4" />
	</video>

	<div class="hero__inner ">
		<div class="hero__logo">
			<a href="/" class="logo"><img src="img/logo.svg?v5" alt="{{ payload.brand.title }}" /></a>
		</div>

		{% if heroData.settings.eventDates %}
		{{ mixins.heroSwitch(heroData.settings.eventDates) }}
		{% elif heroData.date %}
		<div class="hero__suptitle">
			{{ heroData.date | safe }}
		</div>
		{% endif %}

		<h1 role="heading" class="hero__title {{ 'hero__title--main' if pageKey == 'main' }}" data-sticky="10th anniversary">
			{{ heroData.title | safe }}
		</h1>

		{% if heroData.description %}
		<div class="hero__desc">{{ heroData.description | safe }}</div>
		{% endif %}

		{% if heroData.stats.length %}
		<div class="hero__info">
			<ul class="h-list {{ 'h-list_centered' if heroData.stats.length <= 2 }}">
				{% for stat in heroData.stats %}
				<li class="h-list__item" {{ editable(stat) }}>
					{% if stat.value %}
					<div class="h-list__value">{{ stat.value | safe }}</div>
					{% endif %}

					<div class="h-list__text">{{ stat.description | safe }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		<div class="hero__bottom">

			{% if payload.settings.settings.relatedEvent %}
			{% include "partials/blocks/_relatedEvent.html" %}
			{% endif %}

			{% if not hideHeroCtas %}
			{% include "partials/payload/blocks/_hero-buttons.html" %}
			{% endif %}
		</div>


		<div class="hero__partner">
			<a
				href="https://gitnation.com/"
				class="hero__partner-img"
				target="_blank"
				tabindex="-1"
				onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + collaborator.altText + ';' , category: 'partners-click' , isAuth: not fakeLinks }) }}>
				<img src="https://live-conferences-cms-nine.vercel.app/api/media/file/WA3NlT4RrqZKVyogTUNg.svg" alt="Event by Gitnation">
			</a>
		</div>


	</div>
</div>