<div id="popup-pst" class="_modal popup  pst">
  <div class="popup__body">
    <div class="popup__content _modal__content">
      <button class="popup__close _close-modal" aria-label="close" data-storage="popupSubscriptionToolsIsHidden">
        {{ mixins.icon('p-close') }}
      </button>
      <h2 class="pst__title">Be the first to know the ticket price!</h2>
      <div class="pst__subtitle">
        Subscribe now and get top 10 Productivity tools to improve your work life
      </div>

      <form action="https://mailchi.mp/f7757f242b0b/productivity-conf-newsletter" method="GET" target="_blank">
        <div class="form-field">
          <input type="email" class="form-input" placeholder="your@email" required name="email" />
        </div>
        <button type="submit" class="btn btn--border btn--block  btn--lg js-subscribe-tools">subscribe</button>
      </form>
    </div>
  </div>
</div>
