---
pageKey: main
headerBtn: true
sponsorsDescription: true
fakeLinks: true

ogImage: https://remixconf.eu/img/ogImage.png
ogUrl: https://remixconf.eu
---

{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header.html" %}

	{% if pages[pageKey].pageSections.remoteSwitch %}
		{% include "partials/_remote-switch.html" %}
	{% endif %}

	<div class="main js-main">
		{% include "partials/_hero.html" %}

		{% if pages[pageKey].pageSections.event %}
			{% include "partials/_event.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.videoWidget %}
      {% include "partials/_video-widget.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.features %}
			{% include "partials/_features.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.speakers %}
			{% include "partials/_speakersV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.advicers %}
			{% include "partials/_advicersV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.MCs %}
			{% include "partials/_MCsV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.schedule %}
			{% set filterByDate = "2022-11-18T00:00:00.000Z" %}
			{% include "partials/_schedule.html" %}
		{% endif %}

		{# {% if pages[pageKey].pageSections.schedule %}
			<a class="btn btn--huge" href="{{ pagesPieceOfTexts.scheduleBtn__linkInPerson if inPerson else pagesPieceOfTexts.scheduleBtn__link }}">
				{{ pagesPieceOfTexts.scheduleBtn__text | safe }} {{mixins.icon('arrow-big')}}
			</a>
		{% endif %} #}

		{% if pages[pageKey].pageSections.lightningTalks %}
			{% include "partials/_lightning-talks.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.extended %}
			{% include "partials/_extended-program.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.committee %}
			{% include "partials/_committeeV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.workshopsList %}
			{% include "partials/_workshops-list.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.contact %}
			{% include "partials/_contact-formV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.multipass %}
			{% include "partials/_multipassV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.prices %}
			{% include "partials/_pricesV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.fullTicket %}
			{% include "partials/_full-ticket.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.freeTicket %}
			{% include "partials/_free-ticket.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.interactiveSessions %}
			{% include "partials/_interactive-sessions.html" %}
		{% endif %}

		{% if customContent.videoRooms and pages[pageKey].pageSections.videoRooms %}
			{% include "partials/_video-rooms.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.forBoss %}
			{% include "parts/_for-boss.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.location %}
			{% include "parts/_location.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.randomParty %}
			{% include "partials/_random-party.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.zoomBars and customContent.zoomBars %}
			{% include "partials/_zoom-barsV2.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.party %}
			{% include "partials/_party.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.tours %}
			{% include "partials/_tours.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.watchingParty %}
			{% include "parts/_watching-party.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.givingBack %}
			{% include "partials/_giving-back.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.tweets %}
			{% include "partials/_tweets.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.companyTicket %}
			{% include "parts/_company-ticket.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.discountForm %}
			{% include "partials/_discount-form.html" %}
		{% endif %}

		{# {% if pages[pageKey].pageSections.quake %}
			{% include "partials/_info-block.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.hosts %}
			{% include "partials/_hosts.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.media %}
			{% include "partials/_media.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.awards %}
			{% include "partials/_awards.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.osaAward %}
			{% include "partials/_osa-award.html" %}
		{% endif %} #}

		{% if pages[pageKey].pageSections.sponsors %}
			{% include "partials/_sponsors.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.noticePanel %}
			{% include "partials/_notice-panel.html" %}
		{% endif %}

		{% include "partials/_footerV2.html" %}
	</div>

{% endblock %}

