---
pageKey: schedule
headerBtn: true
sponsorsDescription: true
fakeLinks: true
remoteSwitchLink: schedule-offline

ogImage: https://remixconf.eu/img/ogImage.png
ogUrl: https://remixconf.eu
---

{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header.html" %}

	{% if pages[pageKey].pageSections.remoteSwitch %}
		{% include "partials/_remote-switch.html" %}
	{% endif %}

	<div class="main js-main">
		{% include "partials/_hero-live.html" %}

		{% if pages[pageKey].pageSections.schedule %}
			{% set filterByDate = "2022-06-17T00:00:00.000Z" %}
			{% include "partials/_schedule.html" %}

			{% set filterByDate = "2022-06-21T00:00:00.000Z" %}
			{% set scheduleSecondDate = true %}
			{% include "partials/_schedule.html" %}
		{% endif %}

		{% if pages[pageKey].pageSections.noticePanel %}
			{% include "partials/_notice-panel.html" %}
		{% endif %}

		{% include "partials/_footerV2.html" %}
	</div>

{% endblock %}

