=placeholder
  \::-webkit-input-placeholder
    @content

  \:-moz-placeholder
    @content

  \::-moz-placeholder
    @content

  \:-ms-input-placeholder
    @content

=selection
  \::-moz-selection
    @content

  \::selection
    @content

=clip-path($clip)
  -webkit-clip-path: $clip
  -moz-clip-path: $clip
  -ms-clip-path: $clip
  clip-path: $clip

=bold
  font-weight: 700

=medium
  font-weight: 500

=regular
  font-weight: 400


=ellipsis($var)
  overflow: hidden
  -ms-text-overflow: ellipsis
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-line-clamp: $var
  -webkit-box-orient: vertical
