{% import "partials/_mixins.html" as mixins %}
{% import "eventsBus/eventsBus.njk" as eventsLayer %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ pages[pageKey].titleSeo }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% include "../partials/_media-tags.html" %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" media="all" href="css/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900">
    <link rel="shortcut icon" href="img/favicon.png"/>
  </head>
  <body>
    {{eventsLayer.initEventsLayer(pageKey)}}
    {{eventsLayer.mountPoint('dialog-popup')}}
    {{eventsLayer.sendContent('eventInfo', customContent.eventInfo )}}
    {{eventsLayer.sendContent('reactLayerConfig', {
    ticketsLink: pagesPieceOfTexts.ticket__link,
    hideSpeakerPopupLabel: true
    } )}}
    {{eventsLayer.sendContent('scheduleExtends', customContent.scheduleExtends )}}
    {{eventsLayer.sendContent('customTracks', customContent.tracks )}}
    {{eventsLayer.sendContent('schedule', schedule )}}
    {{eventsLayer.sendContent('isAuth', not fakeLinks )}}

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END scripts -->

  <div style="display: none;">
    <!--LiveInternet counter--><script type="text/javascript">
    document.write('<a href="//www.liveinternet.ru/click" '+
      'target="_blank"><img src="//counter.yadro.ru/hit?t42.6;r'+
      escape(document.referrer)+((typeof(screen)=='undefined')?'':
        ';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth?
        screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+
      ';h'+escape(document.title.substring(0,150))+';'+Math.random()+
      '" alt="" title="LiveInternet" '+
      'border="0" width="31" height="31"><\/a>')
  </script><!--/LiveInternet-->
  </div>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '582e1813bb922a0c00011365');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>

  <!-- Facebook Pixel Code -->
  <script> !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1374905195888955');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1374905195888955&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Twitter universal website tag code -->
  <script>
  !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
  },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
  a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
  // Insert Twitter Pixel ID and Standard Event data below
  twq('init','o3job');
  twq('track','PageView');
  </script>
  <!-- End Twitter universal website tag code -->

  <!-- Facebook Pixel Code --> <script> !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '1374905195888955'); fbq('track', 'PageView'); </script> <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1374905195888955&ev=PageView&noscript=1" /></noscript> <!-- End Facebook Pixel Code -->

  <!-- Global site tag (gtag.js) - Google Ads: 805657772 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-805657772"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-805657772');
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164513444-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-164513444-2');
  </script>


  </body>
</html>
