<section class="section sec-event" id="event">
	<div class="container">
		<div class="sec-event__head" data-section-label="about /&#10;├── AI coding Summit">
			<h2 class="section__title">{{pagesPieceOfTexts.event__title}}</h2>
		</div>

		<div class="sec-event__text styled-text">
			{{pagesPieceOfTexts.event__descr | safe }}
		</div>

		{% if pages[pageKey].pageSections.techs %}
		<div class="sec-event__topics topics">
			<div class="section__head" data-section-label="├── Topics">
				<h2 class="section__title">topics to be covered</h2>
			</div>
			<div class="topics__slider swiper-container js-slider-auto" data-config='{"spaceBetween": 16}'>
				{{mixins.topics(pages[pageKey].pageStatistics.techScope)}}
			</div>
		</div>
		{% endif %}

		{% include "partials/blocks/_partnership-banner.html" %}
	</div>

	<div class="sec-event__bg" aria-hidden="true"></div>
</section>