<div class="hero">
	<div class="container hero__inner">
		<div class="hero__head">
			<h1 class="hero__title {{ 'hero__title--main' if pages[pageKey] == pages.main }}">{{pagesPieceOfTexts.hero__title | safe}}</h1>

			<div class="hero__bottom">
				<div class="hero__content">
					{% if pagesPieceOfTexts.hero__subtitle %}
					<h2 class="hero__subtitle">
						{{pagesPieceOfTexts.hero__subtitle | safe}}
					</h2>
					{% endif %}



					{% if pagesPieceOfTexts.hero__descr %}
					<div class="hero__descr">{{pagesPieceOfTexts.hero__descr}} </div>
					{% endif %}

					{% if pages[pageKey].pageStatistics.eventsDates %}
					<div class="hero__dates">
						{% for item in pages[pageKey].pageStatistics.eventsDates %}
						<div class="hero__date">
							<div class="hero__date-location">
								<div class="hero__date-flag">
									<img src="{{item.flag}}" alt="flag" />
								</div>
								<span class="hero__date-name">{{item.location}}</span>
							</div>
							{% if item.link %}
							<a href="{{item.link}}" target="_blank">{{item.date | safe}}</a>
							{% else %}
							<span>{{item.date | safe}}</span>
							{% endif %}
						</div>

						{% endfor %}
					</div>
					{% endif %}
				</div>

				<div class="hero__partners">
					{% include "partials/blocks/_supported.html" %}

				</div>
			</div>

		</div>

		{% if pages[pageKey].pageStatistics.eventStats %}
		<div class="hero__info">
			{{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}

			{% if not hideHeroCtas %}
			{% include "partials/_hero-buttons.html" %}
			{% endif %}

		</div>
		{% endif %}

		<div class="hero__video">
			<video preload="auto" loop muted autoplay playsinline>
				<source src="video/hero.mp4?v1" type="video/mp4" />
			</video>
		</div>
	</div>



	<!-- <div class="hero__bg " style="background-image: url('img/hero-bg.svg');"></div> -->
</div>
