<section class="section s-event" id="event">
  <div class="container container--lg">
    <div class="event">
      <div class="event__top">
        <div class="event__image">
          <img src="{{ pagesPieceOfTexts.event__image | safe }}" alt="london" />
        </div>
        <h2 class="section__title">{{ pagesPieceOfTexts.event__title | safe }}</h2>
        <h3 class="section__big-title">{{ pagesPieceOfTexts.event__bigTitle | safe }}</h3>
        <div class="event__descr section__descr">{{ pagesPieceOfTexts.event__description | safe }}</div>
      </div>

      <div class="event__bottom">
        {% if pages[pageKey].pageStatistics.daysInfo %}
        <div class="event__days days">
          {% for day in pages[pageKey].pageStatistics.daysInfo %}
          <div class="days__item">
            <div class="days__plus">{{mixins.icon('day-plus')}}</div>
            <h4 class="days__title">{{ day.title | safe }}</h4>
            <div class="days__date">
              <div class="days__date-inner">{{ day.date | safe }}</div>
            </div>
            <div class="days__descr">{{ day.desc | safe }}</div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% if pages[pageKey].pageSections.techs %}
        <div class="event__techs">
          <div class="event__techs-title">{{ mixins.text(pieceOfTexts, 'event__techsTitle') }}</div>

          {% include "partials/_techs.html" %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
