<section class="section s-hero" id="hero">
  <div class="container container--lg" id="js-anim-container">
    <div id="threespinner"></div>
    <div id="" class="s-hero__animation"></div>

    <div class="hero">
      <div class="hero__slogan-wrap">
        <div class="hero__slogan">{{ pagesPieceOfTexts.hero__slogan | safe }}</div>

        {% if pages[pageKey].pageStatistics.eventStats %}
        <div class="hero__info">
          {{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
        </div>
        {% endif %}
      </div>

      <div class="hero__date">{{ pagesPieceOfTexts.hero__dateAlt | safe if inPerson else pagesPieceOfTexts.hero__date | safe }}</div>
      <div class="hero__title">{{ pagesPieceOfTexts.hero__titleAlt | safe if inPerson else pagesPieceOfTexts.hero__title | safe }}</div>

      {% if not hideHeroCtas %}
      {% include "partials/_hero-buttons.html" %}
      {% endif %}

    </div>
  </div>
</section>