<section class="section s-hero" id="hero">
  <div class="container container--lg" id="js-anim-container">
    <div id="threespinner"></div>
    <div id="" class="s-hero__animation"></div>

    <div class="hero">
      <div class="hero__slogan-wrap">
        <div class="hero__slogan">{{ pagesPieceOfTexts.hero__slogan | safe }}</div>

        {% if pages[pageKey].pageStatistics.eventStats %}
          {{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
        {% endif %}
      </div>

      <div class="hero__date">{{ pagesPieceOfTexts.hero__dateAlt | safe if inPerson else pagesPieceOfTexts.hero__date | safe }}</div>
      <div class="hero__title">{{ pagesPieceOfTexts.hero__titleAlt | safe if inPerson else pagesPieceOfTexts.hero__title | safe }}</div>

      {% if not hideHeroCtas %}
        <div class="hero__buttons">
          {% if pages[pageKey].pageStatistics.heroWatch2 %}
            <a class="hero__ticket-btn btn js-btn-1 is-hidden" href="{{ pages[pageKey].pageStatistics.heroWatch2.buttonReserve.link }}">{{ pages[pageKey].pageStatistics.heroWatch2.buttonReserve.text }}</a>
            <a class="hero__ticket-btn btn js-btn-2 is-hidden" href="{{ pages[pageKey].pageStatistics.heroWatch2.buttonWatch.link }}" onclick={{ eventsLayer.openDialog({name: 'watch-livestream' , values: 'text:' + pages.main.pageStatistics.heroWatchPaid.text + ';' , category: 'hero-btn-click' , isAuth: not fakeLinks }) }}>{{ pages[pageKey].pageStatistics.heroWatch2.buttonWatch.text }}</a>
            <a class="hero__ticket-btn btn js-btn-3 is-hidden" href="{{ pages[pageKey].pageStatistics.heroWatch2.buttonMultipass.link }}">{{ pages[pageKey].pageStatistics.heroWatch2.buttonMultipass.text }}</a>
          {% endif %}
          {% if pages[pageKey].pageStatistics.heroRecordings %}
            <a class="hero__recordings-btn btn btn--white js-rec-1 is-hidden" href="{{ pages[pageKey].pageStatistics.heroRecordings.buttonPrevYear.link }}">
              {{ pages[pageKey].pageStatistics.heroRecordings.buttonPrevYear.text }}
            </a>
            <a class="hero__recordings-btn btn btn--white js-rec-2 is-hidden" href="{{ pages[pageKey].pageStatistics.heroRecordings.buttonThisYear.link }}">
              {{ pages[pageKey].pageStatistics.heroRecordings.buttonThisYear.text }}
            </a>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
</section>
