<section class="section s-hero" id="hero">
  <div class="container container--lg" id="js-anim-container">
    <div id="threespinner"></div>
    <div id="" class="s-hero__animation"></div>

    <div class="hero">
      <div class="hero__slogan-wrap">
        <div class="hero__slogan">{{ pagesPieceOfTexts.hero__slogan | safe }}</div>

        {% if pages[pageKey].pageStatistics.eventStats %}
          {{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
        {% endif %}
      </div>

      <div class="hero__date">{{ pagesPieceOfTexts.hero__dateAlt | safe if inPerson else pagesPieceOfTexts.hero__date | safe }}</div>
      <div class="hero__title">{{ pagesPieceOfTexts.hero__titleAlt | safe if inPerson else pagesPieceOfTexts.hero__title | safe }}</div>

      {% if not hideHeroCtas %}
        <div class="hero__buttons">
            <!-- First button -->

            <a class="hero__ticket-btn btn js-btn-1 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtonsDaysbefore.heroMainCTA.link }}" onclick={{ eventsLayer.openDialog({name: 'watch-livestream' , values: 'text:' + pages.main.pageStatistics.heroWatchPaid.text + ';' , category: 'hero-btn-click' , isAuth: not fakeLinks }) }}>{{ pages[pageKey].pageStatistics.heroButtonsDaysbefore.heroMainCTA.text }}</a>

            <a class="hero__ticket-btn btn js-btn-2 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtonsDuringConf.heroMainCTA.link }}" onclick={{ eventsLayer.openDialog({name: 'watch-livestream' , values: 'text:' + pages.main.pageStatistics.heroWatchPaid.text + ';' , category: 'hero-btn-click' , isAuth: not fakeLinks }) }}>{{ pages[pageKey].pageStatistics.heroButtonsDuringConf.heroMainCTA.text }}</a>

            <a class="hero__ticket-btn btn js-btn-3 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtonsWeekAfterConf.heroMainCTA.link }}">{{ pages[pageKey].pageStatistics.heroButtonsWeekAfterConf.heroMainCTA.text }}</a>

            <a class="hero__ticket-btn btn js-btn-4 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtonsAfterConf.heroMainCTA.link }}">{{ pages[pageKey].pageStatistics.heroButtonsAfterConf.heroMainCTA.text }}</a>

            <a class="hero__ticket-btn btn js-btn-default " href="{{ pages[pageKey].pageStatistics.heroButtons.heroMainCTA.link }}">{{ pages[pageKey].pageStatistics.heroButtons.heroMainCTA.text }}</a>


            <!-- Second button -->
            <a class="hero__recordings-btn btn btn--white js-btn-1 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtonsDaysbefore.heroSecondaryCTA.link }}">
              {{ pages[pageKey].pageStatistics.heroButtonsDaysbefore.heroSecondaryCTA.text }}
            </a>

            <a class="hero__recordings-btn btn btn--white js-btn-2 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtonsDuringConf.heroSecondaryCTA.link }}">
              {{ pages[pageKey].pageStatistics.heroButtonsDuringConf.heroSecondaryCTA.text }}
            </a>

            <a class="hero__recordings-btn btn btn--white js-btn-3 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtonsWeekAfterConf.heroSecondaryCTA.link }}">
              {{ pages[pageKey].pageStatistics.heroButtonsWeekAfterConf.heroSecondaryCTA.text }}
            </a>

            <a class="hero__recordings-btn btn btn--white js-btn-4 is-hidden" href="{{ pages[pageKey].pageStatistics.heroButtonsAfterConf.heroSecondaryCTA.link }}">
              {{ pages[pageKey].pageStatistics.heroButtonsAfterConf.heroSecondaryCTA.text }}
            </a>

            <a class="hero__recordings-btn btn btn--white js-btn-default" href="{{ pages[pageKey].pageStatistics.heroButtons.heroSecondaryCTA.link }}">
              {{ pages[pageKey].pageStatistics.heroButtons.heroSecondaryCTA.text }}
            </a>

        </div>
      {% endif %}

    </div>
  </div>
</section>
