<section class="section s-location" id="location">
  <div class="location">
    <div class="location__slider swiper-container location-slider js-slider">
      <h3 class="section__title container">{{ pagesPieceOfTexts.location__title | safe }}</h3>
      <div class="swiper-wrapper">
        {% for slide in pages[pageKey].pageSections.locationSlider %}
        <div class="location-slider__item swiper-slide">
          <img src="{{ slide.img }}" title="{{ slide.title }}">
          <div class="location-slider__content container">
            <div class="location-slider__title">{{ slide.title | safe }}</div>
            <div class="location-slider__desc">{{ slide.descr | safe }}</div>

            <div class="location-slider__bottom">
              <div class="location-slider__address">{{ slide.address | safe }}</div>
              <a target="_blank" class="location-slider__map-link" href="{{ slide.mapLink | safe }}">{{ slide.mapText | safe }}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% if pages[pageKey].pageSections.locationSlider.length >= 2 %}
      <div class="location-slider__nav">
        <div class="js-slider-prev">{{mixins.icon('arrow_l')}}</div>
        <div class="js-slider-next">{{mixins.icon('arrow_r')}}</div>
      </div>
      {% endif %}
    </div>
    <div class="location__map">
      <div id="map"></div>

      <script>
        function initMap() {
          var mapDiv = document.getElementById('map');

          var map = new google.maps.Map(mapDiv, {
            center: {lat: 51.520785, lng: -0.101434},
            zoom: 16,
            scrollwheel: false,
            disableDefaultUI: true
          });

          var markerImage = new google.maps.MarkerImage('img/marker.svg',
            new google.maps.Size(225, 255),
            new google.maps.Point(0, 0),
            new google.maps.Point(112, 112)
          );

          if (window.innerWidth > 1280) {
            map.setCenter(new google.maps.LatLng(51.520785, -0.101434));
          } else if (window.innerWidth > 1024) {
            map.setCenter(new google.maps.LatLng(51.520894, -0.098490));
          } else if (window.innerWidth > 890) {
            map.setCenter(new google.maps.LatLng(51.520894, -0.097090));
          } else if (window.innerWidth > 768) {
            map.setCenter(new google.maps.LatLng(51.518894, -0.091490));
          } else {
            map.setCenter(new google.maps.LatLng(51.520894, -0.091490));
          }

          google.maps.event.addDomListener(window, 'resize', function() {
            if (window.innerWidth > 1280) {
              map.setCenter(new google.maps.LatLng(51.520785, -0.101434));
            } else if (window.innerWidth > 1024) {
              map.setCenter(new google.maps.LatLng(51.520894, -0.098490));
            } else if (window.innerWidth > 890) {
              map.setCenter(new google.maps.LatLng(51.520894, -0.097090));
            } else if (window.innerWidth > 768) {
              map.setCenter(new google.maps.LatLng(51.518894, -0.091490));
            } else {
              map.setCenter(new google.maps.LatLng(51.520894, -0.091490));
            }
          });

          var styles = [
            {
              "featureType": "all",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "saturation": 36
                },
                {
                  "color": "#000000"
                },
                {
                  "lightness": 40
                }
              ]
            },
            {
              "featureType": "all",
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "visibility": "on"
                },
                {
                  "color": "#000000"
                },
                {
                  "lightness": 16
                }
              ]
            },
            {
              "featureType": "all",
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "administrative",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#000000"
                },
                {
                  "lightness": 20
                }
              ]
            },
            {
              "featureType": "administrative",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#000000"
                },
                {
                  "lightness": 17
                },
                {
                  "weight": 1.2
                }
              ]
            },
            {
              "featureType": "landscape",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#000000"
                },
                {
                  "lightness": 20
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#000000"
                },
                {
                  "lightness": 25
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "labels.icon",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "lightness": -45
                },
                {
                  "visibility": "on"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#000000"
                },
                {
                  "lightness": 17
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#000000"
                },
                {
                  "lightness": 29
                },
                {
                  "weight": 0.2
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#000000"
                },
                {
                  "lightness": 18
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#000000"
                },
                {
                  "lightness": 16
                }
              ]
            },
            {
              "featureType": "transit",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#000000"
                },
                {
                  "lightness": 19
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#000000"
                },
                {
                  "lightness": 17
                }
              ]
            }
          ];
          var marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(51.520894, -0.091490),
            title: '{{ pagesPieceOfTexts.location__addressTitle }}',
            icon: markerImage
          });

          map.setOptions({styles: styles});
        }
      </script>

      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9OZ9xKEBkeoBw6hPjPzz13i0hZbT2LOs&callback=initMap" type="text/javascript"></script>
    </div>
  </div>
</section>