.sec-event
	overflow: hidden
	background-color: #000

	&__bg
		position: absolute
		top: 0
		left: 50%
		transform: translate(-50%, 0)
		height: 1112px
		width: 1700px
		background: url('../img/event-bg2.webp') no-repeat top center
		background-size: cover
		pointer-events: none
		z-index: -1
		-webkit-mask-image: linear-gradient(to right, transparent 0, #000 200px, #000 calc(100% - 200px), transparent 100%)
		mask-image: linear-gradient(to right, transparent 0, #000 200px, #000 calc(100% - 200px), transparent 100%)

	&__head
		--section-label-color: #fff
		position: relative
		margin-bottom: 80px
		+md
			margin-bottom: 52px
		&:before
			width: 224px
			white-space: pre-line
			position: absolute
			left: 0
			top: 0
			+md
				position: static
				margin-bottom: 52px

		.section__title
			color: var(--accentColor)
			font-size: clamp(36px, 5.646vw, 90px)
			text-indent: 264px
			+md
				text-indent: 0

	&__text
		font-size: 16px
		line-height: 1.4
		letter-spacing: -0.02em
		color: var(--colorWhite)
		max-width: 600px
		margin-left: calc(50% + 16px)
		position: relative
		padding-left: 36px
		+md
			margin-left: 0
		&:before
			content: '//'
			position: absolute
			left: 0
			top: 0
			color: var(--accentColor)

		+md
			font-size: 14px
		+sm
			font-size: 12px

	&__topics
		margin-top: 180px
		+md
			margin-top: 132px

.partnership-banner
	display: flex
	align-items: center
	border-radius: 16px
	background: #0D0D0D
	padding: 40px
	min-height: 166px
	justify-content: center
	gap: 60px
	margin: 16px auto 0

	+sm
		gap: 32px
		min-height: auto
	+xs
		padding: 20px 16px
		gap: 20px

	&__logo
		width: 40%
		display: flex
		align-items: center
		flex-direction: column
		justify-content: center
		flex: none
		img
			max-width: 100%
			max-height: 100px
			+xs
				max-width: 90%

	&__caption
		font-size: 12px
		text-align: center
		color: #fff
		margin-top: 12px
		+sm
			margin-top: 12px
			font-size: 10px

	&__text
		color: $white
		font-size: 16px
		flex: 1
		line-height: 1.4
		letter-spacing: -0.32px
		+sm
			font-size: 14px
			line-height: 1.3
		+xs
			text-align: left
			font-size: 12px
	&__link
		margin-top: 10px
		a
			color: var(--accentColor)
			text-decoration: underline
			&:hover
				text-decoration: none
