.sec-topics

  .section__head
    margin-bottom: 68px
    +sm
      margin-bottom: 30px
  .section__text
    margin-top: 147px
    +laptop
      margin-top: 100px
    +md
      margin-top: 45px

.techs
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 24px
  +tablet
    grid-template-columns: repeat(2,1fr)
  +sm
    gap: 16px
    grid-template-columns: 1fr

  &__item
    display: flex
    flex-direction: column
    border: 1px solid var(--colorGray200)
    border-radius: 12px
    padding: 64px
    background: var(--colorWhite)
    position: relative
    z-index: 2
    +xxl
      padding: 40px
    +md
      padding: 34px

    +xxxs
      padding: 24px
    &--more
      border: none
      position: relative
      z-index: 1
      padding-left: 0 !important
      padding-right: 0 !important
      min-height: 335px
      +rmin(768)
        &:nth-child(3n + 4)
          display: none
      &:before
        content: ''
        position: absolute
        top: calc(50% - 25px)
        left: 0px
        transform: translate(0,-50%)
        background: url('../img/tech-more-bg.svg') no-repeat center
        background-size: contain
        width: calc(100% + 120px)
        height: calc(100% + 200px)
        z-index: -1

        +sm
          height: calc(100% + 170px)
          left: -50px

      .techs__title
        font-size: 54px
        letter-spacing: -1.28px
        line-height: .9
        text-transform: uppercase
        font-family: var(--ff-msw)
        max-width: 282px
        margin: auto

  &__link
    text-decoration: none
    color: $black
    transition: color .1s

    &:hover
      text-decoration: underline
      color: $themeColor

  &__img-box
    height: 80px
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: 60px

    +xxl
      margin-bottom: 40px
      height: 64px
    +sm
      margin-bottom: 30px

    picture
      display: block
      height: 100%
    img
      max-height: 100%

  &__title
    font-size: 32px
    font-weight: 500
    letter-spacing: -0.64px

    line-height: 1.1
    +xxl
      font-size: 26px
    +sm
      font-size: 24px

  &__text
    font-size: 16px
    letter-spacing: -0.3px
    margin-top: 20px
    line-height: 1.1

    ul
      list-style-type: none

      li
        margin-bottom: 1px
        padding-left: 20px
        position: relative
        &:last-child
          margin-bottom: 0
        &:before
          content: '— '
          position: absolute
          left: 0
          top: 0

.techs-scroller
  display: flex
  margin-top: 80px !important
  +md
    margin-top: 50px !important
  &:not([data-animated="true"])
    @extend .container

  &[data-animated="true"]
    overflow: hidden
    +rmin(1921)
      mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent)
      max-width: calc(1920px - 160px)
      margin-left: auto
      margin-right: auto

    .techs-scroller__list
      flex-wrap: nowrap
      width: max-content
      animation: scroll 30s forwards linear infinite

  &__list
    --gap-x: 120px
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 40px var(--gap-x)
    +sm
      --gap-x: 68px
      gap: 20px var(--gap-x)
    li
      flex-shrink: 0
      img, svg
        max-width: 360px
        max-height: 64px
        +sm
          max-width: 260px

@keyframes scroll
  to
    transform: translate(calc(-50% - (var(--gap-x) / 2)))
