/* Fonts
-----------------------------------------------------------------------------*/

@font-face {
	font-family: "SF UI Display";
	src:url(../fonts/sfuidisplay-light-webfont.woff2) format("woff2"),
		url(../fonts/sfuidisplay-light-webfont.woff) format("woff");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "SF UI Display";
	src:url(../fonts/sfuidisplay-regular-webfont.woff2) format("woff2"),
		url(../fonts/sfuidisplay-regular-webfont.woff) format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "SF UI Display";
	src:url(../fonts/sfuidisplay-medium-webfont.woff2) format("woff2"),
		url(../fonts/sfuidisplay-medium-webfont.woff) format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "SF UI Display";
	src:url(../fonts/sfuidisplay-bold-webfont.woff2) format("woff2"),
		url(../fonts/sfuidisplay-bold-webfont.woff) format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "SF UI Display";
	src:url(../fonts/sfuidisplay-heavy-webfont.woff2) format("woff2"),
		url(../fonts/sfuidisplay-heavy-webfont.woff) format("woff");
	font-style: normal;
	font-weight: 900;
}