.bonus-offer__title
	font-size: 32px
	font-weight: 700
	line-height: 1.2

	+sm
		font-size: 24px

.bonus-offer__text
	font-size: 16px
	line-height: 1.4
	margin-top: 16px
	+sm
		font-size: 14px

.bonus-offer
	.dialog__btn
		margin-top: 24px
