.price-increase
	position: fixed
	bottom: 0
	left: 0
	right: 0
	z-index: 30
	background: var(--price-increase-bg, #0C0C0C)
	color: var(--price-increase-color, #fff)
	padding: 16px 0
	border-top: 1px solid var(--price-increase-border, rgba(255,255,255,0.25))
	font-family: GothamPro, Arial, Helvetica, sans-serif

	&__items
		height: 48px

	&__wrap
		display: flex
		align-items: center
		gap: 16px 40px
		+laptop
			gap: 16px 28px
		+tablet
			flex-wrap: wrap
			justify-content: center
		+sm
			gap: 8px 24px
			flex-direction: column

	&__title
		font-size: 18px
		font-weight: 500
		line-height: 1.2
		text-align: left
		letter-spacing: -0.2px
		text-transform: uppercase
		flex: 1

		+tablet
			width: 100%
			order: -1
			flex: auto
			text-align: center

			br
				display: none
		+sm

			font-size: 16px
			margin-left: auto
			margin-right: auto

		+xxs
			font-size: 14px

	&__button
		flex: none
		display: flex
		justify-content: center
		gap: 8px
		+tablet
			max-width: none
			width: 100%
		+sm
			margin-top: 8px

		.btn
			min-width: 180px
			height: 52px
			min-height: auto
			font-size: 14px
			max-width: 240px
			line-height: 1.2
			padding-inline: 24px
			flex: 1
			+sm
				height: 48px
				min-width: 240px
				font-size: 12px
				min-width: auto
				padding-inline: 16px

	&__close
		position: absolute
		top: 5px
		right: 5px
		width: 20px
		height: 20px
		z-index: 8
		cursor: pointer
		background: none
		span
			position: absolute
			left: 50%
			top: 50%
			width: 20px
			height: 1px
			background: var(--price-increase-color, #fff)

			&:nth-child(1)
				transform: translate(-50%, -50%) rotate(45deg)

			&:nth-child(2)
				transform: translate(-50%, -50%) rotate(-45deg)

.timer
	display: flex
	gap: 5px
	align-items: center
	color: var(--price-increase-color, #fff)
	&__item
		width: 62px
		text-align: center
		+laptop
			width: 58px
	&__separator
		border-right: 1px solid var(--price-increase-color, #fff)
		opacity: 0.1
		height: 32px
		flex: none
	&__nums
		font-size: 26px
		font-weight: 600
		line-height: 32px
		overflow: hidden
		+sm
			font-size: 20px
	&__title
		font-size: 12px
