.price-increase
	position: fixed
	bottom: 0
	left: 0
	right: 0
	z-index: 30
	background: var(--price-increase-bg, #0C0C0C)
	color: var(--price-increase-color, #fff)
	padding: 16px 0
	border-top: 1px solid var(--price-increase-border, rgba(255,255,255,0.25))
	font-family: GothamPro, Arial, Helvetica, sans-serif
	+tablet
		padding: 12px 0

	&__wrap
		display: grid
		grid-template-columns: auto 1fr auto
		align-items: center
		gap: 16px 40px
		+laptop
			gap: 16px 28px
		+md
			gap: 8px 20px
		+sm
			grid-template-columns: auto 1fr

	&__items
		height: 48px
		margin-left: -8px
		+sm
			grid-column: 1/2

	&__title
		font-size: 18px
		font-weight: 500
		line-height: 1.2
		text-align: left
		letter-spacing: -0.2px
		text-transform: uppercase
		flex: 1
		+r(1320)
			font-size: 16px
		+tablet
			font-size: 14px
		+md
			text-transform: none

			br
				display: none
		+sm
			grid-column: 2/3
			br
				display: block
		+xs
			font-size: 12px
			br
				display: none
	&__button
		flex: none
		display: flex
		justify-content: center
		gap: 8px
		padding-right: 10px

		+sm
			margin-top: 8px
			max-width: none
			width: 100%
			padding-right: 0
			grid-column: span 2

		.btn
			min-width: 180px
			height: 52px
			min-height: auto
			font-size: 14px
			max-width: 200px
			line-height: 1.2
			padding-inline: 24px
			flex: 1

			+r(1320)
				height: 48px
				font-size: 12px
				min-width: auto
				padding-inline: 16px
			+md
				max-width: 150px
			+sm
				max-width: none
	&__close
		position: absolute
		top: 5px
		right: 5px
		width: 20px
		height: 20px
		z-index: 8
		cursor: pointer
		background: none
		span
			position: absolute
			left: 50%
			top: 50%
			width: 20px
			height: 1px
			background: var(--price-increase-color, #fff)

			&:nth-child(1)
				transform: translate(-50%, -50%) rotate(45deg)

			&:nth-child(2)
				transform: translate(-50%, -50%) rotate(-45deg)

.timer
	display: flex
	gap: 5px
	align-items: center
	color: var(--price-increase-color, #fff)
	li
		&:last-child, &:nth-last-child(2)
			+xs
				display: none
	&__item
		width: 62px
		text-align: center
		+laptop
			width: 58px
		+tablet
			width: 48px
		+md
			width: 40px

	&__separator
		border-right: 1px solid var(--price-increase-color, #fff)
		opacity: 0.1
		height: 32px
		flex: none
	&__nums
		font-size: 26px
		font-weight: 600
		line-height: 32px
		overflow: hidden
		+tablet
			font-size: 24px
		+md
			font-size: 20px

	&__title
		font-size: 12px
		+md
			font-size: 10px
