
.s-testimonials
	.section__title
		text-wrap: balance
		font-size: 20px
		font-weight: 500
		text-align: center
.testimonials
	overflow: visible
	&__item
		border-radius: 24px
		border: 1px solid var(--testimonials-border, #D4D4D4)
		background: var(--testimonials-bg, #F4F4F4)
		width: 413px
		overflow: hidden
		padding: 48px 40px
		display: flex
		flex-direction: column
		gap: 28px
		+sm
			width: 310px
			padding: 40px 32px

		.icon
			color: var(--testimonials-role, #7D7D7D)
			font-size: 32px
			display: block
			margin-inline: auto
	&__text
		font-size: 24px
		font-weight: 500
		line-height: 1.2
		text-align: center
		+sm
			font-size: 20px
	&__author
		display: flex
		align-items: center
		gap: 20px
		max-width: 100%
		width: max-content
		margin: 0 auto
		&-photo

			height: 56px
			width: 56px
			flex: none
			border-radius: 50%
			overflow: hidden
			display: block
			img
				height: 100%
				object-fit: cover
				width: 100%

		&-name
			font-size: 20px
			line-height: 1
			font-weight: 600
			+sm
				font-size: 18px

		&-role
			font-size: 14px
			font-weight: 500
			color: #7D7D7D
			margin-top: 8px
			line-height: 1.2
			max-width: 180px
