.event
	position: relative
	background: $black

	.section
		&__title
			font-size: clamp(30px, 4vw, 60px)
			max-width: 960px
			letter-spacing: 0
			font-weight: 800
			margin: 0 auto clamp(28px, 3.4vw, 42px)
			line-height: 1.08

	&__video
		display: none

	&__tip
		font-size: 20px
		text-align: center
		text-transform: uppercase
		font-weight: 700
		max-width: 620px
		letter-spacing: 0.03em
		margin: clamp(40px, 3.4vw, 42px) auto 0
		line-height: 1.36

		a
			color: #51C3B6
			text-transform: none
			text-decoration: underline

			&:hover
				text-decoration: none

	&__suptitle
		text-align: center
		font-size: 33px
		max-width: 620px
		letter-spacing: 0.4px
		line-height: 1.4
		margin: 0 auto 44px

	&__title
		margin: 24px auto 42px
		letter-spacing: 0.01em
		text-align: center
		font-size: 94px
		+black
		line-height: 1.0
		text-transform: uppercase
		background: -webkit-linear-gradient(120deg,$themeColor,$themeColorD)
		-webkit-background-clip: text
		-webkit-text-stroke: 5px transparent
		color: #161917

	&__text
		font-size: 18px
		text-align: center
		max-width: 720px
		letter-spacing: 0.03em
		margin: clamp(16px, 2.4vw, 24px) auto 0
		color: rgba(255,255,255, 0.6)
		line-height: 1.36

		p

			&:not(:first-child)
				margin: 12px 0 0

			+first
				margin: 0

		+md

			font-size: 17px
			max-width: 100%
			line-height: 1.5
		+sm
			font-size: 15px
			padding: 0
			margin: 0
			line-height: 1.42
		+xs
			a
				display: block
	&__items
		display: flex
		margin: 72px 0 62px
		justify-content: center
		flex-wrap: wrap
		justify-content: center
		+tablet
			margin: 64px 0
		+sm
			flex-direction: column
			align-items: center
			flex-wrap: wrap
			justify-content: space-between

	&__item
		display: flex
		justify-content: center
		margin: 0 5px 10px
		+sm
			margin: 10px 0 0
			max-width: 300px
			justify-content: center
			align-items: flex-start
			width: 100%

	&__techs-title
		font-size: 20px
		text-transform: uppercase
		margin: clamp(62px, 9vw, 128px) auto clamp(22px, 6vw, 32px)
		text-align: center
		font-weight: 700

.e-item
	flex: 1 1 auto
	text-decoration: none
	text-align: center
	color: $white
	display: flex
	flex-direction: column
	background: #131513
	border: 1px solid #2c302d
	+hover
		.e-item__footer
			text-decoration: none
	&__header
		color: #525252
		text-transform: uppercase
		font-size: 14px
		background-color: #131513
		padding: 32px 10px 6px
		position: relative
		border-bottom: 4px dotted #131614

	&__content
		background-color: #131513
		padding: 24px 0 42px
		border-radius: 0 0 8px 8px
		flex-grow: 1
		display: flex
		flex-direction: column
		+tablet
			padding: 23px 0 31px
	&__date
		+medium
		font-size: 60px
		padding: 0 45px
		line-height: 1
		margin-bottom: 36px
		+tablet
			padding: 0 25px
		+sm
			font-size: 46px
			margin-bottom: 26px
		+xs
			margin-bottom: 20px
	&__footer
		font-size: 18px

		a.e-item &
			text-decoration: underline

		a
			color: $white

		br
			display: none
		+tablet
			font-size: 16px

a.e-item:hover
	.e-item__footer
		text-decoration: none
