.event
	position: relative
	background: $black
	z-index: 1
	overflow: hidden

	.section
		&__title
			font-size: clamp(30px, 4vw, 60px)
			max-width: 960px
			letter-spacing: 0
			font-weight: 800
			margin: 0 auto clamp(28px, 3.4vw, 42px)
			line-height: 1.08
	&__bg
		position: absolute
		top: -130px
		left: 50%
		transform: translateX(-50%)
		width: 2033px
		aspect-ratio: 1/0.42
		background: url('../img/event-head-bg.svg') no-repeat center
		background-size: contain
		z-index: -1
		pointer-events: none
		display: block
		opacity: 0.4
		+laptop
			width: 120vw
			min-width: 630px
			top: -100px
		+md
			top: -20px
		+sm
			top: 20px
		&:after, &:before
			content: ''
			position: absolute
			width: 772px
			aspect-ratio: 1/1
			border-radius: 50%
			filter: blur(120px)
			z-index: -2
			+tablet
				width: 500px
				filter: blur(80px)
			+sm
				width: 300px
				filter: blur(50px)
		&:after
			top: 0
			right: 0
			background: rgba(158, 105, 198, 0.20)
			transform: translate(50%,-50%)
			+sm
				right: 16vw
		&:before
			bottom: 0
			left: 0
			background: rgba(114, 105, 198, 0.20)
			transform: translate(-50%,50%)
			+sm
				left: 16vw

	&__video
		display: none

	&__tip
		font-size: 20px
		text-align: center
		text-transform: uppercase
		font-weight: 700
		max-width: 620px
		letter-spacing: 0.03em
		margin: clamp(40px, 3.4vw, 42px) auto 0
		line-height: 1.36

		a
			color: #51C3B6
			text-transform: none
			text-decoration: underline

			&:hover
				text-decoration: none

	&__suptitle
		text-align: center
		font-size: 33px
		max-width: 620px
		letter-spacing: 0.4px
		line-height: 1.4
		margin: 0 auto 44px
	&__head
		max-width: 910px
		margin-left: auto
		margin-right: auto
		display: flex
		flex-direction: column
		gap: 72px
		+tablet
			gap: 60px
		+md
			gap: 40px

	&__title

		letter-spacing: -0.01em
		text-align: center
		font-size: 64px
		font-weight: 700
		line-height: 1.1
		text-transform: capitalize
		+tablet
			font-size: 48px
		+sm
			font-size: 36px

	&__text
		font-size: 18px
		text-align: center
		font-weight: 500
		color: rgba(255,255,255, 0.8)
		line-height: 1.2
		+sm
			font-size: 16px
		p:not(:last-child)
			margin-bottom: 20px

	&__items
		display: flex
		margin: 72px 0 62px
		justify-content: center
		flex-wrap: wrap
		justify-content: center
		+tablet
			margin: 64px 0
		+sm
			flex-direction: column
			align-items: center
			flex-wrap: wrap
			justify-content: space-between

	&__item
		display: flex
		justify-content: center
		margin: 0 5px 10px
		+sm
			margin: 10px 0 0
			max-width: 300px
			justify-content: center
			align-items: flex-start
			width: 100%

	&__techs
		margin-top: 160px
		+md
			margin-top: 120px
		+sm
			margin-top: 90px
		&-title
			font-size: 48px
			text-transform: capitalize
			margin-bottom: 48px
			text-align: center
			font-weight: 700
			max-width: 550px
			margin-inline: auto
			+md
				font-size: 40px
			+sm
				font-size: 28px

.partnership-banner
	display: flex
	align-items: center
	border-radius: 16px
	background: #0F0F18
	padding: 30px
	width: 100%
	max-width: 100%
	min-height: 166px
	justify-content: center
	gap: 60px
	margin: 24px auto 0
	+sm
		gap: 30px
	+xs
		flex-direction: column
		padding: 30px 20px
		text-align: center
	&__logo
		width: 44%
		display: flex
		align-items: center
		flex-direction: column
		justify-content: center
		flex: none
		+xs
			width: 100%
		img
			max-width: 100%
			max-height: 100px
	&__caption
		font-size: 12px
		text-align: center
		color: #fff
		margin-top: 12px
	&__text
		color: $white
		font-size: 18px
		flex: 1
		line-height: 1.4
		letter-spacing: -0.36px
		+xs
			font-size: 16px
	&__link
		margin-top: 10px
		a
			color: #51c3b6
			text-decoration: underline
			&:hover
				text-decoration: none
