.s-full-ticket
	border-bottom: 1px solid $gray3

	+tablet
		border-bottom: 1px solid $gray

	&__landing-links
		margin-top: 50px

.full-ticket
	display: flex
	margin: 0
	display: grid
	grid-template-columns: repeat(3, 1fr)
	gap: 1px
	flex-wrap: wrap

	+md
		grid-template-columns: repeat(2, 1fr)
		margin: 0
		flex-wrap: wrap

	+xs
		margin: 0

	+xxs
		grid-template-columns: repeat(1, 1fr)
		margin: 0

	&__item
		position: relative
		display: flex
		flex: 1 0
		flex-direction: column
		justify-content: center
		font-size: 16px
		line-height: 1.28
		padding: 40px 30px
		min-height: 250px
		width: 100%
		background: $black
		color: $white

		&.full-width
			min-width: 100%
			grid-area: 1 / 1 / 2 / 3

			+xxs
				grid-area: auto
				width: 100%
				min-width: 300px

		+md
			padding: 15px
			min-height: 250px
			min-width: calc(50% - 10px)

		+sm
			margin: 0 auto
			flex: 1 1 calc(50% - 10px)
			min-height: 250px

		+xxs
			width: 100%

		&:hover
			.full-ticket
				&__bg
					opacity: 0.2

	a.full-ticket__item
		text-decoration: underline

		&:hover
			text-decoration: none

	&__left
		display: flex
		flex-direction: column

	&__bg
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		background-position: center center
		background-size: cover
		opacity: 0
		transition: all ease 0.1s

	&__title
		position: relative
		+bold
		font-size: 32px
		line-height: 1.2
		font-weight: 700
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		margin: 20px 0 20px
		min-height: 48px
		z-index: 1
		order: 1
		+tablet
			font-size: 24px

	&__img-wrap
		position: relative
		width: 100%
		height: 64px
		margin: 0 auto
		z-index: 1
		order: 0

		+md
			margin-top: 20px

	&__img
		display: block
		height: 100%
		width: auto
		margin: 0 auto

	&__desc
		position: relative
		display: flex
		font-size: 16px
		line-height: 1.42
		align-items: center
		justify-content: center
		margin: 0 auto 0
		text-align: center
		min-height: 46px
		max-width: 420px
		z-index: 1
		order: 1

		+md
			min-height: 60px
			font-size: 12px

	.btn
		@extend .btn--gradient
		display: flex
		align-items: center
		justify-content: center
		margin: auto

.landing-links
	display: grid
	grid-template-columns: 1fr 1fr
	gap: 20px 40px
	+sm
		grid-template-columns: 1fr
	&__title
		font-size: 24px
		+bold
		line-height: 1.2

	&__list
		list-style-type: disc
		display: flex
		flex-direction: column
		gap: 10px
		font-size: 18px
		padding-left: 18px
		line-height: 1.2
	&__link
		text-decoration: underline
		color: #fff
		font-size: 14px
		&:hover
			text-decoration: none
