.partnership-banner
	display: flex
	align-items: center
	border-radius: 16px
	background: #0F0F18
	padding: 30px
	width: 100%
	max-width: 100%
	min-height: 166px
	justify-content: center
	gap: 60px
	margin: 60px auto 0
	+sm
		gap: 30px
	+xs
		flex-direction: column
		padding: 30px 20px
		text-align: center
	&__logo
		width: 44%
		display: flex
		align-items: center
		justify-content: center
		flex: none
		+xs
			width: 100%
		img
			max-width: 100%
			max-height: 100px
	&__text
		color: $white
		font-size: 18px
		flex: 1
		line-height: 1.4
		letter-spacing: -0.36px
		+xs
			font-size: 16px
		& a
			display: block
			margin-top: 10px
			color: #ED995A
