.s-prices
	position: relative

	.section__title
		line-height: .9
		font-size: clamp(44px,8vw,48px)
		text-transform: uppercase
		font-weight: 900
		text-align: left
		margin-bottom: 50px
		+sm
			margin-bottom: 35px

.prices-item
	position: relative
	&__title
		p:first-child
			background: linear-gradient(266deg, #E19D65 0%, #B06AB3 50%, #4568DC 100%)
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent

.prices-promo--accent
	&:after
		background: #4568DC !important
