.sponsors

	background: linear-gradient(180deg, #000000 0%, #181818 90.72%)

	.section__title
		font-size: clamp(32px, 4vw, 64px)
		font-weight: 800
		margin-bottom: clamp(24px, 3vw, 38px)

	&__description
		max-width: 640px
		margin: 0 auto 62px
		+r(680)
			margin-bottom: 42px
		+r(480)
			margin-bottom: 30px
		p
			font-size: 20px
			line-height: 1.34
			text-align: center

			&:not(:last-child)
				margin-bottom: 18px
				+sm
					margin-bottom: 5px
			a
				text-transform: none
				font-weight: 700
				background: linear-gradient(90deg, #B974A0 0%, #7D7DC3 32.65%, #6BA7BE 62.24%, #A1AF7E 100%)
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent

	&__offer
		text-transform: uppercase
		margin: clamp(32px, 4vw, 64px) 0 0

		a
			display: inline-flex
			margin: 14px 0 0

.sponsors-block
	padding: 20px 0
	position: relative

	&:after
		content: ''
		position: absolute
		top: 0
		left: -1000px
		right: -1000px
		border-top: 1px solid $gray2

		&:last-child
			&:before
				border-bottom: 1px solid $gray2

	&__title
		font-size: 12px
		font-weight: 600
		margin-bottom: 20px
		opacity: 0.4

	&__list
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		margin: 0 -20px
		+sm
			margin: 0 -10px

	&__item
		text-align: center
		width: 100%

		+tablet
			display: flex
			justify-content: center

		+sm
			max-width: 230px

		& > a
			display: flex
			justify-content: center
			align-items: center
			transition: opacity 0.3s
			padding: 20px
			+sm
				padding: 10px

			&:hover
				opacity: 0.7

			picture
				display: block

			img
				display: block
				max-width: 100%
				transition: all ease 0.2s
				transform: translateY(0)
				opacity: 1
				height: auto

		&--w-info
			width: 100% !important
			max-width: 100% !important
			display: flex
			flex-direction: column
			align-items: center
			order: 1
	&__content
		max-width: 600px
		margin-left: auto
		margin-right: auto
		font-size: 12px
		line-height: 1.45
		+sm
			font-size: 10px
		a
			color: inherit
			text-decoration: underline
			&:hover
				text-decoration: none
		p:not(:last-child)
			margin-bottom: 10px
	&__subtitle
		font-weight: 600
		margin-bottom: 5px
	&.Platinum
		.sponsors-block__item
			width: 50%
			max-width: 50%
			+sm
				width: 100%
				max-width: 100%

	&.Gold
		.sponsors-block__item
			width: 33.33%
			max-width: 33.3%
			+xs
				width: 50%
				max-width: 50%

	&.Silver
		.sponsors-block__item
			width: 25%
			max-width: 25%

			+xs
				width: 33.3%
				max-width: 33.3%

	&.MediaPartner,
	&.Partner,
	&.TechPartner,
	&.EntertainmentPartner

		.sponsors-block__item
			width: 20%
			max-width: 20%

			+xs
				width: 25%
				max-width: 25%

	&_auto
		.sponsors-block__list
			justify-content: space-between

		.sponsors-block__item
			width: auto

			+sm
				width: 25%
			+xs
				width: 33.3%

			img
				max-width: 100%

			&:last-child
				margin: 0 auto 0 0
