.s-tweets
	padding: clamp(50px, 5vw, 100px) 0
	background: $black
	position: relative
	background: linear-gradient(180deg, #000000 0%, #181818 90.72%)
	border-bottom: 1px solid $gray

	.container
		max-width: 1090px

	.section
		&__title
			text-align: right
			font-size: clamp(32px, 5vw, 64px)
			font-weight: 800
			margin-bottom: clamp(34px, 5vw, 48px)
			line-height: 1.34

			strong
				color: #1D9BF0
				font-weight: 800

	&:before
		content: ''
		position: absolute
		left: 50%
		top: 40px
		transform: translateX(-50%)
		margin: 0 0 0 -524px
		width: 668px
		height: 538px
		background: url(../img/twitts-bg.svg) center center no-repeat
		background-size: cover

.tweets
	columns: 3
	column-gap: 64px

	+tablet
		column-gap: 32px

	+md
		columns: 2

	+xs
		columns: auto
		display: flex
		flex-direction: column
		align-items: center

	&__item
		display: inline-block
		width: 100%
		
		+xs
			max-width: 400px
			margin-bottom: 0

		iframe
			width: 100% !important