.c-form
	position: relative
	padding: clamp(50px, 5vw, 100px) 0

	.section__title
		font-size: clamp(32px, 6vw, 96px)
		line-height: 1.2
		margin-bottom: 55px
		+tablet
			margin-bottom: 37px
	.container

		max-width: 1020px
		+md
			padding: 0
		+xs
			padding: 0

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			height: 1px
			background: linear-gradient(270deg, rgba(187, 255, 0, 0) 0%, #BBFF00 50%, rgba(187, 255, 0, 0) 100%)
			opacity: 0.3

	&__inner
		position: relative
		padding: 0 35px
		display: flex
		flex-direction: column
		align-items: center

		&:after 
			content: ''
			position: absolute
			left: 15px
			top: 15px
			right: 15px
			bottom: 15px
			background: $mainBg
			z-index: -1

		+tablet
			padding: 55px 35px

		+md
			padding: 0 20px
			border: none
			clip-path: initial
			background: $mainBg

			&:after
				display: none
				clip-path: initial

	&__socials
		margin-bottom: 55px
		gap: 32px
		+tablet
			margin-bottom: 30px

		+sm
			gap: 12px
		.social 
			justify-content: center
		.social__item
			.icon
				width: 24px
				height: 24px
				fill: $black
				&-tw, &-fb, &-yb 
					width: 28px
					height: 28px

			&:not(:last-child)
				margin-right: 0

		.social__link
			display: flex
			width: 64px
			height: 64px
			align-items: center
			justify-content: center
			background: $themeColor
			clip-path: polygon(calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px), 0 0)

			&:hover, &:focus-visible
				background: #fff
				.icon
					fill: $black!important
			+sm 
				width: 52px
				height: 52px
				.icon
					width: 22px
					height: 22px
					
					&-tw, &-fb, &-yb 
						width: 26px
						height: 26px
	&__text
		line-height: 1.6
		max-width: 540px
		text-align: center
		+bold
		font-size: 14px
		margin-bottom: 42px
		+tablet
			margin-bottom: 38px

	&__form
		width: 100%
		max-width: 762px

	&__field
		position: relative
		width: 100%
		
		input
			+regular
			width: 100%
			display: block
			font-size: 18px
			color: $white
			background-color: #000
			padding: 23px 120px 23px 30px
			clip-path: polygon(calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px), 0 0)
			border-left: 1px solid transparent
			+placeholder-color($white)
			transition: border-color .3s ease
			&:focus
				border-left-color: #0f0
			&::placeholder
				transition: color .3s ease
			+tablet
				padding: 23px 120px 23px 30px
			+xs
				padding: 14px 80px 14px 20px


	&__submit
		display: flex
		align-items: center
		position: absolute
		right: 0
		top: 0
		bottom: 0
		padding: 0 20px
		align-items: center
		font-weight: 600
		background-color: transparent
		font-size: 14px
		text-transform: uppercase
		color: $themeColor
		background: $themeColor
		clip-path: polygon(calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px), 0 0)
		@extend .btn--border
		+xs
			font-size: 12px
			transform: none

		+xxs
			.icon
				margin: 0
			span
				display: none
			
		&:hover, &:focus-visible
			
			.icon
				fill: $black
				transform: translateX(5px)
		.icon
			transition: 0.3s
			margin-left: 13px
			fill: $themeColor
			font-size: 20px
