.c-form
	position: relative
	padding: 100px 0

	+laptop
	+md
		padding: 15px
		background: $themeColor
		clip-path: polygon(32px 0%, 0% 32px, 0% calc(50% - 96px), 22px calc(50% - 74px), 22px calc(50% + 74px), 0% calc(50% + 96px), 0% calc(100% - 32px), 32px 100%, calc(100% - 32px) 100%, 100% calc(100% - 32px), 100% calc(50% + 96px), calc(100% - 22px) calc(50% + 74px), calc(100% - 22px) calc(50% - 74px), 100% calc(50% - 96px), 100% 32px, calc(100% - 32px)  0%)

	.section__title
		letter-spacing: 1.3px
		margin-bottom: 55px
		+tablet
			margin-bottom: 37px
	.container
		+md
			padding: 0
		+xs
			padding: 0
	&__inner
		position: relative
		padding: 100px 35px
		display: flex
		flex-direction: column
		align-items: center
		background: $themeColor
		clip-path: polygon(32px 0%, 0% 32px, 0% calc(50% - 96px), 22px calc(50% - 74px), 22px calc(50% + 74px), 0% calc(50% + 96px), 0% calc(100% - 32px), 32px 100%, calc(100% - 32px) 100%, 100% calc(100% - 32px), 100% calc(50% + 96px), calc(100% - 22px) calc(50% + 74px), calc(100% - 22px) calc(50% - 74px), 100% calc(50% - 96px), 100% 32px, calc(100% - 32px)  0%)

		&:after 
			content: ''
			position: absolute
			left: 15px
			top: 15px
			right: 15px
			bottom: 15px
			background: $mainBg
			z-index: -1
			clip-path: polygon(24px 0%, 0% 24px, 0% calc(50% - 104px), 22px calc(50% - 82px), 22px calc(50% + 82px), 0% calc(50% + 104px), 0% calc(100% - 24px), 24px 100%, calc(100% - 24px) 100%, 100% calc(100% - 24px), 100% calc(50% + 104px), calc(100% - 22px) calc(50% + 82px), calc(100% - 22px) calc(50% - 82px), 100% calc(50% - 104px), 100% 24px, calc(100% - 24px)  0%)

		+tablet
			padding: 55px 35px

		+md
			padding: 40px 35px
			border: none
			clip-path: initial
			background: $mainBg
			clip-path: polygon(24px 0%, 0% 24px, 0% calc(50% - 104px), 22px calc(50% - 82px), 22px calc(50% + 82px), 0% calc(50% + 104px), 0% calc(100% - 24px), 24px 100%, calc(100% - 24px) 100%, 100% calc(100% - 24px), 100% calc(50% + 104px), calc(100% - 22px) calc(50% + 82px), calc(100% - 22px) calc(50% - 82px), 100% calc(50% - 104px), 100% 24px, calc(100% - 24px)  0%)

			&:after
				display: none
				clip-path: initial

	&__socials
		margin-bottom: 55px
		+tablet
			margin-bottom: 30px
		+sm

			.social__item
				svg
					font-size: 25px
				&:not(:last-child)
					margin-right: 20px
	&__text
		line-height: 1.6
		letter-spacing: 0.003em
		max-width: 540px
		text-align: center
		font-size: 18px
		margin-bottom: 42px
		+tablet
			font-size: 16px
			margin-bottom: 38px
	&__form
		width: 100%
		max-width: 762px
	&__field
		position: relative
		width: 100%
		&:hover
			input
				border-bottom-color: #0f0
		input
			+regular
			width: 100%
			display: block
			font-size: 22px
			color: $white
			background-color: #000
			padding: 20px 120px 20px 25px
			clip-path: polygon(calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px), 0 0)
			+placeholder-color($white)
			transition: border-color .3s ease
			&:hover, &:active, &:focus
				border-bottom-color: #0f0
			&::placeholder
				transition: color .3s ease
			+tablet
				font-size: 24px
				padding: 20px 120px 20px 20px
			+xs
				font-size: 16px
				padding: 12px 80px 14px 10px


	&__submit
		display: flex
		align-items: center
		position: absolute
		right: 0
		top: 0
		bottom: 0
		padding: 0 20px
		align-items: center
		font-weight: 600
		background-color: transparent
		font-size: 14px
		text-transform: uppercase
		color: $black
		background: $themeColor
		clip-path: polygon(calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px), 0 0)
		+xs
			font-size: 12px
			transform: none

		+xxs
			.icon
				margin: 0
			span
				display: none
			
		&:hover
			.icon
				transform: translateX(5px)
		.icon
			transition: 0.3s
			margin-left: 13px
			fill: $black
			font-size: 20px
