.giving-back
  position: relative
  padding: 70px 0 50px
  +laptop
    padding: 70px 0 40px
  .container
    max-width: 1040px

    &:before
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      height: 1px
      background: linear-gradient(270deg, rgba(187, 255, 0, 0) 0%, #BBFF00 50%, rgba(187, 255, 0, 0) 100%)
      opacity: 0.3

  .section
    &__title
      +bold
      font-size: clamp(32px, 4vw, 64px)
      margin-bottom: clamp(18px, 3vw, 28px)
  &__logos
    align-items: center
    flex-wrap: wrap
    display: flex
    justify-content: center
    margin: 0 0 25px

  &__logo
    width: 250px
    margin: 10px 15px

    +sm
      width: 160px

    img
      width: 100%

  &__text
    color: $gray
    font-size: 20px
    margin-bottom: 38px
    line-height: 1.36
    max-width: 880px

    +sm
      font-size: 14px
      margin-bottom: 32px
      line-height: 1.48

    p
      margin: 16px 0 0

  &__btns
    display: flex
    justify-content: center
    margin-top: 62px
    +xs
      display: block
      margin-top: 40px
    .btn
      height: 48px
      font-size: 16px
      +xs
        font-size: 14px

    .btn + .btn
      margin-left: 20px
      +xs
        margin-left: 0
        margin-top: 20px

  &__faces
    margin-top: 100px
    display: none
    +md
      margin-top: 50px
    +xs
      margin-top: 30px
      margin: 35px -250px -20px
    img
      width: 100%

  &__sponsor
    display: block
    margin: 72px auto 50px
    width: 294px
    max-width: 100%

.status-bar
  max-width: 800px
  margin: 0 auto

  &__title
    text-align: center
    font-size: 24px
    +bold
    font-weight: 500
    +xs
      font-size: 18px
      padding: 0 15px

  &__line
    width: 100%
    position: relative
    height: 8px
    max-width: 800px
    margin: 20px auto 20px
    background: $black

    +sm
      margin: 30px auto
      max-width: 504px
    +xs
      max-width: 406px
    +xxs
      max-width: 262px

  &__progress
    position: absolute
    left: 0
    height: 8px
    z-index: 1
    background: $themeColor
