.partnership-banner
  display: flex
  align-items: center
  background: #090908
  padding: 30px
  width: 100%
  max-width: 935px
  min-height: 166px
  justify-content: center
  gap: 120px
  margin: 60px auto 0
  +sm
    gap: 30px
    margin-top: 0
  +xs
    flex-direction: column
    padding: 30px 20px
  &__logo
    max-width: 250px
    max-height: 200px
  &__text
    color: $white
    font-size: 18px
    line-height: 1.4
    letter-spacing: -0.32px
    +xs
      font-size: 16px
    & a
      display: block
      margin-top: 10px
      color: #A6FF00