
.s-prices
  position: relative
  .container
    max-width: 1280px

.prices-swiper
  .swiper-slide
    width: 384px
    +md
      width: 360px
    +sm
      width: 302px
    +xxxs
      width: 280px
  .swiper-container
    +laptop
      overflow: visible

.prices-item
  position: relative
  clip-path: polygon(0 0, calc(100% - 25px) 0, 100% 25px, 100% 100%, 0 100%)

  &__title
    +bold

    em
      font-style: normal
      color: #FE5D02

  &__price
    +bold
