.out
	overflow: clip
.shedule-v2
	padding: clamp(40px, 1.4vw, 100px) 0
	position: relative
	background: #090908
	.remote-switch
		position: relative
		display: flex
		margin: 0 auto 10px
		width: max-content
		display: flex
		transform: none
		left: auto

	.schedule__tip 
		margin-top: 15px
		margin-bottom: 5px
		padding: 0

	+md 
		.schedule__tip 
			margin-top: 15px
			margin-bottom: 15px
	+sm 
		.schedule__tip 
			font-size: 12px
	
.js-tabs-container
	position: relative
.sv-tabs
	display: flex
	position: sticky
	top: 0
	
	z-index: 4
	height: 100px
	background: #000
	&__item
		flex: 1
		display: flex
		flex-direction: column
		justify-content: center
		padding: 10px
		text-align: center
		cursor: pointer
		background: #090908
		border-bottom: 3px solid #222

		&.is-active
			border-color: rgba(#bbff00, 0.8)
			.sv-tabs__title 
				color: #bbff00
			.sv-tabs__date 
				color: #fff
	&__title
		font-size: 32px
		font-family: 'Orbitron', sans-serif
		font-weight: 700
		letter-spacing: 0.6px
		color: rgba(#bbff00, 0.8)
		display: block
	&__date
		display: block
		color: rgba(#fff, 0.8)
		margin-top: 10px
		font-size: 16px

	+max($ipad)
		
		&__title
			font-size: 28px

	+max($iphone) 
		margin-left: -20px
		margin-right: -20px
		height: 80px

		&__title
			font-size: 18px

		&__date
			margin-top: 4px
			font-size: 12px

	

.sv-body
	
	&:not(.is-active)
		display: none

	&__swiper
		display: none
		.swiper-wrapper
			transition-duration: 300ms !important
			transition-property: transform !important
		.swiper-slide
			transition-property: transform !important

	&__grid 
		display: grid
		flex-wrap: wrap
		width: 100%
		gap: 0 10px
		overflow: hidden
		grid-template-rows: [time-0100] auto [time-0200] auto [time-0300] auto [time-0400] auto [time-0500] auto [time-0600] auto [time-0700] auto [time-0800] auto [time-0900] auto [time-1000] auto [time-1100] auto [time-1200] auto [time-1300] auto [time-1400] auto [time-1500] auto [time-1600] auto [time-1700] auto [time-1800] auto [time-1900] auto [time-2000] auto [time-2100] auto [time-2200] auto [time-2300] auto [time-2400] auto
		grid-template-columns: [stage1-start] 1fr

		&--col4
			grid-template-columns: [stage1-start] 1fr [stage2-start] 1fr [stage3-start] 1fr [stage4-start] 1fr
			.sv-time--col-4
				border-right: none
		&--col3
			grid-template-columns: [stage1-start] 1fr [stage2-start] 1fr [stage3-start] 1fr
			.sv-time--col-3
				border-right: none
		&--col2
			grid-template-columns: [stage1-start] 1fr [stage2-start] 1fr
			.sv-time--col-2
				border-right: none
		&--col1
			.sv-time
				border-right: none


	+max($ipad)
		&__swiper
			display: block

		&__grid
			display: none

	+max($iphone)
		&__swiper
			margin-left: -10px
			margin-right: -10px
.sv-nav
	
	position: sticky
	z-index: 3
	background: #090908
	top: 100px
	display: flex
	text-align: center
	margin-bottom: 10px
	border-bottom: 3px solid #222
	gap: 10px
	&__item
		flex: 1
		min-width: 1px
		padding: 15px 5px
		margin: 5px 0
		text-align: center
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
		font-size: clamp(10px, 2vw, 14px)
		clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0 calc(100% - 10px), 0 10px)
		@media (any-hover: hover)
			&:hover
				background: rgba(#fff, 0.06)
	+max($ipad)
		gap: 5px
		&__item
			&._active
				background: rgba(#fff, 0.06)
		
	+sm
		top: 80px
		margin-left: -20px
		margin-right: -20px
		.sv-nav__item
			padding: 12px 5px


.sv-time

	display: flex
	background: #090908
	flex-direction: column
	gap: 10px 
	padding: 16px 0
	margin-bottom: 10px
	position: relative
	&:after 
		content: ''
		position: absolute
		top: -8px
		left: -100vw 
		right: -100vw
		height: 4px 
		background: #111
	
	&--col-1
		grid-column: stage1-start

	&--col-2
		grid-column: stage2-start

	&--col-3
		grid-column: stage3-start

	&--col-4
		grid-column: stage4-start


	&[class*='-1-2']
		grid-row: time-0100/time-0200

	&[class*='-2-3']
		grid-row: time-0200/time-0300

	&[class*='-3-4']
		grid-row: time-0300/time-0400

	&[class*='-4-5']
		grid-row: time-0400/time-0500

	&[class*='-5-6']
		grid-row: time-0500/time-0600

	&[class*='-6-7']
		grid-row: time-0600/time-0700

	&[class*='-7-8']
		grid-row: time-0700/time-0800

	&[class*='-8-9']
		grid-row: time-0800/time-0900

	&[class*='-9-10']
		grid-row: time-0900/time-1000

	&[class*='-10-11']
		grid-row: time-1000/time-1100

	&[class*='-11-12']
		grid-row: time-1100/time-1200

	&[class*='-12-13']
		grid-row: time-1200/time-1300

	&[class*='-13-14']
		grid-row: time-1300/time-1400

	&[class*='-14-15']
		grid-row: time-1400/time-1500

	&[class*='-15-16']
		grid-row: time-1500/time-1600

	&[class*='-16-17']
		grid-row: time-1600/time-1700

	&[class*='-17-18']
		grid-row: time-1700/time-1800

	&[class*='-18-19']
		grid-row: time-1800/time-1900
	
	&[class*='-19-20']
		grid-row: time-1900/time-2000

	&[class*='-20-21']
		grid-row: time-2000/time-2100

	&[class*='-21-22']
		grid-row: time-2100/time-2200

	&[class*='-22-23']
		grid-row: time-2200/time-2300

	&[class*='-23-24']
		grid-row: time-2300/time-2400

	&._selected 
		.sv-item 
			background: #191919
			&__body 
				&:after 
					
			
					background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #191919 100%)
	+max($ipad)
	
		border-right: none
		margin-bottom: 10px
		padding: 0
		&:after 
			display: none
		&--null
			display: none


.sv-item
	height: 100%
	width: 100%
	padding: 20px
	display: flex
	flex-direction: column
	box-sizing: border-box
	gap: 8px
	z-index: 2 
	position: relative
	background: #111
	clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0 calc(100% - 10px), 0 10px)
	&__top 
		display: flex
		justify-content: space-between
		align-items: center
	&__time
		flex: none
		font-size: 14px
	&__title
		flex: none
		font-family: 'Orbitron', sans-serif
		font-size: clamp(14px, 1.3vw, 18px)
		font-weight: 700
		cursor: pointer

	&__speaker 
		color: #bbff00

	&__company
		color: #ccc
		flex: none
		font-size: clamp(12px, 1.1vw, 14px)

	&__button
		height: 20px
		padding: 0 
		flex: none
		align-self: start
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
		text-align: center
		border: 1px solid transparent
		color: #999
		background: transparent
		white-space: nowrap
		font: 18px 900 'Montserrat', sans-serif
		text-decoration: none

		
	&__body
		padding-top: 7px
		position: relative
		max-height: 60px
		min-height: 48px
		overflow: hidden
		color: #999
		font-size: clamp(12px, 1.1vw, 14px)
		
		&:after 
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			height: 48px
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #111 100%)

	&--null 
		opacity: 0.4

	+max($ipad) 
	
		&__title 
			font-size: clamp(16px, 2vw, 24px)
		&__body 
			min-height: auto 
			max-height: none
			&:after 
				display: none



