.section

	&__title
		position: relative
		text-align: center
		font-size: 32px
		margin-bottom: 63px
		+bold
		letter-spacing: 0.6px
		color: $themeColor

		.green
			color: $themeColor
			
		+tablet
			margin-bottom: 37px
			font-size: 32px
			
		+sm
			font-size: 28px

		&_big
			position: relative
			font-size: clamp(38px, 4vw, 48px)
			+bold

	&__subtitle
		font-weight: 400
		text-align: center
		font-size: 18px
		line-height: 1.6
		max-width: 630px
		margin: 30px auto 40px
		padding: 0 10px

		+tablet
			font-size: 16px
			margin: 30px auto 30px

	&__text
		max-width: 950px
		margin: 0 auto
		+tablet
			max-width: 870px
