.section

	&__title
		position: relative
		text-align: center
		font-size: 36px
		margin-bottom: 63px
		+bold
		text-transform: uppercase
		letter-spacing: 0.6px

		.green
			color: $themeColor
			
		+tablet
			margin-bottom: 37px
			font-size: 32px
			
		+sm
			font-size: 28px

		&_big
			position: relative
			font-size: 46px
			padding: 14px 0
			+black
			background: url(../img/dashes3.svg) center center

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: -14px
				height: 6px
				background: #252623

			&:after
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: -14px
				height: 6px
				background: #252623

	&__subtitle
		font-weight: 400
		text-align: center
		font-size: 18px
		line-height: 1.6
		max-width: 630px
		margin: 30px auto 40px

		+tablet
			font-size: 16px
			margin: 30px auto 30px

	&__text
		max-width: 950px
		margin: 0 auto
		+tablet
			max-width: 870px
