.social
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 10px

	+tablet
		gap: 5px

	&__item

	&__link
		font-size: 17px
		display: flex
		justify-content: center
		align-items: center
		width: 40px
		height: 40px
		background: $black
		clip-path: polygon(calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px), 0 0)

		.icon
			fill: $themeColor
			transition: 0.3s
			width: 20px
			height: 20px
			&-tw, &-fb, &-yb 
				width: 24px
				height: 24px

		.no-touch &
			&:hover
				.icon
					fill: $themeColor2
	&--theme
		
		gap: 20px
		
		+tablet
			gap: 15px
		&__link
			font-size: 20px
			.icon
				fill: $themeColor
			.no-touch &
				&:hover
					.icon
						fill: $themeColor2

