.sponsors
	position: relative
	padding: 100px 0
	+md
		padding: 40px 0
	.container
		max-width: 1110px

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			height: 1px
			background: linear-gradient(270deg, rgba(187, 255, 0, 0) 0%, #BBFF00 50%, rgba(187, 255, 0, 0) 100%)
			opacity: 0.3

	.section__title
		+bold
		font-size: clamp(32px, 4vw, 64px)
		margin-bottom: clamp(24px, 3vw, 38px)
	&__description
		display: flex
		flex-direction: column
		text-align: center
		max-width: 960px
		margin: 0 auto 64px
		gap: 64px

		+sm
			font-size: 14px
			gap: 32px
			margin: 0 auto 32px

	&__intro
		+medium
		color: $gray
		font-size: 20px
		line-height: 1.36
		text-align: center

		+sm
			font-size: 16px

	&__offer
		+bold
		font-size: 24px
		color: $themeColor

		+sm
			font-size: 18px

		a
			color: $themeColor


.sponsors-block
	position: relative
	padding: 18px 28px

	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		clip-path: polygon(calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px), 0 0)
		background: $themeColor
		opacity: 0.3
		z-index: -1

	&:after
		content: ''
		position: absolute
		left: 1px
		top: 1px
		right: 1px
		bottom: 1px
		clip-path: polygon(calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px), 0 0)
		background: $mainBg
		z-index: 0

	&__item
		text-align: center
	& + &
		margin-top: 24px
	&_xl
		.sponsors-block__item
			max-width: 50%
			width: 33.33%
			padding: 25px 30px
			+tablet
				padding: 20px
				img
					max-width: 100%
			+md
				width: 50%
			+sm
				width: 75%
				max-width: 100%
				padding: 20px 10px
	&_lg
		//.sponsors-block__list
			margin: 0 -50px
			+tablet
				margin: 0 -20px
			+xs
				margin: 0 -10px
		.sponsors-block__item
			padding: 25px 30px
			max-width: 50%
			width: 33.33%
			img
				max-width: 100%
			+tablet
				padding: 20px
			+md
				width: 50%

			+xs
				padding: 7px
			//max-width: 217px
	&_md
		.sponsors-block__list
			margin: 0 -50px
			+tablet
				margin: 0 -20px
			+xs
				margin: 0 -10px
		.sponsors-block__item
			padding: 25px 30px
			width: 33.33%
			img
				max-width: 100%
			+tablet
				padding: 20px
			+xs
				padding: 5px
			//max-width: 193px
			//width: 100%
	&_sm
		.sponsors-block__list
			margin: 0 -25px
		.sponsors-block__item
			padding: 20px 25px
			width: 25%
			img
				max-width: 100%
			+tablet
				padding: 20px

			+md
				width: 33.33%
			//+md
				width: 50%
				img
					max-width: 100%

	&_xs
		.sponsors-block__list
			margin: 0 -15px
		.sponsors-block__item
			width: 20%
			a
				padding: 20px 25px
			img
				max-width: 100%
			+tablet
				a
					padding: 20px

			+md
				width: 25%

			+xs
				width: 33.3%
				a
					padding: 15px 10px

	&_auto
		.sponsors-block__list
			justify-content: space-between
			margin: 0 -15px
		.sponsors-block__item
			width: auto
			a
				padding: 20px 25px
			img
				max-width: 100%
			&:last-child
				margin: 0 auto 0 0
			+tablet
				a
					padding: 20px

			+sm
				width: 25%
				a
					padding: 15px 10px

			+xs
				width: 33.3%
				a
					padding: 15px 10px
	&__list
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		position: relative
		z-index: 1
	&__item
		+tablet
			display: flex
			justify-content: center
		+sm
			max-width: 230px
			img
				max-width: 100%
		a
			display: flex
			justify-content: center
			align-items: center
			transition: 0.3s

			&:hover
				opacity: 0.7

			img
				transition: all ease 0.2s
				transform: translateY(0)
				opacity: 1
				height: auto

	&__title
		+medium
		font-size: 14px
		position: relative
		z-index: 1
		+light
		color: $themeColor
		margin-bottom: 20px
		+sm
			margin-bottom: 32px
