.s-video-rooms
	padding: 110px 0
	+laptop
		padding: 80px 0
	+tablet
		padding: 72px 0
	+md
		padding: 103px 0
	+sm
		padding: 40px 0

.video-rooms
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin: 62px 0 30px
	padding: 30px 0

	+md
		margin: 30px 0 20px
	+sm
		margin: 10px 0 10px



	&__item
		--clipStep: 13px
		position: relative
		margin: 10px 20px
		padding: 32px 32px 22px
		background: #131513
		width: 300px
		display: flex
		flex-direction: column
		align-items: center
		transition: all ease 0.1s
		background: #333332
		clip-path: polygon(var(--clipStep) 0%, 0% var(--clipStep), 0% calc(100% - var(--clipStep) * 10), var(--clipStep) calc(100% - var(--clipStep) * 9), var(--clipStep) calc(100% - var(--clipStep) * 1), calc(var(--clipStep) * 2) 100%, calc(var(--clipStep) * 5) 100%, calc(var(--clipStep) * 6) calc(100% - var(--clipStep) * 1), calc(100% - var(--clipStep) * 10) calc(100% - var(--clipStep) * 1), calc(100% - var(--clipStep) * 9) 100%, calc(100% - var(--clipStep) * 6) 100%, calc(100% - var(--clipStep) * 5) calc(100% - var(--clipStep)), calc(100% - var(--clipStep)) calc(100% - var(--clipStep)), 100% calc(100% - var(--clipStep) * 2), 100% calc(var(--clipStep) * 10), calc(100% - var(--clipStep)) calc(var(--clipStep) * 9), calc(100% - var(--clipStep)) var(--clipStep), calc(100% - var(--clipStep) * 2) 0, calc(100% - var(--clipStep) * 5) 0%, calc(100% - var(--clipStep) * 6) var(--clipStep), calc(100% - var(--clipStep) * 12) var(--clipStep), calc(100% - var(--clipStep) * 13) 0%)

		&:after
			content: ''
			position: absolute
			left: 4px
			right: 4px
			top: 4px
			bottom: 4px
			background: $mainBg
			z-index: -1
			--clipStep: 13px
			clip-path: polygon(calc(var(--clipStep) - 2px) 0%, 0% calc(var(--clipStep) - 2px), 0% calc(100% - var(--clipStep) * 10 + 2px), var(--clipStep) calc(100% - var(--clipStep) * 9 + 2px), var(--clipStep) calc(100% - var(--clipStep) * 1 + 2px), calc(var(--clipStep) * 2 - 2px) 100%, calc(var(--clipStep) * 5 - 6px) 100%, calc(var(--clipStep) * 6 - 6px) calc(100% - var(--clipStep) * 1), calc(100% - var(--clipStep) * 10 + 6px) calc(100% - var(--clipStep) * 1), calc(100% - var(--clipStep) * 9 + 6px) 100%, calc(100% - var(--clipStep) * 6 + 2px) 100%, calc(100% - var(--clipStep) * 5 + 2px) calc(100% - var(--clipStep)), calc(100% - var(--clipStep) + 2px) calc(100% - var(--clipStep)), 100% calc(100% - var(--clipStep) * 2 + 2px), 100% calc(var(--clipStep) * 10 - 2px), calc(100% - var(--clipStep)) calc(var(--clipStep) * 9 - 2px), calc(100% - var(--clipStep)) calc(var(--clipStep) - 2px), calc(100% - var(--clipStep) * 2 + 2px) 0, calc(100% - var(--clipStep) * 5 + 6px) 0%, calc(100% - var(--clipStep) * 6 + 6px) var(--clipStep), calc(100% - var(--clipStep) * 12 + 2px) var(--clipStep), calc(100% - var(--clipStep) * 13 + 2px) 0%)

		+md
			margin: 10px 10px

		+sm
			margin: 10px 0

		&.hoverable

			&:hover

				.video-rooms__btn
					border-color: $themeColor

	&__link
		position: absolute
		display: block
		left: 0
		top: 0
		right: 0
		bottom: 0

	&__img-wrap
		display: flex
		width: 100%
		height: 168px

	&__img
		display: block
		margin:  auto
		max-height: 100%

	&__num
		display: none

	&__title
		display: none

	&__users		
		margin: 34px auto 26px

	&__user
		display: flex
		align-items: center
		flex: 1 1 auto
		margin: 20px auto 0

		&:first-child
			margin: 0

	&__avatar
		width: 55px
		height: 55px
		margin: 0 18px 0 0
		clip-path: polygon(50% 0, 95% 22%, 95% 78%, 50% 100%, 5% 78%, 5% 22%)
		object-fit: cover

	&__name
		font-size: 16px
		line-height: 1.28

	&__btn
		display: flex
		align-items: center
		justify-content: center
		height: 46px
		padding: 0 20px
		font-size: 11px
		margin-bottom: 20px
		+bold
		color: $themeColor
		text-transform: uppercase
		text-decoration: none
		border: 2px solid transparent
		text-align: center
		transition: all ease 0.1s
