.s-workshops-list
  padding: clamp(50px, 5vw, 100px) 0
  position: relative

  .container
    max-width: 1280px

    &:before
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      height: 1px
      background: linear-gradient(270deg, rgba(187, 255, 0, 0) 0%, #BBFF00 50%, rgba(187, 255, 0, 0) 100%)
      opacity: 0.3

  &__top
    display: flex
    justify-content: space-between
    margin-bottom: clamp(24px, 4vw, 42px)

    +sm
      flex-direction: column

    .section
      &__title
        text-align: left
        line-height: 1.33
        font-weight: 900
        font-size: clamp(32px, 6vw, 64px)
        margin-bottom: 36px

      &__subtitle
        max-width: none
        text-align: left
        line-height: 1.38
        margin: 30px 0
        font-weight: 500
        font-size: 14px
        color: $gray
        max-width: 460px

        a
          color: $themeColor

        +sm
          line-height: 1.52

      &__info
        max-width: none
        text-align: left
        line-height: 1.92
        margin: 24px 0
        font-weight: 400
        font-size: 14px

        p
          strong
            +bold
            font-size: 16px
            font-weight: 500
            color: $themeColor

          &:not(:first-child)
            margin: 4px 0 0

  &__desc
    max-width: 600px
    width: 100%
    flex: 1 1 auto

  &__img
    position: relative
    max-width: 490px
    width: 100%
    flex: 1 1 auto
    margin-top: auto
    margin-bottom: auto
    margin-left: 40px

    +sm
      max-width: 520px
      margin: 0 auto

.workshops-imgs
  position: relative
  width: 100%
  display: grid
  flex-wrap: wrap
  grid-template-columns: 1fr 1fr 1fr
  gap: 5px
  z-index: 1

  // &:before
    content: ''
    position: absolute
    left: -72px
    top: -94px
    right: -100px
    bottom: -124px
    background: $themeColor
    clip-path: polygon(0% 0%, 110% 0%, 110% 100%, calc(0% + 20px) 100%, 0% calc(100% - 20px))

    +tablet
      left: -22px
      top: -44px
      right: -50px
      bottom: -64px

    +sm
      left: -10px
      top: -10px
      right: -10px
      bottom: -10px


  // &:after
    content: ''
    position: absolute
    left:  -71px
    top: -93px
    right: -99px
    bottom: -123px
    background: $mainBg
    clip-path: polygon(0% 0%, 110% 0%, 110% 100%, calc(0% + 20px) 100%, 0% calc(100% - 20px))

    +tablet
      left: -21px
      top: -43px
      right: -49px
      bottom: -63px

    +sm
      left: -9px
      top: -9px
      right: -9px
      bottom: -9px

  &__item
    position: relative
    aspect-ratio: 1.77
    z-index: 1

    img
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      object-fit: cover
      display: block

    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      background: $themeColor
      opacity: 0.4

.workshops-list
  margin: 0

  &__item
    display: flex
    padding: 26px 0
    border-top: 1px solid $themeColorD

    &:last-child
      border-bottom: 1px solid $themeColorD

    +sm
      flex-direction: column

  &__item-overlay
    display: flex
    width: 100%
    cursor: pointer
    text-decoration: none
    +sm
      flex-direction: column

    &:hover
      .workshops-list__title
        text-decoration: underline !important

  &__type
    flex: 0 0 60px
    color: $themeColor
    font-size: 14px
    text-transform: uppercase
    font-weight: 500

    +sm
      flex: 1 1 auto
      margin: 0 0 10px

  &__info
    flex: 1 1
    padding-right: 20px

  &__title
    font-size: clamp(18px, 2.6vw, 20px)
    +bold
    font-weight: 500
    line-height: 1.1
    text-transform: uppercase
    color: $white

  &__desc
    display: none

  &__date
    font-size: 12px
    margin: 10px 0 0

  &__speakers
    display: flex
    flex-direction: column
    flex: 0 0 180px
    gap: 5px
    padding-right: 20px

    +sm
      flex-direction: row
      flex: 1 1 auto
      margin: 18px 0
      gap: 20px 20px

  &__speaker
    display: flex
    align-items: center

  &__speaker-photo
    width: 40px
    height: 40px
    border-radius: 4px
    margin: 0 12px 0 0

  &__speaker-name
    font-size: 12px

  &__buttons
    flex: 0 0 150px
    display: flex
    flex-direction: column
    gap: 5px

    .btn
      padding: 3px 15px
      min-height: 40px
      @extend .btn--border
      font-size: 14px

      &:last-child
        margin-bottom: -10px

    +sm
      flex: 1 1 auto
      flex-direction: row
      flex: 1 1 auto
      margin: 0
      gap: 10px
