.zoom-bars
	position: relative
	padding: clamp(50px, 5vw, 100px) 0

	.container
		max-width: 1190px

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			height: 1px
			background: linear-gradient(270deg, rgba(187, 255, 0, 0) 0%, #BBFF00 50%, rgba(187, 255, 0, 0) 100%)
			opacity: 0.3

  .section
    &__title
      line-height: 1.33
      +bold
      font-size: clamp(28px, 5vw, 48px)
      margin-bottom: 36px

    &__subtitle
      line-height: 1.38
      margin: 30px auto
      font-weight: 500
      font-size: clamp(16px, 4vw, 24px)
      color: $white
      max-width: 560px

.bars-list
	margin: clamp(32px, 6vw, 62px) 0 0
	display: grid
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

	+sm
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr))

	&__item
		position: relative
		padding: 32px
		min-height: 520px
		display: flex
		flex-direction: column
		overflow: hidden

		+md
			min-height: 420px
			padding: 24px

		+sm
			min-height: 320px

		&:nth-child(odd)
			background: $themeColor
			color: $black

		&:nth-child(even)
			background: $black
			color: $white

			&:after
				border-color: transparent $themeColor transparent transparent

			&:before
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='11' height='10' style='enable-background:new 0 0 11 10'%3E%3Cpath d='M1.5 0 3 1.4l-.6.6-.9-.9-.9.9-.6-.6L1.5 0z' style='fill:%23FFF'/%3E%3C/svg%3E")

		&:after
			content: ''
			position: absolute
			right: 0
			top: 0px
			width: 0px
			height: 0px
			border-style: solid
			border-width: 0 30px 30px 0
			border-color: transparent $black transparent transparent

		&:before
			content: ''
			position: absolute
			left: 0
			bottom: 0
			width: 132px
			height: 218px
			clip-path: polygon(0 0, calc(100% - 48px) 0, 100% 48px, 100% 100%, 0 100%)
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='11' height='10' style='enable-background:new 0 0 11 10'%3E%3Cpath d='M1.5 0 3 1.4l-.6.6-.9-.9-.9.9-.6-.6L1.5 0z' style='fill:%23000'/%3E%3C/svg%3E")
			opacity: 0.3

	&__bg
		display: none

	&__content
		height: 100%
		display: flex
		flex-direction: column

	&__bar
		+bold
		font-size: clamp(24px, 3vw, 40px)
		font-weight: 800
		text-transform: uppercase

	&__name
		font-size: clamp(14px, 3vw, 16px)
		font-weight: 500
		margin: 20px 0 0

	&__rooms
		margin: auto 0 0 auto

	&__with
		display: none

	&__room
		@extend .btn
		@extend .btn--border
		@extend .btn--small
		display: none

		&:after
			content: 'Join Room'
			color: $white

		img
			width: 100%
			display: none


	&__photo