.footer
  padding: 72px 0 80px
  border-radius: 24px 24px 0px 0px
  background: $themeColor
  margin-top: 80px
  +md
    padding-top: 5px
    padding-bottom: 40px
  &__title
    width: 100%
    margin-bottom: 50px
    text-transform: uppercase
    font-size: 16px
    font-weight: 400
  &__top
    margin-bottom: 165px
    &-title
      font-family: var(--ff-msw)
      line-height: .9
      font-size: clamp(41px, 20.2vw, 160px)
      font-weight: 500
      width: 100%
      letter-spacing: -3.2px
      text-transform: uppercase
    &-subscribe
      margin-left: 50%
      width: 50%
      margin-top: -70px

  &__main
    display: flex
    gap: 50px 42px
    align-items: flex-start

    +sm
      flex-wrap: wrap
      gap: 35px 24px

  &__nav
    width: calc(50% - 200px - 28px)

    +sm
      flex: 2
      width: auto

  &__socials
    flex: none
    width: 200px

    +md
      width: auto
      min-width: 100px
    +sm
      flex: 1
      min-width: auto

    .social
      display: flex
      gap: 10px
      flex-direction: column
      margin: 0 auto
      text-align: left
      align-items: flex-start
      +md
        gap: 1px
      &__item
        margin: 0
        line-height: 1.2
        &:not(:first-child)
          margin-top: 4px
      &__link
        font-size: 16px
        text-transform: uppercase
        font-weight: 400
        text-decoration: none

        &:hover
          text-decoration: none

        +md
          font-size: 12px

  &__basement
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    margin: 0
    gap: 0 75px
    width: calc(50% - 14px)
    +sm
      width: 100%
      flex: 1 1 100%
      order: 3
    .footer__title
      margin-left: calc(141px + 75px)
  &__logo
    flex: none
    width: 141px

  &__tip
    flex: 1
    line-height: 1.2
    font-size: 16px

    p:not(:last-child)
      margin-bottom: 22px
    a
      color: $black

.f-logo
  &__icon
    display: block
    img
      display: block
      width: 100%
  &__label
    display: none

.f-nav
  display: flex
  flex-direction: column
  &__item
    line-height: 1.15
    &:not(:first-child)
      margin-top: 5px

  &__link
    color: $black
    font-size: 16px
    text-decoration: none
    text-transform: uppercase
    &:hover
      text-decoration: underline

.f-form
  display: flex
  align-items: flex-end
  gap: 25px
  &__btn
    width: 192px
    flex: none
    color: $themeColor
  &__field
    flex: 1
    min-width: 1px
  &__input
    width: 100%
    height: 40px
    line-height: normal
    font-family: var(--ff-msw)
    padding: 0
    font-size: 16px
    font-weight: 400
    letter-spacing: -0.32px
    background: transparent
    border: none
    border-bottom: 1px solid $black
    color: $black
    &::placeholder
      color: $black
