.footer
  padding: 58px 0 70px
  border-radius: 24px 24px 0px 0px
  background: $themeColor

  +laptop
    padding-top: 36px
    padding-bottom: 36px
  +sm
    margin-top: 0

  .container
    max-width: 1920px

  &__title
    width: 100%
    margin-bottom: 50px
    text-transform: uppercase
    font-size: 16px
    font-weight: 400
    +md
      margin-bottom: 30px
  &__top
    margin-bottom: 155px
    +md
      margin-bottom: 80px
    +sm
      margin-bottom: 62px
    +xxxs
      margin-bottom: 40px

    &-title
      font-family: var(--ff-msw)
      line-height: .9
      font-size: clamp(41px, 11.2vw, 222px)
      font-weight: 500
      width: 100%
      letter-spacing: calc(clamp(1px, .5vw, 4.421px) * -1)
      text-transform: uppercase
      +xxxs
        font-size: 36px
      span
        display: block
    &-subscribe
      margin-left: 50%
      width: 50%
      max-width: 790px
      margin-top: calc(clamp(30px,7vw,80px) * -1)

      +sm
        margin-top: 35px
        width: 100%
        margin-left: 0
      +xxxs
        margin-top: 20px

  &__main
    display: flex
    gap: 60px 72px
    align-items: flex-start
    +laptop
      gap: 60px 40px

    +sm
      flex-wrap: wrap
      gap: 60px 24px

  &__nav
    flex: 1

    +sm
      flex: 1.2
    +xs
      flex: 1

  &__socials
    flex: none
    width: 24%
    +xxl
      width: 15%
      min-width: 192px
    +md
      min-width: 135px
    +sm
      flex: 0.8
      width: auto
      min-width: none
    +xs
      flex: 1

    .social
      align-items: flex-start
      flex-direction: column
      gap: 5px
      &__item
        line-height: 1.15
        +sm
          line-height: 1.1

      &__link
        display: flex
        justify-content: flex-start
        align-items: center
        white-space: nowrap
        font-size: 16px
        gap: 10px
        text-transform: uppercase
        font-weight: 400
        color: var(--colorBlack)
        text-decoration: none
        .icon
          font-size: 18px
        &:hover
          text-decoration: underline

        +md
          font-size: 12px

  &__basement
    display: grid
    align-items: flex-start
    grid-template-columns: 141px 1fr
    margin: 0
    gap: 0 75px
    flex: none
    width: calc(50% - 72px)
    +laptop
      gap: 0 30px
      width: calc(50% - 40px)
    +md
      grid-template-columns: 1fr

    +sm
      width: 100%
      flex: 1 1 100%
      order: 3
    .footer__title
      grid-column: 2/3
      grid-row: 1/2
      +md
        grid-column: 1/2
      +sm
        display: none
  &__logo
    grid-column: 1/2
    grid-row: 2/3

  &__tip
    grid-column: 2/3
    grid-row: 2/3
    line-height: 1.2
    +md
      grid-row: 3/4
      grid-column: 1/2
      margin-top: 40px

    p:not(:last-child)
      margin-bottom: 22px
    a
      color: $black

.f-logo
  &__icon
    display: block
    max-width: 141px
    img
      display: block
      width: 100%
  &__label
    display: none

.f-nav
  display: flex
  flex-direction: column
  &__item
    line-height: 1.15
    +sm
      line-height: 1.1
    &:not(:first-child)
      margin-top: 5px
      +sm
        margin-bottom: 4px

  &__link
    color: $black
    text-decoration: none
    text-transform: uppercase
    &:hover
      text-decoration: underline

.f-form
  display: flex
  gap: 17px 25px
  +md
    gap: 17px 15px
  +sm
    flex-direction: column
  &__btn

    flex: none
    color: $themeColor
    width: 192px
    +md
      width: 135px
    +sm
      width: 100%
  &__field
    flex: 1
    min-width: 1px
  &__input
    width: 100%
    height: 100%
    min-height: 40px
    line-height: normal
    font-family: var(--ff-msw)
    padding: 8px 0 0 0
    font-size: 16px
    font-weight: 400
    letter-spacing: -0.32px
    background: transparent
    border: none
    border-bottom: 1px solid $black
    color: $black
    +md
      font-size: 14px
    &::placeholder
      color: $black
