.hero
  display: flex
  position: relative
  min-height: 100vh
  min-height: calc(var(--vh, 1vh) * 100)
  min-height: 100svh
  overflow: hidden
  padding: 160px 0 55px
  +rhmin(970)
    min-height: 970px
  +xxl
    padding-top: 140px
  +sm
    padding-bottom: 35px

  &__inner
    display: flex
    flex-direction: column
    position: relative
    gap: 70px 0
    +sm
      gap: 50px 0

  &__head
    margin: auto 0
    display: flex
    flex-wrap: wrap

    justify-content: flex-start
    align-content: flex-start
    gap: 35px 0
  &__video
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    filter: brightness(0.7)
    z-index: -1
    video
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%

      object-fit: cover
      object-position: center
      pointer-events: none

    +sm
      display: none

    @media (prefers-reduced-motion)
      display: none

  &__date
    flex: none
    letter-spacing: -0.32px
    text-transform: uppercase
    text-wrap: balance
    line-height: 1.1
    max-width: 280px
    font-size: 16px
    +sm
      max-width: 205px
      font-size: 14px

  // &__title
  //   font-family: var(--ff-msw)
  //   line-height: .9
  //   font-size: clamp(41px, 11.2vw, 222px)
  //   font-weight: 500
  //   width: 100%
  //   letter-spacing: calc(clamp(1px, .5vw, 4.421px) * -1)
  //   text-transform: uppercase
  //   +sm
  //     display: none
  //   +xxxs
  //     font-size: 36px
  //   span
  //     display: block

  &__title
    font-family: var(--ff-msw)
    line-height: 1
    font-size: clamp(32px,6.2vw, 110px)
    font-weight: 500
    width: 100%
    word-spacing: 10px
    text-transform: uppercase
    +sm
      word-spacing: 4px
      font-size: clamp(32px, 7vw, 100px)
    +xxxs
      font-size: 28px
  &__subtitle
    font-size: clamp(32px, 3vw, 48px)

    text-transform: uppercase
    font-weight: 500
    line-height: 1
    word-spacing: 4px
    overflow: hidden
    font-family: var(--ff-msw)

    position: relative
    display: grid
    +sm
      font-size: clamp(32px, 7vw, 100px)
    +xxxs
      font-size: 28px
    &:has(> div:first-child.is-active)
      div:last-child
        transform: translate(0, -120%) rotate(-10deg)
    & > div

      grid-row: 1/1
      grid-column: 1/1
      transform: translate(0, 120%) rotate(10deg)
      transform-origin: left
      transition: transform 350ms cubic-bezier(0.65, 0, 0.35, 1), opacity 350ms cubic-bezier(0.65, 0, 0.35, 1)
      opacity: 0
      &:has(+ .is-active)
        transform: translate(0, -120%) rotate(-10deg)

      &.is-active
        display: block
        transform: none
        opacity: 1

  &__bottom
    flex: none
    width: 50%
    display: flex
    flex-direction: column
    gap: 30px
    margin-left: calc(50% - 24px)
    // margin-top: calc(clamp(80px, 9vw, 145px) * -1)
    @media screen and (max-height: 860px) and (min-width: 1440px)
      gap: 20px
      // margin-top: -145px
    +sm
      width: 100%
      margin-left: 0
    +xxxs
      gap: 20px

  &__btn
    display: flex
    flex-wrap: wrap
    gap: 12px 40px
    flex: none
    width: 25%
    +tablet
      gap: 12px 24px
    +md
      width: 240px
    +sm
      width: 100%
      gap: 12px 12px

    .btn
      width: 100%
      height: auto
      min-height: 90px
      font-size: 32px
      text-transform: uppercase
      +xxl
        font-size: 24px
      +md
        min-height: 80px
        font-size: 22px
      +sm
        flex: 1 1 auto
        padding-left: 10px
        padding-right: 10px
        min-height: 64px
        font-size: 16px

  &__descr
    letter-spacing: -0.32px
    line-height: 1.15

    font-size: 16px
    max-width: 280px
    +sm
      max-width: 205px
      font-size: 14px

  &__bg
    position: absolute
    top: 0
    left: calc((50% - 380px))
    width: 1572px
    height: 980px
    max-height: calc(100% + 60px)
    z-index: -2
    pointer-events: none
    background-size: contain
    background-position: left -35px
    background-repeat: no-repeat
    +sm
      width: 1070px
      height: 668px
      background-position: left -20px
  &__info
    flex: none
    margin-top: auto
    display: flex
    +md
      gap: 35px 24px
    +sm
      flex-wrap: wrap
    .h-list
      flex: 1
    &:has(> .hero__btn)
      .h-list__item:last-child
        border-right: none
  &_inner
    height: auto
    min-height: 400px
    align-items: center
    text-align: center
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    &:before
      background: rgba(#000, 0.3)
    +sm
      min-height: 220px
    +xs
      min-height: 200px
    .hero__title
      font-size: clamp(26px, 3.2vw, 56px)
      &:after
        display: none
    .hero__inner
      @extend .container
      width: 100%
    .hero__logo
      width: auto
      max-width: 300px
      margin-left: auto
      margin-right: auto
      margin-bottom: 60px
      +sm
        max-width: 220px
        margin-bottom: 50px
      +xs
        margin-bottom: 40px

  .social
    flex-direction: column
    flex: none
    width: 24px
    align-items: flex-start
    justify-content: flex-end
    +sm
      display: none
    &__link
      position: relative

      &:hover
        span
          width: auto
          opacity: 1
    span
      position: absolute
      left: 100%
      padding-left: 5px
      top: 0
      height: 100%
      display: flex
      align-items: center
      opacity: 0
      width: 0
      color: var(--colorBlack)

      font-size: 14px
      overflow: hidden
      white-space: nowrap
      transition: opacity 0.1s linear, width 0.2s linear

  & + .section
    margin-top: 40px
    +sm
      margin-top: 10px
.logo
  display: block
  width: 100%
  img
    width: 100%

.h-list
  display: flex
  +md
    gap: 24px
  &__item
    flex: 1
    max-width: 33.33%
    border-left: 2px solid $black
    padding: 0 48px
    &:last-child
      border-right: 2px solid $black
    +laptop
      padding: 0 40px

    +md
      border-width: 1px !important
      padding: 0
      flex: 1 1 auto
      border: none !important

  &__value
    font-size: 88px
    font-family: var(--ff-msw)
    font-weight: 500
    text-transform: uppercase
    line-height: 0.8
    @media screen and (max-height: 860px) and (min-width: 1440px)
      font-size: 70px
    +xxl
      font-size: clamp(40px, 5.4vw, 64px)
    +xxxs
      font-size: 36px

  &__text
    line-height: 1.2
    letter-spacing: -0.32px
    margin-top: 20px
    +sm
      margin-top: 15px
      line-height: 1.1
    +xs
      font-size: 12px
