.section
  padding: 110px 0
  margin-top: 20px
  position: relative
  z-index: 2
  &:after
    content: ''
    display: block
    width: 100%
    @extend .container
    max-width: calc(var(--containerWidth) - (var(--containerPadding) * 2))
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%)
    border-top: 1px solid rgba(0, 0, 0, 0.40)
  &:before
    content: attr(data-suptitle)
    font-size: 16px
    width: 100%
    @extend .container
    padding: 0
    max-width: calc(var(--containerWidth) - (var(--containerPadding) * 2))
    position: absolute
    top: 20px
    left: 50%
    transform: translate(-50%)
    text-transform: uppercase
    letter-spacing: -0.32px
    white-space: nowrap
    display: block

  &__title
    position: relative
    z-index: 1
    text-transform: uppercase
    margin-bottom: 65px
    font-weight: 500
    letter-spacing: -1.6px
    text-transform: uppercase
    font-family: var(--ff-msw)
    font-size: clamp(40px, 9.3vw, 80px)
    line-height: calc(clamp(40px, 9.3vw, 80px) / 1.1)

    +tablet
      margin-bottom: 50px
    +sm
      margin-bottom: 37px
      line-height: calc(clamp(38px, 11.7vw, 96px) / 1.8)
      font-size: clamp(38px, 11.7vw, 96px)

    & + .section__suptitle
      margin-top: -52px
      +laptop
        margin-top: -25px

  &__suptitle
    font-weight: 400
    text-align: center
    font-size: 24px
    line-height: 1.6
    max-width: 780px
    color: $themeColor
    position: relative
    z-index: 2
    margin: 30px auto 60px
    text-transform: uppercase
    +laptop
      margin-bottom: 40px

    +sm
      font-size: 16px
      margin-bottom: 35px

  &__text
    margin-left: 50%
    letter-spacing: -0.32px
    font-size: 16px
    font-weight: 400
    line-height: 1.2
    max-width: 430px
    p
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
._anim-items.is-active .section__title:before
  opacity: 1
  filter: blur(0)
