.section
  padding: 100px 0
  position: relative
  z-index: 2
  &:after
    content: ''
    display: block
    width: 100%
    @extend .container
    max-width: calc(var(--containerWidth) - (var(--containerPadding) * 2))
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%)
    border-top: 1px solid rgba(0, 0, 0, 0.40)
  &:before
    content: attr(data-suptitle)
    font-size: 16px
    width: 100%
    @extend .container
    padding: 0
    max-width: calc(var(--containerWidth) - (var(--containerPadding) * 2))
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%)
    text-transform: uppercase
    letter-spacing: -0.32px
    white-space: nowrap
    display: block

  &__title
    position: relative
    z-index: 1
    text-transform: uppercase
    margin-bottom: 80px
    line-height: 0.9
    font-weight: 900
    font-size: clamp(96px, 9.3vw, 128px)
    line-height: calc(clamp(96px, 9.3vw, 128px) / 1.8)
    text-align: center

    +tablet
      margin-bottom: 50px
    +sm
      margin-bottom: 37px
      line-height: calc(clamp(38px, 11.7vw, 96px) / 1.8)
      font-size: clamp(38px, 11.7vw, 96px)

    & + .section__suptitle
      margin-top: -52px
      +laptop
        margin-top: -25px

  &__suptitle
    font-weight: 400
    text-align: center
    font-size: 24px
    line-height: 1.6
    max-width: 780px
    color: $themeColor
    position: relative
    z-index: 2
    margin: 30px auto 60px
    text-transform: uppercase
    +laptop
      margin-bottom: 40px

    +sm
      font-size: 16px
      margin-bottom: 35px

  &__info
    text-align: center
    font-size: 16px
    line-height: 1.6
    max-width: 880px
    margin: 30px auto 26px

    +tablet
      font-size: 16px
      margin: 20px auto 16px

    p
      &:not(:first-child)
        margin: 24px 0 0

    a
      color: $themeColor2
      text-transform: uppercase
      font-weight: 700

  &__text
    max-width: 950px
    margin: 0 auto
    +tablet
      max-width: 870px

._anim-items.is-active .section__title:before
  opacity: 1
  filter: blur(0)
