.social
  display: flex
  align-items: center
  gap: 17px

  &__link
    font-size: 17px
    text-align: center
    .icon
      fill: $themeColor
      transition: fill linear 0.3s, color linear 0.3s
    .icon-yb
      transform: scale(0.9)
    .no-touch &
      &:hover
        .icon
          fill: $white
