
.sponsors-scroller
  display: flex
  margin-top: 80px !important
  &:not([data-animated="true"])
    @extend .container

  &[data-animated="true"]
    overflow: hidden
    .sponsors-scroller__list
      flex-wrap: nowrap
      animation: animation-k653sv var(--ticker-duration) linear infinite
  &__list
    --ticker-start: 0
    --ticker-end: calc(-50% -(var(--ticker-gap) / 2))
    --ticker-duration: 20s
    --ticker-gap: 50px 119px
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: var(--ticker-gap)
    li
      flex-shrink: 0
      max-width: 360px

@keyframes animation-k653sv
  0%
    transform: translate3d(0, 0, 0)

  100%
    transform: translate3d(calc(-50% - (119px / 2)), 0, 0)
