.sec-topics
  .section__head
    max-width: 620px
    margin-bottom: 110px
  .section__text
    margin-top: 147px

.techs
  display: flex
  flex-wrap: wrap
  align-items: stretch
  gap: 75px 40px
  &__item
    display: flex
    flex-direction: column
    width: calc(25% - 30px)
    min-width: 100px

  &__link
    text-decoration: none
    color: $black
    transition: color .1s

    &:hover
      text-decoration: underline
      color: $themeColor

  &__img-box
    height: 84px
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: center

    img
      max-height: 100%

  &__title
    font-size: 20px
    font-weight: 400
    letter-spacing: -0.4px
    margin-top: 45px
    max-width: 214px
    line-height: 1.1
