.sec-topics
  .container
    max-width: 1920px

  .section__head
    max-width: 620px
    margin-bottom: 110px
    +md
      margin-bottom: 80px
    +sm
      margin-bottom: 45px
  .section__text
    margin-top: 147px
    +laptop
      margin-top: 100px
    +md
      margin-top: 60px

.techs
  display: flex
  flex-wrap: wrap
  align-items: stretch
  gap: 75px 0
  +md
    gap: 50px 0
  +sm
    gap: 37px 0
  &__item
    display: flex
    flex-direction: column
    width: 25%
    min-width: 100px
    padding-right: 40px
    +md
      width: 33.33%
      padding-right: 24px

    +sm
      width: 50%

    +xxs
      padding-right: 15px

  &__link
    text-decoration: none
    color: $black
    transition: color .1s

    &:hover
      text-decoration: underline
      color: $themeColor

  &__img-box
    height: 84px
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: center
    +sm
      height: 64px
    picture
      display: block
      height: 100%
    img
      max-height: 100%

  &__title
    font-size: 20px
    font-weight: 400
    letter-spacing: -0.4px
    margin-top: 45px
    max-width: 214px
    line-height: 1.1
    +md
      font-size: 16px
    +sm
      margin-top: 28px
      font-size: 14px
    +xs
      font-size: 14px
