.btn
  display: flex
  text-align: center
  background-color: $themeColor
  border: 2px solid transparent
  padding: 26px 30px
  align-items: center
  justify-content: center
  font-size: 14px
  cursor: pointer
  +medium
  color: $white
  text-decoration: none
  transition: all ease 0.3s
  transform: translateZ(0) perspective(1px)
  backface-visibility: hidden
  //transform-style: preserve-3d
  -webkit-font-smoothing: subpixel-antialiased
  -webkit-backface-visibility: hidden
  //-moz-backface-visibility: hidden
  //-ms-backface-visibility: hidden
  //-webkit-transform-style: preserve-3d
  border-radius: 5px
  border: 2px solid #fff

  +tablet
    padding: 25px 20px
  +sm
    padding: 16px 30px

  &:hover
    background: $themeColor2

  &:focus-visible
    background: lighten($themeColor2, 4%)

  &--gradient
    border: 2px solid transparent
    color: #000
    font-size: 14px

    &:hover, &:focus-visible
      &:before
        opacity: 0
    +tablet
      padding: 19px 23px

  &--transparent
    border: 2px solid transparent
    background: transparent
    color: $themeColor

    &:hover, &:focus-visible

      background: #161917
      border-color: $themeColor
      color: $white

  &--border
    border: 2px solid $grayD
    background: $gray
    color: $themeColor
    font-size: 14px

    &:hover, &:focus-visible

      background: $gray
      color: $themeColor2
      border-color: $themeColor2

  &--border-transparent
    font-size: 12px
    background: transparent
    border: 2px solid $accent
    color: $accent
    padding: 15px 20px
    min-height: 50px

    +tablet
      padding: 15px 20px

    &:hover, &:focus-visible

      background: $accent
      color: $black

      .icon
        fill: $black

  &--alt
    border: 2px solid transparent
    color: $black
    padding: 15px 20px
    min-height: 50px
    background: $themeColorD

    +tablet
      padding: 15px 20px

    &:hover, &:focus-visible
      border-color: $white
      color: $black

      .icon
        fill: $black

  &--huge
    max-width: 1180px
    padding: 20px 6vw
    font-weight: 700
    line-height: 0.9
    border: 5px solid $themeColor2
    color: $themeColor2
    font-size: clamp(22px, 5vw, 72px)
    background: transparent
    height: clamp(56px, 10vw, 152px)
    align-items: center
    justify-content: center
    border-radius: clamp(28px, 10vw, 76px)
    margin: clamp(40px, 4vw, 80px) auto

    &:hover, &:focus-visible
      color: $white
      .icon
        fill: $white

    &:after,
    &:before
      display: none

    +tablet
      padding: 15px 8vw

    +sm
      border: 3px solid $themeColor
      font-weight: 500

    .icon
      transition: all ease 0.1s
      fill: $themeColor2
      width: clamp(35px, 8vw, 113px)
      height: 60px
      margin-left: clamp(30px, 5vw, 96px)

.icon-link
  color: #fff
  .icon
    font-size: 18px
    fill: $white

.theme-link
  font-size: 14px
  color: $themeColor
  text-transform: uppercase
  text-decoration: none
  &:hover
    text-decoration: underline

.is-hidden
  display: none
