<section class="section features" id="interactive-sessions">
	<div class="container">
		<h3 class="section__title graphcms-container">
			{{ mixins.text(pieceOfTexts, 'interactivesessions__title') }}
		</h3>

		<div class="features-block">
			{% for feature in pages[pageKey].pageSections.interactiveSessions %}
			<div class="features-block__item">
				<h3 class="features-block__title features-block__title_small">{{ feature.title }}</h3>
				<p class="features-block__desc">{{ feature.desc | safe }}</p>
				{% if feature.links %}
				<div class="features-block__links">
					{% for link in feature.links %}
						{% if link.link %}
							<a
                class="features-block__link"
                href="#"
                onclick={{ eventsLayer.openDialog({name: 'link', isAuth: not fakeLinks, link: link.link, data: feature | dump })   }}
              >
                  {{link.name}}
              </a>
              <br/>
						{% endif %}
					{% endfor %}
				</div>
				{% endif %}
				<div class="features-block__back">
					{% if feature.networkers %}
					<div class="networkers">
						{% for person in speakers[pageKey] %}
						<div class="networkers__item">
							<img class="networkers__speaker" src="{{person.avatar}}"/>
							<p class="networkers__time">{{person.time}}</p>
						</div>
						{% endfor %}
					</div>
					{% endif %}
					{% if feature.bgImg %}
					<img class="features-block__back-pic" src="{{ feature.bgImg }}">
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
