<footer class="footer ">
  <div class="container">
    <div class="footer__main">
      <h3 class="footer__title"> {{ mixins.text(pieceOfTexts, 'contacts__socials') }} </h3>
      <div class="footer__mid">
        <div class="footer__nav graphcms-container"
          {{ mixins.cmsData(pages[pageKey]) }}>
          <ul class="f-nav">
            {% for item in pages[pageKey].pageNavigation.footerNav %}
            <li class="f-nav__item"><a href="{{item.href}}" class="f-nav__link">{{item.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer__socials graphcms-container"
          {{ mixins.cmsData(conference) }}>
          <ul class="social social--theme">
            {% if conference.instagramUrl %}
            <li class="social__item"><a aria-label="instagram" tabindex="0" href="{{ conference.instagramUrl }}" class="social__link" target="_blank">{{mixins.icon('instagram')}}</a></li>
            {% endif %}
            {% if conference.tiktokUrl %}
            <li class="social__item"><a aria-label="tiktok" tabindex="0" href="{{ conference.tiktokUrl }}" class="social__link" target="_blank">{{mixins.icon('tiktok')}}</a></li>
            {% endif %}
            {% if conference.twitterUrl %}
            <li class="social__item"><a aria-label="twitter" tabindex="0" href="{{ conference.twitterUrl }}" class="social__link" target="_blank">{{mixins.icon('tw')}}</a></li>
            {% endif %}
            {% if conference.facebookUrl %}
            <li class="social__item"><a aria-label="facebook" tabindex="0" href="{{ conference.facebookUrl }}" class="social__link" target="_blank">{{mixins.icon('fb')}}</a></li>
            {% endif %}
            {% if conference.youtubeUrl %}
            <li class="social__item"><a aria-label="youtube" tabindex="0" href="{{ conference.youtubeUrl }}" class="social__link" target="_blank">{{mixins.icon('yt')}}</a></li>
            {% endif %}
            {% if conference.mediumUrl %}
            <li class="social__item"><a aria-label="medium" tabindex="0" href="{{ conference.mediumUrl }}" class="social__link" target="_blank">{{mixins.icon('md')}}</a></li>
            {% endif %}
            {% if conference.discordUrl %}
            <li class="social__item"><a aria-label="discord" tabindex="0" href="{{ conference.discordUrl }}" class="social__link" target="_blank">{{mixins.icon('dis')}}</a></li>
            {% endif %}
            {% if conference.gnPortal %}
            <li class="social__item"><a aria-label="gitnation portal" href="{{ conference.gnPortal }}" class="social__link" target="_blank">{{mixins.icon('portal')}}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__basement">
    <div class="container">
      <div class="f-logo">
        <a href="https://gitnation.org" target="_blank">
          <div class="f-logo__desc">
            <p class="f-logo__by">Event by</p>
            <p class="f-logo__org">GitNation</p>
          </div>
        </a>
      </div>


      <div class="footer__tip">{{ mixins.text(pieceOfTexts, 'footer__tip') }}</div>

      <div class="f-logo__dummy"></div>


      <a class="f-reserve btn btn--green" href="{{ pagesPieceOfTexts.footer__btnLink if pages[pageKey] == pages.main else pagesPieceOfTexts.footer__btnLink_inner  }}">
        {{ pagesPieceOfTexts.footer__btnText }}
      </a>
    </div>
  </div>
</footer><!-- .footer -->
