<section class="section s-for-boss" id="for-boss">
  <div class="s-for-boss__decor-diver"></div>

  <div class="container">
    <div class="section__head">
      <div class="section__head-l">
        <h3 class="section__title">{{ pagesPieceOfTexts.forBoss__title | safe }}</h3>
      </div>

      <div class="section__head-r">
        <div class="section__desc">
          {{ pagesPieceOfTexts.forBoss__desc | safe }}

          {% if pagesPieceOfTexts.forBoss__btnLink %}
          <a class="btn btn--green" href="{{ pagesPieceOfTexts.forBoss__btnLink }}" target="_blank">
            {{ pagesPieceOfTexts.forBoss__btnText }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
