\:root
  --mainBg: #fff
  --mainColor: #000
  --ff: Geist Mono, Arial, sans-serif
  --ff-msw: Mona Sans Wide, Arial, sans-serif
  --banner-font: Geist Mono, Arial, sans-serif
  --banner-btn-size: 16px
  --banner-accent-font: Mona Sans Wide, Arial, sans-serif
  --accentColor: #FAFF05
  --colorWhite: #fff
  --colorBlack: #000
  --colorGray100: #F5F3EB
  --colorGray200: #DDD

  --price-increase-bg: #fff
  --price-increase-color: #000
  --price-increase-border: rgba(0,0,0, 0.2)

  --checkout-section-bg: #fff
  --checkout-section-color: #000
  --checkout-section-ff: "Geist Mono"
  --checkout-card-border: 1px solid var(--colorGray200)
  --checkout-card-bg: #fff
  --checkout-card-text-color: #000
  --checkout-quantity-bg: var(--accentColor)
  --checkout-quantity-hover-color: #000
  --checkout-quantity-border: 1px solid #DDD
  --checkout-quantity-button-bg: #000
  --checkout-quantity-button-bg-hover: #FAFF05
  --checkout-quantity-button-icon-color: #fff
  --checkout-quantity-button-icon-color-hover: #000
  --checkout-form-ff: "Geist Mono", sans-serif
  --checkout-form-border: 1px solid #DDD
  --checkout-form-color: #000
  --checkout-price-ff: Mona Sans Wide, Arial, sans-serif
  --checkout-card-title-weight: 500
  --checkout-button-weight: 500
  --checkout-button-border: 1px solid #000
  --checkout-button-border-hover: 1px solid #000

  --cehckout-badge-bg: #FAFF05
  --cehckout-badge-color: #000

  --price-section-bg: transparent
  --price-color: $black

  --price-item-bg: transparent
  --price-item-border: 1px solid #DDD
  --price-item-radius: 8px
  --price-item-title-color: $black
  --price-item-title-weight: 500
  --price-item-date-color: $black
  --price-item-date-size: 16px

  --price-slider-btn-size: 54px
  --price-slider-btn-border-color: #000
  --price-slider-btn-radius: 0
  --price-slider-btn-color: #fff
  --price-slider-btn-bg: #000
  --price-slider-btn-bg-hover: #333

  --price-btn-color: #fff
  --price-btn-border: 1px solid #3C3C3C
  --price-btn-border-color-hover: #5C5C5C

  --ticketsFormBg: transparent
  --ticketsFormBorder: 1px solid #DDD
  --ticketsFormInputBorder: 1px solid #DDD
  --ticketsFormColor: #000
  --ticketsFormInputColor: #000

$font-size: 16px

/*----- COLORS -----*/

$mainBg: #fff
$mainBg2: #eaeaec
$black: #000
$white: rgb(255, 255, 255)
$gray: #F5F3EB
$gray2: #DDD
$themeColor: #FAFF05
$themeColor2: #000
$themeColorD: #FAFF05
$accent: #FAFF05

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- SWITCH -----*/
$switchBG: #99FF00
$switchColor: $black
$switchHandler: $black

// end SWITCH
