<div class="program {{ 'js-slider-auto ' if isSlider }}">
	<div class="program__wrapper swiper-wrapper">
		{% for card in data %}
		<div class="program__item {{ 'swiper-slide' if isSlider }}">
			<h3 class="program__title">{{ card.title }}</h3>

			{% if card.description %}
			<div class="program__descr">{{ card.description | safe }}</div>
			{% endif %}

			{% if card.list %}
			<div class="program__list">{{ card.list | safe }}</div>
			{% endif %}

			{% if card.link %}
			<div class="program__button">
				{{ mixins.btn(card.link) }}
			</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>

	{% if isSlider %}
	<button type="button" class="program__prev swiper-auto-button-prev" aria-label="Previous slide">
		<svg class="icon icon-arrow2-l">
			<use xlink:href="img/sprite.svg?v30#icon-arrow2-l"></use>
		</svg>
	</button>
	<button type="button" class="program__next swiper-auto-button-next" aria-label="Next slide">
		<svg class="icon icon-arrow2-r">
			<use xlink:href="img/sprite.svg?v30#icon-arrow2-r"></use>
		</svg>
	</button>
	{% endif %}
</div>