<ul class="h-list {{ 'h-list_centered' if list.length <= 2 }}">
	{% for stat in list %}
	<li class="h-list__item">
		{% if stat.statNumber %}
		<div class="h-list__value">
			{{ stat.statNumber | safe }}

			{% if stat.showTicket %}
			<span class="h-list__icon"><img src="img/tickets.png" alt="" /></span>
			{% endif %}
		</div>
		{% endif %}

		<div class="h-list__text">
			{% if stat.statName %}
			<span class="h-list__text-top">{{ stat.statName | safe }}</span>
			<br>
			{% endif %}
			{{ stat.statDescr | safe }}
		</div>
	</li>
	{% endfor %}
</ul>
