{% set isClickable = ((talk.contentType !== '07f1cfefde1942fbb63704917cbf2398') and (talk.contentType !== 'b701d52be9d84599a3d46972acafc42f') and (talk.contentType !== '3473d8bc2712475c89e0b47d31b2ee97')) and (talk.speakers | length or talk.speaker | length) %}

{% set isQna = talk.contentType == '3473d8bc2712475c89e0b47d31b2ee97' %}

<div class="sv-item {{'sv-item--hover' if isClickable}} {{'_hidden' if isQna}} {{ 'prime-time' if talk.primeTime }}" style="--bgColor: {{talk.bgColor}}">
	{% if isClickable %}

	{% set svData = {
	avatar: talk.avatar.url if talk.avatar else null,
	company: talk.company,
	name: talk.speaker,
	bio: talk.bio,
	socials: talk.socials,
	speakers: talk.speakers,
	activities: {
	allTalks: [
	{
	title: talk.title,
	description: talk.text,
	label: talk.label,
	track: {
	name: talk.track
	},
	timeString: talk.startDate or talk.time
	}
	]
	}
	} %}
	<button tabindex="0" class="sv-item__cover" onclick={{ eventsLayer.openDialog({name: 'speaker-card' , isAuth: isAuth, data: svData | dump , category: 'speaker-click' , isAuth: not fakeLinks }) }}></button>

	{% endif %}
	<div class="sv-item__top-wrap">
		<div class="sv-item__top">

			<div class="sv-item__time" {{ 'data-time-zone=' + timeZone if timeZone }}>{{talk.startDate}}</div>
			{% if talk.title %}
			<add-to-calendar-button
				class="add-to-calendar swiper-no-swiping"
				name="{{ talk.title }}"
				options="'Apple','Google','iCal','Outlook.com','Microsoft365','MicrosoftTeams','Yahoo'"
				startDate="{{ talk.startDate | tzDate('UTC') }}"
				endDate="{{ (talk.endDate or talk.startDate) | tzDate('UTC') }}"
				startTime="{{ talk.startDate | tzTime('UTC') }}"
				endTime="{{ (talk.endDate or talk.startDate) | tzTime('UTC') }}"
				timeZone="UTC"
				listStyle="modal"
				trigger="click"

				hideCheckmark="true"></add-to-calendar-button>
			{% endif %}
		</div>

		{% if talk.title %}
		<div class="sv-item__title">{{talk.title}}</div>
		{% endif %}
	</div>

	{% if talk.contentType !== '3473d8bc2712475c89e0b47d31b2ee97' %}
	{% if talk.speakers %}
	<div class="sv-item__speakers">
		{% for speaker in talk.speakers %}
		<div class="sv-item__speaker">
			{% if speaker.avatar %}
			<div class="sv-item__speaker-avatar _hidden">
				<img src="{{speaker.avatar}}" alt="" loading="lazy">
			</div>
			{% endif %}
			<div class="sv-item__speaker-content">
				<div class="sv-item__speaker-name">{{ speaker.name }}<span class="_visible">{{ ',' if not loop.last }}</span></div>
				<div class="sv-item__speaker-location _hidden">{{ speaker.company }}</div>
			</div>
		</div>

		{% endfor %}
	</div>
	{% endif %}

	{% if talk.speakers[0] and talk.shortDescription %}
	<div class="sv-item__body _hidden">
		<div class="sv-item__text">{{talk.shortDescription | safe}}</div>
	</div>
	{% else %}
	{% if talk.subactivities and talk.subactivities.length > 0 %}
	<div class="sv-item__body _hidden">
		<div class="sv-item__activities">
			{% for item in talk.subactivities %}
			<div class="sv-item__subtitle">
				<span class="sv-item__subtitle-symbol">&bull;</span>
				{{ item.title }}
				{% if item.speakers %}
				&mdash;
				<span class="sv-item__subtitle-name">
					{% for speaker in item.speakers %}
					<span>{{ speaker.name }}</span>{{ ',' if not loop.last }}
					{% endfor %}
				</span>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% endif %}
	{% endif %}
</div>