<a class="sponsor-banner" onclick={{ ga_mixins.sendGAEvent({ values: 'sponsor-banner-perks;' , category: 'banner-click' , isAuth: not fakeLinks }) }} target="_blank" href="{{ banner.url }}" style="--bgColor:{{ banner.bgColor }}; --bgColorHover: {{ banner.bgColorHover }}; --logoBg: url({{ banner.logoBg }})">
	<div class="sponsor-banner__logo-bg">
		<img class="sponsor-banner__logo" src="{{ banner.logo }}" loading="lazy" />
	</div>
	<p class="sponsor-banner__descr">{{ banner.text }}</p>
	<p class="sponsor-banner__cfa">{{ banner.cfa }}</p>
</a>
