.text-content
	padding: 163px 0 36px
	color: $themeColor
	background: #eaeaec
	+md
		padding: 83px 0 55px
	&__inner
		max-width: 879px
		.text
			&:not(:last-child)
				margin-bottom: 147px
				+tablet
					margin-bottom: 100px
				+md
					margin-bottom: 80px
				+sm
					margin-bottom: 32px



.text
	&__title
		+medium
		font-size: 57px
		+sm
			font-size: 32px
		&:not(:last-child)
			margin-bottom: 57px
			+tablet
				margin-bottom: 40px
			+md
				margin-bottom: 32px
	&__descr
		a
			color: inherit
			+hover
				text-decoration: none
		//letter-spacing: 0.28px

	&__subtitle
		margin-bottom: 65px
		+medium
		font-size: 44px
		+sm
			font-size: 28px
			margin-bottom: 25px

	&__img
		margin-bottom: 60px

		img 
			max-width: 100%
			height: auto


		
