\:root
	--mainBg: #fff
	--mainColor: #000
	--ff: Geist Mono, Arial, sans-serif
	--ff-msw: Mona Sans Wide, Arial, sans-serif
	--banner-font: Geist Mono, Arial, sans-serif
	--banner-btn-size: 16px
	--banner-accent-font: Mona Sans Wide, Arial, sans-serif
	--accentColor: #FAFF05
	--accentColorSecondary: #000
	--colorWhite: #fff
	--colorBlack: #000
	--colorGray100: #F5F3EB
	--colorGray200: #DDD

	--button-background: #FAFF05
	--button-background-hover: #000
	--button-color: #000
	--button-color-hover: #fff

	--price-increase-bg: #fff
	--price-increase-color: #000
	--price-increase-border: rgba(0,0,0, 0.2)

	--checkout-section-bg: #fff
	--checkout-section-color: #000
	--checkout-section-secondary-color: #949494
	--checkout-outline-color: #DDD
	--checkout-card-bg: #fff
	//for light theme
	--checkout-blur: rgba(255, 255, 255, 0.5)
	--checkout-send-btn-bg: #aaa

	--price-section-bg: transparent
	--price-color: #000

	--price-item-bg: transparent
	--price-item-border: #DDD
	--price-slide-width: 422px
	--price-item-title-color: #000
	--price-item-title-weight: 500
	--price-item-date-color: #000
	--prices-promo-input-border: 1px solid #ddd
	--prices-promo-input-color: #000

	--workshop-item-type-color-free: #fff

$font-size: 16px

/*----- COLORS -----*/

$mainBg: #fff
$mainBg2: #eaeaec
$black: #000
$white: rgb(255, 255, 255)
$gray: #F5F3EB
$gray2: #DDD
$themeColor: #FAFF05
$themeColor2: #000
$themeColorD: #FAFF05
$accent: #FAFF05

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- SWITCH -----*/
$switchBG: #99FF00
$switchColor: $black
$switchHandler: $black

// end SWITCH
