.section
  padding: clamp(80px, vw(160px), 160px) 0 clamp(80px, vw(160px), 160px)

  &__title
    +medium
    text-transform: uppercase
    font-size: clamp(18px, vw(32px), 32px)
    margin: 0 0 clamp(40px, vw(82px), 82px)

    + .section__subtitle
      margin-top: -26px

    span, em
      color: $themeColor

  &__big-title
    +bold
    color: $themeColor
    text-transform: uppercase
    line-height: 0.96
    margin-left: -4px
    font-size: clamp(32px, vw(88px), 88px)
    letter-spacing: 0.02em

    +md
      margin-left: -2px

    +sm
      margin-left: 0

  &__subtitle
    +regular
    font-size: clamp(16px, vw(18px, 768px), 18px)
    max-width: 600px
    line-height: 1.56

  &__descr
    font-size: clamp(16px, vw(18px, 768px), 18px)
    line-height: 1.92
    margin: clamp(25px, vw(50px), 50px) 0 0

.container
  --padding-top: 0
  --padding-bottom: 0
  box-sizing: content-box
  max-width: 1308px
  padding: var(--padding-top, 0) clamp(15px, 4vw, 4vw) var(--padding-bottom, 0) clamp(15px, 4vw, 4vw)
  margin: 0 auto
  flex: 1 1

  &--lg
    max-width: 1480px

.alt-bg
  background: $mainBg2
  color: $black

  .section

    &__title

      p
        color: $black

        span
          color: $themeColor

#threespinner
  width: 80px
  height: 80px
  border: 2px solid #fff
  border-top: 3px solid transparent
  border-radius: 100%
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto
  animation: threespin 1s infinite linear

  @keyframes threespin
    from
      transform: rotate(0deg)
    to
      transform: rotate(360deg)
