@import "_variables.sass"

html
	--color-brand: #{$themeColor}
	--color-brand-hover: #{$themeColorD}
	--color-popup-ticket-border: #{$themeColor}

.block
	display: flex
	// remove this

.title-gradient
  letter-spacing: 0.01em
  text-align: center
  font-size: 92px
  font-weight: 900
  line-height: 1.07
  text-transform: uppercase
  color: #fff

 	+md
 		font-size: 5.5vw

 	+sm
 		font-size: 6.5vw
