\:root
  --accentColor: #00CA6E
  --button-background: #00ca6e
  --button-background-hover: #05c86f
  --button-color: #fff
  --button-color-hover: #fff

  --price-increase-bg: #202a43

  --price-section-bg: #202a43
  --price-color: #fff
  --price-item-bg: #202a43
  --price-item-border: 2px solid #e6e6E650
  --price-item-radius: 0
  --price-item-title-color: #00CA6E
  --price-item-title-weight: 700

  --price-slider-btn-size: 54px
  --price-slider-btn-border-color: #00CA6E
  --price-slider-btn-radius: 0
  --price-slider-btn-color: #fff
  --price-slider-btn-bg: #00CA6E
  --price-slider-btn-bg-hover: #252525

  --price-btn-color: #fff
  --price-btn-border: 1px solid #fff
  --price-btn-border-color-hover: #5C5C5C

  --ticketsFormBg: #202a43
  --ticketsFormBorder: 2px solid #e6e6E650
  --ticketsFormInputBorder: 1px solid #e6e6E650
  --ticketsFormInputRadius: 100px
  --ticketsFormColor: #fff
  --ticketsFormInputColor: #fff

  --workshop-item-ff: Montserrat
  --workshop-item-color: #fff
  --workshop-item-bg: #e6e6E650
  --workshop-item-type-bg: #fff
  --workshop-item-border: #e6e6E650
  --workshop-item-type-radius: 4px

$font-size: 16px

/*----- COLORS -----*/

$mainBg: #202A43
$mainBg2: #f7f7f7
$black: #5F5F5F
$white: #fff
$gray: #E6E6E6
$gray2: #E6E6E650
$themeColor: #00CA6E
$themeColorD: #9dde00
$themeColor2: #FFFFFF
$accent: #b1ec00

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- CHECKOUT -----*/
$checkoutSectionBg: #202A43
$cehckoutInputColor: #000
$cehckoutInputBg: #fff
$cehckoutColorGray: #eaeaec
$cehckoutBadgeBg: #fff
$cehckoutBadgeColor: #000
// end CHEcKoUT

/*----- SWITCH -----*/
$switchBG: #00CA6E
$switchColor: $black
$switchHandler: $black

// end SWITCH
