$font-size: 16px

/*----- COLORS -----*/

$mainBg: #202A43
$mainBg2: #f7f7f7
$black: #5F5F5F
$white: #fff
$gray: #E6E6E6
$gray2: #E6E6E650
$themeColor: #00CA6E
$themeColorD: #9dde00
$themeColor2: #FFFFFF
$accent: #b1ec00

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- CHECKOUT -----*/
$checkoutSectionBg: #202A43
$cehckoutInputColor: #000
$cehckoutInputBg: #fff
$cehckoutColorGray: #eaeaec
$cehckoutBadgeBg: #fff
$cehckoutBadgeColor: #000
// end CHEcKoUT

/*----- SWITCH -----*/
$switchBG: #00CA6E
$switchColor: $black
$switchHandler: $black

// end SWITCH
