.event
	position: relative
	background: $themeColor2
	background: linear-gradient(to right, $themeColor, $themeColor)

	&__title
		font-size: 92px
		color: #fff
		font-weight: 700
		line-height: 1.06
		text-align: center
		margin: 5px auto 56px
		+black
		+r(1360)
			font-size: 6.7vw
		+tablet
			margin-bottom: 51px
		+md
			margin-bottom: 40px
		+sm
			font-size: 6vw
			letter-spacing: 0
			margin: 0 0 27px
		+xs
			font-size: 32px
			letter-spacing: 3.2px

	&__text
		font-size: 18px
		max-width: 1040px
		padding: 0 20px
		margin: 0 auto
		line-height: 1.9
		letter-spacing: -.001em
		text-align: center

		p
			margin: 15px 0 0

			+first
				margin: 0
		+md
			//margin: 0 -13px
			//letter-spacing: 0
			font-size: 17px
			max-width: 100%
			line-height: 1.5
		+sm
			font-size: 15px
			padding: 0
			margin: 0
			line-height: 1.42
		+xs
			a
				display: block

	&__techs-title
		+bold
		font-size: 26px
		margin: 82px auto 52px
		text-align: center

		+sm
			font-size: 22px
			margin: 62px auto 32px

		+xs
			font-size: 18px
			margin: 52px auto 22px
