
.no-video-modal
    max-width: 500px
    width: 100%
    margin: 0 auto
    text-align: center
    padding: 40px 16px

    &__title
        text-transform: none
        font-size: 20px
        text-decoration: none
        font-weight: 500
        color: #fff

    &__button
        margin: 0 auto
        margin-top: 24px
        max-width: 210px

    .btn
        height: 50px
