<section class="section awards" id="awards" style="background-image: url(img/footer-bg.png)">
  <div class="container">
    <h3 class="section__title">{{ mixins.text(pieceOfTexts, 'rosawards__title') }}</h3>
    <div class="awards__img">
      <img src="img/osa.png" alt="Award">
    </div>
    <div class="awards__text section__text text">
      <p>
        {{ mixins.text(pieceOfTexts, 'rosawards__text') }}
      </p>
    </div>
  </div>
  <div class="awards__nominations nominations">
    <!-- <div class="nominations__title">{{ mixins.text(pieceOfTexts, 'nominations__title') }}</div> -->
    <div class="nominations__grid">
      <!-- <div class="nominations__item">{{ mixins.text(pieceOfTexts, 'nominations__titleone') }}</div> -->
      <div class="nominations__line">
      	<div class="nominations__item">Breakthrough of the year</div>
      	<div class="nominations__item">Breakthrough of the year</div>
      	<div class="nominations__item active">Breakthrough of the year</div>
      	<div class="nominations__item">Breakthrough of the year</div>
      	<div class="nominations__item">Breakthrough of the year</div>
      </div>
      <div class="nominations__line">
      	<div class="nominations__item">Fun side project of the year</div>
      	<div class="nominations__item">Fun side project of the year</div>
      	<div class="nominations__item active">Fun side project of the year</div>
      	<div class="nominations__item">Fun side project of the year</div>
      	<div class="nominations__item">Fun side project of the year</div>
      </div>
      <div class="nominations__line">
      	<div class="nominations__item">Most impactful contribution<br/> to the community</div>
      	<div class="nominations__item">Most impactful contribution<br/> to the community</div>
      	<div class="nominations__item active">Most impactful contribution<br/> to the community</div>
      	<div class="nominations__item">Most impactful contribution<br/> to the community</div>
      	<div class="nominations__item">Most impactful contribution<br/> to the community</div>
      </div>
      <div class="nominations__line">
      	<div class="nominations__item">Productivity booster</div>
      	<div class="nominations__item">Productivity booster</div>
      	<div class="nominations__item active">Productivity booster</div>
      	<div class="nominations__item">Productivity booster</div>
      	<div class="nominations__item">Productivity booster</div>
      </div>
      <div class="nominations__line">
      	<div class="nominations__item">The most exciting use of technology</div>
      	<div class="nominations__item">The most exciting use of technology</div>
      	<div class="nominations__item active">The most exciting use of technology</div>
      	<div class="nominations__item">The most exciting use of technology</div>
      	<div class="nominations__item">The most exciting use of technology</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="awards__btn">
      <a href="https://osawards.com/react" class="btn btn--border">More about React open source awards</a>
    </div>
  </div>
</section>
