<div class="pop-ticket" id="popup-ticket">
	<div class="pop-ticket__two-col">
		<div class="pop-ticket__left">
			<p class="pop-ticket__title">Dont have a full ticket?</p>
			<p class="pop-ticket__desc">Free ticket holders can watch our conference talks, but all other activities are only available to full-access attendees. Upgrade your ticket and get to join Q&As with pro speakers, advice lounge with our experts, networking rooms, afterparty, and you’ll also enjoy many other perks.</p>
			<a href="https://ti.to/gitnation/react-summit" class="pop-ticket__btn btn btn--border" target="blank_">Get one</a>
		</div>

		<div class="pop-ticket__right">
			<p class="pop-ticket__title">Have a full ticket?</p>
			<p class="pop-ticket__desc">Use your access code from the ticket to unlock all features</p>

			<form action="/liveauth" method="get" class="c-form" target="_blank" novalidate="">
				<div class="c-form__field">
					<input type="text" name="code" class="c-form__input" placeholder="Your code">

					<button type="submit" class="c-form__submit">
						<span>Unlock</span>{{mixins.icon('arrow-right')}}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
