<section class="s-prices">
	<div class="container">
		<div class="prices">
			<div class="prices__list" id="js-prices-scroll">
				<div class="prices__glow" id="js-prices-glow"></div>

				{% for price in extendeds.prices %}
				<div class="prices__item">
					<h4 class="prices__title">{{ price.title | safe }}</h4>
					<div class="prices__price">{{ price.subtitle | safe }}</div>
					{% if price.description %}
						<div class="prices__price-tip">{{ price.description | safe }}</div>
					{% endif %}
					<div class="prices__desc">{{ price.location | safe }}</div>
					<a href="{{ price.registerLink }}" class="prices__btn btn {{ price.slackChannelName }}" target="_blank">{{ price.locationLink }}</a>
				</div>
				{% endfor %}
			</div>

			<div class="prices__bottom">Current prices are Early Bird. The price increase coming soon</div>
		</div>
	</div>
</section>
