<div class="screens-wrap">
	<picture class="screens-wrap__ratio">
		<source media="(min-width: 650px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD0AAAAaAQAAAAAssGnKAAAAD0lEQVR4AWP4DwE/hj0DAGarznuVhA4/AAAAAElFTkSuQmCC">
		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAQAAAACBiqPTAAAAC0lEQVR4AWP8AIEADxwDxVKwsm0AAAAASUVORK5CYII=" width="61" height="26">
	</picture>

	<div class="screens">
		{% for screen in pages.main.pageStatistics.heroScreens %}
			<div class="screens__item">
				<div class="screens__overlay">
					<svg class="icon icon-{{ screen.iconFace }}">
						<use xlink:href="img/sprite.svg?v2#icon-{{ screen.iconFace }}"></use>
					</svg>
				</div>

				{% if screen.speakerHandle %}
					<img class="screens__img" src="https://media.graphcms.com/output=format:jpg/resize=fit:crop,height:720,width:720/{{ screen.speakerHandle }}">
				{% endif %}

				<svg class="icon screens__screens-star">
					<use xlink:href="img/sprite.svg?v2#icon-screens_star"></use>
				</svg>

				<svg class="icon screens__screens-dots">
					<use xlink:href="img/sprite.svg?v2#icon-screens_dots"></use>
				</svg>

				<svg class="icon screens__screens-controls">
					<use xlink:href="img/sprite.svg?v2#icon-screens_controls"></use>
				</svg>
			</div>
		{% endfor %}
	</div>
</div>