<section class="section speakers {{speakersMod}}" id="advicers">
  <div class="container">
    <h2 class="section__title">{{ mixins.text(pieceOfTexts, 'advicers__title') }}</h2>

    <div class="speakers-list">
      {% for advicer in speakers.advisers %}
      <div class="speakers-list__item">
        <div class="speaker">
          <div class="speaker__photo">
            <img src="{{advicer.photo}}" alt="{{advicer.name}}">
          </div>
          {% if advicer.expertise %}
          <div class="speaker__expertise" style="--tagBG: #000; color: #fff;">{{advicer.expertise}}</div>
          {% endif %}
          <div class="speaker__name">{{advicer.name}}</div>
          <div class="speaker__company">{{advicer.company}}</div>
          <div class="speaker__desc">{{advicer.desc | safe}}</div>
          {% if (advicer.github) or (advicer.twitter) or (advicer.medium) or (advicer.site) %}
          <div class="speaker__socials">
            {% if advicer.github %}
            <a href="{{advicer.github}}" target="_blank" class="speaker__social-link">{{mixins.icon('gh')}}</a>
            {% endif %}
            {% if advicer.twitter %}
            <a href="{{advicer.twitter}}" target="_blank" class="speaker__social-link">{{mixins.icon('tw')}}</a>
            {% endif %}
            {% if advicer.medium %}
            <a href="{{advicer.medium}}" target="_blank" class="speaker__social-link">{{mixins.icon('md')}}</a>
            {% endif %}
            {% if advicer.site %}
            <a href="{{advicer.site}}" target="_blank" class="speaker__social-link">{{mixins.icon('site')}}</a>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
