<section class="section s-attend-parties" id="attend-parties">
  <div class="container">
    <div class="attend-parties">
      <div class="attend-parties__content">
        <h3 class="attend-parties__title">{{ mixins.text(pieceOfTexts, 'attendParties__title') }}</h3>
        <div class="attend-parties__img"><img src="img/attend-parties.jpg"/></div>
      </div>
      
      <div class="attend-parties__bottom">
        <p class="attend-parties__desc">{{ pagesPieceOfTexts.attendParties__desc }}</p>
        <a class="attend-parties__btn btn btn--transparent" href="{{ pagesPieceOfTexts.attendParties__btnLink }}">{{ pagesPieceOfTexts.attendParties__btnText }}</a>
      </div>
    </div>
  </div>
</section>