<section class="section giving-back {{animationOnScroll}}" id="diversity">
  <div class="container">
    {% if pagesPieceOfTexts.diversity__suptitle %}
    <h4 class="section__suptitle">{{pagesPieceOfTexts.diversity__suptitle}}</h4>
    {% endif %}
    <h3 class="section__title" data-title="{{diversity.title}}">{{ diversity.title }}</h3>

    <div class="section__text text giving-back__text">{{ diversity.description | safe }}</div>

    <div class="giving-back__logos">
      {% for item in diversity.sponsors %}
      <picture class="giving-back__logo">
        <img class="giving-back__img" src="{{item.avatar}}" alt="" role="presentation">
      </picture>
      {% endfor %}
    </div>

    <div class="status-bar">
      <div class="status-bar__title">{{ diversity.sponsoredTickets }} of {{ diversity.maxTickets }} extra diversity scholarships sponsored</div>
      <div class="status-bar__line">
        <div class="status-bar__progress" style="width: {{ diversity.progress }}%"></div>
      </div>
    </div>

    <div class="giving-back__btns">
      {% if (diversity.showApplyButton) %}
      <a class="btn btn--border" href="{{ diversity.applyButtonLink }}">
        <span>{{ diversity.applyButtonText }}</span>
      </a>
      {% endif %}
      {% if (diversity.showSponsorButton) %}
      <a class="btn " href="{{ diversity.sponsorButtonLink }}">
        <span>{{ diversity.sponsorButtonText }}</span>
      </a>
      {% endif %}
    </div>
  </div>
  <div class="giving-back__faces">
    <img src="img/faces.png" alt="Faces">
  </div>
</section>
