<div class="section sec-checkout">
	<div class="container">
		{% if pagesPieceOfTexts.checkout__title %}
		<h3 class="sec-checkout__title">{{ mixins.text(pieceOfTexts, 'checkout__title') }}</h3>
		{% endif %}

		{% if pagesPieceOfTexts.checkout__description %}
		<div class="sec-checkout__description">
			{{ mixins.text(pieceOfTexts, 'checkout__description') }}
		</div>
		{% endif %}

		<script src='https://js.tito.io/v2/with/inline,ga4,facebook' async></script>
		<div class="tito-wrapper">
			<div class="tito-block" data-ts="1">
				<tito-widget event="{{ pagesPieceOfTexts.tickets__link }}"></tito-widget>
			</div>
			{% if pagesPieceOfTexts.checkout__bottomText %}
			<div class="tito-wrapper__text">
				{{ pagesPieceOfTexts.checkout__bottomText }} <a target="_blank" href="https://ti.to/{{ pagesPieceOfTexts.tickets__link }}">{{ pagesPieceOfTexts.checkout__bottomLink }}</a>
			</div>

			{% endif %}
		</div>


	</div>
</div>