<section class="section sec-checkout"
  style="--bgColor: {{ emsBrand.backgroundCSS }}; --textColor: {{ emsBrand.textColor }}; --accentColor: {{ emsBrand.accentCSS }}">
  <div class="sec-checkout__bg "></div>
  <div class="container">

    {% if pages[pageKey].pageSections.review %}
    <div class="sec-checkout__review с-review">
      <div class="с-review__text">
        {{pages[pageKey].pageSections.review.text | safe}}
      </div>
      <div class="с-review__author">
        <div class="с-review__author-img">
          <img src="{{pages[pageKey].pageSections.review.avatar}}" alt="{{pages[pageKey].pageSections.review.name}}" />
        </div>
        <div class="с-review__author-content">
          <div class="с-review__author-name">{{pages[pageKey].pageSections.review.name}}</div>
          <div class="с-review__author-company">{{pages[pageKey].pageSections.review.company}}</div>
        </div>
      </div>
    </div>
    {% endif %}


    <h1 class="sec-checkout__title">
      {{ pagesPieceOfTexts.checkout__title or pages[pageKey].titlePage }}
    </h1>

    {% if pagesPieceOfTexts.checkout__description %}
    <div class="sec-checkout__description seo-text">
      {{ mixins.text(pieceOfTexts, 'checkout__description') }}
    </div>
    {% endif %}


    <script src='https://js.tito.io/v2/with/inline,ga4,facebook' async></script>

    <div class="tito-wrapper js-tabs-container">
      {% if pages[pageKey].pageSections.checkout.remote %}
      <div class="checkout-tabs">
        <button data-href="#hybrid" class="checkout-tabs__item js-tab-link is-active" data-tab="1">
          {{ pages[pageKey].pageSections.checkout.default.text }}
        </button>
        <button data-href="#remote" class="checkout-tabs__item js-tab-link" data-tab="2">
          {{ pages[pageKey].pageSections.checkout.remote.text }}
        </button>
      </div>
      <div class="checkout-tab js-tab is-active" data-tab="1">
        <div class="tito-block">
          <tito-widget event="{{ pages[pageKey].pageSections.checkout.default.link }}"></tito-widget>
        </div>

        {% if pagesPieceOfTexts.checkout__bottomText %}
        <div class="tito-wrapper__text">
          {{ pagesPieceOfTexts.checkout__bottomText | safe }}
        </div>

        {% endif %}
      </div>

      <div class="checkout-tab js-tab " data-tab="2">
        <div class="tito-block ">
          <tito-widget event="{{ pages[pageKey].pageSections.checkout.remote.link }}"></tito-widget>
        </div>
        {% if pagesPieceOfTexts.checkout__RemoteBottomText %}
        <div class="tito-wrapper__text">
          {{ pagesPieceOfTexts.checkout__RemoteBottomText | safe }}
        </div>

        {% endif %}

      </div>
      {% else %}
      <div class="tito-block ">
        <tito-widget event="{{ pages[pageKey].pageSections.checkout.default.link }}"></tito-widget>

        {% if pages[pageKey].pageSections.multipassBanner %}
        {% set multipassBanner = pages[pageKey].pageSections.multipassBanner %}
        <div class="multipass-block js-multipass-intro-tito">
          <div class="multipass-block__content">
            <h4 class="multipass-block__title">{{multipassBanner.title}}</h4>
            <div class="multipass-block__logos">
              {% for logo in multipassBanner.logos %}
              <a href="{{logo.link}}" target="_blank"><img src="{{logo.src}}" alt="{{logo.alt}}" /></a>
              {% endfor %}
            </div>
          </div>
          <div class="multipass-block__side">
            <div class="multipass-block__price">
              {{multipassBanner.price.current }} <span>{{multipassBanner.price.billingPeriod}}</span>
            </div>
            <div class="multipass-block__team">{{multipassBanner.teamPass}}</div>
            <div class="multipass-block__text">
              <ul>
                {% for item in multipassBanner.list %}
                <li>{{item}}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="multipass-block__cta">
              <a href="{{multipassBanner.cta.link}}" onclick={{ ga_mixins.sendGAEvent({ values: multipassBanner.cta.text | striptags + ';' , category: 'multipass-banner' , isAuth: not fakeLinks }) }}>{{multipassBanner.cta.text}}</a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      {% if pagesPieceOfTexts.checkout__bottomText %}
      <div class="tito-wrapper__text">
        {{ pagesPieceOfTexts.checkout__bottomText | safe }}
      </div>
      {% endif %}
      {% endif %}

    </div>
  </div>
</section>

<script>
  const FORM_CHECK_INTERVAL = 500;
  const BASE_URL = 'https://gitnation.com';
  // const BASE_URL = 'http://localhost:3000';

  let state = {};
  async function updateState(values) {
    state = { ...state, ...values };

    if (state.tickets.length > 0 && (state.email || (state.name && state.company))) {
      trackThrottled(state);
    }
  }

  function throttle(cb, timeMs = 1000) {
    let timeout = null;
    let isThrottling = false;

    return (...args) => {
      if (isThrottling) {
        return;
      }

      isThrottling = true;
      timeout = setTimeout(() => {
        isThrottling = false;
      }, timeMs)

      return cb(...args);
    }
  }

  async function trackRequest(data) {
    return fetch(BASE_URL + '/api/order/track', { body: JSON.stringify(data), method: 'POST' }).then(response => response.json());
  }

  async function completeRequest(data) {
    return fetch(BASE_URL + '/api/order/complete', { body: JSON.stringify(data), method: 'POST' }).then(response => response.json());
  }

  const trackThrottled = throttle(trackRequest, 500);
  const completeThrottled = throttle(completeRequest, 500);

  /**
   * @param {string} selector
   * @param {string} stateField
   */
  function trackField(selector, stateField) {
    const field = document.querySelector(selector);
    if (field) {
      field.addEventListener('blur', (e) => {
        const value = e.target.value;
        if (state[stateField] !== value) {
          updateState({ [stateField]: e.target.value });
        }
      })
    }
  }

  function waitForm() {
    let waitTime = FORM_CHECK_INTERVAL * 10;

    return new Promise((resolve, reject) => {
      const interval = setInterval(() => {
        const form = document.querySelector('form[class="tito-registration-form"]');
        if (form) {
          clearInterval(interval);
          resolve();
        }

        waitTime -= FORM_CHECK_INTERVAL;
        if (waitTime <= 0) {
          clearInterval(interval);
          reject(new Error('Timeout'));
        }
      }, FORM_CHECK_INTERVAL)
    })
  }

  /**
   * @typedef Event
   * @type {object}
   * @property {string} slug
   * @property {string} title
   *
   * @typedef LineItem
   * @type {object}
   * @property {string} release_slug
   * @property {string} release_title
   * @property {number} quantity
   *
   * @typedef TitoData
   * @type {object}
   * @property {string} slug
   * @property {string} email
   * @property {string} company_name
   * @property {string} name
   * @property {Event} event
   * @property {LineItem[]} line_items
  */

  /**
   * @param {TitoData} initialData - parameter from `on:registration:started` hook
   */
  window.initTitoHandlers = window.initTitoHandlers || function (initialData = {}) {
    waitForm().then(() => {
      console.debug('init handlers');
      state = {};

      trackField('input[id="tito-name"]', 'name');
      trackField('input[id="tito-email"]', 'email');
      trackField('input[id="tito-company-name"]', 'company');

      updateState({
        orderId: initialData.slug,
        name: initialData.name,
        company: initialData.company_name,
        email: initialData.email,
        eventSlug: initialData.event.slug,
        tickets: initialData.line_items.map(i => ({ title: i.release_title, quantity: i.quantity }))
      })
    })
  }

  window.finishTitoRegistration = window.finishTitoRegistration || function (payload) {
    console.debug('finish tito registration');

    const data = payload || {};

    completeThrottled(state);

    window._conv_q = window._conv_q || [];
    _conv_q.push(["pushRevenue", data.total, data.tickets_count, "undefined"]);
  }
</script>

{% include "partials/js/_prefill-tito-widget.html" %}
