{% if speakers.committee %}
<section class="section committee s-speakers {{animationOnScroll}} {{speakersMod}} {{'hide-sm' if speakers[pageKey].length > speakersLength}}" id="committee" data-suptitle="committee">
	<div class="container">
		<div class="committee__bg"></div>
		<h2 class="section__title with-dots" data-title="{{pagesPieceOfTexts.committee__title}}">{{ pagesPieceOfTexts.committee__title or 'Program Committee'}}</h2>
		<div class="speakers-list">
			{% for person in speakers.committee %}
			<div class="speakers-list__item" id="committee-{{ person.slug }}-id">
				{{ mixins.speaker(person, inPerson, eventsLayer, not fakeLinks, id="committee", confName = confName) }}
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}