<section class="section s-contact-form " id="contact-form">

  <div class="container">
    <div class="contact-form">
      <h3 class="contact-form__title">{{ mixins.text(pieceOfTexts, 'contactForm__title') }}</h3>

      <ul class="social graphcms-container" {{ mixins.cmsData(conference) }}>
        {% if conference.instagramUrl %}
        <li class="social__item"><a aria-label="instagram" href="{{ conference.instagramUrl }}" class="social__link inst" target="_blank">{{mixins.icon('instagram')}}</a></li>
        {% endif %}
        {% if conference.tiktokUrl %}
        <li class="social__item"><a aria-label="tiktok" href="{{ conference.tiktokUrl }}" class="social__link tiktok" target="_blank">{{mixins.icon('tiktok')}}</a></li>
        {% endif %}
        {% if conference.twitterUrl %}
        <li class="social__item"><a aria-label="twitter" href="{{ conference.twitterUrl }}" class="social__link tw" target="_blank">{{mixins.icon('tw')}}</a></li>
        {% endif %}
        {% if conference.facebookUrl %}
        <li class="social__item"><a aria-label="facebook" href="{{ conference.facebookUrl }}" class="social__link fb" target="_blank">{{mixins.icon('fb')}}</a></li>
        {% endif %}
        {% if conference.youtubeUrl %}
        <li class="social__item"><a aria-label="youtube" href="{{ conference.youtubeUrl }}" class="social__link yb" target="_blank">{{mixins.icon('yb')}}</a></li>
        {% endif %}
        {% if conference.mediumUrl %}
        <li class="social__item"><a aria-label="medium" href="{{ conference.mediumUrl }}" class="social__link md" target="_blank">{{mixins.icon('md')}}</a></li>
        {% endif %}
        {% if conference.discordUrl %}
        <li class="social__item"><a aria-label="discord" href="{{ conference.discordUrl }}" class="social__link dis" target="_blank">{{mixins.icon('dis')}}</a></li>
        {% endif %}
        {% if conference.gnPortal %}
        <li class="social__item"><a aria-label="gitnation portal" href="{{ conference.gnPortal }}" class="social__link portal" target="_blank">{{mixins.icon('portal')}}</a></li>
        {% endif %}
      </ul>

      <div class="contact-form__desc">{{ mixins.text(pieceOfTexts, 'contactForm__desc') }}</div>

      <form class="contact-form__form" action="{{ pagesPieceOfTexts.contactForm__formAction | safe }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
        <div class="contact-form__field">
          <input class="contact-form__input" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Your@email" required="">
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_910284f989b81c945f27311af_70a763695e" tabindex="-1" value="">
          </div>
          <button class="contact-form__submit" type="submit" name="subscribe" id="mc-embedded-subscribe" aria-label="Subscribe">
            <span>Subscribe</span>{{mixins.icon('arrow-right')}}
          </button>
        </div>
      </form>
    </div>
  </div>

</section>