<section class="section articles sec-perks">
  <div class="container">
    {% if pagesPieceOfTexts.perks__title or pagesPieceOfTexts.perks__desc %}
      <div class="articles__head">
        {% if pagesPieceOfTexts.perks__title %}
        <div class="articles__title">{{ mixins.text(pieceOfTexts, 'perks__title') }}</div>
        {% endif %}
        <div class="articles__subtitle">{{ mixins.text(pieceOfTexts, 'perks__desc') }}</div>
      </div>
    {% endif %}
  </div>
  <div class="articles__content">
    {% for item in pages[pageKey].pageStatistics.articles %}
    <div class="article graphcms-container" {{ mixins.cmsData(item) }}>
      <div class="article__inner">
        <div class="article__img"><a href="{{item.link}}"><img src="img/jobs/{{item.img}}" alt="{{item.title}}" /></a></div>
        <div class="article__content">
          <div class="article__title">{{item.title}}</div>
          <div class="article__description">{{item.descr | safe}}</div>
          <a href="{{item.link}}" class="article__link">learn more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  
    {% include "partials/_perks.html" %}
  </div>

</section>
