<section class="section s-cta" id="cta">
   <div class="container">
      <div class="cta">
         <div class="cta__desc">{{ pagesPieceOfTexts.cta__desc | safe }}</div>

         <div class="cta__btns">
            {% if pagesPieceOfTexts.cta__rightBtnLink %}
            {{mixins.button({
            class: 'btn',
            link: pagesPieceOfTexts.cta__leftBtnLink,
            text: pagesPieceOfTexts.cta__leftBtnText,
            target: true
            })}}
            {% endif %}

            {% if pagesPieceOfTexts.cta__rightBtnLink %}
            {{mixins.button({
            class: 'btn btn--warning',
            link: pagesPieceOfTexts.cta__rightBtnLink,
            text: pagesPieceOfTexts.cta__rightBtnText
            })}}
            {% endif %}
         </div>
      </div>
   </div>
</section>