<section class="section s-discount-form " id="discount-form">
  <div class="container">

    <div class="discount-form">
      <h3 class="discount-form__title">{{ mixins.text(pieceOfTexts, 'discountForm__title') }}</h3>

      <form class="discount-form__form" action="{{ pagesPieceOfTexts.discountForm__formAction | safe }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
        <div class="discount-form__field">
          <input class="discount-form__input" type="text" value="" name="NAME" id="mce-NAME" placeholder="Name" required="">
        </div>
        <div class="discount-form__field">
          <input class="discount-form__input" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email" required="">
        </div>
        <div class="discount-form__field">
          <input class="discount-form__input" type="text" value="" name="COMPANY" id="mce-COMPANY" placeholder="Company" required="">
        </div>
        <div class="discount-form__field textarea">
          <textarea class="discount-form__textarea" placeholder="Email of the Decision Maker"></textarea>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_910284f989b81c945f27311af_70a763695e" tabindex="-1" value="">
        </div>
        <button class="discount-form__submit btn btn--transparent" type="submit" name="subscribe" id="mc-embedded-subscribe">
          <span>Send request</span>
        </button>
        </div>
      </form>
    </div>
  </div>
</section>