<section class="section event" id="event">
  {% if pages[pageKey].pageSections.eventVideo %}
  <video class="event__video" preload="auto" muted autoplay loop playsinline poster="img/event.png">
    <source src="video/event.webm?v7" type="video/webm" />
    <source src="video/event.mp4?v7" type="video/mp4" />
  </video>
  {% endif %}

  <div class="container">
    {% if pagesPieceOfTexts.event__title %}
    <h3 role="heading" class="section__title event__heading graphcms-container">
      {{ mixins.text(pieceOfTexts, 'event__title') }}
    </h3>
    {% endif %}

    {% if pagesPieceOfTexts.event__subtitle %}
    <div class="event__tip">
      {{ mixins.text(pieceOfTexts, 'event__subtitle') }}
    </div>
    {% endif %}


    {% if pagesPieceOfTexts.event__boldtitle %}
    <div class="event__title">{{ mixins.text(pieceOfTexts, 'event__boldtitle') }}</div>
    {% endif %}

    <div class="event__row">
      <div class="event__text section__text">
        {{ mixins.text(pieceOfTexts, 'event__text') }}
      </div>

      {% if confName === 'rs' %}
      <div class="event__venue">
        <img class="event__venue-text" src="img/venue.svg" alt="Low emission venue">
        <img class="event__venue-img" src="img/leaflet.svg" alt="" role="presentation">
      </div>
      {% endif %}
    </div>

    {% if pages[pageKey].pageSections.techs %}
    <div class="event__techs-title">{{ mixins.text(pieceOfTexts, 'event__techstitle') }}</div>

    {% include "partials/_techs.html" %}
    {% endif %}

    {% if pages[pageKey].pageSections.dates %}
    {% include "partials/_dates.html" %}
    {% endif %}
    {% if pagesPieceOfTexts.event__tip %}
    <div class="event__tip">{{ mixins.text(pieceOfTexts, 'event__tip') }}</div>
    {% endif %}
  </div>
</section>