<section class="section event " id="event">

	<div class="event__bg" hidden></div>

	{% if pages[pageKey].pageSections.eventVideo %}
	<video class="event__video" preload="auto" muted autoplay loop playsinline poster="img/event.png">
		<source src="video/event.webm?v7" type="video/webm" />
		<source src="video/event.mp4?v7" type="video/mp4" />
	</video>
	{% endif %}

	<div class="container">
		{% if pagesPieceOfTexts.event__title %}
		<h2 role="heading" class="section__title event__heading ">
			{{ pagesPieceOfTexts.event__title }}
		</h2>
		{% endif %}

		{% if pagesPieceOfTexts.event__subtitle %}
		<div class="event__tip">
			{{ mixins.text(pieceOfTexts, 'event__subtitle') }}
		</div>
		{% endif %}


		<div class="event__head _anim-items">
			{% if pagesPieceOfTexts.event__boldtitle %}
			<h2 class="event__title anim-title">{{ pagesPieceOfTexts.event__boldtitle }}</h2>
			{% endif %}

			<div class="event__text section__text">
				{{ mixins.text(pieceOfTexts, 'event__text') }}
			</div>
		</div>


		{% if pages[pageKey].pageSections.feedbacks %}
		<div class="event__feedback" style="background-image: url({{mixins.mediaUrl(pages[pageKey].pageSections.feedbacks.bgImg, 'resize=fit:clip,height:584,width:1180/output=format:webp')}})">
			{% for feedback in pages[pageKey].pageSections.feedbacks.items %}
			<div class="feedback-item">
				<h4 class="feedback-item__title">
					{{feedback.title}}
				</h4>

				<div class="feedback-item__user ">
					<div class="feedback-item__user-img">
						<img src="{{feedback.author.avatar}}" alt="" />
					</div>
					<div class="feedback-item__user-content">
						<div class="feedback-item__user-name">{{feedback.author.name}}</div>
						<div class="feedback-item__user-text">{{feedback.author.country}}</div>
					</div>
				</div>

				<div class="feedback-item__text">
					{{feedback.text}}
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}


		{% if pages[pageKey].pageSections.program and confName !== 'rsus' %}
		<div class="s-program _anim-items" id="program">
			<h2 class="section__title anim-title">{{ pagesPieceOfTexts.program__title | safe }}</h2>
			{% include "partials/blocks/_deep-dives-list.html" %}
		</div>
		{% endif %}

		{% if pages[pageKey].pageSections.techs and confName !== 'rs' and confName !== 'rsasia' %}
		<div class="event__techs">
			<div class="event__techs-title">{{ mixins.text(pieceOfTexts, 'event__techstitle') }}</div>

			{% include "partials/_techs.html" %}

			{% if pagesPieceOfTexts.event__followUs %}
			<div class="event__follow-us">
				{{ pagesPieceOfTexts.event__followUs | safe}}
			</div>
			{% endif %}
		</div>
		{% endif %}


		{% if (pages[pageKey].pageSections.datesSlider or pages[pageKey].pageSections.dates) and (extendeds.datesInPerson or extendeds.dates if inPerson else extendeds.dates) %}
		<div class="event__dates">
			{% if pages[pageKey].pageSections.datesSlider %}
			{% include "partials/_dates-slider.html" %}
			{% endif %}

			{% if pages[pageKey].pageSections.dates %}
			<div class="event__dates">
				{% include "partials/_dates.html" %}
			</div>
			{% endif %}

		</div>
		{% endif %}
	</div>
</section>