<section class="section event" id="event">
  <video class="event__video" preload="auto" muted autoplay loop poster="img/event.png">
    <source src="video/event.webm" type="video/webm"/>
    <source src="video/event.mp4" type="video/mp4"/>
  </video>
  
  <div class="container">
    {% if pagesPieceOfTexts.event__title %}
    <h3 class="section__title event__heading graphcms-container">
        {{ mixins.text(pieceOfTexts, 'event__title') }}
    </h3>
    {% endif %}

    {% if pagesPieceOfTexts.event__subtitle %}
    <div class="event__tip">
        {{ mixins.text(pieceOfTexts, 'event__subtitle') }}
    </div>
    {% endif %}
  
    <div class="event__title">{{ mixins.text(pieceOfTexts, 'event__boldtitle') }}</div>
    
    <div class="event__text section__text">
      {{ mixins.text(pieceOfTexts, 'event__text') }}
    </div>

    {% if pages[pageKey].pageSections.techs %}
      <div class="event__techs-title">{{ mixins.text(pieceOfTexts, 'event__techstitle') }}</div>

      {% include "partials/_techs.html" %}
    {% endif %}

    <div class="event__tip">{{ mixins.text(pieceOfTexts, 'event__tip') }}</div>

    <!-- <div class="event__items">
      {% for event in extendeds.events_schedule %}
      <div class="event__item graphcms-container"
        {{ mixins.cmsData(event) }}
      >
       {% if event.locationLink %}
        <a class="e-item" href="{{event.locationLink}}">
          <div class="e-item__header">{{ event.title | safe }}</div>
          <div class="e-item__content">
            <div class="e-item__date">{{ event.subtitle | safe }}</div>
            <div class="e-item__footer">
              {{ event.description | safe }}
            </div>
          </div>
        </a>
        {% else %}
          <div class="e-item">
            <div class="e-item__header">{{ event.title | safe }}</div>
            <div class="e-item__content">
              <div class="e-item__date">{{ event.subtitle | safe }}</div>
              <div class="e-item__footer">
                {{ event.description | safe }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      {% endfor %}
    </div> -->
  </div>
</section>
