<section class="section s-features-grid" id="features-grid">
  <div class="container">
    {% if pagesPieceOfTexts.featuresGrid__title %}
    <h2 class="section__title">
      {{ pagesPieceOfTexts.featuresGrid__title}}
    </h2>
    {% endif %}

    <div class="features-grid">
      {% for media in (pages[pageKey].pageSections.featuresGridInPerson if inPerson else pages[pageKey].pageSections.featuresGrid) %}
      {% if media.videoId %}
      <div class="features-grid__item {{'is-animate' if media.description}} {{ media.width }}">
        <div class="video" style="background-image: url({{ media.videoCover }})">
          <div class="video__content" id="player"></div>
          <button aria-label="video play" class="video__btn js-video-btn" data-video-id="{{ media.videoId }}" data-content-id="player">
            {{ pagesPieceOfTexts.featuresGrid__playBtn | safe }}
          </button>
        </div>
      </div>
      {% elseif media.link %}
      <a aria-label="{{ media.title if media.title else 'facebook gallery'}}" class="features-grid__item {{'is-animate' if media.description}} {{ media.width }}" href="{{ media.link }}" target="_blank">
        {% if media.bgImage %}
        <picture class="features-grid__img">
          {% if media.bgImageHover %}
          <img src="{{media.bgImageHover}}" alt="" role="presentation" class="features-grid__img-hover">
          {% endif %}
          <img src="{{media.bgImage}}" alt="" role="presentation">
        </picture>
        {% endif %}
        {% if "facebook" in media.link %}
        <span class="features-grid__content"><span class="features-grid__fb"></span></span>
        {% endif %}
        {% if media.title or media.description %}
        <div class="features-grid__pop">
          <h3 class="features-grid__title">{{ media.title }}</h3>
          <div class="features-grid__body">
            <div class="features-grid__description">
              {{ media.description }}
            </div>
          </div>
        </div>
        {% endif %}
      </a>
      {% else %}
      <div class="features-grid__item {{'is-animate' if media.description}} no-link {{ media.width }}">
        {% if media.bgImage %}
        <picture class="features-grid__img">
          {% if media.bgImageHover %}
          <img src="{{media.bgImageHover}}" alt="" role="presentation" class="is-hover">
          {% endif %}
          <img src="{{media.bgImage}}" alt="" role="presentation">
        </picture>
        {% endif %}

        {% if media.title or media.description %}
        <div class="features-grid__pop">
          <h3 class="features-grid__title">{{ media.title }}</h3>
          <div class="features-grid__body">
            <div class="features-grid__description"> {{ media.description }}</div>
            {% if media.btnLink %}
            <a href="{{media.btnLink}}" class="btn btn--md" target="_blank">{{media.btnText}}</a>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>