<section class="section s-features-grid" id="features-grid">
  <div class="container">
    <h3 class="section__title graphcms-container">
      {{ mixins.text(pieceOfTexts, 'features__title') }}
    </h3>

    <div class="features-grid">
      {% for media in (pages[pageKey].pageSections.featuresGridInPerson if inPerson else pages[pageKey].pageSections.featuresGrid) %}
      {% if media.videoId %}
      <div class="features-grid__item {{ media.width }}">
        <div class="video" style="background-image: url({{ media.videoCover }})">
          <div class="video__content" id="player"></div>
          <button class="video__btn js-video-btn" data-video-id="{{ media.videoId }}" data-content-id="player">
            {{ pagesPieceOfTexts.featuresGrid__playBtn | safe }}
          </button>
        </div>
      </div>
      {% elseif media.link %}
      <a class="features-grid__item {{ media.width }}" href="{{ media.link }}" target="_blank">
        <span class="features-grid__img" style="background-image: url({{ media.bgImage }})"></span>
        <span class="features-grid__content"><span class="features-grid__fb"></span></span>

        {% if media.title or media.description %}
        <div class="features-grid__pop">
          <p class="features-grid__title">{{ media.title }}</p>
          <p class="features-grid__description">{{ media.description }}</p>
        </div>
        {% endif %}
      </a>
      {% else %}
      <div class="features-grid__item no-link {{ media.width }}">
        <span class="features-grid__img" style="background-image: url({{ media.bgImage }})"></span>

        {% if media.title or media.description %}
        <div class="features-grid__pop">
          <p class="features-grid__title">{{ media.title }}</p>
          <p class="features-grid__description">{{ media.description }}</p>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
