<section class="section s-features-grid" id="features-grid">
  <div class="container">
    {% if pagesPieceOfTexts.featuresGrid__title %}
    <h3 class="section__title graphcms-container">
      {{ mixins.text(pieceOfTexts, 'featuresGrid__title') }}
    </h3>
    {% endif %}

    <div class="features-grid">
      {% for media in (pages[pageKey].pageSections.featuresGridInPerson if inPerson else pages[pageKey].pageSections.featuresGrid) %}
      {% if media.videoId %}
      <div class="features-grid__item {{'is-animate' if media.description}} {{ media.width }}">
        <div class="video" style="background-image: url({{ media.videoCover }})">
          <div class="video__content" id="player"></div>
          <button aria-label="video play" class="video__btn js-video-btn" data-video-id="{{ media.videoId }}" data-content-id="player">
            {{ pagesPieceOfTexts.featuresGrid__playBtn | safe }}
          </button>
        </div>
      </div>
      {% elseif media.link %}
      <a aria-label="{{ media.title if media.title else 'facebook gallery'}}" class="features-grid__item {{'is-animate' if media.description}} {{ media.width }}" href="{{ media.link }}" target="_blank">
        <span class="features-grid__img" style="background-image: url({{ media.bgImage }})" role="presentation"></span>
        <span class="features-grid__content"><span class="features-grid__fb"></span></span>

        {% if media.title or media.description %}
        <div class="features-grid__pop">
          <p class="features-grid__title">{{ media.title }}</p>
          <p class="features-grid__description">{{ media.description }}</p>
        </div>
        {% endif %}
      </a>
      {% else %}
      <div class="features-grid__item {{'is-animate' if media.description}} no-link {{ media.width }}">
        <span class="features-grid__img" style="background-image: url({{ media.bgImage }})" role="presentation"></span>

        {% if media.title or media.description %}
        <div class="features-grid__pop">
          <p class="features-grid__title">{{ media.title }}</p>
          <p class="features-grid__description">{{ media.description }}</p>
          {% if media.btnLink %}
            <a href="{{media.btnLink}}" class="btn btn--md" target="_blank">{{media.btnText}}</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
