<footer class="footer section" role="contentinfo">
  <div class="container">
    <div class="footer__main">
      <h3 class="footer__title">{% if footerTitle %} {{footerTitle}} {% else %} {{ mixins.text(pieceOfTexts, 'contacts__socials') }} {% endif %}</h3>
      <div class="footer__mid">
        <div class="footer__nav graphcms-container"
          {{ mixins.cmsData(pages[pageKey]) }}
        >
          <ul class="f-nav">
            {% for item in pages[pageKey].pageNavigation.footerNav %}
              <li class="f-nav__item"><a href="{{item.href}}" class="f-nav__link">{{item.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer__socials graphcms-container"
          {{ mixins.cmsData(conference) }}
        >
          <ul class="social social--theme">
            {% if conference.instagramUrl %}
            <li class="social__item"><a aria-label="instagram" href="{{ conference.instagramUrl }}" class="social__link" target="_blank">{{mixins.icon('instagram')}}</a></li>
            {% endif %}
            {% if conference.tiktokUrl %}
            <li class="social__item"><a aria-label="tiktok" href="{{ conference.tiktokUrl }}" class="social__link" target="_blank">{{mixins.icon('tiktok')}}</a></li>
            {% endif %}
            {% if conference.twitterUrl %}
            <li class="social__item"><a aria-label="twitter" tabindex="0" href="{{ conference.twitterUrl }}" class="social__link" target="_blank">{{mixins.icon('tw')}}</a></li>
            {% endif %}
            {% if conference.facebookUrl %}
            <li class="social__item"><a aria-label="facebook" tabindex="0" href="{{ conference.facebookUrl }}" class="social__link" target="_blank">{{mixins.icon('fb')}}</a></li>
            {% endif %}
            {% if conference.youtubeUrl %}
            <li class="social__item"><a aria-label="youtube" tabindex="0" href="{{ conference.youtubeUrl }}" class="social__link" target="_blank">{{mixins.icon('yb')}}</a></li>
            {% endif %}
            {% if conference.mediumUrl %}
            <li class="social__item"><a aria-label="medium" tabindex="0" href="{{ conference.mediumUrl }}" class="social__link" target="_blank">{{mixins.icon('md')}}</a></li>
            {% endif %}
            {% if conference.discordUrl %}
            <li class="social__item"><a aria-label="discord" tabindex="0" href="{{ conference.discordUrl }}" class="social__link" target="_blank">{{mixins.icon('dis')}}</a></li>
            {% endif %}
            {% if conference.gnPortal %}
            <li class="social__item"><a aria-label="gitnation portal" tabindex="0" href="{{ conference.gnPortal }}" class="social__link" target="_blank">{{mixins.icon('portal')}}</a></li>
            {% endif %}
            {% if conference.mastodonUrl %}
            <li class="social__item"><a aria-label="mastodon" href="{{ conference.mastodonUrl }}" class="social__link" target="_blank">{{mixins.icon('mastodon')}}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__basement">
    <div class="container">
      <div class="footer__logo">
        <div class="f-logo">
          <span class="f-logo__icon">
            <img src="img/Smile.svg" alt="Frontend nation">
          </span>
          <div class="f-logo__label">
            Event by
            <a href="https://gitnation.org">GitNation</a>
          </div>
        </div>
      </div>

      <div class="footer__tip">{{ mixins.text(pieceOfTexts, 'footer__tip') }}</div>
    </div>
  </div>
</footer>
