<footer class="footer " role="contentinfo" id="footer">
  <div class="container">
    {% if pagesPieceOfTexts.footer__topTitle %}
    <div class="footer__top">
      <div class="footer__top-title">{{pagesPieceOfTexts.footer__topTitle | safe}}</div>
      <div class="footer__top-subscribe">
        <form action="{{ pagesPieceOfTexts.contactForm__formAction | safe }}"
          method="GET" class="f-form js-subscribtion-form"
          target="_blank">
          <div class="f-form__field">
            <input type="email" value="" name="email" class="form-input f-form__input "
              placeholder="Email address" required="">
          </div>
          <button type="submit" name="subscribe" aria-label="Subscribe" class="f-form__btn btn">Subscribe</button>
        </form>
      </div>
    </div>
    {% endif %}
    <div class="footer__main">
      <div class="footer__basement">
        <div class="footer__title">Contact</div>
        <div class="footer__logo">
          <div class="f-logo">
            <span class="f-logo__icon">
              <img src="img/Smile.svg" alt="Frontend nation">
            </span>

            <div class="f-logo__label">
              Event by
              <a href="https://gitnation.org">GitNation</a>
            </div>
          </div>
        </div>
        <div class="footer__tip">{{ mixins.text(pieceOfTexts, 'footer__tip') }}</div>
      </div>
      <div class="footer__nav ">
        <div class="footer__title">Links</div>
        <ul class="f-nav">
          {% for item in pages[pageKey].pageNavigation.footerNav %}
          <li class="f-nav__item"><a href="{{item.href}}" class="f-nav__link" {% if item.openInNewTab %} target="_blank" {% endif %}>{{item.text}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer__socials ">
        <div class="footer__title">Social</div>
        {{mixins.socialsConf(conference)}}
      </div>
    </div>
  </div>
</footer>
