<section class="section s-free-ticket " id="free-ticket">
  <div class="container">
    <h3 class="section__title">{{ mixins.text(pieceOfTexts, 'freeTicket__title') }}</h3>

    <div class="free-ticket">
      <div class="free-ticket__content">
        <div class="free-ticket__text">
          <div class="free-ticket__descr">{{ mixins.text(pieceOfTexts, 'freeTicket__desc') }}</div>
          <a class="btn" href="{{ pagesPieceOfTexts.freeTicket__btnLink }}">{{ pagesPieceOfTexts.freeTicket__btnText }}</a>
        </div>
        <div class="free-ticket__img">
          <div class="badge-img">
            <div class="badge-img__card">
              <div class="badge-img__head">
                <div class="badge-img__barcode"></div>
                <span>983402</span>
              </div>
              <div class="badge-img__stripe"></div>
              <div class="badge-img__img">
                <svg class="icon icon-face">
                  <use xlink:href="img/sprite.svg#icon-face"></use>
                </svg>
              </div>
              <div class="badge-img__desc">
                <h3>Korben<br> Dallas</h3>
                <p>resident@gitnation.org</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
