<section class="section s-full-ticket" id="full-ticket">
	<div class="container">
		<h3 class="section__title section__title_big">{{ mixins.text(pieceOfTexts, 'fullaccess__title') }}</h3>

		<div class="full-ticket">
			{% for item in (pages[pageKey].pageSections.fullTicketInPerson or pages[pageKey].pageSections.fullTicket if inPerson else pages[pageKey].pageSections.fullTicket) %}
				{% if item.link %}
				<a class="full-ticket__item {{ 'full-width' if item.fullWidth }}" href="{{ item.link }}">
					<div class="full-ticket__bg" style="background-image: url({{ item.bg }});"></div>

					<p class="full-ticket__title">{{ item.title | safe }}</p>

					<div class="full-ticket__img-wrap">
						<img class="full-ticket__img" src="{{ item.img }}">
					</div>

					<div class="full-ticket__desc">{{ item.desc | safe }}</div>
				</a>
				{% elif item.fullWidth %}
				<div class="full-ticket__item full-width">
					<div class="full-ticket__bg" style="background-image: url({{ item.bg }});"></div>

					<div class="full-ticket__left">
						<p class="full-ticket__title">{{ item.title | safe }}</p>

						<div class="full-ticket__img-wrap">
							<img class="full-ticket__img" src="{{ item.img }}">
						</div>
					</div>

					<div class="full-ticket__desc">{{ item.desc | safe }}</div>
				</div>
				{% else %}
				<div class="full-ticket__item">
					<div class="full-ticket__bg" style="background-image: url({{ item.bg }});"></div>

					<p class="full-ticket__title">{{ item.title | safe }}</p>

					<div class="full-ticket__img-wrap">
						<img class="full-ticket__img" src="{{ item.img }}">
					</div>

					<div class="full-ticket__desc">{{ item.desc | safe }}</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
		
	</div>
</section>
