<section class="section giving-back" id="diversity">
	<div class="container">
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'givingback__title') }}</h3>
		<div class="section__text text giving-back__text">{{ mixins.text(pieceOfTexts, 'givingback__text') }}</div>

		<div class="status-bar">
			<div class="status-bar__title">{{ mixins.text(pieceOfTexts, 'givingback__statustitle') }}</div>
			<div class="status-bar__line">
				<div class="status-bar__progress" style="width:{{ pages.main.pageSections.backPercent }}%"></div>
			</div>
		</div>

		<div class="giving-back__btns">
			<a class="btn" href="mailto:hi@reactsummit.com">Sponsor diversity tickets</a>
		</div>
	</div>
	<div class="giving-back__faces">
		<img src="img/faces.png" alt="Faces">
	</div>
</section>
