<div class="guarantee">
  <div class="container">
    <div class="guarantee__inner">
      <div class="guarantee__title">We guarantee</div>
      <div class="guarantee__list">
        <ul>
          <li>Modern training course from the first class industry experts</li>
          <li>Small sized groups for maximum individual reach</li>
          <li>A focus on practical exercises, so you'll learn by doing</li>
          <li>Our friendly team on hand to answer your questions</li>
        </ul>
      </div>
      <div class="guarantee__content">
        <div class="guarantee__item">
          <div class="guarantee__subtitle">If you are a developer</div>
          <p>Whether you're looking for skills to help you level up at work, get a promotion, or make yourself more competitive on the job market, our full-day and 3-hour workshops taught by the industry experts are tailored to get you there. Skyrocketing JavaScript frameworks will make you a developer in demand. Release full potential of JS to discover new exciting career opportunities!</p>
        </div>
        <div class="guarantee__item">
          <div class="guarantee__subtitle">If you are a business owner</div>
          <p>Investing just 8 hours into your employees' development can result in a sufficient performance improvement. Let's say, 10 of your engineers attend a full-day workshop. In the next year, they will put in approximately 20,000 hours of work for your company. If after the workshop their performance improves by only 1%, your organization in return will gain 200 hours of work. Impressive outcome after one training day only!</p>
        </div>
      </div>
    </div>
  </div>
</div>
