<header class="header {{ headerMod }}">
  <div class="header__inner js-menu">
    <div class="header__socials graphcms-container"
      {{ mixins.cmsData(conference) }}
    >
      <ul class="social">
        <li class="social__item"><a href="{{ conference.twitterUrl }}" class="social__link" target="_blank">{{mixins.icon('tw')}}</a></li>
        <li class="social__item"><a href="{{ conference.facebookUrl }}" class="social__link" target="_blank">{{mixins.icon('fb')}}</a></li>
        <li class="social__item"><a href="{{ conference.youtubeUrl }}" class="social__link" target="_blank">{{mixins.icon('yb')}}</a></li>
        <li class="social__item"><a href="{{ conference.mediumUrl }}" class="social__link" target="_blank">{{mixins.icon('md')}}</a></li>
      </ul>
    </div>
    <div class="header__nav graphcms-container"
      {{ mixins.cmsData(pages[pageKey]) }}
    >
      <ul class="nav">
        {% for item in pages[pageKey].pageNavigation.headerNav %}
          <li class="nav__item"><a href="{{item.href}}" class="nav__link {% if item.scroll %}js-scroll-link{% endif %}">{{item.text}}</a></li>
        {% endfor %}
      </ul>
    </div>
  <div class="header__btn">
    {% if headerBtn %}
    <a class="btn" href="https://ti.to/gitnation/jsnation-live">Tickets</a>
    {% endif %}
  </div>

  </div>
  <div class="header__burger">
    <div class="burger js-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
