<header role="banner" class="header js-header {{ headerMod }} {% if pages[pageKey] == pages.checkout %} hidden-iphone visible {% endif %} {{'_not-tito' if titoHeader == false }} {{'header--hide-dropmenu' if not headerBurger}}">
  <div class="container">
    <div class="header__logo">
      <a href="{{'/' if not root else root}}">
        <img src="img/logo.svg" alt="">
      </a>
    </div>
    <div class="header__inner">
      <div class="header__nav graphcms-container" {{ mixins.cmsData(pages[pageKey]) }}>
        <ul class="nav">
          {% for item in pages[pageKey].pageNavigation.headerNav %}
          <li class="nav__item">
            <a href="{{item.href}}" {% if item.openInNewTab %} target="_blank" {% endif %} class="nav__link {{ 'js-scroll-link' if item.scroll }}"><span data-title="{{item.text}}">{{item.text}}</span>
            </a>
          </li>

          {% endfor %}
        </ul>
      </div>

      {% if headerBtn and pagesPieceOfTexts.ticket__text %}
      <div class="header__btn">
        {% if pages[pageKey].pageSections.prices and fakeLinks == true %}
        <a class="btn" href="{{ pagesPieceOfTexts.header__btnLink or pagesPieceOfTexts.ticket__link }}" data-title="{{ pagesPieceOfTexts.header__btnText or pagesPieceOfTexts.ticket__text }}">
          {{ pagesPieceOfTexts.header__btnText or pagesPieceOfTexts.ticket__text }}
        </a>
        {% elif pagesPieceOfTexts.ticket__text %}
        <a class="btn" href="{{ pagesPieceOfTexts.ticket__directLink }}" data-title="{{ testTicketLink or pagesPieceOfTexts.ticket__text }}">
          {{ testTicketLink or pagesPieceOfTexts.header__btnText or pagesPieceOfTexts.ticket__text }}
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>


    {% if pages[pageKey] != pages.checkout %}
    <div class="header__burger {{ 'header__burger--only-mobile' if not pages[pageKey].pageNavigation.headerDropNav}}">
      <div class="burger js-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="header__drop-menu js-menu" id="drop-nav">
      <ul class="drop-nav">
        {% for item in pages[pageKey].pageNavigation.headerNav %}
        <li class="drop-nav__item visible-mobile">
          <a href="{{item.href}}" {% if item.openInNewTab %} target="_blank" {% endif %} class="drop-nav__link {{ 'js-scroll-link' if item.scroll }}"><span>{{item.text}}</span>
          </a>
        </li>
        {% endfor %}
        {% for item in pages[pageKey].pageNavigation.headerDropNav %}
        <li class="drop-nav__item">
          <a href="{{item.href}}" {% if item.openInNewTab %} target="_blank" {% endif %} class="drop-nav__link {{ 'js-scroll-link' if item.scroll }}"><span>{{item.text}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>


      {% if headerBtn and pagesPieceOfTexts.ticket__text %}
      <div class="drop-btn">
        {% if pages[pageKey].pageSections.prices and fakeLinks == true %}
        <a class="btn" href="{{ pagesPieceOfTexts.ticket__link }}" data-title="{{ pagesPieceOfTexts.header__btnText or pagesPieceOfTexts.ticket__text }}">
          {{ pagesPieceOfTexts.header__btnText or pagesPieceOfTexts.ticket__text }}
        </a>
        {% elif pagesPieceOfTexts.ticket__text %}
        <a class="btn" href="{{ pagesPieceOfTexts.ticket__directLink }}" data-title="{{ testTicketLink or pagesPieceOfTexts.ticket__text }}">
          {{ testTicketLink or pagesPieceOfTexts.header__btnText or pagesPieceOfTexts.ticket__text }}
        </a>
        {% endif %}
      </div>
      {% endif %}

      {{mixins.socialsConf(conference)}}

    </div>
    {% endif %}
  </div>
</header>
