<header role="banner" class="header js-header {{ headerMod }}  {{'header--hide-logo' if (pageKey == 'schedule' or pageKey == 'schedule-offline') }}">
	<div class="header__inner js-menu">

		<div class="header__logo">
			<a href="/" class="logo"><img src="img/logo.svg" alt="{{ conference.title }}"></a>
		</div>

		<div class="header__socials graphcms-container" {{ mixins.cmsData(conference) }}>
			<ul class="social">
				{% if conference.instagramUrl %}
				<li class="social__item"><a aria-label="instagram" tabindex="0" href="{{ conference.instagramUrl }}" class="social__link" target="_blank">{{mixins.icon('instagram')}}</a></li>
				{% endif %}
				{% if conference.tiktokUrl %}
				<li class="social__item"><a aria-label="tiktok" tabindex="0" href="{{ conference.tiktokUrl }}" class="social__link" target="_blank">{{mixins.icon('tiktok')}}</a></li>
				{% endif %}
				{% if conference.twitterUrl %}
				<li class="social__item"><a aria-label="twitter" tabindex="0" href="{{ conference.twitterUrl }}" class="social__link" target="_blank">{{mixins.icon('tw')}}</a></li>
				{% endif %}
				<!-- {% if conference.facebookUrl %}
        <li class="social__item"><a aria-label="facebook" tabindex="0" href="{{ conference.facebookUrl }}" class="social__link" target="_blank">{{mixins.icon('fb')}}</a></li>
        {% endif %} -->
				<!-- {% if conference.youtubeUrl %}
        <li class="social__item"><a aria-label="youtube" tabindex="0" href="{{ conference.youtubeUrl }}" class="social__link" target="_blank">{{mixins.icon('yb')}}</a></li>
        {% endif %} -->
				<!-- {% if conference.mediumUrl %}
        <li class="social__item"><a aria-label="medium" tabindex="0" href="{{ conference.mediumUrl }}" class="social__link" target="_blank">{{mixins.icon('md')}}</a></li>
        {% endif %} -->
				{% if conference.blueskyUrl %}
				<li class="social__item"><a aria-label="discord" tabindex="0" href="{{ conference.blueskyUrl }}" class="social__link" target="_blank">{{mixins.icon('bluesky')}}</a></li>
				{% endif %}
				{% if conference.discordUrl %}
				<li class="social__item"><a aria-label="discord" tabindex="0" href="{{ conference.discordUrl }}" class="social__link" target="_blank">{{mixins.icon('dis')}}</a></li>
				{% endif %}
				{% if conference.gnPortal %}
				<li class="social__item"><a aria-label="gitnation portal" tabindex="0" href="{{ conference.gnPortal }}" class="social__link" target="_blank">{{mixins.icon('portal')}}</a></li>
				{% endif %}

			</ul>
		</div>

		<div class="header__nav graphcms-container" {{ mixins.cmsData(pages[pageKey]) }}>
			<ul class="nav">
				{% for item in pages[pageKey].pageNavigation.headerNav %}
				<li class="nav__item"><a href="{{item.href}}" class="nav__link {% if item.scroll %}js-scroll-link{% endif %}">{{item.text}}</a></li>
				{% endfor %}
			</ul>
		</div>

		{% if pages[pageKey] != pages.checkout %}
		<div class="header__btn">
			{% if pages[pageKey].pageSections.prices and fakeLinks == true %}
			<a class="btn js-header-btn" href="{{ pagesPieceOfTexts.ticket__link }}">{{ pagesPieceOfTexts.ticket__text }}</a>
			{% elif pagesPieceOfTexts.ticket__text %}
			<a class="btn js-header-btn" href="{{ pagesPieceOfTexts.ticket__directLink }}" target="_blank">{{ testTicketLink or pagesPieceOfTexts.ticket__text }}</a>
			{% endif %}
		</div>

		{% endif %}
	</div>


	{% if pages[pageKey] != pages.checkout %}
	<div class="header__alt-btn js-header-btn-sticky">
		{% if pages[pageKey].pageSections.prices and fakeLinks == true %}
		<a class="btn" href="{{ pagesPieceOfTexts.ticket__link }}">{{ pagesPieceOfTexts.ticket__text }}</a>
		{% elif pagesPieceOfTexts.ticket__text %}
		<a class="btn" href="{{ pagesPieceOfTexts.ticket__directLink }}" target="_blank">{{ testTicketLink or pagesPieceOfTexts.ticket__text }}</a>
		{% endif %}
	</div>
	{% endif %}

	{% if pages[pageKey] != pages.checkout %}
	<div class="header__burger {{ 'hidden-iphone' if pageKey == 'checkout'  }}">
		<div class="burger js-burger">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	{% endif %}
</header>