<header class="header js-header {{ headerMod }}">
  <div class="header__inner js-menu">

    <div class="header__logo">
      <a href="/" class="logo"><img src="img/logo.svg" alt="{{ conference.title }}"></a>
    </div>

    <div class="header__socials graphcms-container"
      {{ mixins.cmsData(conference) }}
    >
      <ul class="social">
        {% if conference.twitterUrl %}
          <li class="social__item"><a href="{{ conference.twitterUrl }}" class="social__link" target="_blank">{{mixins.icon('tw')}}</a></li>
        {% endif %}
        {% if conference.facebookUrl %}
          <li class="social__item"><a href="{{ conference.facebookUrl }}" class="social__link" target="_blank">{{mixins.icon('fb')}}</a></li>
        {% endif %}
        {% if conference.youtubeUrl %}
          <li class="social__item"><a href="{{ conference.youtubeUrl }}" class="social__link" target="_blank">{{mixins.icon('yb')}}</a></li>
        {% endif %}
        {% if conference.mediumUrl %}
          <li class="social__item"><a href="{{ conference.mediumUrl }}" class="social__link" target="_blank">{{mixins.icon('md')}}</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="header__nav graphcms-container"
      {{ mixins.cmsData(pages[pageKey]) }}
    >
      <ul class="nav">
        {% for item in (pages[pageKey].pageNavigation.headerNavInPerson if inPerson else pages[pageKey].pageNavigation.headerNav) %}
          <li class="nav__item"><a href="{{item.href}}" class="nav__link {% if item.scroll %}js-scroll-link{% endif %}">{{item.text}}</a></li>
        {% endfor %}
      </ul>
    </div>
  <div class="header__btn">
    {% if pages[pageKey].pageSections.prices and fakeLinks == true %}
    <a class="btn" href="#tickets">{{ pagesPieceOfTexts.ticket__text }}</a>
    {% elseif pagesPieceOfTexts.ticket__text %}
    <a class="btn" href="{{ pagesPieceOfTexts.ticket__link }}">{{ testTicketLink or pagesPieceOfTexts.ticket__text }}</a>
    {% endif %}
  </div>

  </div>
  {% if pagesPieceOfTexts.ticket__text %}
  <div class="header__alt-btn">
    {% if pages[pageKey].pageSections.prices and fakeLinks == true %}
    <a class="btn" href="#tickets">{{ pagesPieceOfTexts.ticket__text }}</a>
    {% elseif pagesPieceOfTexts.ticket__text %}
    <a class="btn" href="{{ pagesPieceOfTexts.ticket__link }}">{{ testTicketLink or pagesPieceOfTexts.ticket__text }}</a>
    {% endif %}
  </div>
  {% endif %}
  <div class="header__burger">
    <div class="burger js-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
