<div class="hero hero_inner" id="hero" style="background-image:url(img/jobs-bg.jpg);">
  <div class="hero__inner graphcms-container"
    {{ mixins.cmsData(pages[pageKey]) }}
  >
    <div class="hero__logo">
      <a tabindex="-1" href="/" class="logo"><img src="img/logo.svg" alt="{{ conference.title }}"></a>
    </div>
    <h1 role="heading" aria-level="1" class="hero__title">{{ pages[pageKey].titlePage }}</h1>

    {% if pages[pageKey].pageStatistics.eventStats %}
      {{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
    {% endif %}
  </div>
</div>
