<div class="hero hero_live" id="hero">
  <div class="hero__bg"></div>

  <div class="container">
    <div class="hero__inner">
      {# TODO: Move to cms #}
      <div style="display: none;" class="hero__date" data-name="live-page__header-date">{{ customContent.eventInfo.conferenceStart }}---{{customContent.eventInfo.conferenceFinish}}</div>

      <div class="hero__logo">
        <a href="{{root if root else '/'}}" class="logo"><img src="img/logo-h.svg?ver2" alt="{{conference.title}}"></a>
      </div>


      {% if pages[pageKey].pageSections.inCollaboration %}
      <div class="hero__partner">
        {% include "partials/blocks/_in-collaboration.html" %}
      </div>
      {% endif %}
    </div>
  </div>
</div>