<div class="hero hero_attendees" style="background-image:url({{ pages[pageKey].pageStatistics.innerHeroBg or 'img/bg-attendees.jpg' }});">
  <div class="hero__inner graphcms-container"
    {{ mixins.cmsData(pages[pageKey]) }}
  >
    <div class="hero__logo">
      <a href="/" class="logo"><img src="img/logo-h.svg" ></a>
    </div>
    <h1 class="hero__title">{{ pages[pageKey].titlePage }}</h1>
    <div class="hero__suptitle">{{ mixins.text(pieceOfTexts, 'attendee__subtitle') }}</div>
    <a href="" class="hero__btn"></a>
  </div>
</div>
