<div class="hero" id="hero">
	<div class="hero__bg"></div>

	{% if pages[pageKey].pageSections.timer %}
		<div class="hero__timer" id="countdown">00:00:00:00</div>
	{% endif %}

	{% if pages.main.pageStatistics.heroScreens %}
		{% include "partials/_screens.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.heroVideo %}
	<video class="hero__video" preload="auto" muted autoplay loop poster="img/hero.jpg">
		<source src="video/hero.webm?v4" type="video/webm"/>
		<source src="video/hero.mp4?v4" type="video/mp4"/>
	</video>
	{% endif %}

	{% if pages[pageKey].pageSections.heroVideo2 %}
	<video class="hero__video2" preload="auto" muted autoplay loop poster="img/hero2.jpg">
		<source src="video/hero2.webm?v4" type="video/webm"/>
		<source src="video/hero2.mp4?v4" type="video/mp4"/>
	</video>
	{% endif %}

	<div class="hero__inner graphcms-container" {{ mixins.cmsData(pages[pageKey]) }}>
		<div class="hero__logo">
			<a href="/" class="logo"><img src="img/logo.svg" alt="{{ conference.title }}"></a>
		</div>
		<div class="hero__suptitle">{{ pagesPieceOfTexts.hero__dateInPerson | safe or pagesPieceOfTexts.hero__date | safe if inPerson else pagesPieceOfTexts.hero__date | safe }}</div>
		
		<h1 class="hero__title">{{ pagesPieceOfTexts.hero__title | safe }}</h1>

		{% if pages[pageKey].pageSections.heroSocials %}
		<div class="hero__socials">
      <ul class="social">
        {% if conference.twitterUrl %}
          <li class="social__item"><a href="{{ conference.twitterUrl }}" class="social__link" target="_blank">{{mixins.icon('tw')}}</a></li>
        {% endif %}
        {% if conference.facebookUrl %}
          <li class="social__item"><a href="{{ conference.facebookUrl }}" class="social__link" target="_blank">{{mixins.icon('fb')}}</a></li>
        {% endif %}
        {% if conference.youtubeUrl %}
          <li class="social__item"><a href="{{ conference.youtubeUrl }}" class="social__link" target="_blank">{{mixins.icon('yb')}}</a></li>
        {% endif %}
        {% if conference.mediumUrl %}
          <li class="social__item"><a href="{{ conference.mediumUrl }}" class="social__link" target="_blank">{{mixins.icon('md')}}</a></li>
        {% endif %}
        {% if conference.discordUrl %}
          <li class="social__item"><a href="{{ conference.discordUrl }}" class="social__link" target="_blank">{{mixins.icon('dis')}}</a></li>
        {% endif %}
        {% if conference.gnPortal %}
          <li class="social__item"><a href="{{ conference.gnPortal }}" class="social__link" target="_blank">{{mixins.icon('portal')}}</a></li>
        {% endif %}
      </ul>
    </div>
		{% endif %}

		{% if pagesPieceOfTexts.hero__desc %}
			<div class="hero__desc">{{ pagesPieceOfTexts.hero__desc | safe }}</div>
		{% endif %}

		{% if pages[pageKey].pageStatistics.eventStats %}
			{{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
		{% endif %}

		{% if pages[pageKey].pageSections.heroTechs %}
			{% include "partials/_techs.html" %}
		{% endif %}

		{% if not hideHeroCtas %}
			<div class="hero__btn">
			{% if pages.main.pageStatistics.heroWatch %}
				<a class="btn" href="#" onclick={{ eventsLayer.openDialog({name: 'watch-livestream', values: 'text:' + pages.main.pageStatistics.heroWatch.text + ';', category: 'hero-btn-click', isAuth: not fakeLinks }) }}>
					{{ pages.main.pageStatistics.heroWatch.text }}
				</a>
			{% endif %}
			{% if pages.main.pageStatistics.heroWatchPaid %}
				<a class="btn" href="#" onclick={{ eventsLayer.openDialog({name: 'watch-livestream-paid', values: 'text:' + pages.main.pageStatistics.heroWatchPaid.text + ';', category: 'hero-btn-click', isAuth: not fakeLinks }) }}>
					{{ pages.main.pageStatistics.heroWatchPaid.text }}
				</a>
			{% endif %}
			{% if pages.main.pageStatistics.heroCTA %}
				<a
					href="{{ pages.main.pageStatistics.heroCTA.link }}"
					class="btn {{'btn--border' if not pages.main.pageStatistics.heroOptIn }}"
					onclick={{ ga_mixins.sendGAEvent({ values: 'text:' + pages.main.pageStatistics.heroCTA.text + ';', category: 'hero-btn-click', isAuth: not fakeLinks }) }}
				>
					{{ pages.main.pageStatistics.heroCTA.text }}
				</a>
			{% endif %}

			{% if pages.main.pageStatistics.heroOptIn %}
				<a
					href="{{ pages.main.pageStatistics.heroOptIn.link }}"
					class="btn btn--border"
					onclick={{ ga_mixins.sendGAEvent({ values: 'text:' + pages.main.pageStatistics.heroOptIn.text + ';', category: 'hero-btn-click', isAuth: not fakeLinks }) }}
				>
					{{ pages.main.pageStatistics.heroOptIn.text }}
				</a>
			{% endif %}
		</div>
		{% endif %}

		{% if pages[pageKey].pageSections.inCollaboration %}
		<div class="hero__partner">
			{% include "partials/_in-collaboration.html" %}
		</div>
		{% endif %}
	</div>
</div>
