<div class="hero hero_inner" id="hero" style="background-image:url({{ pages[pageKey].pageStatistics.innerHeroBg or 'img/jobs-bg.jpg' }});">
  <div class="hero__inner graphcms-container"
    {{ mixins.cmsData(pages[pageKey]) }}>
    <div class="hero__logo">
      <a href="/" class="logo"><img src="img/logo.svg"></a>
    </div>
    <h1 class="hero__title">{{ pages[pageKey].titlePage }}</h1>

    {% if pages[pageKey].pageStatistics.eventStats %}
    <div class="hero__info">
      {{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
    </div>
    {% endif %}
  </div>
</div>
