<div class="hero" id="hero">
  <div class="hero__bg"></div>


  {% if pages[pageKey].pageStatistics.heroScreens %}
  {% include "partials/_screens.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.heroVideo %}
  <video class="hero__video" preload="auto" loop autoplay muted playsinline poster="img/hero.jpg">
    <source src="video/hero.webm?v4" type="video/webm" />
    <source src="video/hero.mp4?v4" type="video/mp4" />
  </video>
  {% endif %}

  <div class="hero__inner graphcms-container" {{ mixins.cmsData(pages[pageKey]) }}>
    <div class="hero__logo">
      <a href="/" class="logo"><img src="img/logo.svg" alt="{{ conference.title }}"></a>
    </div>

    {% if pages[pageKey].pageSections.heroSwitch %}
    {% include 'partials/_switch.html' %}
    {% else %}

    <div class="hero__suptitle">{{ pagesPieceOfTexts.hero__dateInPerson | safe or pagesPieceOfTexts.hero__date | safe if inPerson else pagesPieceOfTexts.hero__date | safe }}</div>
    {% endif %}

    <h1 role="heading" class="hero__title">
      {{ pagesPieceOfTexts.hero__title | safe }}
    </h1>

    {% if pages[pageKey].pageSections.heroSocials %}
    <div class="hero__socials">
      <ul class="social">
        {% if conference.twitterUrl %}
        <li class="social__item"><a href="{{ conference.twitterUrl }}" class="social__link" target="_blank">{{mixins.icon('tw')}}</a></li>
        {% endif %}
        {% if conference.facebookUrl %}
        <li class="social__item"><a href="{{ conference.facebookUrl }}" class="social__link" target="_blank">{{mixins.icon('fb')}}</a></li>
        {% endif %}
        {% if conference.youtubeUrl %}
        <li class="social__item"><a href="{{ conference.youtubeUrl }}" class="social__link" target="_blank">{{mixins.icon('yb')}}</a></li>
        {% endif %}
        {% if conference.mediumUrl %}
        <li class="social__item"><a href="{{ conference.mediumUrl }}" class="social__link" target="_blank">{{mixins.icon('md')}}</a></li>
        {% endif %}
        {% if conference.discordUrl %}
        <li class="social__item"><a href="{{ conference.discordUrl }}" class="social__link" target="_blank">{{mixins.icon('dis')}}</a></li>
        {% endif %}
        {% if conference.gnPortal %}
        <li class="social__item"><a href="{{ conference.gnPortal }}" class="social__link" target="_blank">{{mixins.icon('portal')}}</a></li>
        {% endif %}

      </ul>
    </div>
    {% endif %}

    {% if pagesPieceOfTexts.hero__desc %}
    <div class="hero__desc">{{ pagesPieceOfTexts.hero__desc | safe }}</div>
    {% endif %}

    {% if pages[pageKey].pageStatistics.eventStats %}
    <div class="hero__info">
      {{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
    </div>
    {% endif %}

    {% if pages[pageKey].pageSections.heroTechs %}
    {% include "partials/_techs.html" %}
    {% endif %}

    {% if not hideHeroCtas %}
    {% include "partials/_hero-buttons.html" %}
    {% endif %}

    {% if pages[pageKey].pageSections.inCollaboration %}
    <div class="hero__partner">
      {% include "partials/_in-collaboration.html" %}
    </div>
    {% endif %}
  </div>
</div>