<div class="hero">
	<div class="hero__bg"></div>

	{% if pages[pageKey].pageSections.timer %}
		<div class="hero__timer" id="countdown">00:00:00:00</div>
	{% endif %}

	{% include "partials/_screens.html" %}

	<div class="hero__inner graphcms-container" {{ mixins.cmsData(pages[pageKey]) }}>
		<div class="hero__logo">
			<a href="/" class="logo"><img src="img/logo.svg" alt="{{ conference.title }}"></a>
		</div>
		<div class="hero__suptitle">{{ pagesPieceOfTexts.hero__date | safe }}</div>
		<h1 class="hero__title">{{ pagesPieceOfTexts.hero__title | safe }}</h1>

		{% if pages[pageKey].pageStatistics.eventStats %}
			{{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
		{% endif %}

    {% if not hideHeroCtas %}
    	<div class="hero__btn">
				<a class="btn" href="#" onclick={{ eventsLayer.openDialog({name: 'watch-livestream' }) }}>
					{{ pages.main.pageStatistics.heroWatch.text }}
				</a>

			{% if pages.main.pageStatistics.heroCTA %}
				<a href="{{ pages.main.pageStatistics.heroCTA.link }}" class="btn">
					{{ pages.main.pageStatistics.heroCTA.text }}
				</a>
			{% endif %}

			{% if pages.main.pageStatistics.heroOptIn %}
				<a href="{{ pages.main.pageStatistics.heroOptIn.link }}" class="btn btn--border">
					{{ pages.main.pageStatistics.heroOptIn.text }}
				</a>
			{% endif %}
		</div>
  {% endif %}

		<!-- <div class="hero__partner">
			{% include "partials/_in-collaboration.html" %}
		</div> -->
	</div>
</div>
