	In collaboration with
	<div class="hero__partners">
		{% for collaborator in pages[pageKey].pageSections.inCollaboration %}
		<a href="{{ collaborator.link }}" class="hero__partner-img" target="_blank">
			<img src="https://media.graphcms.com/{{ collaborator.imgHandle }}" alt="{{ collaborator.altText }}" style="padding: {{ collaborator.imgPadding }} 0;" onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + collaborator.altText + ';', category: 'partners-click', isAuth: not fakeLinks }) }} />
		</a>
		{% endfor %}
	</div>