<section class="section talks" id="talks">
  <div class="container">
    <h3 class="section__title">Lightning Talks</h3>
    {% for talk in lightningTalks %}
    <div class="talk__item">
        <div class="s-item" id="talk-{{talk.slug}}">
          <div class="s-item__row">
            <div class="s-item__col s-item__col_d-sm-none"></div>
            <div class="s-item__col">
              <div class="s-item__title"><a class="anchor-item" href="#person-{{ talk.speakerSlug }}">{{talk.name}}</a></div>
              <div class="s-item__company">{{talk.place}}</div>
            </div>
            <div class="s-item__col">
              <div class="s-item__title">{{talk.title}}</div>
              <div class="s-item__text">{{talk.text | safe}}</div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</section>
