{% set validTalks = 0 %}


{% for speaker in speakers[pageKey] %}
{% set foundTalk = false %}
{% if not foundTalk %}
{% for activity in speaker.activities.allTalks %}
{% if activity.category == 0 %}
{% set validTalks = validTalks + 1 %}
{% set foundTalk = true %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

{% if validTalks > 4 %}

<section class="section s-line-up _anim-items" id="line-up">
  <div class="container">
    <h2 class="section__title anim-title">Line-up 2025</h2>
    <div class="line-up">

      <div class="line-up__list">
        {% set count = 0 %}

        {% for talk in speakers[pageKey] %}
        {% set isTalk = false %}

        {% for activity in talk.activities.allTalks %}
        {% if activity.category == 0 %}
        {% set isTalk = true %}
        {% endif %}
        {% endfor %}

        {% if isTalk and count < 15 %}
          <div class="line-up__list-item">
          <div class="line-up__list-link">
            <div class="line-up__avatar">
              <img src="{{talk.avatar}}" alt="{{talk.name}}" loading="lazy" />
            </div>
            <div class="line-up__list-content">
              <span class="line-up__list-talk">{{talk.activities.allTalks[0].title}}&nbsp;</span><span class="line-up__list-name">{{talk.name}}</span>
            </div>
          </div>
      </div>
      {% set count = count + 1 %}

      {% endif %}

      {% endfor %}

      <div class="line-up__announced">{{pagesPieceOfTexts.lineUp__moreText or 'and more to be announced...' }}</div>
    </div>
  </div>


  </div>
</section>
{% endif %}