<section class="location" id="location">
  <div class="container">
    <div class="location__top">
      <div class="swiper-button-prev js-slider-prev location__arrow location__arrow_prev">
        {{mixins.icon('arrow-l')}}
      </div>
      <div class="location__logo">
        <img src="img/place-logo.png" alt="Kromhout">
      </div>
      <div class="swiper-button-next js-slider-next location__arrow location__arrow_next">
        {{mixins.icon('arrow-r')}}
      </div>
    </div>
    <div class="location__map">
      <picture class="map">
        <source srcset="img/map_sm.png" media="(max-width: 768px)">
        <source srcset="img/map_md.png" media="(max-width: 890px)">
        <source srcset="img/map_xl.png" media="(max-width: 1280px)">
        <img src="img/map_xl.png" alt="map">
      </picture>

      <div class="location__info">
        <div class="location__title">{{ mixins.text(pieceOfTexts, 'location__venue') }}</div>
        <div class="location__address">
          {{ mixins.text(pieceOfTexts, 'location__address') }}
        </div>

        <a
          href="https://goo.gl/maps/DpTgHELf4Hdfs6b66"
          target="_blank" class="theme-link">View on map</a>
      </div>
    </div>
  </div>
  <div class="swiper js-slider location__slider">
    <div class="swiper-wrapper">
      {% for slide in extendeds.location__slide %}
      <div class="swiper-slide location__slide">
        <picture>
          <source srcset="{{mixins.imageUrl(slide.image.handle, 'resize=fit:crop,width:1200/output=format:webp', slide.image.mimeType)}}" type="image/webp">
          <img src="{{mixins.imageUrl(slide.image.handle, 'resize=fit:crop,width:1200/output=format:png', slide.image.mimeType)}}"
            alt="{{slide.alt}}">
        </picture>
      </div>
      {% endfor %}
    </div>
    <!--<div class="swiper-button-prev js-slider-prev location__arrow location__arrow_prev">-->
    <!--{{mixins.icon('arrow-l')}}-->
    <!--</div>-->
    <!--<div class="swiper-button-next js-slider-next location__arrow location__arrow_next">-->
    <!--{{mixins.icon('arrow-r')}}-->
    <!--</div>-->
  </div>
</section>
