<section class="section s-mc s-speakers {{speakersMod}}" id="mcs">
  <div class="container">
    <div class="section__head">
      <h2 class="section__title with-dots">{{ mixins.text(pieceOfTexts, 'mcs__title') }}</h2>
    </div>

    <div class="speakers-list {{ 'short' if speakers.mcs | length < 6 }}">
      {% for person in mcs %}
      <div class="speakers-list__item" id="mcs-{{person.slug}}-id">
        <div class="speaker graphcms-container" {{ mixins.cmsData(person) }}>

          {{mixins.avatarWithDetailsV2(person.activities.talks[0], person, not fakeLinks, eventsLayer, inPerson, id="mcs")}}

          {% if (person.name) %}
          <div class="speaker__name">{{person.name}}</div>
          {% endif %}
          {% if (person.company) and (person.company !== 'null, null') %}
          <div class="speaker__company">{{person.company}}</div>
          {% endif %}
          {% if (person.activities.talks[0].title) %}
          <div class="speaker__talk"><span>Talk:</span> {{person.activities.talks[0].title | safe}}</div>
          {% endif %}
          {% if (person.bio) %}
          <div class="speaker__desc">{{person.bio | safe}}</div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
