{% set ogBase = conference.url + (subPath or '') %}
{% set ogUrlSrc = pages[pageKey].ogUrl or ogBase %}
{% set ogImageSrc = pages[pageKey].ogImage.url or ogBase + 'img/ogImage.png?v=1' %}

<link rel="canonical" href="{{conference.url}}{{canonicalUrl}}" />

{% if pages[pageKey].keywords %}
<meta name="keywords" content="{{ pages[pageKey].keywords }}" />
{% endif %}

{% if pageKey == 'schedule' and pages[pageKey].titleSeo %}
{% set schedulePrefix = 'Offline ' if inPerson else 'Online ' %}
<title>{{ schedulePrefix }}{{ pages[pageKey].titleSeo }}</title>
<meta name="title" property="og:title" content="{{ schedulePrefix }}{{ pages[pageKey].titleSeo }}" />
{% elif pages[pageKey].titleSeo %}
<title>{{ pages[pageKey].titleSeo }}</title>
<meta name="title" property="og:title" content="{{ pages[pageKey].titleSeo }}" />
{% endif %}

{% if pages[pageKey].seoDescription %}
<meta name="description" content="{{ pages[pageKey].seoDescription }}" />
<meta property="og:description" content="{{ pages[pageKey].seoDescription }}" />
{% endif %}

{% if ogUrlSrc %}
<meta property="og:url" content="{{ ogUrlSrc }}" />{% endif %}
{% if ogImageSrc %}
<meta property="og:image" content="{{ ogImageSrc }}" />
{% endif %}
<meta name="twitter:card" content="summary_large_image" />