{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg?v7#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro imageUrl(handle, transform, mimeType, url) %}
  {% if handle == null %}
     {{url}}
  {% elif mimeType == 'image/svg+xml' %}
     https://media.graphassets.com/{{handle}}
  {% else %}
     https://media.graphassets.com/{{ (transform + "/") if transform }}{{handle}}
  {% endif %}
{% endmacro %}

{% macro imageCloudinaryUrl(handle, transform, url) %}
  {% if handle == null %}
     {{url}}
  {% else %}
     https://cdn.cloudinary.com/stichting-frontend-amsterdam/image/upload/{{ (transform + "/") if transform }}{{handle}}
  {% endif %}
{% endmacro %}

{% macro extended(list) %}
  {% for event in list %}
  <div class="program-map-item graphcms-container" {{ cmsData(event) }}>
    <div class="program-map-item__content">
      <div class="program-map-item__title">
        {{ event.title | safe }}
        <span class="program-map-item__time">{{ event.subtitle | safe }}</span>
      </div>

      <a
        href="https://reactamsterdam.slack.com/app_redirect?channel={{ event.slackChannelName }}"
        target="_blank"
        class="program-map-item__link"
        >{{icon('sl')}} <span>#{{ event.slackChannelName }}</span></a
      >
    </div>
    <div class="program-map-item__img">
      {% if event.image.url %}
      <img src="{{ event.image.url }}" alt="{{ event.title }}" />
      {% endif %}
    </div>
    <div class="program-map-item__content">
      <a href="{{ event.locationLink }}" target="_blank"
        >{{ event.location | safe }}</a
      >
      {% if event.registerLink %}
      <br /><a href="{{ event.registerLink }}" target="_blank">Register Here</a
      ><br />
      {% endif %} {% if event.description %}
      <br />
      {{ event.description | safe }} {% endif %}
    </div>
  </div>
  {% endfor %}
{% endmacro %}

{% macro cmsData(entry) %}
  data-id="{{ entry.id }}"
  data-content-type="{{ entry.contentType }}"
  data-id-alt="{{ entry.idAlt }}"
  data-content-type-alt="{{ entry.contentTypeAlt }}"
{% endmacro %}

{% macro extendedSection(list) %}
  {% for event in list %}
    <div class="extended__item graphcms-container"
      {{ cmsData(event) }}
    >
      {% if (event.registerLink) %}
        <a class="wrapper-link" href="{{ event.registerLink }}">
      {% endif %}
        <div class="party-item">
          <div class="party-item__header">
            <div class="party-item__img" style="background-image: url({{ event.image.url }})"></div>
            <div class="party-item__header-inner">
              <div class="party-item__title">{{ event.title | safe }}</div>
              <div class="party-item__content">
                <div class="party-item__subtitle">{{ event.subtitle | safe }}</div>
                <div class="party-item__desc">
                  {{ event.description | safe }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% if (event.registerLink) %}
        </a>
      {% endif %}
    </div>
  {% endfor %}
{% endmacro %}

{% macro avatarWithDetails(activity, person, isAuth, eventsLayer, inPerson) %}
  <div class="speaker__photo">
    {% if person.bio %}
      <a href="#1" tabindex="0" aria-label="Full Info" class="activity-holder" onclick={{ eventsLayer.openDialog({name: 'speaker-card-offline' if inPerson else 'speaker-card' , isAuth: isAuth, data: person | dump, values: 'name:' + person.name + ';' , category: 'speaker-click' , isAuth: not fakeLinks }) }} >
        <div class="slider">
          <div class="speaker__popup-btn-wrap">
            <div class="speaker__popup-btn anchor-item">
              Full Info
            </div>
          </div>
        </div>
      </a>
    {% endif %}
    <picture>
      {% if (person.avatarHandle) %}
        <source srcset="{{imageUrl(person.avatarHandle, "resize=fit:crop,height:500,width:500/output=format:webp", person.imgMimeType)}}" type="image/webp">
        <img src="{{imageUrl(person.avatarHandle, "resize=fit:crop,height:500,width:500/output=format:jpg", person.imgMimeType)}}" alt="{{person.slug if person.slug !== 'to-be-announced-soon' }}">
      {% else %}
        {% if (person.avatarMimeType) %}
          <source srcset="{{person.avatar}}" type="{{person.avatarMimeType}}">
        {% endif %}
        <img src="{{person.avatar}}" alt="{{person.slug if person.slug !== 'to-be-announced-soon' }}">
      {% endif %}
    </picture>
    {% if person.label %}
      <div class="speaker__tag" style="--tagBG: {{person.tagBG}}; color: {{person.color}};">{{person.label}}</div>
    {% endif %}
    
  </div>
{% endmacro %}

{% macro avatarWithDetailsV2(activity, person, isAuth, eventsLayer, inPerson) %}
  <div class="speaker__photo">
    {% if person.bio %}
      <a href="#1" tabindex="0" aria-label="Full Info" class="activity-holder" onclick={{ eventsLayer.openDialog({name: 'speaker-card-offline' if inPerson else 'speaker-card' , isAuth: isAuth, data: person | dump, values: 'name:' + person.name + ';' , category: 'speaker-click' , isAuth: not fakeLinks }) }}>
        <div class="slider">
          <div class="speaker__popup-btn-wrap">
            <div class="speaker__popup-btn anchor-item">
              Full Info
            </div>
          </div>
        </div>
      </a>
      {% if (person.socials.length) %}
        <div class="speaker__socials">
          {% for item in person.socials %}
            <a aria-label="{{(person.name + ' talks and workshops at GitNation portal' if item.icon == 'portal') or (person.name + ' twitter' if item.icon == 'tw') or (person.name + ' github' if item.icon == 'gh') or (person.name + ' personal site' if item.icon == 'site') or (person.name + ' mastodon' if item.icon == 'med')}}" href="{{item.link}}" target="_blank" class="speaker__social-link">
              <svg class="icon icon-{{item.icon}}" role="img" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-{{item.icon}}"></use>
              </svg>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
    <picture>
      {% if (person.avatarHandle) %}
        <source srcset="{{imageUrl(person.avatarHandle, 'resize=fit:crop,height:500,width:500/output=format:webp', person.imgMimeType)}}" type="image/webp">
        <img src="{{imageUrl(person.avatarHandle, 'resize=fit:crop,height:500,width:500/output=format:jpg', person.imgMimeType)}}" alt="{{person.slug if person.slug !== 'to-be-announced-soon' }}">
      {% else %}
        {% if (person.avatarMimeType) %}
          <source srcset="{{person.avatar}}" type="{{person.avatarMimeType}}">
        {% endif %}
        <img src="{{person.avatar}}" alt="{{person.slug if person.slug !== 'to-be-announced-soon' }}">
      {% endif %}
    </picture>
    {% if person.label %}
      <div class="speaker__tag" style="--tagBG: {{person.tagBG}}; color: {{person.color}};">{{person.label}}</div>
    {% endif %}
    
  </div>
{% endmacro %}

{% macro text(pieceOfTexts, key) %}
{# class="graphcms-container" #}
  <span class="graphcms-container" {{ cmsData(pieceOfTexts[key]) }}>
  {{ pieceOfTexts[key].html | safe }}
  </span>
{% endmacro %}

{% macro eventStats(list) %}
  <div class="hero__info">
    <ul class="h-list {{ 'h-list_centered' if list.length <= 2 }}">
      {% for stat in list %}
      <li class="h-list__item">
        <div class="h-list__value">
          {{ stat.statNumber | safe }}

          {% if stat.showTicket %}
          <span class="h-list__icon"><img src="img/tickets.png" alt=""/></span>
          {% endif %}
        </div>

        <div class="h-list__text">
          {% if stat.statName %}
          <span class="h-list__text-top">{{ stat.statName | safe }}</span>
          <br>
          {% endif %}
          {{ stat.statDescr | safe }}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %} 

{% macro scheduleItem(talk, name, isAuth, eventsLayer, timeZone) %}
  <div class="schedule__item {{ 'prime-time' if talk.primeTime }}">
    <div class="s-item" >
      <div class="s-item__row">
        <div class="s-item__col">
          <div class="s-item__time" {{ 'data-time-zone=' + timeZone if timeZone }}>{{talk.startDate if talk.startDate else talk.time}}</div>
        </div>
        <div class="s-item__col">
          {% if talk.speakers[0] or talk.speaker %}
            <div class="s-item__title">
              <a class="anchor-item" href="#person-{{talk.speakers[0].nickname if talk.speakers[0].nickname else talk.speakerSlug}}">{{talk.speakers[0].name if talk.speakers[0].name else talk.speaker}}</a>
            </div>
          {% else %}
            <div class="s-item__title">
              <a class="anchor-item">{{talk.title}}</a>
            </div>
          {% endif %}
          {% if talk.speakers[0].location or talk.from %}
          <div class="s-item__company">{{talk.speakers[0].location if talk.speakers[0].location else talk.from}}</div>
          {% endif %}
          {% if talk.title %}
            <button class="schedule__btn btn" onclick={{ eventsLayer.openDialog({name: 'talk-calendar', isAuth: true, data: talk | dump, values: 'talk:' + talk.title + ';', category: 'add-to-calendar-schedule-click', isAuth: not fakeLinks })}}>Add to calendar</button>
          {% endif %}
        </div>
        <div class="s-item__col {{talk.lastColMod}}">
          {% if talk.speakers[0] or talk.speaker %}
            {% if talk.title %}
            <div class="s-item__title">{{talk.title}}</div>
            {% endif %}
            {% if talk.text %}
            <div class="s-item__text">{{talk.text | safe}}</div>
            {% endif %}
          {% else %}
            {% if talk.text %}
              <div class="s-item__text">{{talk.text | safe}}</div>
            {% endif %}
            {% if talk.lightningTalks %}
              {% for item in talk.lightningTalks %}
              <div class="s-item__title s-item__title_sm">{{ item.title }} - {{ item.name }}</div>
              <div class="s-item__text">{{ item.text | safe }}</div>
              {% endfor %}
            {% endif %}
          {% endif %}
        </div>
      </div>
      {% if talk.stories %}
        {% for story in talk.stories %}
        <div class="s-item__row">
          <div class="s-item__col"></div>
          <div class="s-item__col">
            <div class="s-item__author-sm">{{story.author}}
            </div>
          </div>
          <div class="s-item__col">
            <div class="s-item__text">
              {{story.text}}
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro scheduleItemV2(talk, name, isAuth, eventsLayer, timeZone) %}
  {% if ((talk.contentType !== '07f1cfefde1942fbb63704917cbf2398') and (talk.contentType !== 'b701d52be9d84599a3d46972acafc42f')) and (talk.speakers or talk.speaker or talk.subactivities[0] or talk.lightningTalks[0])  %}


  <div class="sv-item sv-item--hover {{ 'prime-time' if talk.primeTime }}"  >
    
      <button tabindex="0" class="sv-item__cover" onclick={{ eventsLayer.openDialog({name: 'speaker-card' , isAuth: isAuth,
      data: {
        name: talk.speakers[0].name or talk.name or talk.subactivities[0].speakers[0].name or talk.lightningTalks[0].name,
        company: talk.speakers[0].company or talk.company or talk.subactivities[0].speakers[0].company or talk.lightningTalks[0].company,
        avatar: talk.speakers[0].avatar or talk.avatar.url or talk.subactivities[0].speakers[0].avatar or talk.lightningTalks[0].avatar.url,
       
        activities: {
          talks: [
            {
              title: talk.title,
              description: talk.text or talk.subactivities[0].text or talk.lightningTalks[0].text,
              label: talk.label or talk.subactivities[0].label or talk.lightningTalks[0].label,
              track: {
                name: talk.track
              }
            }
          ]
        }
      } | dump , category: 'speaker-click' , isAuth: not fakeLinks }) }}></button>

    {% else %}
    <div class="sv-item" {{ 'prime-time' if talk.primeTime }}>
    {% endif %}
    <div class="sv-item__top">
      
      <div class="sv-item__time" {{ 'data-time-zone=' + timeZone if timeZone }}>{{talk.startDate if talk.startDate else talk.time}}</div>
      {% if talk.title %}
        <button class="sv-item__button" onclick={{ eventsLayer.openDialog({name: 'talk-calendar' , isAuth: true, 
          data: {
            duration: talk.duration,
            additionalLink: talk.additionalLink,
            title: talk.title,
            text: talk.text,
            description: talk.description,
            time: talk.time if talk.time else talk.startDate,
            dayISO: talk.dayISO,
            track: talk.track,
            slug: talk.slug,
            contentType: talk.contentType,
            isoDate: talk.isoDate if talk.isoDate else talk.startDate
   
          } | dump, values: 'talk:' + talk.title + ';' , category: 'add-to-calendar-schedule-click' , isAuth: not fakeLinks })}}>+ <span>Add to calendar</span></button>
      {% endif %}
    </div>

    {% if talk.title %}
    <div class="sv-item__title">{{talk.title}}</div>
    {% endif %}
    {% if talk.contentType !== '3473d8bc2712475c89e0b47d31b2ee97' %} 
      {% if talk.speakers[0].name or talk.name %}
      <div class="sv-item__speaker">
        {{talk.speakers[0].name if talk.speakers[0].name else talk.name}}
      </div>
      {% endif %}
    {% endif %}
  
    {% if (talk.from) and (talk.from !== 'null, null')  %}
    <div class="sv-item__company">{{talk.from.replace('null', '').replace(',', '')}}</div>
    {% endif %}
    
    
    
    <div class="sv-item__body {{talk.lastColMod}}">
      {% if talk.speakers[0] or talk.speaker %}
        <div class="sv-item__text">{{talk.text | safe}}</div>
      {% else %}
        {% if talk.lightningTalks or talk.subactivities %}
        <div class="sv-item__activities">
          {% for item in (talk.lightningTalks or talk.subactivities) %}
          <div class="sv-item__subtitle">
            <span class="sv-item__subtitle-symbol">&bull;</span>
            {{ item.title }}
          </div>
          {% endfor %}
        </div>
        {% endif %}
      {% endif %}

    </div>

  </div>
{% endmacro %}

{% macro sponsorsOffers(offer, name, isAuth, eventsLayer, ga_mixins) %}
  <div class="sponsors-offers__item {{offer.locationLink}}">
    <picture class="sponsors-offers__img-wrap">
      <source srcset="{{imageUrl(offer.image.handle, "resize=fit:clip,height:500,width:500/output=format:webp", offer.image.mimeType, item.avatar.url)}}" type="image/webp">
      <img src="{{imageUrl(offer.image.handle, "resize=fit:clip,height:500,width:500/output=format:png", offer.image.mimeType, item.avatar.url)}}" class="sponsors-offers__img" alt="{{speaker.name}} mini closeup" onclick={{ eventsLayer.openDialog({name: 'sponsor-card', isAuth: isAuth, data: offer | dump, values: 'name:' + offer.itemID + ';', category: 'sponsor-card-click', isAuth: not fakeLinks }) }}>
    </picture>

    <div class="sponsors-offers__learn-more">
      <button
        class="sponsors-offers__learn-more-link"
        onclick={{ eventsLayer.openDialog({name: 'sponsor-card', isAuth: isAuth, data: offer | dump, values: 'name:' + offer.itemID + ';', category: 'sponsor-card-click', isAuth: not fakeLinks }) }}
      >
      {% if offer.companyName %}
         About {{offer.companyName}}
      {% endif %}
      {% if not offer.companyName %}
         About {{offer.itemID}}
      {% endif %}
      </button>
    </div>

    <div class="sponsors-offers__desc">{{ offer.description | safe }}</div>

    <a
      class="sponsors-offers__btn btn btn--border"
      href="{{ offer.registerLink }}"
      target="_blank"
      onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + offer.itemID + ';', category: 'sponsors-offers-click', isAuth: not fakeLinks }) }}
    >
      {{ offer.location | safe }}
    </a>
  </div>
{% endmacro %}

{% macro sponsors(sponsors, isAuth, eventsLayer, ga_mixins) %}
    {% for item in sponsors %}
      <div class="sponsors-block {{item.mod}} {{item.category}}">
        <div class="sponsors-block__title">{{item.title}}</div>
        <ul class="sponsors-block__list">
          {% for sponsor in item.list %}
            {% if 'graphassets' in sponsor.img %}
              <li class="sponsors-block__item graphcms-container"
                {{ cmsData(sponsor) }}
              >
                <a href="{{sponsor.link}}" target="_blank">
                  <picture>
                    <source srcset="{{imageUrl(sponsor.imgHandle, "resize=fit:clip,height:500,width:500/output=format:webp", sponsor.imgMimeType, sponsor.img)}}" type="image/webp">
                    <img src="{{imageUrl(sponsor.imgHandle, "resize=fit:clip,height:500,width:500/output=format:png", sponsor.imgMimeType, sponsor.img)}}"
                      alt="{{sponsor.alt}}"
                      width="{{sponsor.width}}"
                      onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + sponsor.alt + ';', category: 'sponsors-click', isAuth: not fakeLinks }) }}
                    >
                  </picture>
                </a>
              </li>
            {% else %}
              <li class="sponsors-block__item">
                <a href="{{sponsor.link}}" target="_blank">
                  <picture>
                    <source srcset="{{imageCloudinaryUrl(sponsor.imgHandle, "e_trim,c_fit,w_500,h_500/f_auto", sponsor.img)}}" type="image/webp">
                    <img src="{{imageCloudinaryUrl(sponsor.imgHandle, "e_trim,c_fit,w_500,h_500/f_auto", sponsor.img)}}"
                      alt="{{sponsor.alt}}"
                      width="{{sponsor.width}}"
                      onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + sponsor.alt + ';', category: 'sponsors-click', isAuth: not fakeLinks }) }}
                    >
                  </picture>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
{% endmacro %}

{% macro sponsorBanner(banner, ga_mixins) %}
  <a class="sponsor-banner" onclick={{ ga_mixins.sendGAEvent({ values: 'sponsor-banner-perks;' , category: 'banner-click' , isAuth: not fakeLinks }) }} target="_blank" href="{{ banner.url }}" style="--bgColor:{{ banner.bgColor }}; --bgColorHover: {{ banner.bgColorHover }}; --logoBg: url({{ banner.logoBg }})">
    <div class="sponsor-banner__logo-bg">
      <img class="sponsor-banner__logo" src="{{ banner.logo }}"/>
    </div>
    <p class="sponsor-banner__descr">{{ banner.text }}</p>
    <p class="sponsor-banner__cfa">{{ banner.cfa }}</p>
  </a>
{% endmacro %}

{% macro button(props) %}
<a class="{{props.class}}" target="{{'_blank' if props.target }}" href="{{ props.link }}">
  {{ props.text }}
</a>
{% endmacro %}