{% macro icon(i) %}
<svg class="icon icon-{{i}}">
  <use xlink:href="img/sprite.svg?v8#icon-{{i}}"></use>
</svg>
{% endmacro %}

{% macro imageUrl(handle, transform, mimeType, url) %}
{% if handle == null %}
{{url}}
{% elif mimeType == 'image/svg+xml' %}
https://media.graphassets.com/{{handle}}
{% else %}
https://media.graphassets.com/{{ (transform + "/") if transform }}{{handle}}
{% endif %}
{% endmacro %}

{% macro imageCloudinaryUrl(handle, transform, url) %}
{% if handle == null %}
{{url}}
{% else %}
https://gitnation.imgix.net/stichting-frontend-amsterdam/image/upload/{{ (transform + "/") if transform }}{{handle}}?auto=format
{% endif %}
{% endmacro %}

{% macro extended(list) %}
{% for event in list %}
<div class="program-map-item graphcms-container" {{ cmsData(event) }}>
  <div class="program-map-item__content">
    <div class="program-map-item__title">
      {{ event.title | safe }}
      <span class="program-map-item__time">{{ event.subtitle | safe }}</span>
    </div>

    <a
      href="https://reactamsterdam.slack.com/app_redirect?channel={{ event.slackChannelName }}"
      target="_blank"
      class="program-map-item__link">{{icon('sl')}} <span>#{{ event.slackChannelName }}</span></a>
  </div>
  <div class="program-map-item__img">
    {% if event.image.url %}
    <img src="{{ event.image.url }}" alt="{{ event.title }}" />
    {% endif %}
  </div>
  <div class="program-map-item__content">
    <a href="{{ event.locationLink }}" target="_blank">{{ event.location | safe }}</a>
    {% if event.registerLink %}
    <br /><a href="{{ event.registerLink }}" target="_blank">Register Here</a><br />
    {% endif %} {% if event.description %}
    <br />
    {{ event.description | safe }} {% endif %}
  </div>
</div>
{% endfor %}
{% endmacro %}

{% macro cmsData(entry) %}
data-id="{{ entry.id }}"
data-content-type="{{ entry.contentType }}"
data-id-alt="{{ entry.idAlt }}"
data-content-type-alt="{{ entry.contentTypeAlt }}"
{% endmacro %}

{% macro extendedSection(list) %}
{% for event in list %}
<div class="extended__item graphcms-container"
  {{ cmsData(event) }}>
  {% if (event.registerLink) %}
  <a class="wrapper-link" href="{{ event.registerLink }}">
    {% endif %}
    <div class="party-item">
      <div class="party-item__header">
        <div class="party-item__img" style="background-image: url({{ event.image.url }})"></div>
        <div class="party-item__header-inner">
          <div class="party-item__title">{{ event.title | safe }}</div>
          <div class="party-item__content">
            <div class="party-item__subtitle">{{ event.subtitle | safe }}</div>
            <div class="party-item__desc">
              {{ event.description | safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if (event.registerLink) %}
  </a>
  {% endif %}
</div>
{% endfor %}
{% endmacro %}

{% macro avatarWithDetails(activity, person, isAuth, eventsLayer, inPerson, id) %}
<div class="speaker__photo">
  {% if person.bio %}
  <a href="#{{id}}-{{person.slug}}" tabindex="0" aria-label="Full Info" class="activity-holder" onclick={{ eventsLayer.openDialog({name: 'speaker-card-offline' if inPerson else 'speaker-card' , isAuth: isAuth, data: person | dump, values: 'name:' + person.name + ';' , category: 'speaker-click' , isAuth: not fakeLinks }) }}>
    <div class="slider">
      <div class="speaker__popup-btn-wrap">
        <div class="speaker__popup-btn anchor-item">
          Full Info
        </div>
      </div>
    </div>
  </a>
  {% endif %}
  <picture>
    {% if person.avatar and 'graphassets' in person.avatar %}
    <img src="{{imageUrl(person.avatarHandle, 'resize=fit:crop,height:600,width:600/output=format:webp', '', person.avatar)}}" alt="{{person.name}}" loading="lazy">
    {% else %}
    <img src="{{imageCloudinaryUrl(person.avatarHandle, 'f_auto,c_fill,w_600,h_600/f_auto', person.avatar)}}" alt="{{person.name }}" loading="lazy">
    {% endif %}
  </picture>
  {% if person.label %}
  <div class="speaker__tag" style="--tagBG: {{person.tagBG}}; color: {{person.color}};">{{person.label}}</div>
  {% endif %}

</div>
{% endmacro %}


{% macro artistsAvatarWithDetails(activity, person, isAuth, eventsLayer, inPerson, id) %}
<div class="speaker__photo">
  {% if person.bio %}
  <a href="#{{id}}-{{person.slug}}" tabindex="0" aria-label="Full Info" class="activity-holder" onclick={{ eventsLayer.openDialog({name: 'speaker-card-offline' if inPerson else 'speaker-card' , isAuth: isAuth, data: person | dump, values: 'name:' + person.name + ';' , category: 'speaker-click' , isAuth: not fakeLinks }) }}>
    <div class="slider">
      <div class="speaker__popup-btn-wrap">
        <div class="speaker__popup-btn anchor-item">
          Full Info
        </div>
      </div>
    </div>
  </a>
  {% endif %}
  <picture>
    {% if person.avatar and 'graphassets' in person.avatar %}
    <img src="{{imageUrl(person.avatarHandle, 'resize=fit:crop,height:600,width:600/output=format:webp', '', person.avatar)}}" alt="{{person.name}}" loading="lazy">
    {% else %}
    <img src="{{imageCloudinaryUrl(person.avatarHandle, 'f_auto,c_fill,w_600,h_600/f_auto', person.avatar)}}" alt="{{person.name }}" loading="lazy">
    {% endif %}
  </picture>
  {% if person.company %}
  <div class="speaker__tag" style="--tagBG: {{person.tagBG}}; color: {{person.color}};">{{person.company}}</div>
  {% endif %}

</div>
{% endmacro %}


{% macro avatarWithDetailsV2(activity, person, isAuth, eventsLayer, inPerson, id) %}
<div class="speaker__photo">
  {% if person.bio %}
  <a href="#{{id}}-{{person.slug}}" tabindex="0" aria-label="Full Info" class="activity-holder" onclick={{ eventsLayer.openDialog({name: 'speaker-card-offline' if inPerson else 'speaker-card' , isAuth: isAuth, data: person | dump, values: 'name:' + person.name + ';' , category: 'speaker-click' , isAuth: not fakeLinks }) }}>
    <div class="slider">
      <div class="speaker__popup-btn-wrap">
        <div class="speaker__popup-btn anchor-item">
          Full Info
        </div>
      </div>
    </div>
  </a>
  {% if (person.socials.length) %}
  <div class="speaker__socials">
    {% for item in person.socials %}
    <a aria-label="{{(person.name + ' talks and workshops at GitNation portal' if item.icon == 'portal') or (person.name + ' twitter' if item.icon == 'tw') or (person.name + ' github' if item.icon == 'gh') or (person.name + ' personal site' if item.icon == 'site') or (person.name + ' mastodon' if item.icon == 'med') or (person.name + ' linkedin' if item.icon == 'in') or (person.name + ' instagram' if item.icon == 'instagram')}}" href="{{item.link}}" target="_blank" class="speaker__social-link" style="{{'display: none;' if loop.length > 5 and item.icon == 'instagram'}}">
      <svg class="icon icon-{{item.icon}}" role="img" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v4#icon-{{item.icon}}"></use>
      </svg>
    </a>
    {% endfor %}
  </div>
  {% endif %}
  {% endif %}
  <picture>
    {% if person.avatar and 'graphassets' in person.avatar %}
    <img src="{{imageUrl(person.avatarHandle, 'resize=fit:crop,height:600,width:600/output=format:webp', person.imgMimeType, person.avatar)}}" alt="{{person.slug }}" loading="lazy">
    {% else %}
    <source srcset="{{imageCloudinaryUrl(person.avatarHandle, 'e_trim,c_fit,w_600,h_600/f_auto', person.avatar)}}" type="image/webp">
    <img src="{{imageCloudinaryUrl(person.avatarHandle, 'e_trim,c_fit,w_600,h_600/f_auto', person.avatar)}}" alt="{{person.slug }}" loading="lazy">
    {% endif %}
  </picture>
  {% if person.label %}
  <div class="speaker__tag" style="--tagBG: {{person.tagBG}}; color: {{person.color}};">{{person.label}}</div>
  {% endif %}

</div>
{% endmacro %}

{% macro text(pieceOfTexts, key) %}
{# class="graphcms-container" #}
<span class="graphcms-container" {{ cmsData(pieceOfTexts[key]) }}>
  {{ pieceOfTexts[key].html | safe }}
</span>
{% endmacro %}

{% macro eventStats(list) %}
<div class="hero__info">
  <ul class="h-list {{ 'h-list_centered' if list.length <= 2 }}">
    {% for stat in list %}
    <li class="h-list__item">
      {% if stat.statNumber %}
      <div class="h-list__value">
        {{ stat.statNumber | safe }}

        {% if stat.showTicket %}
        <span class="h-list__icon"><img src="img/tickets.png" alt="" /></span>
        {% endif %}
      </div>
      {% endif %}

      <div class="h-list__text">
        {% if stat.statName %}
        <span class="h-list__text-top">{{ stat.statName | safe }}</span>
        <br>
        {% endif %}
        {{ stat.statDescr | safe }}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro scheduleItem(talk, name, isAuth, eventsLayer, timeZone) %}
<div class="schedule__item {{ 'prime-time' if talk.primeTime }}">
  <div class="s-item">
    <div class="s-item__row">
      <div class="s-item__col">
        <div class="s-item__time" {{ 'data-time-zone=' + timeZone if timeZone }}>{{talk.startDate if talk.startDate else talk.time}}</div>
      </div>
      <div class="s-item__col">
        {% if talk.speakers[0] or talk.speaker %}
        <div class="s-item__title">
          <a class="anchor-item" href="#person-{{talk.speakers[0].nickname if talk.speakers[0].nickname else talk.speakerSlug}}">{{talk.speakers[0].name if talk.speakers[0].name else talk.speaker}}</a>
        </div>
        {% else %}
        <div class="s-item__title">
          <a class="anchor-item">{{talk.title}}</a>
        </div>
        {% endif %}
        {% if talk.speakers[0].location or talk.from %}
        <div class="s-item__company">{{talk.speakers[0].location if talk.speakers[0].location else talk.from}}</div>
        {% endif %}
        {% if talk.title %}
        <button class="schedule__btn btn" onclick={{ eventsLayer.openDialog({name: 'talk-calendar' , isAuth: true, data: talk | dump, values: 'talk:' + talk.title + ';' , category: 'add-to-calendar-schedule-click' , isAuth: not fakeLinks })}}>Add to calendar</button>
        {% endif %}
      </div>
      <div class="s-item__col {{talk.lastColMod}}">
        {% if talk.speakers[0] or talk.speaker %}
        {% if talk.title %}
        <div class="s-item__title">{{talk.title}}</div>
        {% endif %}
        {% if talk.text %}
        <div class="s-item__text">{{talk.text | safe}}</div>
        {% endif %}
        {% else %}
        {% if talk.text %}
        <div class="s-item__text">{{talk.text | safe}}</div>
        {% endif %}
        {% if talk.lightningTalks %}
        {% for item in talk.lightningTalks %}
        <div class="s-item__title s-item__title_sm">{{ item.title }} - {{ item.name }}</div>
        <div class="s-item__text">{{ item.text | safe }}</div>
        {% endfor %}
        {% endif %}
        {% endif %}
      </div>
    </div>
    {% if talk.stories %}
    {% for story in talk.stories %}
    <div class="s-item__row">
      <div class="s-item__col"></div>
      <div class="s-item__col">
        <div class="s-item__author-sm">{{story.author}}
        </div>
      </div>
      <div class="s-item__col">
        <div class="s-item__text">
          {{story.text}}
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro scheduleItemCmsV2(talk, name, isAuth, eventsLayer, timeZone) %}
{% set isClickable = ((talk.contentType !== '07f1cfefde1942fbb63704917cbf2398') and (talk.contentType !== 'b701d52be9d84599a3d46972acafc42f') and (talk.contentType !== '3473d8bc2712475c89e0b47d31b2ee97')) and (talk.speakers or talk.speaker) %}

<div class="sv-item {{'sv-item--hover' if isClickable}} {{ 'prime-time' if talk.primeTime }}" style="--bgColor: {{talk.bgColor}}">
  {% if isClickable %}

  {% set svData = {
  avatar: talk.avatar.url if talk.avatar else null,
  company: talk.company,
  name: talk.speaker,
  bio: talk.bio,
  ocials: talk.socials if talk.socials else null,
  speakers: talk.speakers,
  activities: {
  talks: [
  {
  title: talk.title,
  description: talk.text,
  label: talk.label,
  track: {
  name: talk.track
  },
  timeString: talk.startDate or talk.time
  }
  ]
  }
  } %}
  <button tabindex="0" class="sv-item__cover" onclick={{ eventsLayer.openDialog({name: 'speaker-card' , isAuth: isAuth,
    data: svData | dump , category: 'speaker-click' , isAuth: not fakeLinks }) }}>
  </button>
  {% endif %}

  <div class="sv-item__top">
    <div class="sv-item__time" {{ 'data-time-zone=' + timeZone if timeZone }}>{{talk.time}}</div>
    {% if talk.title %}
    <button class="sv-item__button" onclick={{ eventsLayer.openDialog({name: 'talk-calendar' , isAuth: true,
      data: talk | dump, values: 'talk:' + talk.title + ';' , category: 'add-to-calendar-schedule-click' , isAuth: not fakeLinks })}}><span>+</span> Add to calendar</span></button>
    {% endif %}
  </div>

  {% if talk.title %}
  <div class="sv-item__title">{{talk.title}}</div>
  {% endif %}

  {% if (talk.contentType !== '3473d8bc2712475c89e0b47d31b2ee97') and (talk.contentType !== 'b701d52be9d84599a3d46972acafc42f') %}
  {% if talk.speakers %}
  <div class="sv-item__speakers">
    {% for speaker in talk.speakers %}
    <div class="sv-item__speaker">
      {% if speaker.avatar %}
      <div class="sv-item__speaker-avatar">
        <img src="{{speaker.avatar.url}}" alt="">
      </div>
      {% endif %}
      <div class="sv-item__speaker-content">
        <div class="sv-item__speaker-name">
          {{ speaker.name }}
        </div>

        <div class="sv-item__speaker-location">
          {{ speaker.company }}
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
  {% elif talk.speaker %}
  <div class="sv-item__speakers">
    <div class="sv-item__speaker">
      {% if talk.avatar %}
      <div class="sv-item__speaker-avatar">
        <img src="{{talk.avatar.url}}" alt="" loading="lazy">
      </div>
      {% endif %}
      <div class="sv-item__speaker-content">
        <div class="sv-item__speaker-name">
          {{ talk.name }}
        </div>

        <div class="sv-item__speaker-location">
          {{ talk.company }}
        </div>

      </div>
    </div>
  </div>
  {% endif %}

  {% if (talk.speakers[0] or talk.speaker) and talk.text%}
  <div class="sv-item__body {{talk.lastColMod}}">
    <div class="sv-item__text">{{talk.text | safe}}</div>
  </div>
  {% else %}
  {% if talk.lightningTalks and talk.lightningTalks.length > 0 %}
  <div class="sv-item__body {{talk.lastColMod}}">
    <div class="sv-item__activities">
      {% for item in talk.lightningTalks %}
      <div class="sv-item__subtitle">
        <span class="sv-item__subtitle-symbol">&bull;</span>
        {{ item.title }} &mdash;
        <span class="sv-item__subtitle-name">
          <span>{{ item.name }}</span>{{ ',' if not loop.last }}
        </span>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endif %}

  {% endif %}
</div>
{% endmacro %}

{% macro scheduleItemEmsV2(talk, name, isAuth, eventsLayer, timeZone, tabsItem) %}


{% set isClickable = ((talk.contentType !== '07f1cfefde1942fbb63704917cbf2398') and (talk.contentType !== 'b701d52be9d84599a3d46972acafc42f') and (talk.contentType !== '3473d8bc2712475c89e0b47d31b2ee97')) and (talk.speakers | length or talk.speaker | length) %}

{% set isQna = talk.contentType == '3473d8bc2712475c89e0b47d31b2ee97' %}

<div class="sv-item {{'sv-item--hover' if isClickable}} {{'_hidden' if isQna}} {{ 'prime-time' if talk.primeTime }}" style="--bgColor: {{talk.bgColor}}">
  {% if isClickable %}

  {% set svData = {
  avatar: talk.avatar.url if talk.avatar else null,
  company: talk.company,
  name: talk.speaker,
  bio: talk.bio,
  socials: talk.socials,
  speakers: talk.speakers,
  activities: {
  talks: [
  {
  title: talk.title,
  description: talk.text,
  label: talk.label,
  track: {
  name: talk.track
  },
  timeString: talk.startDate or talk.time
  }
  ]
  }
  } %}
  <button tabindex="0" class="sv-item__cover" onclick={{ eventsLayer.openDialog({name: 'speaker-card' , isAuth: isAuth, data: svData | dump , category: 'speaker-click' , isAuth: not fakeLinks }) }}></button>

  {% endif %}
  <div class="sv-item__top-wrap">
    <div class="sv-item__top">

      <div class="sv-item__time" {{ 'data-time-zone=' + timeZone if timeZone }}>{{talk.startDate}}</div>
      {% if talk.title %}
      <button class="sv-item__button" onclick={{ eventsLayer.openDialog({name: 'talk-calendar' , isAuth: true,
        data: talk | dump, values: 'talk:' + talk.title + ';' , category: 'add-to-calendar-schedule-click' , isAuth: not fakeLinks })}}><span>+</span> Add to calendar</button>
      {% endif %}
    </div>

    {% if talk.title %}
    <div class="sv-item__title">{{talk.title}}</div>
    {% endif %}
  </div>

  {% if talk.contentType !== '3473d8bc2712475c89e0b47d31b2ee97' %}
  {% if talk.speakers %}
  <div class="sv-item__speakers">
    {% for speaker in talk.speakers %}
    <div class="sv-item__speaker">
      {% if speaker.avatar %}
      <div class="sv-item__speaker-avatar _hidden">
        <img src="{{speaker.avatar}}" alt="" loading="lazy">
      </div>
      {% endif %}
      <div class="sv-item__speaker-content">
        <div class="sv-item__speaker-name">{{ speaker.name }}<span class="_visible">{{ ',' if not loop.last }}</span></div>
        <div class="sv-item__speaker-location _hidden">{{ speaker.company }}</div>
      </div>
    </div>

    {% endfor %}
  </div>
  {% endif %}

  {% if talk.speakers[0] and talk.shortDescription %}
  <div class="sv-item__body _hidden">
    <div class="sv-item__text">{{talk.shortDescription | safe}}</div>
  </div>
  {% else %}
  {% if talk.subactivities and talk.subactivities.length > 0 %}
  <div class="sv-item__body _hidden">
    <div class="sv-item__activities">
      {% for item in talk.subactivities %}
      <div class="sv-item__subtitle">
        <span class="sv-item__subtitle-symbol">&bull;</span>
        {{ item.title }}
        {% if item.speakers %}
        &mdash;
        <span class="sv-item__subtitle-name">
          {% for speaker in item.speakers %}
          <span>{{ speaker.name }}</span>{{ ',' if not loop.last }}
          {% endfor %}
        </span>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endif %}
  {% endif %}
</div>
{% endmacro %}

{% macro sponsorsOffers(offer, name, isAuth, eventsLayer, ga_mixins) %}
<div class="sponsors-offers__item {{offer.locationLink}}">
  <picture class="sponsors-offers__img-wrap">
    <source srcset="{{imageUrl(offer.image.handle, 'resize=fit:clip,height:500,width:500/output=format:webp', offer.image.mimeType, item.avatar.url)}}" type="image/webp">
    <img src="{{imageUrl(offer.image.handle, 'resize=fit:clip,height:500,width:500/output=format:png', offer.image.mimeType, item.avatar.url)}}" class="sponsors-offers__img" alt="{{speaker.name}} mini closeup" onclick={{ eventsLayer.openDialog({name: 'sponsor-card' , isAuth: isAuth, data: offer | dump, values: 'name:' + offer.itemID + ';' , category: 'sponsor-card-click' , isAuth: not fakeLinks }) }}>
  </picture>

  <div class="sponsors-offers__learn-more">
    <button
      class="sponsors-offers__learn-more-link"
      onclick={{ eventsLayer.openDialog({name: 'sponsor-card' , isAuth: isAuth, data: offer | dump, values: 'name:' + offer.itemID + ';' , category: 'sponsor-card-click' , isAuth: not fakeLinks }) }}>
      {% if offer.companyName %}
      About {{offer.companyName}}
      {% endif %}
      {% if not offer.companyName %}
      About {{offer.itemID}}
      {% endif %}
    </button>
  </div>

  <div class="sponsors-offers__desc">{{ offer.description | safe }}</div>

  {% if offer.registerLink %}
  <a
    class="sponsors-offers__btn btn btn--border"
    href="{{ offer.registerLink }}"
    target="_blank"
    onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + offer.itemID + ';' , category: 'sponsors-offers-click' , isAuth: not fakeLinks }) }}>
    {{ offer.location | safe }}
  </a>
  {% endif %}
</div>
{% endmacro %}

{% macro sponsors(sponsors, isAuth, eventsLayer, ga_mixins) %}
{% for item in sponsors %}
<div class="sponsors-block {{item.mod}} {{item.category}}">
  <div class="sponsors-block__title">{{item.title}}</div>
  <ul class="sponsors-block__list">
    {% for sponsor in item.list %}

    <li class="sponsors-block__item graphcms-container {{'sponsors-block__item--w-info' if (sponsor.description or sponsor.shortDescription) and (sponsor.alt == 'FocusReactive' or sponsor.alt == 'C3 fest')}}"
      {{ cmsData(sponsor) }}>
      <a href="{{sponsor.link}}" target="_blank" class="sponsors-block__link">
        <picture class="sponsors-block__img">
          <img src="{{sponsor.img}}"
            alt="{{sponsor.alt}}"

            width="{{sponsor.width}}"
            onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + sponsor.alt + ';' , category: 'sponsors-click' , isAuth: not fakeLinks }) }}>
        </picture>
      </a>
      {% if (sponsor.description or sponsor.shortDescription) and (sponsor.alt == 'FocusReactive' or sponsor.alt == 'C3 fest')%}
      <div class="sponsors-block__content">
        {% if sponsor.shortDescription %}
        <div class="sponsors-block__subtitle">{{sponsor.shortDescription}}</div>
        {% endif %}
        {% if sponsor.description %}
        <div class="sponsors-block__description">{{sponsor.description | safe | replace('rel="noopener noreferrer"', '')}}</div>
        {% endif %}
      </div>
      {% endif %}

    </li>

    {% endfor %}
  </ul>
</div>
{% endfor %}
{% endmacro %}

{% macro sponsorsScroller(sponsors, isAuth, eventsLayer, ga_mixins) %}
<div class="js-scroller sponsors-scroller">
  <ul class="sponsors-scroller__list">
    {% for sponsor in sponsors %}
    <li {{ cmsData(sponsor) }}>
      <a href="{{sponsor.link}}" target="_blank">
        <picture>
          <img src="{{sponsor.img}}"
            alt="{{sponsor.alt}}"

            width="{{sponsor.width}}"
            onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + sponsor.alt + ';' , category: 'sponsors-click' , isAuth: not fakeLinks }) }}>
        </picture>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro sponsorBanner(banner, ga_mixins) %}
<a class="sponsor-banner" onclick={{ ga_mixins.sendGAEvent({ values: 'sponsor-banner-perks;' , category: 'banner-click' , isAuth: not fakeLinks }) }} target="_blank" href="{{ banner.url }}" style="--bgColor:{{ banner.bgColor }}; --bgColorHover: {{ banner.bgColorHover }}; --logoBg: url({{ banner.logoBg }})">
  <div class="sponsor-banner__logo-bg">
    <img class="sponsor-banner__logo" src="{{ banner.logo }}" loading="lazy" />
  </div>
  <p class="sponsor-banner__descr">{{ banner.text }}</p>
  <p class="sponsor-banner__cfa">{{ banner.cfa }}</p>
</a>
{% endmacro %}

{% macro button(props) %}
<a class="{{props.class}}" target="{{'_blank' if props.target }}" href="{{ props.link }}">
  {{ props.text }}
</a>
{% endmacro %}


{% macro techs(techs) %}

<ul class="techs scrollbar">
  {% for item in techs %}

  {% set techSetBlock %}
  <div class="techs__img-box">
    <picture>
      <img class="techs__img" src="{{imageUrl(item.imageHandle, 'output=format:webp/resize=fit:max,height:100')}}" alt="{{item.title}}" role="presentation">
    </picture>

  </div>
  <p class="techs__title">{{ item.title | safe }}</p>
  {% if item.descr %}
  <div class="techs__text">
    {{ item.descr | safe }}
  </div>
  {% endif %}
  {% endset %}

  {% if item.title %}
  <li class="techs__item">
    {% if item.link %}
    <a class="techs__link" href="{{item.link}}" aria-label="{{ item.title | striptags }}" target="_blank">
      {{techSetBlock | safe }}
    </a>
    {% else %}
    {{techSetBlock | safe }}
    {% endif %}

  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endmacro %}


{% macro socialsConf(conference) %}
<ul class="social ">
  {% if conference.twitterUrl %}
  <li class="social__item">
    <a aria-label="twitter" tabindex="0" href="{{ conference.twitterUrl }}" class="social__link" target="_blank" data-parent-title>
      <svg class="icon icon-twitter">
        <use xlink:href="img/sprite.svg#twitter"></use>
      </svg>
      <span data-title="x">x</span>
    </a>
  </li>
  {% endif %}
  {% if conference.tiktokUrl %}
  <li class="social__item">
    <a aria-label="tiktok" href="{{ conference.tiktokUrl }}" class="social__link" target="_blank" data-parent-title>
      <svg class="icon icon-tiktok">
        <use xlink:href="img/sprite.svg#tiktok"></use>
      </svg>
      <span data-title="tiktok">tiktok</span>
    </a>
  </li>
  {% endif %}
  {% if conference.youtubeUrl %}
  <li class="social__item">
    <a aria-label="youtube" tabindex="0" href="{{ conference.youtubeUrl }}" class="social__link" target="_blank" data-parent-title>
      <svg class="icon icon-youtube">
        <use xlink:href="img/sprite.svg#youtube"></use>
      </svg>
      <span data-title="youtube">youtube</span>
    </a>
  </li>
  {% endif %}
  {% if conference.facebookUrl %}
  <li class="social__item">
    <a aria-label="facebook" tabindex="0" href="{{ conference.facebookUrl }}" class="social__link" target="_blank" data-parent-title>
      <svg class="icon icon-facebook">
        <use xlink:href="img/sprite.svg#facebook"></use>
      </svg>
      <span data-title="facebook">facebook</span>
    </a>
  </li>
  {% endif %}
  {% if conference.mediumUrl %}
  <li class="social__item">
    <a aria-label="medium" tabindex="0" href="{{ conference.mediumUrl }}" class="social__link" target="_blank" data-parent-title>
      <svg class="icon icon-medium">
        <use xlink:href="img/sprite.svg#medium"></use>
      </svg>
      <span data-title="medium">medium</span>
    </a>
  </li>
  {% endif %}
  {% if conference.discordUrl %}
  <li class="social__item">
    <a aria-label="discord" tabindex="0" href="{{ conference.discordUrl }}" class="social__link" target="_blank" data-parent-title>
      <svg class="icon icon-discord">
        <use xlink:href="img/sprite.svg#discord"></use>
      </svg>
      <span data-title="discord">discord</span>
    </a>
  </li>
  {% endif %}
  {% if conference.gnPortal %}
  <li class="social__item">
    <a aria-label="gitnation portal" tabindex="0" href="{{ conference.gnPortal }}" class="social__link" target="_blank" data-parent-title>
      <svg class="icon icon-gitnation">
        <use xlink:href="img/sprite.svg#gitnation"></use>
      </svg>
      <span data-title="gitnation">gitnation</span>
    </a>
  </li>
  {% endif %}
  {% if conference.mastodonUrl %}
  <li class="social__item">
    <a aria-label="mastodon" href="{{ conference.mastodonUrl }}" class="social__link" target="_blank" data-parent-title>
      <svg class="icon icon-mastodon">
        <use xlink:href="img/sprite.svg#mastodon"></use>
      </svg>
      <span data-title="mastodon">mastodon</span>
    </a>
  </li>
  {% endif %}
  {% if conference.instagramUrl %}
  <li class="social__item">
    <a aria-label="instagram" href="{{ conference.instagramUrl }}" class="social__link" target="_blank" data-parent-title>
      <svg class="icon icon-instagram">
        <use xlink:href="img/sprite.svg#instagram"></use>
      </svg>
      <span data-title="instagram">instagram</span>
    </a>
  </li>
  {% endif %}
</ul>
{% endmacro %}
