<section class="section s-multipass _anim-items" id="multipass">
  <div class="container">

    <div class="multipass">
      <div class="multipass__head">
        {% if pagesPieceOfTexts.multipass__suptitle %}
          <div class="multipass__suptitle section__suptitle">{{ mixins.text(pieceOfTexts, 'multipass__suptitle') }}</div>
        {% endif %}
        <h3 role="heading" class="multipass__title section__title" data-title="{{pagesPieceOfTexts.multipass__title}}">{{ mixins.text(pieceOfTexts, 'multipass__title') }}</h3>

        <div class="multipass__desc">
          <div class="multipass__tip">{{ pagesPieceOfTexts.multipass__desc | safe }}</div>
          <a class="multipass__btn btn" href="{{ pagesPieceOfTexts.multipass__btnLink | safe }}" target="_blank">{{ pagesPieceOfTexts.multipass__btnText | safe }}</a>
          {% if pagesPieceOfTexts.multipass__more %}
          <div class="multipass__more">{{ pagesPieceOfTexts.multipass__more | safe }}</div>
          {% endif %}
        </div>
      </div>

      <div class="multipass__content">
        <div class="multipass__card">
          <div class="visa-card">
            <div class="visa-card__card">
              <div class="visa-card__img">
                <svg class="icon icon-face">
                  <use xlink:href="img/sprite.svg#icon-face"></use>
                </svg>
              </div>
              <div class="visa-card__desc">
                <h3>Korben<br> Dallas</h3>
                <p>citizen@gitnation.org</p>
              </div>

              <div class="visa-card__side">000 059 307 {{mixins.icon('mini-qrcode')}}</div>
            </div>
          </div>
        </div>

        <div class="multipass__equals">
          {{mixins.icon('equal')}}
        </div>

        {% include "partials/_multipass-slider.html" %}
      </div>
    </div>

  </div>
</section>
