<section class="section s-multipass" id="multipass">
  <div class="container">
    <h2 role="heading" class="section__title">{{ mixins.text(pieceOfTexts, 'multipass__title') }}</h2>

    <div class="multipass">
      <div class="multipass__left">
        <div class="multipass__desc">
          <div class="multipass__text">{{ mixins.text(pieceOfTexts, 'multipass__desc') }}</div>
          <a href="https://gitnation.com/multipass" target="_blank" onclick={{ ga_mixins.sendGAEvent({ values: multipass__title | striptags + ';' , category: 'buy-multipass' , isAuth: not fakeLinks }) }}>more details</a>
        </div>
      </div>

      <div class="multipass__right">
        <div class="visa-card">
          <div class="visa-card__img">
            <svg class="icon icon-face">
              <use xlink:href="img/sprite.svg#icon-face"></use>
            </svg>
          </div>
          <div class="visa-card__desc">
            <div>Korben<br> Dallas</div>
            <div>citizen@gitnation.org</div>
          </div>
        </div>

        <svg class="icon icon-equal">
          <use xlink:href="img/sprite.svg#icon-equal"></use>
        </svg>

        {% include "partials/_multipass-slider.html" %}

      </div>
    </div>

    <div class="multipass__dd">
      <picture class="multipass__dd-logo"><img src="img/logo-h.svg" alt="" /></picture>
      <h3 class="multipass__dd-title">Become a better engineer and follow Multipass Exclusive Deep Dives</h3>

      <ul class="multipass__dd-list">
        <li class="multipass__dd-item">Fullstack Development</li>
        <li class="multipass__dd-item">Growing to Senior & TechLead</li>
        <li class="multipass__dd-item">AI Assisted Coding</li>
      </ul>
    </div>
  </div>
</section>