<section class="section s-multipass" id="multipass">
  <div class="container">
    <h3 class="section__title">{{ mixins.text(pieceOfTexts, 'multipass__title') }}</h3>

    <div class="multipass">
      <div class="multipass__left">
        <div class="multipass__desc">
          <div class="multipass__text">{{ mixins.text(pieceOfTexts, 'multipass__desc') }}</div>
          <a href="https://gitnation.org/multipass-subscription" target="_blank">more details</a>
        </div>
      </div>

      <div class="multipass__right">
        <div class="visa-card">
          <div class="visa-card__img">
            <svg class="icon icon-face">
              <use xlink:href="img/sprite.svg#icon-face"></use>
            </svg>
          </div>
          <div class="visa-card__desc">
            <h3>Korben<br> Dallas</h3>
            <p>citizen@gitnation.org</p>
          </div>
        </div>

        <svg class="icon icon-equal">
          <use xlink:href="img/sprite.svg#icon-equal"></use>
        </svg>

        <div class="multipass-list swiper-container multipass-slider">
          <div class="swiper-wrapper">
            {% for conference in pages[pageKey].pageSections.multipassConferences %}
            <div class="multipass-list__item swiper-slide">
              <a title="{{ conference.title }}" href="{{ conference.link }}" target="_blank" aria-label="Visit site {{ conference.title }}">Visit site</a>
             
              <picture>
                <source srcset="{{mixins.imageUrl(conference.imgHandle, "resize=fit:clip,height:500,width:500/output=format:webp", conference.imgMimeType)}}" type="image/webp">
                <img width="{{ conference.imgWidth }}" src="{{mixins.imageUrl(conference.imgHandle, "resize=fit:clip,height:500,width:500/output=format:png", conference.imgMimeType)}}" title="{{ conference.title }}">
              </picture>
              

              <svg class="icon icon-plus">
                <use xlink:href="img/sprite.svg#icon-plus"></use>
              </svg>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
