<section class="section s-multipass" id="multipass">
  <div class="container">

    <div class="multipass">
      <div class="multipass__head">
        <h3 class="multipass__title">{{ mixins.text(pieceOfTexts, 'multipass__title') }}</h3>

        <div class="multipass__desc">
          <div class="multipass__tip">{{ pagesPieceOfTexts.multipass__desc | safe }}</div>
          <a class="multipass__btn btn" href="{{ pagesPieceOfTexts.multipass__btnLink | safe }}" target="_blank">{{ pagesPieceOfTexts.multipass__btnText | safe }}</a>
          {% if pagesPieceOfTexts.multipass__more %}
          <div class="multipass__more">{{ pagesPieceOfTexts.multipass__more | safe }}</div>
          {% endif %}
        </div>
      </div>

      <div class="multipass__content">
        <div class="multipass__card">
          <div class="visa-card">
            <div class="visa-card__card">
              <div class="visa-card__img">
                <svg class="icon icon-face">
                  <use xlink:href="img/sprite.svg#icon-face"></use>
                </svg>
              </div>
              <div class="visa-card__desc">
                <h3>Korben<br> Dallas</h3>
                <p>citizen@gitnation.org</p>
              </div>

              <div class="visa-card__side">000 059 307 {{mixins.icon('mini-qrcode')}}</div>
            </div>
          </div>
        </div>

        <div class="multipass__equals">
          {{mixins.icon('equal')}}
        </div>

        <div class="multipass-list swiper-container multipass-slider">
          <div class="swiper-wrapper">
            {% for conference in pages[pageKey].pageSections.multipassConferences %}
            <div class="multipass-list__item swiper-slide">
              <a href="{{ conference.link }}" target="_blank" aria-label="Visit site {{ conference.title }}">Visit site</a>
              <picture>
                <source srcset="{{mixins.imageUrl(conference.imgHandle, "resize=fit:clip,height:500,width:500/output=format:webp", conference.imgMimeType)}}" type="image/webp">
                <img width="{{ conference.imgWidth }}" src="{{mixins.imageUrl(conference.imgHandle, "resize=fit:clip,height:500,width:500/output=format:png", conference.imgMimeType)}}" alt="{{ conference.title }}">
              </picture>

              <svg class="icon icon-plus">
                <use xlink:href="img/sprite.svg#icon-plus"></use>
              </svg>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
