<section class="section s-osa-award" id="osa-award">
  <div class="container">
    <h2 class="section__title">{{ mixins.text(pieceOfTexts, 'osaAward__title') }}</h2>

    <div class="osa-award">
      <div class="osa-award__content">
        <div class="osa-award__desc">{{ mixins.text(pieceOfTexts, 'osaAward__desc') }}</div>
        <div class="osa-award__img">
          <div class="osa-img">
            <div class="osa-img__container">
              {{mixins.icon('face')}}
              <div class="osa-img__title">JS Open Source <span>AWARDS</span></div>
            </div>
            <div class="osa-img__circle-1"></div>
            <div class="osa-img__circle-2"></div>
            <div class="osa-img__circle-3"></div>
          </div>
        </div>
      </div>

      <div class="osa-nominations">
        <div class="osa-nominations__line">
          <div class="osa-nominations__nominee">Breakthrough of the year</div>
          <div class="osa-nominations__nominee">Breakthrough of the year</div>
          <div class="osa-nominations__nominee">Breakthrough of the year</div>
          <div class="osa-nominations__nominee">Breakthrough of the year</div>
          <div class="osa-nominations__nominee">Breakthrough of the year</div>
        </div>
        <div class="osa-nominations__line">
          <div class="osa-nominations__nominee">Fun side project of the year</div>
          <div class="osa-nominations__nominee">Fun side project of the year</div>
          <div class="osa-nominations__nominee">Fun side project of the year</div>
          <div class="osa-nominations__nominee">Fun side project of the year</div>
          <div class="osa-nominations__nominee">Fun side project of the year</div>
        </div>
        <div class="osa-nominations__line">
          <div class="osa-nominations__nominee">Most impactful contribution to the community</div>
          <div class="osa-nominations__nominee">Most impactful contribution to the community</div>
          <div class="osa-nominations__nominee">Most impactful contribution to the community</div>
          <div class="osa-nominations__nominee">Most impactful contribution to the community</div>
          <div class="osa-nominations__nominee">Most impactful contribution to the community</div>
        </div>
        <div class="osa-nominations__line">
          <div class="osa-nominations__nominee">Productivity booster</div>
          <div class="osa-nominations__nominee">Productivity booster</div>
          <div class="osa-nominations__nominee">Productivity booster</div>
          <div class="osa-nominations__nominee">Productivity booster</div>
          <div class="osa-nominations__nominee">Productivity booster</div>
        </div>
        <div class="osa-nominations__line">
          <div class="osa-nominations__nominee">the most exciting use of technology</div>
          <div class="osa-nominations__nominee">the most exciting use of technology</div>
          <div class="osa-nominations__nominee">the most exciting use of technology</div>
          <div class="osa-nominations__nominee">the most exciting use of technology</div>
          <div class="osa-nominations__nominee">the most exciting use of technology</div>
        </div>
      </div>

      <div class="osa-award__btns">
        <a class="osa-award__btn btn btn--transparent" href="{{ pagesPieceOfTexts.osaAward__btnLink }}">{{ pagesPieceOfTexts.osaAward__btnText }}</a>
      </div>
    </div>
  </div>
</section>
