<section class="section s-party " id="party">
  <div class="container">
    <h2 class="section__title">{{ mixins.text(pieceOfTexts, 'party__title') }}</h2>
    {% if pagesPieceOfTexts.party__desc %}
    <div class="section__info">{{ pagesPieceOfTexts.party__desc | safe }}</div>
    {% endif %}


    {% if pages[pageKey].pageSections.party_sponsored %}
    <div class="s-party__sponsored">
      <span>{{pages[pageKey].pageSections.party_sponsored.title}}</span>
      {% for sponsor in pages[pageKey].pageSections.party_sponsored.sponsors %}
      <a href="{{sponsor.link}}" target="_blank">
        <img src="{{sponsor.img}}" alt="">
      </a>
      {% endfor %}
    </div>

    {% endif %}
    <div class="party">
      {% for event in pages[pageKey].pageSections.party %}
      <div class="party__item">
        <div class="party__text">
          <h3 class="party__title">{{ event.title | safe }}</h3>
          <div class="party__desc">{{ event.desc | safe }}</div>
        </div>
        <div class="party__images">
          {% for image in event.images %}
          <picture class="party__img
            {{'single' if event.images.length == 1 }}
            {{'fill-height' if loop.first and event.images.length == 3 }}
          ">
            <source srcset="{{mixins.imageUrl(image.src, 'output=format:webp/resize=height:480,fit:max', '')}}" type="image/webp">
            <img src="{{mixins.imageUrl(image.src, 'output=format:jpg/resize=height:480,fit:max', '')}}"
              alt="{{ image.alt if image.alt else event.title}}">
          </picture>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
