<section class="section s-speakers s-past-speakers {{speakersMod}}" id="speakers">
  <div class="container">
    <div class="section__head">
      <h2 class="section__title with-dots">{{ mixins.text(pieceOfTexts, 'pastSpeakers__title') }}</h2>
    </div>

    <div class="speakers-list">

      {% for person in pastSpeakers[pageKey] %}
      <div class="speakers-list__item" id="person-{{person.slug}}-id">
        <div class="speaker graphcms-container" {{ mixins.cmsData(person) }}>

          {{mixins.avatarWithDetailsV2(person.activities.talks[0], person, not fakeLinks, eventsLayer, inPerson, 'person')}}

          {% if (person.name) %}
          <div class="speaker__name {{'ttn' if ('Mr.' or 'mr.') in person.name }}">{{person.name}}</div>
          {% endif %}
          {% if (person.companyWithCountry) and (person.companyWithCountry !== 'null, null') %}

          <div class="speaker__company">

            {{person.companyWithCountry}}
          </div>
          {% endif %}

          {% for talks in person.activities.allTalks %}
          {% if talks.category === 0 %}
          <div class="speaker__talk"><span>Talk:</span> <a href="https://gitnation.com/contents/{{talks.url}}" target="_blank">{{talks.title | safe}}</a></div>

          {% elif talks.category === 2 %}
          <div class="speaker__talk"><span>Workshop:</span> <a href="https://gitnation.com/contents/{{talks.url}}" target="_blank">{{talks.title | safe}}</a></div>
          {% endif %}
          {% endfor %}

          {% if person.shortBio or person.bio %}
          <div class="speaker__desc">{{(person.shortBio or person.bio) | safe}}</div>
          {% endif %}
        </div>
      </div>
      {% endfor %}


      {% if pages[pageKey].pageSections.pastSpeakersMore %}
      <div class="speakers-list__item speakers-list__item_more">
        <div class="speaker__name">{{ pages[pageKey].pageSections.pastSpeakersMore.title | safe}}</div>
        <div class="speaker__company">{{ pages[pageKey].pageSections.pastSpeakersMore.desc | safe }}</div>
        {% if pages[pageKey].pageSections.pastSpeakersMore.link %}
        <a class="btn" href="{{pages[pageKey].pageSections.pastSpeakersMore.link }}">{{ pages[pageKey].pageSections.pastSpeakersMore.linkText}}</a>
        {% endif %}
      </div>
      {% endif %}



    </div>
  </div>
</section>