{% if pastSpeakers[pageKey] %}
<section class="section s-speakers _anim-items {{speakersMod}} {{'hide-sm' if speakers[pageKey].length > 8}}" id="past-speakers" data-suptitle="speakers">
	<div class="container">

		<h2 role="heading" aria-level="1" class="section__title with-dots" data-title="{{pagesPieceOfTexts.speakers__title}}">{{ mixins.text(pieceOfTexts, 'pastSpeakers__title') }}</h2>

		<div class="speakers-list">
			{% for person in pastSpeakers[pageKey] %}
			<div class="speakers-list__item" id="person-{{ person.slug }}-id">
				{{ mixins.speaker(person, inPerson, eventsLayer, not fakeLinks, id="person", confName = confName) }}
			</div>
			{% endfor %}

			{% if pages[pageKey].pageSections.pastSpeakersMore %}
			<div class="speakers-list__item speakers-list__item_more">
				<div class="speaker__name">{{ pages[pageKey].pageSections.pastSpeakersMore.title | safe}}</div>
				<div class="speaker__company">{{ pages[pageKey].pageSections.pastSpeakersMore.desc | safe }}</div>
				{% if pages[pageKey].pageSections.pastSpeakersMore.link %}
				<a class="btn" href="{{pages[pageKey].pageSections.pastSpeakersMore.link }}">{{ pages[pageKey].pageSections.pastSpeakersMore.linkText}}</a>
				{% endif %}
			</div>
			{% endif %}

		</div>
	</div>
</section>
{% endif %}