
    {% for item in extendeds.perks %}
    <div class="perks">
      <div class="perks__inner">
      	{% if item.locationLink  %}
        <div class="perks__video-wrap">
        	<div class="perks__video">
        		<iframe width="560" height="315" src="{{ item.locationLink }}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        	</div>
        </div>
        {% else %}
        <div class="perks__img">
        	<a href="{{item.registerLink}}" target="_blank">
        		<img
              src="{{item.image.url}}"
              alt="{{item.title}}"
              onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + item.title | striptags + ';', category: 'sponsor-perk-click', isAuth: not fakeLinks }) }}
            />
        	</a>
        </div>
        {% endif %}

        <div class="perks__content">
          <div class="perks__title">{{item.title | safe}}</div>
          <div class="perks__subtitle">{{item.subtitle | safe}}</div>
          <div class="perks__description">{{item.description | safe}}</div>
          <span onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + item.title | striptags + ';', category: 'sponsor-perk-click', isAuth: not fakeLinks }) }}>
            <a
            class="perks__link"
            href="{{item.registerLink}}"
            target="_blank"
            >
              {{item.location | safe }}
            </a>
          </span>
        </div>
      </div>
    </div>
    {% endfor %}