<div class="popup-subscription js-subscription-container" id="mc_embed_signup">
  <div class="popup-subscription__close js-subscription-close"></div>
  <div class="popup-subscription__content">
    <div class="popup-subscription__title">Follow us for updates</div>
    <div class="popup-subscription__descr">Sign up to newsletter to receive conference updates & exclusive deals</div>

    <!-- Begin Mailchimp Signup Form -->
    {% if "list-manage.com" in pagesPieceOfTexts.subscriptionPopup__formAction %}
    <form action="{{ pagesPieceOfTexts.subscriptionPopup__formAction }}" class="validate js-subscription-form" method="POST" target="_blank">
    {% else %}
    <form action="{{ pagesPieceOfTexts.subscriptionPopup__formAction }}" class="validate js-subscription-form" method="GET" target="_blank">
    {% endif %}
      <div class="mc-field-group">
        {% if "list-manage.com" in pagesPieceOfTexts.subscriptionPopup__formAction %}
        <input class="popup-subscription__input  email" name="EMAIL" required="" type="email" placeholder="Email Address">
        {% else %}
        <input class="popup-subscription__input  email" name="email" required="" type="email" placeholder="Email Address">
        {% endif %}
      </div>
      <div class="mc-field-group">
        {% if "list-manage.com" in pagesPieceOfTexts.subscriptionPopup__formAction %}
        <input class="popup-subscription__input " name="MERGE1" required="" type="text" placeholder="First Name or Twitter handle">
        {% else %}
        <input class="popup-subscription__input " name="firstName" required="" type="text" placeholder="First Name or Twitter handle">
        {% endif %}
      </div>
      <div class="popup-subscription__btns clear">
        <input class="popup-subscription__submit button" name="subscribe" type="submit" value="Subscribe">
      </div>

    </form>
    <!--End mc_embed_signup-->
  </div>

  <!-- <div class="popup-subscription__content done">
    <div class="popup-subscription__title">THanks! YOU’re all set!</div>
    <div class="popup-subscription__descr">Fore more information, check <a href="https://gitnation.org/">Gitnation.org</a></div>
    <div class="popup-subscription__btns">
      <button class="popup-subscription__submit button js-subscription-close" type="clear">Cool</button>
    </div>
  </div> -->

  {#
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'MMERGE3'; ftypes[3] = 'text'; fnames[4] = 'MMERGE4'; ftypes[4] = 'text'; fnames[5] = 'MMERGE5'; ftypes[5] = 'text'; fnames[6] = 'MMERGE6'; ftypes[6] = 'text'; fnames[7] = 'MMERGE7'; ftypes[7] = 'text'; fnames[8] = 'MMERGE8'; ftypes[8] = 'text'; fnames[9] = 'MMERGE9'; ftypes[9] = 'text'; fnames[10] = 'MMERGE10'; ftypes[10] = 'text'; fnames[11] = 'MMERGE11'; ftypes[11] = 'number'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script> #}

</div>
