<div class="popup-container">
  <div class="p-promo">
    <button class="p-promo__close _popup-close" aria-label="Close">
      <svg class="icon icon-p-close">
        <use xlink:href="img/sprite.svg#icon-p-close"></use>
      </svg>
    </button>
    <div class="p-promo__content">
      <div class="promo-event">
        <div class="promo-event__text">{{customContent.eventInfo.emsEvent.name }} is over. Do not miss</div>
        <div class="promo-event__top">
          <div class="promo-event__img" id="promo__img">
            <img src="" alt="" />
          </div>
          <div class="promo-event__name" id="promo__name"></div>
          <div class="promo-event__info">
            <svg class="icon icon-p-marker">
              <use xlink:href="img/sprite.svg#icon-p-marker"></use>
            </svg>
            <div class="promo-event__info-text">
              <div><span id="promo__startDate"></span> - <span id="promo__endDate"></span></div>
              <div id="promo__location"></div>
            </div>
          </div>
        </div>
        <div class="promo-event__title" id="promo__title"></div>
        <div class="promo-event__bottom">
          <a href="#" class="p-promo__btn p-promo__btn--lg p-promo__btn--accent" id="promo__link">Learn more</a>
          <div class="promo-event__partnership">
            In partnership with <strong>Focus Reactive</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="p-promo__footer">
      <div class="p-promo__subscribe promo-subscribe">
        <div class="promo-subscribe__head">
          <div class="promo-subscribe__head-icon">
            <svg class="icon icon-p-notification">
              <use xlink:href="img/sprite.svg#icon-p-notification"></use>
            </svg>
          </div>
          <div class="promo-subscribe__head-text">
            Be the first to get conference updates, special offers and discounts from us
          </div>
        </div>
        <form action="https://gitnation.us13.list-manage.com/subscribe?u=910284f989b81c945f27311af&id=05036cab56" method="post" target="_blank" novalidate class="promo-subscribe__form" id="mc-embedded-subscribe-form">
          <div class="promo-subscribe__form-field">
            <input type="email" class="p-promo__input" placeholder="your@email.com" required name="EMAIL" id="mce-EMAIL" />
          </div>
          <button class="p-promo__btn " id="mc-embedded-subscribe" type="submit">Subscribe</button>
        </form>
      </div>
      <div class="p-promo__sponsorship promo-sponsorship">
        <div class="promo-sponsorship__head">
          <div class="promo-sponsorship__head-icon">
            <svg class="icon icon-p-stars">
              <use xlink:href="img/sprite.svg#icon-p-stars"></use>
            </svg>
          </div>
          <div class="promo-sponsorship__head-text">
            Feel like sponsoring events is a right thing?
          </div>
        </div>
        <div class="promo-sponsorship__form">
          <a href="{{conference.url}}sponsors" target="_blank" class="p-promo__btn p-promo__btn--block">Sponsorship opportunities</a>
        </div>
      </div>
    </div>
  </div>
</div>
