
{% for person in speakers[pageKey] %}
<div class="pop-speaker" id="popup-{{person.slug}}">
	<div class="pop-speaker__top">
		<div class="pop-speaker__avatar-wrap">
			<img class="pop-speaker__avatar" src="{{ person.avatar }}" alt="{{ person.name }}">
		</div>
		<div class="pop-speaker__desc">
			<h4 class="pop-speaker__name">{{ person.name }}</h4>
			<p class="pop-speaker__company">{{ person.company }}</p>
			<div class="pop-speaker__bio">{{ person.bio | safe }}</div>
		</div>

		<div class="pop-speaker__socials">
			<a class="btn btn--border-transparent" href="{{ social.link }}">
				JOIN SPEAKER'S VIDEO ROOM
			</a>
			{% for social in person.socials %}

				{% if social.icon == 'tw' %}
					<a class="btn btn--border-transparent" href="{{ social.link }}">
						{{mixins.icon(social.icon)}} Twitter
					</a>
				{% endif %}

				{% if social.icon == 'gh' %}
					<a class="btn btn--border-transparent" href="{{ social.link }}">
						{{mixins.icon(social.icon)}} Github
					</a>
				{% endif %}

				{% if social.icon == 'med' %}
					<a class="btn btn--border-transparent" href="{{ social.link }}">
						{{mixins.icon(social.icon)}} Medium
					</a>
				{% endif %}

				{% if social.icon == 'site' %}
					<a class="btn btn--border-transparent" href="{{ social.link }}">
						{{mixins.icon(social.icon)}} Site
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	{% if person.activities.talks %}
	<div class="pop-speaker__mid">
		{% for talk in person.activities.talks %}
			<div class="pop-speaker__activity-info">
				<span>"TECH TITLE AND COLOR"</span>
				<span>{{ talk.track.name }}</span>
				<span>{{ talk.timeString }}</span>
			</div>
			<h4 class="pop-speaker__activity-title">{{ talk.title }}</h4>
			<div class="pop-speaker__activity-desc">{{ talk.description | safe }}</div>

			<div title="Add Talk to Calendar" class="pop-speaker__btn btn btn--border-transparent">
				Add Talk to Calendar
				<!-- <span class="start">06/29/2020 08:00 AM</span>
				<span class="end">06/29/2020 10:00 AM</span>
				<span class="timezone">America/Los_Angeles</span>
				<span class="title">Summary of the event</span>
				<span class="description">Description of the event</span>
				<span class="location">Location of the event</span> -->
			</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endfor %}