<section class="section articles">
  <div class="container">
    {% if preEvent__title %}
    <div class="articles__title">{{ mixins.text(pieceOfTexts, 'preEvent__title') }}</div>
    {% endif %}
    {% if preEvent__desc %}
    <div class="articles__subtitle">{{ mixins.text(pieceOfTexts, 'preEvent__desc') }}</div>
    {% endif %}
  </div>
  <div class="articles__content">
    {% for item in extendeds.preEvent %}
    <div class="article graphcms-container" {{ mixins.cmsData(item) }}>
      <div class="article__inner">
        <div class="article__img">
          <a href="{{item.registerLink}}">
            <img src="{{mixins.imageUrl(item.image.url, "resize=fit:crop,height:500/output=format:jpg")}}" alt="{{item.title}}" />
          </a>
        </div>
        <div class="article__content">
          <div class="article__title">{{item.title | safe}}</div>
          <div class="article__description">{{item.description | safe}}</div>

          <div class="article__btns">
            <a href="{{item.registerLink}}" target="_blank" class="article__link">learn more</a>
            {% if item.locationLink %}
              <a href="{{item.locationLink}}" target="_blank" class="article__link">location</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
