<section class="section articles">
  <div class="container">
    <div class="articles__title">{{ mixins.text(pieceOfTexts, 'preEvent__title') }}</div>
    <div class="articles__subtitle">{{ mixins.text(pieceOfTexts, 'preEvent__desc') }}</div>
  </div>
  <div class="articles__content">
    {% for item in pages[pageKey].pageSections.preEvent %}
    <div class="article graphcms-container" {{ mixins.cmsData(item) }}>
      <div class="article__inner">
        <div class="article__img"><a href="{{item.link}}"><img src="{{item.image}}" alt="{{item.title}}" /></a></div>
        <div class="article__content">
          <div class="article__title">{{item.title}}</div>
          <div class="article__description">{{item.description | safe}}</div>
          <a href="{{item.link}}" class="article__link">learn more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
