<div class="price-increase hide js-local-block" data-local-name="priceIncreaseBanner">
  <div class="container">
    <div class="price-increase__wrap">
      <div id="price-increase-countdown" class="price-increase__items" data-is-in-person="{{inPerson}}"></div>
      <div class="price-increase__title">Price increase!
        Save €160 when you register by 24th July</div>
      <div class="price-increase__button">
        <a href="#" class="btn">Order now</a>
      </div>
    </div>
  </div>
  <button aria-label="close" class="price-increase__close js-local-close">
    <span></span>
    <span></span>
  </button>
</div>
