<section class="s-prices" id="tickets">
	<div class="container">

		{% if (pageKey == "main" and pagesPieceOfTexts.prices__title) %}
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'prices__title') }}</h3>
		{% endif %}

		<div class="prices">
			{% if pieceOfTexts.prices__tip %}
			<div class="prices__bottom" id="price-countdown">
				{{ mixins.text(pieceOfTexts, 'prices__tip') }}
			</div>
			{% endif %}
			<div class="prices__list" id="js-prices-scroll">
				<div class="prices__glow" id="js-prices-glow"></div>

				{% for price in extendeds.prices %}
				<div class="prices__item">
					<h4 class="prices__title">{{ price.title | safe }}</h4>
					<div class="prices__price">{{ price.subtitle | safe }}</div>
					{% if price.description %}
						<div class="prices__price-tip">{{ price.description | safe }}</div>
					{% endif %}
					<div class="prices__desc">{{ price.location | safe }}</div>
					<a
            href="{{ testTicketLink or price.registerLink }}" class="prices__btn btn {{ price.slackChannelName }}" target="_blank"
            onclick={{ ga_mixins.sendGAEvent({ values: price.title | striptags + ';', category: 'ticket-compare-cta', isAuth: not fakeLinks }) }}
          >Order now</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
