<section class="section s-prices {{animationOnScroll}} tickets-is-hidden" id="tickets" data-suptitle="tickets">

  <div class="container">
    {% if pages[pageKey].pageSections.beginCheckout %}
    {% include "partials/_begin-checkout.html" %}
    {% endif %}


    {% if pagesPieceOfTexts.prices__title %}
    <h2 class="section__title" data-title="{{pagesPieceOfTexts.prices__title}}">{{ pagesPieceOfTexts.prices__title | safe }}</h2>
    {% endif %}

    <div class="prices">
      {% if extendeds.prices %}
      <div class="prices__head">

        <div class="prices__sort">
          {% for companyName, price in extendeds.prices | groupby("companyName") %}
          {% if companyName !== 'null' and companyName !== "" %}
          <button class="js-prices-sort-btn prices__sort-btn {{'is-active' if loop.first}}" data-prices-filter-btn="{{ companyName }}">
            {{ companyName }}
          </button>
          {% endif %}
          {% endfor %}
        </div>


        {% if pages[pageKey].pageSections.pricesIncreaseDate %}
        <div class="prices__countdown p-countdown">
          <div class="p-countdown__title">{{ mixins.text(pieceOfTexts, 'prices__tip') }}</div>
          <div id="price-countdown" class="p-countdown__items" data-is-in-person="{{inPerson}}"></div>
        </div>

        {% endif %}
      </div>

      <div class="prices-swiper">
        <div class="prices-swiper__prev">{{mixins.icon('arrow2-l')}}</div>
        <div class="prices-swiper__next">{{mixins.icon('arrow2-r')}}</div>
        <div class="prices__list swiper-container ">
          <div class="swiper-wrapper">

            {% for price in extendeds.prices %}
            {% if loop.first %}
            {% set filterName = price.companyName %}
            {% endif %}

            <div class="prices-item swiper-slide {{'hidden' if (price.companyName !== filterName  and price.companyName !== null )}}" data-prices-filter="{{price.companyName}}">

              <div class="prices-item__top">
                <h3 class="prices-item__title">{{ price.title | safe }}</h4>
              </div>
              <div class="prices-item__price">
                <div class="prices-item__price-value">{{ price.subtitle | safe }}</div>
                {% if price.description %}
                <div class="prices-item__price-tip">{{ price.description | safe }}</div>
                {% endif %}
              </div>

              <div class="prices-item__content js-prices-content">

                {{ price.location | safe }}
                <button class="prices-item__toggle js-prices-toggle">
                  <span>Show all features</span>

                </button>

              </div>
              <div class="prices-item__cover js-prices-description">
                <button class="prices-item__close js-prices-toggle">
                  {{mixins.icon('p-close')}}
                </button>
                <div class="prices-item__content prices-item__content--full ">
                  {{ price.location | safe }}
                </div>
              </div>
              <div class="prices-item__bottom">
                <a
                  href="{{ testTicketLink or price.registerLink }}" target="_blank" class="prices-item__btn btn {{ price.slackChannelName }}" target="_blank"
                  onclick={{ ga_mixins.sendGAEvent({ values: price.title | striptags + ';' , category: 'ticket-compare-cta' , isAuth: not fakeLinks }) }}>{{ price.locationLink if price.locationLink else 'Order now' }}</a>
              </div>

            </div>

            {% endfor %}

          </div>
        </div>
        <div class="prices-swiper__pagination"></div>
      </div>
      {% endif %}
    </div>

    {% if pages[pageKey].pageSections.ticketsForm %}
    {% include 'partials/_tickets-form.html' %}
    {% endif %}
  </div>
</section>
