<section class="section s-prices {{animationOnScroll}}" id="tickets">
  <div class="container">

    {% if (pageKey == "main" and pagesPieceOfTexts.prices__title) %}
    <h3 role="heading" class="section__title" data-title="{{pagesPieceOfTexts.prices__title}}">{{ mixins.text(pieceOfTexts, 'prices__title') }}</h3>
    {% endif %}

    <div class="prices">
      {% if pieceOfTexts.prices__tip %}
      <div class="prices__bottom" id="price-countdown">
        {{ mixins.text(pieceOfTexts, 'prices__tip') }}
      </div>
      {% endif %}
      <div class="prices__list swiper-container scroll-slider">
        <div class="swiper-wrapper">
          {% for price in extendeds.prices %}
          <div class="swiper-slide">
            <div class="prices__item">
              <h4 role="heading" aria-level="4" class="prices__title">{{ price.title | safe }}</h4>
              <div class="prices__price">{{ price.subtitle | safe }}</div>
              {% if price.description %}
              <div class="prices__price-tip">{{ price.description | safe }}</div>
              {% endif %}
              <div class="prices__desc">{{ price.location | safe }}</div>
              <a
                href="{{ testTicketLink or price.registerLink }}" class="prices__btn btn {{ price.slackChannelName }}"
                onclick={{ ga_mixins.sendGAEvent({ values: price.title | striptags + ';' , category: 'ticket-compare-cta' , isAuth: not fakeLinks }) }}>{{price.locationLink if price.locationLink else 'Order now'}}</a>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>

      <div class="prices__prev scroll-slider-prev">{{mixins.icon('arrow2-l')}}</div>
      <div class="prices__next scroll-slider-next">{{mixins.icon('arrow2-r')}}</div>
      <div class="prices__scrollbar scroll-slider-scrollbar"></div>
    </div>
  </div>
</section>
