<section class="s-prices">
	<div class="container">
		<div class="prices">
			<ul class="prices__list">
				<li class="prices__item">
					<h4 class="prices__title">Free registration</h4>
					<div class="prices__price text">Free</div>
					<div class="prices__desc">Watch only access for Base Camp track</div>
					<a href="{{ pagesPieceOfTexts.prices__freeRegLink }}" class="prices__btn btn btn--border">Registration</a>
				</li>

				<li class="prices__item">
					<h4 class="prices__title">Summit ticket</h4>
					<div class="prices__price"><span class="euro">&euro;</span>50</div>
					<div class="prices__price-tip">Free with <a href="https://ti.to/gitnation/conference-multipass" target="_blank">GitNation multipass</a></div>
					<div class="prices__desc">Watch only access for Base Camp<br> and Summit tracks (HD)</div>
					<a href="{{ pagesPieceOfTexts.prices__confTicketLink }}" class="prices__btn btn" target="_blank">Order now</a>
				</li>

				<li class="prices__item">
					<h4 class="prices__title">Full ticket</h4>
					<div class="prices__price"><span class="euro">&euro;</span>150</div>
					<div class="prices__desc">
						<p>HD quality for Base camp and Summit tracks</p>
						<p>GMA with speakers</p>
						<p>Advice lounges</p>
						<p>Interactive sessions with speakers</p>
						<p>Technology discussion rooms</p>
						<p>Watching party</p>
						<p>AfterParty Zoom Bars</p>
					</div>
					<a href="{{ pagesPieceOfTexts.prices__fullTicketLink }}" class="prices__btn btn" target="_blank">Order now</a>
				</li>

				<li class="prices__item">
					<h4 class="prices__title">GitNation multipass</h4>
					<div class="prices__price"><span class="euro">&euro;</span>139</div>
					<div class="prices__desc">
						<p>Summit ticket benefits</p>
						<p>+access to 5 more top conferences:<br> GraphQL,<br>Machine Learning, <br>NodeJS, QA, <br>DevOpsJS</p>
					</div>
					<a href="https://gitnation.org/conference-multipass" target="_blank" class="prices__btn btn btn--transparent">More info</a>
				</li>
			</ul>

			<div class="prices__bottom">Current prices are Early Bird. The price increase coming soon</div>
		</div>
	</div>
</section>