<section class="section s-recommendations bg-black" id="cta">
  <div class="container">
    <div class="recommendations">
    <div class="swiper recommendations-slider fade-slider">
      <div class="swiper-wrapper">
        {% for recommendation in extendeds.recommendation %}
        <div class="swiper-slide">
          <div class="recommendations-slider__desc">{{ recommendation.title | safe  }}</div>
          <div class="recommendations-slider__author">
            <div class="recommendations-slider__photo">
              <picture>
                <source srcset="{{mixins.imageUrl(recommendation.image.handle, "resize=fit:crop,height:200,width:200/output=format:webp", recommendation.image.mimeType)}}" type="image/webp">
                <img src="{{mixins.imageUrl(recommendation.image.handle, "resize=fit:crop,height:200,width:200/output=format:png", recommendation.image.mimeType)}}"
                  alt="{{recommendation.alt}}">
              </picture>
            </div>
            <div class="recommendations-slider__info">
              <div class="recommendations-slider__name">{{ recommendation.subtitle | safe  }}</div>
              <div class="recommendations-slider__job">{{ recommendation.description | safe  }}</div></div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
    </div>
  </div>
</section>
