<section class="section schedule" id="schedule">
	{% if(schedule.length == 1) %}
		<div class="container talks-list">
			<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'schedule__title') }}</h3>
			{% for talk in schedule[0].list %}
			<div class="schedule__item">
				<div class="s-item" id="talk-{{talk.slug}}">
					<div class="s-item__row">
						<div class="s-item__col">
							{% if talk.speaker %}
								<div class="s-item__title">
									<a class="anchor-item" href="#person-{{ talk.speakerSlug }}">{{talk.speaker}}</a>
								</div>
							{% else %}
								<div class="s-item__title">
									<a class="anchor-item">{{talk.title}}</a>
								</div>
							{% endif %}

							{% if talk.from %}
								<div class="s-item__company">{{talk.from}}</div>
							{% endif %}
						</div>
						<div class="s-item__col {{talk.lastColMod}}">
							{% if talk.speaker %}
								{% if talk.title %}
									<div class="s-item__title">{{talk.title}}</div>
								{% endif %}
								{% if talk.text %}
									<div class="s-item__text">{{talk.text | safe}}</div>
								{% endif %}
							{% else %}
								{% if talk.text %}
									<div class="s-item__text">{{talk.text | safe}}</div>
								{% endif %}
								{% if talk.lightningTalks %}
									{% for item in talk.lightningTalks %}
										<div class="s-item__title s-item__title_sm">{{ item.title }} - {{ item.name }}</div>
										<div class="s-item__text">{{ item.text | safe }}</div>
									{% endfor %}
								{% endif %}
							{% endif %}
						</div>
					</div>
					{% if talk.stories %}
						{% for story in talk.stories %}
							<div class="s-item__row">
								<div class="s-item__col"></div>
								<div class="s-item__col">
									<div class="s-item__author-sm">{{story.author}}</div>
								</div>
								<div class="s-item__col">
									<div class="s-item__text">{{story.text}}</div>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	{% else %}
  {# {% if(schedule.length == 1) %} #}
	<div class="container">
		{% if scheduleSecondDate %}
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'schedule__altTitle') }}</h3>
		{% else %}
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'schedule__title') }}</h3>
		{% endif %}
	</div>
	<div class="container">
		{% if filterByDate %}
		<div class="schedule__content js-tabs-container">
			<div class="schedule__tab-links">
				{% for item in schedule %}
					<div class="schedule__tab-link js-tab-link {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">{{item.title}}</div>
				{% endfor %}
			</div>
			{% if(pieceOfTexts.schedule__tip) %}
				<div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tip') }}</div>
			{% endif %}
			<div class="schedule__tabs">
				{% for item in schedule %}
					<div class="schedule__tab js-tab {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">
						{% for talk in item.list %}
							{% if filterByDate === talk.isoDate %}
								{{mixins.scheduleItem(talk, name, isAuth, eventsLayer)}}
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
		{% else %}
		<div class="schedule__content js-tabs-container">
			<div class="schedule__tab-links">
				{% for item in schedule %}
					<div class="schedule__tab-link js-tab-link {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">{{item.title}}</div>
				{% endfor %}
			</div>
			<div class="schedule__tabs">
				{% for item in schedule %}
					<div class="schedule__tab js-tab {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">
						{% for talk in item.list %}
							{{mixins.scheduleItem(talk, name, isAuth, eventsLayer)}}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}

	</div>
	{% endif %}
</section>
