
<section class="section schedule" id="{{'schedule' if not scheduleSecondDate else 'schedule2'}}">
	<div class="container section__title-wrap">
		{% if scheduleThirdDate %}
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'schedule__thirdTitle') }}</h3>
		{% elif scheduleSecondDate %}
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'schedule__altTitle') }}</h3>
		{% else %}
		<h3 class="section__title">{{ mixins.text(pieceOfTexts, 'schedule__title') }}</h3>
		{% if pagesPieceOfTexts.schedule__subtitle %}
		<h4 class="section__subtitle">{{ mixins.text(pieceOfTexts, 'schedule__subtitle') }}</h4>
		{% endif %}
		{% endif %}

		{% if pages[pageKey].pageSections.remoteSwitch %}
		{% include "partials/_remote-switch.html" %}
		{% endif %}
	</div>
	{% if(schedule.length == 1) %}
		<div class="container">
			{% if (pieceOfTexts.schedule__tip and not timeZone) %}
			<div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tip') }}</div>
			{% elif (pieceOfTexts.schedule__tipLocal) %}
			<div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipLocal') }}</div>
			{% endif %}

			{% for item in (scheduleOffline if inPerson else schedule) %}
				<div class="schedule__list">
					{% for talk in item.list %}
						{% if filterByDate %}
							{% if filterByDate === talk.dayISO %}
								{{mixins.scheduleItem(talk, name, isAuth, eventsLayer, timeZone)}}
							{% endif %}
						{% else %}
							{{mixins.scheduleItem(talk, name, isAuth, eventsLayer, timeZone)}}
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	{% elif(visibleTabs) %}
		
		<div class="container">
			<div class="schedule__content js-tabs-container">
				<div class="schedule__tab-links">
					{% for item in (scheduleOffline if inPerson else schedule) %}
						{% if(loop.index in visibleTabs) %}
							<a href="#schedule_tab_{{loop.index}}" class="schedule__tab-link js-tab-link {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">{{item.title}}</a>
						{% endif %}
					{% endfor %}
				</div>

				{% if (pieceOfTexts.schedule__tip and not timeZone) %}
					<div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tip') }}</div>
				{% elif (pieceOfTexts.schedule__tipLocal) %}
					<div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipLocal') }}</div>
				{% endif %}

				<div class="schedule__tabs">
					{% for item in (scheduleOffline if inPerson else schedule) %}
						{% if(loop.index in visibleTabs) %}
							<div class="schedule__tab js-tab {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">
								{% for talk in item.list %}
									{% if filterByDate %}
										{% if filterByDate === talk.dayISO %}
											{{mixins.scheduleItem(talk, name, isAuth, eventsLayer, timeZone)}}
										{% endif %}
									{% else %}
										{{mixins.scheduleItem(talk, name, isAuth, eventsLayer, timeZone)}}
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% else %}

		<div class="container">
			<div class="schedule__content js-tabs-container">
				<div class="schedule__tab-links">
					{% for item in (scheduleOffline if inPerson else schedule) %}
					<a href="#schedule_tab_{{loop.index}}" class="schedule__tab-link js-tab-link {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">{{item.title}}</a>
					{% endfor %}
				</div>

				{% if (pieceOfTexts.schedule__tip and not timeZone) %}
				<div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tip') }}</div>
				{% elif (pieceOfTexts.schedule__tipLocal) %}
				<div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipLocal') }}</div>
				{% endif %}

				<div class="schedule__tabs">
					{% for item in (scheduleOffline if inPerson else schedule) %}
					<div class="schedule__tab js-tab {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">
						{% for talk in item.list %}
						{% if filterByDate %}
						{% if filterByDate === talk.dayISO %}
						{{mixins.scheduleItem(talk, name, isAuth, eventsLayer, timeZone)}}
						{% endif %}
						{% else %}
						{{mixins.scheduleItem(talk, name, isAuth, eventsLayer, timeZone)}}
						{% endif %}
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
</section>