<div class="section shedule-v3" style="--bgColor: {{ emsBrand.backgroundCSS }}; --textColor: {{ emsBrand.textColor }}; --accentColor: {{ emsBrand.accentCSS }}">
  <div class="container">
    <!-- begin Switch -->
    {% if pages[pageKey].pageSections.remoteSwitch %}
    {% include "partials/_remote-switch.html" %}
    {% endif %}
    <!-- end Switch -->

    {% if pieceOfTexts.schedule__switchDescription %}
    <div class="sv-switch-description">
      {{ mixins.text(pieceOfTexts, 'schedule__switchDescription') }}
    </div>
    {% endif %}

    <div class="sv-wrapper js-tabs-container">
      <!-- begin Tabs -->
      <div class="sv-tabs">
        <button data-href="#day" class="sv-tabs__item js-tab-link " data-tab="0">
          <span class="sv-tabs__date">{{ mixins.text(pieceOfTexts, 'schedule__title') }}</span>
        </button>

        {% if filterByDate_2 %}
        <button data-href="#day2" class="sv-tabs__item js-tab-link" data-tab="1">
          <span class="sv-tabs__date">{{ mixins.text(pieceOfTexts, 'schedule__altTitle') }}</span>
        </button>
        {% endif %}
      </div>
      <!-- end Tabs -->

      <div class="sv2-filter">
        {% for date in (emsScheduleOffline if inPerson else emsSchedule) %}
          {% if filterByDate_1 === date.day %}

            {% for track in date.list %}
              {% if track.track !== 'Discussion Rooms' %}
                <a href="#track-{{loop.index}}" class="sv2-filter__item js-scroll-link">{{track.track}}</a>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>

      <!-- Begin scheduleFirstDate -->
      <div class="sv-body  js-tab" data-tab="0">
        <!-- begin Tip -->
        {% if not inPerson %}
        {% if (pieceOfTexts.schedule__tip and not timeZone) %}
        <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tip') }}</div>
        {% elif (pieceOfTexts.schedule__tipLocal) %}
        <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipLocal') }}</div>
        {% endif %}
        {% else %}
        <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipInPerson') }}</div>
        {% endif %}
        <!-- End Tip -->

        <div class="sv2-wrapper">
          {% for date in (emsScheduleOffline if inPerson else emsSchedule) %}
              {% if filterByDate_1 === date.day %}
              <div class="sv2-wrapper__left">
                {% for track in date.list %}
                  {% if track.track !== 'Discussion Rooms' %}
                    <div class="sv2-track" id="track-{{loop.index}}">
                      <h2 class="sv2-track__title">{{track.track}}</h2>
                      <ul class="sv2-list sv2-list--striped">
                        {% for timezone in track.list %}
                          {% for talk in timezone.list %}
                            {{mixins.scheduleItemShort(talk, name, isAuth, eventsLayer, timeZone)}}
                          {% endfor %}
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>

              {% for track in date.list %}
                {% if track.track == 'Discussion Rooms' %}
                  <div class="sv2-wrapper__right">

                    <h2 class="sv2-alttitle">{{track.track}}</h2>
                    <ul class="sv2-list">

                      {% for timezone in track.list %}
                        {% for talk in timezone.list %}
                          {{mixins.scheduleItemShort(talk, name, isAuth, eventsLayer, timeZone)}}
                        {% endfor %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- End scheduleFirstDate -->

      <!-- Begin scheduleSecondDate -->
      {% if filterByDate_2 %}
      <div class="sv-body  js-tab" data-tab="1">
        <!-- begin Tip -->
        {% if not inPerson %}
        {% if (pieceOfTexts.schedule__tip and not timeZone) %}
        <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tip') }}</div>
        {% elif (pieceOfTexts.schedule__tipLocal) %}
        <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipLocal') }}</div>
        {% endif %}
        {% else %}
        <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipInPerson') }}</div>
        {% endif %}
        <!-- End Tip -->

      </div>
      {% endif %}
      <!-- End scheduleSecondDate -->

    </div>
  </div>
</div>
