{% set emsObj = emsScheduleOffline if inPerson else emsSchedule %}
<!-- {% set smsObj = newScheduleOffline if inPerson else newSchedule %} -->

<div class="section shedule-v2" style="--bgColor: {{ emsBrand.backgroundCSS }}; --textColor: {{ emsBrand.textColor }}; --accentColor: {{ emsBrand.accentCSS }}">
  <div class="container">


    <!-- begin Switch -->
    {% if pages[pageKey].pageSections.remoteSwitch %}
    {% include "partials/_remote-switch.html" %}
    {% endif %}
    <!-- end Switch -->

    <h1 role="heading" aria-level="1" class="sv-title">{{ pages[pageKey].titlePage }}</h1>

    {% if pieceOfTexts.schedule__switchDescription %}
    <div class="sv-switch-description">
      {{ mixins.text(pieceOfTexts, 'schedule__switchDescription') }}
    </div>
    {% endif %}

    <div class="sv-wrapper js-tabs-container {{'short-v' if pages[pageKey].pageStatistics.scheduleShort}}">
      <!-- begin Tabs -->
      <div class="sv-tabs">
        {% for date in emsObj %}
        <button data-href="#day{{loop.index}}" class="sv-tabs__item js-tab-link " data-tab="{{loop.index}}">
          <span class="sv-tabs__date">
            {% if (pagesPieceOfTexts.schedule__titleInPerson or pagesPieceOfTexts.schedule__altTitleInPerson) and inPerson %}

            {% if loop.index == 1 %}
            {{ pagesPieceOfTexts.schedule__titleInPerson }}
            {% else %}
            {{ pagesPieceOfTexts.schedule__altTitleInPerson }}
            {% endif %}

            {% else %}

            {% if loop.index == 1 %}
            {{ pagesPieceOfTexts.schedule__title }}
            {% else %}
            {{ pagesPieceOfTexts.schedule__altTitle }}
            {% endif %}

            {% endif %}
          </span>
        </button>
        {% endfor %}
        <div class="sv-tabs__filter">
          <button class="sv-tabs__btn {{'is-active' if not pages[pageKey].pageStatistics.scheduleShort}} js-sv-filter">
            {{ mixins.icon('sv-list') }}
            <span>Full list</span>
          </button>

          <button class="sv-tabs__btn {{'is-active' if pages[pageKey].pageStatistics.scheduleShort}} js-sv-filter" id="sv-filter-short">
            {{ mixins.icon('sv-grid') }}
            <span>Short list</span>
          </button>
        </div>

      </div>
      <!-- end Tabs -->
      {% for date in emsObj %}
      <!-- Begin scheduleFirstDate -->
      <div class="sv-body  js-tab" data-tab="{{loop.index}}">
        <!-- begin Tip -->
        {% if not inPerson %}
        {% if (pieceOfTexts.schedule__tip and not timeZone) %}
        <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tip') }}</div>
        {% elif (pieceOfTexts.schedule__tipLocal) %}
        <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipLocal') }}</div>
        {% endif %}
        {% else %}
        <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipInPerson') }}</div>
        {% endif %}
        <!-- End Tip -->

        <div class="sv-body__swiper sv-body__swiper--loading swiper-container schedule-swiper{{'1' if loop.index == 2}}">
          {% for tabs in date.list %}
          {% if loop.first %}
          <div class="sv-time-zone">
            {% for tabsItem in tabs.list %}

            <div class="sv-time-zone__item" data-sv-row="{{tabsItem.id}}">
              <div class="sv-time-zone__badge"><span {{ 'data-time-zone=' + timeZone if timeZone }}>{{tabsItem.start}}</span></div>
            </div>

            {% endfor %}
          </div>
          {% endif %}
          {% endfor %}


          <div class="swiper-wrapper swiper-wrapper--{{date.list.length}}">
            {% for tabs in date.list %}
            {% set loopParent = loop.index %}

            <div class="swiper-slide {{'_hidden' if 'QnA' in tabs.track}}">
              <div class="sv-nav">
                <div class="sv-nav__item js-navigation-item">{{tabs.track}}</div>
              </div>
              {% for tabsItem in tabs.list %}

              <div class="sv-time {{'sv-time--null' if tabsItem.list === null}} sv-time--col-{{loopParent}}" data-sv-row="{{tabsItem.id}}">

                {% if tabsItem.list === null %}
                <div class="sv-item sv-item--null"></div>
                {% else %}
                {% for talk in tabsItem.list %}

                {{mixins.scheduleItemEmsV2(talk, name, isAuth, eventsLayer, timeZone)}}

                {% endfor %}
                {% endif %}
              </div>

              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- End scheduleFirstDate -->
      {% endfor %}

    </div>
  </div>
</div>
