{% set emsObj = emsScheduleOffline if inPerson else emsSchedule %}
{% set smsObj = newScheduleOffline if inPerson else newSchedule %}

<div class="section shedule-v3">
   <div class="container">
      <!-- begin Switch -->
      {% if pages[pageKey].pageSections.remoteSwitch %}
      {% include "partials/_remote-switch.html" %}
      {% endif %}
      <!-- end Switch -->

      {% if pieceOfTexts.schedule__switchDescription %}
      <div class="sv-switch-descriptionV3">
         {{ mixins.text(pieceOfTexts, 'schedule__switchDescription') }}
      </div>
      {% endif %}

      <div class="js-tabs-container">
         <!-- begin Tabs -->
         <div class="sv-tabsV3">
            <a href="#day" class="sv-tabsV3__item js-tab-link " data-tab="0">
               <span class="sv-tabsV3__date">{{ pagesPieceOfTexts.schedule__title | safe }}</span>
            </a>

            {% if filterByDate_2 %}
            <a href="#day2" class="sv-tabsV3__item js-tab-link" data-tab="1">
               <span class="sv-tabsV3__date">{{ pagesPieceOfTexts.schedule__altTitle | safe}}</span>
            </a>
            {% endif %}
            {% if filterByDate_3 %}
            <a href="#day3" class="sv-tabsV3__item js-tab-link" data-tab="2">
               <span class="sv-tabsV3__date">{{ pagesPieceOfTexts.schedule__thirdTitle | safe }}</span>
            </a>
            {% endif %}
         </div>
         <!-- end Tabs -->

         <!-- Begin scheduleFirstDate -->
         {% set dateIndex = 1 %}
         <div class="sv-bodyV3  js-tab" data-tab="0">

            <!-- begin Tip -->
            {% if not inPerson %}
            {% if (pieceOfTexts.schedule__tip and not timeZone) %}
            <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tip') }}</div>
            {% elif (pieceOfTexts.schedule__tipLocal) %}
            <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipLocal') }}</div>
            {% endif %}
            {% else %}
            <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipInPerson') }}</div>
            {% endif %}
            <!-- End Tip -->

            <div class="sv-bodyV3__swiper sv-bodyV3__swiper--loading schedule-swiperV3 swiper-container">
               <div class="sv-navV3">
                  {% for date in (emsObj if emsScheduleObj else smsObj) %}
                  {% if filterByDate_1 === date.day %}
                  {% for tabs in date.list %}
                  <div class="sv-navV3__item" data-sv-trackv3="sv-trackv3-col-{{dateIndex}}-{{loop.index}}"><span>{{tabs.track}}</span></div>
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
               </div>

               <div class="swiper-wrapper">
                  {% for date in (emsObj if emsScheduleObj else smsObj) %}

                  {% if filterByDate_1 === date.day %}
                  <div class="swiper-slide">
                     {% for tabs in date.list %}

                     <div class="sv-trackV3" data-sv-trackv3="sv-trackv3-col-{{dateIndex}}-{{loop.index}}">
                        {% for tabsItem in tabs.list %}
                        <div class="sv-timeV3 {{'sv-timeV3--null' if tabsItem.list === null}}" data-sv-rowv3="{{tabsItem.id}}">
                           <div class="sv-timeV3__zone-wrap swiper-no-swiping" data-text-no-swiping="true">
                              <div class="sv-timeV3__zone"><span class="js-time-zone" {{ 'data-time-zone=' + timeZone if timeZone }}>{{tabsItem.start}}</span></div>
                           </div>
                           {% for talk in tabsItem.list %}
                           {% if emsObj %}
                           {{mixins.scheduleItemEmsV3(talk, name, isAuth, eventsLayer, timeZone)}}
                           {% else %}
                           {{mixins.scheduleItemCmsV2(talk, name, isAuth, eventsLayer, timeZone)}}
                           {% endif %}
                           {% endfor %}
                           
                        </div>
                        {% endfor %}
                     </div>


                     {% endfor %}
                  </div>
                  {% endif %}

                  {% endfor %}
               </div>
               <div class="swiper-scrollbar"></div>
            </div>
         </div>
         <!-- End scheduleFirstDate -->

         <!-- Begin scheduleSecondDate -->
         {% if filterByDate_2 %}
         {% set dateIndex = 2 %}
         <div class="sv-bodyV3 sv-bodyV3--loading js-tab" data-tab="1">
            <!-- begin Tip -->
            {% if not inPerson %}
            {% if (pieceOfTexts.schedule__tip and not timeZone) %}
            <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tip') }}</div>
            {% elif (pieceOfTexts.schedule__tipLocal) %}
            <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipLocal') }}</div>
            {% endif %}
            {% else %}
            <div class="schedule__tip">{{ mixins.text(pieceOfTexts, 'schedule__tipInPerson') }}</div>
            {% endif %}
            <!-- End Tip -->


            <div class="sv-bodyV3__swiper sv-bodyV3__swiper--loading schedule-swiper2V3 swiper-container">
               
               <div class="sv-navV3">
                  {% for date in (emsObj if emsScheduleObj else smsObj) %}
                     {% if filterByDate_2 === date.day %}
                        {% for tabs in date.list %}
                           <div class="sv-navV3__item" data-sv-trackv3="sv-trackv3-col-{{dateIndex}}-{{loop.index}}"><span>{{tabs.track}}</span></div>
                        {% endfor %}
                     {% endif %}
                  {% endfor %}
               </div>
               <div class="swiper-wrapper">
                  {% for date in (emsObj if emsScheduleObj else smsObj) %}

                  {% if filterByDate_2 === date.day %}

                  <div class="swiper-slide">
                     {% for tabs in date.list %}
                    
                     <div class="sv-trackV3" data-sv-trackv3="sv-trackv3-col-{{dateIndex}}-{{loop.index}}">
                        {% for tabsItem in tabs.list %}
                        <div class="sv-timeV3 {{'sv-timeV3--null' if tabsItem.list === null}}" data-sv-rowv3="{{tabsItem.id}}">
                           <div class="sv-timeV3__zone-wrap swiper-no-swiping" data-text-no-swiping="true">
                              <div class="sv-timeV3__zone"><span class="js-time-zone" {{ 'data-time-zone=' + timeZone if timeZone }}>{{tabsItem.start}}</span></div>
                           </div>
                           {% for talk in tabsItem.list %}
                           {% if emsObj %}
                           {{mixins.scheduleItemEmsV3(talk, name, isAuth, eventsLayer, timeZone)}}
                           {% else %}
                           {{mixins.scheduleItemCmsV2(talk, name, isAuth, eventsLayer, timeZone)}}
                           {% endif %}
                           {% endfor %}
                          
                        </div>
                        {% endfor %}
                     </div>
                     {% endfor %}
                  </div>

                  {% endif %}

                  {% endfor %}
               </div>
               <div class="swiper-scrollbar"></div>
            </div>

         </div>
         {% endif %}
         <!-- End scheduleSecondDate -->

      </div>
   </div>
</div>