.shedule-v3
  background: var(--bgColor)
  overflow: clip
  color: #fff
  padding-bottom: 80px
  .sv-wrapper:after
    display: none !important

  .container
    max-width: 1560px
    padding: 0 20px
    +tablet
      padding: 0 20px
  .remote-switch
    margin: 0 auto 10px

  .schedule__tip
    margin-top: 0 !important
    margin-bottom: 15px !important
    padding: 0

    font-size: 14px

    +tablet
      font-size: 12px
    +sm
      padding: 0 20px

  .js-tabs-container
    position: relative
    +sm
      margin-left: -20px
      margin-right: -20px


.sv2-filter
  display: flex
  overflow: hidden
  overflow-x: auto
  padding-bottom: 5px
  padding: 20px 0 25px
  gap: 6px
  position: sticky
  top: $posTop + 60px
  background: var(--bgColor)
  z-index: 2

  +md
    top: 49px
    padding-top: 12px
    padding-bottom: 12px
  +sm
    top: 39px
    padding-left: 10px
    padding-right: 10px
  &__item
    flex: none
    white-space: nowrap
    font-size: 12px
    padding: 0 14px
    line-height: 24px
    color: #fff
    border-radius: 100px
    text-decoration: none
    background: rgba($scheduleOutline, 0.2)
    &:hover
      background: rgba($scheduleOutline, 0.5)
.sv2-wrapper
  display: flex
  align-items: flex-start
  gap: clamp(20px, 2vw, 50px)
  +sm
    padding-left: 20px
    padding-right: 20px
    flex-direction: column
  &__left
    flex: 1 1 auto
    min-width: 1px
    display: flex
    flex-direction: column
    gap: 70px
    +sm
      flex: none
      width: 100%
      gap: 40px
  &__right
    flex: none
    width: clamp(280px, 30vw, 400px)
    position: sticky
    top: $posTop + 93px
    +md
      top: 90px
    +sm
      position: static
      width: 100%


.sv2-track
  position: relative

  &__title
    text-transform: uppercase
    font-weight: 900
    font-size: clamp(26px, 4.2vw, 62px)
    margin: 0 0 15px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    +sm
      font-size: clamp(20px, 4vw, 28px)
      white-space: normal


.sv2-alttitle
  margin: calc(clamp(24px, 4.2vw, 62px) / 1.7) 0 20px 110px
  font-size: clamp(20px, 1.8vw, 28px)
  line-height: 1.2
  color: var(--accentColor)
  +laptop
    margin-left: 90px
  +md
    margin-left: 80px
  +sm
    margin-left: 0
    font-size: clamp(20px, 4vw, 28px)
    text-transform: uppercase
    font-weight: 900

.sv2-list
  padding: 0
  margin: 0
  +sm
    margin-left: -20px
    margin-right: -20px
  &__item
    display: flex
    gap: 0 10px
    font-size: clamp(14px, 1.4vw, 20px)
    font-weight: 700
    padding: 10px 0
    +md
      flex-wrap: wrap


  &__time
    flex: none
    text-align: right
    width: 90px
    color: var(--accentColor)
    +laptop
      width: 70px
    +md
      width: 60px
  &__title
    margin: 0
    flex: 1
    min-width: 100px
    padding-left: 10px
    padding-right: 10px
  &__speakers
    flex: none
    width: clamp(200px, 19vw, 300px)
    margin-left: auto
    padding-left: 10px
    padding-right: 10px
    +md
      margin-left: 70px
      width: calc(100% - 70px)
  &__speaker
    font-weight: 400
    font-size: clamp(12px, 1.2vw, 18px)

  &--striped
    .sv2-list
      &__item
        &:nth-child(odd)
          background: rgba($scheduleOutline, 0.12)

        &--selected
          .sv2-list__title, .sv2-list__time
            color: var(--accentColor)
      &__time
        color: #fff


