<section class="section s-speakers _anim-items {{speakersMod}}" id="speakers">
  <div class="container">
    {% if (pageKey == "main") %}
    <h3 role="heading" aria-level="1" class="section__title" data-title="{{pagesPieceOfTexts.speakers__title}}">{{ mixins.text(pieceOfTexts, 'speakers__title') }}</h3>
    {% else %}
    <h3 role="heading" aria-level="1" class="section__title">{{ mixins.text(pieceOfTexts, 'speakers__altTitle') }}</h3>
    {% endif %}

    {% if pagesPieceOfTexts.speakers__subtitle %}
    <h4 class="section__subtitle">{{ pagesPieceOfTexts.speakers__subtitle }}</h4>
    {% endif %}

    <div class="speakers-list">
      {% if (pages[pageKey].pageSections.cfp) %}
      <div class="speakers-list__item speakers-list__item_cfp">
        <div class="cfp">
          {% if (pages[pageKey].pageSections.cfpIcon) %}
          <img class="speaker__head" src="img/head.svg" />
          {% endif %}
          <div class="speaker__name">{{ pagesPieceOfTexts.cfp__title | safe }}</div>
          <div class="speaker__company">{{ pagesPieceOfTexts.cfp__desc | safe }}</div>
          {% if pagesPieceOfTexts.cfp__link %}
          <a class="btn" href="{{ pagesPieceOfTexts.cfp__link }}">{{ pagesPieceOfTexts.cfp__linkText }}</a>
          {% endif %}
        </div>
      </div>
      {% endif %}

      {% for person in speakers[pageKey] %}
      <div class="speakers-list__item" id="person-{{ person.slug }}">
        <div class="speaker graphcms-container" {{ mixins.cmsData(person) }}>
          {{mixins.avatarWithDetails(person.activities.talks[0], person, not fakeLinks, eventsLayer, inPerson)}}

          {% if (person.name) %}
          <div class="speaker__name">{{person.name}}</div>
          {% endif %}
          {% if (person.company) and (person.company !== 'null, null') %}
          <div class="speaker__company">{{person.company}}</div>
          {% endif %}

          {% for talks in person.activities.talks %}
          {% if talks.category === 0 %}
          <div class="speaker__talk"><span>Talk:</span> {{talks.title | safe}}</div>
          {% endif %}
          {% endfor %}

          {% for talks in person.activities.offlineTalks %}
          {% if talks.category === 2 %}
          <div class="speaker__talk"><span>Workshop:</span> {{talks.title | safe}}</div>
          {% endif %}
          {% endfor %}


          {% if person.shortBio or person.bio %}
          <div class="speaker__desc">{{(person.shortBio or person.bio) | safe}}</div>
          {% endif %}
          {% if (person.socials.length) %}
          <div class="speaker__socials">
            {% for item in person.socials %}
            <a aria-label="{{(person.name + ' talks and workshops at GitNation portal' if item.icon == 'portal') or (person.name + ' twitter' if item.icon == 'tw') or (person.name + ' github' if item.icon == 'gh') or (person.name + ' personal site' if item.icon == 'site') or (person.name + ' mastodon' if item.icon == 'med') or (person.name + ' linkedin' if item.icon == 'in') or (person.name + ' instagram' if item.icon == 'instagram')}}" href="{{item.link}}" target="_blank" class="speaker__social-link" style="{{'display: none;' if loop.length > 5 and item.icon == 'instagram'}}">
              <svg class="icon icon-{{item.icon}}" role="img" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v3#icon-{{item.icon}}"></use>
              </svg>
            </a>

            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}

      {% for announcedSoon in range(0, customContent.eventInfo.tbaSpeakersNumber) %}
      {% set smilesRandom = range(0,10) | random %}
      <div class="speakers-list__item">

        <div class="speaker graphcms-container" {{ mixins.cmsData(person) }}>
          <div class="speaker__photo speaker__photo--face">
            <picture>
              <source srcset="img/smiles/smile_index_{{smilesRandom}}.webp" type="image/webp">
              <img src="img/smiles/smile_index_{{smilesRandom}}.jpg" alt="to-be-announced-soon">
            </picture>
          </div>

          <div class="speaker__name">TO BE ANNOUNCED SOON</div>
        </div>
      </div>
      {% endfor %}

      {% if (pages[pageKey].pageSections.speakersMore) %}
      <div class="speakers-list__item speakers-list__item_cfp">
        <div class="cfp">
          <div class="speaker__name">{{ pagesPieceOfTexts.speakersMore__title | safe }}</div>
          <div class="speaker__company">{{ pagesPieceOfTexts.speakersMore__desc | safe }}</div>
          {% if pagesPieceOfTexts.speakersMore__link %}
          <a class="btn" href="{{ pagesPieceOfTexts.speakersMore__link }}">{{ pagesPieceOfTexts.speakersMore__linkText }}</a>
          {% endif %}
        </div>
      </div>
      {% endif %}


    </div>

  </div>
</section>
