<section class="section s-speakers {{speakersMod}}" id="speakers">
  <div class="container">
    <div class="section__head">
      {% if (pageKey == "main") %}
      <h3 class="section__title with-dots">{{ mixins.text(pieceOfTexts, 'speakers__title') }}</h3>
      {% else %}
      <h3 class="section__title">{{ mixins.text(pieceOfTexts, 'speakers__altTitle') }}</h3>
      {% endif %}

      {% if pagesPieceOfTexts.speakers__subtitle %}
      <h4 class="section__subtitle">{{ pagesPieceOfTexts.speakers__subtitle }}</h4>
      {% endif %}
    </div>

    <div class="speakers-list">

      {% if (pages[pageKey].pageSections.cfp) %}
      <div class="speakers-list__item speakers-list__item_cfp">
        <div class="speaker__name">{{ pagesPieceOfTexts.cfp__title | safe }}</div>
        <div class="speaker__company">{{ pagesPieceOfTexts.cfp__desc | safe }}</div>
        {% if pagesPieceOfTexts.cfp__link %}
        <a class="btn" href="{{ pagesPieceOfTexts.cfp__link }}">{{ pagesPieceOfTexts.cfp__linkText }}</a>
        {% endif %}
      </div>
      {% endif %}

      {% for person in speakers[pageKey] %}
      <div class="speakers-list__item" id="person-{{person.slug}}-id">
        <div class="speaker graphcms-container" {{ mixins.cmsData(person) }}>

          {{mixins.avatarWithDetailsV2(person.activities.talks[0], person, not fakeLinks, eventsLayer, inPerson, 'person')}}

          {% if (person.name) %}
          <div class="speaker__name {{'ttn' if ('Mr.' or 'mr.') in person.name }}">{{person.name}}</div>
          {% endif %}
          {% if (person.company) and (person.company !== 'null, null') %}
          <div class="speaker__company">{{person.company}}</div>
          {% endif %}

          {% for talks in person.activities.talks %}
          {% if talks.category === 0 %}
          <div class="speaker__talk"><span>Talk:</span> {{talks.title | safe}}</div>
          {% endif %}
          {% endfor %}

          {% for talks in person.activities.offlineTalks %}
          {% if talks.category === 2 %}
          <div class="speaker__talk"><span>Workshop:</span> {{talks.title | safe}}</div>
          {% endif %}
          {% endfor %}

          {% if person.shortBio or person.bio %}
          <div class="speaker__desc">{{(person.shortBio or person.bio) | safe}}</div>
          {% endif %}
        </div>
      </div>
      {% endfor %}

      {% for announcedSoon in range(0, customContent.eventInfo.tbaSpeakersNumber) %}
      {% set smilesRandom = range(0,10) | random %}
      <div class="speakers-list__item">

        <div class="speaker graphcms-container" {{ mixins.cmsData(person) }}>
          <div class="speaker__photo">
            <picture>
              <source srcset="img/smiles/smile_index_{{smilesRandom}}.webp" type="image/webp">
              <img src="img/smiles/smile_index_{{smilesRandom}}.jpg" alt="to-be-announced-soon">
            </picture>
          </div>

          <div class="speaker__name">TO BE ANNOUNCED SOON</div>
        </div>
      </div>
      {% endfor %}

      {% if (pages[pageKey].pageSections.speakersPropose) %}
      <div class="speakers-list__item speakers-list__item_ask">
        <div class="speaker__head">
          <img src="img/head.svg" alt="{{ pagesPieceOfTexts.speakersPropose__title | safe }}" />
        </div>
        <div class="speaker__name">{{ pagesPieceOfTexts.speakersPropose__title | safe }}</div>
        <div class="speaker__company">{{ pagesPieceOfTexts.speakersPropose__desc | safe }}</div>
        {% if pagesPieceOfTexts.speakersPropose__link %}
        <a class="btn" href="{{ pagesPieceOfTexts.speakersPropose__link }}">{{ pagesPieceOfTexts.speakersPropose__linkText }}</a>
        {% endif %}
      </div>
      {% endif %}

      {% if (pages[pageKey].pageSections.speakersMore) %}
      <div class="speakers-list__item speakers-list__item_cfp {{ 'alone' if not pages[pageKey].pageSections.cfp }}">
        <div class="speaker__name">{{ pagesPieceOfTexts.speakersMore__title | safe }}</div>
        <div class="speaker__company">{{ pagesPieceOfTexts.speakersMore__desc | safe }}</div>
        {% if pagesPieceOfTexts.speakersMore__link %}
        <a class="btn" href="{{ pagesPieceOfTexts.speakersMore__link }}">{{ pagesPieceOfTexts.speakersMore__linkText }}</a>
        {% endif %}
      </div>
      {% endif %}


    </div>
  </div>
</section>
