<section class="section sponsors" id="sponsors">

  <div class="container">
    <h3 class="section__title">{% if pages[pageKey].pageSections.sponsorsCustomTitle %}{{pages[pageKey].pageSections.sponsorsCustomTitle}}{% else %}Sponsors{% endif %}</h3>
    <div class="sponsors__description">
      {{ mixins.text(pieceOfTexts, 'sponsors__intro') }}
      {{ mixins.text(pieceOfTexts, 'sponsors__offer') }}
    </div>
    
    {{mixins.sponsors(sponsors, isAuth, eventsLayer, ga_mixins)}}
  </div>
</section>
