<section class="section s-sponsors-offers" id="sponsors-offers">
	<div class="container">
		<h3 class="section__title">Sponsors offers</h3>

		<div class="sponsors-offers">
			{% for offer in extendeds.sponsorsOffers %}
			<div class="sponsors-offers__item">
				<div class="sponsors-offers__img-wrap">
					<img class="sponsors-offers__img" src="{{ offer.image.url }}" alt="">
				</div>

				<div class="sponsors-offers__desc">{{ offer.description | safe }}</div>

				<a
					class="sponsors-offers__btn btn btn--border"
					href="{{ offer.registerLink }}"
					target="_blank"
					onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + offer.title if offer.title else offer.registerLink + ';', category: 'sponsors-offers-click', isAuth: not fakeLinks }) }}
				>
					{{ offer.location | safe }}
				</a>
			</div>
			{% endfor %}
		</div>

	</div>
</section>