<section class="section sponsors {{animationOnScroll}}" id="sponsors">

	<div class="container">
		<div class="sponsors__top">
			<h2 class="section__title " data-title="{{pagesPieceOfTexts.sponsors__title or 'Sponsors'}}">
				{{pagesPieceOfTexts.sponsors__title or 'Sponsors'}}
			</h2>
			<div class="sponsors__description">
				{% if pagesPieceOfTexts.sponsors__intro %}
				<div class="sponsors__intro">
					{{ mixins.text(pieceOfTexts, 'sponsors__intro') }}
				</div>
				{% endif %}

				{% if pagesPieceOfTexts.sponsors__offer %}
				<div class="sponsors__offer">
					{{ pagesPieceOfTexts.sponsors__offer | safe }}
				</div>
				{% endif %}
			</div>
		</div>
		{{mixins.sponsors(sponsors, isAuth, eventsLayer, ga_mixins)}}
	</div>
</section>