{% if pages[pageKey].pageSections.heroSwitch %}
<div class="hero__switch  {{ 'hero__switch--reverse' if pagesPieceOfTexts.hero__switchLeftLink }}">
  <div class="hero__switch-label">
    {% if pagesPieceOfTexts.hero__switchLeftLink %}
    <a href="{{ pagesPieceOfTexts.hero__switchLeftLink | safe }}">
      {{ pagesPieceOfTexts.hero__switchLeft | safe }}
    </a>
    {% else %}
    {{ pagesPieceOfTexts.hero__switchLeft | safe }}
    {% endif %}
  </div>
  <a href="{{ pagesPieceOfTexts.hero__switchRightLink | safe if pagesPieceOfTexts.hero__switchRightLink else pagesPieceOfTexts.hero__switchLeftLink }}" class="hero__switch-handler" aria-label="{{pagesPieceOfTexts.hero__switchRight if pagesPieceOfTexts.hero__switchRightLink else pagesPieceOfTexts.hero__switchLeft}}">
    <span style="background-image: url('img/country.svg');"></span>
  </a>
  <div class="hero__switch-label">
    {% if pagesPieceOfTexts.hero__switchRightLink %}
    <a href="{{ pagesPieceOfTexts.hero__switchRightLink | safe }}">
      {{ pagesPieceOfTexts.hero__switchRight | safe }}
    </a>
    {% else %}
    {{ pagesPieceOfTexts.hero__switchRight | safe }}
    {% endif %}
  </div>
</div>
{% endif %}
