<section class="section s-teams-cta" id="teams-cta">
  <div class="container">
    <div class="teams-cta">
      <div class="teams-cta__desc">{{ pagesPieceOfTexts.teamsCta__desc | safe }}</div>

      <div class="teams-cta__btns">
        {% if pagesPieceOfTexts.teamsCta__leftBtnLink %}
          <a href="{{ pagesPieceOfTexts.teamsCta__leftBtnLink }}" class="btn yellow">{{ pagesPieceOfTexts.teamsCta__leftBtnText }}</a>
        {% endif %}

        {% if pagesPieceOfTexts.teamsCta__rightBtnLink %}
          <a href="{{ pagesPieceOfTexts.teamsCta__rightBtnLink }}" class="btn btn--border">{{ pagesPieceOfTexts.teamsCta__rightBtnText }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
