{% if pages[pageKey].pageSections.techs %}
  <ul class="techs">
    {% for item in pages.main.pageStatistics.techScope %}
      {% if item.title %}
        <li class="techs__item">
          {% if item.link %}
          <a class="techs__link" href="{{item.link}}" aria-label="{{ item.title | striptags }}">
            {% if item.imageHandle %}
            <div class="techs__img-box">
              <picture>
                <source srcset="{{mixins.imageUrl(item.imageHandle, 'resize=fit:crop,height:100/output=format:webp', '')}}" type="image/webp">
                <img class="techs__img" src="{{mixins.imageUrl(item.imageHandle, 'resize=fit:crop,height:100/output=format:png', '')}}"
                  alt="">
              </picture>

            </div>
            {% endif %}
            <p class="techs__title">{{ item.title | safe }}</p>
          </a>
          {% else %}
            {% if item.imageHandle %}
            <div class="techs__img-box">
              <picture>
                <source srcset="{{mixins.imageUrl(item.imageHandle, 'output=format:webp/resize=fit:crop,height:100/', '')}}" type="image/webp">
                <img class="techs__img" src="{{mixins.imageUrl(item.imageHandle, 'output=format:png/resize=fit:crop,height:100/', '')}}"
                  alt="">
              </picture>
            </div>
            {% endif %}
            <p class="techs__title">{{ item.title | safe }}</p>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
