{% if pages[pageKey].pageSections.techs %}
  <ul class="techs">
    {% for item in pages.main.pageStatistics.techScope %}
      {% if item.title %}
        <li class="techs__item">
          {% if item.imageHandle %}
          <div class="techs__img-box">
            <img class="techs__img" src="https://media.graphassets.com/output=format:png/resize=fit:crop,height:100/{{ item.imageHandle }}"/>
          </div>
          {% endif %}
          <p class="techs__title">{{ item.title | safe }}</p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
