<div class="tickets-form">
  <div class="tickets-form__head">
    <h3 class="tickets-form__title">Looking for discounts and free tickets?</h3>
    <div class="tickets-form__text">Subscribe to get secret deals from us.</div>
  </div>
  <form action="https://gitnation.com/newsletter-preferences?email=" method="GET" target="_blank" class="tickets-form__group">

    <div class="tickets-form__group-input">
      <input type="email" required placeholder="your@email" name="email" />
    </div>
    <button type="submit" class="btn">Subscribe</button>
  </form>

</div>
