<div class="live-programm js-tabs-container">
	<div class="live-programm__tab-links">
		<div class="container">
			{% for item in customContent.scheduleExtends %}
			{% if item.id !== 'summit-track' or customTrackAvailable %}
			<div {% if item.id %} id={{ item.id }} {% endif %} href="#" class="live-programm__tab js-tab-link {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">
				{{item.title}}
      </div>
      {% endif %}
			{% endfor %}

      {% for item in pages[pageKey].pageSections.scheduleLinks %}
        {% if item.menu %}
          <div class="live-programm__link link-{{item.id}} {% if item.menu %}menu{% endif %}">
            <svg class="icon icon-{{item.id}}"><use xlink:href="img/sprite.svg?#icon-{{item.id}}"></use></svg> {{item.title}}

            <div class="live-programm__arrow"></div>

            <div class="sub-menu">
              {% for subitem in item.menu %}
              <div class="sub-menu__item">
                <a href="{{ subitem.link }}" class="sub-menu__link">{{ subitem.title }}</a>
              </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <a {% if item.id %} id={{ item.id }} {% endif %} href="#" class="live-programm__link link-{{item.id}}"
            onclick={{ eventsLayer.openDialog({ link: item.link }) }}
            href="#"
            class="live-programm__tab-link"
          >
            <svg class="icon icon-{{item.id}}"><use xlink:href="img/sprite.svg?#icon-{{item.id}}"></use></svg> {{item.title}}
          </a>
        {% endif %}
      {% endfor %}
		</div>
	</div>

	<div class="container">
		{% for item in customContent.scheduleExtends %}
    {% if item.id !== 'summit-track' or customTrackAvailable %}
		<div class="tab-container js-tab {% if item.active %}is-active{% endif %}" data-tab="{{loop.index}}">
      <div class="broadcast">
        <div class="broadcast__content">
          {% if fakeLinks %}
            {% if item.broadcastUrl %}
              <iframe
                src="{{ item.broadcastUrl }}"
                width="640"
                height="360"
                frameborder="0"
                allow="fullscreen"
                allowfullscreen
              >
            </iframe>
            {% endif %}
          {% else %}
            {% if item.broadcastUrlAuth %}
              <iframe
                src="{{ item.broadcastUrlAuth }}"
                width="640"
                height="360"
                frameborder="0"
                allow="fullscreen"
                allowfullscreen
              >
            </iframe>
            {% endif %}
          {% endif %}
        </div>
      </div>
		</div>
    {% endif %}
		{% endfor %}
	</div>

	{{eventsLayer.mountPoint('time-track-mount')}}

</div>
