<section class="section s-video-rooms" id="video-rooms">
  <div class="container">
    <h3 class="section__title">{{ mixins.text(pieceOfTexts, 'videorooms__title') }}</h3>
    <h4 class="section__subtitle">{{ mixins.text(pieceOfTexts, 'videorooms__subtitle') }}</h4>

    <div class="video-rooms">

      {% for item in customContent.videoRooms %}
      {# TODO: please turn this d i v into button #}
      <div class="video-rooms__item hoverable">
        <a href="#6" class="video-rooms__link"

          onclick={{ eventsLayer.openDialogSecure({name: 'video-room' , isAuth: not fakeLinks, data: item | dump, link: item.roomLink, payload: item | dump, values: 'name:' + item.roomLinkText + ';' , category: 'video-room-click' }) }}>&nbsp;</a>

        <div class="video-rooms__img-wrap">
          <picture>
            {% if item.pic %}
            <source srcset="{{mixins.imageUrl(item.pic.handle, " resize=fit:crop,height:512,width:512/output=format:webp", item.pic.mimeType)}}" type="image/webp">
            <img src="{{mixins.imageUrl(item.pic.handle, " resize=fit:crop,height:512,width:512/output=format:png", item.pic.mimeType)}}" class="video-rooms__img" alt="{{ item.title }} logo">
            {% elif item.icon %}
            <img src="{{item.icon}}" alt="{{item.title}} logo" class="video-rooms__img">
            {% endif %}
          </picture>
        </div>

        <div class="video-rooms__num">{{ "0" if loop.length < 10 }}{{ loop.index }}</div>

            <h4 class="video-rooms__title">{{ item.title }}</h4>

            {% if item.speakers %}
            <div class="video-rooms__users">
              {% for speaker in item.speakers %}
              <div class="video-rooms__user">
                <picture>
                  {% if speaker.avatar is string %}
                  <img src="{{speaker.avatar}}" class="video-rooms__avatar" alt="{{speaker.name}} closeup" loading="lazy">
                  {% else %}
                  <source srcset="{{mixins.imageUrl(speaker.avatar.handle, " resize=fit:crop,height:100,width:100/output=format:webp", speaker.avatar.mimeType)}}" type="image/webp">
                  <img src="{{mixins.imageUrl(speaker.avatar.handle, " resize=fit:crop,height:100,width:100/output=format:png", speaker.avatar.mimeType)}}" class="video-rooms__avatar" alt="{{speaker.name}} closeup" loading="lazy">
                  {% endif %}
                </picture>
                <p class="video-rooms__name">{{ speaker.name }}</p>
              </div>
              {% endfor %}
            </div>
            {% endif %}

            <div class="video-rooms__btn">{{ item.roomLinkText }}</div>
        </div>
        {% endfor %}

      </div>
    </div>
</section>
