<section class="section s-virtual-activities" id="virtual-activities">
  <div class="container">
    <div class="virtual-activities">
      <h3 class="virtual-activities__title section__title">{{ mixins.text(pieceOfTexts, 'virtualActivities__title') }}</h3>
      <div class="virtual-activities__desc">{{ mixins.text(pieceOfTexts, 'virtualActivities__desc') }}</div>

      <a class="virtual-activities__btn btn btn--transparent" href="{{ pagesPieceOfTexts.virtualActivities__btnLink }}">{{ pagesPieceOfTexts.virtualActivities__btnText }}</a>
    </div>
  </div>
</section>