<section class="section s-watching-party" id="watching-party">
  <div class="container">
    <div class="watching-party">
      <div class="watching-party__content">
        <h3 class="watching-party__title">{{ mixins.text(pieceOfTexts, 'watchingParty__title') }}</h3>
        <div class="watching-party__img"><img src="img/attend-parties.jpg"/></div>
      </div>
      
      <div class="watching-party__bottom">
        <div class="watching-party__desc">{{ pagesPieceOfTexts.watchingParty__desc | safe }}</div>
        <a class="watching-party__btn btn btn--transparent" href="{{ pagesPieceOfTexts.watchingParty__btnLink }}">{{ pagesPieceOfTexts.watchingParty__btnText }}</a>
      </div>
    </div>
  </div>
</section>