<div class="hero">
	<video preload="auto" muted autoplay loop poster="img/hero_poster.jpg" class="hero__video">
		<!--<source src="" type="video/mp4" />-->
	</video>
	<div class="container hero__inner">
		<div class="hero__head">
			<div class="hero__date">{{pagesPieceOfTexts.hero__date | safe}} </div>
			<h1 class="hero__title {{ 'hero__title--main' if pages[pageKey] == pages.main }}">{{pagesPieceOfTexts.hero__title | safe}}</h1>
			<div class="hero__info">
				{% if pages[pageKey].pageStatistics.eventStats %}
				{{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}
				{% endif %}
			</div>
		</div>
	</div>
	{% if not hideHeroCtas %}
	<div class="hero__bottom">
		<div class="container">
			{% include "partials/_hero-buttons.html" %}
		</div>
	</div>
	{% endif %}

	<!-- <div class="hero__bg " style="background-image: url('img/hero-bg.svg');"></div> -->
</div>