<section class="section info-conf" id="info-conf">
  <div class="container">
    <div class="info-conf__block">
      <img src="../img/kromhout.png" srcset="../img/kromhout@2x.png 2x" alt="logo" class="info-conf__logo" />
      <div class="info-conf__content">
        <p class="section__text">JSNation Conference will gather 1500 JS developers at Kromhouthal. Our venue is a former ship engine factory, and we’re happy to dedicate it to the top JavaScript engine authors and engineers.</p>
        <p class="section__text">52 Chiswell Street London – EC1Y 4SD</p>
        <a class="btn" href="#" target="_blank">View on map</a>
      </div>
    </div>
  </div>
</section>
