.icon-arrow-r {
    width: 0.59em;
    height: 1em;
    fill: initial;
  }
  .icon-arrow-right {
    width: 1.07em;
    height: 1em;
    fill: initial;
  }
  .icon-arrow {
    width: 0.59em;
    height: 1em;
    fill: #FFF;
  }
  .icon-arrow2-l {
    width: 0.6em;
    height: 1em;
    fill: initial;
  }
  .icon-arrow2-r {
    width: 0.6em;
    height: 1em;
    fill: initial;
  }
  .icon-arrow_r {
    width: 2.23em;
    height: 1em;
    fill: initial;
  }
  .icon-dis {
    width: 1.29em;
    height: 1em;
    fill: initial;
  }
  .icon-discord {
    width: 1.46em;
    height: 1em;
    fill: initial;
  }
  .icon-equal {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-face {
    width: 0.78em;
    height: 1em;
    fill: initial;
  }
  .icon-face_1 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-face_10 {
    width: 0.78em;
    height: 1em;
    fill: initial;
  }
  .icon-face_11 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-face_12 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-face_2 {
    width: 0.78em;
    height: 1em;
    fill: initial;
  }
  .icon-face_3 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-face_4 {
    width: 1.16em;
    height: 1em;
    fill: initial;
  }
  .icon-face_5 {
    width: 0.89em;
    height: 1em;
    fill: initial;
  }
  .icon-face_6 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-face_7 {
    width: 0.82em;
    height: 1em;
    fill: initial;
  }
  .icon-face_8 {
    width: 0.78em;
    height: 1em;
    fill: initial;
  }
  .icon-face_9 {
    width: 0.75em;
    height: 1em;
    fill: initial;
  }
  .icon-facebook {
    width: 0.5em;
    height: 1em;
    fill: #FFF;
  }
  .icon-fb {
    width: 0.44em;
    height: 1em;
    fill: initial;
  }
  .icon-gh {
    width: 1.02em;
    height: 1em;
    fill: #f59423;
  }
  .icon-git-logo {
    width: 3.88em;
    height: 1em;
    fill: #FFF;
  }
  .icon-github {
    width: 1em;
    height: 1em;
    fill: #999;
  }
  .icon-hand-w {
    width: 2.19em;
    height: 1em;
    fill: none;
  }
  .icon-help {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-in {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-instagram {
    width: 0.93em;
    height: 1em;
    fill: #585858;
  }
  .icon-instagram2 {
    width: 1em;
    height: 1em;
    fill: #FFF;
  }
  .icon-logo {
    width: 0.95em;
    height: 1em;
    fill: #FFF;
  }
  .icon-mastodon {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-md {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-med {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-medium {
    width: 1.33em;
    height: 1em;
    fill: #FFF;
  }
  .icon-p-close {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-p-marker {
    width: 0.8em;
    height: 1em;
    fill: #9A9A9A;
  }
  .icon-p-notification {
    width: 0.82em;
    height: 1em;
    fill: #9A9A9A;
  }
  .icon-p-stars {
    width: 0.89em;
    height: 1em;
    fill: #9A9A9A;
  }
  .icon-perks {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-plus {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-portal {
    width: 0.79em;
    height: 1em;
    fill: initial;
  }
  .icon-schedule {
    width: 1.01em;
    height: 1em;
    fill: initial;
  }
  .icon-site {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-sl {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-slack {
    width: 1em;
    height: 1em;
    fill: #FFF;
  }
  .icon-spatial {
    width: 0.62em;
    height: 1em;
    fill: initial;
  }
  .icon-sv-grid {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-sv-list {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-tiktok {
    width: 0.87em;
    height: 1em;
    fill: #585858;
  }
  .icon-tw {
    width: 1em;
    height: 1em;
    fill: #83F35D;
  }
  .icon-twitter {
    width: 1.25em;
    height: 1em;
    fill: #FFF;
  }
  .icon-yb {
    width: 1.36em;
    height: 1em;
    fill: initial;
  }
  .icon-youtube {
    width: 1.42em;
    height: 1em;
    fill: #FFF;
  }
  