.icon-arrow-r {
    width: 0.59em;
    height: 1em;
    fill: initial;
  }
  .icon-arrow {
    width: 0.59em;
    height: 1em;
    fill: #FFF;
  }
  .icon-equal {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-face {
    width: 0.78em;
    height: 1em;
    fill: initial;
  }
  .icon-facebook {
    width: 0.5em;
    height: 1em;
    fill: #FFF;
  }
  .icon-fb {
    width: 0.44em;
    height: 1em;
    fill: initial;
  }
  .icon-gh {
    width: 1.02em;
    height: 1em;
    fill: #f59423;
  }
  .icon-git-logo {
    width: 3.88em;
    height: 1em;
    fill: #FFF;
  }
  .icon-github {
    width: 1em;
    height: 1em;
    fill: #999;
  }
  .icon-hand-w {
    width: 2.19em;
    height: 1em;
    fill: none;
  }
  .icon-instagram {
    width: 1em;
    height: 1em;
    fill: #FFF;
  }
  .icon-logo {
    width: 0.95em;
    height: 1em;
    fill: #FFF;
  }
  .icon-md {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-med {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-medium {
    width: 1.33em;
    height: 1em;
    fill: #FFF;
  }
  .icon-plus {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-portal {
    width: 0.79em;
    height: 1em;
    fill: initial;
  }
  .icon-site {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-sl {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-slack {
    width: 1em;
    height: 1em;
    fill: #FFF;
  }
  .icon-tw {
    width: 1.19em;
    height: 1em;
    fill: initial;
  }
  .icon-twitter {
    width: 1.25em;
    height: 1em;
    fill: #FFF;
  }
  .icon-yb {
    width: 1.36em;
    height: 1em;
    fill: initial;
  }
  .icon-youtube {
    width: 1.42em;
    height: 1em;
    fill: #FFF;
  }
  