@import "_variables.sass"

html
	--color-brand: #{$themeColor}
	--color-brand-hover: #{$themeColor}
	--color-popup-ticket-border: #{$themeColor}
	--color-popup-general-text: #888

.block
	display: flex
	// remove this
