\:root
  --accentColor: #ffd600

  --price-section-bg: #16191c
  --price-color: #fff
  --price-item-bg: rgba(255,255,255,.05)
  --price-item-border: 1px solid #3d464e
  --price-item-radius: 10px
  --price-item-title-color: #ffd600
  --price-item-title-weight: 700

  --price-slider-btn-size: 54px
  --price-slider-btn-border-color: #2b3137
  --price-slider-btn-radius: 0
  --price-slider-btn-color: #fff
  --price-slider-btn-bg: #2b3137
  --price-slider-btn-bg-hover: #ffd600

  --price-btn-color: #fff
  --price-btn-border: 1px solid #3C3C3C
  --price-btn-border-color-hover: #5C5C5C

$font-size: 16px

/*----- COLORS -----*/
$mainBg: #0e0d10
$mainBg2: #201f23
$black: #000
$white: #fff
$gray: #7f7f7f
$themeColor: #ffd600
$themeColor2: #ffd600
$themeColorD: #b1ec00
$accent: #b1ec00
$baloo: 'Baloo Chettan 2', cursive
// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- SWITCH -----*/
$switchBG: #b1ec00
$switchColor: $black
$switchHandler: $black

// end SWITCH
