$font-size: 16px

/*----- COLORS -----*/

$mainBg: #0e0d10
$mainBg2: #201f23
$black: #000
$white: #fff
$gray: #7f7f7f
$themeColor: #ff0094
$themeColorD: #ce00db
$themeColor2: #8400ff
$themeColor3: #5400ff
$accent: #b1ec00

$baloo: 'Baloo Chettan 2', cursive



// end COLORS
