$font-size: 16px

/*----- COLORS -----*/

$mainBg: #181818
$mainBg2: #262626
$black: #000
$white: #fff
$grayL: #b6b6b6
$gray: #faf9f8
$grayD: #d7d7d7
$themeColor: #2b6dbf
$themeColorD: #1453a2
$themeColor2: #3f81d2
$accent: #b1ec00
$text: #575757

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE


/*----- CHECKOUT -----*/
$checkoutSectionBg: #222
$cehckoutInputColor: #000
$cehckoutInputBg: #fff
$cehckoutColorGray: #eaeaec
$cehckoutBadgeBg: #fff
$cehckoutBadgeColor: #000
// end CHEcKoUT


/*----- SWITCH -----*/
$switchBG: #b1ec00
$switchColor: $black
$switchHandler: $black

// end SWITCH
