@function em($size, $context: 16)
  @return ($size/$context) * 1em

@function img-url($image)
  @return url('../img/#{$image}')

=image($image)
  background-image: img-url($image)

=trans($what: all, $dur: 0.2s, $easing: ease)
  transition: $what $dur $easing

=smooth-scroll
  -webkit-overflow-scrolling: touch

=smooth-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=gpu
  transform: translate3d(0,0,0)

=xxl
	+r(1680)
		@content

=laptop
	+r(1440)
		@content

=tablet
	+r(1200)
		@content

=md
  +r(1023)
    @content

=sm
  +r(767)
    @content

=xs
  +r(599)
    @content

=xxs
  +r(480)
    @content

$laptop: 1440
$table: 1200
$ipad: 1023
$iphone: 767
$iphone_sm: 599
$iphone_xs: 480
=max($size)
  @media screen and (max-width: $size + 'px')  
    @content