.container
  --container: 40px
  max-width: 1680px
  padding: 0 var(--container)
  margin: 0 auto
  +md
    --container: 20px
  &--l
    max-width: 1374px

.light
  background: $white
  color: $text

  .section

    &__title
      color: $themeColor2

  &--gray
    background: #fafbfc
