<section class="about">
  <div class="about__content">
    <div class="about__inner">
      <div class="about__title title">
        Europe's <br/>
        most <br/>
        enjoyable <br/>
        city
      </div>
      <div class="about__descr descr">
        <p>
          Modern, cosmopolitan, and laid-back – Amsterdam's vibe attracts millions of visitors from all corners of the world and Amsterdam JSNation is here to embody the city's free spirit. Thanks to direct flights from the Americas, Asia, and Africa, the city is within reach for anyone. From within Europe, Amsterdam is also easily accessible by train and bus departing from any bigger city.
        </p>
        <p class="color-yellow">
          Follow us on social media for getting hot
          insights and conference updates.
        </p>
      </div>
    </div>
  </div>
  <div class="about__socials" style="background-image: url(img/about-bg.png)">
    <ul class="socials-btns">
      <li class="socials-btns__item">
        <a href="#" class="socials-btns__link">{{mixins.icon('tw')}}</a>
      </li>
      <li class="socials-btns__item">
        <a href="#" class="socials-btns__link">{{mixins.icon('fb')}}</a>
      </li>
      <li class="socials-btns__item">
        <a href="#" class="socials-btns__link">{{mixins.icon('yt')}}</a>
      </li>
    </ul>
  </div>
</section>
