<section class="section s-speakers" id="speakers">
	<div class="container">
		{% if (pageKey == "main") %}
		<div class="section__title">{{ mixins.text(pieceOfTexts, 'speakers__title') }}</div>
		{% else %}
		<div class="section__title">{{ mixins.text(pieceOfTexts, 'speakers__altTitle') }}</div>
		{% endif %}

		<div class="speakers-list">
			{% set shownTrainerIds = [] %}
			{% for trainer in speakers.workshops %}
			{% for workshop in workshops %}
			{% if workshop.includedToPackage %}

			{% if workshop.speaker.id === trainer.id and trainer.id not in shownTrainerIds %}
			{% set _ = shownTrainerIds.push(trainer.id) %}
			<div class="speakers-list__item" id="trainer-{{ trainer.slug }}-id">
				{{ mixins.speaker(trainer, inPerson, eventsLayer, not fakeLinks, id="trainer", confName = confName) }}
			</div>
			{% endif %}

			{% for oneOfTrainers in workshop.trainers %}
			{% if oneOfTrainers.id === trainer.id and trainer.id not in shownTrainerIds %}
			{% set _ = shownTrainerIds.push(trainer.id) %}
			<div class="speakers-list__item" id="trainer-{{ trainer.slug }}-id">
				{{ mixins.speaker(trainer, inPerson, eventsLayer, not fakeLinks, id="trainer", confName = confName) }}
			</div>
			{% endif %}
			{% endfor %}

			{% endif %}
			{% endfor %}
			{% endfor %}

			{% if (pages[pageKey].pageSections.cfp) %}
			<div class="speakers-list__item speakers-list__item_cfp">
				<div class="speaker">
					<div class="speaker__body">
						<div class="speaker__inner">
							<p class="speaker__name">{{ pages[pageKey].pageSections.cfp.title | safe }}</p>
							<p class="speaker__company">{{ pages[pageKey].pageSections.cfp.desc | safe }}</p>
							<a class="btn" href="{{ pages[pageKey].pageSections.cfp.link }}">{{ pages[pageKey].pageSections.cfp.linkText }}</a>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</section>