/* Fonts
 *----------------------------------------------------------------------------- */

@font-face
  font-family: "RumbleBrave"
  src: url(../fonts/RumbleBrave.woff2) format("woff2"), url(../fonts/RumbleBrave.woff) format("woff")
  font-style: normal
  font-weight: 400

+font(GothamPro, GothamProLight, 300)
+font(GothamPro, GothamPro, 400)
+font(GothamPro, GothamProMedium, 500)
+font(GothamPro, GothamProBold, 700)
+font(GothamPro, GothamProBlack, 900)
