/*----- FONTS -----*/

$got: 'GothamPro', Arial, Helvetica, sans-serif
$rb: 'RumbleBrave', Arial, Helvetica, sans-serif

// end FONTS

/*----- COLORS -----*/

$text: #000000
$black: #171717
$white: #fff
$themeColor: #24fc89
$themeColorD: #18db73

// end COLORS

/*----- CHECKOUT -----*/
$checkoutSectionBg: #171717
$checkoutBlockBg: #191919
$cehckoutInputColor: #000
$cehckoutInputBg: #fff
$cehckoutColorGray: #eaeaec
$cehckoutBadgeBg: #fff
$cehckoutBadgeColor: #000
// end CHEcKoUT
