
\:root
  --checkout-section-bg: #fff
  --checkout-section-color: #000
  --checkout-card-border: 1px solid #DDD
  --checkout-card-bg: #fff
  --checkout-card-text-color: #000
  --checkout-quantity-hover-color: #000
  --checkout-quantity-border: 1px solid #DDD
  --checkout-quantity-button-bg: #24fc89
  --checkout-quantity-button-bg-hover: #000
  --checkout-quantity-button-icon-color: #000
  --checkout-quantity-button-icon-color-hover: #fff
  --checkout-form-ff: GothamPro,Arial,Helvetica,sans-serif
  --checkout-price-ff: GothamPro,Arial,Helvetica,sans-serif
  --checkout-card-title-weight: 500
  --checkout-button-weight: 700
  --checkout-button-border: 1px solid #24fc89
  --checkout-button-border-hover: 1px solid #000

  --cehckout-badge-bg: #ddd
  --cehckout-badge-color: #000

/*----- FONTS -----*/

$got: 'GothamPro', Arial, Helvetica, sans-serif
$rb: 'RumbleBrave', Arial, Helvetica, sans-serif

// end FONTS

/*----- COLORS -----*/

$text: #000000
$black: #171717
$white: #fff
$themeColor: #24fc89
$themeColorD: #18db73

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 84px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- SWITCH -----*/
$switchBG: #b1ec00
$switchColor: $black
$switchHandler: $black

// end SWITCH
