/*----- FONTS -----*/

$got:						'GothamPro', Arial, Helvetica, sans-serif;
$rb:						'RumbleBrave', Arial, Helvetica, sans-serif;

// end FONTS


/*----- COLORS -----*/

$text:			#000000;
$black:			#171717;
$white:			#fff;
$themeColor:		#24fc89;
$themeColorD:		#18db73;

// end COLORS
