.event
  background: url(../img/event-bg.jpg) center top no-repeat
  background-size: cover
  padding: clamp(50px, 6vw, 100px) 0
  position: relative
  z-index: 1

  .container
    max-width: 1180px
    margin: 0 auto

  &__content
    display: grid
    align-items: center
    grid-template-columns: 1fr auto
    gap: 30px 70px

    +sm
      gap: 32px
      grid-template-columns: 1fr

  &__left
    max-width: 668px
    grid-column: 1/1

  &__right
    grid-column: 1/1

  &__venue
    width: 148px
    height: 155px
    position: relative
    display: flex
    align-items: center
    justify-content: center
    z-index: -1
    margin-right: 40px
    +sm
      order: -1
      margin-right: 0

    &-text
      position: absolute
      inset: 0
      animation: rotate-text 6s linear infinite

    img
      max-width: 100%
    &:before
      content: ''
      width: 210%
      aspect-ratio: 1
      border-radius: 50%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background: #FEF502
      filter: blur(200px)
      z-index: -1

  &__heading
    +light
    font-size: 16px
    margin: 0 0 20px

  &__title
    position: relative
    +bold
    font-size: clamp(34px, 5vw, 82px)
    line-height: 1
    margin: 0 0 46px

    &:after
      content: ''
      position: absolute
      left: -80px
      top: 0
      bottom: 0
      width: 14px
      background: #FEF502

      +tablet
        left: -20px
        width: 8px

      +xxs
        left: -14px
        width: 4px

  &__descr
    font-size: 16px
    line-height: 1.6

    p

      margin: 0 0 24px
      &:last-child
        margin-bottom: 0
      &:first-child
        font-size: 22px
        +sm
          font-size: 18px

  &__techs-title
    font-size: 16px
    line-height: 1.6
    margin-bottom: 40px
    +md
      margin-bottom: 32px
      font-size: 18px
      color: $themeColor2

    +sm
      margin-bottom: 24px
    p
      display: flex
      flex-wrap: wrap
      gap: 20px
      align-items: center
      justify-content: center

    a
      @extend .btn
      @extend .btn--border
      display: inline-flex
      min-height: 50px
      font-size: 14px
      border-color: $themeColor2
      color: $themeColor2

      &:hover
        text-decoration: none

  &__tip
    font-size: 16px
    line-height: 1.6
    margin-top: 50px

    +xs
      text-align: center
      font-size: 18px
    p
      display: flex
      flex-wrap: wrap
      gap: 20px
      align-items: center
      +xs
        flex-direction: column
        justify-content: center

    a
      @extend .btn
      @extend .btn--border
      display: inline-flex
      min-height: 50px
      min-width: 170px
      font-size: 14px
      border-color: $themeColor2
      +xs
        width: 100%
      &:hover
        text-decoration: none

@keyframes rotate-text
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
