.h-list
  font-size: clamp(14px, 2.4vw, 20px)
  +md
    font-weight: 600

  &__item
    display: flex
    gap: 0 5px

    +xs
      gap: 0

  &__value
    display: inline-flex

    +md
      color: $themeColor2

  &__text
    display: inline-flex
    gap: 0 5px
    +xs
      display: block
    br
      display: none

  &__text-top
    +md
      color: $themeColor2

.info-container
  padding: 42px 0 24px
  +md
    padding: 24px 0
  &__inner
    display: flex
    justify-content: center
    +xs
      flex-direction: column
      align-items: center
    .info
      &:not(:last-child)
        margin-right: 106px
        +sm
          margin-right: 50px
        +xs
          margin: 0 0 20px
