.h-list
  font-size: clamp(14px, 2.2vw, 20px)
  display: flex
  flex-direction: column
  gap: 6px
  font-weight: 600

  &__item
    display: flex
    gap: 0 5px

    +xs
      gap: 0

  &__value
    display: inline-flex
    color: $themeColor2

  &__text
    line-height: 1.2

    br
      display: none

  &__text-top
    color: $themeColor2

.info-container
  padding: 42px 0 24px
  +md
    padding: 24px 0
  &__inner
    display: flex
    justify-content: center
    +xs
      flex-direction: column
      align-items: center
    .info
      &:not(:last-child)
        margin-right: 106px
        +sm
          margin-right: 50px
        +xs
          margin: 0 0 20px
