
.s-prices
  font-family: Sora, sans-serif
  .container
    max-width: 1260px

  .section__title
    line-height: .9
    font-size: clamp(44px,8vw,80px)
    text-transform: uppercase
    font-weight: 900
    text-align: left
    margin-bottom: 50px
.prices-swiper

  .swiper-slide
    width: 368px
    +md
      width: 320px
    +sm
      width: 280px
  .swiper-container
    +laptop
      overflow: visible
