.s-video-rooms
	background: #333333

	.section
		&__title
			color: $white

		&__subtitle
			color: $white

.video-rooms
	display: flex
	flex-direction: column
	margin: 52px -20px 0

	+md
		margin-top: 32px
	+sm
		margin-top: 24px

	&__item
		position: relative
		display: flex
		gap: 30px
		padding: 20px 20px
		transition: all ease 0.1s
		color: #fff

		+md
			gap: 20px

		+sm
			flex-direction: column

		&:not(:first-child)
			border-top: 1px solid #4E4E4E

		&:hover
			color: $white
			background: #1B1B1B

			.video-rooms__btn
				border-color: #ff2407

				&:hover
					background: #ff2407
					color: $white

	&__link
		text-decoration: none
		color: inherit
		&:before
			content: ''
			position: absolute
			display: block
			inset: 0

	&__img-wrap
		display: flex
		justify-content: center
		align-items: center
		width: 70px
		height: 70px
		flex: none

		+md
			width: 60px
			height: 60px

	&__img
		display: block
		margin: auto
		max-height: 100%
		max-width: 100%

	&__num
		display: none

	&__title
		display: flex
		margin: 0
		font-size: 30px
		font-weight: 700
		line-height: 1
		align-items: center

		+tablet
			font-size: 24px

		+sm
			color: $white

	&__users
		margin: 0 0 0 auto
		flex: 0 1
		display: flex

		+sm
			margin: 0
			width: min-content

	&__user
		display: flex
		align-items: center
		flex: 1 1 auto
		margin: 0 0 0 -10px

		&:first-child
			margin: 0

		.video-rooms__name
			display: none

	&__avatar
		width: 40px
		height: 40px
		display: block
		object-fit: cover
		margin: 0
		border-radius: 50%

		+tablet
			width: 32px
			height: 32px

	&__name
		font-size: 14px
		line-height: 1.2
		max-width: 192px
		width: 100%
		display: flex
		align-items: center
		+sm
			max-width: none

	&__btn

		display: none
