.video-widget
	position: relative
	margin: -100px 0 0
	padding-top: 40px
	padding-bottom: 20px
	z-index: 1

	+laptop
		padding-top: 80px
	+tablet
		padding-top: 72px
	+md
		padding-top: 50px
		margin: -60px 0 0
	+sm
		padding-top: 40px
