---
pageKey: main
headerBtn: true
sponsorsDescription: true
fakeLinks: true
promoVisible: true
confName: rsasia
speakersLength: 8

ogImage: https://reactsummit.asia/img/ogImage.png
ogUrl: https://reactsummit.asia
---

{% extends "layouts/_layout.html" %}

{% block heroScript %}
{% include "partials/js/_filter-hero-buttons.html" %}
{% endblock %}

{% block content %}

{% include "partials/sections/_header.html" %}

<div class="main js-main">
	{% for section in pages[pageKey].sections %}

	{% if section.key == 'Hero' %}
	{% set heroData = section %}
	{% include "parts/_hero.html" %}
	{% endif %}

	{% if section.key == 'Event' %}
	{% set eventData = section %}
	{% include "parts/_event.html" %}
	{% endif %}

	{% if section.key == 'Features' %}
	{% set featureData = section %}
	{% include "partials/_features-gridV2.html" %}
	{% endif %}

	{% if section.key == 'Techs' %}
	{% set techData = section %}
	{% include "partials/sections/_techs.html" %}
	{% endif %}


	{% if section.key == 'Speakers' %}
	{% set speakersData = section %}
	{% include "partials/sections/_speakers.html" %}
	{% endif %}

	{% if section.key == 'PastSpeakers' %}
	{% set pastSpeakersData = section %}
	{% include "partials/sections/_pastSpeakers.html" %}
	{% endif %}

	{% if section.key == 'FollowUs' %}
	{% set followUsData = section %}
	{% include "partials/sections/_contact-formV2.html" %}
	{% endif %}

	{% if section.key == 'ProgramCommittee' %}
	{% set committeeData = section %}
	{% include "partials/sections/_committee.html" %}
	{% endif %}

	{% if section.key == 'Workshops' %}
	{% set workshopsListData = section %}
	{% include "partials/sections/_workshops-listV2.html" %}
	{% endif %}

	{% if section.key == 'Multipass' %}
	{% set multipassData = section %}
	{% include "partials/sections/_multipassV2.html" %}
	{% endif %}

	{% if section.key == 'Prices' %}
	{% set pricesData = section %}
	{% include "partials/sections/_prices.html" %}
	{% endif %}

	{% if section.key == 'FullTicket' %}
	{% set fullTicketData = section %}
	{% include "partials/sections/_full-ticket.html" %}
	{% endif %}

	{% if section.key == 'Sponsors' %}
	{% set sponsorsData = section %}
	{% include "partials/sections/_sponsors.html" %}
	{% endif %}


	{% endfor %}





	{% if pages[pageKey].pageSections.videoWidget %}
	{% include "partials/_video-widget.html" %}
	{% endif %}




	{% if pages[pageKey].pageSections.lineUp %}
	{% include "partials/_line-up.html" %}
	{% endif %}


	{% if pages[pageKey].pageSections.advicers %}
	{% include "partials/_advicersV2.html" %}
	{% endif %}


	{% if pages[pageKey].pageSections.schedule %}
	<div class="schedule-btn-wrap" id="schedule">
		<div class="container">
			<a class="btn btn--huge" href="{{ pagesPieceOfTexts.scheduleBtn__linkInPerson if inPerson else pagesPieceOfTexts.scheduleBtn__link }}">
				{{ pagesPieceOfTexts.scheduleBtn__text | safe }} {{mixins.icon('arrow-big')}}
			</a>
		</div>
	</div>
	{% endif %}


	{% if pages[pageKey].pageSections.extended %}
	{% include "partials/_extended-program.html" %}
	{% endif %}


	{% if pages[pageKey].pageSections.interactiveSessions %}
	{% include "partials/_interactive-sessions.html" %}
	{% endif %}

	{% if customContent.videoRooms and pages[pageKey].pageSections.videoRooms %}
	{% include "partials/_video-rooms.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.randomRarty %}
	{% include "partials/_random-party.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.party %}
	{% include "partials/_party.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.tours %}
	{% include "parts/_tours.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.location %}
	{% include "partials/_location.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.fleet %}
	{% include "partials/_fleet.html" %}
	{% endif %}

	{# {% if pages[pageKey].pageSections.awards %}
	{% include "partials/_awards.html" %}
	{% endif %} #}

	{% if pages[pageKey].pageSections.givingBack %}
	{% include "partials/_back-to-community.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.osaAward %}
	{% include "partials/_osa-award.html" %}
	{% endif %}



</div>

{% include "partials/sections/_footerV2.html" %}

{% if pages[pageKey].pageSections.popupSubscription %}
{% include "partials/_popup-subscription.html" %}
{% endif %}

{% include "partials/_price-increase.html" %}
{% include "partials/_notice-panel.html" %}

{#{% include "partials/_no-public-access.html" %}#}

{% endblock %}