---
pageKey: schedule
headerBtn: true
sponsorsDescription: true
fakeLinks: true
remoteSwitchLink: schedule-offline

ogImage: https://reactsummit.asia/img/ogImage.png
ogUrl: https://reactsummit.asia

canonicalUrl: schedule
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
	{% include "partials/_hero-inner.html" %}

	{% include "partials/_scheduleV2.html" %}
	{% include "partials/_footerV2.html" %}
</div>

{% endblock %}
