.icon-arrow2-l {
    width: 0.53em;
    height: 1em;
    fill: initial;
  }
  .icon-arrow2-r {
    width: 0.53em;
    height: 1em;
    fill: initial;
  }
  .icon-discord {
    width: 1.46em;
    height: 1em;
    fill: initial;
  }
  .icon-equal {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-facebook {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-gh {
    width: 1.02em;
    height: 1em;
    fill: #f59423;
  }
  .icon-in {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-instagram {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-mastodon {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-md {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-med {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-menu {
    width: 1.33em;
    height: 1em;
    fill: #000;
  }
  .icon-p-close {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-p-marker {
    width: 0.8em;
    height: 1em;
    fill: #9A9A9A;
  }
  .icon-p-notification {
    width: 0.82em;
    height: 1em;
    fill: #9A9A9A;
  }
  .icon-p-stars {
    width: 0.89em;
    height: 1em;
    fill: #9A9A9A;
  }
  .icon-portal {
    width: 0.79em;
    height: 1em;
    fill: initial;
  }
  .icon-site {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-spatial {
    width: 0.62em;
    height: 1em;
    fill: initial;
  }
  .icon-tiktok {
    width: 0.87em;
    height: 1em;
    fill: #585858;
  }
  .icon-tw {
    width: 1em;
    height: 1em;
    fill: #83F35D;
  }
  .icon-twitter {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-vertical-scroll {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-video {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-yb {
    width: 1em;
    height: 1em;
    fill: #000;
  }
  .icon-youtube {
    width: 1em;
    height: 1em;
    fill: #000;
  }
  