---
pageKey: main
headerBtn: true
sponsorsDescription: true
fakeLinks: true

ogImage: https://webgamedevsummit.com/img/ogImage.png
ogUrl: https://webgamedevsummit.com
---

{% extends "layouts/_layout.html" %}

{% block heroScript %}
{% include "partials/js/_filter-hero-buttons.html" %}
{% endblock %}

{% block content %}

{% include "partials/_header.html" %}



<div class="main js-main">
  {% include "partials/_hero.html" %}

  {% if pages[pageKey].pageSections.event %}
  {% include "partials/_event.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.videoWidget %}
  {% include "partials/_video-widget.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.features %}
  {% include "partials/_features.html" %}
  {% endif %}

  <div class="light">
    {% if pages[pageKey].pageSections.speakers %}
    {% include "partials/_speakers.html" %}
    {% endif %}

    {% if pages[pageKey].pageSections.advicers %}
    {% include "partials/_advicers.html" %}
    {% endif %}

    {% if pages[pageKey].pageSections.MCs %}
    {% include "partials/_mcs.html" %}
    {% endif %}

    {% if pages[pageKey].pageSections.schedule %}
    <div class="container">
      <a class="btn btn--huge" href="{{ pagesPieceOfTexts.scheduleBtn__linkInPerson if inPerson else pagesPieceOfTexts.scheduleBtn__link }}">
        {{ pagesPieceOfTexts.scheduleBtn__text | safe }}
      </a>
    </div>
    {% endif %}
  </div>

  {% if pages[pageKey].pageSections.evening %}
  {# {% include "partials/_evening-programme.html" %} #}
  {% endif %}




  {% if pages[pageKey].pageSections.lightningTalks %}
  {% include "partials/_lightning-talks.html" %}
  {% endif %}

  <div class="light">
    {% if pages[pageKey].pageSections.extended %}
    {% include "partials/_extended-program.html" %}
    {% endif %}

    {% if pages[pageKey].pageSections.committee %}
    {% include "partials/_committee.html" %}
    {% endif %}

    {% if pages[pageKey].pageSections.multipass %}
    {% include "partials/_multipass.html" %}
    {% endif %}

    {% if pages[pageKey].pageSections.prices %}
    {% include "partials/_pricesV3.html" %}
    {% endif %}
    {% if pages[pageKey].pageSections.workshopList %}
    {% include "partials/_workshops-listV2.html" %}
    {% endif %}
    {% if pages[pageKey].pageSections.fullTicket %}
    {% include "partials/_full-ticket.html" %}
    {% endif %}
    {% if pages[pageKey].pageSections.interactiveSessions %}
    {% include "partials/_interactive-sessions.html" %}
    {% endif %}
    {% if pages[pageKey].pageSections.freeTicket %}
    {% include "partials/_free-ticket.html" %}
    {% endif %}
  </div>

  <div class="light">
    {% if customContent.videoRooms %}
    {% include "partials/_video-rooms.html" %}
    {% endif %}

    {% if pages[pageKey].pageSections.randomRarty %}
    {% include "partials/_random-party.html" %}
    {% endif %}

    {% if pages[pageKey].pageSections.zoomBars and customContent.zoomBars %}
    {% include "partials/_zoom-bars.html" %}
    {% endif %}
  </div>

  {% if pages[pageKey].pageSections.quake %}
  {% include "partials/_info-block.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.hosts %}
  {% include "partials/_hosts.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.media %}
  {% include "partials/_media.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.contact %}
  {% include "partials/_contact-form.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.givingBack %}
  {% include "partials/_back-to-community.html" %}
  {% endif %}

  {% if pages[pageKey].pageSections.sponsors %}
  {% include "partials/_sponsors.html" %}
  {% endif %}


  {% include "partials/_footerV2.html" %}

  {% if pages[pageKey].pageSections.popupSubscription %}
  {% include "partials/_popup-subscription.html" %}
  {% endif %}
</div>
{% include "partials/_price-increase.html" %}
{% include "partials/_notice-panel.html" %}

{% endblock %}