---
pageKey: workshops_alt
headerBtn: true
speakersMod: speakers_center no-tags
speakersTitle: Trainers

ogImage: https://webgamedevsummit.com/img/ogImage.png
ogUrl: https://webgamedevsummit.com
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
  {% include "partials/_hero-workshops.html" %}

  <div class="light">
    {% include "partials/_workshops-3h.html" %}
    {% include "partials/_speakers-3h.html" %}
  </div>

  {% include "partials/_footer.html" %}
</div>
{% endblock %}
