---
logoPathToIntro: true
pageKey: main
fakeLinks: true
---

{% extends "layouts/_layout.html" %}

{% block content %}
<div class="main-page js-main-page">
  {% if pages[pageKey].pageSections.sections.header %}
    {% include "parts/_header.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.hero %}
    {% include "parts/_hero.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.welcome %}
    {% include "parts/_welcome.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.program %}
    {% include "parts/_program.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.video %}
    {% include "parts/_video.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.features %}
    {% include "partials/_features.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.speakers %}
    {% include "parts/_speakers.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.mcs %}
    {% include "parts/_mcs.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.committee %}
    {% include "parts/_committee.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.schedule %}
    <div class="container" id="schedule">

      <a class="btn btn--huge" href="{{ pagesPieceOfTexts.scheduleBtn__linkInPerson if inPerson else pagesPieceOfTexts.scheduleBtn__link }}">{{ pagesPieceOfTexts.scheduleBtn__text }} {{own_mixins.icon('arrow_r')}}</a>

    </div>
  {% endif %}
  {% if pages[pageKey].pageSections.sections.multipass %}
    {% include "partials/_multipass.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.prices %}
    {% include "partials/_pricesV2.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.fullTicket %}
    {% include "parts/_full-ticket.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.location %}
    {% include "parts/_location.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.city %}
    {% include "parts/_city.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.talks %}
    {% include "parts/_talks.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.videoRooms %}
    {% include "parts/_video-rooms.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.workshops %}
    {% include "parts/_workshops.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.fun %}
    {% include "parts/_fun.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.quake %}
    {% include "parts/_quake.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.diversity %}
    {% include "parts/_diversity.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.sponsors %}
    {% include "parts/_sponsors.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.experience %}
    {% include "parts/_experience.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.footer %}
    {% include "partials/_footerV2.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.popupSubscription %}
    {% include "partials/_popup-subscription.html" %}
  {% endif %}
</div>
{% endblock %}
