---

pageKey: jobs
confName: rdb

canonicalUrl: react-jobs

---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_headerV4.html" %}
<div class="inner-page react-jobs">

	{% include "parts/_inner-jobs.html" %}
	<section class="section section--inner">
		<div class="section__content">
			{% for job in jobs %}
			{% include "parts/jobs/_item.html" %}
			{% endfor %}
		</div>
	</section>
	{% include "parts/_sponsors.html" %}

</div>
{% include "partials/_footerV2.html" %}
{% endblock %}