---

pageKey: perks

innerPage: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="inner-page react-jobs">
	{% include "parts/_header.html" %}
	{% include "parts/_inner-perks.html" %}
  <section class="section section--inner">
    <div class="section__content">
      {% for perk in extendeds.perks %}<div class="article">
        <div class="article__left">
          {{ perk.slogan | safe }}
        </div>
        <h2>{{ perk.title | safe }}</h2>
        {% if perk.image %}
        <div class="article__img article__img--lg">
          <a href="{{ perk.registerLink }}" target="_blank">
            <picture class="js-lazy-image">
              <source srcset="{{mixins.imageUrl(perk.image.handle, "resize=fit:clip,height:500,width:500/output=format:webp", perk.image.mimeType)}}" type="image/webp">
              <img src="{{mixins.imageUrl(perk.image.handle, "resize=fit:clip,height:500,width:500/output=format:png", perk.image.mimeType)}}"
                alt="{{perk.image.alt}}"
                width="{{perk.image.width}}"
                onclick={{ ga_mixins.sendGAEvent({ values: 'name:' + perk.image.alt + ';', category: 'perk.images-click', isAuth: not fakeLinks }) }}
              >
            </picture>
          </a>
        </div>
        {% endif %}
        <div class="paragraph">
          {{ perk.subtitle | safe }}
        </div>
        <div class="paragraph-sm">
          {{ perk.description | safe }}
        </div>
        <blockquote>
          <a href="{{ perk.registerLink }}" target="_blank">More details...</a>
        </blockquote>
      </div>
      {% endfor %}
    </div>
  </section>
	{% include "parts/_sponsors-jobs.html" %}
	{% include "partials/_footerV2.html" %}
</div>
{% endblock %}
