---

pageKey: jobs

innerPage: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="inner-page react-jobs">
	{% include "parts/_header.html" %}
	{% include "parts/_inner-perks.html" %}
  <section class="section section--inner">
    <div class="section__content">
      {% for job in extendeds.perks %}
        {% include "parts/perks/_item.html" %}
      {% endfor %}
    </div>
  </section>
	{% include "parts/_sponsors-jobs.html" %}
	{% include "partials/_footerV2.html" %}
</div>
{% endblock %}
