---
pageKey: schedule
followUsTall: true
inner: true
innerPage: true
fakeLinks: true
remoteSwitchLink: '/schedule-offline'
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "parts/_header.html" %}

  <main class="content">

    <section class="section">
      <div class="container">

        {% if pages[pageKey].pageSections.schedule %}
        {% include "partials/_scheduleV2.html" %}
        {% endif %}

      </div>
    </section>
  </main>

{% include "partials/_footerV2.html" %}

{% endblock %}
