---
pageKey: workshops
innerPage: true
confName: rdb
canonicalUrl: workshops
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_headerV4.html" %}

<div class="inner-page">

	{% include "parts/_inner-workshops.html" %}

	{% for workshop in workshops %}
	{% if not workshop.includedToPackage %}
	{% include "parts/workshops/_item.html" %}
	{% endif %}
	{% endfor %}

	{% include "parts/_workshop-trainers.html" %}

</div>
{% include "partials/_footerV2.html" %}

{% endblock %}