.sec-articles

	color: $white
	&__head
		@extend .section__head
	&__title
		font-size: 32px
		line-height: 1.39
		text-align: center
		max-width: 727px
		margin: 0 auto

		+sm
			font-size: 28px
	&__description
		text-align: center
		font-size: 22px
		max-width: 627px
		margin: 32px auto 0
		+md
			margin-top: 24px
	&__content
		padding: 0 40px
		+md
			padding: 0 20px

.article
	padding: 80px 0
	border-bottom: 1px solid #202421
	+md
		padding: 32px 0
	&:first-child
		padding-top: 0
	&:last-child
		padding-bottom: 0
		border-bottom: none

	&__inner
		display: flex

		+sm
			flex-direction: column
	&__img
		width: 47%
		margin-right: 60px
		flex-shrink: 0
		padding-top: 5px
		max-width: 700px
		+md
			width: 36%
			margin-right: 40px
		+sm
			margin-right: auto
			margin-left: auto
			width: 100%
			margin-bottom: 32px
			padding-top: 0
		img
			max-width: 100%
			width: auto
			margin: 0 auto
			display: block
			max-height: 400px

	&__content
		flex: 1
	&__title
		font-size: 26px
		color: $white
		+bold
		margin-bottom: 35px
		+md
			margin-bottom: 15px
		+sm
			font-size: 22px
	&__description
		color: #888
		font-size: 16px
		line-height: 1.8

		letter-spacing: 1.1px
		+md
			font-size: 14px
		ul
			list-style: disc
			list-style-position: inside
			margin-bottom: 16px

		a
			color: #fff

		p
			&:not(:last-child)
				margin-bottom: 16px
				+md
					margin-bottom: 10px
	&__link
		text-decoration: none
		color: #00ff00
		font-size: 14px
		text-transform: uppercase
		display: inline-block
		margin-top: 32px
		&:hover
			text-decoration: underline

	&__btns
		display: flex
		gap: 50px
		margin-top: 40px
		+md
			margin-top: 24px
