.s-contact-form
	padding: 100px 0
	background: $black

	+md
		padding: 80px 0
	+sm
		padding: 60px 0

.contact-form
	text-align: center

	&__title
		text-transform: uppercase
		line-height: 1.28
		font-weight: 900
		font-size: clamp(30px, 6vw, 48px)

	&__desc
		font-size: clamp(16px, 5vw, 20px)
		max-width: 560px
		margin: 18px auto
		line-height: 1.32
		opacity: 0.6

	&__form
		margin: 0 auto
		max-width: 658px
		width: 100%
		margin: clamp(32px, 5vw, 64px) auto 0

	&__field
		position: relative

	&__input
		height: 68px
		width: 100%
		border-radius: 15px
		padding: 0 210px 0 30px
		font-size: 16px
		background: #181818
		color: $white
		font-weight: 500
		+medium

		&:hover
			background: $black2

		+xs
			height: 58px
			padding: 0 50px 0 30px

		&::placeholder
			transition: all ease 0.1s
			+medium
			color: rgba(#fff, 0.7)

	&__submit
		font-size: 18px
		border-radius: 14px
		position: absolute
		top: 0px
		right: 0px
		bottom: 0px
		border: 1px solid $gray
		min-height: 0
		padding: 0 20px
		min-width: 186px
		background: $black
		display: flex
		align-items: center
		justify-content: center
		font-weight: 500
		transition: all ease 0.1s
		+medium

		&:hover
			background: $black2

			&:after
				content: ""
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				border-radius: 15px
				border: 1px solid transparent
				background: linear-gradient(90deg, #B974A0 0%, #7D7DC3 32.65%, #6BA7BE 62.24%, #A1AF7E 100%) border-box
				-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0)
				-webkit-mask-composite: destination-out
				mask-composite: exclude
				transition: all ease 0.1s

		span
			display: block
			color: $white

			+xs
				display: none

		.icon
			fill: $white
			width: 16px
			height: 15px
			display: none

			+xs
				display: block

		+xs
			height: 56px
			width: 56px
			top: 1px
			right: 1px
			bottom: 1px
			font-size: 16px
			min-width: 40px

	.social
		display: flex
		flex-wrap: wrap
		gap: 5px
		margin: 20px auto
		justify-content: center

		&__item
			margin: 0

		&__link
			width: 32px
			height: 32px
			display: flex
			justify-content: center
			align-items: center
			border-radius: 10px
			transition: all ease 0.1s

			&:hover
				background: $gray

			.icon
				width: 22px
				height: 22px
				fill: $white
				&-tiktok, &-instagram
					transform: scale(0.8)
