.features
	background: #000
	margin-block: 1px
	.container
		position: relative
		z-index: 2
	.section__title
		@extend .section__title--lg

.features-block
	display: grid
	grid-template-columns: 38% 1fr 1fr
	grid-template-rows: repeat(2, 1fr)
	gap: 16px
	+md
		grid-template-columns: 1fr
		grid-template-rows: auto
	+sm

		gap: 12px

	&__item
		position: relative
		display: flex
		flex-direction: column
		justify-content: flex-end
		gap: 28px 40px
		border-radius: 40px
		background: linear-gradient(40deg, rgba(85, 52, 102, 1) 0%, rgba(31, 22, 44, 1) 30%, rgba(6, 6, 6, 1) 100%)
		backdrop-filter: blur(12px)
		padding: 40px
		min-width: 0
		grid-column: span 2
		+md
			grid-column: auto
		+sm
			padding: 24px 24px 32px
			border-radius: 24px
		&:before
			content: ''
			position: absolute
			inset: 0
			padding: 1px
			border-radius: inherit
			background: linear-gradient(-140deg,rgba(255, 255, 255, 0.2) 0,rgba(87, 69, 220, 0.4) 50%,rgba(219,81,225,.8) 100%)
			-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
			-webkit-mask-composite: destination-out
			mask-composite: exclude
			pointer-events: none
		&:first-child
			grid-row: span 2
			grid-column: span 1
			+md
				grid-column: auto
				grid-row: auto
				flex-direction: row
				align-items: center
			+sm
				flex-direction: column
				align-items: flex-start
			.features-block__content
				grid-template-columns: 1fr
				+md
					width: calc(50% - 10px)
				+sm
					width: 100%
		&:last-child
			.features-block__back
				margin-top: -40px
				overflow: hidden
				+sm
					margin-top: -24px
				img
					margin-top: -40px
					+sm
						margin-top: -20px

		&:nth-child(2)
			+xxs
				.features-block__back
					margin-left: -24px
					margin-right: -24px
					picture
						margin-left: -40px
						margin-right: -40px
		&:nth-child(3)
			+xxs
				.features-block__back
					margin-left: -24px
					margin-right: -24px
					picture
						margin-left: -20px
						margin-right: -20px
	&__content
		display: grid
		align-items: flex-end
		grid-template-columns: 1fr 1fr
		gap: 20px 24px
		+sm
			grid-template-columns: 1fr
	&__title
		position: relative
		font-size: 40px
		line-height: 1.1
		text-transform: capitalize
		letter-spacing: -0.02em
		z-index: 2

		+tablet
			font-size: 32px

	&__desc
		position: relative
		font-size: 16px
		line-height: 1.2
		z-index: 2
		font-weight: 400
		max-width: 340px

	&__back
		margin: auto
		max-width: 611px
		flex: 1
		overflow: hidden
		display: flex
		align-items: center
		justify-content: center
		+md
			max-width: 500px

	&__back-pic
		display: block
		max-width: 100%
		max-height: 410px
		object-fit: cover
		+md
			max-height: 300px
		+xs
			max-height: 260px
