.s-multipass
	position: relative
	padding: clamp(50px, 5vw, 100px) 0
	border-bottom: 3px solid $gray2

	.container
		position: relative
		z-index: 1
		max-width: 1190px

.multipass

	&__head
		display: flex
		max-width: 1000px
		margin: clamp(14px, 2vw, 22px) 0
		gap: 0 56px

		+sm
			flex-direction: column
			align-items: center
			text-align: center

	&__title
		display: flex
		align-items: center
		letter-spacing: 0.01em
		font-size: clamp(30px, 6vw, 64px)
		+black
		line-height: 1.32
		color: $white
		flex: 0 1

		+sm
			margin: 0 0 clamp(30px, 6vw, 80px)

	&__content
		display: flex
		margin: clamp(60px, 9vw, 128px) auto 0

		+sm
			flex-direction: column

	&__desc
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		flex: 0 0 300px
		text-align: center
		margin-top: 5px

		+sm
			flex: 1 1

	&__card
		+sm
			margin-bottom: 30px

	&__tip
		font-size: clamp(18px, 3vw, 24px)
		line-height: 1.36

	&__equals
		display: none

	&__btn
		@extend .btn--gradient
		margin: 30px 0 0
		width: 100%

	
.visa-card
	position: relative
	width: 422px
	height: 248px

	+md
		width: 234px
		height: 140px

	+sm
		margin: 0 auto

	&:before
		content: ''
		position: absolute
		width: 225px
		height: 154px
		left: 50%
		top: 50%
		border-radius: 50%
		transform: translate(-50%, -50%)
		background: linear-gradient(90deg, #EE6431 2.54%, #6565FF 21.28%, #A7A7FF 33.52%, #6DA4BF 44.52%, #FF9022 68.61%, #FFD0A8 80.79%, #FDAC5C 92.51%), #000000
		z-index: -1

		+md
			width: 170px
			height: 120px

	// &:after
		content: ''
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		width: 1000px
		height: 1000px
		border-radius: 50%
		margin: 0
		background: rgba(2, 254, 57, 0.2)
		z-index: -2
		background: #02fe39
		pointer-events: none
		background: radial-gradient(circle, rgba(255, 230, 0, 0.12) 0%, rgba(0, 0, 0, 0) 65%)

	&__card
		position: relative
		align-items: center
		width: 422px
		height: 248px
		backdrop-filter: blur(40px)
		border-radius: 16px
		background: rgba(255, 255, 255, 0.05)
		box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.3)
		border: 1px solid transparent
		border-color: rgba(255, 255, 255, 0.24)
		z-index: 1
		display: flex
		text-align: left
		padding: 0 70px

		+md
			width: 234px
			height: 140px
			padding: 0 28px

	&__img
		margin: 0 10px 0 0

		.icon-face
			width: 104px
			height: 112px
			fill: #fff

			+md
				width: 46px
				height: 58px

	&__desc

		h3
			+bold
			font-weight: 800
			font-size: 32px
			text-transform: uppercase
			line-height: 1.24
			margin: 0 0 2px

			+md
				font-size: 16px

		p
			font-size: 12px
			margin: 5px 0 0
			line-height: 0.9

			+md
				font-size: 10px

	&__side
		font-size: 14px
		font-weight: 500
		position: absolute
		right: 0
		top: 0
		bottom: 0
		padding: 25px 18px
		transform: rotate(180deg)
		opacity: 0.4
		writing-mode: vertical-lr
		display: flex
		justify-content: space-between
		display: none

		+md
			padding: 16px 10px
			font-size: 10px

		.icon
			width: 18px
			height: 18px
			fill: $white

			+md
				width: 14px
				height: 14px

.multipass-list
	width: 100%
	margin: auto -80px auto 0
	padding: 2px 0
	+laptop
		margin: auto 0

	a
		+medium
		font-size: 16px
		position: absolute
		left: 0
		top: 0
		right: 0
		z-index: 2
		bottom: 0
		color: $themeColor
		display: flex
		align-items: center
		justify-content: center
		opacity: 0
		transition: all ease .2s

		&:hover, &:focus-visible
			
			text-decoration: underline
			opacity: 1
			& ~ picture img
				opacity: 0.2



	&__item
		position: relative
		display: flex
		align-items: center
		justify-content: center
		height: 100%
		height: 100px

		img
			display: block
			max-width: 94%
			height: auto
			margin: auto
			opacity: 1
			transition: all ease .2s
		.icon-plus
			position: absolute
			left: -28px
			top: 50%
			transform: translateY(-50%)
			display: block
			content: ''
			width: 24px
			height: 24px
			opacity: 1
			fill: #fff
			transition: all ease .2s

		&.swiper-slide
			visibility: hidden
		&.swiper-slide-next,
		&.swiper-slide-prev,
		&.swiper-slide-next ~ .swiper-slide,
		&.swiper-slide-active
			visibility: visible
		&.swiper-slide-active
			.icon-plus
				opacity: 0
