.s-prices
	color: #fff
	padding: clamp(50px, 5vw, 100px) 0
	background: $black

	.container
		max-width: 1200px

		+tablet
			padding: 0

		+md
			padding: 0

		+sm
			padding: 0

.prices
	font-size: 16px
	position: relative

	&__tip
		font-style: 14px
		font-weight: 700

	&__countdown
		position: absolute
		top: 126px
		font-size: 18px
		left: 0
		right: 0
		text-align: center
		line-height: 0.9
		text-transform: uppercase
		font-weight: 900
		color: #00FF000D
		letter-spacing: 0.05em
		display: none

		+sm
			position: relative
			top: 0

		b
			font-weight: 900
			display: block
			font-size: clamp(32px, 16vw, 170px)

			+sm
				font-size: clamp(32px, 14vw, 170px)

	&__list
		position: relative
		padding: 0 10px 0
		margin: 0
		list-style: none
		// display: flex

		+sm
			padding: 30px 10px 0

	&__item
		box-sizing: border-box
		display: flex
		flex-direction: column
		// flex: 1 1 auto
		text-align: center
		padding: 16px 10px 0
		// min-width: 300px

		&:not(:first-child)
			&:after
				content: ''
				position: absolute
				left: -25px
				top: 0px
				bottom: 0
				border-left: 1px solid $gray2

				+tablet
					left: -15px

				+sm
					left: -10px


		+sm
			padding: 20px 10px 20px
			width: 310px

	&__title
		font-size: 24px
		line-height: 1.68
		font-weight: 700
		margin: 0 0 10px
		display: flex
		flex-direction: column-reverse

		em
			font-style: normal

		p
			&:first-child
				min-height: 92px
				display: flex
				align-items: center
				justify-content: center
				flex-direction: column

				+sm
					min-height: 74px


			&:last-child
				font-size: 14px
				font-weight: 400
				text-transform: none
				margin: 0 0 15px
				opacity: 0.4

		+sm
			margin: 0 0 30px

	&__price
		+regular
		color: $white
		margin: 0

		h4
			+black
			font-size: 60px
			line-height: 1
			margin: 12px 0 12px

		strong
			+black
			font-size: clamp(68px, 7vw, 94px)
			color: $white
			margin: 0 0 20px
			line-height: 1

		em
			font-size: clamp(68px, 7vw, 94px)
			font-style: normal
			display: inline-block
			position: relative
			margin: 0
			+bold

		&+.prices__content
			margin-top: clamp(14px, 4vw, 36px)

	&__price-tip
		position: relative
		display: inline-flex
		font-size: 14px
		color: #FF0000
		font-weight: 900
		margin: 0 auto
		padding: 8px 3px

		a
			color: $themeColor

		&:after
			content: ""
			position: absolute
			left: 0px
			right: 0px
			top: 16px
			height: 2px
			background: #FF0000

	&__content
		display: flex
		flex-direction: column
		border-radius: 15px
		padding: 18px 20px 0
		margin: clamp(14px, 4vw, 36px) 0 0
		height: 100%

		+md
			padding: 18px 0 0


	&__desc
		text-align: left
		font-size: 14px
		margin: 0 0 40px
		line-height: 1.32
		opacity: 0.4

		p
			position: relative

			&:not(:first-child)
				margin: 15px 0 0

				+sm
					margin: 14px 0 0

		+sm
			margin: 15px 0 40px
					
		a 
			color: $themeColor

	&__btn
		box-sizing: border-box
		margin: auto auto 0
		@extend .btn--border

	.swiper-slide
		height: auto
		
		+sm
			width: 90%

	.prices-slider-prev,
	.prices-slider-next
		--spacing: -90px
		position: absolute
		left: var(--spacing)
		top: 50%
		border: 3px solid $gray2
		width: 54px
		height: 54px
		border-radius: 50%
		z-index: 2
		transition: all ease 0.2s
		cursor: pointer
		display: flex
		align-items: center
		justify-content: center
		background: rgba(22, 25, 23, 0.8)

		+laptop
			top: 35%
			--spacing: 20px

		&:hover
			cursor: pointer
			border-color: $themeColor2

		.icon
			width: 10px
			height: 17px
			fill: $themeColor2

		&.swiper-button-disabled
			opacity: 0
			visibility: hidden

	.prices-slider-next
		left: auto
		right: var(--spacing)

