.s-speakers,
.section.mc
	background: #000
	margin-block: 1px
	.section__title
		text-align: center

	.container
		position: relative
		z-index: 2

.speakers-list,
.mc-list
	display: grid
	gap: 24px 20px
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
	+sm
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr))
	+xs
		grid-template-columns: 1fr 1fr
	+xxs
		gap: 20px 10px

	&__item_cfp
		text-align: center
		.cfp
			border-radius: 24px
			border: 1px solid rgba(255, 255, 255, 0.08)
			background: rgba(255, 255, 255, 0.02)
			backdrop-filter: blur(12px)
			padding: 40px 24px
			+sm
				padding: 32px 16px
		.speaker
			&__name
				font-size: clamp(24px, 3.5vw, 48px)
				line-height: 1.33
				font-family: DMSerifDisplay, sans-serif

			&__company
				display: block
				margin-top: 12px
				font-size: 14px
				color: rgba(255, 255, 255, 0.60)

	.btn
		margin: 48px 0 0 0
		padding: 0 24px
		width: 100%
		+sm
			font-size: 12px
			padding: 0 12px
			margin-top: 24px
			height: 48px

.speaker
	color: $white
	padding: 24px
	background: $black
	border-radius: 24px
	border: 1px solid rgba(255, 255, 255, 0.10)
	background: rgba(255, 255, 255, 0.02)
	backdrop-filter: blur(20px)
	display: flex
	flex-direction: column
	gap: 12px
	min-width: 0px
	overflow: hidden

	+sm
		padding: 0
		border: none
		backdrop-filter: none
		background: none
		border-radius: 0

	a
		color: $themeColor

	&__tag
		position: absolute
		right: 8px
		top: 8px
		max-width: calc(100% - 12px)
		text-align: right
		background: $black
		padding: 8px 16px
		border-radius: 100px
		font-size: 12px
		font-weight: 500
		+text-overflow
		text-transform: capitalize
		border: 1px solid var(--TLC-white-white-10, rgba(255, 255, 255, 0.10))
		background: var(--TLC-white-white-10, rgba(255, 255, 255, 0.10))
		backdrop-filter: blur(8px)

		+sm
			font-size: 10px
			top: 4px
			right: 4px
			padding: 4px 6px

	&__photo
		position: relative
		aspect-ratio: 1/1
		margin: -24px -24px 12px -24px
		+sm
			margin: 0 0 10px 0
		img
			width: 100%
			height: 100%
			object-fit: cover
			transition: all ease 0.1s
			+sm
				border-radius: 16px

		.activity-holder
			position: absolute
			inset: 0
			z-index: 2
			opacity: 0
			display: flex
			justify-content: center
			align-items: center
			color: #fff
			font-weight: 400
			font-family: DMSerifDisplay, sans-serif
			font-style: italic
			font-size: 20px
			transition: all ease 0.1s
			cursor: pointer
			text-decoration: none
			background: rgba(0, 0, 0, 0.60)
			backdrop-filter: blur(2px)

			&:hover, &:focus-visible
				opacity: 1

	&__head

		&+p
			margin: 40px 0 18px

	&__name
		font-size: 24px
		font-weight: 700
		line-height: 0.92
		+sm
			font-size: 18px

	&__company
		line-height: 1.52
		font-size: 12px
		display: flex
		gap: 4px 8px
		align-items: center

		img
			flex: none
			max-width: 80px
			max-height: 22px
			display: block

	&__talk
		line-height: 1.52
		font-size: 12px

		span
			font-weight: 600
			color: #999

		a
			color: inherit
			text-decoration: none
			&:hover
				text-decoration: underline

	&__desc
		position: relative
		line-height: 1.4
		font-size: 12px
		color: $white
		opacity: 0.5

		p
			word-wrap: break-word
			overflow: hidden
			text-overflow: ellipsis
			display: -webkit-box
			-webkit-line-clamp: 4
			-webkit-box-orient: vertical

			&:not(:first-child)
				display: none

		a
			color: inherit
			text-decoration: none
			&:hover
				text-decoration: underline

	&__socials
		position: relative
		z-index: 1
		display: flex
		gap: 4px
		padding: 0
		margin-top: auto

	&__social-link
		display: flex
		align-items: center
		justify-content: center
		width: 32px
		height: 32px

		.icon
			width: 18px
			height: 18px
			fill: $white
			transition: all ease 0.1s
