.s-teams
  position: relative

  &__decor-diver
    position: absolute
    top: 113px
    left: 50%
    margin: 0 0 0 270px
    width: 356px
    height: 872px
    background: url(../img/decor_diver-2.png) center center
    background-size: cover
    z-index: 0

    +md
      top: 50px
      width: 284px
      height: 694px
      left: auto
      right: 30px
      margin: 0
      opacity: 0.6

    +xs
      top: 100px
      width: 180px
      height: 442px
      left: auto
      right: 30px
      margin: 0


  .container
    padding: 106px 30px 56px

    +md
      padding: 56px 20px 56px

    +sm
      padding: 28px 10px

  .section

    &__title
      font-size: clamp(28px, 5vw, 58px)
      text-align: left
      // font-weight: 600

    &__head-l
      max-width: 850px

