.techs
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr))
  gap: 10px
  margin: 32px 0

  position: relative

  +sm
    margin-left: -20px
    margin-right: -20px
    padding: 0 20px 10px

    overflow: hidden
    overflow-x: auto
    display: flex
  // &:before
  //   content: ''
  //   position: absolute
  //   left: -1000px
  //   right: -1000px
  //   top: 0
  //   bottom: 0
  //   pointer-events: none
  //   border-top: 1px solid $gray

  // &:after
  //   content: ''
  //   position: absolute
  //   left: -1000px
  //   right: -1000px
  //   bottom: 0
  //   bottom: 0
  //   pointer-events: none
  //   border-bottom: 1px solid $gray

  &__item
    display: flex
    margin: 0
    gap: 15px 20px
    flex-direction: column
    padding: 0
    border: 1px solid #1d1d1d
    border-radius: 10px
    background: #1d1d1d
    padding: 25px 20px
    +sm
      width: 240px
      flex: none
    +xs
      padding: 20px 15px

  &__link
    text-decoration: none
    color: #fff
    transition: color .1s

    &:hover
      text-decoration: underline
      color: $themeColor

  &__img-box
    height: 50px
    display: flex
    justify-content: center
    align-items: center
    margin: 0
    flex: 0 0 auto
    display: none

    +xs
      margin: 0 0 0
    picture
      display: block
      height: 100%
    img
      // transform: scale(0.80)
      display: block
      height: 100%
      width: 100%
      object-fit: contain

      +md
        // transform: scale(0.75)

  &__title
    font-size: 18px
    font-weight: 700
    +sm
      font-size: 16px

  &__text
    color: rgba(255,255,255,0.7)
    font-size: 12px
    ul
      list-style-type: disc
      line-height: 1.4
      margin-left: 20px
      li
        margin-bottom: 5px
        &:last-child
          margin-bottom: 0
