.s-topics
	position: relative
	background: #000

	.container
		position: relative
		z-index: 2
	&:before
		content: ''
		position: absolute
		inset: 0
		z-index: 2
		border-top: 1px solid rgba(255, 255, 255, 0.20)
		background: rgba(255, 255, 255, 0.02)
		backdrop-filter: blur(24px)

.topics
	&__slider
		overflow: visible
		padding-block: 1px !important
	&__item
		width: 412px
		padding: 40px
		border-radius: 24px
		overflow: hidden
		position: relative
		z-index: 1
		+tablet
			padding: 32px
		+sm
			width: 290px
			padding: 24px
			border-radius: 16px
		&:before
			content: ''
			position: absolute
			inset: 0
			padding: 1px
			border-radius: inherit
			background: linear-gradient(-65deg,rgba(255, 255, 255, 0.2) 0,rgba(87, 69, 220, 0.4) 70%,rgba(219,81,225,.8) 100%)
			-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
			-webkit-mask-composite: destination-out
			mask-composite: exclude
			pointer-events: none
	&__img
		width: 64px
		height: 64px
		display: flex
		align-items: center
		justify-content: center
		border-radius: 12px
		border: 1px solid rgba(255, 255, 255, 0.20)
		background: rgba(255, 255, 255, 0.05)
		margin-bottom: 36px
		+sm
			width: 48px
			height: 48px
			margin-bottom: 24px
		img
			max-width: 40px
			max-height: 40px
			+sm
				max-width: 30px
				max-height: 30px

	&__title
		font-size: 32px
		font-weight: 600
		text-transform: capitalize
		line-height: 1.1
		+sm
			font-size: 24px
	&__text
		font-size: 16px
		line-height: 1.4
		margin-top: 24px
		+sm
			font-size: 14px
			margin-top: 20px

		ul

			li
				margin-bottom: 8px
				padding-left: 20px
				position: relative
				&:before
					content: "— "
					position: absolute
					left: 0
					top: 2px
					font-size: 12px
					color: rgba(255, 255, 255, 0.40)

				&:last-child
					margin-bottom: 0

	&__link
		text-decoration: none
		color: #fff
		transition: color .1s
		margin-top: 36px

		&:hover
			text-decoration: underline
			color: $themeColor
		a
			color: #F60
			display: inline-flex
			align-items: flex-start
			gap: 12px
			font-size: 14px
			line-height: 1.5
			text-decoration: none
			+md
				font-size: 12px

			&:hover
				text-decoration: none
				span
					border-bottom-color: transparent

			span
				border-bottom: 1px solid

			.icon
				flex: none
				fill: none
				font-size: 18px
