.s-workshops-list
	background: #000
	position: relative
	&:before
		position: absolute
		top: -1px
		left: 0
		width: 100%
		height: 100%
		content: ''
		z-index: 1
		border-top: 1px solid rgba(255, 255, 255, 0.20)
		background: rgba(255, 255, 255, 0.02)
		backdrop-filter: blur(24px)
	.container
		position: relative
		z-index: 1

	&__desc
		display: grid
		grid-template-columns: 1fr 1fr
		gap: 32px
		+md
			display: block
		.section__title, .section__info
			text-align: left !important
			max-width: none !important
		.section__title
			text-transform: capitalize !important
