
.contact-form
	text-align: center

	.section__title
		@extend .section__title--xl

	&__desc
		font-size: 16px
		max-width: 360px
		margin: clamp(24px, 6vw, 48px) auto
		line-height: 1.52

	&__form
		margin: 0 auto
		max-width: 578px
		width: 100%

	&__field
		position: relative

	&__input
		height: 60px
		width: 100%
		border-radius: 30px
		padding: 0 60px 0 30px
		font-size: 22px
		&:focus-visible
			outline-color: $themeColor2 !important

		+xs
			height: 50px

		&::placeholder
			color: $black

	&__submit
		position: absolute
		top: 3px
		right: 3px
		bottom: 3px
		height: 54px
		width: 54px
		border-radius: 50%
		background: $black
		display: flex
		align-items: center
		justify-content: center

		span
			display: none

		.icon
			fill: $themeColor2
			width: 16px
			height: 15px

		&:focus-visible
			background: $themeColor2
			.icon
				fill: $black

		+xs
			height: 46px
			width: 46px
			top: 2px
			right: 2px
			bottom: 2px

	.social
		@extend .social--theme
