.s-diversity
	.section__description
		max-width: 780px
		margin-inline: auto
.diversity

	&__logos
		align-items: center
		flex-wrap: wrap
		display: flex
		justify-content: center
		margin: 0 0 25px

	&__logo
		width: 250px
		margin: 10px 15px

		+sm
			width: 160px

		img
			width: 100%

	&__btns
		display: flex
		justify-content: center
		flex-wrap: wrap
		gap: 16px 20px
		margin-top: 56px
		+sm
			margin-top: 40px
		.btn
			+xs
				font-size: 12px

	&__faces
		display: none

	&__sponsor
		display: block
		margin: 72px auto 50px
		width: 294px
		max-width: 100%

.status-bar
	max-width: 800px
	margin: 0 auto
	display: flex
	flex-direction: column

	&__title
		text-align: center
		font-size: 14px
		color: $white
		margin-top: 68px
		order: 1

	&__line
		width: 100%
		position: relative
		padding-top: 26%

		&:after
			content: ''
			height: 207px
			top: 50%
			transform: translateY(-50%)
			position: absolute
			left: -3.8%
			right: -3.5%
			background: url(../img/bg-diversity.png) center center no-repeat
			background-size: 100%

	&__progress
		position: absolute
		left: 5px
		top: 50%
		transform: translateY(-1px)
		height: 3px
		background: linear-gradient(to right, #99FF00, #00DD3B)
		z-index: 1
		transition: width 1s ease
		+sm
			height: 2px

		&:before
			content: ''
			position: absolute
			left: -4px
			top: 50%
			transform: translate(-50%, -50%)
			width: 15px
			height: 15px
			background: url(../img/diversity-dot.svg) center center no-repeat

		&:after
			content: ''
			position: absolute
			right: -12px
			top: 50%
			transform: translate(-50%, -50%)
			width: 15px
			height: 25px
			background: url(../img/diversity-arrow.svg) center center no-repeat
