.event
	position: relative
	padding: 128px 0 40px
	+laptop
		padding: 80px 0 40px
	+tablet
		padding: 72px 0
	+md
		padding: 103px 0
	+sm
		padding: 40px 0

	.container
		max-width: 1480px

	&__video
		display: none

	&__heading
		+r(1440)
			font-size: 22px
		+tablet
			margin-bottom: 68px
		+md
			margin-bottom: 50px
		+sm
			margin-bottom: 37px

	&__tip
		font-size: 16px
		text-align: center
		margin: clamp(40px, 4vw, 76px) 0 0

		a
			color: $themeColor

	&__suptitle
		text-align: center
		font-size: 33px
		max-width: 540px
		letter-spacing: 0.4px
		line-height: 1.4
		margin: 0 auto 44px
		+r(1480)
			font-size: 24px
			max-width: 100%
			margin-bottom: 14px
		+tablet
			font-size: 29px
			max-width: 530px
			margin-bottom: 46px
		+md
			font-size: 27px
			margin-bottom: 41px
			max-width: 490px
		+sm
			font-size: 24px
			margin-bottom: 25px
			max-width: 100%
	&__title
		margin: 24px auto 42px
		letter-spacing: 0.01em
		text-align: center
		font-size: 94px
		+black
		line-height: 1.0
		text-transform: uppercase
		background: -webkit-linear-gradient(120deg,$themeColor,$themeColorD)
		-webkit-background-clip: text
		-webkit-text-stroke: 5px transparent
		color: #161917
		
		+tablet
			margin-bottom: 51px
		+md
			margin-bottom: 40px
		+sm
			letter-spacing: 0
			margin: 24px 0
		+xs
			letter-spacing: 3.2px

		+ie
			color: #00dd3b
			background: transparent
			.leaf
				color: #00dd3b
				background: transparent
		+xxl
			font-size: 6.2vw

		+laptop
			font-size: 65px
			font-size: 6vw
		//+tablet
			font-size: 46px
		+md
			font-size: 60px
			font-size: 6.2vw
		+sm
			font-size: 36px
			font-size: 6vw
			-webkit-text-stroke: 4px transparent
		+xs
			font-size: 34px

		em
			position: relative
			font-style: normal
			background: linear-gradient(120deg,$themeColor,$themeColorD)
			-webkit-background-clip: text
			color: #161917
			-webkit-text-stroke: 5px transparent

			&:after
				content: ''
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				width: 1500px
				height: 1500px
				border-radius: 50%
				margin: 0
				background: rgba(2, 254, 57, 0.2)
				z-index: -1
				background: rgb(2,254,57)
				background: radial-gradient(circle, rgba(2,254,57,0.12) 0%, rgba(0,0,0,0) 70%)

				+sm
					width: 1000px
					height: 1000px


		strong
			position: relative
			background: linear-gradient(120deg,$themeColor,$themeColorD)
			-webkit-background-clip: text
			color: #161917
			-webkit-text-stroke: 5px transparent

			&:before
				content: ''
				position: absolute
				left: 50%
				top: 50%
				-webkit-transform: translate(-50%,-50%)
				-ms-transform: translate(-50%,-50%)
				transform: translate(-50%,-50%)
				width: 2112px
				height: 2112px
				margin: 0 0 0 0
				background: url(../img/event-bg.svg?v2) center center no-repeat
				z-index: -1

			&:after
				content: ""
				position: absolute
				width: 159%
				height: 70%
				left: 50%
				top: 50%
				-webkit-transform: translate(-49%,-55%)
				-ms-transform: translate(-49%,-55%)
				transform: translate(-49%,-55%)
				background: url(../img/leaf.svg) 50% no-repeat
				background-size: 100% 100%


	&__text
		font-size: 16px
		max-width: 820px
		padding: 0 20px
		line-height: 1.5
		letter-spacing: -0.001em

		p

			&:not(:first-child)
				margin: 12px 0 0

			+first
				margin: 0
		+md
			//margin: 0 -13px
			//letter-spacing: 0
			font-size: 17px
			max-width: 100%
			line-height: 1.5
		+sm
			font-size: 15px
			padding: 0
			margin: 0
			line-height: 1.42
		+xs
			a
				display: block
	&__items
		display: flex
		margin: 72px 0 62px
		justify-content: center
		flex-wrap: wrap
		justify-content: center
		+tablet
			margin: 64px 0
		+sm
			flex-direction: column
			align-items: center
			flex-wrap: wrap
			justify-content: space-between
	&__item
		display: flex
		justify-content: center
		margin: 0 5px 10px
		+sm
			margin: 10px 0 0
			max-width: 300px
			justify-content: center
			align-items: flex-start
			width: 100%

	&__techs-title
		font-size: 16px
		margin: 82px auto 52px
		text-align: center

		+sm
			font-size: 22px
			margin: 62px auto 32px

		+xs
			font-size: 18px
			margin: 52px auto 22px

.e-item
	flex: 1 1 auto
	text-decoration: none
	text-align: center
	color: $white
	display: flex
	flex-direction: column
	background: #131513
	border: 1px solid #2c302d
	+hover
		.e-item__footer
			text-decoration: none
	&__header
		color: #525252
		text-transform: uppercase
		font-size: 14px
		background-color: #131513
		padding: 32px 10px 6px
		position: relative
		border-bottom: 4px dotted #131614

	&__content
		background-color: #131513
		padding: 24px 0 42px
		border-radius: 0 0 8px 8px
		flex-grow: 1
		display: flex
		flex-direction: column
		+tablet
			padding: 23px 0 31px
	&__date
		+medium
		font-size: 60px
		padding: 0 45px
		line-height: 1
		margin-bottom: 36px
		+tablet
			padding: 0 25px
		+sm
			font-size: 46px
			margin-bottom: 26px
		+xs
			margin-bottom: 20px
	&__footer
		font-size: 18px

		a.e-item &
			text-decoration: underline

		a
			color: $white

		br
			display: none
		+tablet
			font-size: 16px

a.e-item:hover
	.e-item__footer
		text-decoration: none

