.s-free-ticket

	.section
		&__title
			line-height: 0.9
			font-weight: 900
			font-size: clamp(42px, 8vw, 94px)
			text-transform: uppercase
			margin-bottom: clamp(32px, 8vw, 80px)

.free-ticket

	&__content
		display: flex
		max-width: 904px
		margin: 0 auto
		gap: 20px 112px
		+md
			gap: 44px
		+sm
			flex-direction: column-reverse

	&__text
		display: flex
		flex-direction: column
		flex: 1 1 385px
		justify-content: center

		+sm
			flex: none
			max-width: 400px
			margin: 0 auto

		.btn
			margin-top: 30px

	&__descr
		font-size: clamp(14px, 4vw, 16px)
		line-height: 1.5

		p
			&:not(:first-child)
				margin: 24px 0 0

	&__img
		flex: 0 0 auto

.badge-img
	position: relative
	width: 400px
	margin: 0 auto
	+sm
		width: 240px
	&:before
		content: ''
		border-radius: 50%
		background: rgba(2, 254, 57, 0.20)
		width: 650px
		height: 650px
		position: absolute
		left: 50%
		z-index: -1
		top: 50%
		transform: translate(-50%, -50%)
		filter: blur(320px)
	&:after
		content: ''
		position: absolute
		right: 120px
		top: -172px
		height: 200px
		width: 42px
		background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)
		z-index: -1
		transform: skew(-32deg)
		border-radius: 0 0 2px 2px

		+sm
			width: 24px
			height: 94px
			right: 66px
			top: -88px
			border-radius: 0 0 1px 1px

	&__card
		position: relative
		padding: 24px 32px 40px
		background: linear-gradient(131deg, rgba(255, 255, 255, 0.40) 18.45%, rgba(255, 255, 255, 0.10) 73.67%)
		box-shadow: 0 4px 22px -2px rgba(0, 0, 0, 0.06)
		backdrop-filter: blur(18px)
		border-radius: 16px
		border: 1px solid rgba(255, 255, 255, 0.4)
		+sm
			padding: 16px 16px 20px
	&__body
		display: flex
		align-items: center
		gap: 20px
		padding-left: 20px
		+sm
			gap: 12px
	&__img

		width: 94px
		height: 94px
		border-radius: 50%
		background: rgba(0, 0, 0, 0.2)
		box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.2)
		display: flex
		align-items: center
		justify-content: center

		+sm
			width: 54px
			height: 54px

		.icon-face
			width: 46px
			height: 58px
			fill: #fff

			+sm
				width: 26px
				height: 34px

	&__desc

		div:first-child
			+bold
			font-size: 28px
			font-weight: 900
			text-transform: uppercase
			line-height: 0.9
			margin: 0 0 2px

			+sm
				font-size: 16px

		div:last-child
			font-size: 12px
			margin: 8px 0 0
			line-height: 0.9

			+sm
				font-size: 8px
				margin: 5px 0 0

	&__barcode
		position: relative
		width: 106px
		height: 20px
		background: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='106.5px' height='20px' viewBox='0 0 106.5 20' style='enable-background:new 0 0 106.5 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M0,0h20v6.7H0L0,0z'/%3E%3Cpath class='st0' d='M0,13.3h6.7V20H0L0,13.3z'/%3E%3Cpath class='st0' d='M6.7,6.7h6.7v6.7l-6.7,0L6.7,6.7z'/%3E%3Cpath class='st0' d='M13.3,13.3l6.7,0V20h-6.7L13.3,13.3z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M27,20V0l3.5,0v20H27z'/%3E%3Cpath class='st0' d='M33.9,20V0l1.2,0v20H33.9z'/%3E%3Cpath class='st0' d='M36.2,20V0l2.3,0v20H36.2z'/%3E%3Cpath class='st0' d='M40.8,20V0L42,0v20H40.8z'/%3E%3Cpath class='st0' d='M43.1,20V0l1.2,0v20H43.1z'/%3E%3Cpath class='st0' d='M45.4,20V0l1.2,0v20H45.4z'/%3E%3Cpath class='st0' d='M47.7,20V0l3.5,0v20H47.7z'/%3E%3Cpath class='st0' d='M54.7,20V0l1.2,0v20H54.7z'/%3E%3Cpath class='st0' d='M57,20V0l2.3,0v20H57z'/%3E%3Cpath class='st0' d='M61.6,20V0l1.2,0v20H61.6z'/%3E%3Cpath class='st0' d='M63.9,20V0L65,0v20H63.9z'/%3E%3Cpath class='st0' d='M71.9,20V0l1.2,0v20H71.9z'/%3E%3Cpath class='st0' d='M74.2,20V0l3.5,0v20H74.2z'/%3E%3Cpath class='st0' d='M81.2,20V0l1.2,0v20H81.2z'/%3E%3Cpath class='st0' d='M83.5,20V0l2.3,0v20H83.5z'/%3E%3Cpath class='st0' d='M88.1,20V0l1.2,0v20H88.1z'/%3E%3Cpath class='st0' d='M90.4,20V0l1.2,0v20H90.4z'/%3E%3Cpath class='st0' d='M92.7,20V0l1.2,0v20H92.7z'/%3E%3Cpath class='st0' d='M95,20V0l3.5,0v20H95z'/%3E%3Cpath class='st0' d='M101.9,20V0l1.2,0v20H101.9z'/%3E%3Cpath class='st0' d='M104.2,20V0l2.3,0v20H104.2z'/%3E%3C/g%3E%3C/svg%3E") center center no-repeat

		+sm
			width: 62px
			height: 12px

	&__stripe
		position: absolute
		width: 52px
		height: 12px
		border: 1px solid rgba(255, 255, 255, 0.5)
		left: 50%
		top: 24px
		transform: translateX(-50%)
		border-radius: 6px
		background: $mainBg

		+sm
			width: 30px
			height: 8px
			top: 12px

		&:before
			content: ''
			position: absolute
			left: -58px
			bottom: 8px
			height: 200px
			width: 42px
			background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)
			transform: skew(32deg)
			border-radius: 0 0 2px 2px

			+sm
				width: 24px
				height: 94px
				left: -29px
				bottom: 5px
				border-radius: 0 0 1px 1px

	&__head
		font-size: 21px
		line-height: 1
		font-weight: 400
		padding: 0 0 20px
		margin-bottom: 32px
		align-items: center
		display: flex
		justify-content: space-between
		position: relative

		+sm
			font-size: 12px
			margin-bottom: 20px

		&:after
			content: ''
			position: absolute
			right: 0
			left: 0
			bottom: 0
			height: 1px
			background: rgba(255, 255, 255, 0.2)
			border-radius: 2px
			box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3)

		.icon
			width: 10px
			height: 10px
			fill: $white

			+sm
				width: 8px
				height: 8px
