.s-line-up
  .section__title
    color: #00DD3B
    background: linear-gradient(92deg, #9F0 3.45%, #00DD3B 92.28%)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.line-up
  &__list
    &-link
      @media (any-hover: hover)
        &:hover, &:focus-visible
          .line-up__list-talk
            color: #fff
            background: linear-gradient(92deg, #9F0 3.45%, #00DD3B 92.28%)
            background-clip: text
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
