.location
	position: relative
	min-height: 700px
	display: flex
	+sm
		min-height: 540px
	.container
		display: flex
		flex-direction: column
		gap: 100px

		+sm
			gap: 80px

	&__top
		position: relative
		padding: 0 50px
		z-index: 2
		max-width: 1000px
		margin: 0 auto
		width: 100%
		min-height: 100px
	&__logo
		max-width: 268px
		margin: 0 auto

		img
			width: 100%

	&__title
		font-size: clamp(24px, 5vw, 34px)
		font-weight: 900
		text-transform: uppercase
		line-height: 1.5
		margin-bottom: 16px

	&__address
		letter-spacing: 0.4px
		font-size: 14px
		line-height: 1.5

		+sm
			font-size: 16px

		.link
			margin-top: 12px
			display: inline-block
			text-transform: uppercase
			font-size: 14px
			&:hover
				text-decoration: none

	&__info
		position: relative
		z-index: 2
		background-color: rgba(#161917, 0.4)
		padding: 35px
		backdrop-filter: blur(10px)
		width: 100%
		max-width: 400px
		margin: auto auto 0
		+xs
			padding: 25px

		.theme-link
			color: $themeColor2

	&__slider
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	&__slide
		background-position: center
		background-repeat: no-repeat
		background-size: cover

		img
			width: 100%
			height: 100%
			object-fit: cover
			filter: brightness(0.5)

	&__arrow
		font-size: 80px
		display: flex
		height: 80px
		justify-content: center
		align-items: center
		margin: 0
		transform: translate(0, -50%)
		+sm
			display: none
		&_prev
			left: 0
		&_next
			right: 0
		svg
			fill: $white
	&__img
		display: none
		position: absolute
		width: 160px
		top: 24px
		right: 24px
		z-index: 1
		+md
			display: none
		img
			width: 100%
