.s-multipass
  position: relative
  padding: clamp(50px, 5vw, 100px) 0

  .container
    position: relative
    z-index: 1

.multipass

  &__head
    display: flex
    max-width: 1000px
    margin: clamp(32px, 4vw, 78px) auto

    +sm
      flex-direction: column
      align-items: center
      text-align: center

  &__title
    display: flex
    align-items: center
    letter-spacing: 0.01em
    font-size: clamp(44px, 8vw, 94px)
    +black
    line-height: 0.9
    text-transform: uppercase
    background: -webkit-linear-gradient(180deg, #fb5d02, #ffe503)
    -webkit-background-clip: text
    -webkit-text-stroke: 5px transparent
    color: #161917

    +sm
      -webkit-text-stroke: 3px transparent
      margin: 0 0 clamp(50px, 6vw, 80px)

  &__content
    margin: clamp(32px, 4vw, 70px) auto clamp(20px, 4vw, 70px)

  &__bottom
    margin: 20px 0 0
    display: flex
    justify-content: center
    align-items: center
    gap: 20px 50px

    +sm
      flex-direction: column

  &__tip
    font-size: clamp(12px, 3vw, 16px)

  &__btn
    padding: 16px 30px

    &:after,
    &:before
      display: none

  
.visa-card
  position: relative
  width: 334px
  height: 198px

  +sm
    width: 234px
    height: 140px

  &:before
    content: ''
    position: absolute
    width: 268px
    height: 268px
    left: 50%
    top: 50%
    border-radius: 50%
    transform: translate(-50%, -50%) rotate(66.58deg)
    background: conic-gradient(from 180deg at 50% 50%, #FE5D02 0deg, #FEC902 43.02deg, #FEF502 146.08deg, #FE5D02 360deg)
    z-index: -1

    +sm
      width: 188px
      height: 188px

  &:after
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 1000px
    height: 1000px
    border-radius: 50%
    margin: 0
    background: rgba(2, 254, 57, 0.2)
    z-index: -2
    background: #02fe39
    pointer-events: none
    background: radial-gradient(circle, rgba(255, 230, 0, 0.12) 0%, rgba(0, 0, 0, 0) 65%)

  &__card
    position: relative
    align-items: center
    width: 334px
    height: 198px
    backdrop-filter: blur(20px)
    border-radius: 16px
    background: linear-gradient(131.33deg, rgba(255, 255, 255, 0.4) 18.45%, rgba(255, 255, 255, 0.1) 73.67%)
    box-shadow: 0px 3.58195px 22.3872px -2.68646px rgba(0, 0, 0, 0.06)
    border: 1px solid transparent
    border-color: #fef693 #8e8e81 #a9984b #b9a053
    z-index: 1
    display: flex
    text-align: left
    justify-content: center

    +sm
      width: 234px
      height: 140px

  &__img
    margin: 0 14px 0 0

    .icon-face
      width: 66px
      height: 84px
      fill: #fff

      +sm
        width: 46px
        height: 58px

  &__desc

    h3
      +bold
      font-size: 24px
      text-transform: uppercase
      line-height: 0.9
      margin: 0 0 2px

      +sm
        font-size: 16px

    p
      font-size: 12px
      margin: 5px 0 0
      line-height: 0.9

      +sm
        font-size: 10px

  &__side
    font-size: 14px
    font-weight: 500
    position: absolute
    right: 0
    top: 0
    bottom: 0
    padding: 25px 18px
    transform: rotate(180deg)
    opacity: 0.4
    writing-mode: vertical-lr
    display: flex
    justify-content: space-between

    +sm
      padding: 16px 10px
      font-size: 10px

    .icon
      width: 18px
      height: 18px
      fill: $white

      +sm
        width: 14px
        height: 14px

.multipass-list
  width: 100%

  a
    +medium
    font-size: 16px
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    color: $themeColor
    display: flex
    align-items: center
    justify-content: center
    opacity: 0
    transition: all ease .2s

    &:hover
      text-decoration: underline

  &__item
    position: relative
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    height: 100px

    img
      display: block
      max-width: 94%
      height: auto
      margin: auto
      opacity: 1
      transition: all ease .2s

    &:hover
      img
        opacity: 0.2

      a
        opacity: 1

    .icon-plus
      position: absolute
      left: -28px
      top: 50%
      transform: translateY(-50%)
      display: block
      content: ''
      width: 24px
      height: 24px
      opacity: 1
      fill: #fff
      transition: all ease .2s

    &.swiper-slide-active
      .icon-plus
        opacity: 0
