.ticket-adv
	display: flex
	margin: 94px 0 50px

	+md
		margin: 50px 0 50px

	+sm
		flex-direction: column
		max-width: 500px
		margin: 50px auto 30px

	&__item
		position: relative
		display: flex
		flex: 1 0
		flex-direction: column
		font-size: 20px
		line-height: 1.28
		padding: 36px 50px 46px
		min-height: 330px
		background-position: center center
		background-size: cover

		+tablet
			min-height: 400px

		+md
			padding: 36px 20px 46px
			font-size: 18px
			min-height: 330px


		&:after
			content: ''
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			background: rgba(0, 0, 0, 0.6)
			z-index: 0

	&__title
		position: relative
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		margin: 0 0 auto
		min-height: 50px
		z-index: 1

	&__img-wrap
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		width: 100%
		height: 80px
		z-index: 1

	&__img
		display: block
		height: 100%
		width: auto
		margin: 0 auto

	&__desc
		position: relative
		display: flex
		align-items: center
		justify-content: center
		margin: auto 0 0
		text-align: center
		min-height: 50px
		z-index: 1
