.container
  --container: 48px
  max-width: 1600px
  padding: 0 var(--container)
  margin: 0 auto
  +xxl
    max-width: 1440px
  +tablet
    --container: 40px
  +sm
    --container: 24px
  +xs
    --container: 15px
