.s-contact-form
	padding: calc(var(--section-y) * 1.2) 0
	background: url(../img/contact-form-bg.webp) center bottom no-repeat
	background-size: auto 100%
	border-bottom: 2px solid $gray

.contact-form
	text-align: center

	&__title
		text-transform: uppercase
		line-height: 1.1
		font-weight: 900
		font-size: clamp(40px, 10vw, 84px)

		max-width: 80%
		margin-inline: auto
		+xs
			max-width: 100%

	&__desc
		font-family: $roboto
		font-weight: 500
		font-size: 18px
		margin: clamp(24px, 6vw, 54px) auto 32px
		line-height: 1.34

	&__form
		margin: 0 auto
		max-width: 850px
		width: 100%

	&__field
		position: relative

	&__input
		height: 68px
		+bold
		text-transform: uppercase
		width: 100%
		border-radius: 10px
		padding: 0 280px 0 30px
		font-size: 22px
		border: 1px solid $gray
		font-size: 13px
		color: $black
		font-stretch: 120%
		background: #FBFBFB

		+xs
			height: 50px
			padding: 4px 20px

		&::placeholder
			color: rgba($black, 0.6)

		&:focus-visible
			outline: 2px solid #000

	&__submit
		font-size: 13px
		+bold
		text-transform: uppercase
		min-width: 220px
		position: absolute
		top: 0px
		right: 0px
		bottom: 0px
		border-radius: 10px
		padding: 4px 20px
		color: $white
		background: $black
		display: flex
		align-items: center
		justify-content: center
		transition: all ease 0.1s

		&:hover, &:focus-visible

			background: $themeColor

		+sm
			min-width: 64px

		span
			+xs
				display: none

		.icon
			fill: $white
			width: 16px
			height: 15px
			display: none

			+xs
				display: flex

	.social
		display: flex
		gap: 7px
		margin: clamp(22px, 6vw, 52px) auto
		justify-content: center

		&__item
			margin: 0

		&__link
			width: 64px
			height: 64px
			display: flex
			justify-content: center
			align-items: center
			border-radius: 50%
			transition: all ease 0.1s
			background: $black
			+sm
				width: 40px
				height: 40px
			&:hover, &:focus-visible
				background: $themeColor

				.icon
					fill: $white

			.icon
				font-size: 32px
				fill: $white
				+sm
					font-size: 24px
				&-tiktok, &-instagram
					font-size: 28px
					+sm
						font-size: 20px
