.s-dates
	margin-top: 100px
	margin-bottom: 20px
	padding: 0

	.container
		padding: 0

	&+.event__tip
		+medium
		color: $black
		font-stretch: 120%
		font-size: 20px
		text-transform: none

.dates
	display: flex
	flex-wrap: wrap
	justify-content: center

	margin: 0 -20px
	gap: 40px 0
	padding-left: 10px
	&:has(.dates__item:nth-child(4):last-child),
	&:has(.dates__item:nth-child(8):last-child)
		.dates__item
			+rmin(1024)
				flex: 1 1 40%
				max-width: 40%

	&__item
		position: relative
		padding: 0 20px
		flex: 1 1 33.33%
		+md
			flex: 1 1 50%
		+sm
			flex: 1 1 100%

.date
	text-decoration: none
	height: 100%
	position: relative
	padding: 24px 20px 24px
	border: 1px solid $gray
	border-radius: 10px
	background: #fbfbfb
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		left: -10px
		top: 10px
		z-index: -1
		border: 1px solid $gray
		border-radius: 10px
		background: #fbfbfb

	&__inner
		display: flex
		flex-direction: column
		flex: 1
		height: 100%

	&__title
		color: $black
		+black
		font-stretch: 120%
		line-height: 1.32
		font-size: clamp(18px, 5vw, 24px)
		text-transform: uppercase
		min-height: clamp(48px, 9vw, 96px)

	&__date
		color: $black
		font-size: clamp(44px, 4vw, 58px)
		line-height: 0.9
		+black
		font-stretch: 120%
		text-transform: uppercase
		margin: 28px 0 0

		+laptop
			// font-size: 5vw

		+md
			font-size: 58px

	&__body
		display: flex
		flex-direction: column
		height: 100%

	&__name
		color: $black
		font-size: 14px
		font-weight: 500
		text-transform: uppercase
		margin: 16px 0 30px
		font-stretch: 120%

	&__info
		color: $gray3
		font-size: 12px
		line-height: 1.6
		margin: auto 0 0

	&__btn
		border: 3px solid $gray2
		background: $mainBg
		margin: auto 0 0
		color: $themeColorD

		&:after,
		&:before
			display: none

		&:hover
			background: transparent
			border-color: $themeColorD
