.s-prices
  color: #fff
  background: #1E1E1E
  padding: clamp(50px, 5vw, 100px) 0
  .section__title
    line-height: .9
    font-size: clamp(44px,8vw,80px)
    text-transform: uppercase
    font-weight: 900
    color: #fff
    font-family: "Mona Sans"
    text-align: left
    margin-bottom: 50px
  .container
    max-width: 1260px

.prices-swiper

  .swiper-slide
    width: 377px
    +md
      width: 320px
    +sm
      width: 280px
  .swiper-container
    +laptop
      overflow: visible

.prices-item__price-value strong:before
  display: none !important

// .prices
//   font-size: 16px
//   position: relative

//   &__countdown
//     position: absolute
//     top: 126px
//     font-size: 18px
//     left: 0
//     right: 0
//     text-align: center
//     line-height: 0.9
//     text-transform: uppercase
//     font-weight: 900
//     color: #00FF000D
//     letter-spacing: 0.05em
//     display: none

//     +sm
//       position: relative
//       top: 0

//     b
//       font-weight: 900
//       display: block
//       font-size: clamp(32px, 16vw, 170px)

//       +sm
//         font-size: clamp(32px, 14vw, 170px)

//   &__list
//     position: relative

//     margin: 0
//     list-style: none
//     +sm
//       margin: 0 -20px

//   &__item
//     display: flex
//     flex-direction: column
//     // flex: 1 1 auto
//     text-align: center
//     padding: 10px 0 10px
//     // min-width: 300px

//     &:not(:first-child)
//       border-left: 1px solid rgba(255, 255, 255, 0.2)

//     +sm

//       width: 310px

//   &__title
//     font-size: clamp(20px, 4vw, 24px)
//     line-height: 1
//     +bold
//     margin: 0 0 20px
//     padding: 0 20px
//     display: flex
//     flex-direction: column-reverse

//     em
//       font-style: normal
//       color: #FE5D02

//     p
//       &:first-child
//         min-height: 72px

//         +sm
//           min-height: 60px

//       &:last-child
//         font-size: 14px
//         font-weight: 400
//         text-transform: none
//         margin: 0 0 24px
//         color: $gray

//     +sm
//       margin: 0 0 30px

//   &__price
//     +regular
//     color: $white
//     margin: 0

//     h4
//       +bold
//       font-size: 60px
//       line-height: 1
//       margin: 12px 0 12px

//     strong
//       +bold
//       font-size: 90px
//       color: $white
//       margin: 0 0 20px
//       line-height: 1
//       +md
//         font-size: 70px

//     & + .prices__content
//       margin-top: 40px
//       +sm
//         margin-top: 20px

//   &__price-tip
//     position: relative
//     display: inline-flex
//     font-size: 14px
//     color: #FF0000
//     font-weight: 900
//     margin: 0 auto
//     padding: 8px 3px

//     a
//       color: $themeColor

//     &:after
//       content: ""
//       position: absolute
//       left: 0px
//       right: 0px
//       top: 16px
//       height: 2px
//       background: #FF0000

//   &__content
//     display: flex
//     flex-direction: column
//     border-radius: 15px
//     padding: 20px 50px 0
//     margin: 26px 0 0
//     height: 100%

//     +md
//       margin: 26px 0 0
//       padding: 0 30px 0

//   &__desc
//     text-align: left
//     font-size: 12px
//     margin: 0 0 40px
//     line-height: 1.34
//     +medium

//     p
//       position: relative

//       &:not(:first-child)
//         margin: 15px 0 0

//         +sm
//           margin: 14px 0 0

//     +sm
//       margin: 15px 0 40px

//     a
//       color: $themeColor

//   &__btn
//     margin: auto auto 0
//     display: inline-flex
//     padding: 0 20px
//     min-width: 170px

//     +tablet
//       padding: 0 20px
//       min-width: 140px

//   .swiper-slide
//     height: auto

//     +sm
//       width: 90%

//   .prices-slider-prev,
//   .prices-slider-next
//     --spacing: -90px
//     position: absolute
//     left: var(--spacing)
//     top: 50%
//     transform: translateY(-50%)
//     width: 64px
//     height: 64px
//     z-index: 2
//     transition: all ease 0.2s
//     cursor: pointer
//     display: flex
//     align-items: center
//     justify-content: center
//     background: rgba(22, 25, 23, 0.5)

//     +laptop
//       top: 35%
//       --spacing: -20px

//     &:hover
//       cursor: pointer
//       border-color: $white
//       background: rgba(22, 25, 23, 0.8)

//     .icon
//       width: 26px
//       height: 50px
//       fill: $white

//     &.swiper-button-disabled
//       opacity: 0
//       visibility: hidden

//   .prices-slider-next
//     left: auto
//     right: var(--spacing)
