.techs
  display: flex
  flex-wrap: wrap
  margin: 24px auto
  align-items: stretch
  justify-content: center
  max-width: 960px
  position: relative
  gap: 16px
  +sm
    gap: 12px
  +xs
    margin: 32px -10px

  &__item
    display: flex
    flex-direction: column
    gap: 10px
    width: 100px

    +md
      width: 84px
    +sm
      width: 70px
      gap: 6px

  &__link:hover
    img
      opacity: 0.6

  &__img-box

    display: flex
    justify-content: center
    align-items: center
    padding: 5px
    width: 84px
    height: 84px
    margin: 0 auto
    border: 1px solid $gray
    background: $white
    border-radius: 20px
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.03)
    +sm
      width: 70px
      height: 70px
    img
      width: 100%
      max-height: 50px
      max-width: 50px
      display: block
      +sm
        max-height: 40px
        max-width: 40px

  &__title
    font-size: 12px
    text-align: center
    color: #000
    +sm
      font-size: 10px
