.techs
	display: flex
	flex-wrap: wrap
	margin: 16px auto
	align-items: stretch
	justify-content: center
	max-width: 760px

	+xs
		margin: 32px -10px

	&__item
		display: flex
		justify-content: center
		min-width: 85px
		margin: 16px
		flex-direction: column
		padding: 5px
		width: 100px
		height: 100px
		border: 1px solid $gray
		background: $white
		align-items: center
		justify-content: center
		border-radius: 30px

		+md
			width: 80px
			height: 80px
			margin: 12px


	&__link
		text-decoration: none
		color: #fff
		transition: color .1s

		&:hover
			text-decoration: underline
			color: $themeColor

	&__img-box
		height: 50px
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		margin: 0
		+xs
			margin: 0 0 0

		img
			transform: scale(0.80)
			max-height: 58px
			display: block

			+md
				transform: scale(0.75)


	&__title
		font-size: 12px
		text-align: center
		display: none

