.awards
	color: $themeColor
	padding: 152px 0 100px
	background: $grayL
	+tablet
		padding: 103px 0 35px
	+md
		padding: 55px 0 19px
	&__inner
		display: flex
		justify-content: space-between
		color: $gray
		+md
			flex-direction: column-reverse
	&__content
		max-width: 600px
		margin-right: 100px
		//flex-shrink: 0
		+tablet
			margin-right: 50px
		+md
			max-width: 100%
			margin-right: 0
	&__title
		max-width: 655px
		&:not(:last-child)
			margin-bottom: 52px
			+tablet
				margin-bottom: 37px
	&__illustration
		margin-top: -162px
		display: flex
		justify-content: center
		align-items: flex-end
		max-width: 575px
		+tablet
			margin-top: 5px
			align-items: flex-start
		+md
			margin: 0 auto 43px
		img
			width: 100%
			max-width: 100%
		.title
			line-height: 0.9
	&__img
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		color: $themeColor2
		width: 100%
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
		min-height: 575px
	&__logo
		max-width: 210px
		img
			width: 100%
		&:not(:last-child)
			margin-bottom: 45px
	&__text
		font-size: 36px
		+gotBl
		letter-spacing: .4px
		text-transform: uppercase

