.btn
	display: flex
	text-align: center
	background-color: $themeColor2
	border: 2px solid $themeColor2
	padding: 24px 30px
	align-items: center
	justify-content: center
	font-size: 16px
	cursor: pointer
	+medium
	color: $black
	text-decoration: none
	transition: all ease 0.3s 
	transform: translateZ(0) perspective(1px)
	backface-visibility: hidden
	//transform-style: preserve-3d
	-webkit-font-smoothing: subpixel-antialiased
	-webkit-backface-visibility: hidden
	border-radius: 0

	&:hover
		background: $white
		border-color: $white

	&--border
		background: transparent
		border-color: $white
		color: $white

		&:hover
			background: $white
			color: $black
			border-color: $white

	&--huge
		max-width: 1180px
		margin: 0 auto
		padding: 20px 6vw
		font-weight: 700
		line-height: 0.9
		background: transparent
		text-transform: uppercase
		border: 6px solid $themeColor2
		font-size: clamp(22px, 5vw, 72px)
		height: clamp(56px, 10vw, 152px)
		align-items: center
		justify-content: center
		margin: clamp(40px, 4vw, 80px) auto

		&:after,
		&:before
			display: none

		+tablet
			padding: 15px 8vw
			margin: clamp(40px, 4vw, 80px) 20px

		+sm
			border: 3px solid $themeColor2
			margin: 50px 20px
			font-weight: 500
			margin: clamp(40px, 4vw, 80px) 10px

		.icon
			transition: all ease 0.1s
			fill: $black
			width: clamp(35px, 8vw, 113px)
			height: 60px
			margin-left: clamp(30px, 5vw, 96px)

	