.faq-desc
	background: #353535
	padding: 20px 0
	color: #fff

	.container
		max-width: 1010px

	&__intro
		font-size: 18px
		margin: 0 0 20px
		padding: 50px 0
			
		+sm
			font-size: 16px

		p
			margin: 20px 0 0
			a 
				color: #fef502
	

.faq
	position: relative
	padding: 0
	margin: 0 auto 40px
	list-style: none
	max-width: 970px
	

	&.marged
		margin-top: 52px

	&__section-title
		font-size: 22px
		line-height: 1.36
		margin: 40px 0 20px
		text-transform: uppercase
		color: #a3a3a3
		+black
		
	&__arrow
		display: none
	&__item
		position: relative
		border-radius: 20px
		background: #212121
		z-index: 1
		margin-top: 4px
		
		&:first-child 
			margin-top: 0
		
		

		&.open, &:hover
			background: #181818
			.faq__question
				color: #fff
				&:after
					border-color: #fff

		&.open 
			.faq__question
				&:after
					transform: rotate(-135deg)
					margin-top: -5px
			
	&__question
		font-size: 20px
		line-height: 1.36
		cursor: pointer
		font-weight: 700
		padding: 20px 90px 20px 40px
		color: #AEAEAE
		position: relative
		
		&:after 
			content: ''
			display: block
			position: absolute
			top: 50% 
			right: 30px 
			margin-top: -8px
			height: 12px
			width: 12px
			
			border-bottom: 2px solid #AEAEAE
			border-right: 2px solid #AEAEAE 
			transform: rotate(45deg) 
	
	&__ansver
		font-size: 16px
		line-height: 1.5
		display: none
		padding: 0 40px 25px
		max-width: 840px
		color: #AEAEAE

		a
			color: #fef502

		p
			margin: 16px 0 0

			&:first-child
				margin: 0
			
	+sm
		&__item
			border-radius: 15px
		&__question
			font-size: 18px
			font-weight: 700
			cursor: pointer
			padding: 15px 50px 15px 20px
			&:after 
				right: 20px
		
		&__ansver
			font-size: 14px
			padding: 0 20px 15px
		
	+xxs
		
		margin: 0 -10px
		&__question
			font-size: 16px

		&__section-title
			font-size: 22px
			margin: 30px 10px 10px
		
	

+sm 
	.faq-desc__intro
		padding: 0

