@keyframes type__animation-cursor
  0%
    opacity: 1
  50%
    opacity: 1
  51%
    opacity: 0
  100%
    opacity: 0

.hero
	//min-height: 1033px
	min-height: 100vh
	padding: 156px 58px 120px
	display: flex
	flex-direction: column
	position: relative

	@media screen and (min-width: 1024px) and (max-height: 800px)
		padding: 90px 58px 60px

	+tablet
		// padding: 90px 58px 60px
		padding: 156px 58px 120px

	+md
		// padding: 45px 30px 45px
		padding: 90px 58px 60px
	+sm
		padding: 45px 40px 15px
	+xs
		padding: 15px 15px 15px


	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: url(../img/hero-overlay.svg) center top repeat
		background-color: rgba(0, 0, 0, .3)
		z-index: 1

		+sm
			background: url(../img/overlay_small.svg)
			background-color: rgba(0, 0, 0, .3)

	.type__animation-cursor
		width: 0.05em
		min-width: 2px
		height: 1em
		background-color: #fff
		display: none
		position: relative
		top: 0.1em
		left: -0.25em
		animation: type__animation-cursor 700ms infinite
		+sm
			display: inline-block


	&__inner
		position: relative
		max-width: 1280px
		margin: 0 auto
		width: 100%
		display: flex
		flex-direction: column
		flex: 1
		z-index: 2

	&__logo
		margin-bottom: 0
		display: flex
		justify-content: space-between
		z-index: 2

		+md
			margin: 23px 0 46px
		+sm
			// margin-bottom: 57px
		+xs
			margin: 0 0 0
			flex-direction: column

	&__date
		font-size: 22px
		font-weight: 700
		margin: auto 0 16px 20px
		letter-spacing: 0.05em
		text-align: right

		+md
			margin: auto 0 10px 20px

		+sm
			margin: auto 0 6px 20px
			font-size: 18px

		+xs
			margin: 30px auto 20px 0
			padding-left: 0
			font-size: 16px
			font-weight: 500
			text-align: left
			letter-spacing: 0

			br
				display: none

	&__content
		display: flex
		justify-content: space-between
		margin: auto 0

		+md
			margin: 0
			margin: auto 0
			position: relative
			top: -36px

		+sm
			margin: auto 0
			flex-direction: column
			top: 0

	&__left
		text-align: left
		max-width: 640px
		margin-right: 40px

		+sm
			text-align: center
			max-width: none
			margin-right: 0
		+xs
			text-align: left

	&__right
		flex: 0 0 auto
		+md

	&__bottom
		display: flex
		justify-content: space-between

		+md
			margin: auto 0 0

		+xs
			flex-direction: column-reverse
			justify-content: center

		.socials
			margin: 26px 20px 0 0
			+xs
				margin: 0

	&__title
		+gotM
		margin: 0 0 50px
		font-size: 48px
		line-height: 1.26
		letter-spacing: -0.005em
		display: block
		padding: 0 0 0 102px
		z-index: 2

		@media screen and (max-width: 1100px)
			padding-left: 50px

		+md
			font-size: 40px
			padding: 0 0 0 79px
			margin: 0 0 36px

		+md
			// font-size: 34px
			// padding: 0 0 0 30px

		+sm
			font-size: 34px
			margin-bottom: 16px
			padding-left: 0

		+xs
			font-size: 24px
			margin-bottom: 36px
			line-height: 1.34
			padding-left: 38px

	&__subtitle
		+gotM
		margin: 44px 0 60px
		font-size: 35px
		font-weight: 400
		line-height: 1.26
		letter-spacing: -0.005em
		display: block
		z-index: 2
		text-align: center

		+md
			font-size: 32px

		+sm
			font-size: 22px
			margin: 32px 0 40px

		+xs
			margin: 26px 0 32px

	&__descr
		+got
		font-size: 18px
		line-height: 2
		margin-bottom: 28px
		+md
			font-size: 14px
			max-width: 500px

		+sm
			font-size: 16px
			line-height: 1.6
			margin-bottom: 15px
			max-width: none

		+xs
			font-size: 14px
			line-height: 1.76
			margin-bottom: 34px


	&__techs-title
		font-size: 18px
		line-height: 1.6
		margin-bottom: 63px
		padding-top: 20px

		a
			color: $white

			&:hover
				text-decoration: none

		+md
			font-size: 18px
			line-height: 1.5
			margin-bottom: 68px
			padding-top: 10px
		+sm
			text-align: center
			font-size: 14px
			line-height: 1.6
			margin-bottom: 42px


	&__btn
		display: flex
		flex-wrap: wrap
		gap: 10px
		.btn
			height: 66px
			padding: 0 30px
			+gotM
		+sm
			//padding: 0 10px
			.btn
				min-width: 247px
				width: 100%
		+xs
			margin: 40px 0 15px
		&-tip
			margin: 20px 0 0
			font-size: 12px
			+sm
				margin: 10px 0 20px
			+xs
				text-align: center

	&_min
		min-height: auto
		padding: 110px 0 100px
		background-position: center
		background-size: cover

		&:after
			display: none
		+md
			padding: 94px 20px
		+sm
			padding: 44px 20px
		+xs
			padding: 44px 20px
		.hero
			&__logo
				margin: 46px auto 68px
				+md
					margin-bottom: 20px
				.logo
					max-width: 302px
					+sm
						max-width: 220px
			&__title
				font-size: 72px
				max-width: 1280px
				text-align: center
				padding: 0
				margin: 0 auto
				line-height: 1.1
				+tablet
					font-size: 60px
				+md
					font-size: 44px
				+sm
					font-size: 32px

	&__video
		position: absolute
		display: block
		width: 100%
		height: 100%
		top: 0
		left: 0
		z-index: 0
		object-fit: cover


.intro
	z-index: 1
	position: relative
	overflow: hidden
