.nominations
	background: $grayL
	padding: 26px 0 137px
	+tablet
		padding: 20px 0 119px
	+md
		padding: 20px 0 88px
	&__inner
	&__title
		+gotM
		color: $gray
		font-size: 40px
		line-height: 1.2
		letter-spacing: 0.3px
		padding-right: 90px
		margin-bottom: 78px
		+tablet
			font-size: 32px
			padding-right: 73px
			margin-bottom: 58px
		+md
			font-size: 28px
			text-align: left
			margin-bottom: 40px
	&__content
		margin-bottom: 108px
		+tablet
			padding: 0 8px 0 0
		+md
			margin-bottom: 70px
		+sm
			margin-bottom: 30px
	&__item
		max-width: 710px
		position: relative
		border-top: 4px solid $white

		+sm
			width: 100%
			max-width: 100%

		&:last-child
			border-bottom: 4px solid $white
	&__btn
		text-align: center
		.btn
			display: inline-flex
			text-transform: uppercase
			margin: 0 auto
			padding: 24px 31.5px
			+tablet

				padding: 15px 30px
				font-size: 16px
				margin: 0 auto
			+md

			+sm
				max-width: 100%
				padding: 12px 30px
			+xs
				width: 100%
				padding: 12px 20px
			&_red
				color: $themeColor
		+tablet
			margin-top: 0
		+md
			margin-top: 30px!important



.nomination
	position: relative
	padding: 27px 0
	display: flex

	+tablet
		padding: 20px 0
	+md
		padding: 18px 0

	&__text
		+got
		display: flex
		color: $gray
		font-size: 24px
		line-height: 1.2
		+tablet
			font-size: 18px
		+md
			font-size: 16px

