.s-prices
  background: #353535
  color: #fff
  padding: clamp(50px, 5vw, 100px) 0

  .container
    max-width: 1260px

    +md
      padding: 0 20px

  .section

    &__title
      color: $white
      max-width: 1060px
      margin-left: auto
      margin-right: auto

.prices
  font-size: 16px
  position: relative
  +tablet
    margin: 0 -20px
  .swiper-slide
    padding: 0 10px
    display: flex
    height: auto
    box-sizing: border-box
    max-width: 360px

    +sm
      max-width: 310px
      padding: 0 5px

  &__list
    position: relative
    padding: 0
    margin: 0
    list-style: none
    display: flex
    gap: 20px
    padding-bottom: 20px
    height: 100%
    display: flex

  &__glow
    display: none
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: 50px
    background: linear-gradient(to right, transparent, #000)
    z-index: 1
    opacity: 1
    transition: opacity ease 0.2s
    pointer-events: none
    display: none

  &__item
    position: relative
    display: flex
    flex-direction: column
    flex: 1 1
    text-align: center
    padding: 0
    scroll-snap-align: center
    border-radius: 20px
    overflow: hidden
    background: #999

    +sm
      scroll-snap-align: center

  &__title
    display: flex
    line-height: 1.34
    margin: 14px 0 26px
    font-weight: 700
    line-height: 1.1
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column-reverse
    padding: 0 20px
    color: #212121
    +black

    p:first-child
      font-size: clamp(26px, 3vw, 30px)
      min-height: 99px
      align-items: center
      justify-content: center
      display: flex

    +sm
      margin: 20px 0 20px

    em
      +medium
      display: flex
      align-items: center
      justify-content: center
      font-weight: 400
      font-size: 16px
      font-style: normal
      margin-bottom: 10px
      color: #212121
      min-height: 36px

  &__price
    +bold
    font-size: 18px
    display: flex
    align-items: center
    position: relative
    color: #212121
    width: min-content
    margin: 0 auto 26px
    min-height: clamp(72px, 6vw, 94px)

    +sm
      margin: 0 auto 20px

    p
      color: #212121
      letter-spacing: -3px

    & > em
      +black
      position: absolute
      right: 100%
      top: 10px
      font-size: clamp(24px, 4vw, 38px)
      font-style: normal
      margin: 0 10px 0 0
      line-height: 1
      letter-spacing: normal

    strong
      +black
      font-size: clamp(72px, 6vw, 94px)
      color: #212121
      margin: 0 0 20px
      line-height: 1

    del
      position: absolute
      top: clamp(-32px, 6vw, -45px)
      right: -38px
      width: clamp(62px, 5vw, 74px)
      height: clamp(62px, 5vw, 74px)
      font-size: 10px
      background: url('../img/discount-label.svg') no-repeat center
      background-size: contain
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      text-align: center
      text-decoration: none
      padding-top: 3px
      letter-spacing: -.3px
      em
        width: 100%
        font-style: normal
        font-size: clamp(18px, 1.5vw, 22px)
        letter-spacing: -1.2px
        font-weight: 700
        line-height: 1.2

  &__price-tip
    font-size: 14px
    color: $grayL
    opacity: 0.5

    a
      color: $grayL

  &__desc
    +medium
    text-align: left
    font-size: 12px
    margin: 0
    padding: 26px 40px 110px
    line-height: 1.2
    color: #ffffff
    background: #212121
    height: 100%

    +sm
      padding: 26px 25px 110px

    p
      &:not(:first-child)
        margin: 12px 0 0

        +sm
          margin: 8px 0 0

    a
      color: #FF8A00

  &__btn
    position: absolute
    bottom: 30px
    margin: 0 auto
    left: 50%
    transform: translateX(-50%)
    right: auto
    min-width: 240px
    min-height: 60px

  &__bottom
    font-size: 17px
    padding: 30px 20px
    text-align: center
    background: #0e100f

  &__prev,
  &__next
    width: 50px
    height: 50px
    border-radius: 50px
    position: absolute
    left: 0
    top: 50%
    transform: translate(-100%, -50%)
    z-index: 1
    background: $themeColor2
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: all ease 0.1s

    +tablet
      left: 60px

    +xxs
      display: none

    &:hover
      background: $white

    .icon
      width: 20px
      height: 20px
      fill: $mainBg

    &.swiper-button-disabled
      opacity: 0
      visibility: hidden

  &__next
    left: auto
    right: 0
    transform: translate(100%, -50%)

    +tablet
      left: auto
      right: 60px

  &__scrollbar
    width: 100%
    height: 2px
    background: #404040
    border-radius: 2px

    .swiper-scrollbar-drag
      background: #fff
      border-radius: 2px
