.s-video-rooms
	color: $black

	padding: 110px 0 50px
	+laptop
		padding: 80px 0 40px
	+tablet
		padding: 72px 0 30px
	+md
		padding: 103px 0 50px
	+sm
		padding: 40px 0 20px

	.section
		&__title
			color: $themeColor

.video-rooms
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin: 62px -45px 30px
	padding: 30px 0

	+md
		margin: 30px -25px 20px
	+sm
		margin: 10px -25px 10px

	&__item
		position: relative
		margin: 10px 0
		padding: 0 45px 0
		width: 25%
		display: flex
		flex-direction: column
		align-items: center
		transition: all ease 0.1s

		+tablet
			padding: 0 25px 0

		+md
			width: 50%


			&:not(:first-child)
				border-left: none

			&:nth-child(2n)
				border-left: 4px solid $grayD

		+xxs
			width: 100%

			&:not(:first-child)
				padding-top: 20px
				border-top: 4px solid $grayD


		&:not(:first-child)
			border-left: 4px solid $grayD

		&.hoverable

			&:hover

				.video-rooms__btn
					border-color: $themeColor

					&:hover
						background: $themeColor
						color: $white
			
	&__link
		position: absolute
		display: block
		left: 0
		top: 0
		right: 0
		bottom: 0

	&__img-wrap
		display: flex
		width: 100%
		height: 168px

		+tablet
			height: 120px

	&__img
		display: block
		margin:  auto
		max-height: 100%

	&__num
		margin: 15px auto 2px 0
		font-weight: 500
		display: none

	&__title
		margin: 10px auto 0 0
		font-size: 30px
		color: $themeColor
		font-weight: 700
		line-height: 1
		text-transform: uppercase
		display: none

		+tablet
			font-size: 20px

	&__users		
		margin: 26px 0 26px
		width: 100%
		max-width: 200px

	&__user
		display: flex
		align-items: center
		flex: 1 1 auto
		margin: 2px auto 0

		&:first-child
			margin: 0

	&__avatar
		width: 40px
		height: 40px
		display: block
		object-fit: cover
		margin: 0 18px 0 0

		+tablet
			width: 32px
			height: 32px

	&__name
		font-size: 14px
		line-height: 1.28

		+tablet
			font-size: 12px

	&__btn
		margin: auto 0 0
		display: flex
		align-items: center
		justify-content: center
		min-height: 60px
		padding: 0 20px
		color: $themeColor
		font-size: 14px
		line-height: 1.2
		font-weight: 500
		text-transform: uppercase
		text-decoration: none
		border: 3px solid transparent
		text-align: center
		transition: all ease 0.1s
		cursor: pointer
		transition: all ease .1s

		&:hover
			color: $white

		+tablet
			font-size: 12px
			font-weight: 600