.workshops
  &__block
    color: #5f5f5f
    padding-top: 40px
    padding-bottom: 5px
    +tablet
      padding-top: 20px
    h2
      font-size: 28px
      line-height: 1.52
      +md
        font-size: 18px
  &__block-detail-name
    text-align: right
    +md
      text-align: left
  &__block-info
    // color: $gray
    font-size: 16px
    line-height: 1.56
    color: #5f5f5f
    +md
      font-size: 10px

    strong
      // color: $themeColor
      color: $black
    ul
      margin-left: 16px
    li
      position: relative
      &:before
        content: ''
        position: absolute
        left: -15px
        top: 10px
        width: 6px
        height: 6px
        // background: $themeColor
        background: #5f5f5f


  &__block-trainers
    color: $themeColor
    text-align: right
    padding-top: 22px
    +md
      text-align: right
      font-size: 14px !important

    li
      &:after
        content: ','

      &:nth-last-of-type(1)
        &:after
          content: ''

    +sm
      text-align: center

  &__title
    display: block
    margin-bottom: 16px

  &__block-title
    color: $themeColor
    position: relative
    
  &__block-link
    text-decoration: none
    color: unset
    &:hover
      text-decoration: underline

  &__avatars
    display: flex
    width: 80%
    height: auto
    margin: 24px 0 0 auto
    max-width: 250px
    flex-wrap: wrap
    align-items: flex-start

    +sm
      margin: 24px auto 0

    .workshop-item__avatar
      width: 49%
      margin: 0 0 2%

      &:nth-child(2n)
        margin-left: 2%

  &__avatar
    width: 80%
    height: auto
    margin: 24px 0 0 auto
    max-width: 250px
    display: block
    filter: grayscale(100%)

    +sm
      margin: 24px auto 0

  &__calendar-btn
    margin: 0 auto 20px

    &:hover
      border-color: $black

    +tablet
      margin: 0 auto 20px 314px

    +md
      margin: 10px 0 10px 276px

    +sm
      margin: 10px auto 10px
