.s-workshops-list
  padding: clamp(50px, 5vw, 100px) 0

  .container
    max-width: 1260px

  &__top
    display: flex
    justify-content: space-between
    flex-direction: column-reverse
    margin-bottom: clamp(24px, 4vw, 42px)
    gap: 50px
    position: relative

    +sm
      flex-direction: column

    .section
      &__title
        color: $white
        aspect-ratio: 2.18
        width: 100%
        max-width: none
        padding: 50px
        position: absolute
        left: 0
        top: 0
        margin: 0

      &__subtitle
        max-width: none
        text-align: left
        line-height: 1.78
        margin: 24px 0
        font-weight: 400
        font-size: clamp(16px, 3vw, 18px)

      &__info
        max-width: none
        text-align: left
        line-height: 1.78
        margin: 24px 0
        font-weight: 400
        font-size: clamp(14px, 3vw, 16px)

        a
          color: $themeColor2
          text-decoration: none
          font-size: 18px
          +medium
          font-weight: 600

        ul
          display: flex
          flex-direction: column
          gap: 10px
          margin: 16px 0 0

          li
            display: flex
            align-items: center
            border: 1px solid $gray
            padding: 18px 30px
            border-radius: 10px
            justify-content: space-between


        strong
          font-size: 20px
          +bold
          font-stretch: 120%

        p
          &:not(:first-child)
            margin: 10px 0 0

  &__desc
    max-width: none
    width: 100%
    max-width: 680px
    margin: 0
    padding: 0 50px
    z-index: 1

  &__img
    width: 100%
    flex: 1 1 auto

    +sm
      margin: 0 auto

.workshops-imgs
  position: relative
  width: 100%
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(2, 1fr)
  grid-column-gap: 20px
  grid-row-gap: 20px
  aspect-ratio: 2.18

  +sm
    gap: 12px

  &__item
    position: relative

    &:first-child
      grid-area: 1 / 1 / 3 / 3

      img
        border-radius: 20px

    img
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      object-fit: cover
      display: block
      border-radius: 10px
      filter: brightness(0.8)

.workshops-list
  max-width: 1210px
  margin: 40px auto

  &__item
    position: relative
    display: flex
    padding: 32px 0
    border-top: 1px solid $gray

    &:last-child
     border-bottom: 1px solid $gray


    +sm
      flex-direction: column

  &__item-overlay
    display: flex
    width: 100%
    cursor: pointer
    gap: 20px

    +sm
      flex-direction: column

    &:hover
      .workshops-list__title
        text-decoration: underline !important

  &__type
    display: flex
    justify-content: center
    align-items: center
    flex: 0 0 64px
    font-size: 10px
    height: 44px
    font-size: 14px
    text-transform: uppercase
    margin: 0 0 0 0
    order: 1
    color: #7E7E7E

    +sm
      flex: 1 1 auto
      max-width: 64px
      margin: 0 0 12px

  &__info
    flex: 1 1

  &__title
    font-size: clamp(24px, 2.6vw, 30px)
    +black
    line-height: 1.1
    color: #7E7E7E

  &__desc
    display: none

  &__date
    font-size: 14px
    margin: 10px 0 0
    color: #7E7E7E

    a
      color: $themeColor2

  &__speakers
    display: flex
    flex-direction: column
    flex: 0 0 200px
    gap: 5px
    order: 2

    +tablet
      flex: 0 0 200px

    +sm
      flex-direction: row
      justify-content: flex-start
      flex: 1 1 auto
      margin: 18px 0
      gap: 20px 20px

  &__speaker
    display: flex
    align-items: center

  &__speaker-photo
    width: 44px
    height: 44px
    border-radius: 50%
    margin: 0 16px 0 0

  &__speaker-name
    line-height: 1.34
    font-size: 14px
    color: #7E7E7E

  &__buttons
    flex: 0 0 210px
    display: flex
    flex-direction: column
    gap: 5px

    +md
      position: absolute
      right: 0
      bottom: 0

    .btn
      padding: 3px 15px
      min-height: 56px
      @extend .btn--border

    +sm
      flex: 1 1 auto
      flex-direction: row
      flex: 1 1 auto
      margin: 0
      gap: 10px
