		<section class="section speakers" id="committee">
			<div class="container">

				<div class="section__head centered">
					<div class="section__head-l">
						<h3 class="section__title with-dots">{{ pagesPieceOfTexts.committee__title | safe }}</h3>
					</div>
				</div>

				<div class="team committee">
					{% for speaker in speakers.committee %}
						{{own_mixins.speaker({
							img: speaker.avatar,
							name: speaker.name,
							company: speaker.company,
							info: speaker.bio,
							tag: speaker.label,
							socials: speaker.socials
						})}}
					{% endfor %}
				</div>
			</div>
		</section>

