	<footer class="footer">
		<div class="container">
			<div class="f-logo">
				<a href="https://gitnation.org" target="_blank">
					<div class="f-logo__desc">
						<p class="f-logo__by">Event by</p>
						<p class="f-logo__org">GitNation</p>
					</div>
				</a>
			</div>

			<div class="nav">
        {% for item in pages[pageKey].pageNavigation.footerNav %}
				<li class="nav__item">
					<a class="nav__link js-scroll-to" href="{{item.href}}">{{item.text}}</a>
				</li>
        {% endfor %}
			</div>

			<div class="f-logo__dummy"></div>

			<a class="f-reserve basic-btn btn-green" href="{{ pagesPieceOfTexts.footer__btnLink }}">
				<div class="basic-btn__inner">
					<div class="basic-btn__arr-l">
						<svg class="basic-btn__arrow" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
						</svg>
					</div>
					{{ pagesPieceOfTexts.footer__btnText }}
					<div class="basic-btn__arr-r">
						<svg class="basic-btn__arrow" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg?v2#icon-arrow_r"></use>
						</svg>
					</div>
				</div>
			</a>
		</div>
	</footer><!-- .footer -->
