<section class="section black">
  <div class="container">

    <div class="section__head">
      <div class="section__head-l">
        <h3 class="section__title">{{ pagesPieceOfTexts.guarantee__title | safe }}</h3>
      </div>

      <div class="section__head-r">{{ pagesPieceOfTexts.guarantee__desc | safe }}</div>
    </div>

    <div class="ws-desc">
      <div class="ws-desc__left">{{ pagesPieceOfTexts.guarantee__dev | safe }}</div>
      <div class="ws-desc__left">{{ pagesPieceOfTexts.guarantee__owner | safe }}</div>
    </div>


  </div>
</section>