<section class="section s-perks bg-black" id="perks">
    <div class="s-perks__decor"></div>

    <div class="container">
        <div class="section__head">
            <div class="section__head-l">
                <h3 class="section__title">{{ pagesPieceOfTexts.perks__title | safe }}</h3>
            </div>
        </div>

        <div class="perks">
            {% for item in pages[pageKey].pageSections.fullTicket %}
                {% if item.link %}
                <a class="perks__item" href="{{item.link}}">
                    <figure class="perks__img">
                        <img src="{{item.img}}" alt="{{item.imgAlt}}" />
                    </figure>
                    <h4 class="perks__title">{{ item.title | safe }}</h4>
                    <div class="perks__desc">{{ item.desc | safe }}</div>
                </a>
                {% else %}
                <div class="perks__item">
                    <figure class="perks__img">
                        <img src="{{item.img}}" alt="{{item.imgAlt}}" />
                    </figure>
                    <h4 class="perks__title">{{ item.title | safe }}</h4>
                    <div class="perks__desc">{{ item.desc | safe }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>