#maproot {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: Helvetica;
}

h1 {
  padding: 50px;
}

.label {
  border-radius: 5px;
  background-color: rgba(50,50,50,0.5);
  color: white;
  display: inline-block;
  font-size: 10px;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.label.open , .label:hover * {
  z-index: 99999999999999999 !important;
}

.tooltip {
  width: 150px;
  padding-top: 10px;
  font-size: 15px;
  text-decoration: none !important;
  white-space: normal;
  z-index: 99999999999999999 !important;
}

.htmlWrapper {
  z-index: 1 !important;
}
