.remote-switch
  font-size: 12px
  position: absolute
  left: 50%
  transform: translateX(-660px)
  top: 20px
  display: flex
  height: 48px
  align-items: center
  padding: 0
  background: rgba(32, 33, 32, 0.9)
  border-radius: 25px
  z-index: 5
  pointer-events: auto
  border: 2px solid #6BA7BE
  display: none

  // +laptop
    border-radius: 0 25px 25px 0
    border-left: 0
    left: 0
    transform: translateX(0)


  +md
    top: 16px

  // +xs
    height: 38px

  &__text
    opacity: 0.6
    text-decoration: none
    color: $white
    height: 100%
    padding: 0 10px
    display: flex
    align-items: center

    // +xs
      font-size: 10px

    &:first-child
      padding: 0 10px 0 20px

      // +xs
        padding: 0 10px 0 10px

    &:last-child
      padding: 0 20px 0 10px

      // +xs
        padding: 0 10px 0 10px


    &:not(.active):hover
      color: #fff
      opacity: 1

    &.active
      opacity: 1

  &__switch
    position: relative
    width: 36px
    height: 12px
    border-radius: 6px
    background: rgba(255, 255, 255, 0.2)
    cursor: pointer

    // +xs
      width: 22px
      height: 10px

    &:after
      content: ''
      position: absolute
      left: -3px
      top: -3px
      width: 18px
      height: 18px
      border-radius: 50%
      background: #B974A0

      // +xs
        width: 14px
        height: 14px
        top: -2px
        left: -2px

    &.active
      &:after
        left: auto
        right: -3px

        // +xs
          left: auto
          right: -2px
