
.sponsors
	.container
		position: relative
		&:before
			content: ''
			background: var(--accentColor)
			position: absolute
			top: calc(var(--section-y) * -1)
			right: calc(var(--container) * -1)
			max-height: 100%
			min-height: 700px
			width: calc(100% + var(--container))
			max-width: 1680px
			aspect-ratio: 3/1.87
			z-index: -1
			clip-path: polygon(15% 100%, 63% 19%, 59% 42%, 100% 0%, 100% 56%, 53% 88%, 56% 68%)

			+tablet
				width: 110%
				max-width: none
			+md
				width: 120vw
				top: 0
				min-height: 600px
			+sm
				min-height: 500px
				width: 1070px
				left: -200px
				right: auto
			+xs
				left: -300px

	&__top
		@extend .section__head
		&:before
			content: '├── Sponsors'

	.section__title
		max-width: 400px
		+md
			max-width: none

	&__description
		max-width: 390px
		grid-column: 2/3
		p
			line-height: 1.5

			&:not(:last-child)
				margin-bottom: 18px
				+sm
					margin-bottom: 5px

	&__offer

		letter-spacing: -0.32px
		a
			color: inherit
.sponsors-block
	position: relative
	&:not(:first-child)
		margin-top: 24px
		+sm
			margin-top: 12px

	&__title
		font-size: 16px
		font-weight: 400
		text-transform: uppercase
		color: $black
		line-height: 1
		letter-spacing: -0.32px
		position: absolute
		top: 20px
		left: 20px
		z-index: 2

		+sm
			font-size: 14px
			top: 16px
			left: 16px

		&:before
			content: '/ '

	&__list
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		padding: 40px 20px 20px
		position: relative
		border-radius: 8px
		border: 1px solid #DDD
		background: rgba(255, 255, 255, 0.70)
		backdrop-filter: blur(20px)

		+sm
			padding: 40px 12px 12px
	&__item
		text-align: center
		width: 100%

		+tablet
			display: flex
			justify-content: center

		+sm
			max-width: 230px

		& > a
			display: flex
			justify-content: center
			align-items: center
			transition: opacity 0.3s
			padding: 20px
			+sm
				padding: 10px

			&:hover
				opacity: 0.7

			picture
				display: block

			img
				display: block
				max-width: 100%
				transition: all ease 0.2s
				transform: translateY(0)
				opacity: 1
				height: auto

		&--w-info
			width: 100% !important
			max-width: 100% !important
			display: flex
			flex-direction: column
			align-items: center
			order: 1
	&__content
		max-width: 600px
		margin-left: auto
		margin-right: auto
		padding: 0 20px 20px
		font-size: 12px
		line-height: 1.45
		+sm
			font-size: 10px
			padding: 0 10px 10px
		a
			color: inherit
			text-decoration: underline
			&:hover
				text-decoration: none
		p:not(:last-child)
			margin-bottom: 10px
	&__subtitle
		font-weight: 600
		margin-bottom: 5px
	&.Platinum

		.sponsors-block__item
			width: 50%
			max-width: 50%
			+sm
				width: 100%
				max-width: 100%

	&.Gold

		.sponsors-block__item
			width: 33.33%
			max-width: 33.3%
			+xs
				width: 50%
				max-width: 50%

	&.Silver

		.sponsors-block__item
			width: 25%
			max-width: 25%

			+xs
				width: 33.3%
				max-width: 33.3%

	&.MediaPartner,
	&.Partner,
	&.TechPartner,
	&.EntertainmentPartner

		.sponsors-block__item
			width: 20%
			max-width: 20%

			+xs
				width: 25%
				max-width: 25%

	&_auto
		.sponsors-block__list
			justify-content: space-between

		.sponsors-block__item
			width: auto

			+sm
				width: 25%
			+xs
				width: 33.3%

			img
				max-width: 100%

			&:last-child
				margin: 0 auto 0 0
