.btn
	display: inline-flex
	align-items: center
	justify-content: center
	cursor: pointer
	text-align: center
	height: 48px
	padding: 0 30px
	font-size: 16px
	font-family: var(--ff)
	font-weight: 400
	line-height: 1.2
	text-transform: uppercase
	color: $white
	text-decoration: none
	transition: background-position 0.5s cubic-bezier(0.65, 0, 0.35, 1), color 0.25s ease-in-out, border-color 0.4s ease-in-out

	border: 1px solid #000
	background: linear-gradient(110deg, var(--accentColor) 50%, transparent 50%) right center / 260% 100% no-repeat, #000
	white-space: nowrap
	overflow: hidden
	position: relative
	z-index: 1

	&:hover, &:focus-visible
		background-position: left center
		color: #000

	&--border

		border: none
		background: transparent
		position: relative
		--cs: 1px
		--cl: 16px
		--btn-border-color: #000
		color: var(--btn-border-color)

		&::before,
		&::after
			content: ''
			position: absolute
			inset: 0
			pointer-events: none
			background-repeat: no-repeat
			transition: background-size 0.4s cubic-bezier(0.65, 0, 0.35, 1)
			z-index: 1

		&::before
			background-image: linear-gradient(var(--btn-border-color), var(--btn-border-color)), linear-gradient(var(--btn-border-color), var(--btn-border-color)), linear-gradient(var(--btn-border-color), var(--btn-border-color)), linear-gradient(var(--btn-border-color), var(--btn-border-color))
			background-position: top left, top right, bottom left, bottom right
			background-size: var(--cl) var(--cs), var(--cl) var(--cs), var(--cl) var(--cs), var(--cl) var(--cs)

		&::after
			background-image: linear-gradient(var(--btn-border-color), var(--btn-border-color)), linear-gradient(var(--btn-border-color), var(--btn-border-color)), linear-gradient(var(--btn-border-color), var(--btn-border-color)), linear-gradient(var(--btn-border-color), var(--btn-border-color))
			background-position: top left, top right, bottom left, bottom right
			background-size: var(--cs) var(--cl), var(--cs) var(--cl), var(--cs) var(--cl), var(--cs) var(--cl)

		&:hover, &:focus-visible
			background-color: transparent
			color: var(--btn-border-color)
			&::before
				background-size: 50% var(--cs), 50% var(--cs), 50% var(--cs), 50% var(--cs)
			&::after
				background-size: var(--cs) 50%, var(--cs) 50%, var(--cs) 50%, var(--cs) 50%

	&--border-light
		border-color: #fff
		color: #fff
		&:hover, &:focus-visible
			background: #fff
			border-color: #fff
			color: $black
	&--warning
		border-color: var(--accentColor)
		background: linear-gradient(110deg, #fff 50%, transparent 50%) right center / 260% 100% no-repeat, var(--accentColor)
		color: #000
		&:hover, &:focus-visible
			background-position: left center
			border-color: #fff

	&--huge
		width: 100%
		padding: 0 6vw
		font-weight: 400
		line-height: 0.9
		font-size: 56px
		height: 140px
		margin: 64px auto

		+sm
			margin: 24px auto
			font-size: clamp(16px, 4.5vw, 40px)
			height: clamp(80px, 4.5vw, 140px)
			border-width: 1px
		.icon
			display: none
	&--block
		display: flex
		width: 100%

	&--lg
		height: 68px
		font-size: 24px
		font-weight: 600
		text-transform: uppercase

.is-hidden
	display: none

.pop-ticket__btn
	border: none !important
	color: #000 !important
