.s-free-ticket
	background: #000 url(../img/free-ticket-bg.svg?ve1) no-repeat center bottom
	color: #fff
	min-height: 840px
	display: flex
	align-items: center
	+md
		min-height: auto

	.section__title
		color: var(--accentColor)

.free-ticket
	display: grid
	grid-template-columns: 1fr 1fr
	gap: 48px 16px
	+md
		grid-template-columns: 1fr
		text-align: center
		padding-top: 40px
	+xs
		text-align: left
	&__content
		order: 1
		max-width: 566px
		+md
			margin: 0 auto
		+sm
			max-width: none
	&__text
		margin-top: 32px
		+sm
			margin-top: 24px

	&__descr
		font-size: 16px
		letter-spacing: -0.32px

		+sm
			font-size: 14px

	.btn
		@extend .btn--border
		@extend .btn--with-arrow
		--cl: 10px
		--btn-border-color: var(--accentColor)
		min-width: 205px
		margin-top: 64px
		height: 56px
		+sm
			margin-top: 40px
			width: 100%

.badge-img
	position: relative
	z-index: 1
	width: 400px
	margin-left: auto
	margin-right: auto
	text-align: left

	+xs
		width: 100%
		max-width: 360px
	&:after
		content: ''
		position: absolute
		right: calc(50% - 62px)
		bottom: calc(100% - 27px)
		height: 300px
		width: 44px
		background: var(--accentColor)
		border: 1px solid #000
		z-index: -1
		transform: skew(-15deg)
		border-radius: 0 0 2px 2px

	&__card
		position: relative
		padding: 10px 30px 40px
		border-radius: 15px
		background: var(--accentColor)
		border: 1px solid #000
		color: #000
		+xs
			border-radius: 10px
			padding: 10px 18px 28px
	&__body
		display: flex
		width: 100%
		align-items: center
		padding: 0 8%

	&__img
		margin: 0 20px 0 0
		width: 95px
		height: 95px
		border-radius: 50%
		background: #000
		display: flex
		flex: 0 0 auto
		align-items: center
		justify-content: center

		+xs
			width: 72px
			height: 72px

		.icon-face
			width: 46px
			height: 58px
			fill: var(--accentColor)

			+xs
				width: 36px
				height: 46px

	&__desc

		div:first-child
			font-size: 26px
			line-height: 1
			font-weight: 700
			margin: 0 0 2px
			text-transform: uppercase
			font-family: var(--ff-msw)

		div:last-child
			font-size: 12px
			margin: 8px 0 0
			line-height: 0.9
			font-weight: 500

	&__barcode
		position: relative
		width: 106px
		height: 20px
		background: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='106.5px' height='20px' viewBox='0 0 106.5 20' style='enable-background:new 0 0 106.5 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23000000;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M0,0h20v6.7H0L0,0z'/%3E%3Cpath class='st0' d='M0,13.3h6.7V20H0L0,13.3z'/%3E%3Cpath class='st0' d='M6.7,6.7h6.7v6.7l-6.7,0L6.7,6.7z'/%3E%3Cpath class='st0' d='M13.3,13.3l6.7,0V20h-6.7L13.3,13.3z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M27,20V0l3.5,0v20H27z'/%3E%3Cpath class='st0' d='M33.9,20V0l1.2,0v20H33.9z'/%3E%3Cpath class='st0' d='M36.2,20V0l2.3,0v20H36.2z'/%3E%3Cpath class='st0' d='M40.8,20V0L42,0v20H40.8z'/%3E%3Cpath class='st0' d='M43.1,20V0l1.2,0v20H43.1z'/%3E%3Cpath class='st0' d='M45.4,20V0l1.2,0v20H45.4z'/%3E%3Cpath class='st0' d='M47.7,20V0l3.5,0v20H47.7z'/%3E%3Cpath class='st0' d='M54.7,20V0l1.2,0v20H54.7z'/%3E%3Cpath class='st0' d='M57,20V0l2.3,0v20H57z'/%3E%3Cpath class='st0' d='M61.6,20V0l1.2,0v20H61.6z'/%3E%3Cpath class='st0' d='M63.9,20V0L65,0v20H63.9z'/%3E%3Cpath class='st0' d='M71.9,20V0l1.2,0v20H71.9z'/%3E%3Cpath class='st0' d='M74.2,20V0l3.5,0v20H74.2z'/%3E%3Cpath class='st0' d='M81.2,20V0l1.2,0v20H81.2z'/%3E%3Cpath class='st0' d='M83.5,20V0l2.3,0v20H83.5z'/%3E%3Cpath class='st0' d='M88.1,20V0l1.2,0v20H88.1z'/%3E%3Cpath class='st0' d='M90.4,20V0l1.2,0v20H90.4z'/%3E%3Cpath class='st0' d='M92.7,20V0l1.2,0v20H92.7z'/%3E%3Cpath class='st0' d='M95,20V0l3.5,0v20H95z'/%3E%3Cpath class='st0' d='M101.9,20V0l1.2,0v20H101.9z'/%3E%3Cpath class='st0' d='M104.2,20V0l2.3,0v20H104.2z'/%3E%3C/g%3E%3C/svg%3E") center center no-repeat
		background-size: contain

		+xs
			width: 87px
			height: 16px

	&__stripe
		position: absolute
		width: 51px
		height: 12px
		left: 50%
		top: 24px
		transform: translateX(-50%)
		border-radius: 12px
		background: #000

		&:before
			content: ''
			position: absolute
			left: -38px
			bottom: calc(100% - 2px)
			height: 300px
			width: 44px
			background: var(--accentColor)
			border: 1px solid #000
			transform: skew(15deg)
			border-radius: 0 0 2px 2px

	&__head
		font-size: 22px
		line-height: 1
		font-weight: 400
		padding: 10px 0 20px
		margin-bottom: 35px
		align-items: center
		display: flex
		justify-content: space-between
		border-bottom: 1px solid #000
		+xs
			font-size: 20px
			margin-bottom: 24px

		.icon
			width: 10px
			height: 10px
			fill: $white
