.partnership-banner
  display: flex
  align-items: center
  border-radius: 18px
  background: rgba(255, 255, 255, 0.10)
  padding: 30px
  width: 100%
  max-width: calc(66.66% - 8px)
  min-height: 166px
  justify-content: center
  gap: 120px
  margin: 20px auto 0
  +laptop
    max-width: 100%
  +sm
    gap: 30px
    margin-top: 16px
  +xs
    flex-direction: column
    padding: 30px 20px
  &__logo
    max-width: 250px
    max-height: 200px
  &__text
    color: $white
    font-size: 16px
    line-height: 1.4
    letter-spacing: -0.32px
    & a
      display: block
      margin-top: 10px
      color: #FFF500