
.topics
	.section__head
		--section-label-color: #fff
	.section__title
		color: #fff
		max-width: 400px

	&__slider
		overflow: visible !important

		.swiper-slide
			width: calc(50% - 8px)
			height: auto
			+sm
				width: 360px
				max-width: 90%

	&__item
		display: flex
		flex-direction: column
		border-radius: 16px
		padding: 56px
		background: #0D0D0D
		position: relative
		z-index: 2
		color: var(--colorWhite)
		height: 100%
		+laptop
			padding: 40px
		+sm
			padding: 32px 24px
	&__link
		text-decoration: none
		color: $black
		transition: color .1s

		&:hover
			text-decoration: underline
			color: $themeColor

	&__img-box
		height: 48px
		width: 100%
		display: flex
		justify-content: flex-start
		align-items: center
		margin-bottom: 36px
		img
			max-height: 100%

	&__title
		font-size: 24px
		font-weight: 500
		letter-spacing: -0.64px
		line-height: 1.1
		text-transform: capitalize
		+sm
			font-size: 22px

	&__text
		font-size: 14px
		letter-spacing: -0.3px
		margin-top: 20px
		line-height: 1.2
		+sm
			font-size: 12px
		ul
			list-style-type: none
			margin: 0
			li
				margin-bottom: 1px
				padding-left: 16px
				position: relative
				&:last-child
					margin-bottom: 0
				&:before
					content: '— '
					position: absolute
					left: 0
					top: 0px

.techs-scroller
	display: flex

	&:not([data-animated="true"])
		@extend .container

	&[data-animated="true"]
		overflow: hidden
		+rmin(1921)
			mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent)
			max-width: calc(1920px - 160px)
			margin-left: auto
			margin-right: auto

		.techs-scroller__list
			flex-wrap: nowrap
			width: max-content
			animation: scroll 30s forwards linear infinite

	&__list
		--gap-x: 120px
		display: flex
		flex-wrap: wrap
		justify-content: center
		align-items: center
		gap: 40px var(--gap-x)
		+sm
			--gap-x: 68px
			gap: 20px var(--gap-x)
		li
			flex-shrink: 0
			img, svg
				max-width: 360px
				max-height: 64px
				+sm
					max-width: 260px

@keyframes scroll
	to
		transform: translate(calc(-50% - (var(--gap-x) / 2)))
