.sec-topics

	.section__head
		max-width: 620px
		margin-bottom: 68px
		+sm
			margin-bottom: 30px
	.section__text
		margin-top: 147px
		+laptop
			margin-top: 100px
		+md
			margin-top: 45px

.techs
	display: flex
	flex-wrap: wrap
	align-items: stretch
	justify-content: center
	gap: 20px
	+sm
		gap: 16px

	&__item
		display: flex
		flex-direction: column
		width: calc(33.33% - 14px)
		border-radius: 12px
		padding: 64px
		background: #1F1F1F
		position: relative
		z-index: 2
		color: var(--colorWhite)
		+xxl
			padding: 48px
		+laptop
			width: calc(50% - 20px)
		+md
			padding: 32px
		+sm
			width: 100%
		+xxxs
			padding: 24px

	&__link
		text-decoration: none
		color: $black
		transition: color .1s

		&:hover
			text-decoration: underline
			color: $themeColor

	&__img-box
		height: 48px
		width: 100%
		display: flex
		justify-content: flex-start
		align-items: center
		margin-bottom: 36px

		picture
			display: block
			height: 100%
		img
			max-height: 100%

	&__title
		font-size: 32px
		font-weight: 500
		letter-spacing: -0.64px

		max-width: 322px
		line-height: 1.1
		+md
			font-size: 28px
		+xxs
			font-size: 24px

	&__text
		font-size: 16px
		letter-spacing: -0.3px
		margin-top: 22px
		line-height: 1.2
		max-width: 322px
		+md
			font-size: 14px
		ul
			list-style-type: none

			li
				margin-bottom: 1px
				&:last-child
					margin-bottom: 0
				&:before
					content: '— '
					display: inline

.techs-scroller
	display: flex
	margin-top: 50px !important
	margin-bottom: 50px

	&:not([data-animated="true"])
		@extend .container

	&[data-animated="true"]
		overflow: hidden
		+rmin(1921)
			mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent)
			max-width: calc(1920px - 160px)
			margin-left: auto
			margin-right: auto

		.techs-scroller__list
			flex-wrap: nowrap
			width: max-content
			animation: scroll 30s forwards linear infinite

	&__list
		--gap-x: 120px
		display: flex
		flex-wrap: wrap
		justify-content: center
		align-items: center
		gap: 40px var(--gap-x)
		+sm
			--gap-x: 68px
			gap: 20px var(--gap-x)
		li
			flex-shrink: 0
			img, svg
				max-width: 360px
				max-height: 64px
				+sm
					max-width: 260px

@keyframes scroll
	to
		transform: translate(calc(-50% - (var(--gap-x) / 2)))
