.s-workshops-list
	background: #000
	@extend .section-cropped
	color: #fff

	.section__title
		text-align: center
		width: fit-content
		margin-inline: auto
		margin-bottom: 72px !important
		font-family: inherit
		font-weight: 400
		letter-spacing: 20px
		font-size: 32px !important

.workshops-list
	&__buttons
		.btn
			height: 52px !important
		.btn--secondary
			@extend .btn--border
			--btn-border-color: #fff
