.svg-anchor-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow-l-dims {
	width: 11.59px;
	height: 32px;
}

.svg-arrow-r-dims {
	width: 11.55px;
	height: 32px;
}

.svg-arrow-r2-dims {
	width: 7.9px;
	height: 13.4px;
}

.svg-arrow-right-dims {
	width: 32px;
	height: 32px;
}

.svg-cam-dims {
	width: 17px;
	height: 14.3px;
}

.svg-discord-dims {
	width: 31.75px;
	height: 32px;
}

.svg-face_1-dims {
	width: 24.09px;
	height: 32px;
}

.svg-face_10-dims {
	width: 24.97px;
	height: 32px;
}

.svg-face_11-dims {
	width: 24.08px;
	height: 32px;
}

.svg-face_12-dims {
	width: 24.09px;
	height: 32px;
}

.svg-face_2-dims {
	width: 24.98px;
	height: 32px;
}

.svg-face_3-dims {
	width: 24.08px;
	height: 32px;
}

.svg-face_4-dims {
	width: 32px;
	height: 27.47px;
}

.svg-face_5-dims {
	width: 28.52px;
	height: 32px;
}

.svg-face_6-dims {
	width: 24.08px;
	height: 32px;
}

.svg-face_7-dims {
	width: 26.14px;
	height: 32px;
}

.svg-face_8-dims {
	width: 24.97px;
	height: 32px;
}

.svg-face_9-dims {
	width: 24.07px;
	height: 32px;
}

.svg-fb-dims {
	width: 7px;
	height: 16px;
}

.svg-gh-dims {
	width: 19px;
	height: 18.6px;
}

.svg-heart-dims {
	width: 24.33px;
	height: 22.36px;
}

.svg-infinity-dims {
	width: 32px;
	height: 16.21px;
}

.svg-lightning-dims {
	width: 32px;
	height: 32px;
}

.svg-md-dims {
	width: 32px;
	height: 31.96px;
}

.svg-med-dims {
	width: 32px;
	height: 31.96px;
}

.svg-screens_controls-dims {
	width: 32px;
	height: 13.57px;
}

.svg-screens_dots-dims {
	width: 6.7px;
	height: 28.4px;
}

.svg-screens_star-dims {
	width: 28.3px;
	height: 26.8px;
}

.svg-site-dims {
	width: 32px;
	height: 32px;
}

.svg-sl-dims {
	width: 32px;
	height: 31.92px;
}

.svg-tickets-dims {
	width: 26.31px;
	height: 32px;
}

.svg-tw-dims {
	width: 19px;
	height: 16px;
}

.svg-vertical-scroll-dims {
	width: 32px;
	height: 32px;
}

.svg-yb-dims {
	width: 19px;
	height: 13.969px;
}

