.icon-16 {
    width: 1.84em;
    height: 1em;
    fill: initial;
  }
  .icon-2 {
    width: 1.12em;
    height: 1em;
    fill: initial;
  }
  .icon-35 {
    width: 3.04em;
    height: 1em;
    fill: initial;
  }
  .icon-350 {
    width: 3.49em;
    height: 1em;
    fill: #ff3586;
  }
  .icon-500 {
    width: 3.61em;
    height: 1em;
    fill: #ff3586;
  }
  .icon-6 {
    width: 1.15em;
    height: 1em;
    fill: #fef502;
  }
  .icon-arrow-big {
    width: 1.9em;
    height: 1em;
    fill: initial;
  }
  .icon-arrow-next {
    width: 0.6em;
    height: 1em;
    fill: #260000;
  }
  .icon-arrow-prev {
    width: 0.6em;
    height: 1em;
    fill: #260000;
  }
  .icon-arrow-right {
    width: 1em;
    height: 1em;
    fill: #121313;
  }
  .icon-discord {
    width: 1.46em;
    height: 1em;
    fill: initial;
  }
  .icon-equal {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-face {
    width: 0.78em;
    height: 1em;
    fill: initial;
  }
  .icon-fb {
    width: 0.52em;
    height: 1em;
    fill: initial;
  }
  .icon-gh {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-gn {
    width: 5.81em;
    height: 1em;
    fill: initial;
  }
  .icon-help {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-med {
    width: 1.29em;
    height: 1em;
    fill: initial;
  }
  .icon-perks {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-play-video {
    width: 1.32em;
    height: 1em;
    fill: initial;
  }
  .icon-plus {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-portal {
    width: 0.8em;
    height: 1em;
    fill: initial;
  }
  .icon-schedule {
    width: 1.01em;
    height: 1em;
    fill: initial;
  }
  .icon-site {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-sl {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-spatial {
    width: 0.62em;
    height: 1em;
    fill: initial;
  }
  .icon-tw {
    width: 1.25em;
    height: 1em;
    fill: initial;
  }
  .icon-yt-icon {
    width: 1.32em;
    height: 1em;
    fill: #fef502;
  }
  .icon-yt {
    width: 1.25em;
    height: 1em;
    fill: initial;
  }
  