---
title: React Day Berlin, November 30, 2018
logoPathToIntro: true

headerNav: [
  {
    title: 'Speakers',
    link: '#speakers',
    scroll: true
  },
  {
    title: 'Location',
    link: '#location',
    scroll: true
  },
  {
    title: 'Schedule',
    link: '#talks',
    scroll: true
  },
  {
    title: 'Workshops',
    link: '#workshops',
    scroll: true
  },
  {
    title: 'Sponsors',
    link: '#sponsors',
    scroll: true
  },
  {
    title: '2019',
    link: '/'
  }
]

speakers: [
  {
    mod: 'speaker--green',
    avatar: 'ken.jpg',
    label: 'Keynote',
    twitter: 'https://twitter.com/ken_wheeler',
    github: 'https://github.com/kenwheeler',
    name: 'Ken Wheeler',
    company: 'Formidable, USA',
    text: 'Director of Open Source at Formidable and the author of libraries like
  <a href="https://github.com/kenwheeler/slick" target="_blank">Slick Carousel</a>,
  <a href="https://github.com/kenwheeler/mcfly" target="_blank">McFly</a>,
  <a href="https://github.com/FormidableLabs/react-music" target="_blank">react-music</a>,
  <a href="https://github.com/FormidableLabs/webpack-dashboard" target="_blank">webpack-dashboard</a>,
  <a href="https://github.com/FormidableLabs/spectacle" target="_blank">Spectacle</a>.'
  }, {
    mod: 'speaker--light-green',
    avatar: 'speakers/monica.jpg',
    label: 'Design',
    twitter: 'https://twitter.com/monicalent',
    github: 'https://github.com/mlent',
    name: 'Monica Lent',
    company: 'SumUp, Germany',
    text: 'Monica is leading the Web Team at SumUp and is based here in Berlin. Her team is building the web experience that helps hundreds of thousands of small businesses around the world get started accepting card payments and growing their businesses.'
  }, {
    mod: 'speaker--blue',
    avatar: 'speakers/vincent.jpg',
    label: 'React Native',
    twitter: 'https://twitter.com/vincentriemer',
    github: 'https://github.com/vincentriemer',
    name: 'Vincent Riemer',
    company: 'Symantec, USA',
    text: "Software engineer at Symantec and creator of ambitious side projects such has <a href='https://github.com/vincentriemer/react-native-dom' target='_blank'>React
  Native DOM</a> and the <a href='https://github.com/vincentriemer/io-808' target='_blank'>iO-808</a>.
  When he isn't programming, you can find him producing music and tinkering with
  synthesizers."
  },{
    mod: 'speaker--red',
    avatar: 'speakers/artem.jpg',
    label: 'Case studies',
    twitter: 'https://twitter.com/asci_en',
    github: 'https://github.com/asci',
    name: 'Artem Riasnianskyi',
    company: 'Framer X, The Netherlands',
    text: 'Artem is a product engineer at Framer, working and living in beautiful Amsterdam. Passioned about performance, usability, and minimalism in code. With the team, he is building game-changing design app Framer X. Occasional cyclist.'
  }, {
    mod: 'speaker--light-green',
    avatar: 'speakers/sara.jpg',
    label: 'CSS in JS',
    twitter: 'https://twitter.com/NikkitaFTW',
    github: 'https://github.com/SaraVieira',
    name: 'Sara Vieira',
    company: 'YLDio, Europe',
    text: 'Developer Advocate at @YLDio. GraphQL and Open Source enthusiast. Conference Speaker and Airport expert. I am also into drums and horror movies.'
  }, {
    mod: 'speaker--darkred',
    avatar: 'speakers/kitze.jpg',
    label: 'Hype',
    twitter: 'https://twitter.com/thekitze',
    github: 'https://github.com/kitze',
    name: 'Kitze',
    company: 'ReactAcademy, Macedonia',
    text: 'Teaching React Javascript at <a href="https://www.reactacademy.io" target="_blank">React Academy</a>.
  Cares about open source, made and maintains <a href="http://sizzy.co" target="_blank">sizzy.co</a>, <a href="https://github.com/kitze/custom-react-scripts" target="_blank">custom-react-scripts</a>, and
  <a href="https://github.com/kitze/mobx-router" target="_blank">mobx-router</a>. He had the chance to
  work and experiment with a variety of languages and frameworks.'
  },{
    mod: 'speaker--darkred',
    avatar: 'speakers/manjula.jpg',
    label: 'GraphQL',
    twitter: 'https://twitter.com/manjula_dube',
    github: 'https://github.com/manjula91',
    name: 'Manjula Dube',
    company: 'Marley Spoon, Germany',
    text: 'Developer at Marley Spoon. Wants to make the web a better place to live, and in her free time, she works on OSS. Manjula loves teaching because thats the best way to learn more and more.'
  }, {
    mod: 'speaker--yellow',
    avatar: 'speakers/jfranklin.png',
    label: 'Testing',
    twitter: 'https://twitter.com/jack_franklin',
    github: 'https://github.com/jackfranklin',
    name: 'Jack Franklin',
    company: 'Thread, UK',
    text: 'Jack is a Frontend Engineer at Thread in London working primarily with React. In his free time, he’s usually writing or recording videos for his blog, JavaScript Playground. He is also the author of “Beginning jQuery” (Apress, 2012) and an eloquent speaker on Elm, front-end, build tools and frameworks.'
  }, {
    mod: 'speaker--green',
    avatar: 'speakers/forbes.jpg',
    label: 'Patterns',
    twitter: 'https://twitter.com/ForbesLindesay',
    github: 'https://github.com/ForbesLindesay',
    name: 'Forbes Lindesay',
    company: 'Threads, UK',
    text: "Forbes is a software engineer at Threads, working on React and Node.js projects. In the past, he's worked on large scale React apps at Facebook, and now runs training workshops to pass on that experience to other people. In his spare time he maintains a number of open source projects, such as Pug, Promise and Cabbie.js."
  },{
    mod: 'speaker--green',
    avatar: 'speakers/rebecca.jpg',
    label: 'State',
    twitter: 'https://twitter.com/rebekaka',
    github: 'https://github.com/beerecca',
    name: 'Rebecca Hill',
    company: 'WeTransfer, The Netherlands',
    text: 'Full stack JavaScript engineer at WeTransfer, building feedback software. Not-so-secretly helping JavaScript take over the world.'
  }, {
    mod: 'speaker--violet',
    avatar: 'speakers/oleg.jpg',
    label: 'Architecture',
    twitter: 'https://twitter.com/oleg008',
    github: 'https://github.com/kof',
    name: 'Oleg Isonen',
    company: 'Webflow, Germany',
    text: 'Oleg is an author of JSS and an architect with a focus on scalable web front-end applications. At React Day Berlin Oleg will share the insights on building complex applications with real-world examples.'
  }, {
    mod: 'speaker--yellow',
    avatar: 'speakers/jean.jpg',
    label: 'Performance',
    twitter: 'https://twitter.com/jiherr',
    github: 'https://github.com/jrbeaudoin',
    name: 'Jean-Rémi Beaudoin',
    company: 'Theodo, UK',
    text: 'Jean-Rémi is co-organiser of the React Native London meetup and Deputy CTO of Theodo, an web and mobile development agency.'
  }, {
    mod: 'speaker--blue',
    avatar: 'speakers/karan.jpeg',
    label: 'React Native',
    twitter: 'https://twitter.com/geekykaran',
    github: 'https://github.com/karanjthakkar',
    name: 'Karan Thakkar',
    company: 'Skyscanner, UK',
    text: 'Karan works as a Mobile Engineer at Skyscanner, building the React Native infrastructure enabling other teams within the org to use it. Previously, he lead the Web team at Crowdfire'
  }, {
    mod: 'speaker--yellow',
    avatar: 'speakers/alex.jpg',
    label: 'Performance',
    twitter: 'https://twitter.com/alexnmoldovan',
    github: 'https://github.com/alexnm',
    name: 'Alex Moldovan',
    company: 'TeleportHQ, Romania',
    text: 'Coder, blogger and tech enthusiast in general, Alex is always eager to talk about web development, javascript and programming overall. He dedicates a lot of time to teaching others, through mentoring and coaching activities and organizing JSHeroes, the biggest JS conference in Romania.'
  }, {
    mod: 'speaker--blue',
    avatar: 'speakers/ori.png',
    label: 'React Native',
    twitter: 'https://twitter.com/oriharel',
    github: 'https://github.com/oriharel',
    name: 'Ori Harel',
    company: 'Capriza, Israel',
    text: "An experienced full stack developer mainly focused on UI and mobile apps. I've been developing mobile apps for almost 10 years now working at companies like Mercury (HP), Jajah, DVTel, Check (Intuit) and Capriza."
  }, {
    mod: 'speaker--violet',
    avatar: 'speakers/jeremis.jpg',
    label: 'Animations',
    twitter: 'https://twitter.com/jeremenichelli',
    github: 'https://github.com/jeremenichelli',
    name: 'Jeremias Menichelli',
    company: 'Typeform, Spain',
    text: "Jeremias is an experienced front end engineer. He built all kinds of projects, from crazy animated experiences to big scale single page applications and Node services. He's currently working on design systems at Typeform and he's a member of webpack documentation team."
  }, {
    mod: 'speaker--blue',
    avatar: 'speakers/raphaeleidus.jpg',
    label: 'React Native',
    twitter: 'https://twitter.com/raphaelcodes',
    github: 'https://github.com/raphaeleidus',
    name: 'Raphael Eidus',
    company: 'HuffPost, USA',
    text: 'Director of Software Engineering at HuffPost (Oath). Working to create large scale applications for users all over the world. Avid fan of Javascript and functional programming. Recently working to expand the open source community around React Native.'
  }, {
    mod: 'speaker--darkred',
    avatar: 'speakers/raphaelamorim.jpeg',
    label: 'Deep dive',
    twitter: 'https://twitter.com/raphamorims',
    github: 'https://github.com/raphamorim',
    name: 'Raphael Amorim',
    company: 'GoDaddy, Brazil',
    text: 'Software Developer Engineer at GoDaddy. Working on React-Ape and React-TV. Loves Japanese culture, 70s/80s songs and a lot of 8bit art.'
  }, {
    mod: 'speaker--red',
    avatar: 'speakers/nik.jpg',
    label: 'Reason',
    twitter: 'https://twitter.com/nikgraf',
    github: 'https://github.com/nikgraf',
    name: 'Nik Graf',
    company: 'Freelance, Austria',
    text: 'Passionate about ReasonML, WebVR, Skiing & Triathlons. Co-Creator of DraftJS Plugins & Polished. Organizer at ReasonConf'
  }, {
    mod: 'speaker--violet',
    avatar: 'speakers/eli.jpg',
    label: 'Architecture',
    twitter: 'https://twitter.com/elibelly',
    github: 'https://github.com/elischutze',
    name: 'Elianne Schutze',
    company: 'Trainline, UK',
    text: 'Eli Schutze Ramirez is a web engineer at Trainline in London where she’s helping make train travel a better experience. Originally from Nicaragua, Eli is also a speaker and community organiser so when she’s not at work you can find her at tech meetups, teaching people to code or tweeting.'
  }, {
    mod: 'speaker--violet',
    avatar: 'speakers/max.jpg',
    label: 'Blockchain',
    twitter: 'https://twitter.com/maxkordek',
    github: 'https://github.com/MaxKK',
    name: 'Max Kordek',
    company: 'Lisk, Germany',
    text: 'Max Kordek is the Co-Founder of Lisk and CEO of Lightcurve, blockchain product development studio currently on the exclusive retainer of the Lisk Foundation. Max also personally oversees the development of Lisk’s User Interfaces, with industry-leading products such as Lisk Hub and Lisk Mobile.'
  }, {
    mod: 'speaker--darkred',
    avatar: 'speakers/jamie.jpg',
    label: 'Diversity',
    twitter: 'https://twitter.com/jamieszymko',
    name: 'Jamie Szymkowiak',
    company: 'Signavio, Germany',
    text: 'Jamie is a disability rights and LGBT+ activist, writer and Talent Advisor at Signavio, a Berlin tech company.'
  }, {
    mod: 'speaker--yellow',
    avatar: 'speakers/bard.jpg',
    label: 'Performance',
    twitter: 'https://twitter.com/bardfarstad',
    name: 'Bård Farstad',
    company: 'Crystallize, Norway',
    text: 'Founder & CEO of Crystallize, a headless e-commerce service. Serial and parallel entrepreneur with strong software background. Founder and also running the only bicycle factory company in Norway Skiens Cykkelfabrik.'
  }, {
    mod: 'speaker--blue',
    avatar: 'speakers/denisw.jpg',
    label: 'React Native',
    twitter: 'https://twitter.com/dwashingtn',
    github: 'https://github.com/denisw',
    name: 'Denis Washington',
    company: 'Futurice, Germany',
    text: 'Denis Washington is an enthusiastic software developer who loves web technologies, both on the frontend and backend. Programming since his early teenage years, Denis developed an outstanding knowledge in a variety of technologies which he uses to deliver high-quality and valuable products.'
  }, {
    mod: 'speaker--violet',
    avatar: 'speakers/denisp.jpg',
    label: 'WebGL',
    twitter: 'https://twitter.com/dperyel',
    name: 'Denys Periel',
    company: 'Evolution Gaming, Netherlands',
    text: 'Denys makes 3D photorealistic games which run in web browsers. He cares about performance, reusable and high-quality code. In his spare time Denys reads books, learns different programming languages, raises a child and fills up his Instagram with pictures of places he has visited with his family.'
  }

]

sponsors: [
  {
    title: 'Gold',
    list: [
      {
        alt: 'Evolution Gaming',
        img: 'gold1.png',
        link: 'https://www.evolutiongaming.com/',
        width: '300'
      },{
        alt: 'Lisk',
        img: 'gold2.png',
        link: 'https://lisk.io',
        width: '300'
      },{
        alt: 'Crystallize',
        img: 'gold3.png',
        link: 'https://crystallize.com',
        width: '350'
      },{
        alt: 'Futurice',
        img: 'gold4.png',
        link: 'https://www.futurice.com/',
        width: '350'
      }
    ]
  },{
    title: 'Silver',
    list: [
      {
        alt: 'Ebay Tech',
        img: 'silver1.png',
        link: 'https://ebaytech.berlin',
        width: '250'
      },{
        alt: 'Message bird',
        img: 'silver2.png',
        link: 'https://www.messagebird.com/',
        width: '261'
      },{
        alt: 'NewStore',
        img: 'silver3.png',
        link: 'https://www.newstore.com/',
        width: '273'
      },{
        alt: 'Jobsens.ai',
        img: 'silver4.png',
        link: 'https://www.jobsens.ai',
        width: '220'
      },{
        alt: 'Lieferando.de',
        img: 'silver11.jpg',
        link: 'https://www.takeaway.com/jobs',
        width: '180'
      },{
        alt: 'Bonify',
        img: 'silver7.png',
        link: 'https://www.bonify.de/',
        width: '200'
      },{
        alt: 'Honeypot',
        img: 'silver8.png',
        link: 'https://www.honeypot.io/',
        width: '230'
      },{
        alt: 'Railslove',
        img: 'silver9.png',
        link: 'http://railslove.com',
        width: '230'
      },{
        alt: 'Formidable',
        img: 'silver6.png',
        link: 'https://formidable.com/',
        width: '250'
      },{
        alt: 'Wayfair',
        img: 'silver10.png',
        link: 'https://www.wayfair.com/',
        width: '240'
      }
    ]
  },{
    title: 'Partners',
    list: [
      {
        alt: 'Stickermule',
        img: 'partner15.png',
        link: 'https://www.stickermule.com/de',
        width: '200'
      },{
        alt: 'Theodo',
        img: 'partner1.png',
        link: 'https://www.theodo.co.uk/',
        width: '120'
      },{
        alt: 'selleo',
        img: 'partner2.png',
        link: 'https://selleo.com/react-js',
        width: '200'
      },{
        alt: 'Move elevator',
        img: 'partner3.png',
        link: 'https://www.move-elevator.de/systems/react-native/',
        width: '180'
      },{
        alt: 'Typeform',
        img: 'typeform.png',
        link: 'https://www.typeform.com',
        width: '140'
      },{
        alt: 'dot conferences',
        img: 'partner4.png',
        link: 'https://www.dotconferences.com',
        width: '70'
      },{
        alt: 'Framsia',
        img: 'partner5.png',
        link: 'https://www.meetup.com/framsia/',
        width: '70'
      },{
        alt: 'GraphQl Finland',
        img: 'partner6.png',
        link: 'https://graphql-finland.fi',
        width: '130'
      },{
        alt: 'Lesbianswhotech',
        img: 'partner7.png',
        link: 'https://lesbianswhotech.org/about/',
        width: '110'
      },{
        alt: 'MadridJS',
        img: 'partner8.png',
        link: 'https://www.meetup.com/madridjs/',
        width: '130'
      },{
        alt: 'NGGirls',
        img: 'partner9.png',
        link: 'http://ng-girls.org',
        width: '70'
      },{
        alt: 'ReactJS Girls',
        img: 'partner10.png',
        link: 'https://www.meetup.com/ReactJS-Girls-London/',
        width: '100'
      },{
        alt: 'Travis Foundation',
        img: 'partner11.png',
        link: 'https://diversitytickets.org',
        width: '140'
      },{
        alt: 'WarsawJS',
        img: 'partner12.png',
        link: 'https://warsawjs.com',
        width: '90'
      },{
        alt: 'React Berlin Meetup',
        img: 'partner13.png',
        link: 'https://www.meetup.com/ReactJS-and-React-Native-Berlin/',
        width: '140'
      },{
        alt: 'deb.by',
        img: 'partner14.png',
        link: 'https://dev.by',
        width: '120'
      },{
        alt: 'Coderiver',
        img: 'coderiver.png',
        link: 'http://riverco.de',
        width: '200'
      }
    ]
  }
]

talks: [
  {
    title: 'Powering Code Reuse with Context and Render Props',
    name: 'Forbes Lindesay',
    place: 'Threads, UK',
    label: 'Patterns',
    labelColor: 'green',
    text: "React's context API has always been labelled as experimental, but from the advent of Redux it has been used in all the most exciting react libraries. It's about to become a stabilised feature so now is the perfect time to learn the new context API.
Combining the context API and render props lets gives you unprecedented power to cleanly reuse code across components. It even plays well with TypeScript and Flow. This talk will explain how context and render props work and give you some ideas of how to use them to simplify your own code."
  },{
    title: 'Starter Kit: GraphQL Boilerplates',
    name: 'Manjula Dube',
    place: 'Marley Spoon, Germany',
    label: 'GraphQL',
    labelColor: 'red',
    text: 'At some point when you often start with GraphQL you often think how do I even start integrating to my frontend tech stack with GraphQL. The talk is going to be all about explaining a boilerplate available from basic to advanced level. This is one of the open source project I am working with Graphcool team as an open source developer'
  },{
    title: "Structure Your App's Story With Sagas and Selectors",
    name: 'Rebecca Hill',
    place: 'WeTransfer, The Netherlands',
    label: 'State',
    labelColor: 'green',
    text: 'As apps begin to scale, many developers find themselves asking the question - but where does all the hard stuff go? The complicated data manipulation, the validation, the process flow of our apps. In other words, the business logic. If React is designed for the view layer, and we’re using Redux or something similar for the state, then where does the business logic go? This talk looks at the different options and tries to answer that question.'
  },{
    title: 'Navigating the hype-driven frontend development world without going insane',
    name: 'Kitze',
    place: 'ReactAcademy, Macedonia',
    label: 'Hype',
    labelColor: 'red',
    text: "The obsession to always move on to the latest and greatest, and the fear of missing out while working with something that's older than a few months is currently dominating the dev world.
Do you have enough time to learn the latest version of your favourite library or framework? Will this leave enough time if you need to learn something new? Should you stick with what you know? Should you forget about what you are using and start learning something new? What are other front-end developers using? Should you follow the crowd? This is a problem that everyone struggles with. So many decisions to make, but Kitze will help you find the answers."
  },{
    title: 'Feature Driven Architecture',
    name: 'Oleg Isonen',
    place: 'Webflow, Germany',
    label: 'Architecture',
    labelColor: 'violet',
    text: 'Large applications cannot be structured the same way as small applications. Many good decisions you make for a small application suddenly become bad once it grows in code and organization size. Let me walk you through a number of challenges and good decisions for scalable applications.'
  },{
    title: 'Designing React Native Modules For Every Platform',
    name: 'Vincent Riemer',
    place: 'Symantec, USA',
    label: 'React Native',
    labelColor: 'blue',
    text: ''
  },{
    title: "Secrets to a successful design system",
    name: 'Monica Lent',
    place: 'SumUp, Germany',
    label: 'Design',
    labelColor: 'lgreen',
    text: "Inconsistent UI is the enemy of developers and designers alike. And while design systems are a modern and scalable way to solve this challenge, implementing one is not as straightforward as it might seem: from getting buy-in from management to picking your tech stack, rolling it out, and releasing changes to multiple apps — there are a lot of things that can go wrong. In this talk, you'll learn how to pitch a design system to your boss, rarely discussed technical caveats and challenges, and how to set your design system up for success from the start.'"
  },{
    title: 'Tip top testing in JavaScript',
    name: 'Jack Franklin',
    place: 'Thread, UK',
    label: 'Testing',
    labelColor: 'yellow',
    text: "In this talk we'll dive into the approaches and strategies needed to create a great unit test environment for your JavaScript and React applications. We'll examine what makes the perfect test, what to avoid, and how to use more complex features like mocks and spies to enable you to write tests more easily. We'll also look at some of the common pitfalls and mistakes people make that can really begin to hurt you as your test suite grows."
  },{
    title: 'Abstracting the business away with React+Redux',
    name: 'Elianne Schutze',
    place: 'Trainline, UK',
    label: 'Architecture',
    labelColor: 'violet',
    text: "So you learned React, you tried the counter example, you built a To-Do app and graduated to using a third party API. Congrats! You're a React dev, but what happens next? Let's talk about how React fares in the real world when 'the business' gets involved."
  },{
    title: 'Type systems & props design - exploring PropTypes, TypeScript, Flow & Reason',
    name: 'Nik Graf',
    place: 'Freelance, Austria',
    label: 'Reason',
    labelColor: 'lred',
    text: "Badly designed props can lead to components that are frustrating to use. While there are a couple patterns to make components more pleasant to use, ultimately it needs a type system in combination with a good editor integration for an even better developer experience. Yet not all type systems are the same. They offer different features and therefore lead to different experiences.
In this talk we explore and compare PropTypes, TypeScript, Flow & Reason to cover use-cases like enums or tagged unions for component props."
  },{
    title: 'The Lonely and Dark Road to Styling in React',
    name: 'Sara Vieira',
    place: 'YLDio, Europe',
    label: 'CSS in JS',
    labelColor: 'lgreen',
    text: "CSS is hard !I made a living out of it being hard but when React was introduced we had a whole new level of fighting over CSS. There are so many ways to approach it and so many tradeoffs one can do when choosing the better approach that a talk that will go over these options is more than necessary. Let's walk this road thogheter and I promise it will all be fine and you will leave with an ideia of type of styling is better for each project. Hint: There is no perfect way..."
  },{
    title: 'Framer X Inside Out',
    name: 'Artem Riasnianskyi',
    place: 'Framer X, The Netherlands',
    label: 'Case studies',
    labelColor: 'lred',
    text: "Framer X is an advanced interactive design tool, powered by React. In Framer X, you can use actual React components in your design, bringing Code and Design together in a completely new way. We’ll talk about the challenges we encountered while creating Framer X. From how to make a performant graphics editor to building a dynamic component loader."
  },{
    title: 'Optimizing the Critical Rendering Path in React',
    name: 'Alex Moldovan',
    place: 'TeleportHQ, Romania',
    label: 'Performance',
    labelColor: 'yellow',
    text: "One of the crucial elements of performance is to ship relevant content to your users as soon as possible. But in modern web applications, figuring out what to ship and what to prioritize can be hard. Framework driven applications have the big disadvantage of being pretty heavy for the initial load. We will start from understanding how the browser works, then we will explain what the critical rendering path is and how we can optimize it. Expect a talk full of valuable resources and ideas that one can use to improve the performance of a modern web application, with a case study on a React powered application."
  },{
    title: 'Insights from building rich animated experiences in React',
    name: 'Jeremias Menichelli',
    place: 'Typeform, Spain',
    label: 'Animations',
    labelColor: 'violet',
    text: "Have you ever wondered why good performance is so hard to achieve in heavy animated web applications?
This talk is a practical retrospective on the discoveries, the pains and the journey that led me to build reliable bulletproof animations and transitions in real life production projects."
  },{
    title: 'Writing your own React Renderer',
    name: 'Raphael Amorim',
    place: 'GoDaddy, Brazil',
    label: 'Deep dive',
    labelColor: 'red',
    text: "Talk about reconciler, life cycles, and custom-renderer. The idea is to introduce how to create a custom renderer and how the reconciler handles elements, components, and instances."
  },{
    title: 'Troubleshooting a slow app, a practical guide to great React Native performance',
    name: 'Jean-Rémi Beaudoin',
    place: 'Theodo, UK',
    label: 'Performance',
    labelColor: 'yellow',
    text: "React Native is amazing at helping you deliver in production live apps very quickly. But to get there, you sometimes have to cut corners. Once you have a successful app loved by thousands of users, you start to wonder how to tackle performance issues. Figuring out where to start can be tricky.
This will be a practical guide about tools that can help you identify bottlenecks and quickly find ways to increase your app’s performance."
  },{
    title: 'So you want to use React Native in your mobile app?',
    name: 'Karan Thakkar',
    place: 'Skyscanner, UK',
    label: 'React Native',
    labelColor: 'blue',
    text: "In this talk, Karan will share his learnings from working on the React Native infrastructure at Skyscanner. These are concepts, issues and roadblocks that a developer would encounter in their journey of integrating React Native in a brownfield app. Knowing these ahead of time would help folks take the right decisions when building their own React Native infrastructure."
  },{
    title: 'Building A Large Scale React Native App',
    name: 'Raphael Eidus',
    place: 'HuffPost, USA',
    label: 'React Native',
    labelColor: 'blue',
    text: "At HuffPost we just finished rebuilding our main android news app in React Native. Explore some of the decisions we made about our code base and how those decisions impacted the success of the project and its future potential. Covering the React Native Bridge, State Management, Data Persistence, Offline Experiences, Asynchronous Tasks, Testing, and more. Attendees of this talk should be be able to make an informed decision at the end of the talk about whether React Native would be useful in their next project in addition to knowing how to avoid common problems."
  },{
    title: 'Using SVG in React Native',
    name: 'Ori Harel',
    place: 'Capriza, Israel',
    label: 'React Native',
    labelColor: 'blue',
    text: "Vector graphics is in fact the best way to provide great visualization and interaction combined. It exist on all platforms in some way or form, so it's just natural to use it in React Native. In this talk, I'll show you how I integrated the use of SVG with the opinionated component and state system of React, but in the same time keeping things highly performant when interacting with the UI thread - a topic a lot of developers are struggling with."
  }
]

schedule: [
  {
    tab: 'West hall',
    list: [
      {
        time: '8:20',
        title: 'Registration starts'
      },{
        time: '9:10',
        title: 'Conference openning'
      },{
        time: '9:20',
        title: 'The New Hotness: An Exploration of Reacts Exciting New Features',
        speaker: 'Ken Wheeler',
        from: 'Formidable, USA',
        text: ''
      },{
        time: '10:00',
        title: 'Powering Code Reuse with Context and Render Props',
        speaker: 'Forbes Lindsay',
        from: 'Threads, UK',
        text: "React's context API has always been labelled as experimental, but from the advent of Redux it has been used in all the most exciting react libraries. It's about to become a stabilised feature so now is the perfect time to learn the new context API. Combining the context API and render props lets gives you unprecedented power to cleanly reuse code across components. It even plays well with TypeScript and Flow. This talk will explain how context and render props work and give you some ideas of how to use them to simplify your own code."
      },{
        time: '10:30',
        title: 'Feature Driven Architecture',
        speaker: 'Oleg Isonen',
        from: 'Webflow, Germany',
        text: 'Large applications cannot be structured the same way as small applications. Many good decisions you make for a small application suddenly become bad once it grows in code and organization size. Let me walk you through a number of challenges and good decisions for scalable applications.'
      },{
        time: '11:00',
        title: 'Coffee break'
      },{
        time: '11:30',
        title: 'Secrets to a Successful Design System',
        speaker: 'Monica Lent',
        from: 'SumUp, Germany',
        text: "Inconsistent UI is the enemy of developers and designers alike. And while design systems are a modern and scalable way to solve this challenge, implementing one is not as straightforward as it might seem: from getting buy-in from management to picking your tech stack, rolling it out, and releasing changes to multiple apps — there are a lot of things that can go wrong. In this talk, you'll learn how to pitch a design system to your boss, rarely discussed technical caveats and challenges, and how to set your design system up for success from the start."
      },{
        time: '12:00',
        title: 'Tip Top Testing in JavaScript',
        speaker: 'Jack Franklin',
        from: 'Thread, UK',
        text: "In this talk we'll dive into the approaches and strategies needed to create a great unit test environment for your JavaScript and React applications. We'll examine what makes the perfect test, what to avoid, and how to use more complex features like mocks and spies to enable you to write tests more easily. We'll also look at some of the common pitfalls and mistakes people make that can really begin to hurt you as your test suite grows."
      },{
        time: '12:30',
        title: 'Lightning talks',
        lightningTalsList: [{
          title: 'Evolution of UI/UX in blockchain',
          speaker: 'Max Kordek',
          from: 'Lisk, Germany',
          text: 'In order to achieve mainstream adoption, blockchain technology must rapidly accelerate its user-facing tools. At Lisk, we’re dedicated to advancing the evolution of UI/UX design to empower developers and entrepreneurs to unlock the technologies vast potential.'
        }, {
          title: 'Breaking Down Barriers, Together!',
          speaker: 'Jamie Szymkowiak',
          from: 'Signavio, Germany',
          text: 'Jamie will highlight some of the common barriers we face as underrepresented people in the tech sector and how we - as a collective - can push for positive change that benefits everyone.'
        }, {
          title: 'Milliseconds Matter',
          speaker: 'Bård Farstad',
          from: 'Crystallize, Norway',
          text: 'In this talk Bård shares strategies and tactics for going milliseconds hunting. Pointers to launching a React App with global latency and scalability as a priority.'
        }, {
          title: 'Onboarding Mobile Developers to the Strange World of JS and React (Native)',
          speaker: 'Denis Washington',
          from: 'Futurice, Germany',
          text: 'Changing market demands cause some native mobile developers to jump into developing React  (Native) apps, but the fundamentally different mindset and workflow in the JS/React ecosystem can easily make them feel like on another planet. In this talk, Futurice share their learnings on how React developers can effectively help their mobile colleagues get acclimatised when working together in the world of React.'
        }, {
          title: '3D Components in React Application',
          speaker: 'Denys Periel',
          from: 'Evolution Gaming, Netherlands',
          text: ''
        }]
      },{
        time: '13:00',
        title: 'Lunch & networking'
      },{
        time: '14:00',
        title: 'GitNation Open Source Stage'
      },{
        time: '14:30',
        title: 'Navigating the Hype-Driven Frontend Development World Without Going Insane',
        speaker: 'Kitze',
        from: 'ReactAcademy, Macedonia',
        text: "The obsession to always move on to the latest and greatest, and the fear of missing out while working with something that's older than a few months is currently dominating the dev world.
        Do you have enough time to learn the latest version of your favourite library or framework? Will this leave enough time if you need to learn something new? Should you stick with what you know? Should you forget about what you are using and start learning something new? What are other front-end developers using? Should you follow the crowd? This is a problem that everyone struggles with. So many decisions to make, but Kitze will help you find the answers."
      },{
        time: '15:00',
        title: 'Writing Your Own React Renderer',
        speaker: 'Raphael Amorim',
        from: 'GoDaddy, Brazil',
        text: "Talk about reconciler, life cycles, and custom-renderer. The idea is to introduce how to create a custom renderer and how the reconciler handles elements, components, and instances."
      },{
        time: '15:30',
        title: "Structure Your App's Story With Sagas and Selectors",
        speaker: 'Rebecca Hill',
        from: 'WeTransfer, The Netherlands',
        text: "As apps begin to scale, many developers find themselves asking the question - but where does all the hard stuff go? The complicated data manipulation, the validation, the process flow of our apps. In other words, the business logic. If React is designed for the view layer, and we’re using Redux or something similar for the state, then where does the business logic go? This talk looks at the different options and tries to answer that question."
      },{
        time: '16:00',
        title: 'Coffee break'
      },{
        time: '16:30',
        title: 'Optimizing the Critical Rendering Path in React',
        speaker: 'Alex Moldovan',
        from: 'TeleportHQ, Romania',
        text: "One of the crucial elements of performance is to ship relevant content to your users as soon as possible. But in modern web applications, figuring out what to ship and what to prioritize can be hard. Framework driven applications have the big disadvantage of being pretty heavy for the initial load. We will start from understanding how the browser works, then we will explain what the critical rendering path is and how we can optimize it. Expect a talk full of valuable resources and ideas that one can use to improve the performance of a modern web application, with a case study on a React powered application."
      },{
        time: '17:00',
        title: 'The Lonely and Dark Road to Styling in React',
        speaker: 'Sara Vieira',
        from: 'YLDio, Europe',
        text: "CSS is hard !I made a living out of it being hard but when React was introduced we had a whole new level of fighting over CSS. There are so many ways to approach it and so many tradeoffs one can do when choosing the better approach that a talk that will go over these options is more than necessary. Let's walk this road thogheter and I promise it will all be fine and you will leave with an ideia of type of styling is better for each project. Hint: There is no perfect way..."
      },{
        time: '17:30',
        title: 'Closing of day programme'
      },{
        time: '18:00',
        title: '1.5h break (outside venue)'
      },{
        time: '19:30',
        title: 'Party starts'
      },{
        time: '20:00',
        title: '<a href="https://smoosh.fun/" target="_blank">#componentDidSmoosh</a> Comedy Show'
      },{
        time: '21:00',
        title: 'DJ Mila Chiral & VJ Kalma'
      },{
        time: '22:30',
        title: 'Party ends'
      }
    ]
  },{
    tab: 'East hall',
    list: [
      {
        time: '10:00',
        title: 'Designing React Native Modules For Every Platform',
        speaker: 'Vincent Riemer',
        text: "React Native took the world by storm with its decoupled approach to connecting Native and JavaScript code, but most code written for it is designed to assume the existence of only two platforms: iOS and Android.<br> In this talk, we'll do a deep dive into how React Native and Metro goes about resolving platform specific code, common patterns for separating platform-specific code, and look at those same patterns from the perspective of a platform developer to see how we can make them more resilient to new & upcoming platforms."
      },{
        time: '10:30',
        title: 'Type Systems & Props Design - Exploring PropTypes, TypeScript, Flow & Reason',
        speaker: 'Nik Graf',
        from: 'Freelance, Austria',
        text: 'Badly designed props can lead to components that are frustrating to use. While there are a couple patterns to make components more pleasant to use, ultimately it needs a type system in combination with a good editor integration for an even better developer experience. Yet not all type systems are the same. They offer different features and therefore lead to different experiences.'
      },{
        time: '11:00',
        title: 'Coffee Break'
      },{
        time: '11:30',
        title: 'Troubleshooting a slow app, a practical guide to great React Native performance',
        speaker: 'Jean-Remi Beaudoin',
        from: 'Theodo, UK',
        text: "React Native is amazing at helping you deliver in production live apps very quickly. But to get there, you sometimes have to cut corners. Once you have a successful app loved by thousands of users, you start to wonder how to tackle performance issues. Figuring out where to start can be tricky.
This will be a practical guide about tools that can help you identify bottlenecks and quickly find ways to increase your app’s performance."

      },{
        time: '12:00',
        title: 'So You Want to Use React Native in Your Mobile App?',
        speaker: 'Karan Thakkar',
        from: 'Skyscanner, UK',
        text: "In this talk, Karan will share his learnings from working on the React Native infrastructure at Skyscanner. These are concepts, issues and roadblocks that a developer would encounter in their journey of integrating React Native in a brownfield app. Knowing these ahead of time would help folks take the right decisions when building their own React Native infrastructure."
      },{
        time: '12:30',
        title: 'Starter Kit: GraphQL Boilerplates',
        speaker: 'Manjula Dube',
        from: 'Marley Spoon, Germany',
        text: "At some point when you often start with GraphQL you often think how do I even start integrating to my frontend tech stack with GraphQL. The talk is going to be all about explaining a boilerplate available from basic to advanced level. This is one of the open source project I am working with Graphcool team as an open source developer. "
      },{
        time: '13:00',
        title: 'Lunch & Networking'
      },{
        time: '14:30',
        title: 'Building A Large Scale React Native App',
        speaker: 'Raphael Eidus',
        from: 'HuffPost, USA',
        text: "At HuffPost we just finished rebuilding our main android news app in React Native. Explore some of the decisions we made about our code base and how those decisions impacted the success of the project and its future potential. Covering the React Native Bridge, State Management, Data Persistence, Offline Experiences, Asynchronous Tasks, Testing, and more. Attendees of this talk should be be able to make an informed decision at the end of the talk about whether React Native would be useful in their next project in addition to knowing how to avoid common problems."
      },{
        time: '15:00',
        title: 'Using SVG in React Native',
        speaker: 'Ori Harel',
        from: 'Capriza, Israel',
        text: "Vector graphics is in fact the best way to provide great visualization and interaction combined. It exist on all platforms in some way or form, so it's just natural to use it in React Native. In this talk, I'll show you how I integrated the use of SVG with the opinionated component and state system of React, but in the same time keeping things highly performant when interacting with the UI thread - a topic a lot of developers are struggling with."
      },{
        time: '15:30',
        title: 'Abstracting the Business Away with React+Redux',
        speaker: 'Elianne Schutze',
        from: 'Trainline, UK',
        text: "So you learned React, you tried the counter example, you built a To-Do app and graduated to using a third party API. Congrats! You're a React dev, but what happens next? Let's talk about how React fares in the real world when 'the business' gets involved."
      },{
        time: '16:00',
        title: 'Coffee Break'
      },{
        time: '16:30',
        title: 'Framer X Inside Out',
        speaker: 'Artem Riasnianskyi',
        from: 'Framer X, The Netherlands',
        text: "Framer X is an advanced interactive design tool, powered by React. In Framer X, you can use actual React components in your design, bringing Code and Design together in a completely new way. We’ll talk about the challenges we encountered while creating Framer X. From how to make a performant graphics editor to building a dynamic component loader."

      },{
        time: '17:00',
        title: 'Insights from Building Rich Animated Experiences in React',
        speaker: 'Jeremias Menichelli',
        from: 'Typeform, Spain',
        text: "Have you ever wondered why good performance is so hard to achieve in heavy animated web applications?
This talk is a practical retrospective on the discoveries, the pains and the journey that led me to build reliable bulletproof animations and transitions in real life production projects."
      },

    ]
  }
]

---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="main-page js-main-page">
	{% include "partials/_header.html" %}
	{% include "partials/_hero.html" %}
	{% include "partials/_welcome.html" %}
	{% include "partials/_video.html" %}
	{% include "partials/_speakers.html" %}
	{% include "partials/_location.html" %}
	{% include "partials/_city.html" %}
	<!--{% include "partials/_talks.html" %}-->
	{% include "partials/_schedule.html" %}
	{% include "partials/_workshops.html" %}
	{% include "partials/_fun.html" %}
	{% include "partials/_sponsors.html" %}
	{% include "partials/_experience.html" %}
	{% include "partials/_footerV2.html" %}
</div>
{% endblock %}
