/* Fonts
-----------------------------------------------------------------------------*/

@font-face {
	font-family: "Inter";
	src:url(../fonts/inter-regular-webfont.woff2) format("woff2"),
		url(../fonts/inter-regular-webfont.woff) format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "FoundersGrotesk";
	src:url(../fonts/foundersgrotesk-medium-webfont.woff2) format("woff2"),
		url(../fonts/foundersgrotesk-medium-webfont.woff) format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "FoundersGrotesk";
	src:url(../fonts/foundersgrotesk-semibold-webfont.woff2) format("woff2"),
		url(../fonts/foundersgrotesk-semibold-webfont.woff) format("woff");
	font-style: normal;
	font-weight: 600;
}