.icon-arrow_l {
    width: 1.84em;
    height: 1em;
    fill: #fff;
  }
  .icon-arrow_r {
    width: 1.84em;
    height: 1em;
    fill: #fff;
  }
  .icon-day-plus {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-discord {
    width: 1.46em;
    height: 1em;
    fill: initial;
  }
  .icon-equal {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-face {
    width: 0.78em;
    height: 1em;
    fill: initial;
  }
  .icon-fb {
    width: 0.38em;
    height: 1em;
    fill: initial;
  }
  .icon-gh {
    width: 1.02em;
    height: 1em;
    fill: #f59423;
  }
  .icon-help {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-lightning {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-md {
    width: 1.15em;
    height: 1em;
    fill: initial;
  }
  .icon-med {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-perks {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-plus {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-portal {
    width: 0.79em;
    height: 1em;
    fill: initial;
  }
  .icon-remo {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-schedule {
    width: 1.01em;
    height: 1em;
    fill: initial;
  }
  .icon-site {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-sl {
    width: 1em;
    height: 1em;
    fill: initial;
  }
  .icon-tw {
    width: 1.15em;
    height: 1em;
    fill: initial;
  }
  .icon-yb {
    width: 1.31em;
    height: 1em;
    fill: initial;
  }
  