---
pageKey: main
headerBtn: true
headerBurger: true
sponsorsDescription: true
fakeLinks: true
confName: pc

ogImage: https://aicodingsummit.com/img/ogImage.jpg
ogUrl: https://aicodingsummit.com/
---

{% extends "layouts/_layout.html" %}

{% block heroScript %}
{% include "partials/js/_filter-hero-buttons.html" %}
{% endblock %}

{% block content %}

{% include "partials/_headerV4.html" %}

<div class="main js-main">
	<div class="main__lines"></div>
	{% include "parts/_hero.html" %}

	{% if pages[pageKey].pageSections.event %}
	{% include "parts/_event.html" %}
	{% endif %}



	{% if pages[pageKey].pageSections.datesSlider and (extendeds.datesInPerson or extendeds.dates if inPerson else extendeds.dates) %}
	<section class="section sec-dates" id="dates">
		<div class="container">
			{% set datesSliderConfig = '{"spaceBetween": 0, "breakpoints": {"0": {"spaceBetween": 0}}}' %}
			{% include "partials/_dates-slider.html" %}
		</div>
	</section>
	{% endif %}

	{% if pages[pageKey].pageSections.features %}
	{% include "partials/_features-grid.html" %}
	{% endif %}



	{% if pages[pageKey].pageSections.speakers %}
	{% include "partials/_speakers.html" %}
	{% endif %}


	{% if pages[pageKey].pageSections.MCs %}
	{% include "partials/_mcs.html" %}
	{% endif %}


	{% if pages[pageKey].pageSections.schedule %}
	<div class="schedule-btn-wrap" id="schedule">
		<div class="container">
			<a class="btn btn--huge" href="{{ pagesPieceOfTexts.scheduleBtn__linkInPerson if inPerson else pagesPieceOfTexts.scheduleBtn__link }}">
				{{ pagesPieceOfTexts.scheduleBtn__text | safe }} {{mixins.icon('arrow-big')}}

			</a>
		</div>
	</div>
	{% endif %}

	{% if pages[pageKey].pageSections.workshopsList %}
	{% include "partials/_workshops-listV2.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.committee %}
	{% include "partials/_committee.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.multipass %}
	{% include "partials/_multipassV2.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.prices %}
	{% include "partials/_prices.html" %}
	{% endif %}

	{% include "parts/_location.html" %}

	{#
	{% if pages[pageKey].pageSections.freeTicket %}
	{% include "partials/_free-ticket.html" %}
	{% endif %}
	#}

	{% if customContent.videoRooms and pages[pageKey].pageSections.videoRooms %}
	{% include "partials/_video-rooms.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.sponsors %}
	{% include "partials/_sponsors.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.givingBack %}
	{% include "partials/_back-to-community.html" %}
	{% endif %}

	{% include "partials/_footerV4.html" %}

	{% if pages[pageKey].pageSections.popupSubscription %}
	{% include "partials/_popup-subscription.html" %}
	{% endif %}

	{% if pages[pageKey].pageSections.popupSubscriptionTools %}
	{% include "partials/popups/_popup-subscription-top-10-tools.html" %}
	{% endif %}

	{% include "partials/_notice-panel.html" %}
	{% include "partials/_price-increase.html" %}
</div>



{% endblock %}