.s-multipass
	position: relative
	border-bottom: 1px solid $gray2
	color: var(--colorWhite)
	background: #0e0e0e

	.container
		position: relative
		z-index: 1

	.section__title
		color: var(--colorWhite)
		margin-bottom: 0

.multipass
	&__head
		display: flex
		max-width: auto
		gap: 30px 52px

		+md
			flex-direction: column
			align-items: center
			text-align: center

	&__title
		display: flex
		align-items: center
		flex: 0
		font-size: clamp(32px, 6vw, 64px)
		+black
		line-height: 1.2
		font-stretch: 120%

	&__content
		display: flex
		margin-top: 80px

		+md
			margin-top: 64px
		+sm
			flex-direction: column
			margin-top: 40px
			margin-left: -10px
			margin-right: -10px

	&__desc
		display: flex
		flex-direction: column
		gap: 32px
		flex: 0 0 400px
		margin: 0 0 0 64px

		+md
			gap: 24px
			flex: 1 1
			max-width: 400px
			margin-left: auto
			margin-right: auto
			text-align: center

	&__card
		+sm
			margin-bottom: 30px

	&__tip
		font-size: clamp(16px, 2.5vw, 24px)
		font-weight: 400
		text-transform: uppercase
		font-family: $roboto

	&__equals
		display: none

.visa-card
	position: relative
	width: 420px
	height: 248px

	+md
		width: 280px
		height: 160px

	+sm
		margin: 0 auto

	&:before
		content: ''
		position: absolute
		left: 50%
		top: 50%
		border-radius: 50%
		transform: translate(-50%, -50%)
		background: conic-gradient(from 180deg at 50% 50%, #FE5D02 0deg, #FEC902 43.02deg, #FEF502 146.08deg, #FE5D02 360deg)
		z-index: -1
		opacity: 0.6
		width: 202px
		height: 202px
		background: url(../img/multipass-blur.png) center center no-repeat

		+md
			width: 120px
			height: 120px

	&__card
		position: relative
		align-items: center
		width: 420px
		height: 248px
		backdrop-filter: blur(40px)
		border-radius: 30px

		border: 1px solid rgba(255, 255, 255, 0.25)
		z-index: 1
		display: flex
		text-align: left
		justify-content: center
		padding: 0 48px

		+md
			width: 280px
			height: 160px
			padding: 0 28px

	&__img
		margin: 0 14px 0 0

		.icon-face
			width: 86px
			height: 110px
			fill: var(--colorWhite)

			+md
				width: 46px
				height: 58px

	&__desc
		color: var(--colorWhite)

		div:first-child
			+black
			font-size: 32px
			text-transform: uppercase
			line-height: 1
			margin: 0 0 2px

			+md
				font-size: 22px

		div:last-child
			font-size: 12px
			+medium
			margin: 5px 0 0
			line-height: 0.9

			+md
				font-size: 12px

	&__side
		font-size: 14px
		font-weight: 500
		position: absolute
		right: 0
		top: 0
		bottom: 0
		padding: 25px 18px
		transform: rotate(180deg)
		opacity: 0.4
		writing-mode: vertical-lr
		display: flex
		justify-content: space-between
		display: none

		+md
			padding: 16px 10px
			font-size: 10px

		.icon
			width: 18px
			height: 18px
			fill: var(--colorWhite)

			+md
				width: 14px
				height: 14px

.multipass-list
	width: 100%
	margin: auto 0
	padding: 3px 0

	a
		+medium
		font-size: 16px
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		z-index: 1
		color: var(--colorWhite)
		display: flex
		align-items: center
		justify-content: center
		opacity: 0
		transition: all ease .2s

		&:hover

			text-decoration: underline

	&__item
		position: relative
		display: flex
		align-items: center
		justify-content: center
		height: 100%
		height: 100px
		img
			display: block
			max-width: 94%
			height: auto
			margin: auto
			opacity: 1
			transition: all ease .2s

		a:hover, a:focus-visible
			opacity: 1
			& + picture img
				opacity: 0.2

		.icon-plus
			position: absolute
			left: -23px
			top: 50%
			transform: translateY(-50%)
			display: block
			content: ''
			width: 14px
			height: 14px
			opacity: 1
			fill: #fff
			transition: all ease .2s

		&.swiper-slide-active
			.icon-plus
				opacity: 0

.multipass__dd
	margin-top: 80px
	padding: 40px
	border-radius: 24px
	border: 2px solid #363636
	display: flex
	flex-direction: column
	gap: 28px 64px
	max-width: 700px
	margin-left: auto
	margin-right: auto
	+md
		margin-top: 64px
	+sm
		padding: 32px
		border-radius: 16px
		margin-top: 40px
	+xs
		padding: 24px
		gap: 24px

	&-title
		font-size: 24px
		font-weight: 700
		max-width: 720px
		line-height: 1.2

		+xs
			font-size: 20px

	&-list
		padding-left: 18px
		font-size: 16px
		line-height: 1.2
		display: flex
		flex-direction: column
		gap: 10px
		list-style-type: disc
		grid-column: 2/3
		+md
			font-size: 14px

		+sm
			font-size: 12px
			grid-column: 1/2
