.s-prices

	.section__title
		line-height: .9
		font-size: clamp(44px,8vw,80px)
		text-transform: uppercase
		font-weight: 900
		font-family: "MonaSans"
		text-align: left
		margin-bottom: 50px
		color: #fff
