.social
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 12px
	&__link
		display: block

		.icon
			font-size: 18px
			fill: $white
			transition: 0.3s
			display: block
			&-tiktok, &-instagram
				transform: scale(0.9)
			&-portal
				transform: scale(1.3)

		.no-touch &
			&:hover
				.icon
					fill: var(--accentColorHover)
	&--theme
		.social
			&__item
				&:not(:last-child)
					margin-right: 28px
					+tablet
						margin-right: 15px
			&__link
				font-size: 20px
				.icon
					fill: var(--accentColorHover)
				.no-touch &
					&:hover
						.icon
							fill: $white
