{% set cmsPage = pages[pageKey] %}
{% set seo = {
	title: payload.pages[pageKey].seo.title or cmsPage.titleSeo,
	description: payload.pages[pageKey].seo.description or cmsPage.seoDescription,
	keywords: payload.pages[pageKey].seo.keywords or cmsPage.keywords
} %}

<link rel="canonical" href="{{conference.url}}{{canonicalUrl}}" />

{% if seo.keywords %}
<meta name="keywords" content="{{ seo.keywords }}" />
{% endif %}

{% if pageKey == 'schedule' and seo.title %}
{% set schedulePrefix = 'Offline ' if inPerson else 'Online ' %}
<title>{{ schedulePrefix }}{{ seo.title }}</title>
<meta name="title" property="og:title" content="{{ schedulePrefix }}{{ seo.title }}" />
{% elif seo.title %}
<title>{{ seo.title }}</title>
<meta name="title" property="og:title" content="{{ seo.title }}" />
{% endif %}

{% if seo.description %}
<meta name="description" content="{{ seo.description }}" />
<meta property="og:description" content="{{ seo.description }}" />
{% endif %}

{% if ogUrl %}
<meta property="og:url" content="{{ ogUrl }}" />{% endif %}
{% if ogImage %}
<meta property="og:image" content="{{ ogImage }}" />{% endif %}
<meta name="twitter:card" content="summary_large_image" />
