<div class="hero">
  <div class="container hero__inner">
    <div class="hero__left">
      <a href="/" class="logo">
        <img src="img/logo.svg" alt="">
      </a>
    </div>
    <div class="hero__right">
      <div class="hero__suptitle">15-18 September Barcelona 2024</div>
      <h1 class="hero__title">The contemporary software engineering and design festival</h1>
      <div class="hero__btn">
        <a href="#" class="btn btn--border">get Tickets</a>
        <a href="#" class="btn">get Tickets</a>
      </div>
    </div>
  </div>
</div>
