<div class="hero">
  <div class="container hero__inner">
    <div class="hero__top">
      <div class="hero__logo">
        <a href="/" class="logo">
          <img src="img/logo.svg" alt="">
        </a>
      </div>
      <div class="hero__right">
        <h1 class="hero__title">{{pagesPieceOfTexts.hero__title}}</h1>

        <div class="hero__suptitle">{{pagesPieceOfTexts.hero__date}}</div>
      </div>
    </div>
    <div class="hero__btn">
      <a href="#" class="btn">get Tickets</a>
      <a href="#" class="btn btn--border">get Tickets</a>
    </div>
  </div>
  <div class="hero__sections h-sections">
    <div class="h-sections__item">code</div>
    <div class="h-sections__item">career</div>
    <div class="h-sections__item">Creativity</div>
  </div>
  {% if pages[pageKey].pageSections.heroVideo %}
  <video class="hero__video" preload="auto" muted autoplay loop>
    <source src="video/hero_3.mp4" type="video/mp4" />
  </video>

  {% endif %}
</div>
