<section class="section s-location" id="location">
  <div class="container">
    <h2 class="section__title" data-title="{{pagesPieceOfTexts.location__title}}">{{ mixins.text(pieceOfTexts, 'location__title') }}</h2>
    <div class="location__top">
      <div class="location__address">
        {{ pagesPieceOfTexts.location__address | safe}}
      </div>
      <div class="location__btn">
        <a href="#" class="btn">see on map</a>
      </div>
    </div>

    {% if extendeds.locationSlide %}
    <div class="location__slider location-slider">
      <div class="swiper-container js-slider">
        <div class="swiper-wrapper">
          {% for slide in extendeds.locationSlide %}
          <div class="location-slider__item swiper-slide js-map-content">
            <picture class="location-slider__img">
              <img src="{{slide.image.url}}" alt="{{slide.description}}">
            </picture>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="swiper-button-prev js-slider-prev location-slider__prev">
        {{mixins.icon('arrow2-l')}}
      </div>

      <div class="swiper-button-next js-slider-next location-slider__next">
        {{mixins.icon('arrow2-r')}}
      </div>

      <div class="swiper-pagination js-slider-pagination location-slider__pagination"></div>

    </div>
    {% endif %}
  </div>
</section>
