<section class="s-numbers">
  <div class="container">
    <div class="numbers-grid">
      <div class="numbers-grid__item">
        <div class="numbers">
          <div class="numbers__left">
            <div class="numbers__val">30</div>
            <div class="numbers__title">Speakers</div>
          </div>
          <div class="numbers__right">
            <div class="numbers__text">
              Productivity / Сareer / Leadership / Software Architecture / UX / Psychology in Tech / AI /Innovation / Cloud / Serverless / Decentralisation / VR
            </div>
            <div class="numbers__btn">
              <a href="#" class="link-more">See all speakers</a>
            </div>
          </div>
        </div>
      </div>
      <div class="numbers-grid__item">
        <div class="numbers">
          <div class="numbers__left">
            <div class="numbers__val">12</div>
            <div class="numbers__title">Artists</div>
          </div>
          <div class="numbers__right">
            <div class="numbers__text">
              Moderat / Aphex Twin / Amelie Lens / Angel Molina / AINES / Aquarian / Ahadadream / Bendik Giske / Oneohtrix Point Never / Soda Plains / Anz
            </div>
            <div class="numbers__btn">
              <a href="#" class="link-more">See all Artists</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
