<section class="s-numbers">
  <div class="container">

    <div class="numbers-grid">
      {% for stats in pages[pageKey].pageStatistics.eventStats %}
      <div class="numbers-grid__item">
        <div class="numbers">
          <div class="numbers__left">
            <div class="numbers__val">{{stats.statNumber}}</div>
          </div>
          <div class="numbers__right">
            <div class="numbers__title">{{stats.statName}}</div>
            <div class="numbers__text">
              {{stats.statDescr}}
            </div>
            <div class="numbers__btn">
              <a href="{{stats.statLink.url}}" class="link-more">{{stats.statLink.text}}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
