<section class="section s-speakers _anim-items {{speakersMod}}" id="speakers">
  <div class="container">
    {% if (pageKey == "main") %}
    <h3 role="heading" aria-level="1" class="section__title" data-title="{{pagesPieceOfTexts.speakers__title}}">{{pagesPieceOfTexts.speakers__title }}</h3>
    {% else %}

    <h3 role="heading" aria-level="1" class="section__title">{{ mixins.text(pieceOfTexts, 'speakers__altTitle') }}</h3>
    {% endif %}

    {% if pagesPieceOfTexts.speakers__subtitle %}
    <h4 class="section__subtitle">{{ pagesPieceOfTexts.speakers__subtitle }}</h4>
    {% endif %}

    {% set visibleSpeackers = 10 %}
    <div class="speakers-list {{ 'box-overlay' if speakers[pageKey].length > visibleSpeackers}}" data-show-list="speakers">

      <div class="speakers-list__item speakers-list__item_cfp">
        <div class="cfp">
          <p class="speaker__name">{{ pagesPieceOfTexts.cfp__title }}</p>
          <p class="speaker__company">{{ pagesPieceOfTexts.cfp__desc }}</p>
          {% if pagesPieceOfTexts.cfp__link %}
          <a class="btn" href="{{ pagesPieceOfTexts.cfp__link }}" data-title="{{ pagesPieceOfTexts.cfp__linkText }}">{{ pagesPieceOfTexts.cfp__linkText }}</a>
          {% endif %}
        </div>
      </div>

      {% for person in speakers[pageKey] %}
      <div class="speakers-list__item  {{'hide' if loop.index > visibleSpeackers}}">
        <div class="speaker graphcms-container" {{ mixins.cmsData(person) }}>

          {{mixins.avatarWithDetails(person.activities.talks[0], person, not fakeLinks, eventsLayer, inPerson)}}

          <div class="speaker__name">{{person.name}}</div>
          <div class="speaker__company">{{person.company}}</div>
          <div class="speaker__desc">{{person.bio | safe}}</div>
          {% if (person.socials.length) %}
          <div class="speaker__socials">
            {% for item in person.socials %}
            <a aria-label="{{(person.name + ' talks and workshops at GitNation portal' if item.icon == 'portal') or (person.name + ' twitter' if item.icon == 'tw') or (person.name + ' github' if item.icon == 'gh') or (person.name + ' personal site' if item.icon == 'site') or (person.name + ' mastodon' if item.icon == 'med')}}" href="{{item.link}}" target="_blank" class="speaker__social-link">
              {{mixins.icon(item.icon)}}
            </a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}

      {% for announcedSoon in range(0, customContent.eventInfo.tbaSpeakersNumber) %}
      {% set smilesRandom = range(0,10) | random %}
      <div class="speakers-list__item">

        <div class="speaker graphcms-container" {{ mixins.cmsData(person) }}>
          <div class="speaker__photo">
            <picture>
              <img src="img/smiles/face_{{smilesRandom}}.svg" alt="to-be-announced-soon">
            </picture>
          </div>

          <div class="speaker__name">TO BE ANNOUNCED SOON</div>
        </div>
      </div>
      {% endfor %}

      {% if (pages[pageKey].pageSections.speakersMore) %}
      <div class="speakers-list__item speakers-list__item_cfp">
        <div class="cfp">
          <p class="speaker__name">{{ pagesPieceOfTexts.speakersMore__title | safe }}</p>
          {% if pagesPieceOfTexts.speakersMore__desc %}
          <p class="speaker__company">{{ pagesPieceOfTexts.speakersMore__desc | safe }}</p>
          {% endif %}
          {% if pagesPieceOfTexts.speakersMore__link %}
          <a class="btn" href="{{ pagesPieceOfTexts.speakersMore__link }}" data-title="{{ pagesPieceOfTexts.speakersMore__linkText }}">{{ pagesPieceOfTexts.speakersMore__linkText }}</a>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>

    {% if speakers[pageKey].length > visibleSpeackers %}
    <div class="speakers-list__btn" data-show-btn-parent>
      <a href="#" class="link-more js-show-link" data-show-btn="speakers">Show more</a>
    </div>
    {% endif %}
  </div>
</section>
