<div class="hero">
  <div class="container hero__inner">
    <div class="hero__head">
      <h1 class="hero__title {{ 'hero__title--main' if pages[pageKey] == pages.main }}">{{pagesPieceOfTexts.hero__title | safe}}</h1>

      {# {{mixins.socialsConf(conference)}} #}

      <div class="hero__bottom">
        {% if pagesPieceOfTexts.hero__subtitle %}
        <h2 class="hero__subtitle">
          {{pagesPieceOfTexts.hero__subtitle | safe}}
        </h2>
        {% endif %}

        <div class="hero__date">{{pagesPieceOfTexts.hero__date | safe}}</div>

        {% if pagesPieceOfTexts.hero__descr %}
        <div class="hero__descr">{{pagesPieceOfTexts.hero__descr}}</div>
        {% endif %}
      </div>
    </div>

    {% if pages[pageKey].pageStatistics.eventStats %}
    <div class="hero__info">
      {{mixins.eventStats(pages[pageKey].pageStatistics.eventStats)}}

      {% if pagesPieceOfTexts.ticket__text %}
      <div class="hero__btn">
        <a href="{{ pagesPieceOfTexts.ticket__link }}" class="btn js-scroll-link">
          {{pagesPieceOfTexts.ticket__text}}
        </a>
      </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="hero__video">
      <video preload="auto" muted autoplay loop>
        <source src="video/hero-video.mp4" type="video/mp4" />
      </video>
    </div>
  </div>



  <!-- <div class="hero__bg " style="background-image: url('img/hero-bg.svg');"></div> -->
</div>
