<section class="section section--inner">
  <div class="section__content">
    <div class="article">
      <div class="article__left">
        <p>
          Code of conduct
        </p>
        <p>
          Workshops
        </p>
        <p>
          etc
        </p>
      </div>
      <h2>Our speakers’ guns are set on stun</h2>
      <p class="paragraph">
        Diversity, sharing of ideas, and critical thinking are the core values when it comes to selection of our
        speakers. Both React’s pros and its rising stars will take over two stages at React Day Berlin and deliver
        stunning
      </p>
      <p class="paragraph-sm">
        Take buttons. Even with this relatively “flat” button, there are still a handful of light-related details
      </p>
      <p class="paragraph">
        OK, first things first. This guide is not for everyone. Who is this guide for?
      </p>
      <ul>
        <li><b>Developers</b> who want to be able to design their own good-looking UI in a pinch.</li>
        <li><b>UX designers</b> who want their portfolio to look better than a Pentagon PowerPoint. Or UX designers who
          know they can sell an awesome UX better in a pretty UI package.
        </li>
      </ul>
      <p class="paragraph"><i>OK, first things first. This guide is not for everyone. Who is this guide for?</i></p>
      <blockquote>
        “I majored in engineering — it’s almost a badge of <br>
        pride to build something that looks awful.”
      </blockquote>
      <p class="paragraph"><b>So word to the nerds: if I’m any good at designing UI now, it’s because I’ve analyzed
        stuff — not because I came out the chute with an intuitive understanding of beauty and balance.</b></p>
      <h3>The Rules</h3>
      <p>Here they are:</p>
      <ol>
        <li>Light comes from the sky</li>
        <li>Black and white first</li>
        <li>Double your whitespace</li>
        <li>Learn the methods of overlaying text on images (see Part 2)</li>
        <li>Make text pop— and un-pop (see Part 2)</li>
        <li>Only use good fonts (see Part 2)</li>
        <li>Steal like an artist (see Part 2)</li>
      </ol>
      <h2>Rule 1: Light Comes From the Sky</h2>
      <p class="paragraph-sm"><i>Shadows are invaluable cues in telling the human brain what <br> user interface
        elements
        we’re looking at.</i></p>
      <p class="paragraph"><i>This is perhaps the most important non-obvious thing to learn about UI design: light comes
        from the sky. Light comes from the sky so frequently and consistently that for it to come from below actually
        looks freaky.</i></p>
      <div class="article__row">
        <div class="article__col">
          <div class="article__img">
            <img src="img/art1.jpg" alt="Article image">
          </div>
          <p class="center-align">ReactDay Photo</p>
        </div>
        <div class="article__col">
          <p class="paragraph">
            UX designers are really into designing “mobile-first” these days. That means you think about how pages and
            interactions work on a phone before imagining them on your zillion-pixel Retina monitor.
          </p>
        </div>
      </div>
      <div class="article__row">
        <div class="article__col">
          <div class="article__img">
            <img src="img/art2.jpg" alt="Article image">
          </div>
        </div>
        <div class="article__col">
          <div class="article__img">
            <img src="img/art3.jpg" alt="Article image">
          </div>
        </div>
      </div>
      <div class="article__img article__img--lg">
        <img src="img/art4.jpg" alt="Article image">
      </div>
    </div>
  </div>

</section>
