<section class="city section">
  <div class="section__row">
    <div class="section__col-1"></div>
    <div class="section__col-2 theme-bg">
      <div class="city__controls">
        <button class="slider-btn slider-prev js-prev-slide">{{mixins.icon('arrow')}}</button>
        <button class="slider-btn slider-next js-next-slide">{{mixins.icon('arrow')}}</button>
      </div>
      <div class="section__container">
        <h3 class="city__title white-color">The city on the edge of tomorrow</h3>
        <div class="text white-color">
          <p>
            Berlin, Germany’s capital, is one of the busiest European tech centers and the best talent gravitates
            towards the city. With two international airports and modern infrastructure, you don’t even need a
            hyperdrive to get here.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="city__slider js-city-slider">
      <div class="city__slide">
        <div class="cslide js-lazy-bg" data-src="img/slide1.jpg">
          <p class="cslide__desc">
            Brandenburg gate at the sunset
          </p>
        </div>
      </div>
      <div class="city__slide">
        <div class="cslide js-lazy-bg" data-src="img/slide2.jpg">
          <p class="cslide__desc">
            Museum island on Spree river in center Berlin
          </p>
        </div>
      </div>
      <div class="city__slide">
        <div class="cslide js-lazy-bg" data-src="img/slide3.jpg">
          <p class="cslide__desc">
            Berlin skyline with Spree river at sunset
          </p>
        </div>
      </div>
      <div class="city__slide">
        <div class="cslide js-lazy-bg" data-src="img/slide4.jpg">
          <p class="cslide__desc">
            Oberbaum Bridge
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
