<section class="experience section">
  <div class="section__row">
    <div class="section__col-1 theme-bg" data-jq-clipthru="clipthru"></div>
    <div class="section__col-2">
      <div class="section__container section__container--l">
        <div class="section__title experience__title">
          <h2 class="section-title js-clip" id="experience">We’re no strangers to Berlin’s scene</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="experience__tweets">
      <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <div class="twitts-list">
        <div class="twitts-list__item">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">So much good energy <a
              href="https://twitter.com/NikkitaFTW?ref_src=twsrc%5Etfw">@NikkitaFTW</a>
              🔥 Great introduction to <a href="https://twitter.com/preactjs?ref_src=twsrc%5Etfw">@preactjs</a>!
              💯 I should definitely revisit it. <a
                href="https://twitter.com/hashtag/ReactDayBerlin?src=hash&amp;ref_src=twsrc%5Etfw">#ReactDayBerlin</a>
              <a href="https://t.co/D6SmGj9YQ3">pic.twitter.com/D6SmGj9YQ3</a></p>&mdash; Rafal
            Wilinski (@rafalwilinski) <a
            href="https://twitter.com/rafalwilinski/status/936908332157173760?ref_src=twsrc%5Etfw">December
            2, 2017</a>
          </blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr"><a
              href="https://twitter.com/grabbou?ref_src=twsrc%5Etfw">@grabbou</a>
              Delivers great talk about interpolation 💫 and RN animations 🌈. Lot’s of great
              tips and tricks <a
                href="https://twitter.com/hashtag/reactdayberlin?src=hash&amp;ref_src=twsrc%5Etfw">#reactdayberlin</a>
              <a href="https://t.co/goqKtEaV6t">pic.twitter.com/goqKtEaV6t</a></p>&mdash; Rafal
            Wilinski (@rafalwilinski) <a
            href="https://twitter.com/rafalwilinski/status/936885208250400768?ref_src=twsrc%5Etfw">December
            2, 2017</a>
          </blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">Great talk (as always) by <a
              href="https://twitter.com/nikolasburk?ref_src=twsrc%5Etfw">@nikolasburk</a>
              from <a href="https://twitter.com/graphcool?ref_src=twsrc%5Etfw">@graphcool</a>.
              Such a nice example of how to give an inclusive, beginner-friendly talk. <a
                href="https://twitter.com/hashtag/ReactDayBerlin?src=hash&amp;ref_src=twsrc%5Etfw">#ReactDayBerlin</a>
              <a href="https://t.co/saUkbf335C">https://t.co/saUkbf335C</a></p>&mdash; Carolyn
            Stransky (@carolstran) <a
            href="https://twitter.com/carolstran/status/936958086564270080?ref_src=twsrc%5Etfw">December
            2, 2017</a>
          </blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">The 👏 Best 👏 Talk 👏 Today. <a
              href="https://twitter.com/thekitze?ref_src=twsrc%5Etfw">@thekitze</a>
              on State Management in GraphQL era. <a
                href="https://twitter.com/hashtag/ReactDayBerlin?src=hash&amp;ref_src=twsrc%5Etfw">#ReactDayBerlin</a>
              <a href="https://t.co/57yUoGhAiU">pic.twitter.com/57yUoGhAiU</a></p>&mdash; Rafal
            Wilinski (@rafalwilinski) <a
            href="https://twitter.com/rafalwilinski/status/936964081579450368?ref_src=twsrc%5Etfw">December
            2, 2017</a>
          </blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">OMG, <a href="https://twitter.com/marcelcutts?ref_src=twsrc%5Etfw">@marcelcutts</a>’
              talk on Reason at <a
                href="https://twitter.com/hashtag/reactdayberlin?src=hash&amp;ref_src=twsrc%5Etfw">#reactdayberlin</a>
              is so awesome. 😱 I don‘t ever want him to stop. 😂 <a href="https://t.co/8LSFFZwLj8">pic.twitter.com/8LSFFZwLj8</a>
            </p>&mdash;
            Felix Jung (@feju) <a
            href="https://twitter.com/feju/status/936990946570522624?ref_src=twsrc%5Etfw">December
            2, 2017</a>
          </blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">Thanks <a
              href="https://twitter.com/reactdayberlin?ref_src=twsrc%5Etfw">@reactdayberlin</a>
              <a href="https://twitter.com/hashtag/reactdayberlin?src=hash&amp;ref_src=twsrc%5Etfw">#reactdayberlin</a>
              <br>It was an awesome experience. <br>Great audience &amp; speakers . Hope to see
              you next year :) <a href="https://t.co/RafVUj0NUe">pic.twitter.com/RafVUj0NUe</a></p>&mdash;
            Manjula Dube (@manjula_dube) <a
            href="https://twitter.com/manjula_dube/status/937224159884726275?ref_src=twsrc%5Etfw">December
            3, 2017</a>
          </blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">I got some new inspiration, received some swag and now <a
              href="https://twitter.com/hashtag/ReactDayBerlin?src=hash&amp;ref_src=twsrc%5Etfw">#ReactDayBerlin</a>
              is over. Thanks &amp; see you soon. Now it’s time to hack apollo-link-local with
              offline experience. <a href="https://t.co/SZPAU5NgKw">pic.twitter.com/SZPAU5NgKw</a></p>&mdash;
            Jaroslav Kubíček (@KubajzHK) <a
            href="https://twitter.com/KubajzHK/status/937006922573713409?ref_src=twsrc%5Etfw">December
            2, 2017</a>
          </blockquote>
        </div>
        <div class="twitts-list__item"></div>
      </div>
    </div>
    <div class="experience__old">
        <a href="/" class="bbtn bbtn--lg">2019 Conference website</a>
    </div>
  </div>
</section>
