<footer class="footer theme-bg">
  <div class="footer__image">
    <img class="js-lazy-image" data-src="img/footer-image.svg" alt="footer">
  </div>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__content">
        <ul class="footer__links">
          <li><a href="/sponsors/">Sponsorship opportunities</a></li>
          <li><a href="http://berlincodeofconduct.org/">Code of conduct</a></li>
          <li><a href="mailto:hi@reactday.berlin">Email us!</a></li>
        </ul>
        <div class="footer__git">
          <a href="https://gitnation.org" target="_blank">
            {{mixins.icon('git-logo')}}
          </a>
        </div>
      </div>
      <div class="footer__socials">
        <ul class="bsocial">
          <li class="bsocial__item"><a href="https://twitter.com/reactdayberlin" class="bsocial__link" target="_blank">{{mixins.icon('twitter')}}</a></li>
          <li class="bsocial__item"><a href="https://www.facebook.com/reactdayberlin" class="bsocial__link" target="_blank">{{mixins.icon('facebook')}}</a></li>
          <!--<li class="bsocial__item"><a href="#" class="bsocial__link" target="_blank">{{mixins.icon('instagram')}}</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</footer>
