<section class="section fun">
  <div class="section__row">
    <div class="section__col-1 theme-bg" data-jq-clipthru="clipthru"></div>
    <div class="section__col-2">
      <div class="section__container section__container--l">
        <div class="section__title fun__title">
          <h2 class="section-title js-clip">React - fuel<br>
            for a great party</h2>
        </div>
        <div class="fun__video">
          <iframe class="fun__video-frame js-lazy-image" data-src="https://player.vimeo.com/video/246667237?title=0&byline=0&portrait=0"
                  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="section__container section__container--sm">
        <div class="text-lg fun__text">
          <p>
            Fun is relative, but there’s no chance to be bored in Berlin, one of the party capitals of the world. Our
            afterparty and comedy show will make React Day Berlin the tech event of the year!
          </p>
        </div>
      </div>
      <!--<div class="section__container section__container&#45;&#45;l">-->
       <!---->
      <!--</div>-->
    </div>
  </div>
  <div class="container">
    <div class="fun__items">
      <div class="fun__item">
        <div class="speaker speaker--fun">
          <div class="speaker__header">
            <div class="speaker__avatar">
              <img class="js-lazy-image" data-src="img/fun2.jpg" alt="Alexandra Cárdenas">
            </div>
            <div class="speaker__info">
              Mila Chiral
              <div class="speaker__company">Berlin, Germany</div>
            </div>
          </div>
          <div class="speaker__text">
            Mila Chiral (Anja Weber) is a Berlin-based dancer-choreographer, electronic musician and DJ, who works in composing sounds and poetry as well as bodies and movements in time and space.
          </div>
        </div>
      </div>
      <div class="fun__item">
        <div class="speaker speaker--fun">
          <div class="speaker__header">
            <div class="speaker__avatar">
              <img class="js-lazy-image" data-src="img/fun1.jpg" alt="Kal Ma">
            </div>
            <div class="speaker__info">
              Kal Ma
              <div class="speaker__company">Berlin, Germany</div>
            </div>
          </div>
          <div class="speaker__text">
            Kalma is a visual performer that uses real time processes to create light installations, interactive sculptures, mappings, and VJ sets with unique atmospheres, unrepeatable experiences, and new adventures from one moment to the next.
          </div>
        </div>
      </div>
      <!--<div class="fun__item">-->
        <!--<div class="speaker speaker&#45;&#45;fun">-->
          <!--<div class="speaker__header">-->
            <!--<div class="speaker__avatar">-->
              <!--<img class="js-lazy-image" data-src="img/fun3.jpg" alt="Eddie Murphy">-->
            <!--</div>-->
            <!--<div class="speaker__info">-->
              <!--<a href="#" class="speaker__name speaker__name&#45;&#45;link">Eddie Murphy</a>-->
              <!--<div class="speaker__company">New York, USA</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="speaker__text">-->
            <!--When Murphy was 15 he listened to Richard Pryor's comedy album That Nigger's Crazy, which inspired his-->
            <!--decision to become a comedian.[17] Other early influences included Bill Cosby, Redd Foxx, and Robin-->
            <!--Williams.[11] On July 9, 1976, the date with which Murphy marks the beginning of his career, he-->
            <!--performed in a talent show at the Roosevelt Youth Center, doing an impersonation of singer Al Green as-->
            <!--Green's song "Let's Stay Together" played. This led to work at other clubs within walking distance, and-->
            <!--then late night jobs at locations that required him to commute by train. To do this he secretly skipped-->
            <!--school, and after his mother discovered this at the end of his senior year, he was required to attend-->
            <!--summer school.-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</section>
