<section class="section section--inner">
  <div class="section__row">
    <div class="section__col-3 theme-bg" data-jq-clipthru="clipthru">

    </div>
    <div class="section__col-4">
      <div class="section__container">
        <div class="section__right"></div>
        <div class="section__left">
          <p>
            Practical
          </p>
          <p>
            hands-on
          </p>
          <p>
            courses
          </p>
        </div>
        <div class="section__title section__title--inner">
          <h2 class="section-title js-clip">Workshops 2018</h2>
        </div>
        <div class="text-lg">
          <p>
            Do you see yourself leading amazing projects? Then you’d better not miss our workshops. Our instructors will
            help boost up your skills and show you new dimensions of JavaScript problem-solving.
          </p>
        </div>
        <div class="text-l">
          <p>
            Learn Advanced React practices, master GraphQL or get a crash-course on the next-gen programming language - ReasonML.
          </p>
          <p>
            Workshops are happening on November 29, 2018 (and 28 for second Advanced group), at <a href="https://goo.gl/maps/cdda8t6fVgt" target="_blank">SRH Hochschule Berlin</a>. Doors open at 8:30, trainings from 9:00 till 18:00.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section__content">
    <div class="section__img">
      <img src="img/text.jpg" alt="Workshop">
    </div>
  </div>
  <div class="section__row">
    <div class="section__col-5"></div>
    <div class="section__col-6 theme-bg"></div>
  </div>
</section>
