<section class="video section">
  <div class="section__row">
    <div class="section__col-1">

    </div>
    <div class="section__col-2 theme-bg">
      <div class="section__container">
        <div class="video__wrapper">
          <iframe class="js-lazy-image" data-src="https://www.youtube.com/embed/q351XlTCdr8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
