<section class="welcome section">
  <div class="welcome__dots">
    <img src="img/welcome-dots.svg" alt="dots">
  </div>
  <div class="section__row">
    <div class="section__col-1 theme-bg" data-jq-clipthru="clipthru">

    </div>
    <div class="section__col-2">
      <div class="welcome__svg">
        <div class="clip-svg js-clip">{{mixins.icon('hand-w')}}</div>
      </div>

      <div class="section__container">
        <div class="welcome__addition">
          Are you into React, React Native, GraphQL and hungry to learn from the best?
        </div>
        <div class="section__title welcome__title">
          <h2 class="section-title js-clip">Welcome to the Web of tomorrow</h2>
        </div>
        <div class="text-lg">
          <p>
            Take part in the exploration of the React (Native) universe! Focusing on in-depth talks, hands-on workshops,
            and
            finding new opportunities, React Day Berlin conference provides space for everyone to make friends and
            develop
            stellar apps together.
          </p>
        </div>
        <div class="text">
          <p>
            Last November, React Day brought 350 attendees from all over the world to Berlin, and since then, the crowd
            has
            been gathering at <a href="https://www.meetup.com/React-Open-Source/" target="_blank">React Open Source meetups</a> tailored for the most passionate part of the
            development community.
            2018 will see the conf on full blast – join us and you’re in for a ride.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
