<section class="workshop section js-section">
  <div class="section__row">
    <div class="section__col-1"></div>
    <div class="section__col-2 theme-bg" data-jq-clipthru="clipthru">
      <div class="section__container section__container--sm">
        <div class="section__title workshop__title">
          <h2 class="section-title js-clip js-title" id="workshops">Workshops</h2>
        </div>
        <div class="text-lg white-color">
          <p>
            Do you see yourself leading amazing projects? Then you’d better not miss our workshops. Our instructors will
            help boost up your skills and show you new dimensions of JavaScript problem-solving.
          </p>
          <p>
            Workshops are happening on November 28 and 29, at <a href="https://goo.gl/maps/cdda8t6fVgt" target="_blank">SRH Hochschule Berlin.</a>
          </p>
        </div>
        <div class="workshop__link">
          <a href="/2018/workshops">Workshop programmes</a>
        </div>
      </div>
    </div>
  </div>
</section>
