<section class="section event " id="event">

	<div class="event__bg" hidden></div>

	<div class="container">
		<div class="event__head ">
			{% if eventData.title %}
			<h2 class="event__title ">{{ eventData.title }}</h2>
			{% endif %}

			<div class="event__text section__text">
				{{ eventData.description | safe }}
			</div>
		</div>


		{% for block in eventData.blocks %}

		{% if block.blockType == 'topics' %}
		{% set topicsData = block %}
		{% include "partials/payload/sections/_topics.html" %}
		{% endif %}

		{% if block.blockType == 'deepDives' %}
		{% set deepDivesData = block %}
		{% include "partials/payload/sections/_deep-dives.html" %}
		{% endif %}

		{% if block.blockType == 'dates' %}
		{% set datesData = block %}
		{% include "partials/payload/sections/_dates.html" %}
		{% endif %}

		{% endfor %}
	</div>
</section>