$textColor: #023753
$mainBg: #F5F7F9
$themeColor: #230CEA
$white: #fff
$heroBtnColor: #FFD121
$linkColor: #3181BC
$gray: #999999
$black: #000000
$darcRed: #BC0063
$lRed: #D00000
$green: #36A901
$lgreen: #00a27a
$violet: #810CEA
$yellow: #EDB403
$darkBlue: #200cc7
