+font(Poppins, Poppins-Bold, 700)
+font(Poppins, Poppins-Light, 300)
+font(Poppins, Poppins-Medium, 500)
+font(Poppins, Poppins-Regular, 400)
+font(Poppins, Poppins-SemiBold, 600)
+font(Poppins, Poppins-Italic, 400)
+font(Poppins, Poppins-MediumItalic, 500)
+font(Poppins, Poppins-ExtraBold, 800)

=extraBold

  font-weight: 800

=bold

  font-weight: 700

=italic
  font-weight: 400
  font-style: italic

=mediumItalic
  font-weight: 500
  font-style: italic

=light
  font-weight: 300

=medium
  font-weight: 500

=regular
  font-weight: 400

=semi
  font-weight: 600

body
  line-height: 1.875
  +regular
  font-family: Poppins, Arial, Helvetica, sans-serif
  color: $textColor
  background-color: $mainBg
  font-size: 16px
  +md
    font-size: 12px
  &.is-overflow, &.is-no-scroll
    overflow: hidden

a
  text-decoration: none
  color: inherit
  font-size: inherit

.out
  overflow: hidden

.theme-bg
  background-color: $themeColor

.white-color
  color: $white
  a
    transition: .2s ease
    &:hover
      opacity: .8

.slider-btn
  background: transparent
  padding: 5px
  &:hover
    .icon
      fill: $heroBtnColor
  .icon
    transition: 0.3s
    fill: $white
    font-size: 32px

.slider-prev
  .icon
    transform: rotate(180deg)
    fill: $themeColor

.inner-page
  padding-top: 123px
  +md
    padding-top: 100px
  &--checkout
    padding-top: 100px
    +md
      padding-top: 55px

[aria-label="popup with details about speaker"]
    line-height: 1.32

.sec-checkout
  --accentColor: #FFD121 !important
  max-width: none !important
  .tito-widget .tito-widget-form .tito-release:after
    opacity: 1
    background: #200cc7

.hidden-iphone
  +md
    display: none
