+font(Poppins-Bold, Poppins-Bold)
+font(Poppins-Light, Poppins-Light)
+font(Poppins-Medium, Poppins-Medium)
+font(Poppins-Regular, Poppins-Regular)
+font(Poppins-SemiBold, Poppins-SemiBold)
+font(Poppins-Italic, Poppins-Italic)
+font(Poppins-MediumItalic, Poppins-MediumItalic)
+font(Poppins-ExtraBold, Poppins-ExtraBold)

=extraBold
  font-family: Poppins-ExtraBold, Arial, sans-serif
  font-weight: 800

=bold
  font-family: Poppins-Bold, Arial, sans-serif
  font-weight: 700

=italic
  font-family: Poppins-Italic, Arial, sans-serif
  font-weight: 400

=mediumItalic
  font-family: Poppins-MediumItalic, Arial, sans-serif
  font-weight: 500

=light
  font-family: Poppins-Light, Arial, sans-serif
  font-weight: 300

=medium
  font-family: Poppins-Medium, Arial, sans-serif
  font-weight: 500

=regular
  font-family: Poppins-Regular, Arial, sans-serif
  font-weight: 400

=semi
  font-family: Poppins-SemiBold, Arial, sans-serif
  font-weight: 600

body
  line-height: 1.875
  +regular
  color: $textColor
  background-color: $mainBg
  font-size: 16px
  +md
    font-size: 12px
  &.is-overflow, &.is-no-scroll
    overflow: hidden

a
  text-decoration: none
  color: inherit
  font-size: inherit

.out
  overflow: hidden

.theme-bg
  background-color: $themeColor

.white-color
  color: $white
  a
    transition: .2s ease
    &:hover
      opacity: .8

.slider-btn
  background: transparent
  padding: 5px
  &:hover
    .icon
      fill: $heroBtnColor
  .icon
    transition: 0.3s
    fill: $white
    font-size: 32px

.slider-prev
  .icon
    transform: rotate(180deg)
    fill: $themeColor

.inner-page
  padding-top: 123px
  +md
    padding-top: 100px
  &--checkout
    padding-top: 100px
    +md
      padding-top: 55px

[aria-label="popup with details about speaker"]
    line-height: 1.32

.sec-checkout

  --accentColor: #FFD121 !important
  .tito-widget .tito-widget-form .tito-release:after
    opacity: 1
    background: #200cc7

.shedule-v2
  margin: 0 !important
  --bgColor: #262626
  max-width: 100% !important
  +rmin(1024)
    padding-top: 120px !important

.hidden-iphone
  +md
    display: none
