=light
	font-family: $monaSans
	font-weight: 300

=regular
	font-family: $monaSans
	font-weight: 400

=medium
	font-family: $monaSans
	font-weight: 500

=bold
	font-family: $monaSans
	font-weight: 700

=black
	font-family: $monaSans
	font-weight: 900

.out
	overflow: hidden
	position: relative

body
	background: $mainBg

	color: $black
	font-size: 14px
	font-family: 'MonaSans', sans-serif
	font-weight: 400
	line-height: 1.2
	&.is-no-scroll
		overflow: hidden

a
	color: $themeColor

	&:hover
		text-decoration: none
