
.main
	display: flex
	flex-direction: column
	&.blur
		filter: blur(10px) grayscale(.6)

.container
	--container: 40px
	width: 100%
	max-width: 1360px
	padding-inline: var(--container)
	margin: 0 auto
	+md
		--container: 20px

.section
	--section-y: 100px
	padding-block: var(--section-y)
	+md
		--section-y: 80px
	+sm
		--section-y: 64px
	&__title
		font-family: $roboto
		text-align: center
		font-weight: 300
		font-size: 20px
		margin-bottom: 62px
		color: $gray3

		+tablet
			margin-bottom: 32px

		&_big
			font-size: 32px
			font-weight: 700

	&__subtitle
		font-weight: 400
		text-align: center
		font-size: 16px
		line-height: 1.6
		max-width: 780px
		margin: 30px auto 40px

		+tablet
			font-size: 16px
			margin: 30px auto 30px

	&__info
		text-align: center
		font-size: 16px
		line-height: 1.6
		max-width: 880px
		margin: 30px auto 26px

		+tablet
			font-size: 16px
			margin: 20px auto 16px

		p
			&:not(:first-child)
				margin: 24px 0 0

		a
			color: $themeColor2
			text-transform: uppercase
			font-weight: 700

	&__text
		max-width: 950px
		margin: 0 auto
		+tablet
			max-width: 870px

.text
	letter-spacing: 0.7px
	font-size: 22px
	line-height: 1.7
	text-align: center

	+tablet
		font-size: 19px
		letter-spacing: 1.1px
		line-height: 1.8
	+md
		font-size: 16px
		line-height: 1.8
	+xs
		font-size: 15px
	a
		color: inherit

.wrapper-link
	text-decoration: none
	color: unset

.separator
	height: 48px
	background: #f00
	margin: 0 0 -48px
	background: url(../img/separator.svg)

.pop-ticket__btn
	&.btn
		&.btn--border
			color: $black

.icon
	display: inline-block
	width: 1em
	height: 1em
	stroke-width: 0
	stroke: currentColor
	fill: currentColor
	transition: all 0.2s li

.icon-mastodon
	fill: none
.icon-site, .icon-portal
	transform: scale(1.2)
