@import "_variables.sass"

html
	--color-brand: #{$themeColor}
	--color-brand-hover: #{$themeColorD}
	--color-popup-ticket-border: #{$themeColor}

.block
	display: flex
	// remove this

.section
	--section-y: 100px
	padding: var(--section-y) 0
	+md
		--section-y: 80px
	+sm
		--section-y: 64px
	&__title
		font-family: $roboto
		text-align: center
		font-weight: 300
		font-size: 20px
		margin-bottom: 62px
		color: $gray3

		.green
			color: $themeColor

		+tablet
			margin-bottom: 32px

		&_big
			font-size: 32px
			font-weight: 700

	&__subtitle
		font-weight: 400
		text-align: center
		font-size: 16px
		line-height: 1.6
		max-width: 780px
		margin: 30px auto 40px

		+tablet
			font-size: 16px
			margin: 30px auto 30px

	&__info
		text-align: center
		font-size: 16px
		line-height: 1.6
		max-width: 880px
		margin: 30px auto 26px

		+tablet
			font-size: 16px
			margin: 20px auto 16px

		p
			&:not(:first-child)
				margin: 24px 0 0

		a
			color: $themeColor2
			text-transform: uppercase
			font-weight: 700

	&__text
		max-width: 950px
		margin: 0 auto
		+tablet
			max-width: 870px
