\:root
  --accentColor: #E22900

  --checkout-section-bg: #161917
  --checkout-section-color: #fff
  --checkout-card-border: 2px solid #363636
  --checkout-card-bg: transparent
  --checkout-card-text-color: #fff
  --checkout-quantity-bg: #E22900
  --checkout-quantity-hover-color: #fff
  --checkout-quantity-border: 1px solid #363636
  --checkout-quantity-button-bg: #E22900
  --checkout-quantity-button-bg-hover: #000
  --checkout-quantity-button-icon-color: #fff
  --checkout-quantity-button-icon-color-hover: #fff
  --checkout-form-ff: GothamPro,Arial,sans-serif
  --checkout-price-ff: GothamPro,Arial,sans-serif
  --checkout-card-title-weight: 500
  --checkout-button-weight: 500
  --checkout-button-border: 1px solid #E22900
  --checkout-button-border-hover: 1px solid #000

  --cehckout-badge-bg: #000
  --cehckout-badge-color: #fff

  --price-section-bg: #0e0e0e
  --price-color: #fff

  --price-item-bg: #0e0e0e
  --price-item-border: 2px solid #363636
  --price-item-radius: 16px
  --price-item-title-color: #fff
  --price-item-title-weight: 500

  --price-slider-btn-size: 54px
  --price-slider-btn-border-color: #363636
  --price-slider-btn-radius: 50%
  --price-slider-btn-color: #E22900
  --price-slider-btn-bg: #0e0e0e
  --price-slider-btn-bg-hover: #222222

  --price-btn-color: #fff
  --price-btn-border: 1px solid #3C3C3C
  --price-btn-border-color-hover: #5C5C5C

$font-size: 16px

/*----- COLORS -----*/

$mainBg: #FFFFFF
$mainBg2: #eaeaec
$black: #000
$white: #fff
$gray: #E2E2E2
$gray2: #363636
$gray3: #6C6C6C
$themeColor: #E22900
$themeColorD: #ff6320
$themeColor2: #000000
$accent: #b1ec00

// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- SWITCH -----*/
$switchBG: #b1ec00
$switchColor: $black
$switchHandler: $black

// end SWITCH

$roboto: 'Roboto Mono', monospace
$monaSans: 'Mona Sans'
