$font-size: 16px

/*----- COLORS -----*/

$mainBg: #FFFFFF
$mainBg2: #eaeaec
$black: #000
$white: #fff
$gray: #E2E2E2
$gray2: #363636
$gray3: #6C6C6C
$themeColor: #E22900
$themeColorD: #ff6320
$themeColor2: #000000
$accent: #b1ec00



// end COLORS

$roboto: 'Roboto Mono', monospace
$monaSans: 'Mona Sans'
