$font-size: 16px

/*----- COLORS -----*/

$mainBg: #FFFFFF
$mainBg2: #eaeaec
$black: #000
$white: #fff
$gray: #E2E2E2
$gray2: #363636
$gray3: #6C6C6C
$themeColor: #E22900
$themeColorD: #ff6320
$themeColor2: #000000
$accent: #b1ec00



// end COLORS

/*----- SCHEDULE -----*/
$posTop: 0px
$scheduleColorGray: #c5c5c5
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- CHECKOUT -----*/
$checkoutSectionBg: #161917
$cehckoutInputColor: #fff
$cehckoutInputBg: #353535
$cehckoutColorGray: #eaeaec
$cehckoutBadgeBg: #fff
$cehckoutBadgeColor: #000
// end CHEcKoUT

/*----- SWITCH -----*/
$switchBG: #b1ec00
$switchColor: $black
$switchHandler: $black

// end SWITCH

$roboto: 'Roboto Mono', monospace
$monaSans: 'Mona Sans'
