\:root
  --checkout-section-bg: #f5f7f9
  --checkout-section-color: #000
  --checkout-card-border: 1px solid #d7d7d7
  --checkout-card-bg: #fff
  --checkout-card-radius: 0
  --checkout-card-text-color: #000
  --checkout-quantity-hover-color: #000
  --checkout-quantity-border: 1px solid #d7d7d7
  --checkout-quantity-button-bg: #230CEA
  --checkout-quantity-button-bg-hover: #fff
  --checkout-quantity-button-border: 2px solid #230CEA
  --checkout-quantity-button-border-hover: 2px solid #230CEA
  --checkout-quantity-button-icon-color: #fff
  --checkout-quantity-button-icon-color-hover: #230CEA
  --checkout-form-ff: GothamPro,Arial,Helvetica,sans-serif
  --checkout-price-ff: Poppins-Bold,Arial,sans-serif
  --checkout-card-title-weight: 700
  --checkout-button-weight: 700
  --checkout-button-border: 2px solid #230CEA
  --checkout-button-border-hover: 2px solid #230CEA

  --cehckout-badge-bg: #d7d7d7
  --cehckout-badge-color: #000

$textColor: #023753
$mainBg: #F5F7F9
$themeColor: #230CEA
$themeColorD: #230CEA
$white: #fff
$heroBtnColor: #FFD121
$linkColor: #3181BC
$gray: #999999
$black: #000000
$darcRed: #BC0063
$lRed: #D00000
$green: #36A901
$lgreen: #00a27a
$violet: #810CEA
$yellow: #EDB403
$darkBlue: #200cc7

/*----- CHECKOUT -----*/
$checkoutSectionBg: #230CEA
$cehckoutInputColor: #000
$cehckoutInputBg: #fff
$cehckoutColorGray: #eaeaec
$cehckoutBadgeBg: #fff
$cehckoutBadgeColor: #000
// end CHEcKoUT

/*----- SCHEDULE -----*/
$posTop: 100px
$scheduleColorGray: #fff
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- SWITCH -----*/
$switchColor: $black
$switchHandler: $black

// end SWITCH
