/*----- CHECKOUT -----*/
$checkoutSectionBg: #230CEA
$cehckoutInputColor: #000
$cehckoutInputBg: #fff
$cehckoutColorGray: #eaeaec
$cehckoutBadgeBg: #fff
$cehckoutBadgeColor: #000
// end CHEcKoUT

/*----- SCHEDULE -----*/
$posTop: 100px
$scheduleColorGray: #fff
$scheduleColorGrayL: #eaeaec
$scheduleOutline: #8D8D8D
// end SCHEDULE

/*----- SWITCH -----*/
$switchColor: $black
$switchHandler: $black

// end SWITCH
