<div class="article">
  <div class="article__left">
    <p>
      #lead
    </p>
  </div>
  <h2>Careers at Bonify, Berlin</h2>
  <div class="article__img article__img--lg">
    <a href="https://www.bonify.de/engineering" target="_blank">
      <img src="img/jobs/bonify.jpg" alt="Bonify">
    </a>
  </div>
  <p class="paragraph">
We help our customers to bonify their financial lives by obtaining data sovereignty and through providing information, tools and recommendations.
  </p>
  <p class="paragraph-sm">
We do not accept the un-transparent and unfair financial market, and we want to increase the life quality of people through financial freedom.

  </p>
  <p class="paragraph-sm">
To ensure we remain on the forefront of changing technologies we are always adapting and evolving, which is why React, Redux and React Native are a key part of our infrastructure.

  </p>
  <p class="paragraph-sm">Our mission is a purpose, our reason for existence and the difference we strive to make in the world.</p>

  <blockquote>
    <a href="https://www.bonify.de/engineering" target="_blank">More details...</a>
  </blockquote>
</div>

