<div class="article">
  <div class="article__left">
    <p>
      #scale
    </p>
  </div>
  <h2>Careers at eBay Tech</h2>
  <div class="article__img article__img--lg">
    <a href="https://careers.ebayinc.com/join-our-team/start-your-search/" target="_blank">
      <img src="img/jobs/ebay.jpg" alt="eBay Tech">
    </a>
  </div>
  <p class="paragraph">
    eBay Tech Berlin includes software developers, testers, data engineers & scientists as well as site operations teams
    from eBay Germany, eBay Kleinanzeigen, mobile.de, MOTOR-TALK and eBay Classifieds MoVe. We build leading online
    platforms using the latest technologies and methods.
  </p>
  <ul>
    <li><a target="_blank" href="https://jobs.ebayinc.com/job/berlin/software-architect-javascript-m-f/403/9095767">Software Architect JavaScript</a></li>
    <li><a target="_blank" href="https://jobs.ebayinc.com/job/berlin/senior-frontend-engineer-f-m/403/9260373">(Senior) Frontend Engineer</a></li>
    <li><a target="_blank" href="https://jobs.ebayinc.com/job/dreilinden/software-engineer-java-javascript/403/8573141">Software Engineer (Java/Javascript)</a></li>
    <li><a target="_blank" href="https://jobs.ebayinc.com/job/dreilinden/software-engineer-f-m/403/9804704">Software Engineer (f/m)</a></li>
  </ul>
  <blockquote>
    <a href="https://careers.ebayinc.com/join-our-team/start-your-search/" target="_blank">More details...</a>
  </blockquote>
</div>

