<div class="article">
  <div class="article__left">
    <p>
      #React
    </p>
    <p>
      #Games
    </p>
    <p>
      #Global
    </p>
  </div>
  <h2>Careers at Evolution Gaming</h2>
  <div class="article__img article__img--lg">
    <a href="https://www.evolutiongamingcareers.com/engineering-positions/" target="_blank">
      <img src="img/jobs/eg.jpg" alt="Evolution Gaming">
    </a>
  </div>
  <p class="paragraph">
    Evolution Gaming is looking to hire skilled and highly motivated engineers to work in Amsterdam, Riga and Tallinn
    offices.
  </p>
  <p class="paragraph-sm">
    Our engineers are passionate about innovation and develop the solutions that allow Evolution Gaming to provide its
    services to licensees.
    <br>
    Our teams are critical to the successful running of the company, with any code change having a potentially huge
    financial impact.
  </p>
  <ul>
    <span>Join us as a</span>
    <li>JavaScript Developer</li>
    <li>Scala Developer</li>
    <li>QA Engineer</li>
    <span>or choose another role that fits your skillset and aspirations best.</span>
  </ul>
  <blockquote>
    <a href="https://www.evolutiongamingcareers.com/engineering-positions/" target="_blank">More details...</a>
  </blockquote>
</div>

