<div class="article">
  <div class="article__left">
    <p>
      #React
    </p>
    <p>
      #OpenSource
    </p>
    <p>
      #Consultancy
    </p>
  </div>
  <h2>Cross-Stack React Engineer at Formidable, London</h2>
  <div class="article__img article__img--lg">
    <a href="https://jobs.lever.co/formidable/b11e4123-a509-4b5f-b7d2-810261726e17" target="_blank">
      <img src="img/jobs/formidable.png" alt="Formidable">
    </a>
  </div>
  <p class="paragraph">
    Formidable is a team of JavaScript experts working together to solve the toughest software problems. We work hard to
    cultivate a culture of supportive learning and knowledge exchange, both within our office and throughout the greater
    JavaScript community.
  </p>
  <p class="paragraph-sm">
    In addition to the work we do for clients, our team is well-known for our contributions to the open source software
    community, creating software used by everyone from Airbnb to USAFacts. If you want to join a collaborative community
    that understands the importance of work-life balance, you’ve come to the right place.
  </p>
  <p class="paragraph-sm">
    As a Cross-Stack React Engineer at Formidable, you will use the modern JavaScript stack to implement new web &
    mobile applications, features, and tools for some of the largest and most successful companies in the world. You
    will work closely with client teams, providing project leadership and technical expertise to achieve maintainable
    and sustainable solutions. You’ll also have the opportunity to work on community-leading open-source projects. Apply
    today!
  </p>
  <blockquote>
    <a href="https://jobs.lever.co/formidable/b11e4123-a509-4b5f-b7d2-810261726e17" target="_blank">More details...</a>
  </blockquote>
</div>

