<div class="article">
  <div class="article__left">
    <p>
      #Full-stack
    </p>
  </div>
  <h2>Full-stack- Developer (m/w/x) at Futurice, Berlin</h2>
  <div class="article__img article__img--lg">
    <a href="https://www.futurice.com/open-positions/full-stack-developer-mwx-berlin" target="_blank">
      <img src="img/jobs/futurice.jpg" alt="Futurice">
    </a>
  </div>
  <p class="paragraph">
    At Futurice, we create digital services that people love. Together with our clients, we co-create transformational
    businesses and services to redefine the way humans and technology interact. We show the direction. We design
    customer experiences. We code. We make you the culture you need. We make future digital businesses.
  </p>
  <p class="paragraph-sm">
    Whether it’s JavaScript frameworks, REST APIs, NoSQL databases or DevOps - web is your thing! If you are a nice guy
    or girl who is absolutely fun to work with and you would like to work with some of the nicest and most talented
    people in the industry, we would love to get your application!
  </p>
  <blockquote>
    <a href="https://www.futurice.com/open-positions/full-stack-developer-mwx-berlin" target="_blank">More details...</a>
  </blockquote>
</div>

