<div class="article">
  <div class="article__left">
    <p>
      #platform
    </p>
  </div>
  <h2>Honeypot - tech job platform</h2>
  <div class="article__img article__img--lg">
    <a href="https://www.honeypot.io/?utm_source=reactdayberlin?utm_medium=referral" target="_blank">
      <img src="img/jobs/honeypot.png" alt="Honeypot">
    </a>
  </div>
  <p class="paragraph">
    Honeypot is Europe’s leading tech job platform, on a mission to build great engineering teams. On Honeypot, you
    state your job preferences upfront and companies apply to you. We believe you should choose a job you love: whether
    that’s based on a cutting-edge tech stack, an inspiring team or just good old-fashioned salary.
  </p>
  <p class="paragraph-sm">
    In our world, that means no more spam and empty promises from headhunters, no more sending the same application to
    multiple companies - just one profile and a chance to receive offers related to your job preferences directly from
    companies.
  </p>
  <blockquote>
    <a href="https://www.honeypot.io/?utm_source=reactdayberlin?utm_medium=referral" target="_blank">More details...</a>
  </blockquote>
</div>

