<div class="article">
  <div class="article__left">
    <p>
      #Full-stack
    </p>
  </div>
  <h2>Senior Full Stack Engineer at Jobsens, Berlin</h2>
  <div class="article__img article__img--lg">
    <a href="https://www.stepstone.de/stellenangebote--Senior-Full-Stack-Software-Engineer-Berlin-jobsens-ai--5096464-inline.html?suid=51d50fcc-6b5a-4d15-aa0a-58cde4f7d45e&rltr=1_1_25_dynrl_m_0_0" target="_blank">
      <img src="img/jobs/jobsens.jpg" alt="Jobsens">
    </a>
  </div>
  <p class="paragraph">
    Jobsensai provides you with hand-picked jobs for you to master your skills – it's fast, efficient, and of course free. Jobsensai selects jobs exclusively for IT developer. We profit from the StepStone 's experience, Germany's favorite job platform.
  </p>
  <p class="paragraph-sm">
    O With access to the best recruiters, we help others find the best possible way to become a master in their particular field. Therefor jobsens.ai searches a huge network of well-known employers - and finds the most exciting opportunities that the job market has to offer.
  </p>

  <blockquote>
    <a href="https://www.stepstone.de/stellenangebote--Senior-Full-Stack-Software-Engineer-Berlin-jobsens-ai--5096464-inline.html?suid=51d50fcc-6b5a-4d15-aa0a-58cde4f7d45e&rltr=1_1_25_dynrl_m_0_0" target="_blank">More details...</a>
  </blockquote>
</div>

