<div class="article">
  <div class="article__left">
    <p>
      #React
    </p>
    <p>
      #Blockchain
    </p>
    <p>
      #JavaScript
    </p>
  </div>
  <h2>Frontend Developer at Lisk, Berlin</h2>
  <div class="article__img article__img--lg">
    <a href="https://angel.co/lisk/jobs/180316-frontend-developer" target="_blank">
    <img src="img/jobs/lisk.png" alt="Lisk">
    </a>
  </div>
  <p class="paragraph">
    This is your chance to become an integral part of a game changing project. Join a passionate team with the mission
    to change the world by disrupting whole industries through decentralization.
  </p>
  <p class="paragraph-sm">
    Lisk is becoming a go-to blockchain platform for decentralized application development. We create tools that allow
    JavaScript developers to easily build their own dApps on our blockchain. dApp builders on Lisk also get the benefit
    of deploying their own, customizable sidechain, along with their own custom token. User-friendly interface and
    thorough documentation ensure that the Lisk platform continues to grow in popularity as it heads towards worldwide
    mass adoption.
  </p>
  <p class="paragraph-sm">
    Kick the floodgates of change wide open. Join Lisk.
  </p>
  <blockquote>
    <a href="https://angel.co/lisk/jobs/180316-frontend-developer" target="_blank">More details...</a>
  </blockquote>
</div>

