<div class="article">
  <div class="article__left">
    <p>
      #React
    </p>
    <p>
      #PaaS
    </p>
    <p>
      #Startup
    </p>
  </div>
  <h2>React Engineer at MessageBird, Amsterdam</h2>
  <div class="article__img article__img--lg">
    <a href="https://www.messagebird.com/en/careers-job?gh_jid=4008731002" target="_blank">
      <img src="img/jobs/messagebird.png" alt="MessageBird">
    </a>
  </div>
  <p class="paragraph">
    Join the team that changes the way the world communicates.
  </p>
  <p class="paragraph-sm">
    MessageBird is a Cloud Communications Platform as a Service (CPaaS) company for SMS, Voice and Chat communications
    that connects businesses to 7 billion phones worldwide. A graduate of Y Combinator in Silicon Valley and backed by
    Accel and Atomico, we’re one of the fastest growing software companies in the world and we’re looking for a
    well-versed React Engineer to join our team.
  </p>
  <p class="paragraph-sm">
    Join a fun, open, and ambitious group of people working in a beautiful office overlooking the Amstel River in
    Amsterdam, where our team chefs serve delicious food all day long. We work hard, play hard and always look to raise
    the bar. We strive to be the kind of company that makes every team member excited to come to work every morning.
  </p>
  <blockquote>
    <a href="https://www.messagebird.com/en/careers-job?gh_jid=4008731002" target="_blank">More details...</a>
  </blockquote>
</div>

