<div class="article">
  <div class="article__left">
    <p>
      #Global
    </p>
  </div>
  <h2>Frontend Developer - Logistics Technology (m/f), Berlin</h2>
  <div class="article__img article__img--lg">
    <a href="https://www.takeaway.com/jobs/vacancy/vacancy-it-frontend-developer-logistics-technology-m-f-berlin" target="_blank">
      <img src="img/jobs/takeaway.png" alt="Takeaway">
    </a>
  </div>
  <p class="paragraph">
    We are looking for a motivated Frontend Developer to join our multinational and multicultural IT organisation. Are you someone that loves team collaboration, create beautiful interfaces and reactive systems? Then keep on reading!
  </p>
  <p class="paragraph-sm">
    Our team is responsible for providing restaurants with delivery service. Areas like HR, disposition and delivery depend on us to develop and maintain their web and mobile applications. We have no dependencies, we are free to make our own technical decisions and get to work with the latest, cutting edge technologies.
  </p>

  <blockquote>
    <a href="https://www.takeaway.com/jobs/vacancy/vacancy-it-frontend-developer-logistics-technology-m-f-berlin" target="_blank">More details...</a>
  </blockquote>
</div>

