<div class="article">
  <div class="article__left">
    <p>
      #React
    </p>
    <p>
      #ReactNative
    </p>
    <p>
      #Design
    </p>
    <p>
      #Norway
    </p>
  </div>
  <h2>Unicorn wanted in Norway</h2>
  <div class="article__img article__img--lg">
    <a href="https://crystallize.com/careers/unicorn-designer-developer" target="_blank">
      <img src="img/jobs/crystallize.jpg" alt="Crystallize">
    </a>
  </div>
  <p class="paragraph">
    As a unicorn you will join the product design & engineering stable in Crystallize where we curate designers and
    developers. Unicorns are a rare breed but we know they exist. We have one already.
  </p>
  <p class="paragraph-sm">
    Being a unicorn you know that you will be designing user interfaces for web and native Apps for our headless
    commerce service. But you will actually also build the front-end code and administration interfaces for this. Check
    out here what the unicorn process looks like at Crystallize.
  </p>
  <blockquote>
    <a href="https://crystallize.com/careers/unicorn-designer-developer" target="_blank">More details...</a>
  </blockquote>
</div>

