<div class="article">
  <div class="article__left">
    <p>
      #ux
    </p>
    <p>
      #scale
    </p>
  </div>
  <h2>UX Manager at Wayfair, Berlin</h2>
  <div class="article__img article__img--lg">
    <a href="https://www.wayfaircareers.com" target="_blank">
      <img src="img/jobs/wayfair.png" alt="Wayfair">
    </a>
  </div>
  <p class="paragraph">
    Wayfair is one of the world’s largest online destinations for the home. Whether you work in our global headquarters in Boston or Berlin, or in our warehouses or offices throughout the world, we’re reinventing the way people shop for their homes. Through our commitment to industry-leading technology and creative problem-solving, we are confident that Wayfair will be home to the most rewarding work of your career.
  </p>
  <p class="paragraph-sm">
    Our Supplier Extranet Team builds, maintains, and supports a variety of applications and analytical tools for over 14,000 suppliers, handling 750,000 product orders per month to connect customers to suppliers and carriers. As we scale, we are looking for a talented User Experience (UX) Manager with a diverse portfolio, demonstrating mastery of craft to create positive outcomes for both customers and the business.

  </p>
  <p class="paragraph-sm">
    We want to see how you’ve designed engaging experiences, on top of previously managing, coaching, and inspiring a growing team of designers. Your demonstrated skill set spans all areas of design: Analysis of user needs, architecture of layouts, flows and interactions, and detailed aesthetics for both written and visual content. Working directly with Product Managers and Engineers to prioritize, specify, and deliver user experiences is a standard part of your expertise. Interested in finding out more? We want to hear from you.

  </p>

  <blockquote>
    <a href="https://www.wayfaircareers.com" target="_blank">More details...</a>
  </blockquote>
</div>

