.sponsors
  padding: 100px 0
  +md
    padding: 40px 0
  .container
    max-width: 1110px
  .section__title
    +sm
      margin-bottom: 28px
  &__description
    max-width: 960px
    margin: 0 auto 62px
    +r(680)
      margin-bottom: 42px
    //+r(480)
      margin-bottom: 30px
    p
      font-size: 20px
      line-height: 1.6
      text-align: center
      +r(1480)
        font-size: 18px
      +sm
        line-height: 1.8
      +r(680)
        font-size: 16px
      &:not(:last-child)
        margin-bottom: 18px
        +sm
          margin-bottom: 5px
      a
        color: inherit

.sponsors-block
  &__item
    text-align: center
  & + &
    margin-top: 50px
    +sm
      margin-top: 30px

  &__title
    text-align: center
    font-size: 26px
    +light
    color: $white
    margin-bottom: 20px
    +sm
      color: #aaaaaa
      font-size: 16px

  &__list
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    margin: 0 -20px
    +sm
      margin: 0 -10px

  &__item
    text-align: center
    width: 100%

    +tablet
      display: flex
      justify-content: center

    +sm
      max-width: 230px

    & > a
      display: flex
      justify-content: center
      align-items: center
      transition: opacity 0.3s
      padding: 20px
      +sm
        padding: 10px

      &:hover
        opacity: 0.7

      picture
        display: block

      img
        display: block
        max-width: 100%
        transition: all ease 0.2s
        transform: translateY(0)
        opacity: 1
        height: auto

    &--w-info
      width: 100% !important
      max-width: 100% !important
      display: flex
      flex-direction: column
      align-items: center
      order: 1
  &__content
    max-width: 600px
    margin-left: auto
    margin-right: auto
    font-size: 12px
    line-height: 1.45
    +sm
      font-size: 10px
    a
      color: inherit
      text-decoration: underline
      &:hover
        text-decoration: none
    p:not(:last-child)
      margin-bottom: 10px
  &__subtitle
    font-weight: 600
    margin-bottom: 5px
  &.Platinum
    .sponsors-block__item
      width: 50%
      max-width: 50%
      +sm
        width: 100%
        max-width: 100%

  &.Gold
    .sponsors-block__item
      width: 33.33%
      max-width: 33.3%
      +xs
        width: 50%
        max-width: 50%

  &.Silver
    .sponsors-block__item
      width: 25%
      max-width: 25%

      +xs
        width: 33.3%
        max-width: 33.3%

  &.MediaPartner,
  &.Partner,
  &.TechPartner,
  &.EntertainmentPartner

    .sponsors-block__item
      width: 20%
      max-width: 20%

      +xs
        width: 25%
        max-width: 25%

  &_auto
    .sponsors-block__list
      justify-content: space-between

    .sponsors-block__item
      width: auto

      +sm
        width: 25%
      +xs
        width: 33.3%

      img
        max-width: 100%

      &:last-child
        margin: 0 auto 0 0
