.btn
  --_fill: ffffff
  display: inline-flex
  font-size: 14px
  height: 58px
  padding: 0 80px 0 20px
  background: $black
  color: #fff
  align-items: center
  text-align: center
  text-decoration: none
  font-weight: 700
  overflow: hidden
  font-family: $got
  outline: none
  border: 2px solid $black
  cursor: pointer
  min-width: 60px
  position: relative
  transition: padding 0.2s linear, background 0.2s linear, color 0.2s linear

  &:after,
  &:before
    content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25.4px" height="11.4px" viewBox="0 0 25.4 11.4" style="enable-background:new 0 0 25.4 11.4;" xml:space="preserve"><polygon fill="%23ffffff" points="19.7,0 18.3,1.4 21.6,4.7 0,4.7 0,6.7 21.6,6.7 18.3,10 19.7,11.4 25.4,5.7"/></svg>')
    position: absolute
    left: 0
    top: 0
    bottom: 0
    display: flex
    padding-top: 3px
    width: 60px
    height: 100%
    align-items: center
    justify-content: center
    transition: transform 0.2s linear
    transform: translate(-60px, 0)
  &:after
    left: auto
    right: 0
    transform: translate(0, 0)

  &:focus-visible
    outline-width: 3px !important
  &:hover, &:focus-visible
    padding-left: 80px
    padding-right: 20px
    &:before
      transform: translate(0, 0)
    &:after
      transform: translate(60px, 0)

  &--border
    background: transparent
    border-color: $black
    color: $black
    &:after,
    &:before
      content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25.4px" height="11.4px" viewBox="0 0 25.4 11.4" style="enable-background:new 0 0 25.4 11.4;" xml:space="preserve"><polygon fill="%23000000" points="19.7,0 18.3,1.4 21.6,4.7 0,4.7 0,6.7 21.6,6.7 18.3,10 19.7,11.4 25.4,5.7"/></svg>')

  &--green
    background: $themeColor
    border-color: $themeColor
    color: $black
    &:after,
    &:before
      content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25.4px" height="11.4px" viewBox="0 0 25.4 11.4" style="enable-background:new 0 0 25.4 11.4;" xml:space="preserve"><polygon fill="%23000000" points="19.7,0 18.3,1.4 21.6,4.7 0,4.7 0,6.7 21.6,6.7 18.3,10 19.7,11.4 25.4,5.7"/></svg>')

  &--black
    background: $black
    color: $themeColor
    border: 2px solid $themeColor
    &:after,
    &:before
      content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25.4px" height="11.4px" viewBox="0 0 25.4 11.4" style="enable-background:new 0 0 25.4 11.4;" xml:space="preserve"><polygon fill="%2324fc89" points="19.7,0 18.3,1.4 21.6,4.7 0,4.7 0,6.7 21.6,6.7 18.3,10 19.7,11.4 25.4,5.7"/></svg>')
  &--transparent
    background: transparent
    color: #000
    border: 2px solid #000
    &:after,
    &:before
      content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25.4px" height="11.4px" viewBox="0 0 25.4 11.4" style="enable-background:new 0 0 25.4 11.4;" xml:space="preserve"><polygon fill="%23000000" points="19.7,0 18.3,1.4 21.6,4.7 0,4.7 0,6.7 21.6,6.7 18.3,10 19.7,11.4 25.4,5.7"/></svg>')

  &.btn-white
    background: $white
    color: $black
    border: 2px solid $white

  &.marged
    margin-top: 20px

  &.btn-huge
    font-size: clamp(18px, 8vw, 100px)
    margin: 0 auto
    height: auto
    width: max-content
    display: flex
    border-width: 5px

    .btn

      span
        padding: 0 80px 0 260px
        transform: translateX(-180px)

      &__arr-l,
      &__arr-r
        width: 180px

      &__arr-r
        right: -180px

      &__arrow
        width: 108px
        height: 46px

    +sm
      font-size: clamp(18px, 8vw, 80px)

      .basic-btn

        &__inner
          padding: 0 40px 0 180px
          transform: translateX(-120px)

        &__arr-l,
        &__arr-r
          width: 120px

        &__arr-r
          right: -120px

        &__arrow
          width: 60px
          height: 40px

    +xs
      border-width: 3px

      .basic-btn

        &__inner
          padding: 0 20px 0 120px
          transform: translateX(-100px)

        &__arr-l,
        &__arr-r
          width: 100px

        &__arr-r
          right: -100px

        &__arrow
          width: 50px
          height: 30px

    &:hover
      .basic-btn__inner
        transform: translateX(0)

.btn

  &.btn-green span
    &:before, &:after
      content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25.4px" height="11.4px" viewBox="0 0 25.4 11.4" style="enable-background:new 0 0 25.4 11.4;" xml:space="preserve"><polygon fill="%23000000" points="19.7,0 18.3,1.4 21.6,4.7 0,4.7 0,6.7 21.6,6.7 18.3,10 19.7,11.4 25.4,5.7"/></svg>')
.is-hidden
  display: none
