.basic-btn
  display: inline-flex
  font-size: 13px
  height: 58px
  padding: 0 0
  background: $black
  color: $white
  align-items: center
  text-align: center
  text-decoration: none
  font-weight: 700
  overflow: hidden
  outline: none
  border: 2px solid $black
  cursor: pointer
  min-width: 60px

  &__inner
    position: relative
    width: 100%
    height: 100%
    display: flex
    align-items: center
    padding: 0 20px 0 80px
    transform: translateX(-60px)
    transition: all ease .2s

  &__arr-l,
  &__arr-r
    position: absolute
    left: 0
    top: 0
    bottom: 0
    display: flex
    width: 60px
    height: 100%
    align-items: center
    justify-content: center

  &__arr-r
    left: auto
    right: -60px

  &__arrow
    position: relative
    width: 21px
    height: 10px
    margin: 0
    fill: $white
    position: absolute
    transform: translateX(0)
    transition: all .2s ease
    opacity: 1
  &:focus-visible
    outline-width: 3px !important
  &:hover, &:focus-visible
    
    .basic-btn__inner
      transform: translateX(0)

  &.btn-transparent
    background: transparent
    border-color: $black
    color: $black

    .basic-btn__arrow
      fill: $black

  &.btn-green
    background: $themeColor
    border-color: $themeColor
    color: $black

    .basic-btn__arrow
      fill: $black

  &.btn-black
    background: $black
    color: $themeColor
    border: 2px solid $themeColor

    .basic-btn__arrow
      fill: $themeColor

  &.btn-white
    background: $white
    color: $black
    border: 2px solid $white

    .basic-btn__arrow
      fill: $black

  &.marged
    margin-top: 20px

  &.btn-huge
    font-size: clamp(18px, 8vw, 100px)
    margin: 0 auto
    height: auto
    width: max-content
    display: flex
    border-width: 5px

    .basic-btn

      &__inner
        padding: 0 80px 0 260px
        transform: translateX(-180px)

      &__arr-l,
      &__arr-r
        width: 180px

      &__arr-r
        right: -180px

      &__arrow
        width: 108px
        height: 46px

    +sm
      font-size: clamp(18px, 8vw, 80px)

      .basic-btn

        &__inner
          padding: 0 40px 0 180px
          transform: translateX(-120px)

        &__arr-l,
        &__arr-r
          width: 120px

        &__arr-r
          right: -120px

        &__arrow
          width: 60px
          height: 40px

    +xs
      border-width: 3px

      .basic-btn

        &__inner
          padding: 0 20px 0 120px
          transform: translateX(-100px)

        &__arr-l,
        &__arr-r
          width: 100px

        &__arr-r
          right: -100px

        &__arrow
          width: 50px
          height: 30px



    &:hover
      .basic-btn__inner
        transform: translateX(0)