.header
	position: fixed
	left: 0
	top: 0
	right: 0
	transition: all .3s ease
	z-index: 10
	padding: 20px 0
	+md
		padding: 0

	&__inner
		@extend .container
		display: flex
		align-items: center
		&.is-open
			+md
				.header__nav
					display: flex

	&__logo
		margin: 0 30px 0 0
		opacity: 0
		transform: rotate(120deg) scale(0.5)
		transition: all 0.5s
		+md
			display: none

	&__nav
		flex: 1 0 auto
		display: flex
		align-items: center
		gap: 24px
		justify-content: space-between

		+md
			display: none
			position: fixed
			top: 0
			left: 0
			justify-content: flex-start
			flex-direction: column
			padding: 20px
			gap: 30px
			width: 100%
			height: 100%
			overflow: hidden
			overflow-y: auto
			z-index: 100
			background: #fff

	&__socials
		.social__link svg
			fill: $white
			+md
				fill: $black

	&__btn
		display: none
		+md
			display: block
			width: 100%
			.btn
				width: 100%

	&__alt-btn
		position: fixed
		bottom: 0
		right: 0
		display: none
		transition: all ease 0.1s

		&.is-visible
			+md
				display: block

		.btn
			z-index: 3
			min-height: 50px
			pointer-events: auto

	&.is-sticky
		background: $themeColor
		opacity: 1

		.header__logo
			opacity: 1
			transform: rotate(0) scale(1)

		.nav__item:before
			background: $black
		.nav__link
			color: $black

		.social__link .icon
			fill: $black

	&.is-inner:not(.is-sticky)
		+rmin(1025)
			.nav__item:before
				background: $black
			.nav__link
				color: $black
			.social__link .icon
				fill: $black

	&--hide-logo
		.header__logo
			display: none

		+rmin(1025)
			.header__nav
				margin-left: auto
				flex: none
			.header__socials
				display: none
			&:not(.is-sticky)
				.nav__item
					&:before
						background: #fff
				.nav__link
					color: #fff

.logo
	position: relative
	margin: 0
	display: block
	height: 44px
	width: 56px
	img
		display: block
		max-width: 100%

.nav
	display: flex
	gap: 4px
	list-style: none

	+md
		flex-direction: column
		margin: auto 0
		width: 100%
		text-align: center

	&__item
		position: relative
		&:hover
			&:before
				opacity: 1
				transform: translateX(0)

		&:before
			content: ''
			position: absolute
			left: -4px
			top: 50%
			transform: translateY(-1px)
			height: 2px
			background: $white
			width: 10px
			opacity: 0
			transition: all .3s ease
			transform: translateX(-10px)
			+md
				display: none

	&__link
		display: block
		text-decoration: none
		padding: 0 10px
		color: $white
		font-weight: 700
		font-size: 14px
		+md

			padding: 10px 0
			font-size: 20px
			color: #000

.social
	display: flex
	align-items: center

	&__link
		position: relative
		display: flex
		align-items: center
		justify-content: center
		height: 40px
		width: 40px
		&:hover
			svg
				opacity: 0.7

			&:before
				opacity: 1

	svg
		width: 17px
		height: 14px
		width: 100%
		display: block
		fill: $black
		transition: all 0.2s ease

.burger
	position: fixed
	top: 10px
	right: 16px
	width: 40px
	height: 40px
	display: none
	cursor: pointer
	background: none
	justify-content: center
	padding: 0
	border: none
	outline: none
	z-index: 101

	span
		display: block
		width: 24px
		height: 2px
		background: $themeColor
		margin: 10px auto
		transition: all ease 0.2s
		&:last-child
			display: none
	&.is-active
		span
			background: $black
			&:nth-child(1)
				transform: translateY(6px) rotate(45deg)

			&:nth-child(2)
				transform: translateY(-6px) rotate(-45deg)

	+md
		display: block
