.header
  position: fixed
  left: 0
  top: 0
  right: 0
  transition: all .3s ease
  z-index: 10

  .container
    display: flex
    justify-content: space-between
    padding: 20px 20px
    flex: 1

  &.live
    top: auto
    bottom: 0
    opacity: 0

  &.sticky
    background: $clr-green
    opacity: 1

    .logo-mini
      opacity: 1
      transform: rotate(0) scale(1)

    .socials
      &__link
        fill: $clr-green

        &:hover
          .socials__img
            fill: $clr-white

  &__logo
    margin: 0 30px 0 0

  &__nav
    flex: 1 0 auto

  &__socials
    margin: 0 0 0 14px
    display: flex
    flex-wrap: wrap

    +temp
      flex-direction: column

  +temp
    transition: all .3s ease
    height: 62px
    overflow: hidden

    &.sticky
      background: $clr-green

      .logo-mini
        opacity: 1

    .container
      flex-direction: column
      min-height: 100%
      justify-content: flex-start

    .header
      &__logo
        order: 1
        margin: -10px 0 0

      &__nav
        order: 2
        margin: 0
        display: flex
        flex: 0

        nav
          margin: 0
          width: 100%

      &__socials
        order: 3
        margin: 40px 0 80px

    .logo-mini
      position: relative
      display: block
      margin: 0 auto
      padding: 0
      transform: none
      left: 0
      top: 0
      opacity: 0

    .nav
      flex-direction: column
      max-width: 300px
      margin: 0 auto

    .socials
      margin: 0 auto
      justify-content: center

      &__item
        text-align: center
        margin: 0

  &__btn
    margin: -7px 0 -7px 10px

    +temp
      margin: 10px auto 0

    &.menu-btn
      display: none

      +temp
        display: inline-flex

  &.open
    +temp
      visibility: visible
      opacity: 1
      background: $clr-white
      min-height: 100vh
      overflow-y: auto

.logo-mini
  position: relative
  margin: 0
  height: 44px
  width: 56px
  opacity: 0
  transform: rotate(120deg) scale(0.5)
  transition: all 0.5s

  &__link
    display: block
    height: 100%
    background: url(../img/logo_mini.svg) no-repeat
    transition: none
    background-size: 100%

.nav
  font-size: 14px
  display: flex
  padding: 0 10px
  margin: 0 auto
  list-style: none
  font-weight: 700
  flex: 1 1 auto

  //justify-content: space-between;

  &__item
    position: relative
    margin-right: 10px

    &:after
      content: ''
      position: absolute
      left: -4px
      top: 50%
      transform: translateY(-1px)
      height: 2px
      background: $clr-black
      width: 12px
      opacity: 0
      transition: all .3s ease
      transform: translateX(-10px)

    &.active,
    &:hover
      &:after
        opacity: 1
        transform: translateX(0)

  &__link
    display: flex
    height: 40px
    text-decoration: none
    align-items: center
    padding: 0 10px
    color: $clr-black

  +md
    font-size: 12px


  +temp
    font-size: 16px

.socials
  padding: 0
  margin: 0
  list-style: none
  display: flex

  &__item
    margin: 0 0 0 10px

    &:first-child
      margin: 0

    // &:nth-child(1){
    // 	.socials__link:after{
    // 		transform: rotate(260deg);
    // 	}
    // }

    // &:nth-child(2){
    // 	.socials__link:after{
    // 		transform: rotate(144deg);
    // 	}
    // }

    // &:nth-child(3){
    // 	.socials__link:after{
    // 		transform: rotate(72deg);
    // 	}
    // }

    // &:nth-child(4){
    // 	.socials__link:after{
    // 		transform: rotate(280deg);
    // 	}
    // }

    // &:nth-child(5){
    // 	.socials__link:after{
    // 		transform: rotate(300deg);
    // 	}
    // }

  &__link
    position: relative
    display: flex
    height: 40px
    width: 40px
    align-items: center
    justify-content: center

    // &:after{
    // 	content: '';
    // 	position: absolute;
    // 	left: 5px;
    // 	right: 5px;
    // 	top: 5px;
    // 	bottom: 5px;
    // 	background: $clr-black;
    // 	z-index: -1;
    // 	border-radius: 2px;
    // 	opacity: 0;
    // 	transition: all .3s ease;
    // }

    &:hover
      .socials__img
        fill: $clr-green

      &:after
        opacity: 1

  &__img
    width: 17px
    height: 14px
    width: 100%
    fill: $clr-black
    transition: all 0.2s ease

    &.sl
      width: 15px
      height: 16px

    &.tw
      width: 15px
      height: 12px

    &.yt
      width: 17px
      height: 12px

    &.fb
      width: 6px
      height: 12px

    &.med
      width: 16px
      height: 12px

    &.gh
      width: 15px
      height: 14px

.menu-toggle
  position: fixed
  top: 10px
  right: 16px
  width: 40px
  height: 40px
  display: none
  cursor: pointer
  background: none
  justify-content: center
  padding: 0
  border: none
  outline: none
  z-index: 11

  span
    display: block
    width: 24px
    height: 2px
    background: $clr-green
    margin: 10px auto
    transition: all ease 0.2s

  &.open
    span
      background: $clr-black
      &:nth-child(1)
        transform: translateY(6px) rotate(45deg)

      &:nth-child(2)
        transform: translateY(-6px) rotate(-45deg)

  +temp
    display: block