.price-increase
	.btn
		justify-content: center
		text-align: center
		&:before, &:after
			display: none !important
		&:hover, &:focus-visible
			border-color: #fff
			background: #fff
	.btn--border
		@extend .btn--border-white
