.random-party
	padding: 42px 0 42px
	background: url(../img/screens-done-op.svg) center center no-repeat
	background-color: #19181b
	color: $clr-white
	+xl
		padding: 40px 0 40px
	+md
		padding: 50px 0 50px
	+xs
	.section__title
		letter-spacing: 1.3px
		margin-bottom: 55px
		padding: 0
		text-align: center
		color: $clr-green
		+xl
			margin-bottom: 37px
	.container
		+xs
			padding: 0 16px
	&__inner
		padding: 82px 20px 100px
		display: flex
		flex-direction: column
		align-items: center
		+xl
			padding: 40px 20px
		+md
			padding: 0 20px
			border: none
	
	&__text
		line-height: 1.6
		letter-spacing: 0.003em
		max-width: 540px
		text-align: center
		font-size: 18px
		margin-bottom: 42px
		+xl
			font-size: 16px
			margin-bottom: 38px
	
	&__btn
		max-width: 368px
		width: 100%
		margin: 0 auto
		height: 60px
		border: 2px solid $clr-green
		background: transparent
		color: $clr-white
		cursor: pointer
		font-size: 14px
		font-weight: 700
		transition: all ease 0.1s

		&:hover
			background: $clr-green
			color: $clr-black
