.sponsors
  .container
    padding-bottom: 0

  .section
    &__desc
      a
        font-weight: 700

.sponsors-list
  margin: 130px 0 50px

  &__title
    position: relative
    font-size: 30px
    font-weight: 700
    width: 100%
    margin: 0 0 0 5px

    &:after
      content: ''
      position: absolute
      left: -8px
      bottom: -5px
      height: 20px
      width: 92px
      background: $clr-green
      z-index: -1

  &__list
    display: flex
    flex-wrap: wrap
    min-height: 100px
    padding: 32px 0
    margin: 0 0 32px
    content: ''

    &.gold
      .sponsors-list__item
        width: 25%

        img
          max-height: 120px

    &.silver
      .sponsors-list__item
        width: 20%

        img
          max-height: 110px

    &.partners
      .sponsors-list__item
        width: 16.6%

        img
          max-height: 100px

  &__item
    width: 20%
    display: flex
    align-items: center
    justify-content: center
    padding: 20px 25px
    transition: all ease .1s

    img
      max-width: 100%
      height: auto
      transition: all ease .1s

    &:hover
      img
        filter: saturate(300%)
        transform: translateY(-5px)
        opacity: 0.85

  &__sep
    width: 100%
    height: 2px
    background: $clr-green
    margin: 12px 0 52px

  +sm
    margin: 75px 0 50px

    &__list
      padding: 10px 0

      &.gold
        .sponsors-list__item
          width: 50%
          min-height: 130px

      &.silver
        .sponsors-list__item
          width: 33.3%

      &.partners
        .sponsors-list__item
          width: 25%


  +xs
    margin: 48px 0 50px

    &__title
      font-size: 20px

      &:after
        height: 14px
        width: 68px
        bottom: 0

    &__list
      margin: 0

      &.gold
        .sponsors-list__item
          width: 100%
          min-height: 100px

      &.silver
        .sponsors-list__item
          width: 50%

      &.partners
        .sponsors-list__item
          width: 33.3%

    &__item
      padding: 15px 10px

    &__sep
      margin: 0 0 30px