.s-workshops-list
	background: #171717

	.section__title
		color: #24FC89
		text-transform: none !important
		padding-top: 0
		padding-left: 0
		line-height: 0.9 !important
		&::first-letter
			font-family: RumbleBrave,Arial,Helvetica,sans-serif
			font-size: 240%
			font-weight: 400
			vertical-align: .055em
			letter-spacing: -.1em
	.section__info
		color: #fff

	&__row
		.btn
			@extend .btn--green
		&-title
			color: #919191

.workshops-list
	&__buttons
		.btn
			--_offset: 50px
			text-transform: none !important
			padding-left: 18px !important
			padding-right: var(--_offset) !important
			&:hover, &:focus-visible
				padding-left: var(--_offset) !important
				padding-right: 18px !important

		.btn:not(.btn--secondary)
			@extend .btn--green
